[2021-03-10 10:02] mikee47 commented on #2254
We need to make some improvements to rBoot (and RbootHttpUpdater) as they're not aware of the partition table. Critically, that means the rBoot configuration information and the partition table can get out of sync. very easily.

The default rBoot ROM addresses are hard-coded into the boot sector. If the partition table is updated then when `make flashconfig` is run the bootloader will 'restore' th

[2021-03-10 10:43] etmmahi opened #2256 "ScreenOLED_SSD1306 sample fails to build"
Hi guys,

I just tried to build the sample ScreenOLED_SSD1306 from the develop branch.
It fails at:
[code]

It seems the patch for the Adafruit_SSD1306 Library needs to be upgraded to remove all the register keywords.
This change needs to be backported to the lts versions.

Best
Martijn

[2021-03-10 11:59] mikee47 commented on #2256
Yes, probably needs fixing. You can build the sample with `make STRICT=1` and the errors will be converted to warnings.

[2021-03-10 12:20] etmmahi commented on #2256
The STRICT=1 makes compilation work again.

However fix is still needed. When I remove all the 'register' keywords, the code also compiles without problems/warnings

[2021-03-10 12:55] slaff commented on #2256
@etmmahi If you want create a PR with the latest `Adafruit_SSD1306` library version and updated sample.

[2021-03-10 18:53] mostorer commented on #2254
Sure. I will do that soon.

[2021-03-10 18:54] etmmahi commented on #2256
With PR #2259 the sample application ScreenOLED_SSD1306 builds without any issues. pse merge

[2021-03-10 21:17] mostorer commented on #2254
here it is: https://github.com/mostorer/myRboot

[2021-03-11 08:41] #2256 closed

[2021-03-11 13:00] slaff commented on #2251
For now:
=======
I would suggest the following layout:
- Sector 1: rBoot bootloader.
- Sector 2: starts with the rBoot config, as before, and adds the Partition Tables (PT) in this same sector.
- Sector 3: Application starts here

Such a setup will make it possible to do remote upgrade OTA with minimal changes and risk.

Old apps will continue to work as expected.
For the new apps to work we will

[2021-03-12 06:02] kmihaylov commented on #2099
Excuse my disappearance. Now it looks much better. I see this is thanks to the new installation script. To be honest all Sming's activity for the past few months is mystery to me.

Although one can dive reading the install script, wouldn't it be helpful if "geeks information" or "under the hood" exist in the related documentation chapter, describing the defaults? I'm talking about the versions lis

[2021-03-12 09:05] mikee47 commented on #2099
In this instance I feel it's preferable to document the install script itself rather than risk the documentation getting stale. Less effort!
Please feel free to suggest additions/changes!

I'm treating SmingTools more like dropbox so the version doesn't matter; it's just somewhere we can keep copies of all the important tools that is under our control, so stuff doesn't go missing. You'll see there

[2021-03-12 11:32] slaff commented on #651
@Matzz can you propose a PR with the changes?

[2021-03-12 14:30] mikee47 commented on #2251
Actually, we wouldn't need to erase the sector first as the area should already be blank - so little risk attached.
BUT subsequent OTA updates wishing to switch ROMS would need to clear the sector so it then becomes an issue.

Keeping the rBoot config and partition table in the same sector is bad as subsequent OTA updates risk losing both rBoot config AND PT.

We could keep the PT in the boot sect

[2021-03-12 19:52] mostorer opened #2261 "Reading Vcc on ESP8266 using system_get_vdd33()"
On a battery operated ESP8266 module I need to read the power voltage.
Before start using Sming I was working with Espressif NONOS SDK, getting battery voltage with `system_get_vdd33()`.

As from the SDK documentation, to be able to read the power voltage instead of using the ADC pin, a change within `esp_init_data_default.bin` is needed.
Byte 107 (0 - 127) need to be set to 0xff.

Now, looking ar

[2021-03-12 20:00] mikee47 commented on #2261
I'd suggest taking of copy of your modified `esp_init_data_default.bin` file and renaming it appropriately, e.g. `powervdd.bin`. You can then provide a custom hardware config for your project to use it. See https://sming.readthedocs.io/en/latest/_inc/Sming/Components/Storage/index.html#custom-configurations for information about creating custom configs.

Your custom config might look something lik

[2021-03-12 20:03] mikee47 commented on #2261
The new initdata will be used when you run a `make flash`. If you need to flash the initdata separately, do this:

[code]

[2021-03-12 20:32] mostorer commented on #2261
Working really well. Thank you so much @mikee47

[2021-03-12 20:33] mikee47 commented on #2261
The power of partition tables :-)

[2021-03-12 21:56] #2261 closed

[2021-03-12 21:57] mostorer commented on #2261
Clarified as to leverage on Sming power.

[2021-03-12 22:03] Matzz commented on #651
@slaff (cc @mikee47) I was tempting to do so but its turn out that is much complex than I though. According to HTTP standard Response cookies are set by providing the same `Set-Cookie` header multiple times.

However as you could see in the following code:
[code]
Sming support only one header per key. I don't have any good idea how to implement that. Maybe by adding separate field in the `Response

[2021-03-14 10:44] mikee47 commented on #1712
As far as hardware configurations/profiles go it would be lovely to have a graphical editor for that. However, rather than being text-based it could present a graphical overview of the memory layout and allow partitions to be dragged around, resized, etc.

Graphical framework for python?

[2021-03-14 10:44] mikee47 commented on #1712
A limitation of the current hardware configuration/profile layout is that we only have single inheritance. Therefore in situations like this we end up having to create multiple hardware configurations to satisfy one additional use case. This general trend would mean we end up with a confusing array of different configurations with a lot of duplication.

We could express the configuration like this

[2021-03-14 11:22] slaff commented on #1712
I like the idea with the options. If we can generate the hw config for the application without bothering the user it would be even better.
How about allowing the hardware config options to be set by makefile configuration and behind the scene generating the final hardware configuration and storing it in the `out/Esp8266/...` directory?

Example

[code]
This will use the current HWCONFIG, for examp

[2021-03-14 11:41] mikee47 commented on #1712
Mmm... that could be baked into `standard` perhaps... "options": [${HWCONFIG_OPTS}]...

[2021-03-15 05:38] frankdownunder commented on #2246
Is there a workaround for this ? What impact would vsn 8 (or better still the latest) have?
I tried an earller version of ubuntu, 16.04,using a minimal docker file, but got a problem with "source" then "sudo"
/opt/sming/Tools/install.sh: line 61: sudo: command not found

[2021-03-15 10:35] mikee47 commented on #2246
Version 8 does produce slightly different (arguably slightly better!) results. I've been unsuccessful attempting to find a setting to get version 8 to look like version 6. However, it might be possible to get version 6 to look like version 8.

Ubuntu 16.04 has gcc-8 and clang-format-8 available so yes I think updating to clang-format 8 would be worth doing.

I'll take another look...

[2021-03-15 13:50] slaff commented on #2261
@mostorer With the merge of the latest PRs it should be [easier now to enable vdd support](https://sming.readthedocs.io/en/latest/information/tips-n-tricks.html#reading-vcc-on-esp8266) in your application.

[2021-03-22 07:28] kmihaylov opened #2275 "Compiler command on FreeBSD"
Hello, on FreeBSD they use the GCC version as a suffix, e.g. gcc9. When trying to build some of the samples I stuck here:
[code]

I tried ```export COMPILE=gcc9``` or ```COMPILE=gcc9 gmake``` w/o success. Would you please point me how to instruct (g)make for the proper compiler command?

[2021-03-22 08:05] mikee47 commented on #2275
Linux does the same but there should be links (see below) created either as part of the install or using a tool such as `update-alternatives`. Unfortunately I don't have a FreeBSD system to check this on...

[code]

[2021-03-22 08:16] slaff commented on #2275
Try export CC=gcc9 and  CXX=gcc9++. Or whatever the name of the C++ compiler is. You can also test it from a sample application by passing the compilers as arguments to make. Example:
[code]

[2021-03-22 08:39] kmihaylov commented on #2275
@mikee47
I thought that ```update-alternatives``` tool would be best on FreeBSD, but it doesn't exist. https://forums.freebsd.org/threads/linux-update-alternatives-equivalent-on-freebsd.79316/

I'll go with symlink for now, however I believe it would be better if ```make``` could be instructed for the proper compiler command.
PS: I did the link and the sample compiles fine.

@slaff
I think I tried

[2021-03-22 08:49] mikee47 commented on #2275
I don't suppose the MacOS/darwin tools work on clean FreeBSD ?

[2021-03-22 09:03] kmihaylov commented on #2275
Although MacOS is a fork of FreeBSD I think the tools and also some system internals are different, for example on FreeBSD the USB serial is ```/dev/ttyU0```, but on MacOS (judging from the documentation) is ```/dev/tty.usbserial```. Therefore I think the differences are more than expected.

I'm not aware with XCode and Homebrew. On FreeBSD I use binary packages. I'll try to make a quick PR for th

[2021-03-22 09:12] mikee47 commented on #2275
It's also required for Host emulator builds - I consider this an essential part of my development and testing process :-)

May I suggest (for now at least) simply editing the `Sming/Arch/Host/build.mk` file and adjust the tool specs. as required?

[2021-03-22 09:25] kmihaylov commented on #2275
Thanks for the suggestion. I don't use the Host arch, but if in need I'll know the place!

[2021-03-22 16:22] kmihaylov commented on #2275
I'm closing this as insignificant issue.

[2021-03-22 16:22] #2275 closed

[2021-03-22 19:20] bolzenwolf opened #2276 "Latest develop: Exception SMTP sample"
Hi together,

I'm currently facing some problems running Sming SMTP sample.
It compiles okay, but always runs into exception after sending the test mail.
`client.send(mail)`

Please see attachement: [stack-trace.txt](https://github.com/SmingHub/Sming/files/6184775/stack-trace.txt)

Does anybody has an idea what may cause this exception?

[2021-03-23 16:42] slaff commented on #2213
We can replace the code in `Sming/Arch/Esp8266/Components/esp-open-lwip/esp-open-lwip/include/arch/cc.h` line 65

[code]

with this one
[code]

Shall I create a PR?

[2021-03-23 16:44] slaff commented on #2276
Paste here also the decoded stacktrace `make decode-stacktrace`.

[2021-03-23 17:37] mikee47 commented on #2213
Yes please. I thought it would be more complicated than that, thinking that the definitions used different values. I've taken another look and in boths cases `LITTLE_ENDIAN` and `BIG_ENDIAN` are declared to the same value so we should be fine!

[2021-03-23 19:48] bolzenwolf commented on #2276
Sure, forgot to do so.

Attached decoded stacktrace:
[code]

[2021-03-24 12:41] #2213 closed

[2021-03-25 14:08] slaff commented on #2276
@bolzenwolf The reported problem should be fixed now. Can you check if it is working for you?

Get the latest `develop` version, recompile the library and your application and try again. On Linux you can use the following commands:
[code]

[2021-03-25 20:38] bolzenwolf commented on #2276
Works for me.
Thanks to both of you.

[2021-03-25 20:38] #2276 closed

[2021-03-26 10:50] slaff commented on #2246
We moved to clang-8 with the latest develop version.

[2021-03-26 10:50] #2246 closed

[2021-03-26 10:56] slaff commented on #2042
With the arrival of (partition tables)[https://sming.readthedocs.io/en/latest/_inc/Sming/Components/Storage/index.html] this should be possible. Feel free to re-open this ticket if you have problems achieving what you want with the latest develop version.

[2021-03-26 10:56] #2042 closed

[2021-03-26 10:59] slaff commented on #1529
@riban-bw With the arrival of (partition tables)[https://sming.readthedocs.io/en/latest/_inc/Sming/Components/Storage/index.html] this should be possible and work without big efforts from your side. Feel free to re-open this ticket if you cannot implement your desired setup with the latest develop version.

[2021-03-26 10:59] #1529 closed

[2021-03-26 13:54] slaff commented on #651
A PR adding support for setting multiple cookie is on its way. See #2290.

[2021-03-29 07:30] slaff commented on #651
PR #2290 is merged in the `develop` branch and setting multiple cookies should be possible.

[2021-03-29 07:30] #651 closed

[2021-04-01 08:19] #2195 closed

[2021-04-01 08:20] slaff opened #2298 "Preparation for Release 4.4.0"
This issue is created to collect all the tasks we need to do before the 4.4.0 release ( originally this was set to 4.3.1 but the improvements are so much that it's worth dedicating a new version to it ).

### Source Code
- [x] Update Sming/Core/SmingVersion.h.
- [x] Update Readme.md.
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.
- [x] Add upgrade document

New fe

[2021-04-03 22:08] Matzz opened #2299 "Running web server on both Ap and Station"
Hi,
I'm trying to bind web server to both station and AP network.
When I run Station and IP without setting an IP and station receive the same IP as AP then web server works on both.

However when I set different IP for station then only AP is accessible. My sample code is here:
https://github.com/Matzz/Sming/blob/StationAndApHttpServer/samples/StationAndApHttpServer/app/application.cpp

I was thi

[2021-04-03 22:27] Matzz commented on #2299
Related post - https://github.com/esp8266/Arduino/issues/2155

[2021-04-05 05:46] frankdownunder opened #2300 "Version 10 build issue"
With version 10 of the c++ compiler,
 ``
Building /opt/Sming/Sming/out/Host/debug/lib/clib-Storage.a
C+ /opt/Sming/Sming/Components/Storage/src/ProgMem.cpp
C+ /opt/Sming/Sming/Components/Storage/src/Storage.cpp
In file included from /opt/Sming/Sming/Wiring/WConstants.h:20,
                 from /opt/Sming/Sming/Wiring/WString.h:59,
                 from /opt/Sming/Sming/Components/Storage/src/incl

[2021-04-05 06:44] mikee47 commented on #2300
`sudo apt install g++-10-multilib` shoudl fix this

[2021-04-05 07:41] mikee47 commented on #2300
We could do with a way to check for the 32 bit libraries and give a more useful message...

[2021-04-05 09:08] mikee47 commented on #2300
Point of interest - running `sudo apt install g++-10-multilib` will also install dependent packages gcc-10, g++10 and gcc-10-multilib.

[2021-04-06 19:53] Matzz commented on #2300
Log long time ago when I was using Windows I also had series of issues. I end up using https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk (Ubuntu on Windows)

[2021-04-08 07:12] slaff commented on #2300
@frankdownunder Feel free to re-open the issue if the problem still persists after installing `g++-10-multilib`

[2021-04-08 07:12] #2300 closed

[2021-04-20 06:56] teicors opened #2309 "Errors on compiling after a fresh git clone"
Hi,
I cloned today the git repository and issuing a make, I got this error:

[code]

Cheers

[2021-04-20 07:15] slaff commented on #2309
Try first `make -C $SMING_HOME dist-clean` after that clean your application `cd <path/to/app>; make clean` and finally try to rebuild it.

[2021-04-20 08:13] mikee47 commented on #2309
@teicors Assuming you've done as as slaff suggests, if the problem persists could you amend `Sming/Components/IFS/src/HostUtil.cpp` as follows and see if that fixes your problem:

[code]

[2021-04-20 11:14] kmihaylov commented on #2309
@teicors would you please recheck if you set ```ESP_HOME``` and ```EQT_ROOT``` environment variables?
[code]
You should get result like
[code]

@slaff @mikee47 I believe it would be helpful if the make script checks somehow for proper compiler, since just a few minutes ago I had the same problem as @teicors  and it happened that my env variables were missing. Curious how it successfully compiles m

[2021-04-20 11:29] kmihaylov opened #2310 "spiffs-two-roms hardware profile fails to boot"
With Sming 07ecd3bdf33f5b56ec1c32c9587df456ffaa4c07 (older too) Basic_Blink using ```HWCONFIG := spiffs-two-roms``` set in ```component.mk``` fails to run on the device.
At boot this happens:
[code]

and it continues forever.

With ```standard``` hwconfig the device boots sucessfully.

[2021-04-20 12:22] mikee47 commented on #2310
I've attempted to reproduce this issue as follows:

1. Edit component.mk

[code]

2. Build and flash

[code]

3. Edit component.mk

[code]

4. Clean, build and flash

[code]

No problem so far...

[2021-04-20 12:22] mikee47 commented on #2310
Note: to see that actual error above set COM_SPEED=74880

[2021-04-20 13:18] slaff commented on #2310
I guess you can try:
[code]

and then flash the application on the device.

[2021-04-20 13:35] kmihaylov commented on #2310
I did
[code]
Modified ```component.mk``` with these changes:
[code]
Then
[code]
And this is the result:
[code]

According to this output it should have flashed the partition table...
[code]

Btw is any shortcut to read the partition table?
```make readpart PART=rom0``` is for the slot, but for the partition table?

[2021-04-20 13:57] teicors commented on #2309
@kmihaylov here's my result:
[code]
I'm missing the
`EQT_ROOT=/opt/esp-quick-toolchain
`

but

[code]
I added the line as @mikee47 suggested, but the only change is the line number changed from 24 to 25 :)

[code]

[2021-04-20 14:04] teicors commented on #2309
I forgot: I did the @slaff  suggestion as first step !

[2021-04-20 16:08] teicors commented on #2309
@mikee47 the new version solves my issue.

But I'm facing another issue: I cannot compile an old project because
[code]

But there were nothing inside the file component.mk. The value was inside the file config.mk:

[code]

May be exists a make's parameter to clean the old build/configuration ? Don't say "config-clean" or "dist-clean" please :)
No luck with "make components-clean submodules-clean

[2021-04-20 16:16] mikee47 commented on #2309
LOL. I'm going to say it. `config-clean`! All it does is remove `out/Esp8266/build/config.mk` (or whatever arch/build is currently set). If you don't want to do that, just edit the config.mk file and remove the lines manually - you'll need to remove both references to DISABLE_SPIFFS.

If that doesn't fix the problem then check DISABLE_SPIFFS isn't set in the environment? And run `grep` on the Smin

[2021-04-20 16:47] teicors commented on #2309
mmhh
make config-clean
make SMING_ARCH=Esp8266 SPI_MODE=dio SPI_SIZE=4M COM_SPEED_ESPTOOL=1000000 SPIFF_SIZE=511024 SDK_BASE='$(SMING_HOME)' COM_PORT=/dev/ttyUSB3
Paris vaut une messe !
No more headache !
LOL

[2021-04-21 05:23] #2309 closed

[2021-04-22 10:04] kmihaylov commented on #2310
The problem was due to my (mis)use of EQT gnu23 instead of the supported gnu20 version.

[2021-04-22 10:04] #2310 closed

[2021-05-06 11:36] slaff commented on #2103
@kmihaylov Are you still having this issue with the latest `develop` version?

[2021-05-12 12:56] gbaranski opened #2328 "ESP32 Support"
Hello, I'm creator of [Houseflow](https://github.com/gbaranski/houseflow), it's an IoT platform for embedded devices like ESP8266 and also willing to support ESP32. I've been using [ESP8266_RTOS_SDK](https://github.com/espressif/ESP8266_RTOS_SDK), but for me it is too close to metal, and toolchain is quite complicated, no support for C++, and as far as I know no support for ESP32. I've recently tr

[2021-05-12 14:09] slaff commented on #2328
@gbaranski We do have some initial support for the ESP32 architecture but it is not complete. For example there is no SPI or I2S support yet.  ​

All network protocols, clients and server that are supported in ESP8266 are supported also here. This means that the HTTP client and server will work, the SSL support is there, the MQTT client will work, FTP and so on.

OTA on ESP32 is not working yet. F

[2021-05-14 12:56] AntonGrushin opened #2330 "Projects won't compile when using vector<> or list<> arrays"
Hello, team!
I bumped into a problem with latest Sming versions that I can not use `std::vector<>` and `std::list<>` arrays. No projects will compile if I use any of that.

Here is an example on how to repeat the issue. Clean Ubuntu 20.04.2 LTS installation. Running Sming install and Basic_Blink compilation from docs:
[code]
Installs and compiles successfully.
Now, if I add vector<int> variable an

[2021-05-14 13:37] mikee47 commented on #2330
Sming doesn't enable exception handling for the ESP8266 - it's is explicitly turned off via `-fno-exceptions` to reduce code bloat. To use them would require linking `libstdc++` and probably also some linker map adjustments to mitigate memory usage.

[2021-05-14 16:27] AntonGrushin commented on #2330
Erm, sorry, I don't understand how exception handling is connected to usage of `vector` and `list` arrays. Or do you mean that its needed to find out the source of those compilation errors?

There is a little bit of clue in the errors as it looks
`...vector ... _M_realloc_insert` `... gnu_cxx17__normal_iterator...` `undefined reference to ... throw_length_error`  `in function M_check_len`
Not sure

[2021-05-14 19:37] mikee47 commented on #2330
This may throw a little light on the subject https://stackoverflow.com/questions/4826838/do-standard-library-stl-containers-support-a-form-of-nothrow-allocation

[2021-05-14 20:04] mikee47 commented on #2330
Try adding this to your code:

[code]

[2021-05-14 20:21] AntonGrushin commented on #2330
It works with your addition, thank you!
Now I understand what you meant with exceptions, appreciate the link with the explanation.
Closing this issue.

[2021-05-14 20:21] #2330 closed

[2021-05-15 07:47] mikee47 commented on #2330
Here's another very interesting discussion about using C++ without exceptions https://softwareengineering.stackexchange.com/questions/113479/are-there-any-real-world-cases-for-c-without-exceptions

[2021-05-26 13:26] mostorer opened #2333 "Native ESP8266 SDK APIs linking"
I'm now playing with ESP8266 esp-now api to have modules talk to each other without a connected WiFi.

I added the "espnow.h" to my source code and used the NONOS SDK api. The compilation phase is good but the link process not. For each espnow api used I obtain something like: "**undefined reference to `_Z12esp_now_sendPhS_i'**".

As the SDK is included within Sming platform, I thought all librari

[2021-05-26 14:13] slaff commented on #2333
Put the following line in your application's component.mk file:
[code]

[2021-05-26 15:20] mostorer commented on #2333
I started from there, but not able to make it working.

Notihng changes.

The strange thing is that if I use a wrong name for the library, I obtain a different error.
E.g.
Added: EXTRA_LIBS += xxxespnow
Error: /opt/esp-quick-toolchain/xtensa-lx106-elf/bin/../lib/gcc/xtensa-lx106-elf/10.2.0/../../../../xtensa-lx106-elf/bin/ld: cannot find -lxxxespnow

[2021-05-26 21:36] mikee47 commented on #2333
@mostorer The clue is "undefined reference to `_Z12esp_now_sendPhS_i'", the name is mangled. However, the SDK libraries are all standard C. Try this:

[code]

[2021-05-27 05:48] mostorer commented on #2333
At the end I put:
`
extern "C" {
#include <espnow.h>
}
` within the source code and:

`
EXTRA_LIBS += espnow
` within component.mk

as suggested from @mikee47 and @slaff and it worked.

Thank you so much for your support.

[2021-05-27 05:48] #2333 closed

[2021-05-27 08:45] slaff commented on #2328
@gbaranski  OTA for Esp32 has landed with the latest commits in our `develop` branch.

[2021-05-27 15:12] gbaranski commented on #2328
That sound's great, I think I'll keep waiting on the OTA updates, it's must-have feature for me.

[2021-05-27 15:19] slaff commented on #2328
You don't have to wait. They are already part of the `develop` branch. Or you meant something else?

[2021-05-27 15:27] gbaranski commented on #2328
I meant that I'd like to wait for official release with OTA Support, however I think I can play a bit with ESP8266 and Sming for now.

[2021-05-30 19:09] kmihaylov commented on #2103
@slaff with the latest develop f2bcf7960b692f2f69796397da49d333a40237bc and the new Ota updated everything works fine.

With few versions earlier (with the bit older now rBoot updater) everything workef fine too, but under the condition that I use rom0 and rom1 images for flashing the appropriated slots.

[2021-05-30 19:09] #2103 closed

[2021-06-02 16:17] alexdz18 opened #2336 "pulseIn() function of Arch/Esp8266/Core/Digital.cpp can't work with pins >= 8"
It was found that Ultrasonic HC-SR04 set eith Echo pin = 13 always returns 0 cm disatance.
The problem is in the old code of pulseIn(), see Arch/Esp8266/Core/Digital.cpp.

Now _GPIO_IN_ register is read as a whole 32bit value, _*portInputRegister(port)_ returns 32bit value.
But pin's respective variables **bit** and **stateMask** are still defined as **uint8_t**, as they were when _GPIO_IN_ was pr

[2021-06-07 07:10] slaff commented on #2336
@alexdz18 Thanks for pointing this out. Can you please open a PR with the change to receive the deserved credit for it?  Take a look at the [contributing guide](https://sming.readthedocs.io/en/latest/_inc/CONTRIBUTING.html) if you need some guidance.

[2021-06-15 12:35] #2336 closed

[2021-06-16 17:41] charlesschaefer opened #2339 "Compile errors after clean install - git submodules errors (LINUX)"
Hi,
I've made a new installation of Sming in my computer and tryed to run the Basic_Blink example, but it can't find the `FlashString` module.

When I run `git submodule update` at the FlashString submodule directory, it then changes the error to the `http_parser` library.

Looks like the Makefiles aren't able to init submodules.

This is the output when I run make (branch develop, after fresh clo

[2021-06-17 06:37] slaff commented on #2339
Where is your SMING_HOME env. variable pointing to? I can see the app located at `/var/www/projetos/pessoais/wifitracker/sming/Sming/samples/Basic_Blink` but the compilation takes place in a completely different location `/tmp/Sming/Sming/...`.

[2021-06-17 17:13] charlesschaefer commented on #2339
You're right, I'm sorry. That's because I was in another place when detected the error and got confused.

But to be sure the error is reproducible, I've just cloned and tryed again. Same error. Pasting the result after the first `make` attempt:

[code]

[2021-06-18 08:53] mikee47 commented on #2339
Hello. It looks like the build system has already found the `FlashString` and `http-parser` (and maybe other) libraries elsewhere. To find out, run `make list-components`. Does that help?

[2021-06-18 15:37] charlesschaefer commented on #2339
Hi @mikee47! Thanks for the tip. I don't think this is the problem. I've tryed the `make list-components` command:
[code]

Note that the FlashString is pointing to the correct directory (I ran the command after the first `make` attempt), but the directory is empty:
[code]

Today I've worked a bit more on this and after running `make submodules` inside `Sming/Sming` directory everything was install

[2021-06-18 18:48] mikee47 commented on #2339
I'm not sure why you're using `/tmp/Sming/Tools/,,/Sming`, but if you normalise it to `/tmp/Sming/Sming` things will work...

[2021-06-18 18:55] mikee47 commented on #2339
There is a simple fix in the build system for this, but there could be other implications for using a 'dirty' path:

[code]

[2021-06-19 08:30] iliis commented on #2209
As far as I can tell, I still have to configure the partition table manually, right?
The following seems to work:
[code]

[2021-06-22 02:15] charlesschaefer commented on #2339
@mikee47 I'm using this as a workaround, because my `export.sh` was always exporting `SMING_HOME=/Sming`. Only now that you pointed the problem with the dirty path that I noticed that `export.sh` is using `$BASH_SOURCE`, which isn't supportted by `zsh` (my default shell).

Because of this error, to not hardcode the Sming path, I've inserted this inside `export.sh`:
[code]

Now I tried to `make` in

[2021-06-22 02:15] #2339 closed

[2021-06-22 08:30] slaff commented on #2209
Exactly. At some point the ROM size may get bigger than 512K. When that happens you can compile Sming and the application in release mode using [SMING_RELEASE=0](https://sming.readthedocs.io/en/latest/_inc/Sming/index.html#envvar-SMING_RELEASE).

[2021-06-28 15:57] slaff commented on #1712
@mikee47 I am trying to include [LittleVGL ](https://github.com/slaff/Sming/tree/feature/library-lvgl)as a library in Sming. LittleVGL is known to have a lot of options that should be configured. And I was wondering if you can extend the build system to have support for KConfig files. This can be based on ESP-IDF's python code.

My rough idea is the following:
- to have a new makefile target calle

[2021-06-30 19:30] mikee47 commented on #1712
@slaff Curiously I'm working on a graphics library too :-) I'm aiming to get a release in the next week or two so once that's done I'll take a look at this.

[2021-07-01 07:21] slaff commented on #1712
Ou yeeeh!

[2021-08-10 07:43] slaff commented on #1712
@mikee47 what's the progress here ? Do you have something ready that we can test (as WIP PR ) ? If you are right now on an [overpriced vacation](https://www.theguardian.com/travel/2021/aug/07/price-shock-britons-on-holidaying-in-uk-this-summer) enjoy and relax as much as possible ;-)

[2021-08-18 04:54] Asanga-Viraj opened #2359 "ESP32: No Ethernet implementation in Sming"
Hi,

I am working on an ESP32 project which needs ethernet. I managed to work with esp-idf_V4.1.
I like to work with Sming because it is well structured and easy to use. I did it with ESP8266. When reading examples, I didn't see an example related to ethernet. Also, I tried to add ethernet config to a Sming sample project and got compiling error. It seems to be ethernet is not included in the Smin

[2021-08-31 13:57] mikee47 commented on #2359
@Asanga-Viraj I've started work on Ethernet support, see #2361. There are a lot of possible ethernet configurations so if there's a specific combination you're interested we'll try to get that implemented.

[2021-09-01 01:46] Asanga-Viraj commented on #2359
@mikee47 Thank you for the reply. ESP32 Ethernet current implementations in idf_V4.1 example such as internal mac and some SPI chips  `LAN8720`, `IP101`, `DP83848` and `RTL8201`is OK for now. My current project is interested in internal mac. If I got another chip, I will mention it here.
Thanks.

[2021-09-05 12:13] mikee47 commented on #1712
@slaff Having been messing around with the ESP IDF KConfig system I have a few thoughts about use of KConfig.

Regarding LVGL, yes, there are a lot of settings but from a quick read through there are only a few that the
application might want to change, such as `LV_USE_PERF_MONITOR`.
Some settings are associated with the display driver, so wouldn't be configured by the application anyway.
Other se

[2021-09-08 06:23] slaff commented on #2359
@Asanga-Viraj Were you able to use Ethernet with the latest additions in Sming?

[2021-09-09 00:20] Asanga-Viraj commented on #2359
Actually I modified the Sming to work with Ethernet.

- I created a file and I added the file "Kconfig.projbuild" file in resource folder to %(SMING_HOME)/Sming/Arch/Esp32/Components/esp32/project/main.

- Then I changes file "startup.cpp" in resource folder to %(SMING_HOME)/Sming/Arch/Esp32/Components/esp32/src.

- Added this line "esp_eth \ " into the "SDK_COMPONENTS" after "esp_common \ " in co

[2021-09-09 05:30] mikee47 commented on #2359
@Asanga-Viraj With the current develop branch of Sming you can find the [Basic_Ethernet](https://github.com/SmingHub/Sming/tree/develop/samples/Basic_Ethernet) sample which shows how to connect the embedded MAC + LAN8720 PHY. If you haven't yet updated to IDF 4.3, see https://sming.readthedocs.io/en/latest/_inc/Sming/Arch/Esp32/README.html.

To avoid any IDF-specific dependencies in applications I

[2021-09-10 02:10] Asanga-Viraj commented on #2359
@mikee47 Thank you for the upgrade. I will let you know.

[2021-09-13 10:13] slaff commented on #1712
If I am not mistaken KConfig adds always `CONFIG_` prefix to all configuration directives listed in a KConfig file. This way the directives will be saved with `CONFIG_` in the final out/Arch/build/config.mk file. I would like to be able to use the existing config directives without having to rename them.  And reuse the current build system without any major modifications.

[2021-09-13 10:14] slaff commented on #1712
Ok, we can use it too. Sorry didn't know about it.

[2021-09-15 11:43] jensahylda opened #2366 "Garbage on the console"
Hi,

I think this is a newbie question, but let me try anyway.

I am using a custom board with Esp-wroom-02 (esp8266) and flashsize of 4MB and Smiing stable 4.3.0

I can compile and run Basic_Blink and also output to the console. Also it can run older Sming frameworks perfectly, also with flash access. So hardware is fine.

But as soon as i start using the flash with , for example Flash_Storage or

[2021-09-16 12:26] slaff commented on #2366
@jensahylda Try to flashinit the device and try again. See more details here: https://sming.readthedocs.io/en/latest/troubleshooting/random-restart.html. Init-ing might fix the issue that you are experiencing.  Which toolchain are you using for ESP8266 ?

[2021-09-16 13:59] jensahylda commented on #2366
Thank you very much.

I am using Ubuntu 20.04 in a shell. make flashinit  followed by make flash does not help. No difference.

However i changed the baudrate, and this is the real text that is output:
--- Miniterm on /dev/ttyUSB0  74880,8,N,1 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---

 ets Jan  8 2013,rst cause:1, boot mode:(3,6)

ets_main.c

Thanks again.

[2021-09-16 14:42] mikee47 commented on #2366
@jensahylda It's odd that the bootloader isn't even getting to run.

Are you sure your device has 4M flash, not 2M? Try the `Basic_Blink` sample again with a 4M flash setting:

[code]

For reference, you should see something like this:

[code]

[2021-09-16 15:33] mikee47 commented on #2366
NB. You may also need to do this before building:

[code]

[2021-09-16 17:12] jensahylda commented on #2366
Bingo, that solved the problem. Thank you very much. :-)

[2021-09-16 18:37] jensahylda commented on #2366
Sorry, the program runs, but the flash is not working properly.

I tried your suggestion with Basic_Blink and got this:
rBoot v1.4.2 - richardaburton@gmail.com
Flash Size:   32 Mbit

Can i set another size like 2M, your suggestion sets 4M.

The original Basic_Storage example gives this output:

Registered storage devices:
  name = 'spiFlash', type = flash, size = 0x400000, ID = 0x1540c8

** Enumer

[2021-09-16 18:57] jensahylda commented on #2366
Another comment:
I have to run
make HWCONFIG=standard-4m

That probably overrides basic_storage.hw - and thats why the flash is not partitioned correct for the code

So how do it make it with basic_storage.hw but as standard-4m - sorry, but i cannot see the link yet.

Regards Jens

[2021-09-16 19:15] mikee47 commented on #2366
If you run `make config-clean` that will reset the working configuration back to the defaults for that sample. Then you can run `make flash` again.

See https://sming.readthedocs.io/en/latest/_inc/Sming/Components/Storage/index.html?highlight=HWCONFIG#partition-maps for details about partition maps.

[2021-09-16 19:21] mikee47 commented on #2366
Also note the current develop branch contains many improvements so always worth a try if you run into problems.

[2021-09-16 19:27] mikee47 commented on #2366
You'll need to create a [custom hardware configuration](https://sming.readthedocs.io/en/latest/_inc/Sming/Components/Storage/index.html?highlight=HWCONFIG#custom-configurations).

[2021-09-16 19:28] mikee47 commented on #2366
There's also a graphical editor, `make hwconfig-edit`.

[2021-09-16 20:17] jensahylda commented on #2366
Ok, tried the development branch, same result, let me explain what i did, i must miss something.
- git clone https://github.com/SmingHub/Sming /opt/sming
- source /opt/sming/Tools/install.sh all
- source /opt/sming/Tools/export.sh
- cd /opt/sming/samples/Basic_Storage
- make
- make flashinit
- make flash

I get garbage, on the output, and start terminal
python -m serial.tools.miniterm /dev/ttyUSB0

[2021-09-16 20:20] mikee47 commented on #2366
From the `Basic_Storage` sample, do a full clean, rebuild, full flash wipe then flash application:

[code]

[2021-09-16 20:49] jensahylda commented on #2366
Same thing, doing these 4 steps, and this is what i get:
--- Miniterm on /dev/ttyUSB0  74880,8,N,1 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---

 ets Jan  8 2013,rst cause:1, boot mode:(3,7)

ets_main.c

Actually what i need is just a filesystem with 4 files in it, one being writable, maybe this example is too complex should i go for something simpler...

Regards Jens

[2021-09-17 07:11] mikee47 commented on #2366
When `ets_main.c` appears as above it indicates that the boot sector hasn't been programmed, and is still erased. That indicates the `make flash` hasn't done its job. To diagnose this if you paste your entire build and flash log it should identify where things are going wrong.

[2021-09-17 07:41] jensahylda commented on #2366
Thank you for fast and qualified help.

I have attached the complete log for all points you mentioned (from cleaning to flashing)

[basic_storage-makeandbuild.txt](https://github.com/SmingHub/Sming/files/7183663/basic_storage-makeandbuild.txt)

I hope you can see something...

Regards Jens

[2021-09-17 07:54] mikee47 commented on #2366
The log looks perfect... however the boot sector clearly isn't getting programmed. I think the flash speed is too high: If you take a look in `basic_storage.hw` and comment out line 14:

[code]

This will revert to the default flash speed of 40M.

[2021-09-17 11:32] jensahylda commented on #2366
Reverted default speed to 40M and verified in the flash command its changed, and did the four points again.

/usr/bin/python3 /opt/sming/Sming/Components/esptool/esptool/esptool.py -p /dev/ttyUSB0 -b 115200 --chip esp8266 --before default_reset --after hard_reset write_flash -z -fs 4MB -ff **40m** .....

The result is unchanged. Really weird...

--- Miniterm on /dev/ttyUSB0  74880,8,N,1 ---
--- Qu

[2021-09-17 12:32] slaff commented on #2366
@jensahylda can you paste your current hardware config?

[code]

After that dump your flash memory to a file, zip it and attach it here. You can dump the whole flash with the following command:

[code]

[2021-09-17 15:37] mikee47 commented on #2366
@jensahylda Can you try a simple `make flashboot` and see what happens?

[2021-09-17 15:37] mikee47 commented on #2366
@jensahylda Can you try a simple `make flashboot` and see what happens?

[2021-09-17 17:05] jensahylda commented on #2366
If i do that, it programs, then it shows this with the terminal afterwards:
--- Miniterm on /dev/ttyUSB0  74880,8,N,1 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---

 ets Jan  8 2013,rst cause:1, boot mode:(3,7)

load 0x40100000, len 1220, room 16
tail 4
chksum 0xda
load 0x3ffe8000, len 640, room 4
tail 12
chksum 0xa8
csum 0xa8

rBoot v1.4.2 - richardaburton@gmail.com
Fl

[2021-09-17 17:34] mikee47 commented on #2366
OK. If you run `make flashapp` then it should run the application. I have a suspicion that your device has only 2M flash. If that is the case, then accessing locations above that will wrap around. Running `make flash` will write each partition in turn, starting with the boot sector, so the start of the `spiffs0` partition at 0x200000 will overwrite the boot sector at 0x000000.

If you run `python

[2021-09-17 17:43] jensahylda commented on #2366
Thank you, please find both in attached zip.

[hwconfig.zip](https://github.com/SmingHub/Sming/files/7187476/hwconfig.zip)

[2021-09-17 17:55] jensahylda commented on #2366
You are a genious :-) Its correct, below is a dump, and the flash is 2M. A little embarrasing i think, but i actually was sure it was 4M.

What is the best way to modify this example (Basic_Storage) to 2M? Set the flashsize to 2M in basic_storage.hw under device, and then modify the partitions so they fit in? Anything else?

esptool.py v3.2-dev
Serial port /dev/ttyUSB0
Connecting..................

[2021-09-17 18:50] mikee47 commented on #2366
It would be lovely if manufacturers could print the flash size on the device! I'd always assumed that esptool did a check for valid memory ranges: now we know it doesn't!

To get the filing system working I think it `Basic_WebSkeletonApp` would be a simpler starting point. Create a file called `spiffs2m.hw` in the project root directory and paste this in:

[code]

You can then `make flash HWCONFIG

[2021-09-17 19:09] mikee47 commented on #2366
Try this with `Basic_Storage`. Save it as `basic_storage_2m.hw`:

[code]

`make flash HWCONFIG=basic_storage_2m`

[2021-09-17 21:22] jensahylda commented on #2366
Thanks a lot, it works now. And i can open, read and write files.

I hope you learned something, i learned a lot. Thank you for fast and qualified help.

Regards Jens

[2021-09-18 06:01] mikee47 commented on #2366
@jensahylda You are most welcome, and framework is improved by this so thank you. Happy Sming-ing!

[2021-09-22 09:20] #2366 closed

[2021-09-22 09:21] slaff commented on #2359
Feel free to re-open if you have issues with the Ethernet for ESP32 implementation.

[2021-09-22 09:21] #2359 closed

[2021-09-28 09:38] slaff commented on #2328
The new stable version is officially released: https://github.com/SmingHub/Sming/releases/tag/4.4.0. It contains a lot of ESP32 related improvements. Make sure to use IDF v.4.3.0. If you are not sure how to install then download the latest stable version and run `$SMING/../Tools/install.sh esp32`

[2021-09-28 09:38] #2328 closed

[2021-09-28 09:39] #2298 closed

[2021-09-28 09:40] slaff opened #2377 "*** Preparation for Release 4.5.0 ***"
This issue is created to collect all the tasks we need to do before the 4.5.0 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h.
- [x] Update Readme.md.
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.
- [x] Add upgrade document

New features
------------------
- Initial support for Rp2040 architecture #2392
- Added Kconfig support #2374
- Added MHZ19

[2021-09-30 10:57] #1713 closed

[2021-10-04 11:28] icodk opened #2380 "Installing on linux aborts and log me out prematurely"
Followed the installation instructions, when entering:  `source /opt/sming/Tools/install.sh esp8266`
The script start and the output looks like:
[code]
Then the putty session is terminate probably prematurely because I cant compile the Basic_Blink example afterword
[code]

[2021-10-04 11:33] etmmahi commented on #2380
Hi,

I have experience the same issue.
I was able to solve it by changing the clang-format-8 in the tools/install.sh script to clang-format-12

[2021-10-04 11:40] slaff commented on #2380
At the end of successful installation you should get the following message:
[code]

Did you set the environment variables? Did you make sure to persist them?

[2021-10-04 12:18] mikee47 commented on #2380
@icodk The installer can be run without `source` (i.e. just  `/opt/sming/Tools/install.sh esp8266`) which will avoid terminating the shell. You can then run `source /opt/sming/Tools/export.sh` to configure environment variables.

[2021-10-04 12:29] icodk commented on #2380
@etmmahi
Your solution WORKS !

@slaff  & @mikee47  May be to update the install script to use clang-format-12 instead of clang-format-8 ?
This solved my problem

[2021-10-04 12:29] #2380 closed

[2021-10-04 12:35] mikee47 commented on #2380
@icodk Be aware that clang-format 12 produces different results to version 8! We moved to version 8 in March (see #2268) as it is more widely supported. What's your OS version? (`cat /etc/os-release`)

[2021-10-04 13:02] icodk commented on #2380
What do you mean by different results (8 vs 12) or what is good and what is bad ?
I run the installation again without source `/opt/sming/Tools/install.sh esp8266` as @mikee47 suggested and got the following error:
[code]
My OS version:
`cat /etc/os-release`
[code]

[2021-10-04 13:19] mikee47 commented on #2380
clang-format is used to enforce a consistent [coding style](https://sming.readthedocs.io/en/latest/information/develop/coding-style.html) across the framework. This ensures that code changes are not obscured by differences in layout style.

Unfortuately, different versions of clang-format (usually) give different results for the same connfiguration. There's a discussion of exactly this issue here

[2021-10-04 13:28] icodk commented on #2380
May be to keep it only for the actual framework development and let the framework users (like me) do whatever they want

[2021-10-04 15:39] slaff commented on #2380
Yes, this can be a solution.

[2021-10-17 08:30] mikee47 opened #2395 "Pin management"
General option editing now seems to be satisfied using Kconfig, but managing pin assignments needs some special consideration so I've opened a new issue to discuss.

Other than Host, Sming currently supports three different architectures with a total of five variants:

- Esp8266
- Esp32
  - esp32
  - esp32s2
  - esp32c3
- Rp2040

Note: To clarify, `SMING_ARCH` determines the SDK and core platform

[2021-10-17 08:32] mikee47 commented on #1712
Kconfig is a good solution but we now have the situation where settings are potentially replicated in at least three places: `component.mk`, `Kconfig` and `README.rst`.

One way to address this would be to use `Kconfig` as the core definition and have the build system generate data in the other two formats.

[2021-10-17 08:56] icodk commented on #2395
Why is it important to have an ESP_VARIANT ?
Are you expecting the same variant  in more then one architecture.
From a SMING user perspective, If I program for an esp32s I don't care that it has some architectural coincidences with other chips.
It is  adding an extra dimension and confusion but might have a reasoning??

[2021-10-17 10:57] mikee47 commented on #2395
`ESP_VARIANT` was introduced for the Esp32 architecture because it uses one SDK to support multiple entirely different SOCs with significant differences.
I agree that it shouldn't be necessary to bother with this at a project level, but the developer still needs to be aware of it.

With Arduino you just pick the development board being used and it has all the appropriate settings defined somewhere

[2021-10-17 11:35] icodk commented on #2395
Yes. Only  chip ARCH, which is significant for the code produced by the compiler/linker. PSRAM is a peripheral and it is up to the programmer to find out what kind of peripherals the board/module supports. Boards/modules are nice to have  aggregations that can tell the use which ARCH is being used and can make the framework more accessible for beginners.

[2021-11-16 16:29] #2021 closed

[2021-11-16 16:30] #1678 closed

[2021-11-16 16:32] #1328 closed

[2021-11-16 16:33] #1333 closed

[2021-11-16 16:34] #1784 closed

[2021-11-16 16:34] #1355 closed

[2021-11-16 16:36] #1758 closed

[2021-11-16 16:36] #1781 closed

[2021-11-16 16:37] #1366 closed

[2021-12-03 17:57] kmihaylov opened #2437 "Esp32 SPI 8 bit (single byte) transfer"
Hello. Esp32's ```SPI.transfer()``` produces 16 clock cycles. ```SPI.transfer16()``` produces 24 clock cycles.

ESP8266's ```SPI.transfer()``` makes only 8 clock cycles.

Here is example:
[code]

With this behavior my slave device would read 2 bytes.
Same with ```SPI.transfer32(1, 8)```.

Did I misconfigure the SPI or ```SPI.transfer()``` should send exacly 8 bits?

Edit: my Sming is c34f878fafff5

[2021-12-04 08:29] kmihaylov commented on #2437
OK, i've added
[code]
in ```Sming/Arch/Esp32/Core/SPI.cpp``` and there's some progress (I'll test extensively later). ```spi_ll_set_dummy()``` didn't seem to make difference. Then I've added cmd and addr bitlen and the clock cycles now equal the bits set in ```SPI.transfer32(1,7)```.

[2021-12-04 10:57] mikee47 commented on #2437
That makes sense. Well spotted! The assumption would be that `spi_ll_master_init` would initialise these to some value but on checking the code it doesn't. These lines should probably be added after the initial `spi_ll_master_init` call.

[2021-12-04 10:57] mikee47 commented on #2437
@kmihaylov Would you raise a PR with a fix for this?

[2021-12-04 11:10] kmihaylov commented on #2437
Sure @mikee47 . Let me do it tonight.
Would you comment whether these should be configurable during SPI.setup()? Are you aware if they should be preserved for any Arduino compatibility or etc?

[2021-12-04 11:17] mikee47 commented on #2437
No, the SPI class is very basic and doesn't accommodate such hardware features. Everything is done using data transfers.

NB. The `HardwareSPI` library makes better use of the hardware if you're interested.

[2021-12-05 10:44] kmihaylov commented on #2437
With the above mentioned functions SPI.transfer32() works fine, but SPI.read8() doesn't.

[code]
Actually SPI.read8() makes 1 clock cycle and the MOSI line is low during the entire transaction.
Ideas?
Once this is solved I'll also try the other functions before the commit.

[2021-12-05 10:57] mikee47 commented on #2437
The bit length hasn't been set up. I've pushed a fix, should work!

[2021-12-06 10:09] slaff commented on #2437
@kmihaylov Check the latest develop and close this issue if the problem has been fixed.

[2021-12-06 11:03] #2437 closed

[2021-12-10 03:26] Asanga-Viraj opened #2445 "ESP32 HadwareSerial Callbacks has variable time delay"
Hi,

My application is to implement a Serial2 handler to run serial protocol like ModBus on ESP32. My another microcontroller is polling for reply from ESP32 with baud rate 38400. The time between two packets is 25ms. I attached data received and transmit events like below.

[code]

I experienced that the receive complete event is not calling at the end of the receiving. I hooked up a oscilloscope

[2021-12-10 04:51] Asanga-Viraj commented on #2445
The I went deep inside of the Sming framework. I think I found the issue. In the file Sming/Core/HardwareSrial.cpp line 184

[code]
The system quecallback takes variable time to call it. This calling time delay is too much for some protocol implementation like ModBus.

[2021-12-10 08:39] teicors commented on #2445
If I'm not out of topic, I'm having a similar behavior with ModBus and a basic html page: when I "wget" the jquery.js.gz from spiffs, I'm having this result

 jquery.js.gz                          100%[=============================>]  29,45K  5,04KB/s    in 5,8s

and this from the debug window
[code]
I'm using an ESP8266 with ModBus connected to the first serial and the debug (as in the example) a

[2021-12-10 09:06] mikee47 commented on #2445
I found a bug! Try this patch and see if it fixes your problem. Run `make Sming-build` to pick up the change.

[code]

[2021-12-10 12:17] mikee47 commented on #2445
If you need tight timing on the callback (e.g. switching modbus transceiver from TX to RX) then use interrupt callbacks by setting `HardwareSerial::setUartCallback`. The callback might look something like this:

[code]

[2021-12-10 12:22] mikee47 commented on #2445
Also worth doing a search for 'modbus' in previous issues, there's been some discussion about this issue.

[2021-12-10 13:57] slaff commented on #2445
@mikee47 Can you send a PR with the fix?

[2021-12-13 00:42] Asanga-Viraj commented on #2445
Thanks everyone for the support.

I replaced default Sming uart call back using  `HardwareSerial::setUartCallback(mySerialCallbackHandler)`. Still got the same variable delay (sometimes more than 30ms) when calling of `System.queueCallback(handleReceiveEvent);` handleReceiveEvent.
The same delay issues gets because the function `handleReceiveEvent` is calling over System que task. Then I replaced

[2021-12-13 08:30] slaff commented on #2445
@Asanga-Viraj please decode your stack trace. See here for more details https://github.com/SmingHub/Sming/blob/develop/samples/LiveDebug/README.rst#exception-handling

[2021-12-13 09:03] mikee47 commented on #2445
@Asanga-Viraj Or run in the debugger https://smingdev.readthedocs.io/en/latest/arch/esp32/debugging/index.html. Re-build first though:

[code]

[2021-12-13 09:04] mikee47 commented on #2445
I've done some basic checks on system task vs. timer and cannot as yet see any difference. @Asanga-Viraj Can you push your app. or a simplified version to github? I can then investigate further...

[2021-12-13 21:39] Asanga-Viraj commented on #2445
Sorry for my late reply.

I called UART interrupts Tx complete delegate and RX complete delegate directly without going through the system queues. This was happened when ESP trying to send binary files to the web page on requests. I re-run the issue and got this back trace.
[code]
This make sense. Uart interrupted the flash operations because Uarts interrupt is not going over System queue.
I fixed

[2021-12-25 13:46] slaff commented on #2377
![santa-is-coming](https://user-images.githubusercontent.com/247452/147386317-48599e83-6a47-46de-95ad-68966251c4fb.gif)

[2021-12-25 13:53] #2377 closed

[2021-12-31 10:14] mikee47 commented on #1428
@slaff @mopac It makes little sense to have byte order set to anything other than LSBFIRST since this corresponds to the native CPU byte ordering.

Also note that the byte order flag bit is absent from the ESP32-C3; doesn't necessarily mean the hardware doesn't support it but the implication is it's not helpful.

I propose that we modify Sming to be consistent with Arduino and change the `byteOrde

[2022-01-02 11:21] slaff opened #2463 "Preparation for Release 4.6.0"
This issue is created to collect all the tasks we need to do before the 4.6.0 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h.
- [x] Update Readme.md.
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.
- [ ] Add upgrade document

New features
------------------
- #2492
- #2474
- #2467
- #2466
- #2495

Improvements
-------------------
- #2462
- #2472
-

[2022-01-09 14:22] vjalle commented on #501
Hi,
The 0xE4 does not reset the module. I did not connect the reset line, and sometimes after powerup (or after intentionally disturbing the I2C communication by sticking a screwdriver between the pins) the display was not working (went blank, previous content froze, or got a random bit pattern). It acknowledged I2C commands, but the display was frozen. As an experiment, with the hope that I'll fi

[2022-01-26 08:45] kmihaylov opened #2473 "Esp32 SmartConfig"
I forgot that Esp32 lacks support for SmartConfig. Any directions would be helpful!
The current compiler messages are only related to ```Components/Network/Arch/Esp32/Platform/StationImpl.cpp``` and ```StationImpl.h```. I'm starting digging up.

[2022-01-27 08:00] #2473 closed

[2022-02-09 10:47] #2064 closed

[2022-02-09 10:50] #892 closed

[2022-02-15 01:43] TheEclectus opened #2490 "Win10 MinGW: Make for Samples fails with Error 2"
I installed Sming, the ESP tools, and Python per Sming's documentation. When I run `make -j` to build individual samples, the process is aborted with a message akin to
`make[2]: *** No rule to make target 'c\:/tools/Sming/Sming/Components/Storage/src/CustomDevice.cpp', needed by 'src/CustomDevice.o'. Stop.`

It varies between the samples, seemingly without reason. For instance, Basic_Blink will fa

[2022-02-15 07:02] mikee47 commented on #2490
`make -j` uses **unlimited** build jobs and doesn't work well in Windows and virtual environments. https://sming.readthedocs.io/en/latest/_inc/Sming/building.html?highlight=%22-j%22#building.

You can get away with it in linux, but should specify a limit, e.g. `make -j5` according to your available CPU resources.

Before rebuilding, you may need to run `make dist-clean` and/or `make config-clean`

[2022-02-15 07:03] mikee47 commented on #2490
If things are still not working for you, run `make list-config` and post the results,, that'll help.

[2022-02-15 07:04] mikee47 commented on #2490
See also https://sming.readthedocs.io/en/latest/getting-started/windows/wsl.html

[2022-02-17 01:22] TheEclectus commented on #2490
Oh, I was unaware of the `-j` flag being so picky on Windows, and that I'd need to run `dist-clean` before rebuilding. That seems to have solved it!

[2022-02-22 01:09] gbaranski opened #2494 "Running Websocket_Client sample causes `HTTP parser error: HPE_CB_headers_complete`"
I'm using sample from https://github.com/SmingHub/Sming/tree/develop/samples/Websocket_Client.
Running on ESP8266 Wemos D1 Mini Board.

[2022-02-22 08:15] slaff commented on #2494
Ok, I see the problem. The websocket server that we use in the sample `echo.websocket.org` is no longer publicly available. Take a look at application.cpp:

https://github.com/SmingHub/Sming/blob/develop/samples/Websocket_Client/app/application.cpp#L39

and replace the websocket server URL with your own websocket server.

[2022-02-22 12:54] gbaranski commented on #2494
alright that works now. Don't you think that those errors should be more readable to the user?

[2022-02-27 13:59] mikee47 commented on #2494
Agreed. I've had a dig into exactly what's going on here using the _**Simple Websocket Client**_ plugin for firefox. These are the response headers:

[code]

So no error, just that the `Sec-WebSocket-Accept` header isn't present. Running the sample application in host mode with debugger locates the point of failure and I've opened a PR so we can have  a look at improving this.

In this particular

[2022-04-05 06:01] Asanga-Viraj opened #2498 "Hardware config 'spiffs' has invalid partition table"
Hi There,

For Sming 4.5.0 release, I tried command 'make flashinit' for ESP8266. After erasing the flash, then I tested flashing of an app with 'HWCONFIG := spiffs' hardware configs. It is not working. Esp8266 keeps resetting. May be some error with the partition table.

Thanks

[2022-04-05 07:24] slaff commented on #2498
Take a look at this help article: https://sming.readthedocs.io/en/latest/troubleshooting/random-restart.html and tell us what is printed in your terminal. Also are you testing the code with some of the already provided samples or you are using your own application to test?

[2022-04-05 09:39] Asanga-Viraj commented on #2498
Thank you for the tip. I tested on provided example.

I tested ESP8266 on win PC Sming V4.5.0 example 'C:\tools\Sming\samples\HttpServer_AJAX'.

`make flashinit`
`make rebuild`
`make flash`

Then, ESP8266 keeps printing junks. I didn't decode the stack because it didn't show decodable stack.

I spend hours and found a solution. Flashing of partitions.bin into address locations such 0x000fa000 and

[2022-04-13 15:52] kmihaylov opened #2500 "Properly System.restart() esp32"
Hello. When ESP utilizes WiFi it couldn't properly disconnect or restart the device.
[code]

I use the Basic_WiFi example and I've added ```System.restart(10000);``` at the end of the ```init()``` function.

Also the same applies if I try to use ```Wifi.disconnect();``` or ```WifiStation.enable(false);```.

[2022-04-18 06:45] calvernaz opened #2501 "question: AWS IOT root certificate"
Hi, we are looking into the sming framework and specifically the MQTT implementation to connect the device to AWS IoT Core and in order for that communication to be successful, we need to set up TLS and the root authority certificate. We can’t find the correct API to assign a root certificate to the session. Do you have an example of how to do it?

The example you provide in the repository doesn't

[2022-04-18 14:53] kmihaylov opened #2502 "IR lib FlashString handling"
This is not Sming issue, but something that I can't figure out. I'm trying to port the latest IR lib to Sming and I stuck with IR's FlashStrings not built with Sming.

First let me show the compiler error:
[code]

The variable ```kPowerStr``` is defined in ```IRtext.cpp```. I'm posting the macros:
[code]
and
[code]

Then Eclipse evaluated the macro to:
[code]

where PROGMEM is(?) ``` __attribute__

[2022-04-18 21:50] mikee47 commented on #2502
The constructor is delcared `explicit String(flash_string_t pstr)` so you'll need to modify code like this:

[code]

[2022-04-19 07:34] mikee47 commented on #2502
On further inspection, the FlashString library can handle all this more easily. See https://github.com/mikee47/IRremoteESP8266/tree/sming. Builds but not tested.

[2022-04-19 07:40] kmihaylov commented on #2502
@mikee47 thanks.

Do I understand properly that ```String(kPowerStr)``` will copy the flash string to RAM?

The library heavily uses *Str like the above mentioned ```kPowerStr```. I have no problem to modify all the files to ```String(...)```, but is this the best way? Is this some Arduino thing that the flash strings can be directly used?

[2022-04-19 08:41] slaff commented on #2501
@calvernaz We have a sample that is demonstrating the use of Amazon AWS. The keys and certificates are loaded in application.cpp lines 14 until 16.

   https://github.com/SmingHub/Sming/blob/develop/samples/Basic_AWS/app/application.cpp#L14-L16

And then assigned in line 23:

  https://github.com/SmingHub/Sming/blob/develop/samples/Basic_AWS/app/application.cpp#L23

The files are in the files/ dir

[2022-04-19 13:49] calvernaz commented on #2501
Hi @slaff thanks for the quick response, but so I totally understand, in those code bits I only see the use of the private key and the certificate and no use of the root certificate ([AmazonRootCA1.pem.der](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_AWS/files/AmazonRootCA1.pem.der)).

[2022-04-19 15:37] kmihaylov commented on #2502
IR receive works just fine. I can solder second board to check IR send.

[2022-05-13 11:42] github-actions[bot] opened #2506 "Manual approval required for workflow run 2319248865"
Workflow is pending manual review.
URL: https://github.com/SmingHub/Sming/actions/runs/2319248865

Required approvers: [slaff]

Respond "approved", "approve", "lgtm", "yes" to continue workflow or "denied", "deny", "no" to cancel.

[2022-05-13 11:43] slaff commented on #2506
approved

[2022-05-13 11:43] #2506 closed

[2022-05-13 11:48] github-actions[bot] opened #2507 "Manual approval required for workflow run 2319274510"
Workflow is pending manual review.
URL: https://github.com/SmingHub/Sming/actions/runs/2319274510

Required approvers: [slaff]

Respond "approved", "approve", "lgtm", "yes" to continue workflow or "denied", "deny", "no" to cancel.

[2022-05-13 11:49] slaff commented on #2507
approved

[2022-05-13 11:49] #2507 closed

[2022-05-13 12:07] github-actions[bot] opened #2508 "Manual approval required for workflow run 2319357093"
Workflow is pending manual review.
URL: https://github.com/SmingHub/Sming/actions/runs/2319357093

Required approvers: [slaff]

Respond "approved", "approve", "lgtm", "yes" to continue workflow or "denied", "deny", "no" to cancel.

[2022-05-13 12:08] slaff commented on #2508
approved

[2022-05-13 12:08] #2508 closed

[2022-05-19 00:11] Asanga-Viraj opened #2511 "Outdated Basic_AWS example"
I am working on connecting ESP into MQTT AWS IoT Core. I couldn't' connect it because it shows a debug message "please start sntp first !". I went deep and I saw  "sntp_init()" included in ["configTime"](https://github.com/igrr/axtls-8266/blob/9ebc3ee6ec659a09f08f6e3d8b4d6c19db5ce498/replacements/time.c) is not called any where.
Then, I called below lines on gotIP function.

`sntp_stop();`
`sntp_s

[2022-05-19 07:14] slaff commented on #2511
@Asanga-Viraj Isn't [this sample](https://github.com/SmingHub/Sming/tree/develop/samples/Basic_AWS) working for you? In it you can see how to attach SSL certificates:

https://github.com/SmingHub/Sming/blob/develop/samples/Basic_AWS/app/application.cpp#L21-L24

In addition if you want to syncrhonise the local clock you can use the [NTP sample](https://github.com/SmingHub/Sming/tree/develop/samples

[2022-05-19 07:39] Asanga-Viraj commented on #2511
@slaff I couldn't manage to work [Basic_AWS](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_AWS/app/application.cpp) example with the current MQTT AWS IoT Core. To connect to AWS, we need to assign a device certificate, private key, and Root CA1 certificate. But there is no entry to assign the Root CA1 certificate. Refer [this Arduino](https://how2electronics.com/connecting-esp8266-t

[2022-05-20 12:00] slaff commented on #2511
Short Story
=========
The Amazon Root CA1 certificate is not used in the sample because we skip SERVER CERTIFICATE verification. We should probably update it to include full SERVER CERTIFICATE verification.
But it does not mean that the connection is not working or that the client application is not able to send or receive MQTT data.

Long Story
========
Ok, even with over-simplifications, this is

[2022-05-24 07:06] Asanga-Viraj commented on #2511
@slaff

Thank you for the full detail information. Extremely sorry for my lack of knowledge about TSL/SSL communication. Now I have the idea about how root certificate authority (RootCA1) file works. So, nothing wrong about setSslInitHandler(). I tried to work with Basic_AWS example on ESP32. Then I got this with DEBUG_VERBOSE_LEVEL=3

1118530 TCP 3ffb4354 +connection
1121764 TCP 3ffb4354 connect

[2022-05-24 22:41] Asanga-Viraj commented on #2500
I saw the same issue in ESP32. `System.restart()` stuck in infinite loop and do Watchdog reset. Watchdog reset doesn't start the ESP as fresh start. It makes a core synching issue and keeps restarting. The problem origin is [idf-v4.3](https://github.com/espressif/esp-idf/tree/v4.3) from expressif. I hope new [idf-4.4.1](https://github.com/espressif/esp-idf/compare/v4.3...v4.4.1) version may not ha

[2022-05-24 22:58] Asanga-Viraj opened #2514 "Some idf issues"
@mikee47
I am working on ESP32 using Sming framework. I saw few things (Win 10).

- Sming `choco install -y sming.esp32` doesn't install [idf-v4.3](https://github.com/mikee47/esp-idf/tree/sming/release/v4.3) from your repository. It installs idf-v4.1.
- Sming re-installation doesn't clean and reinstall ESP32 components.
- Saw many issues with current version such as System.restart, WiFi.Disconnect

[2022-05-26 03:38] Asanga-Viraj commented on #2514
@slaff
I found a issues in ESP32. `WifiStation.connect()` is not working. I found `esp_wifi_connect()` is not calling on this method. My suggestions are below.

- https://github.com/SmingHub/Sming/blob/4.5.0/Sming/Components/Network/Arch/Esp32/Platform/StationImpl.cpp#L120  `return esp_wifi_start() == ESP_OK;`
- https://github.com/SmingHub/Sming/blob/4.5.0/Sming/Components/Network/Arch/Esp32/Platf

[2022-05-31 10:32] github-actions[bot] opened #2517 "Manual approval required for workflow run 2414350889"
Workflow is pending manual review.
URL: https://github.com/SmingHub/Sming/actions/runs/2414350889

Required approvers: [slaff]

Respond "approved", "approve", "lgtm", "yes" to continue workflow or "denied", "deny", "no" to cancel.

[2022-05-31 10:33] slaff commented on #2517
approved

[2022-05-31 10:33] #2517 closed

[2022-05-31 10:51] #2463 closed

[2022-05-31 10:53] slaff opened #2518 "Preparation for Release 4.7.0"
This issue is created to collect all the tasks we need to do before the 4.7.0 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h.
- [x] Update Readme.md.
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.
- [x] Add upgrade document

New features
------------------
- #2499
- #2522
- #2530
- #2552
- #2584

Improvements
-------------------
- #2520
- #2523
-

[2022-06-01 11:38] slaff commented on #2514
@Asanga-Viraj thank you for your remarks.

This should be fixes today with [this commit](https://github.com/slaff/chocolatey-packages/commit/40ebba32be0ad4ea9fe393b4d4d79fa4b8577d74).

sming.esp32 should be the only package responsible for this.

We usually skip a minor version and jump to the next one. But if you have the time and desire you are free to submit a PR with the needed changes.

[2022-06-23 20:49] Matzz opened #2521 "Installer doesn't work on Linux mint"
When I try to install sming on Linux I get `Unsupported distribution` error.
I would to check if `apt` exists rather than checking if linux distro is debian.
Eg
`which apt | wc -l`

For me I solved that by adding:
[code]
to install script

[2022-06-24 07:43] slaff commented on #2521
@Matzz can you create a PR with your changes?

[2022-07-03 21:51] Matzz commented on #2521
@slaff https://github.com/SmingHub/Sming/pull/2523

[2022-07-04 09:02] slaff commented on #2521
@Matzz Thanks a lot for the PR. It is now merged.

[2022-07-11 00:34] IanAber opened #2524 "Failed to install on Mac"
Using the instructions I installed the tools and the sming source. I changed to the Basic_Blink folder to try to run the sample and executed 'make'

The script ran and downloaded a couple of submodules but then I got this error...

[code]

I tried to clean everything out and start again but got the same result.

[2022-07-11 03:11] IanAber commented on #2524
After individually downloading the missing components I now get a redefinition error.
`/Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Components/http-parser/http_parser.h:152:3: note: in expansion of macro 'XX'
  152 |   XX(511, NETWORK_AUTHENTICATION_REQUIRED, Network Authentication Required) \
      |   ^~
/Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Components/Netw

[2022-07-11 09:50] slaff commented on #2524
@IanAber can you go to the Basic_Blink sample and type:
[code]

The top part of the result is important.

[2022-07-11 11:20] IanAber commented on #2524
This is after downloading the missing components. If it would help for me to wife the sming installation and provide an output with a fresh installation let me know. Many thanks for your help.

`Basic_Blink: Invoking 'list-config' for Esp8266 (debug) architecture

** Sming build configuration **

PREREQUISITES:
CUSTOM_TARGETS:
- /Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Arch/Esp

[2022-07-11 12:05] IanAber commented on #2524
I renames the sming directory to sming_complete and then ran the git clone command to create a new one. From the new sming/samples/basic_blink directory I executed 'make' and go this...

`Basic_Blink: Invoking 'all' for Esp8266 (debug) architecture
Using configuration 'standard'
Patching /Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Components/.patches/http-parser/component.mk
Patch

[2022-07-11 12:07] IanAber commented on #2524
In the new sming directory I ran 'make list-config' and got this...

`
Basic_Blink: Invoking 'list-config' for Esp8266 (debug) architecture

** Sming build configuration **

PREREQUISITES:
CUSTOM_TARGETS:
- /Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Arch/Esp8266/Components/esp8266/sdk/bin/esp_init_data_default.bin
- /Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming/Arc

[2022-07-13 12:28] IanAber commented on #2524
Any updates on this installation problem?
Ian Abercrombie

***@***.*** ***@***.***>
Phone: +1 (352) 281-6286
www.CedarTechnology.com <http://www.cedartechnology.com/>

[2022-07-13 15:02] mikee47 commented on #2524
I think the issue could be `SMING_HOME`, final 'sming' directory should be 'Sming', i.e.

` /Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming`
NOT
` /Users/ianaber/documents/projects/ESP8266-VSCode/sming/Sming`

[2022-07-13 15:04] mikee47 commented on #2524
I think the issue could be `SMING_HOME`, final 'sming' directory should be 'Sming', i.e.

`/Users/ianaber/documents/projects/ESP8266-VSCode/sming/Sming`

NOT `/Users/ianaber/documents/projects/ESP8266-VSCode/sming/sming`

[2022-07-13 21:08] IanAber commented on #2524
My goodness! You are a bona-fide genius! How the heck did you figure that one out? Since I am running on OS X which is a case insensitive file system it never occurred to me that this might be an issue. I guess it is not getting through some of the make or python code. I fixed the SMING_HOME environment variable and it compiles the samples and my code fine now.

As a suggestion, a note stating tha

[2022-07-14 09:54] slaff commented on #2524
@IanAber can you please add the recommended changes to the documentation as PR? The documentation can be found under `docs/` and the MacOS installation guide is in `docs/source/getting-started/macos/index.rst`

[2022-08-19 12:05] kmihaylov commented on #2500
Hm, some answers here are missing.

Anyway, I'm watching esp-idf's function ```esp_wifi_stop()```. How do I properly call it from within Sming?

[2022-08-19 16:41] kmihaylov opened #2541 "Sming esp-idf esp32 toolchain path"
On my freshly installed Devuan machine, I found that the ```export.sh``` script doesn't add the xtensa's path ```/esp32/tools/xtensa-esp32-elf/esp-2021r1-8.4.0/xtensa-esp32-elf/bin/```.  The ```install.sh``` script exits normally.

My app builds normally once I add the path above to the PATH.

[2022-08-19 17:13] kmihaylov commented on #2514
@Asanga-Viraj do you have some progress on System.restart() ?

On my ESP8266 board I have to disconnect from the wifi network before calling System.restart() in order not to trigger (some) WD timer. I have to try wifi-less app with Esp32 to verify this.

[2022-08-20 07:32] mikee47 commented on #2541
The compiler isn't added to the system PATH by the installer as it depends which variant you're building on (esp32, esp32c3, esp32s3, etc.) This is handled in `$SMING_HOME/Sming//Arch/Esp32/build.mk`. To help resolve this issue it would be helpful if you could post some further details:

- Dump of errors generated
- Output from `make list-config`

Thanks.

[2022-08-20 08:12] kmihaylov commented on #2541
Good morning!

Forgive my lack of correctness in toolchain/compiler wording.

When I have manually added the compiler path (not to the login scripts, but by hand) and I have built some app, after logout/login Sming successfully compiles the app again. So maybe on the first build the magic about the compiler path happens.

Therefore I completely wiped esp32 and Sming from the disk and did it again.

[2022-08-20 12:22] kmihaylov commented on #2500
I'm answering myself. the ```esp_wifi_stop()``` and ```esp_wifi_deinit()``` functions can easily be accessed once the user adds the ```#include <esp_wifi.h>``` header to the application.cpp file.

I found that ```System.restart()``` in the Basic_Wifi example will work if the Wifi Access Point is disabled. It seems that some task continues to work if the app isn't prepared for restart leading to WD

[2022-08-20 18:51] mikee47 commented on #2500
If you'd like to suggest improvements please feel free to open a PR!

[2022-08-20 19:14] mikee47 commented on #2500
@kmihaylov If it's OK with you we should leave this issue open as it definitely needs a fix.

[2022-08-22 11:53] kmihaylov commented on #2500
Still trying to figure out why the system panics. I was quick to say the Access Point feature of the Basic_Wifi sample was the reason for the panic.

Later I found that the panic still occurs, despite the AP feature was turned off.

Actually if I use ```System.onReady()``` to turn on the Wifi (```WifiStation.enable(true)```) the panic occurs. But if the code is consecutively executed:
[code]

The

[2022-08-23 01:04] Asanga-SPLat commented on #2500
I tried to fix this while ago. Unable to do that. There is a problem in WiFi initialization on Sming. For your reference, try WiFi examples on on esp-idf-4.3. When you are calling esp_restart(); in idf code, it resets the chip perfectly. No watch dog reset.

You can change the panic result of the ESP32 by changing settings on sdk.
`make sdk menuconfig`
You can use arrows to move up and down, enter

[2022-08-23 12:28] kmihaylov commented on #2500
@mikee47

My Esp32 code used to do ```WifiStation.enable(true)``` before ```System.onReady()```. This way the Wifi is working.

I found that if I try to enable the wifi with ```System.onReady```, then it brakes.

See the code below:
[code]
This is the modified Basic_Blink (w/ networking enabled). If you comment out the ```wifiInit()``` function and use the ```onReady``` handler instead, the chip e

[2022-08-23 12:55] mikee47 commented on #2500
I suspect one problem is that when `onReady()` gets to run the WiFi stack is being 'automatically' initialised. To diagnose what's happening with the endless rebooting we need to be able to see the bootloader diagnostics by setting `BOOTLOADER_LOG_LEVEL` appropriately in the SDK config. The Sming WiFi initialisation code can be found in `Components/Network/Esp32/Platform/init.cpp`, and the station

[2022-08-23 14:59] kmihaylov commented on #2500
I set the ```BOOTLOADER_LOG_LEVEL``` to Debug.

However now some overlap occurs:
[code]

[code]

[2022-08-23 18:08] kmihaylov commented on #2500
Pretty good bug to bring me the knowledge to make arbitrary partition tables and esp-idf specific options!

I managed to make custom partition table and I learned how to change the partition table offset. Unfortunately I don't see any useful information in the debug messages.

Here I'll post all the options I changed and all the output.

Application code:
[code]

[code]

I changed the boorloader v

[2022-08-24 00:46] MayaPosch opened #2542 "[ESP8266] Sending single or dissimilar UDP datagrams does not work"
**Summary:**

* Trying to send UDP message using UdpConnection.
* When calling UdpConnection::sendStringTo() once, no message is sent (confirmed with Wireshark).
* When calling UdpConnection::sendStringTo() with a timer, all messages are sent.

**Environment:**

* Targeting ESP8266, tested on NodeMCU board.
* Using latest develop branch on Ubuntu 20.04.

**Minimal sample:**

[code]

With the procT

[2022-08-24 06:17] mikee47 commented on #2542
Thank you for such a clear and concise report! The issue is that the `while` loop block all other activity; you must not do this in Sming! See https://sming.readthedocs.io/en/latest/information/multitasking.html

If you remove this section, your code should work:

[code]

[2022-08-24 08:12] mikee47 commented on #2500
@kmihaylov The debugging I was after is actually `LOG_DEFAULT_LEVEL=5` (verbose) - sorry for misdirecting you, but glad you learned something from it!

With your sample, the WDT reset looks like this:

[code]

Looks like a semaphore is involved, so probably a deadlock somewhere. Turns out it's the event handling loop, not the networking at all! Sming doesn't use the default event loop but creates

[2022-08-24 18:05] MayaPosch commented on #2542
Obvious problem in hindsight, and I can send and receive UDP datagrams now. Using LwIP without an RTOS takes a bit more work, indeed :)

Only problem that I'm dealing with currently now is that I'm trying to receive small packets of binary data (<100 bytes), but they arrive rather mangled with sections missing and whitespace inserted.

I imagine that's an unrelated issue, though.

[2022-08-25 05:40] IanAber opened #2544 "ESP8266 Troubleshooting Make Error"
I am getting an error at the end of flashing an application to an ESP8266. The code compiles and appears to flash but finally returns an error. How can I figure out what the error means and what its cause might be? The final error is Make Flash Error 134. What does that refer to? Where can I find more information on Error 134?

[code]

[2022-08-25 10:26] #2542 closed

[2022-09-01 14:12] MayaPosch opened #2546 "Configuring WiFi credentials via captive portal"
For Arduino ESP8266 & ESP32 there is the WiFiManager project: https://github.com/tzapu/WiFiManager

This project allows for easy configuration of an ESP device by connecting to its AP and setting the WiFi credentials via a browser-based interface. This is more portable than the 'Smart Config' option. Unfortunately WiFiManager does not seem to support Sming (due to its use of Arduino-exclusive head

[2022-09-02 06:31] avr39-ripe commented on #2546
May be not completely what yo expect, but it can be a starting point https://github.com/SmingHub/Sming/tree/develop/samples/Basic_WebSkeletonApp

[2022-09-04 09:48] MayaPosch opened #2547 "Unable to mount SPIFFS partition. Porting from 3.8 to current."
**Description:**

I have an existing project that I am updating to the current development branch. So far I have updated all of the APIs, but I'm finding that it's not clear how to change the mounting of SPIFFS. This project uses an rBoot setup, targeting 4 MB ESP8266 boards, with two 1 MB firmware slots, each with an accompanying 1 MB Flash storage as SPIFFS.

Previously I would mount this SPIFFS

[2022-09-04 10:38] mikee47 commented on #2547
You can find an overview of the Storage management changes in https://sming.readthedocs.io/en/latest/upgrading/4.2-4.3.html. First and most important the hardware config needs to match your expectations. Setting `HWCONFIG := spiffs` provides only one SPIFFS partition, so you will need to create a custom config for your project. You can find an example for this in the `Basic_Storage` sample applica

[2022-09-04 13:16] mikee47 commented on #2547
@MayaPosch Sorry, posted prematurely, have updated.

[2022-09-04 21:27] MayaPosch commented on #2547
Thank you. I have added the ota.hw file from the Basic_Ota example, and am using it along with the Ota component as in the example.

Unfortunately, despite using the same code to find and mount the SPIFFS as in the Basic_Ota example, no partition is found. After adapting the code to fit the code that you gave (searching for 'spiffs0'), still no partition is found.

Partitions.bin is flashed at 0x0

[2022-09-05 11:06] mikee47 commented on #2547
I've created a PR with a few changes, should get things going!

[2022-09-05 11:42] MayaPosch commented on #2547
Thank you. I have merged and tested the changes. Unfortunately the behaviour persists: no partition called 'spiffs0' is ever found. Does this have to be defined explicitly in the partition layout as well?

[2022-09-05 11:46] mikee47 commented on #2547
`spiffs0` is defined in the base `spiffs` map. Run `make map` to check:

[code]

Have you run `make flashmap` to write the new partition table to the device?

[2022-09-05 12:59] MayaPosch commented on #2547
Probably was apparently the old build files that did not get cleaned with `make clean` or a regular build.

Before, `make map` shows the reason why 'spiffs0' was not found:

[code]

After `rm -rf out` and running `make`, I now get the following on `make map`:

[code]

I suspect it will work now. I'll report back with my findings.

[2022-09-05 13:54] MayaPosch commented on #2547
I can confirm that the firmware can now mount the SPIFFS partition and successfully read configuration files from it.

Closing this issue now as it's been resolved. Thank you very much for the assistance, @mikee47 :)

[2022-09-05 13:54] #2547 closed

[2022-09-08 12:20] kmihaylov opened #2550 "DHCP won't execute once WiFi credentials were saved"
Stuck in tricky problem that surprised me just now.

With ESP32 I use small class to handle WiFi options (set callbacks, use SmartConfig and etc).

When booting the device I can successfully set the WiFi AP and password using SmartConfig. The device connects to the network and the app works fine.

On the second reboot however the device connects to the AP, but won't execute onConnect callback. Her

[2022-09-10 06:51] mikee47 commented on #2550
0x107 is ESP_ERR_TIMEOUT, looks like it's returned from `esp_event_post_to` (in IDF `components/esp_event/esp_event.c`). There's either a problem getting hold of a semaphore, or the queue is full...

[2022-09-10 06:55] mikee47 commented on #2550
Perhaps try setting `SYSTEM_EVENT_QUEUE_SIZE` in SDK config to a larger value (say, 64) to see if that makes any difference?

[2022-09-10 07:15] mikee47 commented on #2550
Also, can you try patch in #2543 then rebuild with `make CREATE_EVENT_TASK=1` ?

[2022-09-10 08:46] kmihaylov commented on #2550
Sure, I'll try. But first I need to test with another wifi network/router to see if the problem still exists. Many thanks!

[2022-09-13 09:55] kmihaylov commented on #2550
@mikee47 I'm on #2543 and I rebuild the app with ```CREATE_EVENT_TASK=1``` and I don't see the 0x107 error. My MQTT client tries to connect, so I guess the app successfully continues execution.

I didn't change the ```SYSTEM_EVENT_QUEUE_SIZE```.

Also it restarts well.

[2022-09-13 10:12] kmihaylov commented on #2098
My latest boards seem to work relatively stable. It looks like WiFi connection states are properly announced. Connection issues can be handled in the app. So I'm closing this issue. If the problem occurs I'll investigate and reopen.

[2022-09-13 10:12] #2098 closed

[2022-09-18 12:41] MayaPosch opened #2554 "HardwareSerial::onDataReceived callback not working"
**Summary:**

With Sming version 3.8 and before I had a number of ESP8266 systems running with the primary UART connected to MH-Z14 and MH-Z19 CO2 sensors. These sensors allow for value readout on their UART interface by first writing data to it on their RX, to which they respond with the data readout on their RX.

After updating the firmware to the 4.x versions, these callbacks stopped working.

[2022-09-19 20:26] kmihaylov commented on #2554
According to the datasheet their UART is typical TX/RX?

If you connext esp's UART0 TX+RX in loopback configuration (esp's TX connected to esp's RX) you should be able to see the tx'ed commands? Might give it a try if you don't have spare board.

[2022-09-20 15:32] kmihaylov commented on #2550
I'm searching the dhcp related functions in order to put them in another task, to verify #2550. I tried to find when exactly is the DHCP client triggered, expecting it in the event handler with event ```WIFI_EVENT_STA_CONNECTED```.
The only place ```WIFI_EVENT_STA_CONNECTED``` is used is inside the ```StationImpl::startScan()``` method thas I don't use in my app.

So I grep'ed the code for ```esp_

[2022-09-20 19:17] mikee47 commented on #2550
The line `E (1131) wifi:sta is connecting, return error` might be related to PR #2474 which added auto-connect support. Perhaps try disabling auto-connect? (Parameter to `WifiStation.config`)

[2022-09-21 07:12] kmihaylov commented on #2550
Actually it is related to my code. I'm doing
[code]

Commenting out ```WifiStation.connect()``` solves the error mentioned by you.

Here is the output:
[code]

Now, the device gets a IP address, I can ping it, but none of the services that should have been run by ```onStationGotIP``` is started.

Since nobody has reported dhcpc problems I get the feeling it is something in my wifi code that isn't

[2022-09-21 08:25] kmihaylov commented on #2550
Got it working. My WifiHelper class was dynamically allocated (for some reason I moved it from static with Esp32)... Now moved it back to static, got out all Wifi functions out of the constructor and did ```start()``` in the last lines of ```init()```... The Wifi* methods I called in the constructor didn't succeed because of ```ESP_ERR_WIFI_NOT_INIT```, maybe I was lazy to get them out earlier.

I

[2022-09-21 08:25] #2550 closed

[2022-09-28 08:45] slaff commented on #2554
@mikee47 can you help here?

[2022-09-28 11:41] mikee47 commented on #2554
I tested the application and using a terminal it's clear that the outgoing messages are not being sent. I noticed that `Serial` was being intialised twice (once in `OtaCore::init` and again in `CO2Module::start`). The second initialisation was failing because of a bug in the uart driver. This should be fixed by #2560.

@MayaPosch Could you check the fix and see if it solves the problem for you?

[2022-09-29 11:14] MayaPosch commented on #2554
Thank you, @mikee47, I have tested with the current state of the develop branch and I can confirm that the CO2 sensors on all test boards are now receiving the request and the data is being received on the ESP8266's UART.

[2022-09-29 11:14] #2554 closed

[2022-10-27 09:54] pljakobs opened #2574 "can't make a member function the MessgeHandler callback"
Hi all, I have started to port an older SMING project (based on 4.2) over to the current 4.6 (mainly because I want it to compile on the esp32c3 SOC).
This project uses mqtt and more or less, follows the mqtt example from the SMING sampels, with one notable change: the mqtt code is encapsulated in an AppMqttClient class.

Therefore, the handler function is  a class member and I get a compiler erro

[2022-10-27 10:05] mikee47 commented on #2574
Use this code:

[code]

Method callbacks require two parameters: (1) a pointer to the class method, and (2) a pointer to the class instance itself.

[2022-10-27 10:12] mikee47 commented on #2574
NB. See https://sming.readthedocs.io/en/latest/upgrading/4.4-4.5.html?highlight=MqttStringSubscriptionCallback#breaking-changes

[2022-10-27 10:14] mikee47 commented on #2574
Edit: Sorry, use `setEventHandler` not `setCallback`

[2022-10-27 11:23] pljakobs commented on #2574
Hi mikee47, thanks for the quick response.
That was one version I had tried before, seeing that a bit further up, a similiar construct was being used
[code]
so, copying and pasting your code,
[code]
I get a slightly different error:
[code]
I'm sure now, that there's something important that I'm not seeing - but I'm not seeing it.

[2022-10-27 11:42] mikee47 commented on #2574
Your message handler signature needs fixing, requires `MqttClient&` (not `MqttClient`)

[2022-10-27 11:59] pljakobs commented on #2574
sigh.
that's it.
Thanks mikee47. I was blind from staring at that bit of code.
The quick help is highly appreciated.

pj

[2022-10-27 11:59] #2574 closed

[2022-11-08 09:05] slaff commented on #2541
@kmihaylov can you check if PR #2580 fixes the issue for you?

[2022-11-09 19:54] kmihaylov commented on #2541
Hi @slaff, excuse my delay.

Yes, your PR solves the problem.

Greetings!

[2022-11-10 12:05] #2541 closed

[2022-11-10 22:32] IanAber commented on #2544
I finally found the problem, or at least the solution.

I deleted the 'out' folder in the project and executed the Flash command. This time it recompiled everything and successfully ran.

I still have no idea what the error is telling me or why it should happen but even a full clean did not fix it.

[2022-11-11 08:17] slaff commented on #2518
@mikee47 do you think you can your https://github.com/mikee47/DiskStorage and https://github.com/mikee47/Sming/tree/feature/fatifs to this release before December?

[2022-11-11 14:50] IanAber opened #2581 "Setting DEBUG_PRINT_FILENAME_AND_LINE not working correctly"
If I set DEBUG_PRINT_FILENAME_AND_LINE=1 I get the line number in the debug output but NOT the file name. For example...
`[:44] Found 11 access points:

[:47] Starting the access point
mode : sta(2c:3a:e8:17:87:57) + softAP(2e:3a:e8:17:87:57)
add if1
dhcp server start:(ip:192.168.4.1,mask:255.255.255.0,gw:192.168.4.1)
bcn 100
[:92] AP configuration loaded
[:314] scan completed: 11 found`

[2022-11-11 15:00] slaff commented on #2581
@ADiea do you want to look at this issue?

[2022-11-13 02:42] IanAber opened #2583 "Problem with Cisco 140AC access point."
I have several devices based on ESP8266 which have been running perfectly until I installed a set of Cisco 140AC access points. Being Cisco I assumed they would be trouble free but they have upset the ESP8266.

The devices all have a small WEB site on them to allow me to configure them for WiFi credentials and to manage the things they control. They also provide data in the form of JSON via a numb

[2022-11-14 09:44] slaff commented on #2583
This might be due to the TCP Maximum segment size (TCP_MSS). You can try to change it and test. What you can do is edit
the following file `$SMING_HOME/Arch/Esp8266/Components/esp-open-lwip/esp-open-lwip/include/lwipopts.h` and change the value of `#define TCP_MSS                        1390` to something higher or lower.  Once ready with the changes in the file you have to recompile the lwip pack

[2022-11-14 14:17] IanAber commented on #2583
Many thanks for the speedy response. You guys are top notch!

I looked at the header file and the comment told me that the default should have been set to 536 but it was actually set to 1390. I did not make that change so I assume it had been done in the distribution some time ago. I changed it to 536 and the system seems to be working now. I have not updated all of the devices because one has bee

[2022-11-15 08:55] slaff commented on #2583
I guess the LWIP stack and Cisco cannot correctly negotiate a MSS value. My blind guess is that Cisco is deeming 1390 as too high or not matching some criteria and suggesting another value. And may be here the LWIP stack is not flexible enough to use the suggested value.
You can run Wireshark on your laptop, sniff you WIFI connection (using promiscuous mode) and then see what is happening with the