[2016-10-28 08:07] slaff commented on #785
@hreintke That is present in esptool since the latest versions. If there is a huge win in using the `mongoose-flashing-tool` and it does not require big refactoring may be we can add it to SmingRTOS.

[2016-10-28 08:12] slaff commented on #783
@hreintke @anakod My idea is to finish all current PRs. After that PRs adding new drivers will be redirected to SmingRTOS. PRs improving the existing Sming code will be welcomed and migrate to RTOS (as long as they are relevant there).

[2016-10-28 11:56] itarataiko opened #786 "Basic_WebSkeletonApp Fatal exception (28)"
Hi,
I'm trying to run Basic_WebSkeletonApp.
After flashing code I see next exception:

Killing Terminal to free /dev/tty.usbserial
/Volumes/case-sensitive/esp-open-sdk//esptool/esptool.py -p /dev/tty.usbserial -b 115200 write_flash -ff 40m -fm qio -fs 4m 0x00000 out/firmware/0x00000.bin 0x09000 out/firmware/0x09000.bin 0x48000 out/firmware/spiff_rom.bin
esptool.py v1.2-dev
Connecting...
Running Ce

[2016-10-28 11:58] itarataiko commented on #786
I'm using this board for prototyping http://www.elecrow.com/esp8266-iot-board-p-1591.html

[2016-10-29 06:51] itarataiko commented on #786
after commenting startWebServer(); in the init() app starts without exception

can anybody help me?

[2016-10-29 07:23] avr39-ripe commented on #786
There is some bugs in Sming core networking. I will point you bit later where fix them, from mobile so very restricted..

[2016-10-29 08:44] itarataiko commented on #786
Thanks for your answer! I'll wait for the fix

[2016-10-29 12:33] avr39-ripe commented on #786
Hmm.. can't reproduce your issue.. Checkout recent Sming/develop, rebuild sming, rebuild Basic_WebSkeletonApp, make flashinit, make flash and it just works.. As after flashinit there is no saved configuration, so app just starts own AP with no auth.. then you can connect to device webui and enter ssid/passwd of you wifi network. then it connects to you wifi network in STA mode and shuts down own A

[2016-10-29 12:39] avr39-ripe commented on #786
Also look at my PR #668 and #669

[2016-10-29 12:51] itarataiko commented on #786
thanks for your help.
I'll try once more on Monday morning and write about my results.

[2016-10-29 13:23] avr39-ripe commented on #786
Ah, SmingNONOS.. I test it under SmingNONOS.

[2016-10-29 13:31] itarataiko commented on #786
hmmm.. and how will I test this sample?

[2016-10-29 13:41] avr39-ripe commented on #786
What is the problem to test? There are two SDK for eso8266 - one RTOS-based and one nonos.. So here are two Sming versions, simple Sming or SmingNONOS (it is THE SAME, just different name!!) and SmingRTOS. I said that i test app useing Sming = SmingNONOS, not SmingRTOS.. :)

[2016-10-29 13:43] itarataiko commented on #786
I tested it with simple Sming too yesterday :)
ok, I'll test it once more and write about results

[2016-10-29 19:53] Matheus-Garbelini commented on #785
@slaff Thank you a lot. Actually when you said about using the normal esptool in python I didn't understood, because, as i'm using your sming branch (the most updated in my opinion) I can just use esptool2, if I change the makefile configuration to esptool.py path will it work?

[2016-10-29 20:59] Matheus-Garbelini commented on #786
hey @itarataiko how did you managed to use esptool.py with sming with its makefile? I Could only use esptool2 that is supported and documented in sming. There's some place in sming that tells how to configure it to the makefile automatically use python esptool? I didn't find anithing. Thanks

[2016-10-30 14:21] MartinHerren commented on #786
I try to migrate a project to use Sming, using the Basic_WebSkeletonApp as a template, and I have the same issue since a few weeks. On development and master branch, just tested it again with today's dev branch:

    Fatal exception (28):
    epc1=0x4000228b, epc2=0x00000000, epc3=0x00000000, excvaddr=0x000000b5, depc=0x00000000

If i understand correctly it's a memory access violation, code at 0x

[2016-10-30 14:34] avr39-ripe commented on #786
I use recent SmingNONOS develop branch + espressif sdk 1.5.4 + esp-alt-sdk
as gcc 5.x compiller under linux/freebsd.. and all seems to work.

2016-10-30 16:22 GMT+02:00 Martin Herren <notifications@github.com>:

[2016-10-30 14:49] itarataiko commented on #786
@MartinHerren under which OS are your try to compile this app?

[2016-10-30 15:01] itarataiko commented on #786
I try to compile under MacOS.

[2016-10-30 18:33] MartinHerren commented on #786
For my part under Linux.

Did some more testing. I followed the quick start guide from https://github.com/SmingHub/Sming/wiki/Linux-Quickstart so i was using the latest SmingNonOS along with the latest ESP-OpenSDK.

As without Sming my project used an older OpenSDK i tried the same with Sming and it worked. Pulling commit from january this year based on SDK 1.4.0 works. Current SDK defaults to ver

[2016-10-31 07:03] MartinHerren commented on #786
So latest git pull of esp-open-sdk works if you replace

    VENDOR_SDK = 2.0.0

with

    VENDOR_SDK = 1.5.4

in the top level Makefile.

@itarataiko if you used latest esp-open-sdk too, try that, recompile esp-open-sdk, Sming and your code and check again.

[2016-10-31 07:32] itarataiko commented on #786
@MartinHerren thanks for your help! after changing VENDOR_SDK = 2.0.0 with VENDOR_SDK = 1.5.4 and recompiling all sdk's my code working well!

once more Thanks for help!

[2016-10-31 07:58] #786 closed

[2016-10-31 10:19] slaff commented on #758
@vortex314 It is possible to set the parity manually. For example you can use a function like this:

[code]
For details look in your sdk  folder for `driver_lib/driver/uart.c` and `sdk/driver_lib/include/driver/uart.h`.

[2016-10-31 10:43] slaff commented on #775
@namlunoy Can you report the latest status of the issue on you Mac?

[2016-10-31 10:45] slaff commented on #760
@DominicMe can you report the current status of issue? Are the WDT resets still there?

[2016-10-31 11:29] DominicMe commented on #760
@slaff I haven't tried, will have to give it a try again. I assume there was an update, was it the sample of the framework or both?

[2016-10-31 14:11] fernandomorse opened #788 "Delegate attachInterrupt"
I need an example for code: attachInterrupt (GPIO, interrupt CONFIG, LOW); using delegate.

[2016-11-02 09:48] hreintke commented on #788
@fernandomorse :
There is a basic_delegates example which shows the generic use of delegates.

Noticed that we missed the tyedef in the attachInterrupt,.

For attacheInterrupt it you can use would be like
[code]
In the class code you can then use :
[code]

[2016-11-02 18:24] fernandomorse commented on #788
Grateful, realized changes in interrupt.h. Working perfectly.

Please, close topic.

[2016-11-03 07:46] #788 closed

[2016-11-03 18:51] juppin opened #792 "RCSwitch.send() causes wdt reset"
Hello developers,

the Library RCSwitch is not fully optimzed for Sming.
Mostly all calls in my project to the send(code, codeLength) function of the Library RCSwitch causes a reset through wdt.
I have tried to disable the wdt with WDT.enable(false) and system_soft_wdt_stop(), but my esp8266 is still reseted by wdt.

I think the delays in the Library causes the reset.

I have also tried to set the

[2016-11-06 07:01] pumpindex commented on #675
it mat be useful;
http://arduino.stackexchange.com/questions/12587/how-can-i-handle-the-millis-rollover

[2016-11-11 13:48] Deeenis opened #797 "HttpServer causes WDT Reset"
Followed the installation:
https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart

Tried out this example:
https://github.com/SmingHub/Sming/blob/develop/samples/DNSCaptivePortal/app/application.cpp

Nothing happens, stripped down all code, and ended up with only:
`#include <user_config.h>
#include <SmingCore/SmingCore.h>

Timer procTimer;
HttpServer server;

void loop() {
	Serial.println("Hello

[2016-11-14 10:34] slaff opened #799 "Preparation for Release 2.1.5"
This issue is created to collect all the tasks we need to do before the 2.1.5 Release.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h & Update Readme.md #804
- [x] Tag the source code

### Pending PRs
- [X] Merge Docker add-ins to the Wiki documentation
- [x] Redundant externs #798
- [x] BMP image displayed on ScreenTFT_ILI9340-ILI9341 in sample project #582

### Statistics

- [ ] We sh

[2016-11-14 10:39] slaff opened #800 "[ ] Preparation for Release 3.0.0"
This issue is created to collect all the tasks we need to do before the 3.0.0 Release (Was 2.2.0 but this release contains so much useful features and fixes that it deserves a major version).

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#836)
- [x] Update Readme.md (#836)
- [x] Tag the source code

### Pending PRs
- [x] Better structure and usage of third-party repositories #793
- [x

[2016-11-14 10:42] slaff commented on #766
@iNiSiRe The websocket client is under development. You can follow the discussion from here: https://github.com/SmingHub/Sming/pull/795

[2016-11-14 10:42] #766 closed

[2016-11-14 23:24] MartinHerren commented on #799
I successfully built my app using the provided docker. I can't get the same binaries (beside the spiffs) as using my own container even if i use the same sdk and sming versions. But as my base image is debian 8 with gcc 4.9 instead of 4.8 that could explain that the generated toolchain diverges somewhat.
But
 - building
 - flashing
 - running

the firmware works with the provided container. Openen

[2016-11-15 09:25] #715 closed

[2016-11-15 22:34] fernandomorse opened #803 "Write Firmware Sming ESP8266 model Esp-01"
I'm trying to write the Sming firmware on the Esp8266 model Esp-01 e Esp-12. I made the modification in the Makefile-user.mk file:

## Configure flash parameters (for ESP12-E and other new boards):
SPI_MODE = dio
SPI_SIZE = 1024

and

## Configure flash parameters (for ESP12-E and other new boards):
SPI_MODE = dio
SPI_SIZE = 512

Under both conditions it presents the following error:

[code]

What

[2016-11-16 07:20] slaff commented on #803
[code]
Most probably you do not have write access to /dev/ttyUSB0. Either try to flash as `root` user or add your current user to the `dialout` group. It can also be that the device is not in FLASH mode.

[2016-11-16 07:59] hreintke commented on #803
Know in my case it is windows but...

I get this message when another program (putty,...) is using the port on which the esp is connected.

[2016-11-16 12:52] flexiti commented on #803
or ESP is not in programming mode seting by pin

[2016-11-16 14:24] braindamagedman commented on #630
I think it was power supply problem. After i stopped to use socket breadboard problem disappeared.

[2016-11-16 17:36] fernandomorse commented on #803
Let's step by step:
My user is already part of the dialot group, even when running as root, the error happens;

There is no program accessing the port that the esp is connected, I do not use putty;

Yes, Esp is in the firmware recording mode, I'm using FTDI232, with the following ESP x FTDI pinouts:

ESP FTDI
TX RX
RX TX
VCC VCC
CHPD VCC
GPIO0 GND (Enable Firmware Recording Mode)
GND GND

Using th

[2016-11-16 21:50] flexiti commented on #803
Windows or Linux ?
You are using esp-open-sdk, I'm not familiar with this.
I am using windows and espressif (esptool.exe) and rboot:

and all is ok

[2016-11-16 21:57] fernandomorse commented on #803
Dear flexiti
I'm using esp-open-sdk on linux platform.

[2016-11-21 08:25] icodk opened #807 "Serial.readString() cause en exception if called reapeatedly"
I use Serial.readString() to empty the serial receive buffer (is there a better way of doing it ?).
Happen to call it by mistake two consecutive times and got en exception.
`Serial.readString() ;
Serial.readString() ;`
Calling only two times might succeed, to be sure to get en exception add one more  call to Serial.readString() ;
I am using SDK 1.5.3 and sming  2.1.0

[2016-11-21 09:13] slaff commented on #799
Basic Blink statistics:
[code]

[2016-11-21 09:13] #799 closed

[2016-11-21 19:37] hreintke commented on #807
@icodk :
Don't know what exception you get but readString() goes into a busy loop when characters are still needed when buffer is empty, Can cause WDT reset.

[2016-11-21 23:01] icodk commented on #807
Might be a wdt time out.  It takes just over 2 seconds to reboot
msg I get is:
`ts Jan  8 2013,rst cause:2, boot mode:(3,6)`

[2016-11-22 10:51] slaff commented on #807
@icodk The default read timeout is 1 second.  The software watchdog resets after roughly 2 seconds.
If you call twice Serial.readString() without resetting the software watchdog you will reach the 2 seconds and the WDT will reset the application. What you can do is something like this
[code]

That is a good question. The following *might* work and should be blazingly fast:

[code]

[2016-11-22 11:06] icodk commented on #807
@slaff
Thanks, will try it out.
May be should be added instead of the empty void HardwareSerial::flush() ?

[2016-11-22 14:22] harry-boe commented on #775
Ok here are my findings ..  This is for macOS 10.12 Sierra.
Before that downloading the rebuild toolchain works just fine.

The process as described by @lucas-bremond is outdated. I did that exact same thong more than a year back.

It will likely report missing help2man packages etc ..
Also the SED patching is no longer required.

What worked for me was strictly following the description on github

[2016-11-23 14:47] slaff commented on #807
@anakod Are you familiar with emptying the UART 0 receive buffer? Can you add a function to HardwareSerial that empties the receive buffer?

[2016-11-23 16:30] hreintke commented on #807
@slaff :
Received uart chars are placed into RcvMsgBuff &rxBuf = UartDev.rcv_buff;
setting both rxBuf.pReadPos and pWritePos to rxBuff->pRcvMsgBuff empties the buffer.
On flush() : I would expect that to flush the output buffer, not the inputbuffer.

[2016-11-23 16:50] slaff commented on #807
@hreintke Thanks. And I completely agree with you about flush. Is SmingRTOs having already a method that does this? If not can you suggest some name that is "consistent" with the Arduino naming?

[2016-11-23 17:24] hreintke commented on #807
No there is no option for that in SmingRTOS.
AFAIK there is no common Arduino name.
Be aware to that the result of emptying can be very short lived. There is even no guarantee that the buffer is actually empty at return of the function. A new char can already be arrived just before the actual return.

Emptying the buffer in application code can easily be done by  :
`While Serial.availbable() { Ser

[2016-11-24 10:18] slaff commented on #738
@Thijs-Riezebeek I don't think this is possible out-of-the-box and is out of the scope of Sming. But I am pretty sure that it is possible to implement with some efforts.

[2016-11-24 10:18] #738 closed

[2016-11-24 10:19] slaff commented on #733
@johndoe8967 @hobby16 The latest develop version has support for using custom PWM based on Stefan Bruens PWM.

[2016-11-24 10:19] #733 closed

[2016-11-24 10:21] slaff commented on #547
@Informatic With the latest version in git that should have been fixed. Can you check and tell us if it is working for you? You can test it with the Basic_HardwarePWM example. See free to reopen this ticket if the issues are still there.

[2016-11-24 10:21] #547 closed

[2016-11-24 10:23] slaff commented on #751
@cmarrin If you think that can help other developers please make a Pull Request and we will review it.

[2016-11-24 10:23] #751 closed

[2016-11-24 10:30] slaff commented on #745
@rahmanih Sming's license is LGPL. It means that if you make changes to Sming you must release them under LGPL. But if you only use Sming as a library without modifying it then there is no problem including it in your proprietary application. As long as there is a clear separation between Sming and your application AND you have specified that you are using Sming with link to the github repo then e

[2016-11-24 10:30] #745 closed

[2016-11-25 08:59] flexiti commented on #757
Similarly:
SPIFF_SIZE      ?= 524288
 SPIFF with 6 files (HttpServer_ConfigNetwork example)
 plus 1 text file added by these demo
FTP connection:

[code]

[2016-11-25 09:18] flexiti commented on #757
[code]
.text._ZN13TcpConnection6onSentEt
                0x4023be18       0x3d c:/tools/sming/Sming/compiler/lib/\libsming.a(TcpConnection.o)
                                 0x41 (size before relaxing)
                **0x4023be1c                TcpConnection::onSent(unsigned short)**
 *fill*         0x4023be55        0x3
 .text._ZN13TcpConnection9onReceiveEP4pbuf
                0x4023be58

[2016-11-25 10:12] hreintke commented on #783
@slaff @anakod :
Seeing the recent deviations between SimgNONOS and SminRTOS I do not feel it is feasible to keep them in sync.
Because of that, I will stop supporting/adding functionality to the SmingRTOS repository.
For my applications I started the migration to Arduino-ESP8266 with AsyncTCP/AsyncWebServer. That will provides a similar async network framework as Sming and a common codebase for m

[2016-11-25 10:15] slaff opened #813 "make Basic_HwPWM is failing on MacOS X"
Steps to reproduce:

[code]

The compilation fails with
[code]

Workaround for the moment is to compile Basic_HwPWM in two steps, as shown below

[code]

[2016-11-26 06:13] kwis2 opened #815 ""write to files hangs ESP8266-01 module" - SPIFFS version problem"
according to https://github.com/nodemcu/nodemcu-firmware/issues/1452 and follow, there was problem in SPIFFS - especially v 0.3.3 used by SMING. It was solved in current SPIFFS version 0.3.6. could you please update SPIFFS in current SMING

[2016-11-26 21:25] slaff commented on #815
@kwis2 Can you test PR #816 and tell us if it is working for you?

[2016-11-27 13:49] riban-bw opened #817 "Basic_Ssl sample failing to compile"
The basic ssl sample project is failing to compile. make is complaining about multiple definition of 'millis'.

[2016-11-27 14:12] STwilight commented on #757
After manual updating Sming core to last release version (2.1.5) I also got this exception (Fatal exception 9(LoadStoreAlignmentCause)) on standard FTP server example with no changes in it's code.
The same code works perfect on 2.1.0 Sming core version.
Seems other things (like HTTP Server), works well on 2.1.5.

[2016-11-27 17:31] slaff commented on #817
@riban-bw Thanks for reporting the issue exactly in the form above. It gave me a very good idea for a series of FAQs. The first one, based on your report, will be:

** Sample X does not compile! What shall I do  **
The first thing that you need to do is to make sure that you have a clean source code.
And second if the sample is still not compiling you have to provide us with more information.

Let

[2016-11-27 17:37] slaff commented on #783
@hreintke I am sad to hear that :( I would like to thank you for your help, valuable advices and source code contributions. The party is [just starting](https://github.com/SmingHub/SmingRTOS/issues/140) so make sure to be around :)

[2016-11-27 22:56] riban-bw commented on #817
Thanks Slaff. First, note that your instruction to
`cd /tmp/SmingForTest/Sming/samples/Basic_Ssl`
should actually say
`cd /tmp/SmingForTest/samples/Basic_Ssl`

Output from make within Basic_Ssl directory:

``C+ app/application.cpp
AR out/build/app_app.a
LD out/build/app.out
/home/brian/src/esp-open-sdk/sdk/lib/libmain.a(time.o): In function `millis':
(.irom0.text+0x94): multiple definition of `mil

[2016-11-28 08:45] slaff commented on #817
@riban-bw I can see that some functions are already defined in the SDK that you are using. I can also see that this is esp-open-sdk. Can you send me the version of the SDK and *"...operating system & version, git version, make & version, so that the developers can reproduce your problem..."* ?

[2016-11-28 09:52] slaff commented on #813
Fixed with PR #818.

[2016-11-28 09:52] #813 closed

[2016-11-28 18:13] riban-bw commented on #817
SDK version: ESP8266_NONOS_SDK_V2.0.0_16_08_10.
Operating system: Ubuntu Server 16.04 x86 32-bit running within VirtualBox.
(This also happens on a Raspbian Jessie Lite installation.)
git version: 2,7,4.
GNU make version: 4.1.

I followed the installation instructions on the Sming wiki here: https://github.com/SmingHub/Sming/wiki/Linux-Quickstart

$SDK_BASE is not set in my login environment. I be

[2016-11-28 20:19] slaff commented on #817
@riban-bw Version 2.0.0 is not supported. I can see also that this version comes with `time.o` inside of the library archive libmain.a.  You should use SDK 1.5.x or 1.4.x.

In the [Linux-Quickstart](https://github.com/SmingHub/Sming/wiki/Linux-Quickstart) replace the command `make STANDALONE=y` with `make VENDOR_SDK=1.5.4 STANDALONE=y`.

[2016-11-28 21:42] riban-bw commented on #817
Okay - that fixed it. I have updated the wiki to match.

[2016-11-28 21:42] #817 closed

[2016-11-29 19:12] icodk commented on #807
There could be use cases where it is beneficial to clear the buffer. For example: a system with a keypad without a display, or half duplex communication to another system. Anyway we now have a way to do it.
so we can close this question from my side.

[2016-11-29 19:45] icodk opened #820 "Sming and SDK compatability"
I just tried a fresh manual (can't use Chocolate on WindowsXP) Sming installation by downloading
the SDK from http://programs74.ru/ which is now in version 2.2.1 and is based on the ESP8266_NONOS_SDK_V2.0.0_16_07_19
From #817 I leraned that Sming is not compatible with ESP8266_NONOS_SDK_V2.0.0_16_07_19 . However this is the version that is going to be downloaded from http://programs74.ru/
May be i

[2016-11-30 08:26] #807 closed

[2016-12-04 12:06] ZeevG opened #822 "X.509 and AWS IOT support"
I noticed recently that ssl support for mqtt was added which is really cool. Is this compatible with the X.509 authentication protocol that AWS IOT uses? It seems quite similar, both public key systems, but AWS never actually refer to it as SSL.

[2016-12-04 15:37] Informatic commented on #547
Ok. Sitting down now to test it... I'll update you later today.

[2016-12-04 16:07] Informatic commented on #547
Ok, everything seems to be fine now and latency stays around 8-10ms when publishing to broker also connected via wifi. Thank you very much.

[2016-12-04 16:28] Informatic commented on #547
Ok. Nevermind. I'm an idiot. Forgot about changing SMING_HOME and tested it again with my own patches.

Test code I posted in the issue still has random 200ms ~ 900ms latency on develop branch.

[2016-12-04 20:29] slaff commented on #822
[X.509](https://en.wikipedia.org/wiki/X.509) is important part of SSL that is related to the methodology used for trusting a certificate. And as such it is also part of the SSL that we have and that comes with axTLS.

[2016-12-04 20:30] #815 closed

[2016-12-04 21:32] slaff commented on #800
@alonewolfx2 @robotiko Can you test the Basic_Neopixel sample from the latest source code and tell me if it is working on your devices?

[2016-12-05 12:36] slaff commented on #768
@crosofg Did you make sure that spiffs FS is generated and flashed on the device?

[2016-12-05 12:48] slaff commented on #744
@johndoe8967 That issue should have been fixed in the latest source code. Feel free to reopen the ticket if the HttpServer_WebSocket is still not working for you.

[2016-12-05 12:48] #744 closed

[2016-12-05 15:28] harry-boe commented on #777
The SPI implementation supports only master mode right now.
Slave mode is a completely different story as you need to handle interrupts when traffic comes.
If you like to do it the espressif sdk (examples/peripherial_test) would provide a starting point.

What is the setup where you need slave mode?

[2016-12-05 15:31] harry-boe commented on #800
i still struggle with the toolchain after the OSX Sierra update.
Maybe someone can point me to some instruction on how to use the Docker container to get around the OSX issues ?

[2016-12-05 15:49] slaff commented on #800
@harry-boe Read the documentation: https://github.com/SmingHub/Sming/wiki/Docker-Quickstart.

[2016-12-06 08:37] #822 closed

[2016-12-06 08:38] slaff commented on #803
@fernandomorse Feel free to reopen the ticket is you have more information related to this issue.

[2016-12-06 08:38] #803 closed

[2016-12-06 08:38] slaff commented on #792
@anakod Can you take a look at that issue?

[2016-12-06 08:39] slaff commented on #768
@crosofg Feel free to reopen the ticket is you have more information related to this issue.

[2016-12-06 08:39] #768 closed

[2016-12-06 08:41] #709 closed

[2016-12-06 08:42] slaff commented on #474
@robotiko Feel free to reopen the ticket is you have more information related to this issue.

[2016-12-06 08:42] #474 closed

[2016-12-06 16:23] slaff commented on #757
@DominicMe The current version has WDT fix for the FTPserver issues. Please, check and if it is not working for you, feel free to reopen the ticket.

[2016-12-06 16:23] #757 closed

[2016-12-06 16:27] #785 closed

[2016-12-06 16:30] slaff commented on #815
@kwis2 Should be fixed in the latest version with this commit 19d977a6a1267e7429ddd9c9eedf6266149e3b48. Give it a try and tell us if it is working for you.

[2016-12-06 21:39] kwis2 commented on #815
with commit 19d977a program works from the first run :)))
thanx @slaff

[2016-12-07 07:37] flexiti commented on #757
@slaff
Can You show me which patch pls ?

[2016-12-07 07:46] slaff commented on #757
@flexiti This one 19d977a6a1267e7429ddd9c9eedf6266149e3b48.

[2016-12-07 08:02] flexiti commented on #757
Thanks @slaff
ps
Every time when we use WDT refresh, it means that we pauses "internal" functions of ESP which can cause future errors related with eg. TCP, timers etc.
Engineers ESP expressly cautioned not to occupy the CPU for more than 500 ms in one event.
If we need to refresh the WDT,it means that we occupy processor for a few seconds.
(internal functions implemented by the manufacturer do no

[2016-12-07 11:28] slaff commented on #792
@juppin Can you can get the latest version of the source code, completely rebuild Sming and your application? When it gets reseted by WDT it will dump stack information. Decoded that information and paste the decoded information here.

[2016-12-07 11:56] slaff commented on #797
@Deeenis I had the same issue as you. What you need to do is first erase the flash that you have:

[code]

And then upload the new firmware. It should be working flawlessly.
Feel free to reopen the ticket if you still have that issue.

[2016-12-07 11:56] #797 closed

[2016-12-07 12:07] slaff commented on #800
@anakod Can you check if the Radio_RCSwitch sample is working on a real device with the latest code? It would be great if you can help us test other samples that have unknown status in the list above.

[2016-12-07 16:42] kwis2 opened #828 "IOT deepSleep example for Sming"
I am wondering how to ask ESP to lower used power. Especially how to use deep sleep to get lowest possible power.
I wasn't able to find any example in Sming, there is complicated example of deep sleep - IOT_demo in Espressif.
Would it be possible to make in Sming simple deepSleep demo for beginners? for instance like wake up. connect to Wifi, HTTP post data and then deepSleep.
With old issues I ha

[2016-12-08 21:38] Matheus-Garbelini commented on #694
Hello, i can't compile your example with the branch you supplied. Could you try to update sming to the latest version, so we can compile your example with the updated Sming? Or could i just replace some Sming core files to match the modifications you did? if yes, wich files? Thanks

[2016-12-09 10:04] slaff opened #829 "We need logo for the project."
We are looking for a logo for the project. If you have suggestions make sure to put them as comments to this issue.

[2016-12-11 12:39] gbl08ma opened #830 "Increased TCP connection memory usage even with SSL disabled"
Recently, SSL support was added to Sming. This is a good addition, and because it noticeably increases memory usage, it can be disabled at compilation time. However, I noticed that my programs would use more memory when linked against the develop branch, **even with SSL disabled**, so I decided to investigate. Turns out that some classes like TcpConnection just became much larger (in terms of memo

[2016-12-12 08:49] slaff commented on #830
Can you be more specific: which memory do you mean? Is it the flash memory, is the heap is it the IRAM size? Please, include in your answer also the tools/commands that you've used to measure that.

You are welcome to provide fixes that improve this :)

[2016-12-12 09:02] gbl08ma commented on #830
I meant heap usage. It's possible IRAM usage has increased too but I didn't check. I did not check (nor do I particularly care) if the binary size (flash memory usage) has increased, but I suppose it has increased at least a little bit since now instantiating those classes requires a bit more work.

I'm working on these fixes as time allows.

[2016-12-12 10:36] slaff opened #831 "ESP32-IDF compatability"
This issue is created to collect all the tasks we need to do in order to create a [ESP32-IDF](https://github.com/espressif/esp-idf) compatibility layer.

We would like to estimate if it is feasible to migrate Sming and use it on ESP32 devices with the goals that we have set.

[code]

# Goals
- [ ] Same code base. Adding feature/code changes to ESP8266 version should be easy to use directly in ESP3

[2016-12-14 08:43] itarataiko opened #833 "Problem building existing projects with latest git sources from develop branch"
Hi,
I've received latest git sources and can't compile my existing sources.
Can you help me?

/Volumes/case-sensitive/esp-open-sdk//sdk/lib/libmain.a(app_main.o): In function `user_uart_wait_tx_fifo_empty':
(.irom0.text+0x354): undefined reference to `__wrap_system_restart_local'
/Volumes/case-sensitive/esp-open-sdk//sdk/lib/libmain.a(app_main.o): In function `user_uart_wait_tx_fifo_empty':
(.irom

[2016-12-15 06:59] slaff commented on #833
@itarataiko Try the following:

[code]

[2016-12-16 15:55] malachib commented on #127
I'm thinking of bringing in bits at a time for my own projects using esp-open-rtos.  It seems the best approach would be to #ifdef relevant parts in a forked version of the Sming repo and pull request it back again, rather than the noble effort by @hreintke to maintain a completely separate repo.

pros:

* easier path to mature and up-to-date code

cons:

* uglifies some existing framework code wi

[2016-12-17 07:38] slaff commented on #127
@malachib That sounds great. Just make sure to target your efforts towards ESP32-IDF #831.

[2016-12-17 16:49] malachib commented on #127
@slaff that would be an ideal.  I conjecture ESP-IDF and esp-open-rtos bear far more similarities than differences and if so, combining and/or aligning such efforts makes a lot of sense.  Seems to me choosing and policing a branching/merging strategy is more important than usual for this scenario.

[2016-12-17 23:32] Matheus-Garbelini commented on #777
@harry-boe I need a simples setup like what esp8266 core SPISlave currently have:
https://github.com/esp8266/Arduino/tree/master/libraries/SPISlave

It trigger an interrupt Avery 32bytes (i guess). If im not mistaken, me-no-dev configure the spi using the DMA to handle the data transfer. Please, Look forward to this kind of implementation on sming as it would certainly increase sming Framework to

[2016-12-19 07:05] malachib commented on #127
Interesting relevant discussion here http://www.esp32.com/viewtopic.php?t=362

[2016-12-19 10:00] itarataiko commented on #833
thanks for your help

[2016-12-19 10:00] #833 closed

[2016-12-24 06:22] #800 closed

[2016-12-26 07:52] tonnyyu opened #837 "libat doesn't work with sming"
I've tried to use at command module, I linked libat with sming app and it's succeed, but seems that the at_init doesn't work, doesn't anyone know how to integrate it?

[2016-12-27 16:18] GarageGadget opened #840 "SSL Build issue"
Hi,

The Sming library builds successfully when using 'make all' however when building using the SSL option 'make ENABLE_SSL=1' the build fails.

I have added the requested third parties dependencies to the third-party directory.

OS = Windows 10
GCC = GCC V.5.1.0
Sming = V 3.0.0
Espressif= V1.5

**Build Output - Start**

make ENABLE_SSL=1
make[1]: Entering directory `/c/tools/sming/Sming/third-pa

[2016-12-27 17:09] slaff opened #841 "Windows Compatibility"
With the latest release there are issues related to the Windows compilation (with UDK from cherts). Some of them are:
* SSL compilation fails ( #840 )
* PWM compilation fails because uint32 and unin32_t are different types?! Most probably uint*_t types are not defined. (#842)

[2016-12-28 08:57] slaff commented on #840
@GarageGadget Can you tell me the values of these environment variables:
[code]

Which is the SDK that you use? Is it UDK, is it esp-alt-sdk? Is it self-built?

Can you run the make command with `make ENABLE_SSL=1 V=1`  and paste the output here?

[2016-12-28 09:10] GarageGadget commented on #840
Environment Variables

C:\Windows\system32>echo %ESP_HOME%

c:\Espressif

C:\Windows\system32>echo %SMING_HOME%

C:\tools\sming\Sming

C:\Windows\system32>echo %path%

C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow;C:\Program Files (x86)\Microsoft SDKs\F#\4.0\Framework\v4.0\;C:\Program Files (x86)\MSBuild\14.0\bin;C:\Program Files (x86)\Micros

[2016-12-28 09:35] slaff commented on #840
@GarageGadget I think I spotted the issue:

Under my test env I got the following:

[code]

While you got the following

[code]

When I compared them carefully I saw that your include path is wrong: it is ` -I/include` when it should be `-I /c/Espressif/xtensa-lx10
6-elf//include`

Looking at the axtls makefile I can say that your `XTENSA_LIBS`  variable is not set correctly

[code]

Can you do th

[2016-12-28 10:55] GarageGadget commented on #840
Make file changes made as requests

C:\tools\sming\Sming>make ENABLE_SSL=1 V=1

mkdir -p out/build/system

mkdir -p out/build/system/helpers

mkdir -p out/build/Wiring

mkdir -p out/build/SmingCore

mkdir -p out/build/appinit

mkdir -p out/build/SmingCore/Network

mkdir -p out/build/SmingCore/Platform

mkdir -p out/build/Services/ArduinoJson

mkdir -p out/build/Services/CommandProcessing

mkdir -p

[2016-12-28 12:56] GarageGadget commented on #840
After further investigation I found that the lwipr_compat.h is not in the axtls-8266\compat folder.

Further I downloaded lwirax from https://github.com/attachix/lwirax and copied the contents to axtls-8266\compat and re-built using make ENABLE_SSL=1 V=1 which progressed pass the lwirax dependencies.

However a new dependency is missing netdb.h referenced from os_port.h.

Please send me a list of

[2016-12-28 19:20] GarageGadget commented on #840
Further diagnostic testing shows that Sming "Tasty" branch builds successfully using "make ENABLE_SSL=1".

[2016-12-28 19:51] jgaNet opened #843 "WebSocketClient connection on own websocket server"
Hi,

I'm trying to connect my WebSocket client from ESP8266 to my own Golang Websocket (https://github.com/gorilla/websocket) server through NGINX.

When i tried to connect to  ws://echo.websocket.org it's successful.

But with my own server i have this error :

TcpConnection::staticOnReceive: pbuf is NULL .

And server side, i can read headers from handshake:

GET / HTTP/1.1
Host: formations.exos

[2016-12-28 20:57] STwilight commented on #820
Renaming folders is good idea, thanks, @icodk!
@anakod, if you can, provide us with the info, please, when we can wait for the **release of Sming**, that will **support 2.0.0 SDK** version?
Thanks.

[2016-12-28 21:13] STwilight commented on #773
@MustafaFayez, try to unnistall version of CHERTS SDK, that you installed, and install 2.0.9 version: https://github.com/CHERTS/esp8266-devkit/releases/tag/v2.0.9.

At this moment only 1.5.4 Espressif SDK is supported (not 2.0.0, that appears in CHERTS SDK from version 2.1.0 and above).

For details see #820.

[2016-12-29 05:49] slaff commented on #840
I think I know what is happening. The patch for axtls is not applied because you already have the submodule downloaded. To prove my theory do the following:
* remove completely `Sming/third-party/axtls-8266` directory
* run `make ENABLE_SSL=1`

How did you get the submodules? How did you get the source code?

[2016-12-29 05:57] slaff commented on #843
@avr39-ripe Can you take a look at this issue?

[2016-12-29 09:13] avr39-ripe commented on #843
Yes, I will look what is wrong.

[2016-12-29 13:52] GarageGadget commented on #840
Make Output

C:\tools\sming\Sming>make ENABLE_SSL=1

Fetching third-party/axtls-8266/ ...

fatal: Not a git repository (or any of the parent directories): .git

make: *** [third-party/axtls-8266/Makefile] Error 128

How did you get the submodules? How did you get the source code?

The sub-modules with was retrieved from the external sources on github by downloading the zip files and using the ‘Wit

[2016-12-29 19:38] slaff commented on #840
@GarageGadget Understood. We will address this issue in the next release. Until then please get the latest source code using git. This can be done with the following command:

[code]

You will need git version 1.9.x or newer to work properly. `Git` for windows can be downloaded from here: https://git-scm.com/download/win

[2016-12-29 19:38] #841 closed

[2016-12-29 19:42] GarageGadget commented on #840
Thanks for your assistance.

From: slaff [mailto:notifications@github.com]
Sent: Thursday, 29 December 2016 9:38 PM
To: SmingHub/Sming <Sming@noreply.github.com>
Cc: GarageGadget <bbrucesa@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [SmingHub/Sming] SSL Build issue (#840)

The sub-modules with was retrieved from the external sources on github by downloading the zip files and usin

[2016-12-29 19:45] slaff opened #844 "Preparation for Release 3.0.1"
This issue is created to collect all the tasks we need to do before the 3.0.1 release.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h
- [x] Update Readme.md
- [x] Tag the source code

### Issues that need to be addressed
- [x] The `master` branch will be our release branch. It should contain all submodules and patched sources directly applied in the source tree. The tagging of the relea

[2016-12-29 19:47] slaff commented on #837
@tonnyyu For libat you should contact Espressif. We do not provide any integration with it.

[2016-12-29 19:47] #837 closed

[2016-12-29 19:48] slaff commented on #830
@gbl08ma Feel free to reopen this issue once you have your PR ready for review.

[2016-12-29 19:48] #830 closed

[2016-12-29 19:50] slaff commented on #792
@juppin With the additions like crash handler in the latest Sming code you should be able to point us to the  watch dog reset issue. Can you get the latest source code, compile it and if the WDT reset is present to show us the stack dump.

[2016-12-29 19:50] #771 closed

[2016-12-30 09:44] STwilight opened #845 "Sming 3.0.0 and SPIFFS image"
After updating to Sming 3.0.0 when I building my project I've getting strange address for flashing SPIFFS image (out/firmware/spiff_rom.bin---------->0x50000).

If I'm flashing spiff_rom.bin to this address, module isn't starting, no any output in uart, it seems that module simply not booting.
If I'm flashing spiff_rom.bin to 0x4C000 (this address I was got on 2.1.0 Sming version), I'm getting mod

[2016-12-30 11:27] alonewolfx2 commented on #845
Propably it's about firmware size and rom size is bigger than spi flash size or fw+spiffy is bigger than one rom size. Try to reduce spiffy size and flash normal address that's coming from spiffy

[2016-12-30 14:01] alonewolfx2 commented on #845
@avr39-ripe i dont think so. i think issue is size.

[2016-12-30 16:19] hreintke commented on #845
There is an issue with calculating correct end-of-code size/start of SPIFFS in Sming NONOS.
Fixed with update in makefile & flashmem in SmingRTOS.

Might be causing the issue. You can check with comparing compile output & flash command

[2016-12-31 11:21] STwilight commented on #845
**Thank you all for the responses!**

I've updated my tools (NodeMCU flasher and ESP8266 Flashing Tool by Espressif) to the latest versions, and seems it works well.

@avr39-ripe, thank you for idea!
I'm planning to use rBoot at the future.

@alonewolfx2, please, describe, in what way I can reduce size of spiff image?
Here's sizes of my sections:
[code]
And SPIFFS info:
[code]

@hreintke, are you

[2017-01-01 09:55] riban-bw opened #846 "Make samples fails"
The "samples" target (and subsequently the "test" target) fails - probably because the samples were moved.

[2017-01-02 09:24] juppin commented on #792
I will take a look at this that week. Yesterday i have newly installed Sming Framework on my Windows maschine with the "Windows Quickstart" guide with Chocolatey. I have tested the Basic_Blink and the HttpServer_AJAX examples.

I see that Sming Framework version is on 2.1.0. Is that the latest source that i should use for?
If not, how can i get the newest Framework version on Windows with or witho

[2017-01-02 21:34] #846 closed

[2017-01-02 23:14] fernandomorse opened #848 "Sming 3.0 crash - Fatal exception (28)"
After updating to Sming 3.0.0. I building my project and flash, but crash

information:

make

#Memory / Section info:
------------------------------------------------------------------------------

out/build/app.out:     file format elf32-xtensa-le

Sections:
Idx Name          Size      VMA       LMA       File off  Algn
  0 .data         00000374  3ffe8000  3ffe8000  000000e0  2**4

[2017-01-03 09:19] tius2000 opened #849 "Sming on Windows with UDK 2.2.1 / SDK 2.0"
I know that SDK 2.0 is not supported yet, but I could not get the old version running so I tried in anyway. At least my simple applications do compile now after some trial-and-error.  Perhaps that might help someone else:

esptool2 seems to be no longer included in the UDK, but it is easy to get and compile:
- `git clone https://github.com/raburton/esptool2.git`
- `cd esptool2`
- `make`
- `mv espt

[2017-01-03 09:29] johndoe8967 commented on #848
Hey,

seems to be a simple issue of memory overlap due to increased code size.
Just have a look at your memory map (difficult) or your flash log

Wrote 40960 bytes at 0x0 in 3.6 seconds (92.0 kbit/s)...
40960 decimal -> 0xa000 hex
Wrote 274432 bytes at 0x9000 in 23.8 seconds (92.2 kbit/s)...

This means that the second flash deleted something from the first flash because it started at 0x9000 so ev

[2017-01-03 09:54] hreintke commented on #848
@johndoe8967
See my remark on SPIFFS in #845

[2017-01-03 16:28] fernandomorse commented on #848
ok. Iam solved using esp-open-sdk version 1.4.0. Version 1.5.4 is still bugged.

[2017-01-04 09:47] #848 closed

[2017-01-04 14:59] hugows opened #850 "Documentation should recommend git clone --recursive so libraries are downloaded"
In this page https://github.com/SmingHub/Sming/wiki/Linux-Quickstart:

it seems it would be better to list:

git clone --recursive https://github.com/SmingHub/Sming.git

Everything compiles now...
Cheers, just trying this cool project!

[2017-01-04 17:43] slaff commented on #850
@hugows Actually that is wrong. The 'makefile' mechanism takes care to fetch on demand the needed submodules and patch them.  If you pre-pull them using `--recursive` the source code will not be patched and most probably will work only with esp-open-sdk.

[2017-01-04 19:54] fernandomorse opened #851 "Migrating from linux to windows"
I'm migrating from linux to windows platform. I have performed the procedures defined for installing Sming on windows. (sming v3.0)

In the procedure, Build Sming Library:
Cd c: \ tools \ sming \ Sming
Make all

following error:

SmingCore / HardwareSerial.cpp: In constructor 'HardwareSerial :: HardwareSerial (int)':
SmingCore / HardwareSerial.cpp: 32: 77: error: too few arguments to function 'voi

[2017-01-04 20:52] juppin commented on #850
I have this idea today too, because if i cd to Sming/Sming after cloning the repo without --recursive make shows an error that path isn´t correct.

`user@ubuntu:/opt/Sming/Sming$ make
Fetching third-party/rboot/ ...
Submodul 'Sming/rboot' (https://github.com/raburton/rboot.git) für Pfad 'third-party/rboot' in die Konfiguration eingetragen.
Klone nach 'Sming/third-party/rboot' ...
remote: Counting

[2017-01-04 21:16] hugows commented on #850
Ok then I must have skipped something else in the tutorial. Will try again.. thanks.

[2017-01-04 21:19] juppin commented on #840
Cloud it be that the folder in c:\tools is "Sming" and not "sming"?
In Makefile there is the standard path c:\tools\sming\Sming...
That was my error!

[2017-01-05 11:30] slaff commented on #849
@tius2000 That seems like a brutal hack to me.  Most probably some library linker flag is missing or not present by default. This will require further investigation ...

[2017-01-05 15:10] slaff commented on #850
@hugows Anyway we should update the docs and add this information there. Thanks for pointing this out.

[2017-01-05 22:12] TomaszKn opened #857 "MQTT over TLS"
HI
Is possible connect to Mosquitto broker over TLS/SSL on 8883 port?
How convert ca.crt to cert.h?

[2017-01-06 07:45] slaff commented on #857
@TomaszKn Yes, it is possible - take a look at the MqttClient_Hello ( https://github.com/SmingHub/Sming/blob/develop/samples/MqttClient_Hello/app/application.cpp ) sample.

Do you want to send client certificate?

[2017-01-06 10:01] tius2000 opened #858 "should StationClass::connect() and StationClass::disconnect() return a value?"
According to the SDK documentation both functions return true on success and false on failure. Maybe the StationClass methods should do the same?

[2017-01-06 12:02] TomaszKn commented on #857
True.
I have origin/master where isn't SSL in MQTT, but after change to develop and rebuild all project when I'm flashing my ESP-01 or ESP-07, chip not start.
It test on MQTT SSL and Basic_SSL

`Wrote 274432 bytes at 0x9000 in 23.8 seconds (92.3 kbit/s)...`
`Leaving...`
`python -m serial.tools.miniterm /dev/ttyUSB0 115200`
`--- Miniterm on /dev/ttyUSB0  115200,8,N,1 ---`
`--- Quit: Ctrl+] | Menu:

[2017-01-07 13:16] brunodymios opened #860 "SPIFFS not mounted in example ScreenTFT_ILI9340-ILI9341"
In the **ScreenTFT_ILI9340-ILI9341** example included in the samples directory, the SPIFFS is used to read a BMP file that will be shown on the display.
The code lacks of a **spiffs_mount();** instruction in the init() in order to be able to read files.

[2017-01-07 17:44] brunodymios opened #863 "Getting state of ESP when WDT reset occurs"
Hi there,
is it possible to retrieve the stack trace of the ESP when a **WDT reset** occured?

I can't get any information from the serial log about what's going on, such as **where the code gets stuck** for some reason.

**Additional question**: is it possibile in your opinion to have a WDT reset when accessing same method from different timer callbacks?

[2017-01-07 20:26] bsilvereagle opened #864 "HttpServer* Examples and MeteoControl have Fatal exception (28)"
On a fresh pull of the `develop` branch (012f72b) I am able to build the HttpServer* and MeteoControl e xamples. However, upon flashing I immediately and continuously receive

[code]

The exception fails to display after a reset, but the ESP does not appear to be doing anything.

`0x4000228b` does not show up in `firmware.map` from a quick search.

[2017-01-07 22:38] juppin commented on #792
This issue could be closed.

My application is now working as it should.

I think the RCSwitch example should also work.

Thank you for your work on Sming. I love it.

[2017-01-08 07:10] slaff commented on #864
Erase your flash before saving the firmware on it.

[code]

If needed replace the port variable with your one.

[2017-01-08 07:10] #792 closed

[2017-01-08 07:13] slaff commented on #863
Yes, this is built-in in Sming with the crash handler. Once a WDT reset occurs you should see a stack dump that can be decoded with `tools/decode-stacktrace.py`

[2017-01-08 07:17] slaff commented on #857
It could be that the application is too big for ESP-01 with 512 KB flash. Can you try something for me: Erase your flash before saving the firmware on it.

[code]

If needed replace the port variable with your one.

After that flash the application.

[2017-01-08 07:17] slaff commented on #860
Can you send us PR with the needed changes?

[2017-01-08 09:54] brunodymios commented on #863
@slaff unfortunately when a WDT occurs in my code I can't see the stacktrace but only something like this:

[code]

The stacktrace is appearing only in case of fatal exceptions. What about investigating on which part of the code is causing the ESP to halt and hence the WDT to reset it?

[2017-01-08 11:05] brunodymios commented on #860
@slaff sure, done.
Pull Request #865

[2017-01-08 13:39] bsilvereagle commented on #864
The issue still persists. I've attached the *.bin and *.map files.

Unfortunately, my version of esp-open-sdk doesn't have the xtensa gdb, so I can't get any further.

[out.zip](https://github.com/SmingHub/Sming/files/692122/out.zip)

[2017-01-09 09:43] tius2000 commented on #849
@slaff You are right, but I do not understand the build process good enough yet for this ;-)

In the meantime I made some changes to _Makefile-rbook.mk_ to implement the changes required by the new calibration sector:

    ...
    CFLAGS += -DRF_CAL_ADDR=$(RF_CAL_ADDR)
    ...
    flashinit:
    #   *** updated for SDK 2.0 (tiuw2000)
        $(vecho) "perform full flash erase and load default syst

[2017-01-09 10:39] colombojrj opened #866 "What ESP8266 boards are compatible?"
First of all, thanks do the project. It is very well documented!

But, there are several ESP8266 boards, for example, 12E, 01, etc. What are compatible or tested?

Thanks!

[2017-01-09 11:55] slaff commented on #864
What is the flash size of your ESP?

[2017-01-09 11:58] slaff commented on #866
@colombojrj Probably all ESPs with flash size >= 1MB will work. ESP-01 is having too little flash for most of the examples to work with the 1.5.x SDK.

Tested: I am using ESP-12E with 4MB flash for tests.

[2017-01-09 12:00] slaff commented on #863
You can send me the code and I can compile and test it with the latest Sming and 1.5.x SDK.

[2017-01-09 12:07] agauniyal opened #867 "how to proceed after building the output"
I've successfully built the program which creates a new directory `out` containing `build` and `firmware` directories with files inside them. How should I proceed forward assuming I've all tools installed and esp8266 device connected on `/dev/ttyUSB0`?

[2017-01-09 12:07] agauniyal commented on #867
[code]

[2017-01-09 12:28] slaff commented on #867
`make flash` should be the next command.

Take a look at the wiki page: https://github.com/SmingHub/Sming/wiki/Linux-Quickstart#build-and-flash-a-basic-blink-example-using-ttyusb0

[2017-01-09 13:43] #844 closed

[2017-01-09 13:43] slaff opened #870 "** Preparation for Release 3.1.0 **"
This issue is created to collect all the tasks we need to do before the 3.1.0 release (Was 3.0.2 but this release contains major changes that should be reflected in the version number).

Expected Date:  12th of February, 2017

### Source Code
- [x] Update the API documentation and publish the update in the `gh-pages` branch.
- [x] Update Sming/SmingCore/SmingCore.h
- [x] Update Readme.md
- [x] Mer

[2017-01-09 14:17] slaff commented on #849
@tius2000 Can you submit a PR with the changes and I will try to test it with esp-open-sdk and esp-alt-sdk on my system?

[2017-01-09 17:56] TomaszKn commented on #857
Couldn't boot again

[2017-01-09 20:22] brunodymios commented on #863
Hi @slaff, thank you.
It's not a matter of solving a specific problem on my code (already using latest Sming and SDK 1.5.x). It would be rather a best practice, something that may be added to the wiki, in order to help developers using Sming to debug such ESP8266 reboots (`ets Jan 8 2017,rst cause:4, boot mode:(3,7)`).

On the internet several people are experiencing random and pseudo-random reboo

[2017-01-09 23:54] bsilvereagle commented on #864
4MB, ESP201

[2017-01-10 12:15] tius2000 commented on #849
@slaff I'm still a noob regarding _git_ but I will try as soon as I get OTA working - seems to need some more tweaking ;-)

[2017-01-10 15:54] powo01 commented on #857
At my ESP-01 the MqTT Client Example is working. The compiled binary is about 310kB
I have compiled in a cert and key in DER format but the output told my something is wrong

[2017-01-10 23:48] colombojrj commented on #866
Thanks man!

[2017-01-11 03:25] #867 closed

[2017-01-11 08:27] slaff commented on #857
@powo01 can you paste the output to see details?

[2017-01-11 08:28] #860 closed

[2017-01-11 08:29] #840 closed

[2017-01-11 08:31] slaff commented on #760
@DominicMe Feel free to reopen the issue if the problem is still happening for you.

[2017-01-11 08:31] #760 closed

[2017-01-11 17:44] fernandomorse opened #872 "analogRead"
I installed the Sming version 3.0 Windows. When trying to compile the mq-2 sensor program, I checked for error analogRead => error: 'analogRead' was not declared in this scope. I'm using system_adc_read (); , Is this the right solution ??
 
On the Linux platform it compiles without problems, using analogRead ().

[2017-01-11 19:06] juppin opened #873 "make of Basic_rBoot fails in clean Sming if compiled first time with ENABLE_SSL=1"
Hello devs,

after i cloned the new Sming 3.0.1 to a new folder and set the paths in Makefile-user.mk of Basic_rBoot example, make fails with error in linker...

terminal output:

none@ubuntu:/opt/Sming/samples/Basic_rBoot$ make
OC out/build/libmain2.a
make -C /opt/Sming/Sming/third-party/rboot
make[1]: Verzeichnis „/opt/Sming/Sming/third-party/rboot“ wird betreten
CC rboot-stage2a.c
LD /opt/Sming

[2017-01-11 19:32] slaff commented on #873
@juppin Did you compile the sming library before that?

[2017-01-11 19:34] slaff commented on #843
@jgaNet Can you check the latest git version and tell us if the problem is fixed there?

[2017-01-11 20:10] juppin commented on #873
Yes.

This are the steps i have done:
1. Cloned the repo with `git clone https://github.com/SmingHub/Sming.git`.
2. Changed `ESP_HOME` and `SMING_HOME` of Makefile in Sming/Sming to my paths.
3. `make ENABLE_SSL=1`
4. cd to ../samples/Basic_rboot
5. I changed `ESP_HOME` and `SMING_HOME` of Makefile-user.mk in also to my paths.
6. `make`

The same error occured yesterday on my raspberry pi, now i h

[2017-01-11 21:01] juppin commented on #873
Now i have cloned it a third time and compiled Sming first without `ENABLE_SSL=1` and tested the `Basic_rboot` example and it comiles sucsessful.

Then i do a `make clean` and a `make ENABLE_SSL=1` in SMING_HOME and the example works also with SSL enabled in SmingFramework.

Confusing...

Could there maybe a bug in the makefiles if one compiles Sming the first time after cloning with `ENABLE_SSL=1

[2017-01-12 14:28] slaff commented on #873
LibSmingSSL has a mechanism to be compiled automatically if it is requested. We should add the same mechanims to the nornal LibSming so that is less confusing. I will take care to add this for the next release.

[2017-01-12 14:35] slaff commented on #872
analogRead is present. It is declared in [Sming/SmingCore/Digital.h](https://github.com/SmingHub/Sming/blob/4453de5e643cd6ec5e7a69b70c036c9e7e689c48/Sming/SmingCore/Digital.h). You might have forgotten to include it.

[2017-01-12 15:16] ADiea commented on #866
I used ESP 7 with 512K until recently now waiting for new hw based on 12E

[2017-01-12 18:36] johndoe8967 commented on #866
I ordered a bunch of 512k from china and they work great for my projects.
Of course I've to check size limitations and I can't use all features in one project.

[2017-01-12 21:36] fernandomorse commented on #872
Dear Slaff,

analogRead is not present en Sming/SmingCore/Digital.h. Version Sming v3.0. Iam included programa lines.

Please close

Morse

[2017-01-13 04:37] IanAber commented on #864
I am having similar problems. As soon as I try any of the samples with HttpServer in them I get the looping Fatal Exception 28 error with the same addresses as above. I am running on a Mac and uploading to a NodeMCU board.

[2017-01-13 09:22] slaff commented on #872
@fernandomorse take a look at line 64: https://github.com/SmingHub/Sming/blob/4453de5e643cd6ec5e7a69b70c036c9e7e689c48/Sming/SmingCore/Digital.h#L64

[2017-01-13 09:22] sndlover opened #874 "Access from Internet through Router fails"
Hi everyone!
First of all: Thanks for this really great project, that got my ideas running very fast!

After implementing and testing my solution (based on the HTTPServer Examples) locally, which works like a charm, I wanted to have it accessible from outside through my internet DSL router. So I set up port forwarding correctly, but when i try to access my device from outside by my mobile phone or

[2017-01-13 09:23] #872 closed

[2017-01-13 09:46] avr39-ripe commented on #874
Known issue with esp nonos sdk + sming nonos.. Roots is in too huge mtu compiled in lwip lib. We need recompile lwip and reduce mtu. Not possible yet, but there is issue about integrating lwip as submodule, so we can recompile it and do not use binary one from espressif

[2017-01-13 09:54] sndlover commented on #874
I appreciate your quick answer very much and I am kind of glad to hear, that this is not only an exotic issue for me.

Is there any workaround possible, until this is fixed by its root cause?

I assume, that I am not the only one, who wants to access their device from outside?
How do you others deal with it?

[2017-01-13 10:01] avr39-ripe commented on #874
Bad news here, you cat take old liblwip_535.a fro esp sdk 1.4.0 and try to change original liblwip.a in your esp sdk with it, but with such small mtu (haha.. one is too big and another one - too small :(( ) other problems arise, But give it a try, with smaller mtu I can access html pages from internet via router.
Another way is to use SmingRTOS which is based by esp rtos sdk - it can serve html rt

[2017-01-13 11:09] sndlover commented on #874
Thanks, i will give it a try with the older lib, when I am back home this evening.

Does it make any sense to play around with some defines in "c:\tools\Sming\Sming\system\include\lwip\opt.h"?

I see some MTU and fragmenting related defines there.
Does it have any effect, when I change them and rebuild SMING, or are those values already compiled into liblwip?

[2017-01-13 19:30] sndlover commented on #874
Hey Alexander,
I have to thank you for support, turning this issue from a total show stopper for my project  into something I can continue working with. Thank you very much!

What I did: I copied the liblwip356.a from SDK 1.4.1 over my current liblwip.a in SDK 1.5.0 and only rebuilt my app against the new (old) library. That got me a working web application, that functions also through my router.

[2017-01-17 15:34] tius2000 opened #876 "printf: width and precision not working for string output?"
I tried to make CommandHandler output look nicer. However, It seems to me that the width and precision specifiers for printf (e. g. %16s, %10.10s, %-10.10s) are ignored for strings.

[2017-01-17 22:17] chall3ng3r commented on #829
My younger brother is professional logo designer. I'll ask him for few designs to select from. Will post here.

[2017-01-17 22:21] chall3ng3r opened #877 "Sming as library to use in PlatformIO"
I've been looking for Sming support on PlatformIO and so far there's no solid development on it.

Is it possible to make Sming as library (compiled or src) to be just put in Lib folder of PlatformIO project targeting ESP and compile?

This will be easier than complicated build support for PlatformIO.

[2017-01-18 15:38] Matheus-Garbelini commented on #877
@slaff Yes, we need sming to be a selectable framework as soon as possible because sming should be a framework understandable to arduino users and not to just computers engineers. Currently not all people use Linux and installations on windows sometimes fails and its up to the user with "supposed" knowledge about linkers and environment setup to make it work. (A normal user wouldn't gess that in w

[2017-01-19 16:44] slaff commented on #877
We should analyze this one: https://github.com/platformio/platform-espressif8266/tree/feature/framework-sming and take a look at the steps described here: https://community.platformio.org/t/adding-a-new-framework-to-platformio/297/15.

If you guys are willing to invest some of your time and do the PlatformIO integration I might be able to help you if needed.

[2017-01-19 17:14] #873 closed

[2017-01-19 17:22] slaff commented on #874
@sndlover We have added LWIP source as an optional feature. It works with SDK 1.5. If you want to compile sming and use custom LWIP do the following:

[code]

If you do not need the `espconn` functionality then compile Sming in the following way:

[code]

Make sure also to to compile your project with the ENABLE_CUSTOM_LWIP=1. For example
[code]

If you want to always use the custom LWIP library i

[2017-01-19 17:22] #874 closed

[2017-01-19 17:23] KarolBedkowski commented on #864
Hi,
Check ESP SDK version - esp-open-sdk by default install v2.0.0.
Version 1.5.4 works fine.

[2017-01-19 20:56] ADiea commented on #876
Hi @tius2000 indeed %s does not support yet width specifiers
Please see \Sming\Sming\system\m_printf.cpp for refference

[2017-01-20 10:11] #765 closed

[2017-01-20 11:41] tius2000 commented on #876
Thank you very much @ADiea! I tried to add support for width and precision to m_printf.cpp:

    diff --git a/Sming/system/m_printf.cpp b/Sming/system/m_printf.cpp
    index 58ada9d..62b0da8 100644
    --- a/Sming/system/m_printf.cpp
    +++ b/Sming/system/m_printf.cpp
    @@ -19,6 +19,8 @@ void (*cbc_printchar)(char ch) = uart_tx_one_char;

     #define is_digit(c) ((c) >= '0' && (c) <= '9')

[2017-01-20 12:00] slaff commented on #876
@tius2000 Can you prepare a PR and @ADiea will review it?

[2017-01-20 19:08] tius2000 commented on #876
PR #880, hope I got the right ;-)

[2017-01-21 01:13] Matheus-Garbelini commented on #877
@slaff thank you. I'll get a look into this.

[2017-01-21 14:00] sensorslink opened #883 "WifiAccessPoint.config does not accept password setting."
WifiAccessPoint.config does not accept password setting:

C+ app/application.cpp
app/application.cpp: In function 'void init()':
app/application.cpp:855:38: error: no matching function for call to 'AccessPointClass::config(const char [5], const char [5])'
  WifiAccessPoint.config("user","pass");

When I use :  WifiAccessPoint.config("use,"pass",AUTH_OPEN);  is accepted...

Checking the SmingCore /

[2017-01-21 14:36] avr39-ripe commented on #883
Hello, @sensorslink, AUTH_OPEN mean no password, use next line as proper example, change two first parameters to ssid and password and keep AUTH_WPA2_PSK.
WifiAccessPoint.config(WIFIAP_SSID, WIFIAP_PWD, AUTH_WPA2_PSK);

[2017-01-21 15:36] sensorslink commented on #883
I made the change in the code and it works fine

thank you.

[2017-01-21 15:36] #883 closed

[2017-01-23 11:07] #858 closed

[2017-01-23 11:16] #876 closed

[2017-01-23 17:59] ADiea opened #887 "Patches for axtls and ummalloc fail"
Hi,
Building on Windows with UDK [v2.2.1]
Clean sming clone, develop branch.

Looks like axtls patch cannot be applied because the search string is not found. Is this working on windows? Could it be some parameter for git apply patch to ignore whitespaces etc?

Is anyone still building on windows/udk can you confirm sming building OK with ENABLE_SSL=1

Output
[code]

[2017-01-23 18:07] ADiea commented on #887
it looks like git apply looks for
[code]
but in the Makefile the string is without leading space. Looking for way to ignore the leading space in the patches

[2017-01-23 18:11] ADiea commented on #887
No I think that the error is beacause git searches for "line1 \n line2" and my sources are cloned using windows style "line1 \r\n line2" -> so this is probably from a setting on my side, will test and close the issue but should be present as a warn on getting started page

[2017-01-24 04:31] lxkarthi opened #889 "iram overflowed when ENABLE_SSL=1"
Whenever ENABLED_SSL is enabled in my codes, the iram overflows.
I have used MQTT, SSL, rboot & Serial in my code.

[code]

I noticed in the linker script this line in irom0.text
`  *libsming.a:*(.literal .text .literal.* .text.* .stub .gnu.warning .gnu.linkonce.literal.* .gnu.linkonce.t.*.literal .gnu.linkonce.t.*)
`
When SSL is enabled, instead of libsming.a, libsmingssl.a is used as shown in ab

[2017-01-24 08:31] ADiea commented on #887
Still having issues here applying the patch. It says it does not find a section of 7 lines at the begining of axtls/src/Makefile starting from line 7 but I look in the Makefile and the section is there...anyone had this issue before? I also started a bash console with Administrator rights fearing that it cannot read Makefile same error, still investigating. Line endings and trailing spaces seem no

[2017-01-24 08:31] slaff commented on #889
It's present since quite some time in here https://github.com/SmingHub/Sming/blob/develop/Sming/compiler/ld/eagle.app.v6.cpp.ld#L164 or here https://github.com/SmingHub/Sming/blob/develop/samples/MqttClient_Hello/rom0.ld#L164 .

Which of the samples is failing? Or it is just your app? If we are talking about the latter then it is your own responsibility to add it in your application.

[2017-01-24 08:33] slaff commented on #887
Just for the test try to apply the patch manually with the `patch` command instead of `git apply ..` and tell me if it works for you.

[2017-01-24 08:48] ADiea commented on #887
It finally worked with --ignore-whitespace
[code]
The thing is I compared the Makefile with the patch hunk and there were no differences so this is really strange.

using patch command or using git apply --reject applied libc.c and mem.c patches in /replacements but still failed on Makefile and subsequent files. I will make again a clean clone and test with modified makefile with whitespace option

[2017-01-24 10:01] ADiea commented on #887
Fixed by setting global CRLF config for windows. This should be added to appropiate getting started section for windows
[code]
now patches apply cleanly
[code]

[2017-01-24 10:01] #887 closed

[2017-01-24 10:45] slaff commented on #887
@ADiea Can you please do this?

[2017-01-24 11:08] ADiea commented on #887
Done, put it in wiki -> getting started for windows page.

[2017-01-24 12:20] slaff commented on #887
@ADiea Great! Thanks a lot.

[2017-01-24 13:49] lxkarthi commented on #889
my rom0.ld is older. It from SMING version before SSL is added. Thanks.
The differences are libsmingssl.a and
  irom0_0_seg :                         org = 0x40202010, len = (1M - 0x2010)
Is 1M dependent on the what ESP board we are using?
I am using ESP-12.
By the way, How do it convert SSL cerificate.pem.crt and private.pem.key to HEX array representation in ssl/cert.h and ssl/private_key.h as i

[2017-01-24 14:05] slaff commented on #889
It depends on the size of the flash memory chip. Max is 1M but if you have smaller flash size you should adjust this accordingly. If you have flash which is bigger than 1M do not change the value because ESP8266 can address up to 1M.

With `xxd`. Take a look at the end of that script: https://github.com/igrr/axtls-8266/blob/d768568ae799ad41c2e6668ac54d7896584ad667/tools/make_certs.sh#L179

[2017-01-24 14:05] #889 closed

[2017-01-24 22:14] kwis2 opened #891 "make problem commit be2b257"
I have downloaded commit sming be2b257 into fresh PC with win 7. I have tried to make and got:

Maybe it is a problem with new commit of spiffs ?

[2017-01-24 22:20] kwis2 commented on #891
With old commit of spiffs (0.3.5) make Sming succesfull. With current spiffs version 0.3.6 Sming fail

[2017-01-25 10:02] ADiea opened #892 "Various Sming fixes and features tasklist"
Hi everyone,

I started to port my work branch to main Sming repo. Because NOOS was not maintained for ~1year a lot of stuff remained on my local fork. I have reviewed my commits and I want to place all intended changes here as a task list for easy reference and will make multiple PRs in the future referencing this issue.
Of course some things in the list might not be applicable anylonger will com

[2017-01-25 10:12] slaff commented on #892
@ADiea It would be great to see all of those changes being part of the upstream Sming version. I can suggest the bug fixes to be the first PRs, followed by improvements related to memory (memleaks, heap increase, etc ) and finally the new features.

For the UART changes I am trying to rewrite Sming to "borrow" from Arduino's HardwareSerial (see https://github.com/slaff/Sming/tree/fix/uart1) so if

[2017-01-25 10:26] ADiea commented on #892
Please go on with uart1 support software_uart will kill the interrupts it's better to avoid it if we have alternative. Then we can switch debugging to uart1 and use uart0 for communicating to other devices (in my case a nextion display)

[2017-01-25 19:15] tius2000 opened #895 "better dependency checks for make"
It would be great to have automatic dependency checking for all source files. I think that it should be possible (see http://make.mad-scientist.net/papers/advanced-auto-dependency-generation).

Also spiffs should be updated whenever a source files changes.

However, I'm not an expert for gnu make. Perhaps someone has done that before so it can be integrated into the standard makefiles?

[2017-01-26 13:53] icodk opened #900 "axTLS vs espconn_secure"
Currently using Sming with espconn_secure for communicating with https servers. Is there any advantage using the newly added axTLS  in terms of RAM speed, functionality etc.
With axTLS  I can check crt.  fingerprints Can it also be done with espconn_secure ?

[2017-01-26 14:01] slaff commented on #900
It looks like you've answered your question. Plus with axTLS you can use TLS extensions(set SNI, set Max Fragment Size), you get better signing algorithms (weak once are removed), you get the latest source code that can be analyzed, more options to optimize the memory usage, better randomness and other small or big things that are important for security.

[2017-01-26 14:41] icodk commented on #900
@slaff Thanks
Important points. Not obvious for me before you mentioned it

[2017-01-26 15:02] #900 closed

[2017-01-27 16:35] slaff commented on #863
Most of the times our crash handler will print a stack trace and point you to the place where the issue occurred.  But not always. For example:
*  When the WDT reset happens BEFORE our crash handler is loaded
*  When WDT reset happens due to interrupts that are conflicting with each other. And especially if that interrupt is related to printing/reading information from UART port.

Hm... Sming has

[2017-01-27 16:43] #863 closed

[2017-01-27 16:53] slaff commented on #891
@kwis2 Either you or your git is misbehaving.  We are using older state of spiffy where this variable is not present (it started to appear 8 days ago: https://github.com/pellepl/spiffs/blame/5d4d1a48840fa00ff61c4b847dfcfed9b1123260/src/default/spiffs_config.h#L120).  In our code the submodule should come from: spiffs @ 21fe570 (https://github.com/pellepl/spiffs/tree/21fe570974103f71cf7ff02f9888c77

[2017-01-27 16:53] #891 closed

[2017-01-27 20:17] kwis2 commented on #891
@slaff  In win 7 I use manual install with git from .gitmodules and there is `url = https://github.com/pellepl/spiffs.git` which link to newest commit

[2017-01-29 17:22] tius2000 opened #906 "HardwareTimer and ESP8266_new_pwm seem to crash spiffs access"
Whenever _HardwareTimer_ or _ESP8266_new_pwm_ is active, spiffs (e. g. _HttpResponse::sendFile_) becomes instable on my system and leads to a reboot. Perhaps this is a symptom of a hardware conflict or an unsafe interrupt operation. Has anyone experienced the same problem?

If this is confirmed and the underlying cause cannot be solved, perhaps a safe guard around the spiffs calls with ETS_FRC1_IN

[2017-01-30 09:02] slaff commented on #906
@tius2000 Please, ask also [spiffs](https://github.com/pellepl/spiffs/issues) and [ESP8266_new_pwm](https://github.com/StefanBruens/ESP8266_new_pwm/issues) communities.

[2017-01-30 16:44] slaff commented on #895
@tius2000 feel free to reopen this ticket if there are more specific things/suggestions to improve our build process.

[2017-01-30 16:44] #895 closed

[2017-01-30 16:46] slaff commented on #851
@fernandomorse Seems to me like mixing SmingNONOS code with SmingRTOS code. Most probably the SMING_HOME env variable is set incorrectly. Feel free to reopen the ticket if there is something more that we can help here.

[2017-01-30 16:46] #851 closed

[2017-01-30 16:55] slaff opened #914 "Better understanding of fatal exception at epc1=0x4000228b"
This issue is created to help us collect and understand the reason(s) for fatal exception at epc1=0x4000228b.

### Reported problems:
See #857, #864.

### Causes:
- (Probable) Bad flash or power issues.
- (**Confirmed**) Overlapping flash ROMs.
There is a  [PR](https://github.com/espressif/esptool/pull/174) for esptool.py that will detect overlapping roms and exit with an error.

If you have an id

[2017-01-30 22:45] anakod commented on #914
Is ESP power enough? It can be reason for strange errors with reading flash memory.

[2017-01-30 22:58] slaff commented on #914
@anakod Do you have an idea where this error is coming from? What is the reason for seeing such an error?

[2017-01-31 00:17] anakod commented on #914
I'm not sure, just have error like that once, but I didn't remember exact epc1 code so it can be different error also. But I think first what users should to do in cases like that - check power source :) If voltage drops on some operations - it's probably reason.

[2017-01-31 07:51] lex77 commented on #914
I have similar problem too. This fatal exception appears with sample projects (e.g. MeteoControl, Basic_WebSkeletonApp) and my own projects, that compiled with Sming v3.0.1 (esp-open-sdk-1.5.4).
But the same code compiled with Sming v2.1.5 works correct.

My test hardware is NodeMCU DEV board. I'm not sure that the problem is the lack of power. I will continue testing.

[2017-01-31 09:17] slaff commented on #892
@ADiea I guess the time has come to cleanup the [debug-in-flash branch](https://github.com/ADiea/Sming/tree/feat_debugirom) and create a PR out of it so that we can start testing it.

[2017-01-31 09:39] anakod commented on #914
If error depends on Sming version then it shouldn't be related to hardware\power source.
Error repeats every time or just in some cases?

[2017-01-31 11:35] ADiea commented on #914
+can we get additional info from crash handler / stack?

[2017-01-31 12:51] lxkarthi commented on #828
deepSleep is timed.
Call the following function in SMING project code
System.deepSleep(seconds*1000);

[2017-01-31 13:28] slaff commented on #914
@ADiea my guess is that the issue is happening even before our application is loaded/started. I have seen this when the first level bootloader is not able to check/load the ROM file. An error message like this is shown:

[code]

[2017-01-31 14:21] ADiea commented on #892
I have a issue here: it's section conflict.

The feature works like this: from makefile I set a CUSTOM_BASE_FILE with filename and in header I declare LOG function as macro that defines a static global log_CUST_FILE_NAME_LINE_NUMBER like
[code]

The problem is that for ex in Sming/SmingCore/Network/FTPServerConnection.cpp there are several classes. When debugf is replaced by static variable creati

[2017-01-31 14:30] ADiea commented on #914
could it be caused by faulty flash chip (reached end of life) ?

[2017-01-31 15:16] slaff commented on #849
@tius2000 Check this PR #921.

[2017-01-31 20:36] mtzfactory commented on #914
Hi,

I'm having the same issue with my code, based on MQTT and HttpServer_ConfigNetwork:

[code]
The problem, I think, is related with the size of the first bin file: 0x0000.bin, that is bigger than the expected by the configuration in the make file:

**Makefile-project.mk**
`$(ESPTOOL) -p $(COM_PORT) -b $(COM_SPEED_ESPTOOL) write_flash $(flashimageoptions) 0x00000 $(FW_BASE)/0x00000.bin 0x09000 $

[2017-01-31 20:41] kwis2 commented on #828
@lxkarthi thank you for your answer. It is very easy to make ESP sleep. Question is how to wake chip up. what is the fastest, or maybe lowest power! method to start communication. ie. send http post.

[2017-01-31 20:42] mtzfactory commented on #914
BTW, can someone tell where these magical numbers come from? Thanks!

[2017-01-31 21:27] slaff commented on #914
@mtzfactory Take a look at the [commits her](https://github.com/SmingHub/Sming/pull/921). Meanwhile I will try to push a patch for esptool.py that gives warning or stops with an error if there is an overlap detected.

[2017-02-01 07:58] slaff commented on #864
@bsilvereagle Please, paste the output when you flash the ROMs on the device. Type `make flash V=1`.

[2017-02-01 07:58] slaff commented on #857
@TomaszKn Please, paste the output when you flash the ROMs on the device. Type `make flash V=1`.

[2017-02-01 08:56] itarataiko opened #922 "Sming 3.0.1 MqttClient_Hello enabled spiffs error in fileGetContent"
Hi,

I try to add file system interaction to the MqttClient_Hello sample.
1. added files folder with some file with content
2. in the init() I added spiffs_mount()
3. after system ready try to receive file content with fileGetContent(filename)
4. received error read errno -10004 and Serial.println(fileGetContent(filename)) show me file name on the spiffs but not the file content

Thank for your he

[2017-02-01 09:06] slaff commented on #922
@itarataiko Did you comment out the following line from the makefile (https://github.com/SmingHub/Sming/blob/develop/samples/MqttClient_Hello/Makefile-user.mk#L37) ?

[2017-02-01 09:07] itarataiko commented on #922
yes I did

[2017-02-01 09:08] itarataiko commented on #922
and added
SPIFF_FILES = files

[2017-02-01 09:09] itarataiko commented on #922
sorry, it was a mistake when issue was closed

[2017-02-01 10:58] mtzfactory commented on #914
Hi @slaff, I just follow your [commits in the PR](https://github.com/SmingHub/Sming/pull/921) and didn't worked, I tried with different examples and even with the Basic_Blink example didn't succeed, when I connect to the serial port it prints some kind of random values.

PD: To be sure I did it right, I cloned again the Sming repo and applied your instructions there... but same result...

[2017-02-01 11:35] Ogyb commented on #866
i use ESP-7, ESP-02, ESP-201, ESP-07S (external antenna connector) for projects and ESP12 for testing.

[2017-02-01 12:06] slaff commented on #914
@anakod Thanks for noticing this. I guess I made a mistake somewhere... Have to check...

[2017-02-02 07:04] itarataiko commented on #922
@slaff Did you reproduce this issue?

[2017-02-02 08:11] itarataiko commented on #922
I have fixed this issue by change spiffs_mount() with spiffs_mount_manual(0x40300000,SPIFF_SIZE)

[2017-02-02 08:11] #922 closed

[2017-02-02 08:53] slaff commented on #922
@itarataiko There is a new PR coming with changes related to spiffs mounting. You should use in the future `spiffs_mount_manual(<flash-address>,SPIFF_SIZE)` instead of `spiffs_mount_manual(<memory-mapped-address>,SPIFF_SIZE)` .  This means that if you save your spiffs at address 0x100000 on the flash memory you should also call `spiffs_mount_manual(0x100000,SPIFF_SIZE)` in your code. And that is m

[2017-02-02 09:05] slaff opened #924 "** Preparation for Release 3.1.2 **"
This issue is created to collect all the tasks we need to do before the 3.1.2 release. (was 3.1.1 but we already have as [3.1.1 hotfix](https://github.com/SmingHub/Sming/releases/tag/3.1.1) )

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#997)
- [x] Update Readme.md (#997)
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### Merged PRs
- [x] Fix compilat

[2017-02-02 09:30] itarataiko commented on #922
thanks for your detailed answer

[2017-02-02 09:31] avr39-ripe commented on #924
From gitter.im chat
0. Change default to open-lwip and binary lwip as optional feature
1. make TCP_MSS configurable by Makefile knob
2. make ip forwarding feature configurable by Makefile knob

[2017-02-02 09:34] slaff commented on #849
@tius2000 Feel free to reopen this ticket if there are issues with using the latest `develop` with SDK 2.0

[2017-02-02 09:34] #849 closed

[2017-02-02 09:47] slaff commented on #850
Updated the Wiki to reflect this.

[2017-02-02 09:47] #850 closed

[2017-02-02 09:50] slaff commented on #914
@mtzfactory That is exactly what it does. It does not print any additional information on the serial and the only thing that should happen is your LED blinking. If you want to test an app that prints something in the console use our Basic_Serial example.

[2017-02-02 10:00] slaff commented on #906
@tius2000 Feel free to reopen the ticket once you have more information from one of the other projects.

[2017-02-02 10:00] #906 closed

[2017-02-02 11:57] mtzfactory commented on #914
Thanks! but I already knew that @slaff... I just modified it with a Serial.println every time blink function was called, just to test everything was correct, but it wasn't... As the other examples, it prints some kind of random values, I think is reseting itself after a while...

[2017-02-03 16:10] anakod commented on #914
You have only one board? Will be very good to test on different hardware also to be sure.

[2017-02-04 14:37] lxkarthi commented on #828
The wake up is timed.
I found that you have to connect GPIO16 to RST pin to make DeepSleep work. There are many modes for deepSleep.  check deepSleep options http://sminghub.github.io/sming-api-develop/group__system.html#ga15eb21125083b655bb83f7dbd47f0987
I haven't tried these options.
eDSO_RF_CAL_BY_INIT_DATA = 0, ///<  RF_CAL  or  not  after  deep-sleep  wake  up, depends on init data byte 108.

[2017-02-04 22:00] bsilvereagle commented on #864
[code]

[2017-02-05 15:39] DominicMe commented on #829
A while back I made a logo for [ESP8266 Sming Framework](http://dominicm.com/esp8266-sming-framework-arch-linux/) article as I couldn't find one. The low resolution logo used at a time and now seems to be taken from a railway company in Netherlands which is a bit bizarre :)

@anakod noticed the logo and suggested I post it here. I can send vector / psd original if you decide you want to use it.

[2017-02-05 19:03] TomaszKn opened #930 "Develop version of Sming still don't support SSL?"
It's true?
When I'm try compile samples/Basic_Ssl I get:
`CC /home/tomek/elektronika/esp8266/SDK2.0/Sming/Sming//third-party/rboot/appcode/rboot-api.c
AR out/build/app_app.a
LD out/build/app_0.out
out/build/libmain2.a(time.o): In function `millis':
(.irom0.text+0x94): multiple definition of `millis'
/home/tomek/elektronika/esp8266/SDK2.0/Sming/Sming//compiler/lib//libsmingssl.a(time.o):/home/tomek

[2017-02-05 20:04] slaff commented on #930
@TomaszKn Please, do the following:
[code]

and report if there are compiler issues.

[2017-02-05 20:10] slaff commented on #864
It seems that your first ROM is overlapping with the second one. Here is the math ( you can use python to test it):

start_address + size = 0x0 + 40960 = hex(0x0 + 40960) = 0xa000
your first ROM is ending at 0xa000 address. But the second one is starting at 0x9000, which is earlier:
[code]
and in fact your second ROM is deleting information from the first ROM due to overlapping.
We already discuss

[2017-02-05 20:13] slaff commented on #829
@DominicMe Please, send the PSD as long as it does not infringe any copyright laws.

[2017-02-05 20:56] TomaszKn commented on #930
`cd $SMING_HOME

tomek@Lx64:xx/Sming/Sming$ git checkout develop
Already on 'develop'
Your branch is up-to-date with 'origin/develop'.
tomek@Lx64:xx/Sming/Sming$ git pull
Already up-to-date.
tomek@Lx64:xx/Sming/Sming$ rm compiler/lib/libsming*.a
tomek@Lx64:xx/Sming/Sming$ make clean
tomek@Lx64:xx/Sming/Sming$ make ENABLE_SSL=1 `

`AS system/irq_check.s
AS gdb/gdbstub-entry.s
CC system/flashmem.c
C

[2017-02-05 21:22] slaff commented on #930
I think I know what is happening. Do the following:

[code]

[2017-02-05 21:39] TomaszKn commented on #930
Compile it without any errors.
Tomorrow I'm will test how it works.

Thanks

[2017-02-05 21:39] #930 closed

[2017-02-06 01:01] anakod commented on #829
@DominicMe glad to see you on github. I'm personally like logo designed by you, and think it can be used as official Sming Framework logo.

[2017-02-06 09:01] #864 closed

[2017-02-06 09:02] slaff commented on #857
Feel free to reopen if there is more information.

[2017-02-06 09:02] #857 closed

[2017-02-06 21:55] iqbaltek opened #932 "Timer::isStarted return wrong value"
`isStarted()` function returning `true` after `startOnce()` callback fired, only after I manually call `stop()` then `isStarted()` function returns `false`. I consider this behavior as bug, because the Timer callback only fired once but the status not changed.

[2017-02-07 07:54] anakod commented on #932
Agreed, looks like bug from end user side of view.

[2017-02-07 08:13] slaff commented on #932
@anakod @iqbaltek Feel free to send a PR with the fixes.

[2017-02-09 09:56] slaff commented on #845
Feel free to reopen the issue if it is still not solved in the latest `develop` version.

[2017-02-09 09:56] #845 closed

[2017-02-09 09:59] slaff commented on #828
Feel free to reopen the issue if it is Sming related.

[2017-02-09 09:59] #828 closed

[2017-02-09 10:26] slaff commented on #775
Closing due to inactivity.

[2017-02-09 10:26] #775 closed

[2017-02-09 10:29] slaff commented on #758
@vortex314 The latest `develop` version has refactored HardwareSerial that allows setting the parity https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/HardwareSerial.h#L110 . Feel free to reopen the issue if that does not work for you.

[2017-02-09 10:29] #758 closed

[2017-02-09 10:30] slaff commented on #820
SDK 2.0 is supported in the latest `develop` version.

[2017-02-09 10:30] #820 closed

[2017-02-09 10:32] slaff commented on #773
SDK 2.0 is also supported in the latest `develop` version. After the release(v3.1.0) at the end of the week(12.Feb.2017) the latest code should be available also Windows/chocolatery users.

[2017-02-09 10:32] #773 closed

[2017-02-09 10:35] slaff commented on #335
@vsirvent Please make a PR request.

[2017-02-09 10:36] slaff commented on #737
Closed due to inactivity.

[2017-02-09 10:36] #737 closed

[2017-02-10 01:33] dbelz opened #937 "Not flashing new code"
Hello Guys,

i have downloaded the Windows Setup over Chocolately and everything seems to be fine. I can run and build the samples and so on. So i have copied one example to another location to write my own code / project.

Before i flashed my own stuff i had the Basic Wifi Sample running on the Board. When i now flash my firmware over eclipse the build process and so on is running fine. But in th

[2017-02-10 05:28] ADiea commented on #937
Please attach console output from the flashing step

[2017-02-10 13:28] dbelz commented on #937
make all
C+ app/application.cpp
AR out/build/app_app.a
LD out/build/app.out

#Memory / Section info:
------------------------------------------------------------------------------
   Section|                   Description| Start (hex)|   End (hex)|Used space
------------------------------------------------------------------------------
      data|        Initialized Data (RAM)|    3FFE8000|    3FF

[2017-02-10 13:43] slaff commented on #937
@dbelz But, have you run `make flash` to actually re-program your ESP8266 device?

[2017-02-10 13:48] dbelz commented on #937
yes ofc i have done that. the flash:

`14:45:32 **** Build of configuration Sming for project Mesh ****
make flash
Killing Terminal to free COM3
FEHLER: Der Prozess "Terminal.exe" wurde nicht gefunden.
/c/Espressif/utils/esptool.exe -p COM3 -b 115200 write_flash -ff 40m -fm dio -fs 4m 0x00000 out/firmware/0x00000.bin 0x09000 out/firmware/0x09000.bin 0x3C000 out/firmware/spiff_rom.bin
Connecting...

[2017-02-10 14:27] slaff commented on #937
Hm, I am getting the feeling that you are seeing the system messages. Can you paste them here?

[2017-02-10 14:59] dbelz commented on #937
`scandone
List of Wifis here
0scan completed: 17 found
reconnect
f r0, scandone
no PleaseEnterSSID found, reconnect after 1 s
reconnect`

[2017-02-10 15:07] slaff commented on #937
So my bold guess is that your new code is actually flashed. What you see are system messages. You can try to add the following lines to your program

[code]

[2017-02-10 15:38] dbelz commented on #937
It works now!

Im just starting with this stuff so sorry for the many questions^^

[2017-02-10 15:48] #937 closed

[2017-02-10 16:12] anakod opened #938 "Repeating issues with Windows build"
Unfortunately we have repeating issues with Sming building on Windows OS.

 - https://github.com/SmingHub/Sming/pull/902
 - https://github.com/SmingHub/Sming/pull/929

And currently we have new one:
[code]

UDK of previous version use path "C:\Espressif\utils" path for all tools. New version use "C:\Espressif\utils\ESP8266" for it (only Terminal.exe path same as before)

So our makefile willn't bu

[2017-02-10 20:40] DominicMe commented on #829
Here is the AI vector file and high res png.

http://owncloud.dominicm.com/index.php/s/lUJ5ckZtyz1aPtt

![sming](https://cloud.githubusercontent.com/assets/2036768/22843269/9c76e4c8-efd0-11e6-89a8-f0f05f4c262e.png)

[2017-02-10 22:06] ADiea commented on #938
I would support latest udk and recommend minimum udk supported version.

[2017-02-11 02:19] ijinx opened #941 "How to create new Library for Sming"
Hello,

i have now a project which getting bigger in size. And also i want to separate some of my classes and so on in an extra project.

How would i do this? IDE is currently eclipse but i think i will switch later.

Kind Regards

[2017-02-11 03:21] ijinx commented on #941
For example i have added an makefile project in eclipse and named it like my library should be named.

Then i added this over: Properties -> C/C++ General -> Paths and Symbols -> Includes ( to all languages and configurations)

My second project contains only 2 files. A header and a cpp file and a includes "folder". When i now want to use this class i get on compile time this:

`04:19:13 **** Buil

[2017-02-11 13:32] GarageGadget opened #942 "Serial port running at 2400BPS"
Hi,

I need to interface with a device that only supports 2400BPS. It appears that Sming does not support speeds lower than 9600BPS.

Any suggestions appreciated.

[2017-02-11 16:36] anakod commented on #938
Is Travis CI support windows OS?

[2017-02-11 16:46] anakod commented on #866
All boards compatible with Sming :)

[2017-02-11 16:46] #866 closed

[2017-02-11 16:50] anakod commented on #694
In my opinion it's important feature and should be merged to Sming.

[2017-02-11 22:17] #870 closed

[2017-02-11 22:35] slaff commented on #938
We could use [AppVeyor](https://www.appveyor.com/) for Windows. Can someone of you type here all commands that are needed to install git, MinGW and UDK on Windows? And we can check the compilation of Sming and its tests as a start.

[2017-02-12 09:46] kwis2 opened #944 "Windows quickstart not updated"
choco install from windows quickstart link to sming v2.10

[code]

[2017-02-12 10:08] kwis2 opened #945 "Windows install problem"
As I have written there was problem with choco install. I have downloaded zip file from  [v 3.1.0](https://github.com/SmingHub/Sming/releases/tag/3.1.0) and with make command I got

[code]

[2017-02-12 13:49] anakod commented on #945
We have related issue before. Probably on different mingw version standard type declarations isn't equal. Can you please copy&paste here part of C:/tools/mingw64/x86_64-w64-mingw32/include/crtdefs.h file with  uintptr_t declaration and lines around that. Or attach that file.

[2017-02-12 16:30] kwis2 commented on #945
here you have crtdefs.h zipped file
[crtdefs.zip](https://github.com/SmingHub/Sming/files/769436/crtdefs.zip)

[2017-02-13 00:20] anakod commented on #945
You have strange conflict with types declarations. My crtdefs.h didn't contain these declarations.
I've pushed updated Sming version with additional checks. Can you please download it from https://github.com/SmingHub/Sming/tree/fix/uintptr_type_declaration git branch and check? Because for me this test will not be relevant unfortunately.

[2017-02-13 06:34] kwis2 commented on #945
I have checked and now it is new problem with xtensa-lx106-elf-gcc

the same problem was with previous versions with `make ENABLE_SSL=1`, but there was no problem with `make`
I think it is path problem. I have instaled sming by Chocolatey, and maybe it would be easier to upgrade environment by modyfy  [choco](https://github.com/SmingHub/Sming/issues/944)?

[2017-02-13 09:15] slaff commented on #944
@kireevco Can you help us update the `choco` package? @anakod We need to move the `choco` package  definition and generation to a place that we can update. Can you contact @kireevco ?

[2017-02-13 14:55] anakod commented on #938
AppVeyor will be great! But unfortunately my tools installation was done very long time ago. I'm not sure about commands :( I think we should check it on clear virtual machine.

@ADiea

I don't think what user shouldn't be able to build Sming without additional actions.

Another idea: what reason to support old UDK versions on Windows? Anyway author didn't keep it and rewite installer every time.

[2017-02-13 15:07] anakod commented on #945
I think we already have similar issue before, @slaff what do you think?

PS Probably my fix helps for uintptr_t issue and I will need to make PR with it.

[2017-02-13 15:23] ADiea commented on #938
That's also my initial opinion: why support old UDK. Everyone should update anyway, it contains SDK2.0.0 which will be supported... this will make it easier for new users that start with latest toolchain

[2017-02-13 15:34] anakod commented on #938
*By the way: p2 and p3 related of coursre not only to windows issues but to any global change affecting building processes and core functionality: https://github.com/SmingHub/Sming/pull/946*

[2017-02-13 16:03] anakod commented on #945
@kwis2 PLease look topic https://github.com/SmingHub/Sming/pull/933 and folow comments, may be this is reason of your last error?

[2017-02-13 19:02] kwis2 commented on #945
@anakod  I am not exacty understand what do you mean, but sming version I have is the one with merged `--ignore-whitespace`
I have tried to copy `xtensa-lx106-elf-gcc.exe` into Sming dirs, I got

I don't exactly understand what does it mean, but it was has changed ...

[2017-02-13 23:15] dbelz opened #952 "make flash error 2 on linux"
Hello,

i dropped windows because the choco stuff is using an old version of Sming and i wanted to use the newest available version.

I have now installed everything in an linux environment(ubuntu) but have 1 little problem left:
I can't flash. The build process is running fine and the bins are created. But when i run: sudo make flash i got this:

[code]

Any way to fix this issue?
I have followed

[2017-02-14 08:45] slaff commented on #945
@anakod Can I suggest something: Please, update your old UDK and MingW to the latest ones, remove the troublesome change (e0753569524a871d1412cfff6d8dd3f26a0f0c89) that you have introduced and create a PR with the fix(es). We have multiple complaints (also on FreeBSD-current) that spiffy is not compiling. The old code was compiling on all platforms, except yours. I guess you would prefer too to ha

[2017-02-14 11:13] mtzfactory commented on #914
Hi @anakod ,

Yes I have: an esp-01 (1Mbyte flash)... and I tried with the new sming version: 3.1.0.
These are the results of the test:

Sming 2.0.0, esp-01 (1Mbyte flash), **Basic_Blink** works perfectly.
Sming 2.0.0, NodeMCU v0.9, **Basic_Blink** works perfectly.

Sming 3.1.0, esp-01 (1Mbyte flash), **Basic_Blink** works perfectly.
Sming 3.1.0, NodeMCU v0.9, **Basic_Blink** works perfectly.

Smi

[2017-02-14 12:07] slaff commented on #914
Please, paste the decoded stack trace here.
[code]

[2017-02-14 12:40] STwilight opened #954 "Basic AirUpdate, Basic rBoot firmware download failing"
Hi, dear community!

I'm trying to get success with Sming's Basic AirUpdate and Basic rBoot samples.
Module is booting OK, but when I'm trying to execute FW downloading from server, on all servers (local XAMPP or remote, specified in AirUpdate example) I'm getting the same error: "failed to download software".

Files, that must be downloaded, are located at their places, are accessible and freely

[2017-02-14 13:55] dbelz commented on #952
Any suggestions?

[2017-02-14 19:38] icodk opened #957 "AP network unstabel when both AP and STA are enabled sming 2.1.0 and SDK 1.5.3(aec24ac9)"
If both esp access point(local AP)  and wifi client (to remote AP ex. my router) are enabled, the access point network get's unstable and actually useless. Can't get a full page from the esp web server, Heap is eaten away  and ping timeout most of the time.
If only the AP is enabled it is stable. However it get unstable as soon as the remote access point is configured (SSID to my router) the esp n

[2017-02-14 19:43] anakod commented on #945
No, I'm using new UDK 2.2.1.  And issue with uintptr_t  resolved, as you can see if you will read above messages attentively. But I will try to update MinGW now, because it can be reason of our difference.

[2017-02-14 19:57] slaff commented on #957
Please, try with the latest Sming version 3.1.0. May be the issue that you are mentioning is fixed already. We have added multiple improvements from 2.1.0 until 3.1.0.

[2017-02-14 22:34] icodk commented on #957
@slaff Thanks.
Any general hints for upgrading like:
Any reccomendation for sdk (UDK) version ?
My project use espconn_secure_ functions. Should I use lwip ?
Is it needed to use a new version of the compiler  ?
Thanks for help

[2017-02-15 07:39] slaff commented on #957
Hm, I am Linux user and my preferred SDK is esp-open-sdk, which unfortunately is not available on Windows.

If you want to use the custom LWIP with espconn_* functions then you also need to add ENABLE_ESPCONN=1 in your user makefile. For an example take a look at [samples/Basic_SmartConfig/Makefile-user.mk](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_SmartConfig/Makefile-user.mk#L

[2017-02-15 07:43] icodk commented on #957
Thanks

[2017-02-15 07:43] #957 closed

[2017-02-15 08:44] mtzfactory commented on #914
Hi @slaff ,

Here you have:

[code]

[2017-02-15 09:01] avr39-ripe commented on #957
@icodk Hello! esp8266 has only one RF module, so when you use either STA or AP mode all goes right, but when both STA and AP are enabled problems arise: if esp scan in STA mode it must constantly change channel number so AP functionality becomes unstable, even when esp connects to some AP in STA mode if channel numbers are different it will switch them frequently so you will get instable work. Thi

[2017-02-15 10:41] avr39-ripe commented on #952
What is your hardware? Looks like power issue.. or try to update esptool.py from git

[2017-02-15 11:48] slaff commented on #914
@mtzfactory Thanks. First make sure to have SPI_SIZE set to the correct size of the flashmem (what is your ESP device flashmen size by the way?). For example if you have 4 megabytes then set it to `SPI_SIZE=4M`. After that get the latest develop version, and then do the following:

[code]

Test and write back with the results that you get.

[2017-02-15 11:50] slaff commented on #952
Most probably the USB serial adapter is not working as expected. Set the baud-rate to a lower value. For example `-b 9600`. You might be able to use also a higher value.

[2017-02-15 12:52] icodk commented on #957
@avr39-ripe Thanks for the insight.
I It all make sense. Esp is a great device but has it's limitations.

[2017-02-15 13:46] slaff opened #960 "Discussion: Replacing esptool2 with esptool.py"
We are using both `esptool2` and `esptool.py`. The latter advanced a lot and has a lot of useful features like:
* faster uploads due to using stubs
* check for ROM overlapping
* etc.

So instead of supporting both of them we can migrate to `esptool.py` only. This will make our Makefiles more consistent and easier to maintain. Is anyone using a feature from `esptool2` that is not present in  `espto

[2017-02-15 13:47] slaff commented on #960
@anakod @ADiea @avr39-ripe Gentlemen, what is your opinion on this?

[2017-02-15 13:58] piperpilot commented on #960
Need to check with @raburton as I believe there is some magic in esptool2 for the rboot functionality.

[2017-02-15 15:04] slaff commented on #892
@ADiea are you ready to propose as PR those changes ?
* Fix a leak in SSL axtls-8266/compat/lwipr_compat.c (bugfix)
* Possible other SSL fixes, (will compare and see)
* Memleak debug ... + use external tool (memleak detection)

[2017-02-15 15:21] slaff commented on #942
Can you clarify a bit? It should be possible to set the baud rate to 2400. See the Basic_Serial example and change the start of the init function to look like this
[code]

I haven't tested this on a real device but you can try it. Just make sure to connect to the device using the expected baud rate:

[code]

[2017-02-15 15:36] kwis2 commented on #945
I have wondering what could happened and found that problem is with __int64 data type. So I have decided to instal (just copy from another location) 32 bit version of mingw , and sming form  v 3.1.0 zip file compiled without problem.

[2017-02-15 15:38] avr39-ripe commented on #960
+1 to @piperpilot I think we have esptool to image generation for rBoot and there is no such functionality in ordinary esptool.py IMHO.. will look on this stuff again, but @raburton can shed the light on it :)

[2017-02-15 15:40] kwis2 commented on #945
mingw32 solve `make` problem, but `make ENABLE_SSL=1` still dont compile v 3.1.0

[2017-02-15 15:51] slaff commented on #945
Add to your PATH c:\Espressif\/xtensa-lx106-elf\bin\. Try doing that:
[code]

[2017-02-15 15:56] kwis2 commented on #945
`set PATH` command helped.
with current commit a7766da, after I have received:

[2017-02-15 16:00] slaff commented on #945
[code]

[2017-02-15 16:09] kwis2 commented on #945
`make dist-clean` - a lot of warnings because there were no sample dir example below

and `make` wit the same problem

I have checked mingw64 and mingw32 dirs and there is no c_types.h file.

[2017-02-15 16:17] ADiea commented on #960
I was also thinking about rboot I thibk esp2 has some features for rboot

[2017-02-15 16:19] kwis2 commented on #945
I have coppied esp-open-lwip from 3.1.0 zipped versiona and revert to old commit of spiffs (known problem) and sming compiled succes even with `make ENABLE_SSL=1`

[2017-02-15 16:22] ADiea commented on #892
I will give them priority. I think the SSL leak is already fixed in current version because there is a check now when making buffer realloc in lwipr_compat.c
Will start diffing!

[2017-02-15 16:25] ADiea commented on #914
looks like it crashes when trying to mount spiff

[2017-02-15 17:58] raburton commented on #960
esptool2 is required to build rBoot

[2017-02-15 18:48] dbelz commented on #952
Thanks the flashing is working with 9600 Baud. But the serial communication not i suggest. I only got "trash" messages and so on^^

Does i need to change the Baud rate also here?

[2017-02-15 20:37] icodk commented on #952
@dbelz
IMHO the two things have nothing to do with eachother. Flashing baud is between the programming software(esptool) and esp. When your esp is running the baud should match your serial terminal.

[2017-02-15 20:54] #945 closed

[2017-02-16 12:44] kwis2 opened #962 "v3.1.1 Hotfix Windows install"
with mingw32 compiled succesfully but a lot of warnings (compile succes messages skiped), messages are only with first compile - after `make clean` next `mak`e without problem

[2017-02-16 13:23] slaff commented on #962
Yes, that is normal. The code compiles ok and later on we can take care to suppress the warnings.

[2017-02-16 13:23] #962 closed

[2017-02-16 13:35] mtzfactory commented on #914
Hi @slaff,

With the develop version it works perfectly... Yeey!!!

Thanks a lot!

[2017-02-16 13:49] slaff commented on #914
The main cause for the fatal exception epc1=0x4..228b was overlapping ROMs. We proposed fix to estool.py team and it is now merged in the upstream version.  Thanks to all who helped us track the problem.

[2017-02-16 13:49] #914 closed

[2017-02-16 15:22] anakod commented on #945
Can you provide more details, please?

[2017-02-16 16:16] kwis2 commented on #945
[make problem commit be2b257 #891](https://github.com/SmingHub/Sming/issues/891)

[2017-02-16 19:03] GarageGadget commented on #942
Thanks for the feedback.

I my test I was using the Basic_Serial example which I configured to 2400BPS which would run before issuing a software reset.

I have resolved the issue by patting the watchdog or limiting the amount of data sent to the serial port.

[2017-02-16 19:03] #942 closed

[2017-02-18 14:56] ADiea opened #969 "Memory management stack vs heap"
Hi everyone.
As we know ( [1](http://tech.scargill.net/esp8266-ram/) [2](http://bbs.espressif.com/viewtopic.php?t=1110) etc ) stack and heap grow from opposite sides and no protection for meeting in the middle exists.
We should find a solution to prevent stack corruption by heap allocating over stack or from going with the stack over previously allocated heap(this is harder/code consuming).
   * I

[2017-02-18 18:09] ADiea commented on #969
For printing stack usage [-fstack-usage](https://gcc.gnu.org/onlinedocs/gnat_ugn/Static-Stack-Usage-Analysis.html) can be used. A python should be used to collect all files, sort and output a single file.

[2017-02-20 11:01] #952 closed

[2017-02-20 11:09] tius2000 opened #971 "Discussion: Drop support for espressif bootloader?"
Are there any advantages of the espressif bootloader? Would it make sense to to support rboot only to simplify the framework?

[2017-02-20 11:49] riban-bw commented on #960
I too feel we have two tools that overlap significantly but recognise that there are features in each. I did try to write a single tool to cover all Sming requirements but run out of time. Is there an extension to esptool.py that could be added to implement the requirements for rBoot or visa versa?

[2017-02-20 12:04] slaff commented on #971
If no one really insists on supporting Espressif's bootloader we can go even further:
* If bootloaded is needed then only rBoot will be used
* We can offer also images without bootloader, thus freeing space on Flash and memory.

[2017-02-20 12:07] slaff commented on #960
Apart from adding checksums to ROMs, which is hardly used, what are the other `esptoo2` only features that rBoot needs?

Not that I know of but I can help you here.

[2017-02-20 12:55] ADiea commented on #971
+1 to drop support (lathough not used rboot yet, ut if you force me...i'll have to learn :) )

[2017-02-20 19:36] mtzfactory opened #972 "Strange behaviour, random symbols and restarts..."
Hi,

I'm trying to develop a program based in two examples: **HttpServer_ConfigNetwork** and **MqttClient_Hello**, but when I flash it to the esp8266 I get what it seems random symbols in the serial port and it restarts, I think...

https://gist.github.com/mtzfactory/decc1fa356a6ae1da4e109f9e0b78926

You can find the files attached in the link above, you have to copy it into a new copy of HttpServ

[2017-02-21 08:38] slaff commented on #971
Moving to only one bootloader, namely the superb rBoot, will help us get rid of:
- [ ] Different LD scripts
- [ ] Different project makefiles
- [ ] Different HttpFirmwareUpdate classes

Adding applications without bootloader, where no OTA or ROM switching is required, will
- [ ] Increase the amount of free space and heap available to the application

So I can see a lot of advantages for the code q

[2017-02-21 08:43] slaff commented on #972
@mtzfactory Please, get the latest version of [esptool.py](https://github.com/espressif/esptool) and try again with it. We added a feature to detect overlapping and also the flash erasing is working as expected.

[2017-02-21 08:54] avr39-ripe commented on #971
+1 to drop original bootloader
+1 to all @slaff remarks

[2017-02-21 09:09] slaff commented on #971
@anakod @piperpilot @raburton What is your opinion on this?

[2017-02-21 09:15] #829 closed

[2017-02-21 09:39] #335 closed

[2017-02-21 11:05] ADiea commented on #972
Isn't flash target using esptool2?

[2017-02-21 11:22] vjacob opened #974 "Websockets can't process large JSON strings (> +/- 1460 bytes)"
Hello,

in my application I'm sporadically sending large JSON strings from a Javscript websocket client to the ESP (I'm working with a ESP12F 4Mb). This works fine if the length of the JSON string stays below approximately 1460 bytes. When my JSON string is longer, the WebSocketMessageHandler in my application does report the correct size (message.length() reports the same value as the length of m

[2017-02-21 12:03] avr39-ripe commented on #974
@vjacob in short: forget about JSON :) Really! just binary data, just hardcore! I mean this, no joking.
Longer answer: if websocket frame is longer then 1460 it reach mtu limit of lwip stack, and with recent update even 1390 is upper limit. Good websocket servers support fragmented frame, but not smings websocket server yet :( But trust me, this isn't your main issue! Even if you CAN receive large

[2017-02-21 12:28] slaff commented on #972
On Windows - yes. On Linux - only for rboot projects, as far as I can tell.

[2017-02-21 12:42] itarataiko opened #975 "Spiffs can't mount filesystem after some reboots"
Hi,
I'm using Sming ver 3.1.0 and esp-open-sdk 2.0
On system ready I'm using spiffs_mount_manual for mount file system. After "make flash" file system is ready and I can read files from file system. Config file loading working well on this stage
Every second I try to update some file on the file system and save current device state into this file.
After some device restarts I see that I cant read

[2017-02-21 15:43] tius2000 commented on #975
Hi @itarataiko, I noticed similar problems caused by a corrupted flash file system caused by a reboot in the middle of a write operation. The reason might be that you update your files very often.

After I directed the frequent updates to a separate flash sector (without any filesystem) my problems were gone. You should keep in mind that flash memory wears with every erase operation. So it might b

[2017-02-21 15:44] tius2000 commented on #971
@slaff: great - also the option of having no bootloader at all!

[2017-02-21 16:01] slaff commented on #960
@raburton Looking at the comments [here](https://github.com/raburton/rboot/issues/23) it looks as if  we can replace esptool2 with esptool.py. And if no-one is using the checksum feature is there something else that is unique to esptool2 ? Is it in the BIN file generation or in the flashing?
Thanks in advance.

[2017-02-21 19:24] raburton commented on #971
I don't think I realised we supported the espressif bootloader anyway, or if I did I'd forgotten. In what way is it currently supported?

[2017-02-21 19:29] raburton commented on #960
Personally I wouldn't want to want to replace a small platform independent program written in C that does the job in one command with a script of half a dozen lines making calls to as many different tools. esptool2 has had a lot of testing and field use, the script posted in that issue might work but really it's a mess and I haven't bothered to test it.

[2017-02-21 19:32] raburton commented on #960
btw I would strongly recommend everyone use the checksum feature, a better questions is if we should be making that the default

[2017-02-21 19:54] piperpilot commented on #971
I use only rboot...I tried the espressif bootloader and it sucked.  I +1 the switch to rboot or nothing.

[2017-02-21 20:06] rosiste commented on #971
+1 to drop original bootloader

[2017-02-21 21:57] anakod commented on #829
Big thanks @DominicMe !

[2017-02-22 01:07] mtzfactory commented on #972
Hi,

Thanks @slaff for the quick answer, I git cloned the last esptool.py (v2.0-beta2) but the result is still the same... random symbols...

This is the flashing output log...
[code]

But now, **when I comment the startMqttClient function, I get an overlap error message**... super strange! it was working before!

[code]

[2017-02-22 07:19] slaff commented on #972
Famous last words of developers :) If overlap is detected this means that your first rom is overlapping the second one. Either clean your source code a bit or move the start of the second one to be a bit further from the first one. If you go for the second solution then do the following:
The linker script and the addresses in the Makefile have to be changed.
You can move the start address from 0xa

[2017-02-22 07:25] slaff opened #977 "** Preparation for Release 3.2.0 **"
This issue is created to collect all the tasks we need to do before the 3.2.0

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#1107)
- [x] Update Readme.md (#1107)
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### Clean-up
- Removing all code related to the Espressif bootloader and using rBoot as bootloader (#1070 )
- [x] Removed Basic_AirUpdate (#1070)

[2017-02-22 07:27] itarataiko commented on #975
Thanks @tius2000 for your help. I'll try to make as you said

[2017-02-22 07:27] #975 closed

[2017-02-22 07:31] slaff commented on #960
IMHO, we should make default software one that is advanced and have useful features. Like, for example, faster upload. Or overlapping check. Active community and improvements. I think the discussion is getting too personal for you and I would prefer to decide based on technology, not personal preferences.

[2017-02-22 07:31] #960 closed

[2017-02-22 07:52] raburton commented on #960
I'm not taking it personally. Your comparison between the two tools isn't really valid, they only share one feature in commons (actual rom creation), which hasn't been discussed. You are comparing 2 different tools with overlapping functionality, not 2 tools that do the same things in slightly different ways.
esptool.py cannot replace esptool2 in building rBoot itself. You could instead replace th

[2017-02-22 08:20] avr39-ripe commented on #960
@slaff @raburton  Gyus, do not bite ech other! :) I think its all in NAME.. esptool2 was bit bad name, it confuses people that "oh, esptool2 same as esptool.py byt in C and with "2" And this is not true at all.. as you describe in above post it has nothing to compare with esptool.py (ok, almost nothing) IMHO we should include esptool2 as submodule to Sming.. I see no reason not to do so. It is sim

[2017-02-22 10:42] slaff commented on #960
Apologies for not being clear.

It would be great if we have ONE tool for creating ROM images and communicate with the ROM bootloader(for flashing, dumping memory, etc), without sacrificing functionality. That is the goal and I do not have personal preferences. I will be happy also if esptool2 is the winner. If we need two tools, it is  good to know why. Therefore we have this discussion, right?

[2017-02-22 10:44] slaff commented on #971
Ok, starting from version 3.2.0 (#977) we will drop support for Espressif's boolader and use only rBoot as bootloader. Plus, hopefully, add support for standalone applications.

Any final thoughts before we close the discussion?

[2017-02-22 10:58] avr39-ripe commented on #960
@slaff as @raburton said in README to esptool2 "The original [tool which inspires esptool2]  has since been updated to v0.0.3 which can write to the flash, but I currently have no intention to add that to esptool2, it is purely a rom creating utility" S I think we must stay with both esptool2 for ROM creation and esptool.py for writing/reading it to and from flash

[2017-02-22 17:32] tius2000 commented on #971
I recently started to create completely refactored makefile for rboot-only projects with many additions (address calculation, automatic linker script creation, dependency detection etc.). However, it is still work in progress. It has a different name, so there are no collisions with the current makefiles.

Should I create a PR for that when it is finished?

[2017-02-22 18:12] mtzfactory commented on #972
Je je... yes, famous words... but I don't understand you... I think I missed something...

The first one, with the "startMqttClient" function commented, I can flash the device but it prints random data and it resets itself...

When I build the same code, this time with the "startMqttClient" function uncommented, when I try to flash it, the **new esptool.py** tells me there is an overlap and it doe

[2017-02-22 21:58] ericogr opened #980 "flashinit fail with RBOOT_ENABLED = 1"
hi,

I'm trying to use flashinit with my project but it fail when rboot is enabled.
I'm using v3.1.1 Hotfix and development (11a3912), both generate invalid command to esptool.

testing Sming/samples/Basic_rBoot:

$ make flashinit
Flash init data default and blank data.
/opt/esp-open-sdk/esptool/esptool.py -p /dev/ttyUSB0 -b 115200 erase_flash
esptool.py v1.2
Connecting...
Running Cesanta flasher

[2017-02-23 10:16] slaff commented on #980
@ericogr Check that PR #981 and report if the solution is working for you.

[2017-02-23 10:22] #980 closed

[2017-02-24 01:49] ericogr commented on #980
It works now :)
Thanks

[2017-02-24 10:37] slaff commented on #971
Yes, please.

[2017-02-24 15:18] icodk opened #982 "Question regarding free heap"
When connecting to a remote server using esconnn or espconn_secure, free heap (measured by system_get_free_heap_size()) drops substantially, some times it can take a long time to recover it. Any attempt to connect again  when the free heap size is low can result an exception and a reboot.
Is there a safe way to avoid it it ?
In a completely different project I used Microchip TCP/IP stack. There, a

[2017-02-24 16:48] maerf opened #983 "Malware? HttpServer_Bootstrap-Example triggers URL:Mal warning in Avast"
HttpServer_Bootstrap-Example downloads serveral files from:

http://simple.anakod.ru/templates/index.html"
http://simple.anakod.ru/templates/bootstrap.css.gz
http://simple.anakod.ru/templates/jquery.js.gz

When I try to download them a URL:Mal is triggered in Avast.
Its probably a false alert - but then again, warnings about maleware in example code of an IOT-Framework shouldn't be ignored I guess

[2017-02-24 18:55] ADiea commented on #982
At the moment best solution would be to avoid making a new connection when heap is low. While negotiating SSL connection a 16KB is used as decripting buffer.

In the future we are planning some form of protection to avoid allocating too much heap and causing a reboot, but until then you should never try to alloc last few kb of heap because they are really stack memory and this is causing the reboo

[2017-02-24 19:03] ADiea commented on #982
In fact we can also make the SSL memory statically allocated this would also improve fragmentation a lot and reuse the buffer for every session. This will however block 16KB of RAM for the life of the app but could be a good option concerning robustness. I think that the buffer is used only in the handshake phase when the master secret is negociated so if you time your connections accordingly you

[2017-02-24 19:06] ADiea commented on #983
anakod is the username of the original creator of this framework. Those files are hosted on his website. It is just an example you can use another website of course :)

[2017-02-24 21:03] maerf commented on #983
Thank you I have seen that Anakod is a main contributor. But still that doesn't explain the malware warning. I mean, in theory his server could be hacked without him knowing it for example.

[2017-02-25 02:27] anakod commented on #983
@maerf thank you for notification. It's really false alarm (you can don't trust me of course and check it yourself with other antiviruses).
Can you please send short report to your antivirus web support, because this situation isn't good anyway? It will be helpful for us.

[2017-02-25 02:37] anakod commented on #971
We should drop support for old non-actual things, and moreover, we should drop support for my original OTA updater (and than remove Basic_AirUpdate example), because rboot is better and cover all cases.

[2017-02-25 13:38] tius2000 commented on #971
I submitted my refactored makefile as requested #985. However, this is still work in progress, all comments are welcome!

[2017-02-27 10:05] slaff commented on #982
Allocating 16K on a device that has roughly 35 K free/usable memory is too much. A buffer of 4K is  more reasonable, although still too high for my taste. You can send a PR to the axtls-8266 project and see if igrr has some better ideas.

[2017-02-27 10:38] slaff commented on #843
Feel free to reopen this ticket if the issue is still not fixed in the latest `develop` version.

[2017-02-27 10:38] #843 closed

[2017-02-27 10:39] slaff commented on #877
Feel free to reopen the issue once there is some progress on it.

[2017-02-27 10:39] #877 closed

[2017-02-27 10:52] slaff opened #987 "Replace memanalyzer with python script"
The current [memanalyzer](https://github.com/Sermus/ESP8266_memory_analyzer) tool is available on platforms that have .NET support which increases the dependency of external tools and libraries. Because we already have dependency on python (esptool.py depends on it) and it is available on all supported OSes (Windows, FreeBSD, Linux, MacOS X) it would be a good idea to create a python script that p

[2017-02-27 10:53] slaff commented on #752
Superseded by #987

[2017-02-27 10:53] #752 closed

[2017-02-27 18:41] jgaNet commented on #843
Sorry, i didn't have time to check the update but i will do it soon. Thanks
you

*Jérémy Gay*
CEO, Ingénieur-Développeur-Formateur
*Exostic SAS - 95 rue Paul Bellamy - 44000 Nantes*
*06 78 14 96 81* <+33678149681>
*https://exostic.com* <https://exostic.com/>

2017-02-27 11:38 GMT+01:00 slaff <notifications@github.com>:

[2017-02-28 12:22] #987 closed

[2017-02-28 13:43] vjacob commented on #974
@avr39-ripe Working with human-readable JSON has proven very transparant for use while working on a project with multiple developers. This way, the correct implementation and bug-fixing of the protocol has been quite painless. I fear this would have taken much more time using a non human-readable format, passed around as byte-arrays.
For the other comment: there are [JSON parsing libraries ](https

[2017-02-28 14:07] slaff commented on #974
Maybe you should change the method below so that is splits the data into multiple frames if length > 1024 bytes

[code]

[2017-02-28 14:16] vjacob commented on #974
@slaff Thanks, but that's probably when the ESP is a WebsocketClient connecting to another server? In my project, the ESP is the server and is receiving data from a Javascript client.

[2017-02-28 14:55] mtzfactory commented on #972
Hi @slaff,

I followed your instructions, now I can flash the two program versions without problem, but it **still** prints random data and resets itself when I uncomment the **startMqttClient** function...

Please, I need help, have you tried my code?

Thanks in advance...

[2017-03-01 15:53] zgoda commented on #983
Reported: https://support.avast.com/support/tickets/732918, https://support.avast.com/support/tickets/732919, https://support.avast.com/support/tickets/732920

I can't see what's there because I don't have Avast account :D

[2017-03-01 16:37] riban-bw opened #990 "Failing to build samples with Python3"
Commits #988 and #989 seem to have broken the building of samples (and user code) if using Python3. Python2 seems to work okay. If Python3 is used then the error given is:

`Traceback (most recent call last):`
`  File "/D/PJ/SmingHub/Sming/Sming/../tools/memanalyzer.py", line 40, in <module>lines = response.split('\n')`
`TypeError: 'str' does not support the buffer interface`

[2017-03-01 16:57] riban-bw commented on #990
PR #991 fixes this - thanks for your (very) prompt response. (This also gave me the opportunity of learning how to fetch a PR as a branch in my working copy.) Cheers!

[2017-03-01 16:57] #990 closed

[2017-03-01 16:58] riban-bw commented on #990
(Of course - I closed this but the PR still needs merging - slaff?

[2017-03-02 03:02] israellot opened #992 "PPP"
LWIP PPP implementation could be included. It would be a nice feature to plug a GPRS modem on serial and talk PPP to it.

[2017-03-02 08:27] slaff commented on #992
Can you share more details about that?

[2017-03-02 08:39] riban-bw opened #993 "rBoot makefile does not handle project paths with spaces"
I have a project which is stored in a directory which has a space in its path. This builds fine with RBOOT_ENABLED = 0 but fails with RBOOT_ENABLED = 1. This is within MSYS2 (POSIX environment) on Windows 7 64-bit.
It would be advantageous (for debugging this kind of issue) if Makefile-project.mk and Makefile-rboot.mk were better aligned. Currently there are several sections of the same content po

[2017-03-02 08:53] zgoda commented on #983
Reply from Avast support:

Please check again.

[2017-03-02 12:00] slaff commented on #992
I saw some implementations that can be used as a start. So far I can see we need the `sio` functions for the serial communication
[code]
which can be mapped easily to our existing HardwareSerial functions.

And probably we can use as a base something like that https://github.com/MarioViara/gprs. So the more I think about it the more I like the idea.

The only thing that we need now are volunteers

[2017-03-02 14:31] israellot commented on #992
https://github.com/espressif/ESP8266_RTOS_SDK/tree/master/third_party/lwip/netif/ppp
Here's the ppp code on espressif RTOS sdk. It is not present on non-os version. I wonder if that's a starting point.

[2017-03-02 15:02] ADiea commented on #892
Regarding: Modify image size and start address in ld script. (increased irom section)

I was using these values for iram and irom sections, to allow more functions into the IRAM section
[code]

Right now in standalone.rom.ls these are the values
[code]

According to [memory map](https://github.com/esp8266/esp8266-wiki/wiki/Memory-Map) range from 40108000 to 4011000 should not be used. However in m

[2017-03-02 15:44] slaff commented on #892
Haven't tested this but I guess you can disable the RAM cache by calling  early enough [Cache_Read_Enable(0, 0, 0)](https://github.com/pvvx/SDKnoWiFi/blob/5c5a850ccb5b2f4319e607ba14a012c078d2ce79/app/loader/loader.c#L16) and then you could change the length from `0x8000` to ` 0x0C000`.

[2017-03-02 16:20] maerf commented on #983
Wow that was quick great thanks. My macbook backlight just failed and I'm
back to windows and I can't confirm it now.
But I guess I can sleep soundly tonight then :)

[2017-03-02 16:22] #983 closed

[2017-03-02 17:33] zgoda opened #994 "Unify style for delegate class names"
I just found out that there are 2 styles (maybe more?, I just started learning Sming) used to format delegate class names, there is eg. `ConnectionDelegate` and `onStationDisconnectDelegate`. I think it would be better to maintain consistent coding style across framework.

[2017-03-03 08:34] riban-bw opened #995 "Calling timer rapidly crashes application"
If a timer is triggered rapidly, e.g. every 50ms, the application crashes due to watchdog timer after a few timer iterations. Timers should be fail safe and not require user code consideration of limitations. I am guessing (not yet reviewed code) that there is no yield / wdt call within the timer handler routine.

[2017-03-03 12:58] ADiea commented on #995
I think that if you remain longer than 10ms in a timer callback you must feed the watchdog

[2017-03-03 13:03] slaff commented on #995
Also if you call a timer every 50ms it can happen that previous and new call overlap. That should also be  taken care of.

[2017-03-03 13:06] riban-bw commented on #995
Yikes! I would like to decouple the watchdog from timer callback functions to reduce the complexity for developers. I see timers as a core method of providing sequential / loop programming that many developers are familiar with (like the loop function in Arduino) and it should be easy for them. I don't yet know how I trigger events that are longer than 50ms within a timer. I will take a look at th

[2017-03-04 06:31] aruldd commented on #15
Facing the same issue in linux (Ubuntu 14.04 x64) using precompiled esp-open-sdk and while compiling basic_blink.

[code]

[2017-03-04 08:38] aruldd opened #998 "Building basic blink example throws the error"
Using the following config:
Platform : Ubuntu 14.04 x64
Precompiled esp-open-sdk x64 1.5.4 (compling from scratch throws [#181](https://github.com/pfalcon/esp-open-sdk/issues/181))
Everything else same as linux quickstart

[code]

[2017-03-04 08:46] riban-bw commented on #995
I have just reworked my code to ensure timer does not crash in to previous call. I have stopped using repeating timer and instead, re-initialise the one-shot timer at the end of the timer call-back routine. This works so my problem was not WDT but instead, as slaff suggested, the callback taking longer than the timer interval. I will add a warning to the API docs and example code to show this alte

[2017-03-04 08:46] #995 closed

[2017-03-04 11:04] vg78 opened #999 "Errors while compiling LWIP under Windows"
Compiling Sming develop using UDK 2.2 (SDK 2.0.0)
gives plenty of warnings on LWIP stack.
Implicit declaration of functions vPortFree, pvPortMalloc, pvPortZalloc.

Here is the make output (partially shortened ...):

[code]

[2017-03-04 11:35] maerf opened #1000 "build failes with application.o: No such file or directory + chocolatey errors"
I've been trying to setup a sming build-toolchain on windows for 2,5 days now ever since my mac died, but I just can't it to work. I exactly followed the wiki instruactions for chocolatey.

**This is what happends when I try to build Blink (or anything else):**

C:\tools\sming.examples\samples\Basic_Blink>make all
C+ app/application.cpp
AR out/build/app_app.a
c:\Espressif\xtensa-lx106-elf\bin\xten

[2017-03-04 11:55] ADiea commented on #1000
Try to install manually maybe

[2017-03-04 12:00] ADiea commented on #999
I have a PR submitted in upstream for this, but we can also fix in the patch.

[2017-03-04 12:13] ADiea commented on #998
Will investigate

[2017-03-04 12:13] ADiea commented on #15
Will investigate

[2017-03-04 12:14] ADiea commented on #998
Please show me how you compile sming lib. The make line

[2017-03-04 12:14] ADiea commented on #15
Please show me how you compile sming lib. The make line

[2017-03-04 12:19] ADiea commented on #998
Try building blink with ```make ENABLE_CUSTOM_LWIP=0``` and let me know if this still fails. By default ENABLE_CUSTOM_LWIP is 1 and you have to use the lib compiled from sources

[2017-03-04 12:40] ADiea commented on #15
[code]
But it should look like (from esp-open-lwip.patch)
[code]

It looks liek you are not applying the patch, how are you building sming? Delete all files from Sming\third-party\esp-open-lwip\ and then make sming again with ```make rebuild ```

[2017-03-04 12:54] vg78 commented on #999
I added the functions declaration in the esp-open-lwip/include/user_config.h file

[code]

but there are new warnings:

[code]

missing some function declarations that i can't find in Sming and SDK source

[2017-03-04 17:56] svireli opened #1002 "esptool overlap error"
Hi
i'm using sming with docker and just compiling HttpServer_WebSockets, but esptool throws error.
I have not changed anything in example.

`/opt/esp-open-sdk/esptool/esptool.py -p /dev/ttyUSB0 -b 115200 write_flash -ff 40m -fm qio -fs 4m 0x00000 out/firmware/0x00000.bin 0x0a000 out/firmware/0x0a000.bin  0xB000 out/firmware/spiff_rom.bin`
`WARNING: Flash size arguments in megabits like '4m' are de

[2017-03-04 21:48] icodk opened #1003 "Order of pinMode and digitalWrite makes a different"
May be a well known fact but for me it was a bit of a pain.
I use some of the pins as both inputs and outputs, This is possible because it happens in to mutually exclusive states and I don't have enough IOs otherwise. To protect the pin from overcurrent
I wanted to make sure the pin is always low when in output mode so I first called digitalWrite(SS_PIN_1, LOW); and then    pinMode(SS_PIN_1, OUTPU

[2017-03-04 23:05] riban-bw opened #1004 "smartConfig does not work"
The smartConfig sample (and default smartConfig function) does not work. It gets to the SC_STATUS_LINK stage but does not complete.

[2017-03-04 23:07] riban-bw commented on #1004
I have found that adding connect() to the end of the SC_STATUS_LINK stage fixes this.

[2017-03-05 06:58] ADiea commented on #1003
use hardware protection. Ex a resistor or diodes.
See the attached picture. R25 protects esp device. If esp sets output as low but button is pressed at the sae time then esp will sink no more than 3.3V/1k (value of r25)
You would probably need a transistor to drive the led + pressing the button will also light up the led, but the essential is the resistor close to esp!
![r25](https://cloud.githubu

[2017-03-05 07:38] riban-bw opened #1008 "Automated (CI) builds failing for SDK_VERSION=2.0.0"
Submitting PR triggers CI automated build and test. This is passing for SDK 1.5.0 but failing for SDK 2.0.0.
It seems to be an error with esptool2 not being accessible.

[2017-03-05 09:21] mgottschlag commented on #998
I am seeing the same problem. Fedora 25 x64, everything as in the linux quickstart page.

~/opt/esp-open-sdk/esp-open-lwip/include/arch/cc.h contains a reference to DEBUG_printf, but that function is never defined anywhere. Neither in esp-open-sdk, nor in Sming's custom lwip. Therefore, ENABLE_CUSTOM_LWIP=0 does not seem to help (unless I am doing it wrong somewhere). Not defining LWIP_DEBUG might

[2017-03-05 09:26] mgottschlag commented on #998
Oh, actually, ENABLE_CUSTOM_LWIP seems to work, and I indeed did it wrong :)

[2017-03-05 11:56] tius2000 commented on #993
Path and filenames with spaces are a constant source of trouble within make and other tools, I personally try to avoid them whenever possible ...

Perhaps you want to have a look on #971? What is your opinion? Also your feedback on #985 is very welcome ;-)

[2017-03-05 12:30] icodk commented on #1003
@ADiea Thanks for your input. In my case it is not an issue because the button pulls the pin to  GND.
also have protection resistor of 100R, witch is not suficiant in most cases but will take some heat if the time is short.
Could be nice if we could set the output level before the pin is set in an output mode

[2017-03-05 12:30] #1003 closed

[2017-03-05 14:34] riban-bw opened #1009 "spiffs_mount() not compatible with rBoot"
I use SPIFFS in a project but when I enable rBOOT I get `read errno -10011` debug output and SPIFFS is not working. I am using the configuration from Basic_rBoot Makefile-user.mk on a NodeMCU (ESP-12) module.

[2017-03-05 14:36] riban-bw commented on #971
I fully support (+1) making rBoot our only second stage boot loader but please add support for standalone (no second stage boot loader) before dropping support for Espressif second stage boot loader. I am unable to get rBoot and SPIFFS working together (#1009) and we should have a method of creating images without rBoot, just in case of similar issues.

[2017-03-05 15:16] riban-bw commented on #1009
If I use `spiffs_mount_manual(0x100000, 65536);` then it works so it seems that, when building with rBoot, the automatic detection of SPIFFS location or size fails.

[2017-03-06 06:47] kwis2 commented on #1000
As I found choco still link to sming 2.1.0, additionally there is problem with mingw64.
I found that the easiest way, (not exactly optimal) to use sming on win is to install sming by choco, then manually install mingw32 (anywhere), copy files from mingw32 to tools/wmigw64. then delete whole sming dir and download and copy current sming version. Be carefull with case sensitive of folders ie. tools/

[2017-03-06 08:54] slaff commented on #1009
rBoot saves the SPIFF file system at a [pre-defined location](https://github.com/SmingHub/Sming/blob/develop/Sming/Makefile-rboot.mk#L30). Which by default is `0x100000`. When you use `spiffs_mount_manual(0x100000, 65536)` you are instructing the SpifFS to be mounted starting from address `0x100000`, which is the same one that is hard-coded.

If you use spiff_mount() is does something else - it ca

[2017-03-06 09:09] slaff commented on #1008
Not really, your changes in PR #1007 changed  also the permissions of `esptool2` that is used in our CI `.travis/tools/esptool2 100755 → 100644`.

[2017-03-06 09:09] #1008 closed

[2017-03-06 09:28] slaff commented on #1002
Thanks for reporting this.

It seems that Alpine's stat does not support printf=% options.

[code]

[2017-03-06 10:01] aruldd commented on #998
I succeeded building the example using the following line.
`make ENABLE_CUSTOM_LWIP=0 DISABLE_SPIFFS=0`

[2017-03-06 10:10] #1002 closed

[2017-03-06 11:05] kwis2 opened #1011 "another Windows compile problem"
While compile commit c250014  I got errors (translated)

while making Spiffy.c

CC spiffy.c
make[2]: *** [spiffy.o] Error 1
make[1]: *** [spiffy/spiffy] Error 2
make[1]: Leaving directory `/C/tools/sming/Sming'
make: *** [reload] Error 2

problems were with mingw64 and mingw32

[2017-03-06 11:45] kwis2 commented on #1011
problem starts with commit 4e20be5 #964

[2017-03-06 11:56] kwis2 commented on #1011
It was possible to compile sming c250014 with procedure:
`make clean` ->OK
`make all` -> ERROR
`make spiffy` -> OK
`make all`

[2017-03-06 12:15] kwis2 commented on #1011
after compile sming there a lot of problems with python code with memanalyzer.py
first `python` from

do not link to `python.exe`.

I have changed to `c:/python25/python.exe`
and then I got

Unfortunatelly I don't know python, and I don't know how to add collection to windows ....

[2017-03-06 12:26] slaff commented on #1011
python 2.5 is quite old. Is it possible to update your python to 2.7?

[2017-03-06 12:40] slaff commented on #998
@aruldd Please, test with the following commands:

[code]

If there is a step that fails, please, re-run that step with V=1. For example if `make` fails re-run it like this `make V=1`.  Check also this Wiki document for [hints](https://github.com/SmingHub/Sming/wiki/Sample-Compilation-Issues).

[2017-03-06 12:43] kwis2 commented on #1011
python 2.7 solved problem.
With choco config

 is placed in

 so I had to change in

 from

`ESPTOOL		 ?= $(SDK_TOOLS)/ESP8266/esptool.exe `
to
`ESPTOOL		 ?= $(SDK_TOOLS)/esptool.exe`

[2017-03-06 12:44] slaff commented on #1000
@maerf check our [CI script](https://github.com/SmingHub/Sming/blob/develop/appveyor.yml) for hints what we do to get the latest Sming version compiling and running on Windows.

[2017-03-06 12:49] kwis2 commented on #1011
Another problem with rboot example:

in my oppinion it is syntax error in

, but I am not able to find ....

[2017-03-06 12:52] slaff commented on #1011
Test these commands

[code]

Be sure that `make` is in your PATH.

[2017-03-06 13:06] slaff commented on #1011
Now, put `python` also in your PATH.

[2017-03-06 13:17] kwis2 commented on #1011
When I add PATH `make V=1` start to work, even `make` works but in netbeans I use there is

[code]

[2017-03-06 13:25] kwis2 commented on #1011
I found. Netbeans converts `$(MAKE)` into whole path, and there is no separating mark in

change `$(MAKE)` into `make` in line 433 solves problem.

[2017-03-06 13:45] slaff commented on #1011
The right solution is to change your environment to match the requirements. And not vice-versa. This means that you should change globally your PATH environment so that `make` can be found from your OS.

[2017-03-06 14:02] kwis2 commented on #1011
@slaff you are right, netbeans makes its own enviroment with its own paths.
When I have changed `C:\tools\mingw64\msys\1.0\bin\make.exe` to `make.exe` `Basic_rBoot` was compiled.
Problem is that I would preffer to know which `make` was used, and the most interesting question is why programs with

 compile but

 not?

[2017-03-06 14:04] riban-bw commented on #1009
I have changed the title of this issue to better reflect the problem.
Please make spiffs_mount() compatible with rBoot. There is a plan to make rBoot the default boot loader so this could / should be done to support that change. Maybe spiffs_mount() could check for rBoot and request information about spiffs from rBoot integration or a more robust and exhaustive search for the spiffs file system. I

[2017-03-06 14:08] riban-bw commented on #1004
I am using SDK 1.5.4 within msys2 environment on Windows 7 and deploying to a NodeMCU (ESP-12) device.

[2017-03-06 14:32] slaff commented on #892
@ADiea May be we can add to this release also that feature "Guard CommandExecutor to be able to exclude from build if not used/needed. (increase IROM/heap)" if you submit PR until Wednesday (8th March, 2017). If will align nicely with the other heap improvements that you have contributed.

[2017-03-06 15:23] ADiea commented on #892
I have just received my projects's PCBs this weekend so was a little busy soldering :) Right now my priority is SPI modifications in order to have functionality on my board But I will also try to guard CommandExecutor because it's a simple PR.

[2017-03-06 21:54] kwis2 commented on #1011
With new commit 89d529c problem with `make flash` there is problem with python and esptool

in translation

and there is no pythondll file in python27 dir

[2017-03-07 06:39] kwis2 commented on #1011
Source of problem it was place of esptool.exe file. According to appveyor.yml I have copied esptool.exe from c:\Espressif\utils\ to c:\Espressif\utils\ESP8266\. I have tried several times to flash board with no success.
When I have changed makefile-windows.mk `ESPTOOL ?= $(SDK_TOOLS)/esptool.exe` and removed ESP8266 folder from c:/Espressif/utils flash work

[2017-03-07 12:27] anakod commented on #1011
Please try to install new UDK version - it should have right path.

[2017-03-07 14:51] maerf commented on #1000
@kwis2 that solution makes my skin crawl, I hope there is a more long termin solution?

@slaff  I had a look at it but don't see anything obvious. Which doesn't mean there isn't anything.  Any hints about what should I look out for?

I checked back with chocolatey and wrongly filing this following issue. See the attached **log files** there. https://github.com/chocolatey/choco/issues/1183

It turn

[2017-03-07 16:41] kwis2 commented on #1011
With UDK 2.2.1 there was problem - all paths ok, programs - examples compiled but not works. There were serial communication with unknown speed, I have returned to UDK 2.0.9

[2017-03-08 00:34] anakod opened #1015 "Warnings during Sming compilation (open lwip)"
Starting from some last update Sming begin printing huge amount of warnings during build process. I think we should fix includes to resolve it. Removing third-party\esp-open-lwip didn't change anything for me.
Link to same issue, just for reference: https://github.com/Caerbannog/esphttpclient/issues/10

[code]

[2017-03-08 10:22] riban-bw opened #1016 "Can only attach one interrupt to a pin"
If you try to assign multiple interrupts, using different interrupt modes, to the same pin, only the last attached will work and all others are ignored. Example:
[code]
This will result in calls to negEdgeInt() on a falling edge on PIN_4 but nothing on a rising edge on PIN_4.
I appreciate there are coding methods to work around this but they all add processing time which in some applications is un

[2017-03-08 11:41] teicors commented on #1016
Hi,
I'm using this trick:

void IRAM_ATTR interruptHandler00()
{
     detachInterrupt(PIN_BUTTON);
     attachInterrupt(PIN_BUTTON, interruptHandler01, RISING);
}

void IRAM_ATTR interruptHandler01()
{
     detachInterrupt(PIN_BUTTON);
     attachInterrupt(PIN_BUTTON, interruptHandler00, FALLING);
}

ad it works.

Cheers,
Angelo

On 08/03/2017 11:22, riban-bw wrote:

[2017-03-08 11:59] #924 closed

[2017-03-09 07:11] #1011 closed

[2017-03-09 07:40] kwis2 opened #1017 "WDT can't wake up ESP"
Sometimes module hangs and can not wake up. This time I have logs with `Serial.systemDebugOutput(true)`.
My own program, www interaction hangs module. I wasn't able to reproduce problem with any samples.
8:08:33 - module hangs, reset,
8:08:41 once again WDT reset
8:10:19 I have pressed reset button
Problem is not that module hangs, but that WDT do not wake up module to normal work.
Module ESP8266-

[2017-03-09 08:16] slaff commented on #1017
@kwis2 Most probably you have flashed a new application and forgot or left the ESP8266 attached to the USB cable which holds the GPIO pins. My recommendation is once the application is uploaded to the device to power it off, detach the USB cable and then power it on.

[2017-03-09 08:19] kwis2 commented on #1017
If it was reason then module wouldn't be wake up after hard reset - ESP8266-01 has no USB driver, just serial

[2017-03-09 08:45] kwis2 commented on #1017
Afternoon I'll solder led to a pin, what should claryfy

[2017-03-09 09:24] slaff commented on #1017
Do you use NodeMCU ?

[2017-03-09 13:46] anakod commented on #1015
It's duplication, already reported: https://github.com/SmingHub/Sming/issues/999

[2017-03-09 13:46] #1015 closed

[2017-03-09 14:07] anakod commented on #999
I found workaround for this issue:
http://stackoverflow.com/questions/11816133/disable-function-declaration-error-in-avr-g

So probably we can add declaration for known funcions and than add flags to ignore others.
Try to add in "Makefile", line 180:
EXTRA_CFLAGS_LWIP = -I../../system/include -I../../Wiring **-Wno-implicit-function-declaration**

@vg78, can you check and make pull request with tha

[2017-03-09 14:09] ADiea commented on #999
I think it's better to add funciton signature to os_port.h rather than disable the warning

[2017-03-09 14:52] ADiea opened #1018 "Q: If I want to add a lib should I always use submodule?"
Hi
I would like to add at least 2 libs in the future one is https://github.com/WereCatf/PCF8574_ESP
Should I make a new submodule in thirdparty or just put it in the lib folder?

[2017-03-09 15:32] slaff commented on #1018
Good question. If this is an arduino library, which the one that you have pointed out is, then we can build also mechanisms for Sming/Libraries, similar to third-party, that fetches remote libraries and patches them in the same manner as third-party libraries.

It would have been great if we could use these libraries out of the box, but that, as far as I can tell is impossible for most of them. Ma

[2017-03-09 16:09] ADiea commented on #1018
On the other hand submodule makes sense only for medium-big source code projects like axtls esplwip etc, and most importantly actively maintained. If it's not maintained we complicate the flow for no good reason

[2017-03-09 16:19] kwis2 commented on #1017
I use simple ESP8266-01s with USB/serial dongle. I have mdified dongle with 1000uF cap to be sure that power is OK

[2017-03-09 16:37] slaff commented on #1018
We can have best of both worlds - submodules for actively maintained libraries and local copies of Libraries that are small or not maintained.

And that should be relatively easy to implement. As far as I know, and I am absolute beginner here so correct me if I am wrong, an Arduino module have [some structure](https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification).  They m

[2017-03-09 16:49] slaff commented on #1018
But back to your question.

No, the Arduino libraries belong to `Sming/Library`

Put it in the lib folder for now. Once we have submodules support for `Sming/Libraries` similar to `Sming/third-party` we can move the code to a submodule.

[2017-03-09 17:44] kwis2 commented on #1017
LED connected to GPIO2, with blink timer stopped. So board hangs.
When I program ESP and then run module system hangs with some circumstances. The same procedure with system hard reset after program download don't kill system, but after some time it is able to wake up with very strange way. Below is log with such situation.
I add a lot of comments with `>>       -----notes`. and `>>tick     ---` i

[2017-03-09 18:30] kwis2 commented on #1017
I have checked another board - WeMOS  D1 mini with the same results, so In my oppiniom it is no problem with power, connection or FLASH size. For now, In my oppinion http POST crash system.
Log below - ESP hangs and 19:20:10 I have pressed reset button.
I think I should simplify program to find the reason.

[2017-03-09 19:04] ADiea commented on #1018
ok closing this for now. Good idea about libs and versioning. then anybody cann have what version suits him.

[2017-03-09 19:04] #1018 closed

[2017-03-09 21:37] kwis2 commented on #1017
I have prepared sample program which hangs all ESP modules I have. [sming-hang-up](https://github.com/kwis2/sming-hang-up.git).
Sorry for codding style

[2017-03-10 08:23] icodk opened #1019 "Sming on board with Ethernet"
I am looking for an hardware platform with Ethernet on which I can use my Sming based firmware.
Sometimes Ethernet is preferable (stability, security, wifi misconcetopn, etc.). It would be nice to be able to use the (almost) same firmware but to communicate Ethernet instead of wifi.
May be en ESP with Ethernet shield.
Any input is welcome

[2017-03-10 08:27] ADiea commented on #1019
[ENC28J60 over SPI](http://www.ebay.com/itm/1PCS-MiNi-ENC28J60-Ethernet-LAN-Network-Module-For-Arduino-SPI-AVR-PIC-LPC-/381447240602?hash=item58d006fb9a:g:A5YAAOSwT5tWKuQ~)
there is some code up to osi layer 2 then when you have the frames you must adapt a layer over our lwip specifically over the interface part

[2017-03-10 08:40] ADiea commented on #1019
For ex you could bring this lib into sming https://github.com/renatoaloi/EtherEncLib
Then write some glue to pass received frames to lwip. You can also make a router then if you define a eth interface to lwip + the wifi interface of the chip :)
For ex you receive your frame from enc60 in MACReadRXBuffer() (I think you must also use interrupt pin of encj to know ehen a new frame has arrived)
Then y

[2017-03-10 09:11] kwis2 commented on #1017
I am wodnering if it is problem of sming or my computer configuration or old Espressif version I use.
I would be grtefull if you could send information if you are able to reproduce problem with your modules.

[2017-03-10 10:02] slaff commented on #1017
19:20:10.039, ���$�b�oâ|�Śěl���cŚňggď<0>d„Źl����g'd„d���gs‡““n�űl‡�dón�źŕc�'d„�Śűggď<0>�Ź�lpűoŕ���s„śśâŕ�b�oâ|�lŹb„űooď<0>lŚ�d����nodŚl���'sŽ››o�ěŽ�lűožŕb�o$ŚŚógnç<0>�Ź�lxňgŕ����{Śśśăŕě���cgă|�„äŹ�pŚňggç<0>d„�l����ogÇ�$��o{Ź›’g��d��r’“g����l`�don't use rtc mem data

what I can see is that actually WDT reset was triggered. And this is what this ticket is about. Therefore I

[2017-03-10 10:02] #1017 closed

[2017-03-10 10:45] kwis2 opened #1020 "WDT reset ESP but program not start problem"
According to #1017  I didn't clarify.
With some circumstances with error, bug or so - it doesn't matter - module hangs, WDT reset module, but program do not run. The only way to wake up is hard reset. Below you have log when I have pressed reset button after about 6 minutes.
Module fires `wdt reset` 11:21:16 and nothing happened (hangs). 11:27:34 I have pressed reset button.
I have test on ESP8266

[2017-03-10 10:50] icodk commented on #1019
sounds like piece of cake :-)

[2017-03-10 11:12] kwis2 opened #1021 "undefined reference to `init()'"
With wrong `MODULES` setting in makefile there is misleading error generated.
Another question how could I set MODULES if I would like to use current dir?

[2017-03-10 14:31] ADiea commented on #1019
It's a bit of work and testing but in the end you can use the rest of smings tcp/ip features transparently i think :)

[2017-03-10 14:41] anakod commented on #999
You are right, but them isn't declared in Sming\LWIP as I understand.

UPD: I found them: https://github.com/IOCare/esp8266GUI/blob/master/include/espmissingincludes-ip.h

[2017-03-10 14:43] anakod commented on #1021
Lloks like your MODULES defination is wrong anв didn't actually include program source files (where init should be declared). Sming itself didn't have that function, but call it from user app.

[2017-03-10 15:29] icodk commented on #1019
@ADiea Thanks for your input.

[2017-03-10 15:29] #1019 closed

[2017-03-10 15:35] icodk opened #1022 "ICACHE_FLASH_ATTR not on library functions Why"
In my straggle to get as much free heap as possible I 'decorate ' all my function  with the ICACHE_FLASH_ATTR. However looking at Sming library functions I can't find this attribute.
Is this correct observation or  am I missing something?

[2017-03-10 15:39] kwis2 commented on #1021
@anakod - I moved source files to different dir so I knew what happened. But if I get such error without reason knowledge I wouldn't be able to guess what was wrong. In my oppinion message should be changed

[2017-03-10 15:43] anakod commented on #1022
No, in Sming all function by default going to flash. You can force function to iram location by "IRAM_ATTR" attribute.

[2017-03-10 15:45] anakod commented on #1021
But this is standard error from linker? If you have ideas how to overwrite it - we will apply your PR of course.

[2017-03-10 16:07] icodk commented on #1022
By no you mean that all Sming functions are loads on demand and can't optimized farther
What about Arduino libraries that are not part of Sming ?
Example I use this library: https://github.com/miguelbalboa/rfid
How can I make this library functions load on demand and occupying as little RAM as possible ?

[2017-03-10 16:51] #1021 closed

[2017-03-10 17:07] slaff commented on #977
@anakod Can you add for the Sming github repo a big yellow or orange label with test "Release Prep" ? This way we could distinguish easily release preps from other issues.

[2017-03-10 22:52] anakod commented on #977
Yes, I can of course. Can you explain what is it? :)
I'm very like your idea of structuring every release, because it's make process much more transparent, so any improvements here will be helpful, I think.

[2017-03-11 06:55] ADiea commented on #977
@slaff are you sure you understand mforce-l32i completely? It forces all reads and writes to be aligned. This can be a big performance penality + code size. Also as I understand it only works for multiple of 4 bytes ex if you have 40 bytes I don't quite understand how it will read until byte 40.  So in my opinion this is a tricky compiler option, my windows compiler does not support it and I would

[2017-03-11 07:55] slaff commented on #977
@anakod Please, read  [here](https://help.github.com/articles/creating-and-editing-labels-for-issues-and-pull-requests/) how to create "label". Orange color  and text "Release Prep".

[2017-03-11 07:56] slaff commented on #977
@ADiea I guess not :). But I can easily check this. I guess I will have time on Monday to do this. Thanks for bringing that up.

[2017-03-11 08:08] #783 closed

[2017-03-11 08:08] #831 closed

[2017-03-11 08:24] nevers opened #1023 "Framework seems to be broken"
I upgraded (my docker environment) to the latest 3.1.2 version of Sming and my project seems to be  broken. So then I tried running the Basic_Serial example:
- compiling works fine
- flashing works fine too (although it seems to be quite a more recent version of the esptool).

But: when connecting the (serial) terminal, the device doesn't respond at all. Downgrading back to version 3.0.2 makes eve

[2017-03-11 08:35] ADiea commented on #1023
As usual please also post all relevant console output :)

[2017-03-11 17:09] nevers commented on #1023
Here you go:

[code]

Basically, I'm not receiving anything. In order to reproduce this, try building the latest docker image, and them try building and flashing the Basic_Serial sample within.

If you need anything please let me know.

[2017-03-11 18:16] #1020 closed

[2017-03-11 18:40] kwis2 opened #1024 "how to hang ESP module"
According to #1020 there is very simple way to kill ESP with WDT unable to wake up module. I have tested ESP8266-01 and WeMOS modules. Simple program could kill module forever and only hard reset could it awake. Works with any version of Sming from 2.1.5.
The reason is `System.restart()` command.
I have written very advanced software which after 10 seconds run `System.restart()` and:

**and a few

[2017-03-11 22:15] riban-bw opened #1026 "Internal pull-up does not seem to work"
Configuring a GPIO pin with mode INPUT_PULLUP does not seem to enable the internal pull-up. A simple push button application (with appropriate switch debounce) does not work without external pull-up resistors added.
Tested on NodeMCU (ESP-12) module.

[2017-03-12 07:30] tius2000 opened #1027 "Discussion: add setjmp / longjmp to sming libraries?"
I recently implemented the missing SDK functions _setjmp_ and _longjmp_ for one of my projects. Perhaps it might be useful to add them to the sming libraries, what do you think? What would be the right place for that?

[2017-03-12 08:25] riban-bw opened #1028 "ARDUINOJSON_USE_LONG_LONG does not work in Sming"
Adding `#define ARDUINOJSON_USE_LONG_LONG` to the top of a Sming application source code instructs the Arduino JSON library to allow use of long long (64 bit) integers but this causes lots of compile errors including ambiguous overloads (probably because overload functions are not defined for this variant) and strtoll missing.

I want to store and retrieve the 64 bit ID of DS18S20 temperature sens

[2017-03-12 08:30] hreintke commented on #1027
@tius2000 :
Looked in your github repositories but did not find your implementation.
Do you have them somewhere for usage/download ?

[2017-03-12 09:52] tius2000 commented on #1027
[code]

[2017-03-12 10:00] tius2000 commented on #1027
[code]

[2017-03-12 10:01] tius2000 commented on #1027
The sample application just contains two snippets from Wikipedia.

[2017-03-12 11:21] hreintke commented on #1027
Thanks,
Included the include/machine/setjmp.h and added
extern "C"{
void	_EXFUN(longjmp,(jmp_buf __jmpb, int __retval));
int	_EXFUN(setjmp,(jmp_buf __jmpb));
}

First tests show good results.

[2017-03-12 14:28] neut2012 opened #1029 "Sming Basic_SSL sample not working. FATAL ERROR"
I'm getting this error when trying out the basic_ssl example in the samples folder.

I recently (yesterday) updated my Sming environment (did a clean install of everything) so everything should be up to date.

The test is done on an ESP8266 with 4M flash. All other samples work fine.

Things I tried (just in case):
Removed the sections of code that are switching CPU frequency.
Tried on other ESP m

[2017-03-12 14:31] ADiea commented on #1029
please decode stackdump

[2017-03-12 14:33] neut2012 commented on #1029
0x40100e96: pvPortRealloc at ??:                                                                                                                                                 ?
0x40100d69: pvPortMalloc at ??:?
0x402455f0: ax_port_malloc at C:\tools\Sming-3.1.2\Sming/third-party/axtls-8266/

[2017-03-12 14:36] ADiea commented on #1024
Hi Are you saying System.restart is not working as expected?

[2017-03-12 14:40] kwis2 commented on #1024
Exactly. I didn't expect that module hang forever

[2017-03-12 14:43] neut2012 commented on #1026
which pins are you trying to set the INPUT_PULLUP on?

[2017-03-12 16:32] riban-bw commented on #1026
I have tried on several pins including GPIO4, 5 & 15 in my current project. Each of these have just a switch attached, pulling the pin to 0V when pressed. If I don't add an external pull-up resistor to each, digitalRead remains LOW.

[2017-03-12 17:14] neut2012 commented on #1026
hold on let me try it and get back to you

[2017-03-12 19:52] ADiea commented on #1029
i would say you are out of RAM...

[2017-03-12 19:53] ADiea commented on #1029
ENABLE_CUSTOM_HEAP=1

[2017-03-12 20:14] slaff commented on #1029
[code]

Exactly that is happening.

[2017-03-12 20:18] slaff commented on #1027
Why not use the ones that come with the compiler ?
For example in esp-open-sdk there is `${XTENSA_TOOLS_ROOT}/../xtensa-lx106-elf/sysroot/lib/libcirom.a` that contains  `lib_a-setjmp.o`.

[2017-03-12 20:33] tius2000 commented on #1027
I prefered to have an assembler file instead of an object file in my project. The code should be identical (see also [newlib-esp32 source code](https://github.com/espressif/newlib-esp32/blob/master/newlib/libc/machine/xtensa/setjmp.S)).

[2017-03-12 21:03] slaff commented on #1023
@nevers Can you type `make flash V=1` and paste the output. Also what is the ESP device that you use and what is the SPI_MODE that it works with?

[2017-03-12 23:04] neut2012 commented on #1029
Thank you. But after compiling the framework and the sample with

 I get this output @ 74880 baud:

[code]

And with rBoot:

[code]
 And that's it.. nothing happens :(

I searched all files for a conflicting **-mforce-l32** flag with no luck.

Can someone please try the Basic_ssl sample and tell me if they get similar results? I really need this to work. I've already wasted 2 full days on a sample

[2017-03-12 23:23] neut2012 commented on #1026
Please flash this code and tell me if it works:

[code]

Measure the voltage on pin 12, it should toggle between High and Low every second. It works on my ESP12.

[2017-03-12 23:31] neut2012 commented on #1024
[code]

It works as expected!

Check your power supply and connections

[2017-03-13 07:17] nevers commented on #1023
@slaff
I'm running the Basic_Serial sample and I didn't alter any of the Makefiles. Therefore, the SPI_MODE variable was disabled by default, and judging from the previous CLI output I posted, it then uses the 'qio' argument when flashing. When enabling it with the default argument 'SPI_MODE = dio' (in Makefile-user.mk) and flashing again (both with and without the 'V=1' argument) I still get no r

[2017-03-13 08:03] kwis2 commented on #1024
@neut2012 thank you for your help. I have been working with hang up problem for more than week without any result. I have checked several modules, I was able to get, and only by your help I think I found the reason.
With your module (btw. which module you use?) I found that reason is boot mode.
As you can see your module boot with boot mode (3,7) but my module boot with (1,6) regardles of GPIO0 st

[2017-03-13 08:18] riban-bw commented on #1026
That code does toggle the pin voltage between 0V and 3.3V as expected. In fact, I have just done a very simple digitalRead test and it does work as expected so this issue is invalid. What is not working is pull-up in combination with attachInterrupt. I will close this issue and report as a new issue. Thanks for your time and sorry for not testing this more thoroughly before reporting.

[2017-03-13 08:18] #1026 closed

[2017-03-13 08:47] riban-bw opened #1032 "INPUT_PULLUP does not work with attachInterrupt"
If you configure an GPIO with mode INPUT_PULLUP then attach an interrupt to the pin, the pull-up does not seem to work.

**Example**
Connect a push-to-make button between GPIO pin 4 and 0V and run this firmware:
[code]
Expected result: Each time the button is pressed or released the displayed count increases.
Actual result: Only the first press increases count.
Adding an external 4.7K resistor mak

[2017-03-13 12:41] ADiea commented on #977
Guys just so you know I will be in vacation following next 2 wks, will be unable to fix anything else from the list for the current release :)

[2017-03-13 16:20] neut2012 commented on #1032
Hi again
Do this:
[code]
Call pinMode **AFTER** attachInterrupt. I tried it. It works :)

[2017-03-13 16:33] neut2012 commented on #1024
I'm using an ESP12. Please make sure your connections are correct for proper boot mode
![esp12](https://cloud.githubusercontent.com/assets/26361721/23864549/914ccac8-081b-11e7-8585-ff8d374d76bb.PNG)

[2017-03-13 16:39] neut2012 commented on #1016
You need to do it like this:
`attachInterrupt(PIN_4, func, GPIO_PIN_INTR_ANYEDGE);`

[2017-03-13 16:47] neut2012 commented on #993
Solution: **Don't use paths with spaces**

Like @tius2000 said, it's not a good practice to use paths with spaces when working with Make files. If not rBoot is the source of trouble, somethings else will nag about the spaces along the way.

[2017-03-13 18:28] ADiea commented on #1024
also gpio15 should be pulled to ground with something like 4k7

[2017-03-13 18:41] kwis2 commented on #1024
With ESP8266-01 except TX and RX I have only two pins availiable. GPIO0 and GPIO2, and when I would like to program module I have to pull down GPIO0 while reset. GPIO0 which in your circuit is permanently pulled high, so you are not able to go into programming mode, which is source of my problems. I don't know how you are able to program module - botloader ?
I am wondering if problem with GPIO0 st

[2017-03-13 19:00] neut2012 commented on #1024
I posted this circuit just for illustration.. I simplified it (and I accidentally removed the connection of GPIO15 to ground, like @ADiea noted) just to try and help you.. I program it using a usb-to-ttl adapter with RX, TX, RTS, DTR connected to TX, RX, GPIO0, RESET respectively.

[2017-03-13 20:46] riban-bw commented on #1016
@neut2012 that does not allow different routines to be called for each edge.
@teicors that is an option but it adds time in the call which is what I am trying to avoid.

[2017-03-13 20:46] riban-bw commented on #1032
Yes, that work-around does work thanks. I will add to API docs but we should look to see if we can fix it also

[2017-03-13 20:53] kwis2 commented on #1024
`boot mode (1,X)` mean GPIO0 connected to ground. `boot mode (3,X)` mean GPIO0 high state. Question is why modules I checked ESP8266-01, ESP8266-01S and WeMOS show low state of GPIO0 and I measure 3.28 V on pin while `System.restart()`

[2017-03-13 21:48] riban-bw commented on #993
I have removed spaces from my project path but this is the 21st century. Operating systems and file systems have handled spaces for decades, as have most of the tools that sit on them. One would hope we don't need to work with ancient file systems forever. I had to deal with all this when I was young. I am hoping for some progress!!!!! Anyway - the point is that the Sming build system can handle p

[2017-03-13 22:10] anakod commented on #1028
Of course it's hack, but may be store it as String? :)

[2017-03-13 22:19] anakod commented on #993
I think it will be resolved with new Makefile version.

[2017-03-13 22:20] anakod commented on #1016
Does ESP SDK internals add multiple callbacks?

[2017-03-13 22:20] riban-bw commented on #1028
@anakod I have converted to 16 character string representation of hex bytes to get my project working. It would be good to have a way to handle 64-bit numbers.

[2017-03-13 22:24] anakod commented on #1032
I think this is unobvious behavior and this issue can be fixed.

[2017-03-13 22:28] anakod commented on #1028
1. strtoll should be fixed first
2. we need to check new version of ArduinoJson, may be it will resolve issue

[2017-03-13 22:31] anakod commented on #994
That's right. Delegates as all other classes should be named from capital letter, without any prefixes.

[2017-03-13 23:05] neut2012 commented on #1016
Oh, I'm sorry I skimmed through the question and didn't get what you're trying to do.

I think it's an SDK limitation and your only way is to have one call back and check the state of the pin.

[2017-03-14 14:47] uzi18 commented on #1024
Do You use oryginal bootloader or rboot?
Original hangs on rx not pulled to ground with resistor.

13.03.2017 9:53 PM "kwis2" <notifications@github.com> napisał(a):

[2017-03-14 23:54] anakod commented on #1024
If ESP in flasing mode (GPIO0 low) than module willn't start your code but will wait external flashing instead. This is hardware connection issue. Please try reset module by hardware reset button and compare results.

[2017-03-15 00:00] anakod commented on #1022
If that library  included in your app it will work same way and didn't require ICACHE_FLASH_ATTR. Sming linker script have default config:
[code]

So it's going to flash instead of Espressif SDK implementation (and I think Sming concept is more right way for most cases).

[2017-03-15 00:02] anakod commented on #1022
If you want some code to be placed in RAM permanently then please use IRAM_ATTR.

[2017-03-15 00:08] kwis2 commented on #1024
As you can see module work without reset after flashing. In fact modules work properly after hardware reset, but I would like not to worry about module, so for now I am looking for way how to efficiently reset module by soft reset.
@uzi18 I am not sure if with flash mode I am using any bootloader

[2017-03-15 09:56] zgoda commented on #994
I found prefixed in `WifiEvents.h` and starting with small letter in `rBootHttpUpdate.h`. I'm working on PR with this.

[2017-03-15 20:59] slaff commented on #1023
@nevers I wasn't able to reproduce your problem. I am getting the following results

[code]

Comparing the outputs I see that you have the following command, which differs from mine:

python -m serial.tools.miniterm /dev/ttyUSB0 115200 **--dtr=0**

Where is that --dtr=0 parameter coming from? We do not have it in our code? Can you remove that parameter and try again?

[2017-03-15 23:22] anakod commented on #1024
Yes, it's standard behavior and isn't related.

If you module stay in programming mode how it can start after reset? Bootloader will go to programming mode after soft reset as expected then. So you should check GPIO0 connection.

[2017-03-16 08:22] slaff commented on #998
@aruldd Feel free to re-open the issue once you have tested the commands are written in the previous comment.

[2017-03-16 08:22] #998 closed

[2017-03-16 08:23] slaff commented on #1032
@anakod Can you create a PR with the changes related to this issue?

[2017-03-16 08:53] slaff commented on #1022
First you need to make it compile and play nicely with Sming. This will require the following steps
[code]

You cannot expect to use an Arduino library out-of-the box. Most of the times you would need to modify the library a bit. For example all `Serial.print(F(...))` can be replaced with `debugf(...)`, etc.

We could eventually add better Arduino Library compatibility so that such libraries can b

[2017-03-16 09:20] icodk commented on #1022
@slaff Thanks
I am using this library already by adding it to my project as a regular cpp source code in my project app folder. Will I gain any RAM (or any other advantage)  by compiling it as a Sming Lib?
Otherwise, as a Sming lib it will be automatically available to any project, but my main concern is RAM

[2017-03-16 09:39] slaff commented on #1022
It would be great if you share the modified library source code that is working with Sming. And we can add it later to the list of supported libraries.

In terms of RAM - I guess you won't gain any extra free RAM.

You should worry about RAM (I presume you mean the free heap here) only if you are having less than 5-6K of available heap.

[2017-03-16 09:50] slaff opened #1035 "Better Arduino Library Compatibility"
It would be great if we can use Arduino libraries that are already working with esp8266 directly in Sming. This means the following:

### Being able to compile the desired library without modifications to its source code. We will need "a compatibility layer" that requires:
- [x] Defining functions that are present in Arduino using their Sming alternatives
- [x] Adding constants that are global to

[2017-03-16 11:00] icodk commented on #1022
I once sent it to alonewolfx2 and I think there was once Basic_NFC example. Can't find it now.
I can zip the cpp and h files and send it to you or what ?

[2017-03-16 11:06] slaff commented on #1022
It would be better if you make PR. In the PR you can add the Basic_NFC example and the cpp and h files.

[2017-03-16 12:18] senilix opened #1036 "TCP client sends > 256 bytes"
Hi,

I have an application that sends HTTP requests larger than 256 bytes using the TCPClient class. The request is also received at the endpoint, but for some reason I do not receive the answer. If i send a message of only 254 bytes I get the response.

Any ideas as to what could cause this?

Thanks,
Mogens

[2017-03-16 13:32] slaff commented on #1029
I tried it yesterday with my environment and inside a docker environment and things seem to work for me. The google servers usually use 4K SSL fragment sizes and therefore it is strange that you are getting out-of-memory segfaults. Can it be that you did some manual modifications to the library or samples source code? Can you follow these recommendations: https://github.com/SmingHub/Sming/wiki/Sam

[2017-03-16 13:54] riban-bw commented on #1024
@kwis2 The ESP8266 has 3 boot modes which are selected by the state of three pins.
To download new firmware from the serial port and write to ESP8266 flash, GPIO0 should be pulled to 0V, GPIO2 should be pulled to 3.3V and GPIO15 should be pulled to 0V. This is the programming mode.
To boot from the internal flash memory, GPIO0 should be pulled to 3.3V, GPIO2 should be pulled to 3.3V and GPIO15 sho

[2017-03-16 14:28] riban-bw opened #1037 "Workflow suggestion: Use labels to track issue progress"
It would be advantageous to track progress of issues, knowing whether the issue has been triaged, assigned for resolution, resolved, etc. GitHub only really offers labels for this purpose. In the first instance, it would be good if an issue could be assigned to someone who is working on resolution. There have been a few occasions when I have started to resolve and issue and then someone else has c

[2017-03-16 15:54] neut2012 commented on #1029
The page you referred is related to compilation errors. But my code is compiling fine. I haven't done any changes to any file. I did a fresh install of everything. The code runs but outputs the above error codes when processing SSL request.

However I get many warning log messages while compiling sming code. Is this normal?

For example:

[code]

This is just part of the output. But the make proce

[2017-03-16 15:57] slaff commented on #1029
I thought the title of this issue was "Sming Basic_SSL sample not working". Ok, can you close that issue or at least change the title to represent more closely the problem that you are having?

[2017-03-16 17:38] neut2012 commented on #1029
Man the problem is exactly what it says in the title. Basic_SSL is NOT WORKING. I didn't say it wasn't compiling.

[2017-03-16 21:11] kwis2 commented on #1024
@anakod after programing by pulled low while reset modules I tested normally start to work and after soft reset it looks like module ignore GPIO0 state.
@riban-bw there is information about pin state with `boot mode (X,y)` where bits of X mean GPIO15, GPIO0, GPIO2. what mean `boot mode (1, y)` mean GPIO0 low, GPIO2 high nad `boot mode (3, y)` mean GPIO0 high, GPIO2 high.
With above log I got `boot

[2017-03-16 22:16] riban-bw commented on #1024
@kwis2 are you saying that, with GPIO0 pulled high during run-time, when you perform a software reset, the device does not restart? That is not my experience. With a resistor pulling GPIO0 to 3.3V, calling reboot() will correctly restart the application.

[2017-03-17 07:52] kwis2 commented on #1024
@riban-bw  I have 100k pull up resistor connected to GPIO0 and everytime I have `boot mode (1,x)` with `System.restart()` after programming, and `boot mode (3,x)` after any other reset

[2017-03-17 08:23] riban-bw commented on #1024
100k is probably too high a value which will allow noise or capacitance to affect the pin value. Try with 10k which is the maximum recommend value. Also tell us whether you have anything else connected to GPIO0.

[2017-03-17 11:45] kwis2 commented on #1024
I soldered 1k pull up resistor  to GPIO0. Result exactly the same

[2017-03-18 07:20] riban-bw commented on #1024
Your report says you get the message: rst cause:2, boot mode:(1,6) which means the device was reset with GPIO2 high, GPIO0 low and GPIO15 low and the module is trying to boot from serial at low speed (or high speed for 1,7) so it does look like the module has GPIO0 low during reboot.
What is connected to your module?

[2017-03-18 09:21] senilix commented on #1036
No one has any suggestions as what to check?

Basically what I do is simple. I have a instance of the TCPClient and if I do a client.send() with a message that is larger than 256 bytes my OnReceive() callback function is never called. The message I send is received by the endpoint, so for some reason the response is lost. And I can add that I use the same message to check this with the only differ

[2017-03-18 09:40] kwis2 commented on #1024
I have absolutelly nothing connected, except pull up resistor connected to module. Testing circuit this is only ESP8266-01 or ESP8266-01S module connected with the simples circuit possible to USB/RS converter. The whole circuit it is GND, VCC, TX, RX connected by jumper wire to converter, CH_PD solder to VCC, and RST and GPIO0 by jumper wire connected by button to gnd. I have tested different USB/

[2017-03-18 13:30] riban-bw commented on #1024
I will try to dig out my ESP-01 and compile a basic Sming firmware for you. You should have 4 resistors (all about 4k7 but anywhere between 1k & 10k should do). These should all be connected to 3.3V with other ends connected to: GPIO0, GPIO2, RESET & CH_PD. (Can probably get away with tying CH_PD directly to 3.3V.)

[2017-03-19 00:05] icodk opened #1039 "Strange behavior after many flashing"
I use esp-12(D1 Mini) as a development board, so I flash it several times a day. After several month the wifi performances kind of deteriorated. for example I start getting DNS lookups errors, can't connect to the local AP (wifi_softap) or to remote server as aclient. The results are not conclusive because sometimes it works then 30 seconds later it doesn't (ex. DNS lookup) Looks like some Wifi tu

[2017-03-19 09:25] nevers commented on #1023
@slaff
Thanks for looking into this, this is really annoying.

The dtr param is set from COM_OPTS in my makefile. It is necessary for me because it takes care of auto-resetting the ESP board so I don't have to manually press a button to get it into flash-mode. I have custom hardware that does this for me and the DTR pin of the serial device is driving it.
This is my setup:
https://github.com/never

[2017-03-20 09:13] icodk commented on #1039
I am happy to report that the problem was a power insufficiency and not some ghost in the eeprom:-)
Good nobody tried to solve it this time..

[2017-03-20 09:13] #1039 closed

[2017-03-21 07:58] zgoda opened #1041 "Error compilling Websocket_Client"
I'm trying to build one of the samples from branch based off of current `develop`

[code]

[2017-03-21 08:06] zgoda commented on #1041
I'm sorry, did not rebuild framework before trying to build sample apps.

[2017-03-21 08:06] #1041 closed

[2017-03-21 13:06] zgoda commented on #994
PR #1042 is under review, closing this issue.

[2017-03-21 13:06] #994 closed

[2017-03-22 08:30] avr39-ripe opened #1047 "Disscussion/vote: remove waitConnection stuff from StationClass"
@all Please vote for removal of waitConnection stuff from StationClass (WifiStation) as it is replaced by WifiEvents. For me waitConnection never work reliable and predictable.

[2017-03-22 08:55] slaff commented on #1047
@avr39-ripe Can you describe shortly the advantages and paste also how the Basic_Wifi example will look with WifiEvents so that also other developers can have a look at it.

[2017-03-22 11:05] zgoda commented on #932
From my point this is not a bug and has completely valid and intuitive association to `.start()` method - if a timer has been started (no matter how many times it is expected to fire its callback, one or more, and no matter if its callback has fired or not yet) then `.isStarted()` will return `true` and `false` otherwise. IOW, "started" property is completely other thing than "running" and "timeTo

[2017-03-22 17:15] zgoda opened #1048 "sprintf_P broken"
This is how Basic_ProgMem fails in current HEAD:

[code]

The code looks like a test case so to me if is clearly failing.

And `sprintf_P` always returns string `"(...)"` regardless of format string and params.

[2017-03-23 15:16] avr39-ripe commented on #1047
Look-n-feel of Basic_Wifi with Blackjack and Wh... with WifiEvents :)

Advantages - in short - it is PROPER way of attaching handlers to different WIfi-related events implemented inside esp-sdk it do not relay on additional timers etc. And in my env works fine for a long time.

[code]

[2017-03-24 08:29] slaff commented on #1048
@ADiea when you are back can you look at that issue?

[2017-03-24 09:02] slaff commented on #1047
@avr39-ripe The code above looks good. One more question though - if we are interested in failed connection attempts , alternative to WifiStation on connectFail, then what should be the replacement?

[2017-03-24 09:12] avr39-ripe commented on #1047
@slaff whether station is disconnected or NOT CONNECTED to last known AP this
`` C++
WifiEvents.onStationDisconnect(STADisconnect);
``
is fired. So inside you can check reason and make further decision. In my code I fire own AP which gives user ability to reconfigure ssid/password to AP or temporary gain access to device, but device continuously tries to reconnect to AP.

[2017-03-24 09:22] slaff commented on #1047
@avr39-ripe Sounds good. So what we could do are the following steps:
- [ ] Change the Basic_Wifi example to use events only
- [ ] Mark `WifiStation::waitConnection` as deprecated.
- [ ] Replace the usage of  `WifiStation::waitConnection`  from all samples with `WifiEvents::onStationGotIP` and `WifiEvents::onStationDisconnect`
- [ ] Take advantage of new possibilities like - detecting the reason f

[2017-03-24 09:34] avr39-ripe commented on #1047
@slaff roadmap looks good :) WifiEvents are here for a long time, so we should push our users to actually use them and get additional advantages over waitConnection.

[2017-03-24 09:38] zgoda opened #1050 "Memory corruption?"
This is quite strange to me and I can't find any reasonable reason for what I see.

I have a code that allocates 17 byte `char` buffer (https://github.com/zgoda/sming_playground/blob/master/app/ui.cpp#L220) and any operation on this buffer causes firmware crash, eg. an attempt to write something to it (https://github.com/zgoda/sming_playground/blob/master/app/ui.cpp#L221) but even simple `memset(f

[2017-03-24 10:47] slaff commented on #1050
Well, if you want to store data into FLASH you should align it properly
[code]

should be

[code]

Different is the question if you really need to go over the effort of storing it into Flash. With that sample the phrase "premature optimization is evil" comes to my mind.

[2017-03-24 10:51] zgoda commented on #1050
`SCR_WIFI_MI1` is stored in flash and has to be copied to `fmtBuf`.

This issue is completely not related to `PROGMEM` storage, because **at this particular place** simple
[code]
crashes firmware.

[2017-03-24 10:59] avr39-ripe commented on #1047
@slaff @all one more question:
I think we should agree new basic wifi boilerplate, not only WifiEvents related. If you carefully look into current Basic_Wifi it encourage users to enable Station and/or AccessPoint every time application starts, as far as configure STA/AP ssid/password. It leads to unnecessary flash wear, and isn't proper way at all. In code above I provide such kind of boilerplate

[2017-03-24 12:28] zgoda commented on #1050
But wait, there's more! Even trying to get address of the variable causes crash:
[code]

[2017-03-24 15:06] zgoda commented on #1050
Turned on system debug on serial, exc dump:
[code]

AFAIK exc 3 is LoadStoreError and this should not happen when barely requesting memory address of a variable.

[2017-03-24 15:25] zgoda commented on #1050
The code does not crash if I declare buffer as `char buf[20]`, both memset and getting memory address work. As soon as I change it to `char buf[17]` the firmware crashes. In the code I have many 17 byte buffers (this is 1602 LCD line length + 1) and it crashes only in this one place.

[2017-03-25 07:00] ADiea commented on #1048
Next week i plan to start sming-ing again. Will have a look

[2017-03-25 17:05] zgoda commented on #1050
Changed code to use buffers as private instance variables and now firmware crashes at another point with the same cause -> https://github.com/zgoda/sming_playground/blob/master/app/ui.cpp#L134

And LoadStoreError suggests this is a problem with variable misalignment.

[2017-03-26 00:36] Informatic commented on #1029
`Basic_Ssl` seems to work perfectly fine for me on 7679480 running on Wemos D1 Mini (ESP12F). (after removing certificate hash pinning, and changing to current public key hash)

[2017-03-26 11:31] unit-by opened #1051 "Release 3.1.2 is broken?"
Any sample from release 3.1.2 cause watchdog reset.

 ets Jan  8 2013,rst cause:4, boot mode:(3,6)

wdt reset
load 0x40100000, len 26064, room 16
tail 0
chksum 0xd5
load 0x3ffe8000, len 896, room 8
tail 8
chksum 0xfc
load 0x3ffe8380, len 1484, room 0
tail 12
chksum 0x20
csum 0x20
rf_cal[0] !=0x05,is 0xFF
rf cal sector: 251
rf[112] mode : softAP(5e:cf:7f:83:6a:cb)
add if1
dhcp server start:(ip:192.

[2017-03-26 13:00] piperpilot commented on #1051
I saw the same thing yesterday, but it only triggered a WDT reset when I hit the webserver.  I haven't had a chance to look into it and diagnose any more.

[2017-03-26 14:29] unit-by commented on #1051
I found. It was strange problem with ESP sdk after update from 3.1.1 to 3.1.2. Fresh install resolv problems

[2017-03-26 14:29] #1051 closed

[2017-03-26 19:25] neut2012 commented on #1029
May you please tell me which SDK version are you using?

[2017-03-26 19:27] Informatic commented on #1029
Sorry, here's my current SDK: `sdk -> ESP8266_NONOS_SDK_V1.5.4_16_05_20`

[2017-03-26 19:43] neut2012 commented on #1029
When you compile Sming (make ENABLE_SSL=1) do you see warning messages like I posted above?

[2017-03-28 00:47] philipstefan opened #1052 "Problem with make SmartConfig project"
When i'm trying to make with this line:

It's not compiling, the following errors occurs:

/opt/esp-open-sdk/sdk/lib/libsmartconfig.a(sc_sniffer.o): In function `sc_system_init_done':
(.irom0.text+0x670): undefined reference to `espconn_delete'
/opt/esp-open-sdk/sdk/lib/libsmartconfig.a(sc_sniffer.o): In function `sc_system_init_done':
(.irom0.text+0x6a6): undefined reference to `espconn_delete'
/

[2017-03-28 01:10] philipstefan commented on #1052
After reinstalling esp-open-sdk and Sming it just worked. Please close this issue.

[2017-03-28 07:21] slaff commented on #1052
We are using the open LWIP by default and in it the espconn_* functions are not compiled by default. If you want to use smartconfig you should use the lwip library with espconn in it. The easiest way to do this is to add ENABLE_ESPCONN=1 in your application Makefile-user.mk (as shown here: https://github.com/SmingHub/Sming/blob/develop/samples/Basic_SmartConfig/Makefile-user.mk#L41 ) and recompile

[2017-03-28 10:09] slaff commented on #1047
@avr39-ripe  Not really. It the new SSID and password are the same as the ones stored in flash it won't erase the flash sectors and save the same data. That was how it worked the last time I was looking at the code. I hope it didn't change in the meantime.

[2017-03-28 22:57] philipstefan commented on #1052
Thank you! Please close this issue.

[2017-03-29 06:40] #1052 closed

[2017-03-30 11:01] pief opened #1057 "Confusion over three PWM alternatives"
I tried to assess the situation with regards to PWM alternatives in Sming. If I grasp things correctly, it goes like this:

1. There is ``Sming/SmingCore/DriverPWM.cpp`` which is used by ``samples/Basic_PWM``. This seems to be a Sming-specific software timer-only implementation. For this one I can't find minimum and maximum allowed values for ``analogWrite()`` documented and, what is worse, a simp

[2017-03-30 15:50] slaff commented on #1057
@anakod Is there a need for DriverPWM ( the original SoftwarePWM) or we can remove it completely and recommend our users to use HardwarePWM with the custom PWM library from Stefan Bruens? What is your opinion?

[2017-03-31 11:15] avr39-ripe opened #1058 "I2C do not work after 3.1.0 RELEASE"
Hello!
In my application any i2c stuff stop working properly after this d78306c36900f1b560363c4d8f411d497f30cd34 particular commit. I test mcp23017 lib and i2c connected 1602 lcd, both of them work fine prior this commit and both failed after it. Do please confirm it.
To solve this problem I made DIRTY port of esp8266/Arduino i2c implementation which can be found https://github.com/avr39-ripe/Smin

[2017-03-31 11:22] slaff commented on #1058
Can you share some more information about the problem? How to prove that it works and how to check that the latest version is not working?

[2017-03-31 12:46] avr39-ripe commented on #1058
Anybody can just pick whatever i2c related example app and try it yourself.
I try it with DS3232RTC_NTP_Setter as example. When properly connected DS3231 module, this app try to sync time via ntp and set both local time and DS3231 time and in loop it prints rtc time in local and utc time zone AND it prints time obtained from DS3231 module. So when module connected and i2c subsystem works fine ther

[2017-04-01 12:50] riban-bw commented on #1004
This caught me out again today. It would be good to get this issue reviewed and consolidated. Can anyone please validate the defect and fix?

[2017-04-01 18:15] piperpilot opened #1059 "Repeat calls to webserver ends in CONNECTION DROPPED (low heap)"
This issue has a long history and was all just previously close.  Check out the following issues:

https://github.com/SmingHub/Sming/issues/742
https://github.com/SmingHub/Sming/issues/656
https://github.com/SmingHub/Sming/issues/220

This is caused by the following code found in TcpServer.cpp:

`
// Anti DDoS :-)
	if (system_get_free_heap_size() < 6500)
	{
		debugf("\r\n\r\nCONNECTION DROPPED\r\n

[2017-04-01 19:32] icodk commented on #1059
I think the heap vanishing is because the stack tries to conform to the TCP standard which keep closed connections in the WAIT_STATE for up to few minutes. This makes a lot of sense in a multi user OS but has no relevance for a platform like the esp. Especially when you call the exact the same server again.
I think it is a build in misconception in the SDK from Espressif.
Can it be done better wit

[2017-04-01 20:01] slaff commented on #1059
At the moment I am working on complete rewrite for the HttpClient. As [part of the plan](https://github.com/slaff/Sming/issues/5) I thought about refactoring also the HttpServer. If you are interested to help, please let me know.

[2017-04-01 20:03] #1004 closed

[2017-04-01 20:10] slaff commented on #1059
If your script is calling every second then that should result in one Tcp connection to the server as long as the server does not close the connection immediately but has a keep-alive of 5 seconds, for example.  I have to check if that is the case with the current HttpServer and eventually refactor it allow  setting a keep-alive timeout.

[2017-04-02 08:18] zgoda commented on #1058
I had no problems with HD44780 display on PCF8574 expander running `develop` couple of days ago, definitely post-3.1.0 release.

[2017-04-02 14:00] piperpilot commented on #1059
The only thing I can find with respect to keep-alive or timeout is in the TcpServer.  We do set a timeout...

`TcpServer::TcpServer() : TcpConnection(false)
{
	timeOut = 40;
	TcpConnection::setTimeOut(USHRT_MAX);
}`

But I don't see that we are using the timeOut variable.  There is a USHRT_MAX value which I can't find what that is...it must be something in the SDK which I haven't looked at yet.  I

[2017-04-02 19:10] piperpilot commented on #1059
Something weird is definitely going on.  I turned on some additional debugging and issued a single REST call for some simple information.  I got the following...it looks like it is opening 4 connections for each request.

`onAccept state: 0 K=0
Free heap size=23576, K=0
+TCP connection
timeout updating: 70 -> 90
TcpServer onClient: 192.168.1.13

onAccept state: 0 K=1
Free heap size=23320, K=1
+TCP

[2017-04-02 20:53] anakod commented on #1059
That's right, issue related to TCP protocol internals - WAIT_STATE, we can't skip closed connection some time after completion (60 seconds, I think). Most effective way for high frequency communication - use WebSickets. It will not close previous opened connection, so issue will be resolved by design.

[2017-04-03 18:57] jcmvbkbc commented on #1050
It does not, actually. Misalignment causes exception 9, LoadStoreAlignment.
Your exception dump says excvaddr=0x40234ab4, that address is in the FLASH area. And it is properly aligned. Looks like you're trying to access FLASH when it's not mapped.

[2017-04-03 21:53] anakod commented on #1057
Personally I'm prefer to remove all old stuff what have actual and better replacements.

That's may be right point, original code use standard software timer. Is this option needed? If yes, anyway default sample _should_ use better alternative (and may be explain other alternatives also, if some other options can be useful potentially).

And I'm sure, we don't need two separated examples + one ind

[2017-04-04 07:42] zgoda commented on #1050
I'm trying to reproduce this behaviour in more isolated case.

[2017-04-04 08:16] zgoda commented on #1050
Okay, more on this. The code below crashes firmware:
[code]

Error dump:
[code]

Decoded stack trace:
[code]

[2017-04-04 08:59] ADiea commented on #1050
Hi I don't understand...
* using the exact code? because you have print lines commented out but they show up in stack
* are you sure you are extracting the stack correctly?  I see uart init after prints.
Are you usre the code you posted matches what is on target?

[2017-04-04 09:03] zgoda commented on #1050
Yes, this is exact code I use to generate crash (whole `application.cpp` file).
[dump.txt](https://github.com/SmingHub/Sming/files/892531/dump.txt) contains complete terminal session.

[2017-04-04 12:14] pief commented on #1057
So if I understand you correctly you suggest to
1. just provide ONE sample
1. that uses HardwarePWM (with or without Stephans custom PWM?)
1. and in its comments explain that there is alternatively DriverPWM and when one might want to use that?

[2017-04-04 13:20] avr39-ripe commented on #1058
My fault (core dumped :)
It turns out, that _almost_ nothing was broken in i2c in sming after 3.1.0. It was my hardware which cause trouble. I use MCP23017 i2c portexpender connected to esp8266 without SDA/SCL pullup resistors, but on Sming prior 3.1.0 it works just fine.But 3.1.0 introduces new pinMode variant incompatible with old one in aspect of enabling pin input pullup.  All properly made i2

[2017-04-04 13:20] #1058 closed

[2017-04-04 14:08] ADiea commented on #1050
Hi again
Based on what @jcmvbkbc said in previous post did some googling: (link1)[http://esp8266-re.foogod.com/wiki/Cache_Read_Enable] (link2)[https://richard.burtons.org/2015/06/12/esp8266-cache_read_enable/]

It appears that fucntion Cache_Read_Enable is responsible for mapping a part of the SPI flash to adddress 0x40200000.
In sming I don't see it called anywhere explicitly maybe it is called b

[2017-04-04 15:16] zgoda commented on #1050
I found this function only in linker script in SDK https://github.com/espressif/ESP8266_NONOS_SDK/blob/06b117d691cb2cd1a20d6d0f000b76cf65b2ad67/ld/eagle.rom.addr.v6.ld

How am I supposed to call it?

[2017-04-04 16:30] zgoda commented on #1050
Okay, found it.

[code]

But this does not change anything, firmware still crashes.

[2017-04-04 17:50] jcmvbkbc commented on #1050
@zgoda could you please also share the elf file of your crashing program?

[2017-04-05 06:58] zgoda commented on #1050
Here it is

[elf.zip](https://github.com/SmingHub/Sming/files/895368/elf.zip)

[2017-04-05 08:12] jcmvbkbc commented on #1050
Ok. It's a bug in memcpy_P (which is called from strcpy_P):
https://github.com/SmingHub/Sming/blob/develop/Sming/Wiring/FakePgmSpace.cpp#L9 makes wrong assumption that aligned source address and length guarantee that memcpy uses 32-bit-wide accesses to the source buffer. Looking at the following disassembly of the memcpy from ROM I see that that's not the case, type of access also depends on the a

[2017-04-06 06:44] zgoda commented on #1050
Thank you @jcmvbkbc - I changed this line to read exactly what you suggest but the firmware still crashes in the same way.

[2017-04-06 07:21] jcmvbkbc commented on #1050
@zgoda got new crash dump and elf image?

[2017-04-06 08:15] zgoda commented on #1050
I'm sorry, please disregard my previous comment. I forgot I had `SMING_HOME` set in Makefile and it took precedence over newly built test version. Now it looks OK, will do couple other tests and prepare a PR with this change.

[2017-04-06 08:55] zgoda commented on #1048
The change from #1062 has no impact on this issue.

[2017-04-06 09:22] slaff commented on #1050
@jcmvbkbc Max, thanks a lot for your help. From time to time we have some strange issues and your support is facilitating us to understand better what is actually going on.

@jcmvbkbc I wanted to ask you what are the disadvantages of using GCC with mforce-l32 flag compared to using  PGM imitation functions like memcpy_P or other *_P  ?  Can you elaborate a bit?

[2017-04-06 12:24] tius2000 opened #1063 "Question: Why is PSTR() a noop?"
Sorry, if this is a stupid question. Why is PSTR(str) defined as a noop in FakePgmSpace.h?

`#define PSTR(str) (str)`

I would have expected something like this:

`#define PSTR(s) (__extension__({static const char __c[] PROGMEM = (s); &__c[0];}))`

to place a string literal in PROGMEM. Is there an alternative to use instead of PSTR(str)

[2017-04-06 14:17] tius2000 opened #1065 "strcpy_P: terminating null byte not copied"
IMHO _strcpy_P_ should also copy the terminating null byte.

[2017-04-06 14:29] tius2000 commented on #1065
e. g. like this:

[code]

[2017-04-06 16:24] zgoda commented on #1065
"Normal" `strcpy` copies null character so it's perfectly reasonable to expect `strcpy_P` to behave the same way.

[2017-04-06 17:44] jcmvbkbc commented on #1050
Speed and code size: every byte-sized access is expanded into 6-command-long 18-bytes-long sequence. Sequences accessing adjacent bytes don't get merged. Perhaps this can be improved, I tried once but failed.
[Here](https://github.com/SuperHouse/esp-open-rtos/issues/11#issuecomment-111627480) a 3% program image size growth was reported with micropython built with this option.

The idea behind this

[2017-04-06 17:55] ADiea commented on #1065
@slaff I think this is the reason we see failure in basic_progmem sample

[2017-04-06 17:59] ADiea commented on #1048
@zgoda I think PR #1065 will fix this can you check please?