[2019-07-23 20:10] barbiani commented on #1778
Can you spare the cycles in a busy wait?

On Tue, Jul 23, 2019, 16:23 Oshio <notifications@github.com> wrote:

[2019-07-23 20:15] mikee47 commented on #1778
(2) `MIN_HW_TIMER_INTERVAL_US` is used in `HardwareTimer.cpp`, `Timer.cpp` concernes low-accuracy software timers. @barbiani has the right idea I think, 500ns is only 40 CPU cycles (or 80 if you bump the clock).

[2019-07-23 23:38] Oshio09 commented on #1778
Unfortunately not, I'm using the esp8266 to do a lot of adc reads that need to be transmitted in "real-time".
Here is a resume of my project:
The pulse is used as the clock of a 4-bit counter ic, the 4 bit output is then used as the channel selection for a lot of multiplexers. This multiplexers are meant to connect the cells of a resistive matrix to the ADC input. In the firmware perspective the c

[2019-07-23 23:38] Oshio09 commented on #1778
@barbiani Unfortunately not, I'm using the esp8266 to do a lot of adc reads that need to be transmitted in "real-time".
Here is a resume of my project:
The pulse is used as the clock of a 4-bit counter ic, the 4 bit output is then used as the channel selection for a lot of multiplexers. This multiplexers are meant to connect the cells of a resistive matrix to the ADC input. In the firmware perspec

[2019-07-23 23:44] Oshio09 commented on #1778
@mikee47 Thanks for pointing this out my IDE intellisense pointed me to the wrong file.
Yes the macro is been used in the `HardwareTimer.cpp`, but do you see a motive why the minimum time couldn't not be 1us?

[2019-07-24 08:04] mikee47 commented on #1778
The hardware timer generates an interrupt, so introduces a load of code to save/restore context which adds significantly to the latency. This is why short intervals (< 100us) are a bad idea because the code will spend all its time saving context to the stack, executing your code, then restoring context.

I don't think you need to use the hardware timer at all, you just need the code to run as fast

[2019-07-24 12:48] Oshio09 commented on #1778
Thanks for sharing your thoughts. I wasn't aware of this 100us interrupt overhead, I'll keep that in mind.

I like the simplicity of step 4, using the calculation's as a delay to generate the pulse seems a good idea, if its to fast I can introduce some dummy calculations to keep the CPU busy for a few cycles.

Regarding the CPU hog, I was thinking to do 1 matrix read send over UDP then call the `W

[2019-07-24 12:48] #1778 closed

[2019-07-24 15:31] mikee47 commented on #1778
The interrupt overhead isn't peculiar to the Esp8266, it's same with any processor.

If I understand correctly, once matrix reading has started it continues indefinitely until explicitly stopped. However, you must release control fully back to the SDK in a timely manner. Bear in mind that the Esp8266 is just a single CPU, without any operating system, and also has to keep the WiFi connection activ

[2019-07-24 16:24] icodk commented on #1778
https://www.instructables.com/id/625-Nanosecond-Resolution-Timer-for-Any-Microcontr/
https://sub.nanona.fi/esp8266/timing-and-ticks.html

[2019-07-24 17:52] mikee47 commented on #1778
I got curious about loop times, so wrote a quick sample to check it out. On my nodeMCU this is what I'm getting:

`Elapsed count = 249267, total = 1000002, min = 0, max = 135, average = 4`

Times in microseconds. It's not doing anything else, a real example would deviate significantly under network load.

[code]

[2019-07-26 20:32] aemseemann opened #1781 "Proposal: (Signed) OTA firmware updates using HTTP POST file upload"
This proposal is intended to evaluate interest in an alternative OTA update mechanism for Sming and discuss potential realization aspects.

As far as I'm aware, Sming currently only provides the OTA update method demonstrated in samples/Basic_rBoot.
In this approach, the ESP downloads the firmware image from a server provided by the developer. The update is initiated using a secondary channel, e.

[2019-07-26 22:12] icodk commented on #1781
If I understand your proposal, it is about two different aspects of OTA.  A signed OTA image is agreat  ide and I think it should be an option to be added to the existing  OTA system. I think it could be easily implemented by adding a secret key to an MD5 hash of the image to be sent.
Regarding OTA invocation, you can build any invocation system you need on top of what already exist. In one of my

[2019-07-27 05:48] Oshio09 opened #1782 "Ideas to improve system_adc_read_fast() sample rate."
From the ideas from issue #1778 I did some test to see how much time the ESP8266 takes to do one ADC reading. I wonder if there is some way to decrease the time it takes to perform the reading and by consequence improve the sampling rate?

I tried to see the source code from `system_adc_read_fast()` but it seems that is closed source.

I leave here the code I'm using and the output:

**CODE**
[cod

[2019-07-27 09:28] mikee47 commented on #1782
This is interesting as an academic exercise, but in practice if you have to disable WiFi and interrupts to sample like this anyway isn't that killing the whole point of the Esp8266 in the first place? So you'd end up having to use `system_adc_read()`. Also, if you're multiplexing the ADC input what about settling time?

If this doesn't work well enough then I'd probably look for a solution using a

[2019-07-27 12:50] slaff commented on #1333
@mikee47 Are you ready to try ESP32 port :)) ?  This way we can prove in practise if current structure is good enough to add multiple new architectures.

[2019-07-27 13:02] slaff commented on #1781
I like the idea. @aemseemann can you create a PR with libsodium as a component so that we can test it. From my humble experience libraries that are not written for embedded systems are rarely usable due to their memory requirements, but I would be more than happy if libsodium proves me wrong.

[2019-07-27 13:10] mikee47 commented on #1333
In a sense I suppose as I reckon the next step is to add partition support #1676, which is a pre-requisite. It would get rid of all those hard-coded flash memory locations, also be very helpful for things like #1781.

[2019-07-27 13:18] slaff commented on #1333
Go for it :)

[2019-07-27 13:21] mikee47 commented on #1333
I guess we could also start looking at building an Esp32 Arch tree, even if it's not functional would give some direction. I have a recurring thought about getting Sming running on bare-bones Esp32, without any freertos. I have yet to use the Esp32 myself, so cannot speak from experience, but the ROM code doesn't seem to be RTOS-dependent. It would be crazy fast :-)

[2019-07-27 16:31] Oshio09 commented on #1782
Just to clarify, disabling WiFi and interrupts was a recommendation of the datasheet, this us just a test case, the real program checks if WIFI is enabled, disable WIFI and interrupts and enable them again after the ADC reading.
But I got curious and I ran the same test without disabling the features and got, basically, the same results.
I knew that this isn't a proper topic to Sming, but I got a

[2019-07-27 16:31] #1782 closed

[2019-07-27 18:08] mikee47 commented on #1782
I'm guessing the noise will increase with interrupts and WiFi left enabled, but maybe there are other side effects. I'd be very interested to hear if you uncover anything further with this, be good to add it to the Sming documentation.

[2019-07-27 18:27] mikee47 commented on #1782
Found this FAQ https://www.espressif.com/en/support/explore/faq.

Salient points:

## What are the specifications for the internal ADC of ESP8266?

Channels: 1
Sampling rate:
* 100k samples/sec (Wi-Fi modem turned off)
* 1k samples/sec (Wi-Fi modem normally active)
* Resolution: 12-bit (10-bit read by system_adc_read())

## How accurate is the internal ADC?

When connected to routers, ESP8266 will

[2019-07-27 19:16] slaff commented on #1781
Concerning Http Server with support for multipart: I had experimented with streamable multipart-parser a long ago. The code is still not finished but you can see its current state at: https://github.com/slaff/Sming/tree/feature/httpserver-multipart-bodyparser

[2019-07-27 19:18] aemseemann commented on #1781
@slaff: sure, I'll prepare a PR for libsodium. Memory requirements should not be an issue. At least for the features I am familiar with, it operates on user-provided buffers and does no allocations on its own.

@icodk: I agree that the signing aspect is independent of the update method and maybe `rBootItemOutputStream` could be extended accordingly and shared between both ota mechanisms. However,

[2019-07-28 10:23] slaff commented on #1683
@frankdownunder @riban-bw Can you take a look at the latest sphinx documentation in the `develop` branch and help us improve it?

[2019-07-28 10:52] mikee47 commented on #1683
Just for info, I'm working on some documentation additions under the general topic `Sming Multitasking` as it's crucial to understanding how Sming works, so will include:

* Background on pre-emptive vs. co-operative multitasking, with relative advantages/disadvantages
* Callbacks / Delegates
* Task queues
* Interrupts
* Dealing with time-consuming operations
* Common problems

I hope that the new

[2019-07-29 22:09] CFornari opened #1784 "Integrating VSCode debugger and Sming."
Someone has successfully integrated VSCode visual debugger and Sming?

[2019-07-30 00:08] Oshio09 commented on #1784
After some research on the topic and I didn't find a definite answer to that. My goal is to add this information to Sming documentation.

[2019-07-30 06:06] slaff commented on #1784
If `VSCode visual debugger` is compatible with GDB then all you need is to read that page: https://sming.readthedocs.io/en/latest/information/debugging.html

[2019-07-30 06:20] mikee47 commented on #1784
It's [in the docs](https://sming.readthedocs.io/en/latest/tools/vscode.html), I think?

[2019-07-30 06:30] slaff commented on #1784
I made a quick search and it seems that VSCode can work also with GDB debuggers. Take a look at that video for some hints: https://www.youtube.com/watch?v=agBOQ3SI4R0 .

[2019-07-30 06:32] Oshio09 commented on #1784
I appreciate the help, but I've already looked at those links. @mikee47  I've already looked this link although is a good start point, is a little outdated. The intelliSense is a little trickier, I have opened an issue in the VSCode c++ plugin extension ([link](https://github.com/microsoft/vscode-cpptools/issues/3969#issuecomment-514744709)), on of the maintainers gave me a little hack a tagged as

[2019-07-30 06:35] Oshio09 commented on #1784
@slaff  thanks! I will see the video tomorrow and give you an update, where I'm right now is 3:30 AM.

[2019-07-30 23:35] Oshio09 commented on #1784
I did more reading and I think the problem might be the fact I'm indicating the wrong file to the xtensa-gdb. Any of you could tell me which file the gdb should be reading?

I clear all previous building files including the Sming's `out` folder, then ran:
`make ENABLE_GDB=1 SMING_ARCH=Esp8266`

`out` folder tree sructure:
[code]

[2019-07-30 23:40] Oshio09 commented on #1784
Just to make this information clear, the debuger is working when using the terminal, is just the integration with VSCode that doesn't work.

And here is the error I 'm getting:
[code]

[2019-07-31 06:53] mikee47 commented on #1784
That is the correct file. You can verify what the command line should be with ``make gdb V=1``.

[2019-08-01 19:39] slaff commented on #1781
@aemseemann File upload support in the HTTP server is on the way. Try PR #1792. The code needs to be organized better but it should be working and relatively easy to understand and extend and/or improve.

[2019-08-01 20:52] mikee47 commented on #1764
@verybadsoldier Fixed in #1791, loss of config triggers an AP scan which crashes when it tries to sort the list.

[2019-08-02 14:25] slaff commented on #1773
Fixed with the merge of PR #1777

[2019-08-02 14:25] #1773 closed

[2019-08-02 14:27] slaff commented on #1764
Feel free to re-open if the issue is still present in the latest `develop` version.

[2019-08-02 14:27] #1764 closed

[2019-08-03 07:27] slaff commented on #1781
@aemseemann You can use that code as inspiration: https://github.com/espressif/ESP8266_RTOS_SDK/tree/master/components/libsodium. We are still waiting for your PR :-)

[2019-08-03 11:32] slaff commented on #1781
PR #1795 is opening the way for signed OTA updates.

[2019-08-03 21:21] aemseemann commented on #1781
@slaff: The [PR](https://github.com/SmingHub/Sming/pull/1797) is ready now.
Sorry that I kept you waiting. There wasn't any time last week to work on the issue.

I've seen that file upload support is now on develop. Will have a look at https://github.com/SmingHub/Sming/pull/1795 tomorrow.

[2019-08-04 22:35] mikee47 opened #1803 "Python support in Sming"
The way I see it we have 3 choices:

1. Continue to support both Python 2.7 and Python 3.4+
2. Deprecate Python 2 and require python 3
3. Don't bother with python 3

Thoughts?

P.S. https://python3statement.org/

[2019-08-05 06:59] slaff commented on #1803
I would go for "Deprecate Python 2 and require python 3". After a year python 2 is reaching its end of life ( "Python 2.7 has been moved five years into the future, to 2020."  https://legacy.python.org/dev/peps/pep-0373/). It would probably take another 5-10 years until it disappears from all major OS distributions.

That said we must assure that the python code works with python 3.4+ and 2.7 comp

[2019-08-06 05:01] Oshio09 commented on #1784
Hello guys, some updates.

I opened an [issue](https://github.com/microsoft/vscode-cpptools/issues/4011) at the cpp extension for vscode. It seems that I'm not the first to fail in this task.

Recently the user **ngrplus**  claimed to have solved the problem(https://github.com/microsoft/vscode-cpptools/issues/1447#issuecomment-517906636), his solution was for arduino-esp8266 framework, after some

[2019-08-06 07:29] mikee47 commented on #1784
This works for me:

[code]

[2019-08-07 07:21] frankdownunder opened #1804 "RbootHttpUpdater - Compiler Syntax error"
I suspect I have a more recent compiler than the one you use.

C+ /opt/Sming/Sming/Core/Network/RbootHttpUpdater.cpp
/opt/Sming/Sming/Core/Network/RbootHttpUpdater.cpp: In member function ‘bool RbootHttpUpdater::addItem(const String&, RbootOutputStream*)’:
/opt/Sming/Sming/Core/Network/RbootHttpUpdater.cpp:39:46: error: ‘void* memset(void*, int, size_t)’ **clearing an object of type ‘struct RbootH

[2019-08-07 08:18] mikee47 commented on #1784
I've not spent long with vscode, but my impression so far is that there are a lot of manual steps required to set up:

1. Download/install vscode
2. Install required extensions
3. Creating a new project
4. Adding all the required souce code paths (for all available architectures)
5. Setting up debugger configuration

Most of this can be automated. The [Quick Start](https://github.com/zgoda/sming-q

[2019-08-07 08:40] slaff commented on #1804
Thanks for pointing this out. I will remove that line as it is not really needed. PR is on the way.

[2019-08-07 09:18] #1804 closed

[2019-08-07 17:19] kiralikbeyin commented on #1233
i uninstalled and
brew install gnu-sed --with-default-names

Error: invalid option: --with-default-names

[2019-08-07 17:24] kiralikbeyin opened #1807 "macOS make"
followed https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart

make
Please run `make` from your project directory!
make: Nothing to be done for `all'.

also https://github.com/SmingHub/Sming/issues/1233

[2019-08-07 18:13] mikee47 commented on #1807
For develop branch please see https://sming.readthedocs.io.

[2019-08-07 18:58] #1807 closed

[2019-08-07 20:09] #1209 closed

[2019-08-07 20:10] #999 closed

[2019-08-07 20:10] #1140 closed

[2019-08-07 20:12] #1099 closed

[2019-08-09 19:34] verybadsoldier commented on #1803
+1
It's time for Py2 to go for good.

[2019-08-09 19:37] mikee47 opened #1813 "Assertion in formUrlParser"
Running `HttpServer_ConfigNetwork` under emulator (Windows or Linux) I get assertion failure in `HttpBodyParser.cpp`, line 43: `assert(state != nullptr);`. This is triggered from the `HttpServerConnection` destructor, which was modified in #1806:

[code]

[2019-08-09 21:29] mikee47 commented on #1813
It doesnt crash any more, but it doesn't work either:

[code]

If I revert #1806 it works fine....

[2019-08-10 08:03] #1813 closed

[2019-08-11 14:58] kmihaylov opened #1816 "Build doesn't find header file"
Hello. Just updated to the latest develop. After make-distclean and make some headers could not be found. I'm not aware how the build system works. May you check?

Thanks!

[code]

[2019-08-11 15:30] mikee47 commented on #1816
@kmihaylov What version have you updated from?

[2019-08-11 15:36] mikee47 commented on #1816
@kmihaylov There's probably an empty directory `Arch/Esp8266/Components/spiffs` which you'll need to delete.

[2019-08-11 16:14] kmihaylov commented on #1816
@mikee47
Wow thanks! It worked. I had to remove also rboot/rboot from Components. Now I see some deprecated functions. A lot of new stuff!
Thank you!

[2019-08-11 16:14] #1816 closed

[2019-08-11 16:16] mikee47 commented on #1816
Have a read of https://sming.readthedocs.io/en/latest/upgrading/3.8-4.0.html

[2019-08-11 16:17] mikee47 commented on #1816
Also https://sming.readthedocs.io/en/latest/_inc/Sming/building.html - explanation of your problem under 'known issues'. Should really put that somewhere more obvious :-(

[2019-08-11 16:25] kmihaylov commented on #1816
Also I had to install ```sphinx-common```, Ubuntu 18.04.
These links would be helpful on the Sming's github front page. I checked another link (sming-framework.readthedocs.io), obviously I was mistaken.

[2019-08-11 16:27] mikee47 commented on #1816
I guess once this makes it out of develop the front page will get updated. What's `sphinx-common`?

[2019-08-11 16:30] kmihaylov commented on #1816
A package needed to build Sming, I believe it is related to the new documentation system. sphinx-build (or something similar) was missing.

[2019-08-11 16:42] mikee47 commented on #1816
OK, that shouldn't be necessary unless you need to build the docs. locally - the online docs. now track the current develop build. If that was preventing you I'll need to find a fix.

[2019-08-11 17:02] kmihaylov commented on #1816
I just did the following:
[code]

Here is the output:
[code]

[2019-08-11 17:06] kmihaylov commented on #1816
My fault, should be ```export SMING_HOME=/opt/Sming-test/Sming```.
Framework build is OK, dist-clean still fails.

[2019-08-11 17:39] kmihaylov commented on #1816
Maybe rBootHttpUpdate -> RBootHttpUpdater can be added to 'Deprated list'?

[2019-08-11 19:04] mikee47 commented on #1816
Yes, got some fixes to the docs, will include that.

[2019-08-13 09:57] kmihaylov opened #1819 "esptool -fs 512KB despite SPI_SIZE = 4M"
Good day!

I'm in trouble since make flashinit doesn't like the size of the chip. Before everything:

[code]

Here is the size of the app

[code]

And here is the error. I'm curious why esptool uses ```-fs 512KB```?
[code]

[code]

It looks like esptool tries to flash 512K chip, but why SPI_SIZE 4M doesn't influence esptool's arguments?

[2019-08-13 10:02] kmihaylov commented on #1819
Looks like some variables from my component.mk are ignored...

[2019-08-13 10:14] kmihaylov commented on #1819
Okay, ```make help``` was of great help. I saw that the config was initially generated once and I had to clean it.

[code]

I read somewhere that the configuration is now preserved, but completely forgot about it. Maybe some hint would be helpful if places somewhere as a notice?

[2019-08-13 10:14] #1819 closed

[2019-08-29 06:36] mikee47 commented on #1134
Sming install provides Windows MinGW with GCC 6.3, Linux gets GCC 4.8.
It's the < GCC 5 which is preventing moving forwards, 6.3 is good enough for C++17
which I would like to see become the minimum standard.

Some impressive work has been done with the `esp quick toolchain`.
Current 2.5.0-4 release installs GCC 4.8.2 for all platforms, however source is
available and according to docs. will build

[2019-09-17 11:36] mikee47 opened #1837 "Undefined `micros`"
Some code crashes when attempting to use `micros()` because the linker generates a null value.

This bug was introduced by #1835. Adding `-u millis -u micros` to the linker fixes this problem, but then travis fails to build `HttpServer_ConfigNetwork` with SDK version 3:

[code]
This repeats for free, zalloc, calloc and realloc.

Clearly there is an underlying instability in how this is all linked.

[2019-09-17 12:00] mikee47 commented on #1837
One point I'm not clear on is with all the different SDK versions precisely which functions we're aiming to get linked. These are the problem areas:

`axtls-8266` implements the `time.c` module with these WEAK functions:

	configTime
	clock_gettime
	mktime
	time
	asctime
	ctime
	gettimeofday

(I took the `millis` and `micros` definitions out of the equation in #1835.)

Sming has `millis` and `micr

[2019-09-18 12:27] mikee47 commented on #1837
Solution is to remove entire `time.o` module from libmain. We can then remove weak attribute from our own millis() and micros() implementations.

[2019-09-18 18:51] #1837 closed

[2019-09-19 07:57] teicors opened #1839 "Add library"
Hi,
I would add a library in order to manage the DST for my timezone and I found a library https://github.com/JChristensen/Timezone that requires https://github.com/PaulStoffregen/Time.
I installed (using git clone) both in  /opt/sming/Sming/Libraries, I added to components.mk in my dir project
`ARDUINO_LIBRARIES := ArduinoJson5 Time Timezone`.
I did a
`make dist-clean`
But during the make I recei

[2019-09-19 08:10] mikee47 commented on #1839
What you need to do is create a separate [Component Repository](https://sming.readthedocs.io/en/latest/_inc/Sming/building.html#component-repositories) and place your libraries there. You can find a worked example of how to do this in the (SharedComponent)[https://github.com/SmingHub/Sming/tree/develop/tests/SharedComponent] test code.

[2019-09-19 08:14] mikee47 commented on #1839
I have Sming-ported libraries for time zones, daylight-saving calculation, etc. so I'll get them tidied up and submitted in the next day or two. This sort of thing should be available 'out of the box'.

[2019-09-19 10:37] teicors commented on #1839
Thank !

[2019-09-19 14:35] etmmahi opened #1841 "build error: duplicate swap()"
When building an application with the foolowing libs in  components.mk:
```ARDUINO_LIBRARIES := ArduinoJson6 Adafruit_SSD1306```

then the following code fails:
[code]
with:
[code]

It seems the swap() define in Adafruit_GFX.h is a (bad) duplicate.
Change the define into an inline function inside the Adafruit_GFX class fixes the problem.
[code]

There may exist a better solution...

[2019-09-24 15:31] Derkades opened #1842 "Permission denied /dev/ttyUSB0"
Getting the following error when running `make flash` in `Sming/samples/Basic_Blink`:
[code]

I have not had any issues manually flashing unrelated .bin files using esptool. Do I need to run make flash as root? My user is in the `dialout` group.

[2019-09-24 15:45] Derkades commented on #1803
Why would maintaining compatibility with Python 2 be important? You can run python3 and python2 side by side if you have applications that require python2 on the same system.

[2019-09-25 11:43] Derkades commented on #1842
I've tested it with root permissions and it works. Regular esp-open-sdk flashing works without root permissions though, is there any way I can get it to work without sudo?

[2019-09-25 12:55] slaff commented on #1842
@Derkades You question is better suited for a general ESP8266 forum. But here is what I can do to help you:
- Check if your current user is indeed in the dialout group. Use this command `groups | grep dialout` and paste the output
- When you connect your device check that it is available as /dev/ttyUSB0.  Paste the output of
`lsusb` and `dmesg | grep USB0`
- Is the ESP8266 in flash mode? Or do you

[2019-09-25 19:26] mikee47 commented on #1842
Have you read https://github.com/espressif/esptool/blob/master/README.md. There's a note about this:

*In Linux, the current user may not have access to serial ports and a "Permission Denied" error will appear. On most Linux distributions, the solution is to add the user to the dialout group with a command like sudo usermod -a -G dialout <USERNAME>. Check your Linux distribution's documentation fo

[2019-09-27 16:15] slaff opened #1844 "RC releases for Sming 4.0"
We will start Release Candidate (RC) releases before we officially announce version 4.0. The plan for the moment is to have the following RCs
- [x] RC1: latest code from develop. The release tag will be set in the `develop` branch.
      Expected release date - 29th of September.
- [x] RC2: Leave support only for SDK >= 3.0.1. Due to the security issues found recently the older SDKs will not be su

[2019-09-27 16:17] #1839 closed

[2019-09-27 16:18] slaff commented on #1683
@mikee47 Is there anything left to do related to the documentation or I can close this discussion?

[2019-09-27 19:17] mikee47 commented on #1683
@slaff I've nothing further planned for documentation structure, so yes think we can close this thread.

[2019-09-28 06:29] #1683 closed

[2019-09-28 08:09] slaff commented on #1713
@mikee47 How about starting the refactoring of the SSL stuff ? ;)

[2019-09-29 16:23] mikee47 commented on #1683
@slaff Just to make you aware I'm still having to update the docs. manually via https://readthedocs.org/projects/sming/builds/

[2019-09-29 16:31] slaff commented on #1683
I know :(.
@alonewolfx2 @anakod @hreintke Can someone from you guys grant access to read-the-docs so that we can push generated documentation automatically?

[2019-09-30 06:55] teicors commented on #1844
Hi, just updated to latest version and in compiling my code, I receive this error:
/opt/sming/Sming/out/Esp8266/debug/lib/clib-ArduinoJson5.a(JsonObjectStream.o):(.rodata._ZTV16JsonObjectStream[vtable for JsonObjectStream]+0x38): undefined reference to `MemoryDataStream::seek(int)'

The json version is 5 into component.mk

[2019-09-30 07:11] slaff commented on #1844
@mikee47 Can you take a look at that issue?

[2019-09-30 07:26] teicors commented on #1844
after a make dtst-clean the configuration of the "project" is reset

/opt/sming/Sming/Arch/Esp8266/Components/esptool/esptool/esptool.py -p  -b 115200 write_flash -ff 40m -fm qio -fs 512KB 0x00000 out/Esp8266/debug/firmware/rboot.bin 0x002000 out/Esp8266/debug/firmware/rom0.bin 0x100000 out/Esp8266/debug/firmware/spiff_rom.bin

How to catch the error:I

[compiling ok]

the error appers and the onl

[2019-09-30 07:32] mikee47 commented on #1844
@teicors Can you reproduce the problem by modifying one of the sample applications? That way I can reproduce the error.

[2019-09-30 07:35] mikee47 commented on #1844
Yes, that's by design. You can perform a clean build without resetting config like this:

[code]

[2019-09-30 08:00] mikee47 commented on #1844
@teicors Something to check. Do `git status` and make sure there aren't any old files from the previous build - those should be deleted.

[2019-09-30 08:02] etmmahi commented on #1841
The better solution (also applied in the original Adafruit_GFX library) is to move the macro into the cpp file and rename it to prevent name clashes.
This solution is fount in the pull request

[2019-09-30 08:13] teicors commented on #1844
@mikee47
Sul branch develop
Your branch is up to date with 'origin/develop'.

I did

and the error disappears, even after a

So I suppose something fixed after the components-clean; in my opinion the dist-clean should be stronger than components-clean or must include it.

Sorry for wasting your time.

[2019-09-30 09:24] teicors commented on #1844
@mikee47 it seems no one error during both clean (I'm working only with Ubuntu):

and

[2019-09-30 09:30] mikee47 commented on #1841
My preference would be to remove all the swap() macros and instead using std::swap. I'll work a PR up for that since it affects other bits.

[2019-09-30 09:44] mikee47 commented on #1844
The only difference I can see is that `dist-clean` *doesn't* clean your own project, only `make clean` does that. But I'm not sure that would explain the error you initially reported.

[2019-09-30 09:45] etmmahi commented on #1841
Nice, when ready I am happy to test

[2019-09-30 10:00] teicors commented on #1844
@mikee47 the errors in the dist-clean phase era related to HttpServer_FirmwareUpload and HttpServer_ConfigNetwork in the sample dir: do you agree with me ?

[2019-09-30 10:09] mikee47 commented on #1844
@teicors Yes - you can ignore those particular warnings.

[2019-09-30 10:55] #1841 closed

[2019-10-02 11:35] paulbendixen commented on #1684
Looks very impressive
Regarding the toolchain file, depending on how old a CMake you want to support, you should probably go with setting [CMAKE_TRY_COMPILE_TARGET](https://cmake.org/cmake/help/v3.6/variable/CMAKE_TRY_COMPILE_TARGET_TYPE.html) to STATIC_LIBRARY.
I've also had a lot of success using find program to set the toolchain file

    find_program( CMAKE_C_COMPILER
        xtensa-lx106-elf-

[2019-10-02 12:04] slaff opened #1863 "Question: about make compile directives and automatic recompilation"
@mikee47 Probably you are the best person to answer this question:

 A project is compiled with the following directives

[code]

The project compiles nicely and the application works as expected.
Trying to compile now without debug information using the command below:

[code]

Does not trigger a recompilation of the Sming library. Thus the application is linked against the already created Sming l

[2019-10-02 12:10] geokon-gh commented on #1684
My understanding is that the toolchains file is onpy ever set from outside the project when cmake is run

'''
cmake -DCMAKE_TOOLCHAIN_FILE=/path/to/toolchains/file
'''

I understand it doesn't look very ergonomic, but I've only ever see it used that way - where the developer points to which toolchain he wishes to use for a specific configuration

Then (on a Linux system at least) you can continue

[2019-10-02 12:10] mikee47 commented on #1863
You'll need to explicitly rebuild Sming. See Note here:

https://sming.readthedocs.io/en/latest/_inc/Sming/index.html#envvar-DEBUG_VERBOSE_LEVEL

[2019-10-02 12:26] paulbendixen commented on #1684
I believe you are right, (sadly) but it is still set in the CMakeLists.txt and will probably not work.
It should probably be removed.

[2019-10-02 14:03] teicors opened #1865 "SPIFFS size"
Hi,
during the compiling of my test code, I achieve the code "errno -10001" it means "no space left on devce", but looking at a very old image, I see a difference of the dimension of the spiffs space: my question is "where can I change the space for the spiffs_rom.bin" (if It's possible) ?

Angelo

[2019-10-02 14:27] slaff commented on #1865
`SPIFF_SIZE` is what you are looking for. Example
[code]

[2019-10-02 14:47] teicors commented on #1865
To achieve the space needed I had to execute

[some output]

[some output]

after the first make with the space, the spiffs is not rebuild.

[2019-10-02 14:51] mikee47 commented on #1865
You can do `make spiffs-image-update`. Use `make help` to get a list of options.
Remember you can search documentation quite easily at https://sming.readthedocs.io/en/latest/ (box at top left).

[2019-10-02 16:25] #1865 closed

[2019-10-04 11:12] slaff commented on #1713
Making available axTLS also to other architectures worked quite nicely. Thanks a lot @mikee47 for doing this.

The next step should be to create a layer that abstracts the actual SSL/TLS implementation that is used. There should be
- null implementation (which is just dummy implementation and can be used during link time to compile in projects that don't want to have SSL enabled)
- axTLS implement

[2019-10-04 12:31] mikee47 commented on #1713
@slaff I'll add this to my todo list, probably won't be ready for this release though.

[2019-10-04 13:01] icodk commented on #1713
may be to think Ethernet as well ? esp32 has Ethernet hardware support and it could be a nice addition to the esp8266 using SPI. Ethernet has some security advantages and can also facilitate PoE

Just an idea ...

[2019-10-05 12:12] mikee47 commented on #1560
@kmihaylov @Informatic Did you guys make any progress on this?

[2019-10-07 07:41] kmihaylov commented on #1560
HwPWM did the job for me, therefore I didn't test with HardwareTimer. I can give it a try later today.

[2019-10-07 13:37] mikee47 commented on #1683
@slaff For info got some documentation tidying up to submit (get rid of 'to be completed' in sample README files, few fixes, github links and so on). Probably have it in a day or two.

[2019-10-07 22:16] aemseemann opened #1875 "More flexible HTTP server error handling in case of bad body content"
There are basically two kinds of errors in an HTTP communication:
* A violation of the HTTP protocol, detected by the http_parser.
* Bad body data, i.e. the _application_ rejects some or all of the incoming data. This is done by letting the `bodyParser` or the `HttpResource::onBody` callback return a number less than the amount of bytes it was given to process.

Currently, Sming's HTTP server hand

[2019-10-09 06:56] #1863 closed

[2019-10-11 18:15] kwis2 commented on #1844
Windows install still not work. As in #1241 with windows 10 fresh install there is problem `Extracting 'C:\Users\xxxx\AppData\Local\Temp\chocolatey\mingw-get\mingw-get-0.6.2-mingw32-beta-20131004-1-bin.tar.xz' to 'C:\tools\MinGW'` hangs, and finally

Des it mean Windows is not supported with Sming?
[code]

[2019-10-12 04:55] frankdownunder opened #1882 "Syntax Error"
I use a newer compiler , but it is an easy one to fix. . .

C+ /opt/Sming/Sming/Arch/Host/Components/hostlib/startup.cpp
In file included from /opt/Sming/Sming/Platform/Clocks.h:15,
                 from /opt/Sming/Sming/Core/PolledTimer.h:28,
                 from /opt/Sming/Sming/Platform/Timers.h:23,
                 from /opt/Sming/Sming/Arch/Host/Components/hostlib/startup.cpp:36:
/opt/Sming/

[2019-10-12 09:56] mikee47 commented on #1844
@kwis2 I've tried the chocolatey install on a fresh Windows 10 Virtualbox installation, and whilst I don't get the same error as you there are definitely issues.

I've only ever used the manual approach outlined at https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/windows-manual.html. It says DEPRECATED but it really just needs updating (work in progress). A few points about this

[2019-10-12 09:58] mikee47 commented on #1844
I'd also recommend you install GIT and pull in the latest develop.

[2019-10-12 13:34] mikee47 commented on #1844
I've found the easiest way to install MinGW is via command line:

[code]
This is sufficient to build for both Host and Esp8266.

[2019-10-12 18:37] slaff commented on #1882
Should be fixed with PR #1883

[2019-10-12 18:37] #1882 closed

[2019-10-14 16:57] ela34 opened #1886 "License"
LGPLv3 is quite a good license but difficult to implement when used in an embedded system. Do you plan to have Sming available on a BSD license (or similar) to ease integration with commercial products?

[2019-10-15 21:39] juppin opened #1887 "How to install NON OS SDK 3.0.1 for Sming 4.0.0"
Hello @mikee47 and @slaff ,

thanks for your work on Sming.

I wanna test the new 4.0.0 rc, but i´m struggling at setting up the build environment...
How do i build or download the needed NON OS SDK 3.0.1?
The docs does only mention 1.5.4 and the old esp-open-sdk supports only 1.5.4.

Thanks in advance and hopefully Sming will last a long time.

[2019-10-15 21:47] mikee47 commented on #1887
Hi @juppin, thanks for you kind words. The SDK gets pulled in automatically as a submodule, and is the default for rc2. If you're getting specific errors, please post some more details and we'll try to help.

[2019-10-15 21:49] juppin commented on #1887
Thank you very much... Didn´t thought it would be that easy. :-)
The last time i used Sming i had to setup the environment manually.

[2019-10-15 21:49] #1887 closed

[2019-10-16 10:14] verybadsoldier opened #1888 "4.0.0-rc2: Crash on WifiStation.getMAC in global constructors"
In my code I have a global object that queries the MAC address in its constructor with `WifiStation.getMAC`. This was working fine until 3.8 (and also 3.9 I think). Now in `4.0.0-rc2` it crashes instantly. This is a minimal example that reproduces the bug (tested on ESP-12F):
[code]

Running that makes the device reboot very frequently (around 10 Hz or something?!) producing output like this in a

[2019-10-16 10:17] mikee47 commented on #1888
I think those 'garbage' characters might hold a clue. Can you switch the terminal baud rate (probably 74880 baud?) to see what they say?

[2019-10-16 10:22] verybadsoldier commented on #1888
Ah right, sorry. Did that yesterday already (38400 is the key):
[code]

[2019-10-16 10:27] mikee47 commented on #1888
It's the constructor for your `Test` class which is crashing things. Most likely, `WifiStation` hasn't been constructed yet. Comment out the `Test t` line and it's fine.

[2019-10-16 10:29] verybadsoldier commented on #1888
Yes, I know. But exactly that is my error report (it was working before).

[2019-10-16 10:49] mikee47 commented on #1888
If the `getMAC()` method were declared `static` then your code would be fine. As it's not (and never has been) your `Test t;` static constructor a time bomb which has now detonated.

The reason it's now not working is due to #1802, which abstracted `StationClass` to provide platform independence. You need to fix your code, I would suggest adding an initialisation method (e.g. `begin()`) to your gl

[2019-10-16 11:00] verybadsoldier commented on #1888
Ahh ok, right, thank you!

[2019-10-16 11:00] #1888 closed

[2019-10-16 19:07] verybadsoldier commented on #1765
So, I am back to this as I am upgrading the RGBWW project to Sming `4.0.0`. And I am again encountering this error.

My latest stable firmware was based on Sming `3.8.0` which I think uses SDK `3.0.0`:
https://github.com/SmingHub/Sming/blob/3.8.0/Sming/third-party/ESP8266_NONOS_SDK/include/version.h

Now current Sming uses SDK `3.0.1`.

So is this error expected and is there a solution? I am afrai

[2019-10-16 19:17] mikee47 commented on #1765
The dump tells you where it's crashing and, if it's the same code as above (28 LOAD_PROHIBITED) then the bad code is at 0x402137bc in your new image. The easiest way to diagnose that is to build it for GDB - assuming it's getting as far as init() - then you'll get a nice backtrace.

[2019-10-17 13:09] etmmahi opened #1891 "OpenWifi not working"
Try example Basic_Wifi  with settings:

export WIFI_SSID="OpenNetwork"
export WIFI_PWD=""

The compile will fail because WIFI_PWD is not taken into the compile flags.
This happens due to the
`ifdef WIFI_PWD
`
check in component.mk

pse fix

Martijn

[2019-10-17 13:11] mikee47 commented on #1891
[code]

[2019-10-17 13:12] mikee47 commented on #1891
I see what you mean.

[2019-10-17 13:23] mikee47 commented on #1891
@etmmahi This should sort problem if you want to try it:

[code]

[2019-10-17 13:57] #1891 closed

[2019-10-18 10:24] verybadsoldier commented on #1765
Ok, I tried that (well, I tried alot actually) but also the version compiled with `ENABLE_GDB` also crashes in the same way. If I understand correctly than that version was supposed to wait for a `gdb` to connect before starting the firmware. But it seems to crash for that wait happens.

But, I tried alot of other things to isolate this problem:
It seems that this problem only happens with the smi

[2019-10-18 10:25] verybadsoldier commented on #1765
mistakenly closed...

[2019-10-18 10:41] verybadsoldier commented on #1765
Sorry for confusion: I just wanted to write a comment but accidently closed the issue. Finished my comment now...

[2019-10-18 10:49] verybadsoldier commented on #1765
The exact same thing can be reproduced with e.g. `Basic_Blink`. Just doing `flashinit` and then flashing the `rom0.bin` to `0x202000`.

[2019-10-20 14:35] verybadsoldier commented on #1765
@mikee47
Does anything I said any sense to you? :)

[2019-10-20 16:10] mikee47 commented on #1765
@verybadsoldier Thank you for taking the time to break down this problem, I found it fairly quickly using `Basic_Blink`. To verify:

[code]

produces

[code]

I then do:

[code]

and get normal operation:

[code]

[2019-10-20 16:44] verybadsoldier commented on #1765
Hm sorry, not sure if I understand it: so the problem did not occur on your end?

[2019-10-20 17:21] mikee47 commented on #1765
Yes, I got the same problem. Try this patch, see if it fixes it for you:

[code]

[2019-10-21 08:35] teicors opened #1901 "error: "WIFI_PWD" redefined [-Werror]"
Hi,
I updated sming to the latest version by git branch develop and I catch the error.
I did the following steps:

[code]
and now I catch the error.
the HttpClient is vanilla from git clone <Sming>. No one modification.
The same error on my projects.

[2019-10-21 09:09] mikee47 commented on #1901
See #1892. The fix is to ensure WIFI_SSID is defined. The error message could be clearer but in essence it's appropriate  I think.

The use of these variables is really only for basic samples and one-off applications. In deployable devices a more sophisticated mechanism for managing connection information is needed.

[2019-10-21 09:42] teicors commented on #1901
Yes, I know. I put for my gadgets the ssid and password in an external file with the right value. The error is not related to a password empty, but to the duplicate (redefine) of password. In the example I expect an error like "SSID not defined" and not redefine of password.

[2019-10-21 09:55] slaff commented on #1901
@mikee47 The following change can be done: In Sming/component.mk replace the setting of WIFI_PASS from:
[code]

to

[code]

[2019-10-21 10:43] teicors commented on #1901
Not exactly.. an undefined WIFI SSID is not catched.
Now I don't report any duplicate, neither the WIFI SSID voluntary missed as verify the solution.

[2019-10-21 12:55] mikee47 commented on #1901
@slaff That's a good idea, thanks.

@teicors

We can fix that for all the samples:

[code]

[2019-10-21 15:35] verybadsoldier commented on #1765
Fixed by #1900

[2019-10-21 15:35] #1765 closed

[2019-10-22 10:01] #1901 closed

[2019-10-22 13:38] slaff opened #1905 "Issues reported by our CI systems."
# AppVeyor CI

The host build fails with the following error.
[code]

See: https://ci.appveyor.com/project/slaff/sming-sb483/builds/28433616/job/8w1d4phc37w5u6wr

# Travis CI
Quite often Travis CI is failing with the following problem (Full log can be seen here: https://travis-ci.org/SmingHub/Sming/jobs/601194512 )

[code]

I guess the issue is due to some race condition because if I restart the b

[2019-10-23 21:52] mikee47 commented on #1905
| pure virtual method called

The `pure virtual method called` is very likely a red herring and it's more likely access to a freed memory location.

I've seen this one before, it was a threading issue where the CThread destructor was getting called twice. My first suspect is somewhere in `Arch/Host/Components/driver/hwtimer.cpp`. I'll see if I can pin it down.

[2019-10-29 07:23] slaff commented on #1905
@mikee47 I guess you have noticed this but there is also an issue with the host compilation on Windows. Can you take a look at that issue too?

[2019-10-29 09:36] mikee47 commented on #1905
My feeling is that the appveyor issues are probably related to the duplicate dnsserver.h files, so should disappear.

I'd like to update the MinGW tools so it's using GCC 8.2. Installing from scratch is tedious, it's much faster just pulling in a zipped image which is 105MB - do you have a preferred location to put that?

[2019-10-30 10:14] kmihaylov opened #1921 "Serial,printf, debugf uint64_t (long long)"
Hello, I'm using some >32bit numbers, (uint64_t).
However when I use debugf to print some system information only the first 4 bytes are printed.

May you enlighten me whether this is some bug or I'm missing some parameter?

Thanks!

EX: debugf("%llx", 0x4040404040);

[2019-10-30 10:18] slaff commented on #1905
The best will be to a separate repo with toolchains under SmingHub. Unfortunately I don't have the permissions to create a new repo under SmingHub.

@anakod @alonewolfx2 @hreintke Can one of you create a new repository named **toolchains** under SmingHub ?

[2019-10-30 10:20] mikee47 commented on #1921
longlong parameter types aren't currently supported; You'll need to work around this:

[code]

An easier way is using methods of `Serial` (or Print), if necessary wrapping with `#ifndef SMING_RELEASE`, etc.

[2019-10-30 10:36] kmihaylov commented on #1921
God bless you!

[2019-10-30 10:36] #1921 closed

[2019-10-30 15:04] mikee47 opened #1922 "SPIFFS won't initialise when booting from second rBoot slot"
For example, setting up a SPIFFS volume of 2MByte works fine when booting from slot #0 at 0x2000, but switching to slot #1 at 0x202000 fails to iniitalise.

Can result in `spiffs_get_storage_config()` reporting `the requested SPIFFS size is too big`.

The problem is with `flashmem_get_info()` which assumes that memory location 0x4020000 is the start of flash. However, rBoot remaps this address so

[2019-10-30 17:13] #1922 closed

[2019-10-31 11:59] verybadsoldier opened #1926 "WifiStation stops connection attempts after startScan"
I am maintaining a Wifi RGB controller firmware which should try to reconnect to the Wifi upon loss of connection. But after a certain amount of tries it should also spin-up its internal AP to give the user a chance to reconfigure the Wifi to another SSID.

The logic in that firmware is:

1. Upon loss of connection -> keep trying to reconnect
2. After 10 tries -> Do a startScan and spin up the int

[2019-10-31 14:17] avr39-ripe commented on #1926
Take a look on my way to handle this in https://github.com/SmingHub/Sming/tree/master/samples/Basic_WebSkeletonApp

It either connects to saved (if any) wifi network or fires own AP with web interface that allows you enter ssid/pwd (no scan!) and enable/disable STA mode. After connecting to wifi network in STA mode it shuts down AP.

[2019-10-31 15:12] mikee47 commented on #1926
Maybe you just need to call WifiStation.connect() again from your `listNetworks()` callback.

[2019-10-31 15:15] mikee47 commented on #1926
See also Appendix A.4 in the [NON-OS SDK reference](https://www.espressif.com/sites/default/files/documentation/2c-esp8266_non_os_sdk_api_reference_en.pdf)

[2019-10-31 22:53] mikee47 commented on #1905
Running Ubuntu in Virtualbox I initially couldn't reproduce this error, so reduced the thread count to 2 to match travis. Running the 'SharedComponent' test the fault appears within about 15 attempts, usually less.

I added some debug statements which pins down the location:

[code]

The exception is raised when calling `pthread_join()`. I found this note:

https://tombarta.wordpress.com/2008/07/1

[2019-11-01 14:48] #1905 closed

[2019-11-01 15:34] verybadsoldier commented on #1926
Ok thanks, that are two good points. I am investigating...

[2019-11-02 23:07] frankdownunder opened #1932 "compiler error strncpy -Wstringop-truncation]"
Are we concerned about this compiler error? Probably low impact but it would be nice to get rid of it.

    inlined from ‘spiffs_object_create’ at ../spiffs/src/spiffs_nucleus.c:947:3:
/usr/include/x86_64-linux-gnu/bits/string_fortified.h:106:10: warning: ‘__builtin_strncpy’ specified bound 32 equals destination size [-Wstringop-truncation]
  106 |   return __builtin___strncpy_chk (__dest, __src,

[2019-11-03 09:34] mikee47 commented on #1932
Curious the compiler doesn't flag up the other one on line 1010, have fixed both.

[2019-11-03 15:07] verybadsoldier commented on #1926
Ok, calling `WifiStation.connect` in the callback helped. I am experiencing some other strange behaviors but they might just be errors on my side.

So thanks again, I appreciate the support here alot.

I close this ticket as it probably is not considered a bug of Sming. Just something the user has to take care of.

[2019-11-03 15:07] #1926 closed

[2019-11-04 08:52] qdimka opened #1937 "HttpClient doesn't send a request"
Hi, everyone.

I started using Sming a couple of days ago. It is the great tool.
But I have some problems.
I need to send the sensor data to thinkspeak.
I am using this [sample](https://github.com/SmingHub/Sming/tree/lts-develop/3.8.x/samples/HttpClient_ThingSpeak).

I modified next line:
[code]

Nothing to happened after first call thinkSpeak.downloadString.
`onDataSent` wasn`t called.
After the

[2019-11-04 10:09] mikee47 commented on #1937
Hi @qdimka, we'll look into this but as you've only just started using Sming I'd recommend moving to Sming 4.0.0 which has been released today.

[2019-11-04 10:42] mikee47 commented on #1937
I've located the reason for the 'already freed' message, I'll submit a PR to patch that (present in 4.0 as well). However, I've yet to discover why no response is received (success or failure).

[2019-11-04 11:08] mikee47 commented on #1937
Compiling the framework with DEBUG_VERBOSE_LEVEL=3 we get this:
[code]

The -8 error code is `ERR_ABRT` (connection aborted).

[2019-11-04 11:10] mikee47 commented on #1937
I'm assuming a valid connection key is required so this isn't entirely unexpected.

[2019-11-04 12:45] mikee47 opened #1940 "HttpServer `maxActiveConnections` not honoured"
This doesn't appear to be implemented in HttpServer. Is there any way to rate-limit TCP connections?

[2019-11-04 13:42] #1674 closed

[2019-11-04 13:43] #1844 closed

[2019-11-04 13:44] slaff opened #1941 "Preparation for Release 4.1.0"
This issue is created to collect all the tasks we need to do before the 4.1.0 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h #2035
- [x] Update Readme.md #2035
- [x] Merge develop into master
- [x] Tag the source code in the master branch

New features
------------------
- No-WiFi build option #2004 - get more resources if your application is not using WIFI.
- Multiple SSL adapte

[2019-11-04 14:46] mikee47 opened #1943 "How to process HTTP requests asynchronously?"
My particular scenario is simple:

- Request arrives to turn a light on
  - Send command to remote device for execution
  - Mark request 'pending'
- Response arrives from remote device
  - Response forwarded to requestor and request is completed

This is easy to handle using websockets, but I'm now obliged to use 3rd party API which uses REST commands.

When handling `HttpResouce::onRequestComplet

[2019-11-04 15:11] mikee47 commented on #1941
With a stable release I've added a couple of extra versions at https://sming.readthedocs.io/

- latest (develop)
- stable (4.0.0)
- 4.0.0

Just a suggestion, easily changed.

[2019-11-04 15:25] slaff commented on #1943
If I understood you correctly in your scenario you are running Http Server on the device.
If that is the case then you can do the following. Let's say that the request goes to path `/light/`. You can add a simpler callback for this path that look like this:
[code]

The important part here is the SpecialStream.
- available() should return -1 so that content is sent using chunked encoding
- has a me

[2019-11-04 15:30] slaff commented on #1932
Should be fixed with PR #1935. Feel free to reopen the issue if the problem is not fixes in the latest `develop` version.

[2019-11-04 15:30] #1932 closed

[2019-11-04 15:35] mikee47 commented on #1943
Thank you! That was exactly what I was looking for.

[2019-11-04 17:35] qdimka commented on #1937
Thanks, @mikee47

I've tested Sming 4.0.0 (from develop).
"Already freed" was fixed, thanks.
But I have the same result with DEBUG_VERBOSE_LEVEL=3

[code]

I've tried other sites without https, but still get the same error.
Also, I've tried to add HTTP headers, but no result.

[2019-11-04 20:22] qdimka commented on #1937
I've got the progress. I added a port to the url.
[code]

[code]
That's enough for me. I think we can close this issue.

[2019-11-04 20:33] aemseemann commented on #1943
Thanks very much! Awesome timing, I am about to face a very similar problem.
However, I was wondering how to trigger sending the response once it becomes available. I guess calling `onReadyToSendData` or `TcpClient::pushAsyncPart` would do the trick, but both of them are protected...

[2019-11-04 20:34] mikee47 commented on #1937
Yes, this is another bug - thank you for raising this issue. You can track the progress of this in #1939.

The reason the sample doesn't work is that the scheme is missing from the URL. Easily fixed by adding:

`url.Scheme = URI_SCHEME_HTTP;`

[2019-11-04 20:45] mikee47 commented on #1943
I'm guessing `onPoll()` would pick it up... not sure what the loop time is, we'll see.

[2019-11-04 20:48] mikee47 commented on #1943
#1761 looks related

[2019-11-05 19:25] aemseemann commented on #1943
Ah, thanks for the hint! I didn't known about the poll feature. I would expect a 2-second interval (from the docs of `tcp_poll` stating that the poll timer ticks twice a second and  `TcpConnection::initialize` where `tcp_poll(tcp, staticOnPoll, 4)` is called with a 4-tick interval).

Maybe one could extend HttpServerConnection::send like this to avoid the delay:
[code]

[2019-11-06 15:04] qdimka opened #1949 "Unresolved variable in ds18s20.h"
Sming 4.0.0 (from develop).
I`ve got a compile-time error "OneWire does not name a type".

I think OneWire.h should be here.

https://github.com/SmingHub/Sming/blob/c07123139201f3912f13ff0f611edec68c75a14f/Sming/Libraries/DS18S20/ds18s20.h#L18

Because we have an unresolved variable here.

https://github.com/SmingHub/Sming/blob/c07123139201f3912f13ff0f611edec68c75a14f/Sming/Libraries/DS18S20/ds18s

[2019-11-06 18:47] #1949 closed

[2019-11-06 21:20] aemseemann commented on #1875
Since the PR is now merged, I am closing this issue.
For future reference: The new behaviour can be activated by configuring the HTTP server as follows:
[code]
The default behaviour is unchanged, i.e. the connection is closed immediately after the error response has been sent.

[2019-11-06 21:20] #1875 closed

[2019-11-07 07:54] mikee47 commented on #1718
We need something like `Catch`. There are already a number of tests already written for the Arduino esp8266 platform, so adopting a standard framework means we don't have to start from scratch.

I'm not suggesting that all testing must be done using the same framework, but that it would supplement the existing applications:

*HostTests*

Added in #1692 to contain some tests which were written duri

[2019-11-07 08:39] mikee47 opened #1952 "FlashString incompatible with ArduinoJson 6.13.0"
Sming currently uses [ArduinoJson 6.12](https://arduinojson.org/2019/09/05/version-6-12-0/).

[Version 6.13](https://arduinojson.org/2019/11/01/version-6-13-0/) has been released, however it is not currently compatible with FlashStrings. See https://github.com/bblanchon/ArduinoJson/issues/1126.

I'm working on an update to FlashString, with improvements to table support and the addition of associa

[2019-11-07 09:52] etmmahi opened #1953 "Missing function to read restart reason"
Hi,

is there a function to read the reset reason?
I can use this to debug restarting nodes.

Martijn

[2019-11-07 09:58] mikee47 commented on #1953
You can use `system_get_rst_info()`. See the [NON-OS SDK reference](https://www.espressif.com/sites/default/files/documentation/2c-esp8266_non_os_sdk_api_reference_en.pdf) for details.

[2019-11-07 10:07] etmmahi commented on #1953
Thanks,

I missed this

Closing the PR

[2019-11-07 10:07] #1953 closed

[2019-11-07 21:28] stokersoft opened #1955 "3.0.1 open sdk - where?"
The stable Sming v4.0.0 supports 3.0.1 open sdk. But the official pfalcon repository, does not contain 3.0.1. Where is the recommended repository for open sdk 3.0.1 to use for v4.0.0. Thanks.

[2019-11-07 21:30] mikee47 commented on #1955
Hi @stokersoft, see #1887

[2019-11-08 10:17] jensahylda commented on #1955
Thaks a lot. Its probably very obvious if you know how, last time i setup environment myself as we should and that worked great.  But to me, if i dont have to download openSDK myself, then i do a "cd $SMING_HOME" and "make dist-clean" - but then it complains about ESP_HOME not set correctly... There must be somethig that is still needed, except just making. Thanks and sorry for not seeing it.

[2019-11-08 10:24] mikee47 commented on #1955
Sming 4.0 will require a little re-orientation as there are a lot of changes, not least of which is the documentation at https://sming.readthedocs.io/en/latest/. I heartily recommend you find some quiet time and settle down with a cup of coffee and have a read through. It's tablet-friendly as well!

[2019-11-08 10:26] mikee47 commented on #1955
And please feel free to make any suggestions for improvements. You can also find us at https://gitter.im/SmingHub/Sming

[2019-11-08 10:44] jensahylda commented on #1955
Thanks for very fast answer, appreciate that. I already read your documentation, it leads me to this:
https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/linux.html

And then i do that, i replace the version number with 3.0.1, it fails because that is not available.

Then i ask here, and i you send me to this answer:
"The SDK gets pulled in automatically as a submodule, and is the

[2019-11-08 11:04] mikee47 commented on #1955
@jensahylda You can follow the instructions on that page as-is, there is no need to change the version number since we only need the toolchain.

I agree the instructions are confusing! We'll update that, so thank your for pointing this out.

[2019-11-08 11:06] jensahylda commented on #1955
@mikee47 - thanks a lot. I fully understand that documentation might need corrections - so glad you came and made this project alive again.

[2019-11-08 22:33] lawrence-jeff commented on #1297
@slaff  I too am having issues using the Sming install process on Win10 64 bit - 7za windows open and just hangs.
Digging into the chocolateyInstall script for mingw-get the extract line is
Start-Process "7za" -ArgumentList "x `"$filePath`" -so | 7za x -ttar -si -y -o`"$installDir`"" -Wait
The pipe symbol in there is being passed to 7za I suspect that was intended to be passed to a command shell s

[2019-11-09 07:36] slaff commented on #1297
@lawrence-jeff Wow! Thanks a lot for the research. Please, make a PR with the suggested changes to this repository https://github.com/slaff/chocolatey-packages and I will take care to review and merge the changes.

[2019-11-14 11:13] fooker opened #1966 "flashinit fails with clean project"
Looks like flashinit requires the `esp8266` component to be build before it can run so it will find `$(SDK_BASE)/bin/esp_init_data_default.bin`. If flashinit is executed in a clean tree, the file is missing.

[2019-11-14 13:15] mikee47 commented on #1966
True. But then other things will be missing too, like spiffy.

In general build the framework is the first step before anything else.

Do you think the documentation requires clarification on this?

[2019-11-15 07:50] Evgsurf commented on #1955
Looks it is necessary to have some manual "how to install Sming 4"

[2019-11-15 09:33] slaff opened #1967 "Anyone interested in support for Moz WebThings API?"
Mozilla is providing a [nice API](https://hacks.mozilla.org/2019/11/thermostats-locks-and-extension-add-ons-webthings-gateway-0-10/) for auto-discovery and control of IoT devices.

Since Sming has good asynchronous web server and web client it should be easy to implement the [WebThings API protocols](https://iot.mozilla.org/wot/#thing-resource). If there is interest.

Do you think this will be use

[2019-11-15 11:31] qdimka commented on #1967
Hi, @slaff. I'm interested. I think it will be very useful because we often use a lot of iot devices.

[2019-11-15 15:20] cometurrata opened #1968 "OTA Fails because of software watchdog reset"
I had the issue with Sming-3.8 + SDK 2.0.0
I also have the issue with Sming-4.0.0 + SDK 3

I can easily reproduce that but doing many OTA.
Seems that it depends of the wifi or something.
I can reproduce it on many Boards and on many wifi network.

It can fail really often (sometimes 15 fails / 15 tries).
Sometimes never.

Does someone have an idea ?

Thanks for the great job by the way.

[code]

[

[2019-11-15 15:23] mikee47 commented on #1968
Can you reproduce the fault running in the debugger? The backtrace is more reliable.

[2019-11-15 15:26] cometurrata commented on #1968
I never used the debugger, I will give it a try

[2019-11-15 17:03] cometurrata commented on #1968
I got:
[code]

[2019-11-15 19:15] cometurrata commented on #1968
Not a Sming Issue
I believe it is not a software issue, my LDO is too weak so voltage drop and get the flash to fail.

[2019-11-15 19:15] #1968 closed

[2019-11-16 12:03] #1842 closed

[2019-11-18 17:19] mikee47 opened #1970 "Eclipse 'debug as local application' fails"
If I right-click on a project, configured to build in the Host Emulator, then select `Debug as` -> `Local C/C++ Application` it fails to start. Investigation shows that it picks up the `app_0.out` file from the ESP8266 build instead.

I then have create a debug configuration manually.

This isn't a great deal of hassle but it's not as smooth as I'd like. Any suggestions?

[2019-11-18 17:31] mikee47 commented on #1967
If we can leverage that user interface, sounds like a good idea!

[2019-11-19 09:33] slaff commented on #1970
In Eclipse you will have to learn to "refresh" the project from time to time. If you have already compiled a sample with SMING_ARCH=Host then you refresh (Right click on the project -> Refresh (F5) ). After that select `Debug as -> Local C/C++ Application`. If you have more than one binary in the project you will be presented with a list of binaries to choose from. Similar to the screenshot below:

[2019-11-19 10:13] kwis2 opened #1971 "Json length problem"
I test Basic_WebSkeletonApp example and there is problem with JsonObjectStream. With about 400 bytes of data there is stream cut - it looks like key/value were NULL/NULL on the end of stream and js script hangs.

[2019-11-19 10:26] kwis2 opened #1972 "Windows 10 debug problem"
I have installed Sming on win 10 with Manual Windows Installation method, and there is no `xtensa-lx106-elf-gdb` in  `/Espressif/xtensa-lx106-elf/bin` folder nor even in whole `Espressif` folder.
I think it is some problem with UDK installation (?) `Espressif-ESP8266-DevKit-v2.2.1-x86.exe`

[2019-11-19 10:36] mikee47 commented on #1972
Check out the documentation here
https://sming.readthedocs.io/en/latest/_inc/Sming/Arch/Esp8266/Components/gdbstub/index.html#gdb

(Just type GDB into the search)

[2019-11-19 10:38] mikee47 commented on #1971
Can you provide a little more detail so we can reproduce the issue?

[2019-11-19 13:19] mikee47 commented on #1970
Thanks slaff, I'll give it a go.

[2019-11-19 21:34] kwis2 commented on #1971
I have modified `onAjaxGetState`  with

[code]
and it worked fine until 37 and next loop it was `null null` terminated and js hangs and with opera preview there was state:

[code]

[2019-11-19 22:37] m3x1m0m opened #1973 "How to use std::exception?"
Somewhere in **$SMING_HOME/Arch/Esp8266/build.mk** the flag **-fno-exceptions** is added. When changing it to **-fexceptions** and recompiling Sming the linker has undefined references to e.g.  **`_Unwind_Resume'**.

Has anybody ever tried to work with std::exception in Sming? Programming with exceptions is rather convenient compared to returning error codes or similar.

[2019-11-20 12:19] mikee47 commented on #1971
JsonObjectStream uses an internal DynamicJsonDocument with a default capacity of 1024 bytes. The problem you describe occurs when the document is full and cannot allocate space for the final key/value pair.

You can increase the document size like this:

[code]

But if your requirements are too large then you'll need a more involved approach to seralising the data. There's an example of how to do

[2019-11-20 12:22] fooker opened #1975 "Default MQTT Payload Parser can't handle empty messages"
MQTT supports sending messages without a payload (the remaining bytes after the variable headers are zero). If such a message is received by the `MqttClient` and processed by the default `MqttPayloadParser`, the client dies and does not accept any further messages.

At a first sight, it looks like `malloc` is called with `message->publish.content.length` which is `0` in such a case. Thus leading `

[2019-11-20 12:38] slaff commented on #1975
@fooker Can you send a PR with your suggested fix?

[2019-11-20 12:55] fooker commented on #1975
It looks like fixing the `payloadParser` is not enough. The `on_data_payload` and `on_data_end` callbacks will be called way to late (the are called if a follow-up message is received).

I've opened an associated issue in the according library: https://github.com/slaff/mqtt-codec/issues/3

[2019-11-20 12:58] fooker commented on #1975
@slaff If https://github.com/slaff/mqtt-codec/pull/4 gets merged, there is no need for change in Sming.

Another way to solve this is not to skip the callbacks on empty messages, but make them all be called with zero length. In such a case, I will come up with a PR.

[2019-11-20 15:38] kwis2 commented on #1971
I think I have to clear where the problem is.
Finite capacity of JsonObjectStream is not a problem. Problem is that unexpectedly there is `null: null` which kill js and how could we avoid such situations.
On the other hand it could be good idea to know if data we add to stream reach the www....
I mean with modified Basic_WebSkeletonApp example we expect for instance counter40: 40 and there is only

[2019-11-20 16:51] #1975 closed

[2019-11-20 19:48] fooker commented on #1975
@slaff will this be back-ported to a 4.0.x release?

[2019-11-20 19:50] fooker commented on #1966
@mikee47 Maybe the build should be a dependency on that target?

[2019-11-20 20:27] mikee47 commented on #1971
@kwis2 You may find this helpful https://arduinojson.org/v6/api/jsonobject/subscript/

[2019-11-21 10:49] #1952 closed

[2019-11-23 09:31] mikee47 opened #1980 "Documentation 'adding external sources' out of date"
https://sming.readthedocs.io/en/latest/contribute/external-sources.html

This page hasn't yet been updated for Sming 4.0.0.

[2019-11-23 23:39] #1972 closed

[2019-11-24 12:34] #1966 closed

[2019-11-25 17:25] DonTSan opened #1982 "How to get 4.0 running"
I've installed Sming 4.0 and esp-open-sdk on 2 different computers and a virtual machine (all Ubuntu type). I tried Wemos d1 mini, Node-MCU and a self-made circuit board. I don't get even Basic_Blink running. Sming 3.8 (esp-open-sdk 2.0) works fine on all boards. Connecting on 74880 BAUD shows following information:
**_ets Jan  8 2013,rst cause:2, boot mode:(3,6)

load 0x40100000, len 1188, room 1

[2019-11-25 17:59] mikee47 commented on #1982
Try SPI_SIZE=4M for the NodeMCU. See https://smingdev.readthedocs.io/en/latest/_inc/Sming/Arch/Esp8266/Components/esptool/index.html and https://smingdev.readthedocs.io/en/latest/_inc/Sming/Arch/Esp8266/Components/esp8266/index.html

[2019-11-25 21:37] kmihaylov commented on #1982
And do not forget https://smingdev.readthedocs.io/en/latest/_inc/Sming/building.html

```make config-clean```

[2019-11-26 06:57] DonTSan commented on #1982
Thanks both of you. I'm going to start a reading session and will come back later.

[2019-11-26 09:11] mikee47 commented on #1980
@slaff Hope you haven't spent time on this one yet, I've got it included in an update I'll be pushing out shortly.

[2019-11-26 09:48] slaff commented on #1980
Not yet.

Great, thanks a lot in advance!

[2019-11-26 11:33] mikee47 opened #1983 "Libraries, Samples and Components: Where next?"
One of the things I like most about Sming is the large selection of libraries and sample applications available out of the box.

However, we cannot just keep adding to these directories indefinitely. I have a few thoughts about where I think we should be heading with this.

** samples **

To reduce the size of this directory, many samples could be moved into an `examples` sub-directory of the corr

[2019-11-26 12:15] slaff commented on #1983
We need a package manager similar to NPM for NodeJS, Composer for PHP or https://platformio.org/lib. It would be best if we can reuse an existing package manager.

Anyone having experience with package managers that can be used in Sming (C/C++ ) ?

[2019-11-26 14:42] anakod commented on #1905
Hello @slaff. Not sure why you haven't owner acces to the root section of the SmingHub. I'ts definitely mistake and I have fixed it :)

[2019-11-26 14:43] anakod commented on #1905
By some reason I didn't see notification when you mentioned me here, Kul have contacted me today on Telegram messanger and said about this issue.

[2019-11-26 14:56] slaff commented on #1905
Check your spam folder.  Make sure that you are also"watching" this project: https://github.com/SmingHub/Sming/watchers

Thanks a lot @anakod.

[2019-11-26 16:09] mikee47 commented on #1983
https://conan.io Looks promising. @aemseemann you mentioned it in the CMake thread, any thoughts?

[2019-11-26 17:28] DonTSan commented on #1982
It's running.
I started with <make config-clean>, then <make flashinit> and at last <make flash SPI_MODE=dio SPI_SIZE=4M>
Thanks again.

[2019-11-26 17:31] DonTSan commented on #1982
I guess my sentence is not shown completely. The sequence I did was:
-  make config-clean

- make flashinit

- make flash SPI_MODE=dio SPI_SIZE=4M

[2019-11-26 22:05] kmihaylov commented on #1971
I had similar problem (in my case the values were "0" (integer).

Long story short, I had to increase the size of the object defined by ```DynamicJsonDocument``` despite my string's length was less than the jsonDocument object.

Just increased it twice or so and the "0" values became what was expected.

Now I see that I even use ```DeserializationError``` without checking the result. Probably ther

[2019-11-27 06:56] anakod commented on #1905
Yes, looks like it's in Spam folder :(

[2019-11-27 22:16] aemseemann commented on #1983
As I already stated in the CMake thread, I have mixed feelings about conan.
It is mainly a package manager similar to what dpkg, rpm, pacman etc. do for Linux.
It will fetch packages (mainly prebuilt libraries/binaries) from one or more remote repositories (sometimes called "artifactories") into a (system-wide) local package cache, from where the packaged libraries, binaries, headers and other art

[2019-11-27 22:29] aemseemann commented on #1983
I wonder why all the submodules of the top level Sming repositories _are_ submodules. From my understanding, they are not really used in the way git submodules were designed, especially with all the patching done during the build. Wouldn't it be possibly to instead fetch them on demand from an URL/commit HASH given in component.mk without adding them as submodules?
This way one could even extend t

[2019-11-28 09:23] mikee47 commented on #1983
Historical!

I really like this idea! In essence, we'd take the .gitmodules entries and move them into the related component.mk file. I don't think it would be much of a stretch to implement either. It would also simplify things like rebasing.

Why not?!

[2019-11-28 09:29] mikee47 commented on #1983
Clearly adopting any package manager is going to require customisation, and if it doesn't make our life easier then we don't do it. Something I didn't mention in the opening post was version control, which is kind of important thing to leave out! However, if we ditch (some or all) submodules and go with your hash-based fetching @aemseemann the problem will disappear because the dependencies will n

[2019-11-28 10:41] slaff commented on #1983
@mikee47 If you want make a PR where the submodules are removed and replaced with a makefile function(s) that take care to fetch the right hash from the right URL. What I would like to remain is a way to fetch all submodules and patch them at once. I need this to create a submodule archive and attach it to every release. This archive is our guarantee that if  a remote submodule disappears we still

[2019-11-28 12:10] mikee47 commented on #1983
Yes, we'll need this to build the docs too.

[2019-11-28 12:29] mikee47 commented on #1983
@slaff Your submodule archive, do you do that manually? Is that something worth integrating into the build system?

[2019-11-28 12:33] slaff commented on #1983
Of course not :) See lines 21 to 29

https://github.com/SmingHub/Sming/blob/develop/.travis/deploy.sh#L21

[2019-11-28 13:30] mikee47 commented on #1983
Should we be looking at git subtrees instead, or other similar soluations https://codeburst.io/4-git-submodules-alternatives-you-should-know-592095859b0

I haven't used subtrees at all, but the article says "As opposed to submodules, subtrees’ sources files are stored in the repo. It’s not just a link, the code is really there."

I'm not clear ATM how this might affect patching; would it still req

[2019-11-28 20:56] aemseemann commented on #1983
With git subtrees you basically store everything "by value" in the main repository, i.e. it is very similar to having everything in a single repository (as is done for Sming releases).
The only difference is that git "remembers" additional remotes for certain subdirectories of your main repository to make fetching from them/pushing to them easier.
Think of it as an automated way of copying files b

[2019-11-30 13:27] mikee47 commented on #1134
The other thing the new toolchains offer is support for C++ exception handling. The Arduino framework offers this as an option, so we can do the same for those as wish to use it.

[2019-11-30 13:56] mikee47 opened #1988 "LWIP2 clone failing"
This is happening fairly frequently at the moment. Can we fork it to SmingHub?

[2019-11-30 15:31] mikee47 commented on #1988
It's also a dependency for ESP8266 lwip2, pulled in as a sub-submodule from https://github.com/d-a-v/esp82xx-nonos-linklayer.git

[2019-11-30 15:31] mikee47 commented on #1988
Though I've not had the same issues on my dev. machines. Not sure why it's happening in CI.

[2019-12-02 04:30] frankdownunder commented on #1684
With version 4 released, much of the "dust" has settled, so now would be a good time to revisit the cmake approach. However, I was recently diagnosed with MSA so I have to pull back from doing this.
I will try to contribute where I can.

[2019-12-03 06:45] #1970 closed

[2019-12-07 19:41] kmihaylov commented on #1971
@kwis2, may you provide example of the problem? I've prepared some simple skeleton to use.

https://github.com/kmihaylov/Sming_ArduinoJson6_DebugSkeleton

[2019-12-07 20:11] kmihaylov opened #1990 "String memory consumption?"
Hello,

I'm stuck with strange problem. My app has several classes, one for the mqtt client, one for some tasks.

When the app tries to send several messages at once I use:
[code]

Usually this works. Recently I had to create mqtt username and password that were not very short (21 chars). And surprisingly my mqtt client failed to connect.

Initially I tried to reduce the username and password leng

[2019-12-07 21:31] mikee47 commented on #1990
What version of Sming are you building against?

[2019-12-07 21:58] kmihaylov commented on #1990
d1a1efa4

[2019-12-07 22:09] mikee47 commented on #1990
OK, this line is suspicious:

[code]

You're taking a pointer to a temporary string which gets destroyed immediately. Do this instead:

[code]

Additionally, you can simplify your code using the Json helper functions:

[code]

[2019-12-07 22:13] kmihaylov commented on #1990
Excuse me for bothering you with complex code. I just prepared the example:

https://github.com/kmihaylov/Sming_String_Overflow

[2019-12-07 22:27] kmihaylov commented on #1990
Just updated the example. It is my fault, sorry! I'll look your notes now.
My test now calls function with String argument each millisecond and nothing happens to a global variable, so there is no reason for blaming String...

[2019-12-07 22:39] mikee47 commented on #1990
See also https://arduinojson.org/v6/api/json/deserializejson/, specifically:

*If the input is a char\*, ensure the input buffer stays in memory until the JsonDocument is destructed.*

Have a read of https://arduinojson.org/v6/doc/upgrade/.

[2019-12-07 22:40] kmihaylov commented on #1990
I did what you suggested and the device now works correctly. You're always of great help! In acknowledgement of your help I'll set a picture of my cat for my avatar.
Respect!

[2019-12-07 22:40] #1990 closed

[2019-12-08 18:46] kmihaylov opened #1991 "ModbusMaster in Sming"
Hello. During OpenFest I had quick conversation with @slaff about modbus that I used in Sming.

I was able to use ModbusMaster (https://github.com/nomis/ModbusMaster/tree/fixes-2.0.1) without any special modifications.

However during my research I also found that @mikee47 has his own implementation of modbus master (https://github.com/SmingHub/Sming/compare/develop...mikee47:feature/modbus)

What

[2019-12-09 10:37] cometurrata opened #1993 "ECDHE-RSA for lightweight TLS handshake"
Hello,
it seems that Sming could benefit from enabling ECDHE-RSA instead of DHE-RSA. (Faster and lighter TLS).

https://security.stackexchange.com/questions/14731/what-is-ecdhe-rsa

Unfortunately axtls does not provide support for ECDHE, but mbed-tls does !

Any particular reason for not using mbed-tls ?
Has it already been discussed ?
Any hint of what I should start with ?
Do you think it could b

[2019-12-09 10:41] mikee47 commented on #1991
I think it's down to what your application needs. Here are some specifics about my own RTU implementation:

* Fully asynchronous. Timeouts and response handling are handled via callback. No polling, loops, WDT issues.
* Minimal memory usage. Uses hardware serial buffer.
* Does not attempt to provide streaming support: modbus-RTU is a control protocol, not a streaming protocol.

I use this as part

[2019-12-09 11:06] slaff commented on #1993
We have already started discussing this in #1713. What we lack is an abstraction that would allow us to switch during linking type between the different SSL implementations.

@cometurrata if you want you can start with building that abstraction and adding axtls and mbed-tls implementations?

[2019-12-09 11:46] mikee47 commented on #1983
#1991 is a good case where the sample could be moved into a sub-directory of the `ModbusMaster` component, so we'd have this:

[code]

[2019-12-09 13:40] kmihaylov commented on #1991
I would like to see your ```IO Control``` as part of Sming. I guess it could be used for modbus slave also?

[2019-12-09 13:44] mikee47 commented on #1991
Doesn't have slave at present but definitely something to add. I'll get around to it eventually! Things have changed a lot since #1431.

[2019-12-09 13:46] mikee47 commented on #1991
I like this PR as it gives an easy introduction to modbus and can try stuff out, and port existing applications over more easily. Then we can have a more integrated approach if it's required. Lots of options, good.

[2019-12-09 15:16] mikee47 commented on #1983
Further to #1991 and, addressing the general case, including sample application(s) in the Component instead of in the Sming `samples` directory would work just fine, just a few things to note:

1. The sample(s) wouldn't get get built via CI. We need to build the samples ourselves anyway for testing before accepting a PR. However, if something changes in the framework or in a dependent Component wh

[2019-12-10 14:15] mikee47 opened #1994 "Custom heap broken"
Code built with ENABLE_CUSTOM_HEAP=1 doesn't run.

See https://github.com/SmingHub/Sming/pull/1825#issuecomment-563994482.

e.g. `Basic_Blink` sample:

`make flash ENABLE_CUSTOM_HEAP=1 COM_SPEED=74880`

builds and flashes, stops here:

[code]

This was supposed to have been fixed in #1745, but that commit doesn't work either.

[2019-12-10 17:21] teicors opened #1995 "Cannot compile"
Hi,
after a git pull I cannot compile anymore.
I did aa make dist-clean, but with no luck.
My make list-config:

[code]

and here's the error

[code]

[2019-12-10 17:51] mikee47 commented on #1995
For some reason, SDK_BASE isn't set:
[code]
Try `export SDK_BASE='$(SMING_HOME)'`.

[2019-12-10 18:15] teicors commented on #1995
A mistery...
I fixed issuing a

`make SDK_BASE='$(SMING_HOME)'`

and after I did again a make dist-clean and the SDK_BASE was set !

but I found another problem

[code]

[2019-12-10 18:27] mikee47 commented on #1995
Does `make config-clean` help?

[2019-12-10 18:31] mikee47 commented on #1995
Note: `make dist-clean` won't touch ypur project config, that only affects Sming framework and samples.

[2019-12-10 18:40] mikee47 commented on #1995
Oh, and `make clean` for your project.

[2019-12-10 19:09] teicors commented on #1995
No and I don't understand were the problem lies. Just as a check I compiled Basic_Blink and two my other projects, so the first issue is solved. Now I must find  where the dirty chars in the code.

[2019-12-10 20:09] teicors commented on #1995
is correct the file /opt/sming/Sming/Components/rboot/appcode/rboot-overrides.c.d ,
I found
[code]

because the error belongs to the compiling of the file /opt/sming/Sming/Components/rboot/appcode/rboot-overrides.o

[2019-12-10 20:49] teicors commented on #1995
Hi, I solved.
I'm not sure, but I think that you changed something in the logic of the file component.mk: until this morning I compiled with my libs put in different lines, now all libs in one line.

[2019-12-10 20:59] mikee47 commented on #1995
Would you post the old and new files/lines so I can try and reproduce the problem?

[2019-12-10 22:57] mikee47 commented on #1994
Found the issue, `umm_info` is getting called before UMM has been initialised (on first call to malloc). This is the fix:

[code]

[2019-12-11 07:19] teicors commented on #1995
Hi,
I've found two problems in my config:

1. the file /opt/sming/Sming/Components/rboot/appcode/rboot-overrides.c.d dated 22 Oct:
inside this file I found few references to nonexistent files:

[code]

Now the file don't contains the dirty lines, but I don't know if is related at my editing or not.

2. different managing of lines component.mk:
As I told before, until yesterday I had my libs in the

[2019-12-11 08:02] kmihaylov opened #1997 "$(AWK) is undefined"
Good morning,

This shouldn't be a thing since Sming compiles successfully despite the error, but when I do ```make dist-clean``` I'm getting this warning:
[code]

Setting a variable ```export AWK=/usr/bin/awk``` solves the problem.

[2019-12-11 08:04] slaff commented on #1995
The '.d' files should be removed before compiling with newer version. This can be done by running:
[code]

Most probably you had an old dep file and that's why the compilation did not work as expected.

[2019-12-11 08:07] slaff commented on #1997
@kmihaylov Did you pull the latest `develop` version? That should have been fixed.

[2019-12-11 08:08] mikee47 commented on #1997
Try a git pull, this is fixed in latest commit 3a99771e

[2019-12-11 08:13] mikee47 commented on #1995
1. That file `/opt/sming/Sming/Components/rboot/appcode/rboot-overrides.c.d` shouldn't be there! Please delete it. All `.d` files are compiler-generated and should not be in the source tree - please run `git status` from your Sming directory to check there aren't any other odd files around.

2. As written above `CronLibrary` would overwrite `Default`. This will work:
[code]
or
[code]

Does this ma

[2019-12-11 08:22] teicors commented on #1995
I did both make dist-clean and clean, but the file .d is still there.
`-rw-r--r-- 1 angelo angelo 3732 dic 10 21:18 rboot-overrides.c.d`

 and git status show the following lines

[code]

I know the story about "Sming/component.mk_old" and "Sming/Components/rboot/appcode/rboot-overrides.c.d_ko", but the other lines can be saftley removed (git checkout)?

[2019-12-11 08:31] mikee47 commented on #1995
Yes, please remove them. The new build system will only write to the `out` directory, there should be nothing added to source directories.

[2019-12-11 08:32] teicors commented on #1995
Regarding 2. For me still a mystery: it's important to fix the issue and knowing how solve it.
You're right showing me the correct definition, but I can assure you that until yesterday I used a different (and may be wrong) configuration. And it worked!
And once again lesson learned ...

[2019-12-11 08:36] kmihaylov commented on #1997
Thanks! The warning is gone.

[2019-12-11 08:36] #1997 closed

[2019-12-11 08:41] teicors commented on #1995
git status shows
`Sming/Arch/Esp8266/Components/pwm_open/`

Should I erase it or not ?

[2019-12-11 08:55] mikee47 commented on #1995
Yes, it's moved into Components/drivers .

[2019-12-11 09:42] #1994 closed

[2019-12-11 10:14] mikee47 commented on #1983
#1992 has been an interesting process as we've gone through the creation of a new Component in some detail, thrown up some potential issues and also one interesting and probably simple solution to the 'package management' issue.

Firstly, let's consider that we have an existing Component/Library which we want to move out to an external repository. Here's an outline of the steps required, but so fa

[2019-12-11 11:02] slaff commented on #1983
@mikee47 We can "hack-or-borrow" the existing PHP package manager called `composer` or at least use some ideas from it as a base. We can use the JSON schema, the central package repository and the algorithm(s) to calculate the dependencies. And the only thing that is left is to write our own `cli` to replace the original PHP composer that is doing a lot of things that won't be needed for us.

In `

[2019-12-11 14:33] mikee47 commented on #1994
There's a call to `xPortGetFreeHeapSize()` very early in the boot (in `call_user_start()`) located in libmain.a, part of the Espressif SDK. I've checked against SDK version 2.0.0 (which is part of the UDK and I would have been using at #1745) and this issue is not present.

[2019-12-11 15:44] kmihaylov commented on #1983
@slaff, how would Sming's package manager verify if the selected module is compatible with the current version? For example there were a lot of changes to Sming 4 and obviously the modules would not compile without modifications (that would be left to the package maintainer?).

[2019-12-11 15:52] mikee47 commented on #1983
Worth a read https://github.com/LoopPerfect/buckaroo/wiki/Git-as-a-Package-Registry.

No-one's mentioned Buckaroo yet... https://hackernoon.com/approaches-to-c-dependency-management-or-why-we-built-buckaroo-26049d4646e7

[2019-12-11 17:09] mikee47 commented on #1983
It feels like we're heading in the right direction then.
I've done some work with Drupal in the past - not just for my (empty) website - which uses composer so it's not an unknown.

@slaff Your suggestion of hack/borrow-ing parts of composer is interesting, but what if we could handle all the dependency stuff in a web application? If that were hosted on a public website we could:

* Browse compati

[2019-12-11 17:13] mikee47 commented on #1983
re. "Git as a package repository", if I browse to, say, `https://github.com/mikee47/FlashString/releases` and copy the link for the version 2.0.0 hash, this is what I get:

[code]

In a nutshell this is all the information needed to incoporate the Component into a Sming project.

Why does it need to be any more complicated than that?

[2019-12-11 17:28] mikee47 commented on #1983
I was wondering why `buckaroo` was so-named, it's because it uses Facebook's [Buck](https://buck.build/) system. That brings us back to CMake #1684, since my initial thought is that we wouldn't want yet another build system for Sming. So, then, might Buckaroo with Buck fullfil both requirements? Or are they different?

[2019-12-13 09:16] mikee47 opened #2000 "cls"
You may encounter this when (re)compiling under Windows. One cause is case-sensitivity in pathnames, specifically the setting for SMING_HOME.

For example, on my dev. system:
[code]

fails with a bunch of errors such as `s:/sandboxes/sming-ssl/Sming/Arch/Esp8266/Components/esp8266/ESP8266_NONOS_SDK/include/mem.h:42:7: error: conflicting declaration of C function 'void* pvPortMalloc(size_t, const c

[2019-12-13 09:45] slaff commented on #1991
Go @mikee47 Go! If the IO Control Library makes it into this release then I already have a code name for the release :)

[2019-12-13 17:17] mikee47 opened #2001 "Sming `No Wifi` build option"
I recently came across https://basicengine.org/.

It's an extraordinary project, but of interest here is its use of the ESP8266 without WiFi stack to release a ton of RAM. It uses `https://github.com/pvvx/SDKnoWiFi.git` to achieve this. There's also an [Arduino Port](https://github.com/uli/Arduino_nowifi.git).

I think it'd be rather handy to have this as a build option for Sming, but of course it

[2019-12-13 17:35] mikee47 commented on #1980
Closed via #1987

[2019-12-13 17:35] #1980 closed

[2019-12-13 17:56] mikee47 commented on #1973
IMHO exception handling is more useful in threaded environments because the constructor/destructor code is often all in the same place. It's a good way to handle complexity in some situations. But not all. It can be costly in terms of RAM and performance because of the hidden setup/teardown code.

One situation where exception handling can be useful is in support of third-party libraries which exp

[2019-12-14 12:33] slaff commented on #2001
So I guess you are not looking for the solution in NoWifiSDK: https://github.com/pvvx/SDKnoWiFi/blob/master/Makefile#L91-L100?

One thing that comes to my mind is that when the name and the signature of a function are known then you can do the following:
- describe all functions that need to be replaced with their unique name and function signature (params + return value). Put them in a yaml file

[2019-12-14 18:28] mikee47 commented on #2001
Made a start on this, https://github.com/mikee47/Sming/tree/feature/no-wifi.

@slaff I haven't tried weakening functions, may give that a go if this doesn't pan out.

[2019-12-15 07:55] slaff commented on #2001
GCC does that for you. For example rBoot is weakening Cache_Read_Enable_New in libmain:

[code]

[2019-12-15 07:57] mikee47 commented on #2001
Done some further work on this and weakening helps in some situations so looks like a combination approach is working best. I'll open a PR shortly with progress as it's working for multiple samples now, including debugger :-)

[2019-12-15 08:08] mikee47 commented on #2001
Getting the low-level functions into code is probably useful anyway general considering that the [Non-OS SDK](https://github.com/espressif/ESP8266_NONOS_SDK/README.md) is now considered 'end of life'. I'm also continuing to migrate towards the RTOS headers. Arduino has imported all the SDK header files and only uses the pre-built libraries from the various SDK versions. This is a sensible move and

[2019-12-15 09:29] slaff opened #2002 "Build system issues with libraries depending on other libraries"
A sample project has dependency on library `vl53l1x-st-api-arduino`. Its component.mk file has the following line
[code]

In addition library `vl53l1x-st-api-arduino`  depends on library `Proximity_Gesture`. Its component.mk file has

[code]

Running make in the sample directory should have resolved the dependencies and the include folders correctly. Instead I have to run `make` multiple times to

[2019-12-15 09:59] mikee47 commented on #2002
You need to use [whole-file patching](https://sming.readthedocs.io/en/latest/_inc/Sming/building.html#git-submodules) so the build system can resolve all dependencies before fetching submodules. (This is something I intend to improve with #1983.)

In this case, create sub-directories `Sming/Libraries/.patches/Proximity_Gesture/` and `Sming/Libraries/.patches/vl53l1x-st-api-arduino/` and put the `c

[2019-12-15 10:11] mikee47 opened #2003 "Write guide to building a Component"
I'll get this added to the documentation shortly, but in the meantime here is a list of some relevant issues and comments which I'll use for it:

https://github.com/SmingHub/Sming/pull/1992#issuecomment-564677869
https://github.com/SmingHub/Sming/pull/1724#issuecomment-504473709
#2002

[2019-12-15 10:23] slaff commented on #2002
Thanks, that made it work.

This would be great :+1:

[2019-12-15 10:24] #2002 closed

[2019-12-15 11:01] mikee47 commented on #2002
The main reason your libraries need a `component.mk` file at all is because of the dependency of `Proximity_Gesture` on `VL53L0X`. I've had a re-read of the [Arduino Library Specification](https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification) and there is a `depends` field, but that's missing from `Proximity_Gesture`.

As an aside, the specification also says that `src` i

[2019-12-15 18:24] teicors opened #2005 "Strict-aliasing error during compiling"
Hi,
I'm trying to compile old libs from Adafruit. I remember in the previous version of sming (I don't remember winch version) I can compile and use them. But now when i try to compile I catch the error

[code]

[2019-12-15 20:48] mikee47 commented on #2005
The line reads as if it's attempting a 32-bit read on a 16-bit value. Highly suspicious:

[code]

Can you direct me to the source for this library and I'll have a closer look?

[2019-12-16 13:43] teicors commented on #2005
I sent an email to you.

[2019-12-16 18:08] mikee47 commented on #2005
Got the email, but no definition for `chrtbl_f16`. However, I found `https://github.com/MasterSch/Adafruit_GFX_AS/Font16.h` which has it defined as:

[code]

So the compiler is warning you about the conversion from a `const unsigned char**` to a `const unsigned long *`. The macro itself hasn't changed since it was added to the framework, so it's just the warning being thrown up.

In this particula

[2019-12-19 00:37] mikee47 commented on #2000
So far, no luck in finding a solution to this one. Any suggestions?

[2019-12-21 04:17] kpishere commented on #1366
@slaf I see there is activity in making generic SSL library.  Paving the way for bearssl?  I really want 16k blocks for my project in esp8266 ... was there any success with using bearssl directly with rest of Sming framework?

[2019-12-31 15:02] #1076 closed

[2019-12-31 15:11] slaff commented on #1366
@icodk @kpishere Take a look at the latest state of PR #1999. With the latest changes it is possible to use `Axtls` and `Bearssl` for client and server side. You can compile Basic_Ssl and HttpServer_ConfigNetwork samples with ENABLE_SSL=BearSSL.

[2020-01-02 12:49] slaff commented on #1993
@cometurrata PR #1999 will be merged soon. Once that is done you can add the new SSL adapter based on mbed-tls.

[2020-01-02 13:06] #1937 closed

[2020-01-02 13:09] #932 closed

[2020-01-02 13:11] slaff commented on #1027
Should be fixed in commit  https://github.com/SmingHub/Sming/commit/b2e0911e9d7ae5dfe5ea8ca5361f3382603226a4

[2020-01-02 13:14] slaff commented on #1134
See #1825.

[2020-01-02 13:14] #1134 closed

[2020-01-03 09:25] slaff commented on #1993
@cometurrata the SSL adapters are now [merged](https://github.com/SmingHub/Sming/commit/41d03e8747b37e93f3f7d9e8068e3788bc2ee3ee)  in the `develop` branch. Bearssl supports ECDHE https://bearssl.org/support.html

[2020-01-05 14:25] mikee47 opened #2015 "String conversion functions / methods"
There are numerous places within the framework where we have functions and methods to convert typed values into strings. A few examples:

* `NanoTime::Frequency::toString()` and other classes
* `IpAddress::toString()`
* `MacAddress::toString()`
* `Ssl::getCipherSuitName(CipherSuite id)`

It appears this is not the most appropriate way to do this:

http://isocpp.github.io/CppCoreGuidelines/CppCoreG

[2020-01-05 14:26] mikee47 commented on #2015
Forgot to mention, cruicially this would work uniformly with any type of data, including enums which cannot of course have methods.

[2020-01-05 18:12] teicors commented on #2005
I did some deep search in my hard disks and I found the very old version of SmingRTOS was able to compile and running the code. I can play also with SmingRTOS, but to manage a single framework :)

[2020-01-06 05:38] kpishere opened #2016 "Valgrind invalid Read error on TcpConnection"
I see the following Valgrind error on the sample HttpServer_Bootstrap (and in my own program but the sample code result is here).

Note that I'd made the error disappear by commenting out this delete statement. But, further down, is the leak report -- there are leaks with this change.

Is this a problem or not?  To me, it looks like reading the pointer tcp is causing the error.  Is this an error t

[2020-01-06 10:13] slaff commented on #2016
Fixed in #2017.

[2020-01-06 10:13] #2016 closed

[2020-01-06 10:15] #1993 closed

[2020-01-07 12:44] kpishere opened #2018 "valgrind warning on uninitialized bytes for SPIFFS in HttpServer_Bootstrap"
It looks like there may be a paging mis-calculation here.  Understanding that SPI flash must be written in full blocks, on writing or clearing flash before write, it appears that the padding to a full block is off.

It leaves data vulnerable to corruption if coupled with another file/stream error?

Error is :

root@debian:/opt/Sming/samples/HttpServer_Bootstrap# bash /home/kpeck/vfdCalendar/memory

[2020-01-07 13:33] slaff commented on #2018
@kpishere Did you create a flash image before running the sample?
[code]

[2020-01-08 18:48] kpishere commented on #2018
Did make a flash file, it shows loading in the log above.  However, didn't realize you had make valgrind scripted ... I'll use that going forward.  Amazing framework by the way!

[2020-01-09 03:52] kpishere commented on #2018
Ah, without the network up, there is that error.  By having tap0 interface up, no error.  OK ticket can be closed.

root@debian:/opt/Sming/samples/HttpServer_Bootstrap# /opt/Sming/Sming/Arch/Host/Tools/setup-network-linux.sh enp0s3
ioctl(TUNSETIFF): Device or resource busy
RTNETLINK answers: File exists
net.ipv4.ip_forward = 1
net.ipv6.conf.default.forwarding = 1
net.ipv6.conf.all.forwarding = 1

[2020-01-09 03:52] #2018 closed

[2020-01-09 07:55] slaff commented on #2018
Glad to hear that :) Make sure to star the project  and/or recommend us to your IoT friends :)

[2020-01-10 13:56] slaff commented on #2018
Run `make help` in a sample or in the library to see the list of available high-level tasts.

[2020-01-10 22:27] aemseemann commented on #2015
I like the idea, in particular because the standard library is also moving into that direction with `std::size(...)` and friends. It also resembles the common pattern of having overloads of `operator<<(std::ostream& s, ...)` for all types that may need a textual representation.

Before this is rolled out to the entire code base, an aspect to consider is which return type to allow for `toString`. A

[2020-01-10 22:56] aemseemann commented on #1983
In [PR2006 (Comment)](https://github.com/SmingHub/Sming/pull/2006#discussion_r362875987), the question was brought up why there is a distinction between Components and Libraries. Quoting from that comment, the main issue is confusing variable/file names:
- We have to use ARDUINO_LIBRARIES also for libraries that have nothing to do with the Arduino ecosystem
- Both libraries and Components use a co

[2020-01-12 05:53] frankdownunder opened #2020 "cannot set date"
In the excerpt below is the warning "cannot set date" of concern?
. . . .
Signature ok
subject=O = Sming Project, CN = 127.0.0.1
Getting CA Private Key
**date: cannot set date: Operation not permitted**
Wed 01 Jan 2025 12:00:00 AM AEDT
Signature ok
subject=O = Sming Project, CN = 127.0.0.1
Getting CA Private Key
rm: cannot remove 'srl': No such file or directory
wiringCenter: Linking out/Host/debu

[2020-01-13 11:18] slaff commented on #1983
In IMHO the way forward is
- Have components only. Deprecate ARDUINO_LIBRARIES and add backwards compatibility. And phase out `ARDUINO_LIBRARIES` somewhere around Sming version 4.5.0 or 5.0.0.
- Providing "slim" core and moving some features to components is a step forward. The next step would be to be able to download only the slim core and fetch the optional core or non-core components on demand

[2020-01-13 15:00] slaff commented on #2020
Which sample, which OS? @frankdownunder Please provide more information.

[2020-01-13 15:04] mikee47 commented on #2020
I believe the message is from `make-certs.sh`, line 139:

[code]

[2020-01-13 15:26] mikee47 commented on #2015
IMHO best to standardise on WString for consistency, and as you mention method chaining (although I'm not a real fan of that idiom). In actual use it'll most likely end up in a WString expression anyway. Whilst `const char*` is convenient for use in printf expressions I'm trying to move away from using it (except in debug_x calls) in favour of Print methods as it's more robust.

It should also be

[2020-01-13 17:14] mikee47 commented on #2015
Should probably also rename `makeHexString` -> `toHexString` for consistency.

[2020-01-13 21:44] frankdownunder commented on #2020
This was my own project, with Ubuntu.  Im not using ssl anyway,so doesnt worry me.
It doesnt happen the second time !
When I type date I get
xxxx@ubu:~/protr$ date
Tue 14 Jan 2020 08:41:47 AM AEDT
Note the order day month !

Should I have run with sudo ? How to make it happen again I wonder?

[2020-01-13 21:52] mikee47 commented on #2020
The `make-certs.sh` script is invoked only when ENABLE_SSL is set. You can make it happen again by deleting or renaming the `include\ssl` directory in the project.

[2020-01-13 21:58] mikee47 commented on #2020
NB. In current develop branch you can find `make-cert.sh` in `Sming/Components/ssl/Tools`  - previously `Components/axtls-8266/axtls-9266/tools` but behaviour hasn't changed. I think the file is only really for demonstration/testing purposes, in practice the certificates would be generated more carefully then copied into a project. The message in question appears to relate to creation of a 'bad' c

[2020-01-13 21:59] mikee47 commented on #2020
Short version: You can safely ignore the error.

[2020-01-13 23:10] mikee47 commented on #1983
From #1431:

Fast forward 18 months and we have made some progress. If you run `make list-components` the first entry looks like this:

[code]

This is in priority order, so core components in the first two locations will always be picked up ahead of anything else.

The point I'd like to make here is that whilst all of these may be `Component` objects (if you will), they are in different __categor

[2020-01-14 12:32] slaff commented on #2020
If there will be prompt I would like to have also non-interactive mode. Don't want to break automated testing.

[2020-01-14 19:20] icodk opened #2021 "basic_Blink compilation error"
Fresh installation on Windows 10
Followed instructions on :
https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/windows-manual.html

Running `make -j ` results:
[code]
The project.mk file is in C:\tools\sming\Sming\Sming
However if I change the
include $(SMING_HOME)/project.mk
to
include $(SMING_HOME)/Sming/project.mk
I still get (other) errors
Also in section 1 the istruction is`

[2020-01-14 20:27] mikee47 commented on #2021
This should work:

[code]

[2020-01-14 20:29] mikee47 commented on #2021
I see your point. Instructions need correcting. Wipe it and try this:

[code]

[2020-01-14 21:27] aemseemann commented on #1983
:+1:
This would also allow architecture-specific libraries.
Maybe some more categories could be introduced, e.g. `net/{mqtt,ftp,...}`, `hw/{Adafruit_Neopixel, ...}`, `gui/ITEADLIB_Arduino_Nextion`, ...

[2020-01-14 22:02] HanSolo72 opened #2023 "Make error on Blink sample on Windows 10"
Hi,

I tried my first steps with Sming with the Blink sample, but I can't build it. Here is the content of my cmd windows. I use Windows 10 1909 x64.

In file included from c:\espressif\xtensa-lx106-elf\xtensa-lx106-elf\include\c++\5.2.0\random:42:0,
                 from c:\espressif\xtensa-lx106-elf\xtensa-lx106-elf\include\c++\5.2.0\bits\stl_algo.h:66,
                 from c:\espressif\xtensa-

[2020-01-14 22:12] icodk commented on #2021
@mikee47 Thanks it works

[2020-01-14 22:19] icodk commented on #2021
Almost
last 4 lines of the compilation:
[code]

[2020-01-14 22:50] mikee47 commented on #2021
Do you have python installed? https://www.python.org/downloads/

[2020-01-14 22:58] icodk commented on #2021
No. Can't find it mentioned in the Windows manual installation.
Which version Should I install?

[2020-01-14 22:59] mikee47 commented on #2021
Current version.

[2020-01-15 08:43] kwis2 commented on #2021
@icodk  Windows install on fresh system is often problem, and often with new version there are new problems.
The most important with Sming it is folder name. It should be `/tools/sming/Sming` and every automatic or manual method install to /tools/Sming/Sming. It was written "you could change dir" but in windows it not work. I mean System should be in `c:/tools/sming/Sming/System`, not `c:/tools/sm

[2020-01-15 09:16] icodk commented on #2021
@kwis2 Thanks for your write up.
Following @mikee47 instructions  seems to work. Needs only to update the docs and to include python installation (if not already installed)

[2020-01-15 15:11] etmmahi opened #2025 "RBOOT_TWO_ROMS calculation wrong"
In the file Sming/Components/rboot/component.mk the awk calculation for RBOOT_TWO_ROMS is wrong.
The % should be an / (division)

[code]

The issue can be seen in the Basic_rBoot example

Martijn

[2020-01-15 15:22] etmmahi opened #2026 "DISABLE_SPIFFS flag not working"
When in the example Basic_rBoot in the component.mk

[code]

the DISABLE_SPIFFS is set, this is not reflected in the compiler flags during a build.

[code]

pse add something like:
-DDISABLE_SPIFFS=$(DISABLE_SPIFFS)
to the compiler flags

Martijn

[2020-01-15 15:28] mikee47 commented on #2026
https://sming.readthedocs.io/en/latest/_inc/Sming/Components/spiffs/index.html

[2020-01-15 15:37] etmmahi commented on #2026
This is a snippet from the rboot sample. It can expect DISABLE_SPIFFS to be set

[code]
But the flag is not given to the GCC compiler.

Furthermore the 'readthedocs' says

 DISABLE_SPIFFS

    0
        Disable filesystem generation
    1 (default)
        Enable filesystem generation

Where setting  DISABLE_SPIFFS=1 means **enable** ?? A bit confusing.

Martijn

[2020-01-15 15:41] mikee47 commented on #2026
Ah, yes the docs are wrong. The point is is only determines if a filesystem image is generated for upload to the device. It doesn't disable SPIFFS. (Yes, I agree the name is confusing - historical.)

[2020-01-15 15:45] etmmahi commented on #2026
The basic_rboot sample expects the flag to be set or not (conditional code with #ifdef / #endif)
Can you add an automatic -DDISABLE_SPIFFS=$(DISABLE_SPIFFS) to the compiler flags when it is set?
The the basic-rboot sample is correct

[2020-01-15 15:56] mikee47 commented on #2026
Yes, that would be logical. I did that for `Basic_WebSkeletonApp`, can't think why I didn't apply it universallly.

[2020-01-15 18:01] #2026 closed

[2020-01-15 22:25] aemseemann commented on #2025
Two ROMs have to be linked if the offset within their 1MB flash region differs for `RBOOT_ROM0_ADDR` and `RBOOT_ROM1_ADDR`. These offset is calculated as the remainder of dividing by 1MB=1024*1024. Hence, I think '%' is correct here.

[2020-01-15 22:36] aemseemann commented on #2023
Seems the compiler (g++) crashed. That should not happen under any circumstances, no matter how  faulty the source file may be.
Are you sure the compiler is installed correctly? Does it work for other projects?
Can you try reinstalling it and try a clean build afterwards?

[2020-01-15 23:01] HanSolo72 commented on #2023
I installed everything described here:
https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/windows.html

I just reinstalled choco  with this command from a administrative cmd window.
@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" && SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin

[2020-01-16 06:21] kpishere opened #2028 "Offering a new sample for OAuth 2.0 process with Microsoft Outlook in cloud"
@slaff and @mikee47

As mentioned previously, here is a sample application that I'm offering to add to the project.

It uses an ESP8266 with an old VFD 20-character display to display the next Outlook meeting you're to be at.  I put it at my work desk as popups on display are just not good enough (especially in MS Windows!).

Lots of hurdles to go through these days in world of OAuth and SSL/TLS a

[2020-01-16 08:59] mikee47 commented on #2023
What's the output of your `PATH` variable? (`echo %PATH%`)

[2020-01-16 09:03] etmmahi commented on #2025
You are right, I misinterpreted the TWO_ROMS define.

Martijn

[2020-01-16 09:03] #2025 closed

[2020-01-16 17:11] icodk commented on #2021
Now it is not working again
I run
`c:\Temp\Basic_Blink>make -j`
The first line from the compilation
`Basic_Blink: Invoking 'all' for esp8266 (debug) architecture`

Here is the error ( after many output lines)
[code]

[2020-01-16 17:53] teicors commented on #2005
I can compile and the apps is running with sming 3.8.1

[2020-01-17 12:26] kwis2 commented on #2021
@icodk I don't know your dir configuration, but there is a lot of references to `/tools/sming/Sming` in Sming and some time ago I gave up and decided to install Sming in dir `/tools/sming/Sming` (windows of course)
Btw. there is a lot of configurations to set and I found that running Basic_Blink it is not enough to be sure that Sming works. You'll be able to say Sming works when you run the Basic_

[2020-01-17 12:37] icodk commented on #2021
@kwis2

So you run the git pull in this directory to 'install' sming ?
`c:\ tools\sming\Sming>git clone https://github.com/SmingHub/Sming`
or
`c:\ tools\sming>git clone https://github.com/SmingHub/Sming`

Thanks

[2020-01-17 14:18] mikee47 commented on #2021
@icodk See #2000, may be related to your issues

Specifically, your working directory looks like `c:\Temp\Basic_Blink` (lower-case drive letter 'c', as indicated by the `c:\Temp\Basic_Blink>` prompt) but SMING_HOME is `C:\tools\sming\Sming` (upper-case 'C').

To fix this:

[code]

Then rebuild.

[2020-01-17 16:13] kwis2 commented on #2021
in my case it is `c:\ tools>git clone git clone https://github.com/SmingHub/Sming sming` where last `sming` it is dir name
and then check your windows PATH  if SMING_HOME and ESP_HOME are proper set

[2020-01-17 21:54] HanSolo72 commented on #2023
My %PATH% variable:
C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\Sophos\Sophos SSL VPN Client\bin;C:\Program Files\Eclipse Foundation\4.4.2\eclipse;C:\Program Files\Git\cmd;C:\Program Files\Microsoft SQL Server\110\Tools\Binn\;C:\Program Files\PuTTY\;C:\ProgramData\chocolatey\bin;C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin;C:\Python38\;C:\Python

[2020-01-18 09:04] mikee47 commented on #2023
Firstly, the error is occuring with the Espressif compiler - not MinGW - so it's definitely worth re-installing that. The easiest way is to remove or rename the `C:\Espressif` directory then follow the instructions at https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/windows-manual.html#install-esp8266-toolchain.

Secondly, your path contains references to two different MinGW ins

[2020-01-18 11:17] icodk commented on #2023
@mikee47 May be to add the "Manual Windows Installation" chapter header to the menu in the documentation?
IMHO This is an  important chapter and should be accessible directly from the menu.

[2020-01-18 14:28] HanSolo72 commented on #2023
Ok, I renamed Espressif and MingGW and installed it manually like described. I deleted Choco

[2020-01-18 14:34] HanSolo72 commented on #2023
Ok, I renamed Espressif and MingGW and installed it manually like described. I also deleted Choco.

Now this is my Path:
[code]

[code]

And this happens when I build Basic_Blink:
[code]

[2020-01-18 16:40] mikee47 commented on #2023
You've updated over the top of a previous version of Sming; delete this directory:

[code]

See https://sming.readthedocs.io/en/latest/_inc/Sming/building.html#known-issues.
You can check for this using `git status`, or probably simpler is delete `C:\tools\sming` and pull it in again.

[2020-01-18 17:25] HanSolo72 commented on #2023
Thank you very much, now it works!

[2020-01-18 17:25] #2023 closed

[2020-01-18 17:27] mikee47 commented on #2023
Most welcome. I'll try to improve the documentation so it covers these sorts of issues. Thanks for using Sming!

[2020-01-18 23:30] HanSolo72 commented on #2000
Today, I was able to build the Blink sample one or two times, but now I get the following error:

[code]

But it seems that my SMING_HOME variable has the correct case.
[code]

[2020-01-18 23:46] mikee47 commented on #2000
Try `make config-clean` then rebuild.

[2020-01-19 00:17] HanSolo72 opened #2029 "Sming crash after flash"
After flashing Basic_Blink and also Basic_SmartConfig, I get the following on my serial monitor. I flashed with theses settings:
make SMING_ARCH=Esp8266 SPI_MODE=dio SPI_SIZE=4M COM_SPEED_ESPTOOL=74880
make flash

[code]

[2020-01-19 07:03] #2020 closed

[2020-01-19 07:42] mikee47 commented on #2029
Offending error is `rf_cal[0] !=0x05,is 0xFF`. You need to run `make flashinit` to write the device configuration, then re-flash. (Something else which I think is missing from the docs. Sorry.)

[2020-01-19 07:43] mikee47 commented on #2029
https://sming.readthedocs.io/en/latest/troubleshooting/random-restart.html

[2020-01-19 14:32] HanSolo72 commented on #2029
Thank you, now it works.

[2020-01-19 14:32] #2029 closed

[2020-01-19 17:09] mikee47 commented on #2021
You may also need a `make config-clean` to wipe the incorrect cached values.

[2020-01-23 14:29] mikee47 commented on #2028
@kpishere Thank you for this. It's an interesting sample, and as you mention in the README does raise some issues with the framework (memory, mDNS).

I've got the sample running under the Host emulator (so we can forget about the memory issues for now) but still need to familiarise myself with setting up OAuth2 for outlook.

Note: mDNS is available under LWIP2, just needs a coule of tweaks to pull

[2020-01-23 19:01] mikee47 commented on #2028
@kpishere I've pushed some commits to your repo. as a review, hopefully helpful.

[2020-01-29 16:13] #982 closed

[2020-01-29 16:15] #1120 closed

[2020-01-30 16:12] slaff commented on #1219
@MayaPosch  With the latest `develop` version we have support for both axTLS and BearSSL. You can read more from here: https://sming.readthedocs.io/en/latest/_inc/Sming/Components/ssl/index.html. If the problem is still there feel free to reopen the issue.

[2020-01-30 16:12] #1219 closed

[2020-01-30 19:51] HanSolo72 opened #2036 "How to start my Project and problem with compiling Basic_WebSkeletonApp"
After I set up the Sming environment and I'm able to build some of the samples, I need some help from experienced developers for my first NodeMCU project.

In my house I have a bunch of windows and doors with reed contacts that I want to monitor (MQTT to ioBroker). I will also connect some temperature sensors (D18B20). My project should include:

- Wifi Config
- PIN expander (MCP23017)
- NTP
- MQT

[2020-01-30 20:55] mikee47 commented on #2036
The problem is due to #2013, you need to update line 26 in `webserver.cpp` from `IMPORT_FSTR` to `IMPORT_FSTR_LOCAL`. I'll raise a PR to fix this.

The sample will build if you `make DISABLE_SPIFFS=0` which is the default.

[2020-01-31 14:23] mikee47 commented on #2036
Something else to note is that the above will compile without issue if you use the [latest toolchain](https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/eqt.html).

[2020-02-01 14:58] #1027 closed

[2020-02-02 02:49] kpishere commented on #2028
@mikee47 OAuth in a nutshell :

But first, no it does not have to be exposed to internet.

You have the resource (Outlook in this case), the browser, the authority,  then the client device.  At the authority, you define the resource, set a secret and client id, and set local callback urls for login. Callback url can be http://localhost.., but all others are https. The tennant id identifies the aut

[2020-02-02 21:07] fooker opened #2040 "NTPClient accepts malformed responses"
It looks like `NTPClient` is accepting malformed packages. Sometimes we receive NTP responses which are interpreted as `2036-02-07T06:28:16Z` (which is the uint32 NTP rollover date).

It looks like the the received packet contains a all-zero timestamp which is processed as a valid packet. I've tried to capture these invalid packets on the used gateway but failed to do so - therefore I'm not sure i

[2020-02-02 22:46] mikee47 commented on #2040
This comments suggests that zero timestamps are a legitimate response https://github.com/gmag11/NtpClient/issues/70#issuecomment-433627227.

[2020-02-02 23:23] fooker commented on #2040
@mikee47 I think so, too. I will come up with a PR after some testing.

[2020-02-02 23:37] fooker commented on #2040
@mikee47 I think so, too. I will come up with a PR after some testing.

[2020-02-04 08:42] #2040 closed

[2020-02-04 09:17] slaff commented on #1660
@kmihaylov Can you fetch the latest `develop` version and check if you still have problems with spiffs?

[2020-02-04 10:14] fooker opened #2042 "Allow to specify maximum ROM size"
The new mechanism to generate linker scripts does not allow to specify a maximum ROM size.

I used to limit the `irom0_0_seg` length to `(1M / 2 - 0x2010)` which allows to ensure that the first rom will now overwrite the second one. For me, both ROMs should have the same `0x2010` offset from the base addresses (0x00000 for ROM 0 and 0x80000 for ROM 1). The remaining space between the two ROMs is u

[2020-02-05 14:25] fooker commented on #2042
See #2044 for a possible solution.

[2020-02-06 17:53] #1941 closed

[2020-02-06 17:55] slaff opened #2046 "Preparation for Release 4.1.1"
This issue is created to collect all the tasks we need to do before the 4.1.1 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h. #2067
- [x] Update Readme.md. #2067
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.

New features
------------------
- Added Modbusino - simple modbus rtu library. #2043
- Added make target `python-requirements` to install

[2020-02-06 17:56] #1940 closed

[2020-02-06 21:13] kwis2 opened #2047 "More windows make bugs Sming v 4.1"
Sming 4.1, Windows 10, fresh Sming instalation.
While make v 4.0 Sming working program there is problem with axtls-8266 component

`make V1`

[2020-02-07 09:01] slaff commented on #2047
The CI system hasn't detected such a problem. Excerpt from the appveyor log.
[code]

`6c3e87b307ffb67e670909a3c5ac613032eed0ba` is the commit that we use. So far so good.

That seems to be the problem. Can you paste here the rejected lines? In addition can you tell us your Windows version, your git version and also run the following command:
[code]

[2020-02-07 11:04] kwis2 commented on #2047
I have really fresh Sming installation ... Windows 10 64 bit

and

In my oppinion it is not problem with windows, git or so.

after `make dist-clean` I got like below, what mean another components are ok. @slaff I dont exactly know what do you mean "Can you paste here the rejected lines?"

[2020-02-07 12:33] mikee47 commented on #2047
Can you try opening `C:\tools\sming\Sming\Components\axtls-8266\axtls-8266.patch` in a text editor, then on line 411 (which is blank) type a single space character. Save it then try again; does that fix the problem?

[2020-02-07 13:22] kwis2 commented on #2047
space fixed problem. I commit `axtls-8266.patch` file.

[2020-02-11 14:44] kwis2 commented on #2047
It looks like there is more windows bugs or so.
I make HostTests and got

[code]

[2020-02-11 15:25] slaff commented on #1333
@mikee47 ESP-IDF v4.0 is officially release (https://github.com/espressif/esp-idf/releases/tag/v4.0). I guess we can start the implementing `SMING_ARCH=Esp32` :)

[2020-02-11 15:50] mikee47 commented on #1333
@slaff It's in progress, but bored with it. Python build script crashes and takes terminal with it. Tedious..

[2020-02-11 16:00] slaff commented on #1333
@mikee47 create a PR and put WIP in the name. Let's try together to see if we can advance faster.

[2020-02-11 16:01] mikee47 commented on #2047
As this is a different problem, and this issue is closed, please open a new issue. I suspect your compiler is old, but the output from `make config` plus `set` should help to pin things down.

[2020-02-11 16:13] #2047 closed

[2020-02-11 16:40] mikee47 commented on #1333
@slaff Not ready for a PR of any kind yet but I've pushed my working branch to `dev/esp32` in my repo.

I'm keeping notes in the `Arch/Esp32/README.rst` and as you can see things haven't got very far, having stalled on the first bit, 'getting a reliable build system'. I'm working from `tests/esp32/hello_world`.

Last time I looked at this when I ran the python builder it just crashes and shuts dow

[2020-02-11 16:50] mikee47 commented on #1333
Just pulled a fresh IDF in and re-run install. Previously `idf.py menuconfig` just crashed, but now it works fine so something's been fixed!

[2020-02-11 17:30] kwis2 opened #2049 "Humidity_AM2321 Host problem"
while `make SMING_ARCH=Host` with `Humidity_AM2321` sample I got

[code]

[2020-02-11 17:33] mikee47 commented on #2049
Not all libraries/samples will build on Host. This particular sample makes use of I2C and there is no abstraction for that as yet.

[2020-02-12 05:43] frankdownunder commented on #1333
@mikee47 @slaff You may also be interested to know there is a version of Arduino that claims to run with ver 4. Ive been working with 4.0 RC and it went well certainly nothing like you have described. I had 3 problems getting my project to build; almost there. Now I see as of 2 days ago, 4.1 is there so maybe time to give that a go

[2020-02-12 09:55] #2049 closed

[2020-02-16 23:31] icodk commented on #2021
Fresh installation on Windows 10(today)
try to compile Basic_Blink got the following error (showing the last few lines of the build ):
[code]

[2020-02-16 23:33] icodk commented on #2021
Development branch

[2020-02-18 11:31] kwis2 commented on #1971
@kmihaylov  Sorry I missed your post.
in your github I commit example. (I am not sure if it was succesful). Json failed after about 430 bytes ...

[2020-02-27 15:03] kwis2 opened #2051 "SPIFFS problem with Json"
I have analysed program from #1971 and in my opinion it is SPIFFS, not Json problem with about 430 bytes written.
with response I got

and after this it is not possible to write to SPIFFS

[2020-04-08 03:56] IanAber opened #2058 "Installation on Mac issues"
Installing on a Mac with Catalina and trying to follow the Mac quick start guide. Downloaded the esp-open-sdk and sming. The instructions say to change to the smaing/sming directory and run make. Make comes back with...

Change to ../samples/basic_blink and run make...

[2020-04-08 12:31] mikee47 commented on #2058
Hi, are you following the latest instructions at https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/macos.html ?

[2020-04-08 12:51] IanAber commented on #2058
I am trying to. The first problem here Is that installing SED fails because the homebrew option —with-default-names has been removed from the current version of homebrew. Skipping this and allowing SED to install without the option gets past that but then that’s where I run into the problems listed. i don’t believe I got as far as running SED yet so I don’t think that is the cause.

Sent from my i

[2020-04-09 12:48] slaff commented on #2058
Reported Error(s)
============

#include <FlashString/String.hpp>

@IanAber  can you run the following commands and paste the output here:

[code]

Document Update
==============
We will have to update the MacOSX document. Thanks for pointing out the following issues:

Issue 1. `the homebrew option —with-default-names has been removed from the current version of homebrew.`

That is correct. And th

[2020-04-09 17:14] IanAber commented on #2058
Output from env:-
TMPDIR=/var/folders/t3/cmly3ksd2ml3g2248lrh9qnm0000gn/T/
XPC_FLAGS=0x0
LaunchInstanceID=E3E71F1C-91DD-4F52-900F-8BF9E5845880
TERM=xterm-256color
LANG=en_US.UTF-8
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.FlHa97yJFt/Listeners
SECURITYSESSIONID=186ad
XPC_SERVICE_NAME=0
TERM_PROGRAM=Apple_Terminal
TERM_PROGRAM_VERSION=433
TERM_SESSION_ID=90097CF4-DB92-478C-8E3D-5F03533348F7
SHELL

[2020-04-12 11:23] kmihaylov commented on #1645
Hello.

I observe unexpected behavior when trying to use ```Serial.onTransmitComplete()``` callback. In the ModbusMaster example I clear ```postTransmission()``` and in the ```init()``` function a callback is set: ```modbusComPort.onTransmitComplete([](HardwareSerial &) {digitalWrite(RS485_RE_PIN, LOW);});```

BTW I'm just landed on this issue (hinted by github). I have exactly the same problem as

[2020-04-12 13:14] kpishere commented on #1645
Oh, hey guys, you may find the code in this class useful in achieving this.  I made a driver for RS485 that controls the read/write enable pins in a very specific way for another half-duplex protocol.  It could be useful for reference to implementing MODBUS.

https://github.com/kpishere/Net485/blob/master/src/Net485Physical_HardwareSerial.hpp

In the protocol I'm using this for, there was specific

[2020-04-12 13:20] kmihaylov commented on #1991
Serial.onTransmitComplete() issues, detals here: #2043

Meanwhile I'm not sure about the UART status register values. I tried to copy->paste @mikee47's solution, but the TX FIFO is always empty.

[code]

In ```init()```
[code]

[2020-04-13 09:16] kmihaylov commented on #1645
@kpishere Unfortunately I don't understand how your program verifies completion of TX (TX transmit empty).

I'm attaching some scope shots of the problem.

![SHS00002](https://user-images.githubusercontent.com/8851104/79109067-4c714900-7d80-11ea-92c7-9f5ca38a480c.jpg)

![SHS00001](https://user-images.githubusercontent.com/8851104/79109066-4b401c00-7d80-11ea-94fe-c46c50a2e06c.jpg)

I tried both wit

[2020-04-13 11:01] mikee47 commented on #1645
@kmihaylov Be aware that the FIFO empty interrupt occurs when the last character has been moved from the FIFO into the hardware sending register. Specifically, that means the last character will be lost if the RS485 direction is changed. This is why my implementation adds a NUL character at the end. Behaviour is confirmed by your 'scope traces.

Also bear in mind that `Serial.onTransmitComplete()`

[2020-04-13 12:40] kpishere commented on #1645
@kmihaylov  Oh, it is simpler than you might be looking for.  Essentially, I don't verify completion, I simply calculate the time needed to send the known number of bytes at a fixed bit rate.

The macro here does the calc.  This wouldn't work if there were any sort of flow control etc. but there isn't in this case.  Packets in my usage case don't exceed 252 bytes either.

 case DriveStateE::Sendin

[2020-04-14 03:18] IanAber commented on #2058
Problem is not solved after all.If I run make clean the build then fails again. Here is the V=1 output...
`Checking patch Makefile...
Checking patch rboot.c...
Checking patch appcode/rboot-api.c...
Applied patch Makefile cleanly.
Applied patch rboot.c cleanly.
Applied patch appcode/rboot-api.c cleanly.
Checking patch elf.h...
Checking patch esptool2.c...
Checking patch esptool2.h...
Checking patch

[2020-04-14 05:44] kmihaylov commented on #1645
@kpishere ah I see, good to know! Thanks!
@mikee47 My test right now shows that ```onTransmitComplete``` got triggered on each ```Serial.write()```.

This solution
[code]
will trigger it two times and the first time it will immediately close the TX line. What I did is to get rid of the first NUL character and to add a NUL character at the end of the data array that has to be send.

This way it wor

[2020-04-14 09:04] slaff commented on #2058
`V=1` is making the output more verbose. It does not change the actual tasks that are executed. It helps us see what is your include path for libraries and header files.

Once the application is compiled there is no need for recompilation.

That does not look like a verbose output.

[2020-04-14 14:29] IanAber commented on #2058
Here is the complete output from make V=1.

First I ran:
make spiffs-image-clean
make clean
make dist-clean
make component-clean
make submodules-clean

This ensures that everything gets recompiled.

Next I ran...
make V=1

`basic_blink % make V=1

Basic_Blink: Invoking 'all' for Esp8266 (debug) architecture
-- Parsing App
-- Parsing Sming
-- Parsing sming-arch
-- Parsing libc
-- Parsing heap
-- Pa

[2020-04-14 14:49] IanAber commented on #2058
After running this make and getting the error 'FlashString/String.hpp: No such file or directory' I immediately executed the same command again (clicked the up arrow to get the last command executed and hit Enter so no mistakes in typing). This second time it ran to completion with no apparent errors.

Next I tried running make dist-clean. After this the make command again failed with the same Fla

[2020-04-15 07:42] slaff opened #2060 "[Announcement] Migrate to Sming v4"
As of 1st of April, 2020 our V3.8.1 Long Term Support (LTS) version of Sming will not be updated any longer.
Everyone is advised to migrate to the latest Sming v4 version.
You can find a migration guide here: https://sming.readthedocs.io/en/latest/upgrading/index.html

[2020-04-19 10:01] kwis2 opened #2061 "SPIFFS reset problem"
In program I have written there are some bugs, and sometimes files are not closed properly. Apart of bugs in code I am wondering how could I reset SPIFFS structures.
I wasn't able to remount SPIFFS, because it makes http server to stop respond.
The best way I have foud it is periodic loop thrue  `file < SPIFF_FILEDESC_COUNT` and `fileClose(file)`
Is there any better way to reset SPIFFS?

[2020-04-19 10:17] kwis2 opened #2062 "HttpServer periodic hangs problem"
In application similar to Basic_WebSkeletonApp, after a few days of work HttpServer stop to respond, but HttpClient works fine.
Whatever the reason, it is very hard to find, a reset of HttpServer would be the best solution.
Question is, how could HttpServer be really reset?

[2020-05-02 15:23] VooDooSi opened #2064 "Basic_rBoot sample OTA fails"
When i start OTA update from rom0 (first boot after flashing) everything seems ok, it downloads file and flashes rom1. When you run OTA from rom1 update starts but resets and rom0 gets corrupted, on restart it tries to boot rom1 but that does not happen either.
I have attached logs, rom0.log is right after flashing from command line and starting "ota" from terminal, rom1.log is when esp restartes

[2020-05-06 13:11] slaff commented on #831
@DjamesSuhanko We have very-rough and very-early version support for an ESP32 via ESP-IDF version 4. You can follow the progress from here: https://github.com/slaff/Sming/tree/feature/arch-esp32

At the moment the only sample that compiles, links and can be flashed on a ESP32 microcontroller is the Basic_Blink example. I did not write "runs" because there is a lot of work to be done to reach this

[2020-05-07 16:06] mikee47 commented on #831
@slaff I'll try to find some time to get back into this, will definitely try out your branch! I can help by looking at UART support.

[2020-05-07 16:11] slaff commented on #831
@mikee47 This would be awesome! At the moment the Timer class(es) is what is probably with highest priority to run at least Basic_Blink. Up to know I was able to turn on and off leds but without the timer...

[2020-05-09 14:01] slaff commented on #831
As of now the hardware timer in Basic_Blink is working and the complete sample is running as expected.

Exactly what we need now. This is with highest priority and will help us run `Basic_Serial`.

[2020-05-11 04:36] Vinimuller opened #2068 "Problems with MqttClient_Hello + SSL sample"
Hello! I'm running Sming 4.1.0 on MacOS with ESP8266. I am only trying to use the MqttClient_Hello sample with ENABLE_SSL but I am getting this output:

[code]

It keeps asking me to start the sntp server. How do I fix it in this sample?

[2020-05-11 10:20] slaff commented on #2068
Basically the sntp server syncs the current time of your ESP device. If that is not done the ESP8266 device starts from 0. A current time is required when you want to validate also the expiration dates in a certificate. In the `MqttClient_Hello` that is not needed because we don't make a full validation of the remote certificate.

Well it works for me... So either try it again or change the MQTT s

[2020-05-11 11:02] slaff opened #2069 "Preparation for Release 4.2.0"
This issue is created to collect all the tasks we need to do before the 4.2.0 release.

### Source Code
- Update Sming/Core/SmingVersion.h. (#2187)
- Update Readme.md.
- Merge develop into master.
- Tag the source code in the master branch.
- Add upgrade document [4.1 to 4.2](https://sming.readthedocs.io/en/latest/upgrading/4.1-4.2.html) in the [upgrade index](https://sming.readthedocs.io/en/lates

[2020-05-11 13:03] #2046 closed

[2020-05-11 13:22] Vinimuller commented on #2068
Changing the server worked for me! Thanks.

I would also like to make a full validation of the certificate for another application. How would I start the sntp?

[2020-05-11 17:27] Vinimuller commented on #1444
@slaff
Found on AWS documentation that they offer a C++ lib to implement AWS iot. It is made thinking about porting to different platforms, so I think it would be the case to make it work with sming. I would like to contribute with this, but it looks way easier to someone that has already worked with openSSL and has more experience on C++. What do you think?

Here is the link to the lib: https://g

[2020-05-14 07:47] slaff commented on #831
@mikee47 By the way we have pretty well working UART in Sming on ESP32 :). The code needs a bit of polishing/tuning but the main logic is there and it's working. I have opened a new ticket to track the progress: https://github.com/slaff/Sming/issues/57. The next task in line for me will be to see how to hook our Tcp and Udp routines in ESP-IDF. But it would be great if meanwhile someone can take a

[2020-05-14 08:08] slaff commented on #2068
You can take a look at the time.c file in axtls-8266 replacements. Basically if sntp is not started yet you should:
[code]

[2020-05-16 17:20] teicors opened #2070 "IR lib"
Hi,
I'm looking for integrate an inexpensive IR remote into my project.
The first test with Arduino works and if I hold continuously the button, I receive 0xFFFFFFFF.
Compiling the sample/IR_lib, I see the code of the button, but if I keep the button pressed, I receive nothing.
Thanks!

[2020-05-17 09:57] kwis2 opened #2071 "RBOOT_SILENT problem"
I am testing deep sleep, module ESP8266-01, and I am not able to switch off serial garbage after reset / wake up.
Except serial data @115200 I send, I receive data @76800. In my opinion I am not able to make RBOOT_SILENT  to work.

my config:

[2020-05-20 16:35] dpechman commented on #2064
same problem happening here ... is it already fixed in 4.1.1? I'm currently using the 3.8.1 bootloader to work around the problem

[2020-05-20 17:34] VooDooSi commented on #2064
@dpechman, same thing happens with 4.1.1.

[2020-05-22 16:19] slaff commented on #2064
@VooDooSi How do you compile and how do you test? Let's try to make it easier for us to reproduce the problem. First - paste here your config. Go to your application and run:
[code]

Second: what is the size of your ESP8266 flash memory?  If it is below 1MB then things can work but not by default.

Third: what is the rboot configuration that you have? Do you use the default one? Can you paste here

[2020-05-22 16:21] slaff commented on #2064
One more thing here: There used to be a problem with ROM2 but it should have been fixes with the merging of this PR #1900

[2020-05-24 10:47] slaff commented on #2071
Try the following sequence:
[code]

After these commands you should have also a brand new rboot.bin file. The file should contain almost no strings. You can check this with the following command:
[code]

In my case I get just the following output
[code]

You can now flash just the bootloader with the command:
[code]

[2020-05-24 10:47] #2068 closed

[2020-05-24 10:50] #1982 closed

[2020-05-24 10:51] #1973 closed

[2020-06-01 21:31] kmihaylov commented on #2070
I observed some delays when I played with the IR lib. It was long ago, so you're welcome to post more information.

[2020-06-01 21:35] kmihaylov commented on #2051
@kwis2 did you still have issues with the latest build? May you get rid of JSON to confirm that the problem concerns SPIFFS?

[2020-06-01 21:43] kmihaylov commented on #2021
@icodk Some time has passed since your last comment? Some progress?

[2020-06-01 21:51] kmihaylov commented on #1991
I'm closing this since it's already commited: #1992 #2038 #2059
Future work to involve interrupts...?

[2020-06-01 21:51] #1991 closed

[2020-06-01 23:17] icodk commented on #2021
@kmihaylov Nice hearing from you. No I didn't try recently. I hooked up on another project,while my esp8266 still runs on Sming 2.0. Wanted to upgrade at that time but decided to wait until
you smoose it out:-)

[2020-06-02 06:10] kmihaylov commented on #2021
Have you tried to clean the whole toolchain and project and to run it again with the latest version? Also I notice that you use ```make -j```. In the past I had problems with the -j flags (despite it was on other projects and long time ago).

I'm curious about the message ```cannot openmake```. Is everything with the paths OK?

So I suggest:
- git clone latest version
- recheck paths
- make w/o -j

[2020-06-02 07:17] icodk commented on #2021
Thanks for the suggestion. I will give it a try. Hopefully sometimes next week

[2020-06-02 18:13] teicors commented on #2070
@kmihaylov please let me understand how I can be more detailed.

I simply put an ir receiver on the D2 (Lolin module) and then
[code]
The last key is "vol up" in my remote, but keeping the key pressed, I receive nothing.
I did some test using different gpio, but always the same.
As I told, under Arduino I can receive the 0xFFFFFFFF that means key still pressed and I have to put a short delay in or

[2020-06-02 19:04] kmihaylov commented on #2070
@teicors now I remember that in the very first moments there was (almost) no delay. In a while the ESP started to respond slower and slower. Don't remember, however, whether it was in correlation with the commands sent by the remote or not. @mikee47 knows well the internals of the framework, especially the interrupts and event handling.

Also I see that the IR lib version in Sming is almost 2 year

[2020-06-02 20:31] kmihaylov opened #2079 "Sming on FreeBSD"
Hello. I'm a bit behind the latest build environment requirements. SMING_HOME is clear. ESP_HOME in the past was esp-open-sdk build. But it changed few months ago and now uses the toolchains in SmingTools. However there are Linux and Windows binaries, and the source code archive is related to MinGW.

I remembered that Sming changed from native esp-open-sdk to ESP Quick Toolchain. Do you prepare Sm

[2020-06-03 07:50] teicors commented on #2070
it's empiric test, but I can't notice any delay after two minutes of "keys pressed". I can notice a small delay between the keypressed and the decode.

[2020-06-03 07:59] kmihaylov commented on #2070
It is interesting that for me it introduces some big delays. Just tied with my KEYES remote and immediately after the first received signal it starts to delay, better said, its almost stops.

This was with the current Sming release, therefore I decided to update the IR lib, and I think this is the way to go. Now there is new problem (constant repeat of the received command, as seen by the ESP), bu

[2020-06-03 09:41] kmihaylov commented on #2070
I'm attaching my quick and dirty patch (remove the txt extension).
[ir.patch.txt](https://github.com/SmingHub/Sming/files/4722063/ir.patch.txt)

The lib can be updated by issuing these commands (the sample should be ```make``` once for the IR lib to be downloaded into Libraries/IR):
[code]

The if(irrecv.decode(&dresults)) should be modified:
[code]
(```irrecv.resume();``` is added).

For me the u

[2020-06-03 09:54] teicors commented on #2070
@kmihaylov GREAT !!
Now it works as expected !!

[code]

[2020-06-03 09:58] slaff commented on #2079
We just use the already pre-compiled binaries from the `earlephilhower/esp-quick-toolchain` project.  @mikee47 can you confirm this?

[2020-06-03 09:59] slaff commented on #2070
@kmihaylov Thanks a lot in advance.

[2020-06-03 10:36] mikee47 commented on #2079
That's right. See https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/eqt.html for details.

[2020-06-03 15:09] VooDooSi commented on #2064
Hi,
sorry been a bit busy lately.
Here is list-config:
[config.txt](https://github.com/SmingHub/Sming/files/4724220/config.txt)

I am using esp12e, so it is 4MB. I Tried 3 or 4 different versions and same problem on all of them.
The only thing that was changed in Basic_rBoot sample was that it connects to wifi on start. No other configuration other than com port and flash related was changed.

mak

[2020-06-03 15:19] VooDooSi commented on #2021
I was creating new virtual machine with windows 10 x64 for sming today. Followed manual install  (https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/windows-manual.html)

This happens for all sample projects:
`make -j12 all

Basic_rBoot: Invoking 'all' for Esp8266 (debug) architecture

Building /c/tools/Basic_rBoot/out/Esp8266/debug/lib/clib-App-6903af82e680ef61e341721f1de501b4.a

[2020-06-03 15:23] dpechman commented on #2064
it seems to work using: make dist-clean

[2020-06-03 15:43] VooDooSi commented on #2064
Tried "make dist-clean" and something was different. I got stack dump :
[stacktrace.txt](https://github.com/SmingHub/Sming/files/4724467/stacktrace.txt)

But after reset of the module no joy.

[2020-06-04 09:29] #2070 closed

[2020-06-04 12:48] VooDooSi commented on #2064
I created Linux virtual machine (Debian 10, gcc 6.3.0) and ota works as it should. Same example (copied) works when compiled on linux..

[2020-06-04 19:46] mikee47 commented on #2021
Python needs to be in the path. Try typing `python` and see what happens...

When I tried this on a fresh VM python got installed here:

[code]

Wherever it ends up will either need to be in the path:

[code]

or for Sming-only, set the PYTHON environment variable:

[code]

(Currently this needs to be in MinGW format - regular DOS path doesn't work.)

[2020-06-04 21:52] icodk commented on #2021
@mikee47 Thanks for the tip

[2020-06-05 11:11] #2071 closed

[2020-06-07 09:23] slaff commented on #2070
@teicors the latest develop has PR #2083 . Can you check if it is working for you as expected?

[2020-06-11 14:58] arikfe opened #2084 "httpClient fail to download the large content"
When using httpClient.downloadString on request with return body more then 1k the return result is incomplete.
Using downloadString on address such as  http://samples.openweathermap.org/data/2.5/forecast?id=524901&appid=439d4b804bc8187953eb36d2a8c26a02
Will result a 200 success code but the stream available bytes is only ~500
-  release mode did not help.
-  using getBody
-  tried to create an app

[2020-06-12 07:50] slaff commented on #2084
The microcontrollers are devices with limited resources. ESP8266 has between 20K and max 50K free RAM. Therefore we have to be careful how that RAM is used.

By default Sming keeps up to 1K in the memory, as you have correctly noticed. Otherwise a device with Sming can be easily restarted when it runs out of memory or just made incapable of doing anything by sending large response body and causing

[2020-06-12 11:11] arikfe commented on #2084
Thanks for the quick reply.
I'll check this solution ASAP.
I have managed to download that data using sming version 3.6

[2020-06-13 03:20] #2084 closed

[2020-06-23 14:38] kmihaylov commented on #2079
https://github.com/earlephilhower/esp-quick-toolchain/issues/13

[2020-06-23 14:38] #2079 closed

[2020-06-24 14:16] #2036 closed

[2020-06-26 10:55] mopac commented on #1428
I was trying to get SDCard sample running on Wemos D1 mini with an added SD card.
Same fault as the original post.
When I got down to analysing the SPI packets send to the SDcard, I discovered the byte order was incorrect.
CMD0 is meant to be 40 00 00 00 00 95.
What was being sent was 00 00 00 40 95 00.
Seems the SPI was shifting the bytes in the wrong order on a 32 bit boundary.
So in SPI setting

[2020-06-26 11:13] mopac opened #2089 "SDCard sample not working with DISABLE_WIFI=1"
SDCard sample works fine with DISABLE_WIFI=0.
This results in about 200k of code.
But set DISABLE_WIFI=1, compiles with no errors and now the code size in only 60K but the code appears to crash before it has printed out any SDCard debug info.
I can't find any code in sdcard.cpp or the sample app.cpp that references anything wifi.
I assume it must be something in the esp_no_wifi component that is m

[2020-06-26 12:19] slaff commented on #1428
@mopac Can you submit a PR with your changes so that we can merge them in the develop branch?

[2020-06-26 12:21] slaff commented on #2089
@mikee47 You are the esp_no_wifi expert. When you have time can you help us with this issue?

[2020-06-26 13:10] mopac commented on #1428
@slaff Certainly can. Not done that before so I might need a bit of hand holding! Is there a guide?
What concerns is that someone who wrote the original SDcard sample, must have made it work on hardware. So without understanding exactly why their hardware worked and mine didn't until I changed it, just means that with my changes, it now won't work on their hardware. Which feels like a bodge!

[2020-06-26 13:25] mikee47 commented on #2089
@mopac Problem tracked down to one line in `SPIClass.begin()`, fix is below.

diff --git a/Sming/Arch/Esp8266/Core/SPI.cpp b/Sming/Arch/Esp8266/Core/SPI.cpp
index 02fb8bcba..a1d8a421f 100644
--- a/Sming/Arch/Esp8266/Core/SPI.cpp
+++ b/Sming/Arch/Esp8266/Core/SPI.cpp
@@ -32,7 +32,7 @@ SPIClass SPI;
  */
 void SPIClass::begin()
 {
-	WRITE_PERI_REG(PERIPHS_IO_MUX, 0x105); //clear bit9
+	CLEAR_PERI_RE

[2020-06-26 13:43] #2089 closed

[2020-06-26 13:51] slaff commented on #2089
@mopac The fix should be merged in the latest develop version. Try the following commands, if you are using Linux:

[code]

[2020-06-26 13:52] slaff commented on #1428
https://sming.readthedocs.io/en/latest/_inc/CONTRIBUTING.html

[2020-06-26 14:28] mopac commented on #2089
Fix tested and working.
Fabulous response.
Thanks for your support.
Ray

[2020-07-09 07:23] #1995 closed

[2020-07-09 07:27] teicors opened #2092 "ModbusHi,"

[2020-07-09 07:42] #2092 closed

[2020-07-22 15:02] Matzz opened #2094 "isInputPin always return true in Host mode"
[code]

Prints
[code]

[2020-07-25 18:12] mopac opened #2095 "GDB corrupts hardware SPI used for SDCard"
SDCard Sample fails to access SD Card when built with GDB.

Switching to softwareSPI makes it work agains.

Tracing the problem in hardware SPI.......................
The application should send 6 byte messages to the SD Card.
1 byte command. 4 bytes attributes. 1 byte CRC.

With GDB enabled, it still sends 6 bytes but the 5th byte is a copy of the 6th byte.
The init command 0 should be 0x40_00_00

[2020-07-26 19:05] slaff commented on #2095
@mikee47 Can you take a look at this issue?

[2020-07-27 19:48] mikee47 commented on #2095
I can confirm this behaviour, feels familiar... It's likely a race condition somewhere in the code, which I haven't pinned down yet. It isn't related to the GDB build per-se; try building with -Og instead of -Os and the same thing happens.

[2020-07-27 20:14] mikee47 commented on #2095
This patch fixes the problem:

[code]

[2020-07-27 20:23] mikee47 commented on #2095
Edit: Line should be `memcpy(words, &buffer[bufIndx], bufLength);` but you get the idea.

[2020-07-28 08:26] mikee47 commented on #2095
Simplest fix:

`memcpy((void*)SPI_W0(SPI_NO), &buffer[bufIndx], ALIGNUP4(bufLength));`

[2020-07-28 09:20] mopac commented on #2095
Hi Mike,

The first fix is all working fine.
Thanks for your support

Ray

[2020-07-28 15:18] #2095 closed

[2020-08-06 16:29] kmihaylov opened #2097 "[semifix] esp32 Basic_Blink"
Hello,

Few weeks ago I had some unluck with esp32:
[code]
So today we spent some time and as expected the esp-idf v.4 that Sming is patched for differs a lot from the current esp-idf v.4 (release/v4.0 that is stable and should be used).

Also even if you check out earlier esp-edf (v4) there is no warranty that the submodules would be the correct ones.

So @slaff gave me his esp-idf working dir an

[2020-08-06 17:58] kmihaylov commented on #2097
Okay I think these are the steps I did:

[code]
I noticed that if I do only once ```menucondig``` later I got a lot of linker errors, undefined references to spi_flash_read, spi_flash_write, esp_partition_find_first, esp_partition_erase_range, esp_log_write and etc...

Therefore I make it once, then I do it once again. Absolutely no idea how this influences the build process.
[code]

Don't worry i

[2020-08-06 18:04] kmihaylov opened #2098 "ESP8266 WiFi is missing for periods of 20 minutes"
I'm struggling with some issue. When the WiFi coverage is bad it happens that the board may frequently disconnect and reconnect to the AP. Unfortunately I noticed some cases when the application stays in ```eSCS_Connecting``` state (maybe other states also).

I searched and found some people to use ```	wifi_set_sleep_type(NONE_SLEEP_T);```. However I watch one of my boards still missing for period

[2020-08-06 18:33] kmihaylov commented on #2097
Excuse me for writing 3rd comment in a row, but while playing with the current esp-idf I one more time got the too many undefined references.

I fixed it again using make SMING_ARCH=Esp32 sdk-menuconfig (once or twice, with using the Save button), and after make sdk-build (w/o sdk-clean) and dist-clean they disappear.

[undefined-references.txt](https://github.com/SmingHub/Sming/files/5037349/unde

[2020-08-06 21:24] kmihaylov commented on #2097
I'm still playing with the current esp-idf. I suspect that something with the Makefiles may mix the Sming provided esp-idf and the custom compiled one.

```g_wifi_feature_caps``` is related to ```$IDF_PATH/components/esp_wifi/``` and is introduced in https://github.com/espressif/esp-idf/commit/d36663b79884d864e80ddd57d90c6e0c18468362

In ```Basic_Blink``` I did:
[code]
In ```$SMING_HOME/out/Esp32/

[2020-08-07 10:15] slaff commented on #2097
Here is a short how-to to use the latest release/v4.0 ESP-IDF SDK.

First make sure to download the latest `release/v4.0` version. This can be done using the command below:
[code]

Once the download finishes it is time setup ESP-IDF. On a Linux OS this can be done with the commands below. If you are using other OS see the official [ESP-IDF documentation](https://docs.espressif.com/projects/esp-idf

[2020-08-08 07:25] kmihaylov opened #2099 "Complex documentation."
I'm setting up Sming on a new system and I noticed some complexities in the instructions.

I think we should have a pretty straightforward, one shot, do it in 3,2,1 instructions on the front page.

Currently a new user would read the github page and scroll down. There are Contents, summary, compatibility, releases (development) and Getting started.

Now Getting started should lead the user, howeve

[2020-08-09 11:10] kmihaylov commented on #2064
So I'm playing now with the OTA updater. The sample works pretty fine.

My app sucessfully flashes the rom for the first time (e.g. rom 1 slot), but if I try OTA again (it should flash rom 0 slot), then it fails.

[code]

Here is the output of the second updae:
[code]
And won't boot after that...

Any ideas how to debug it?

First I thought that maybe my app has bigger bin file and maybe something

[2020-08-13 13:19] #2097 closed

[2020-08-15 18:52] kmihaylov opened #2103 "App crash on SPIFFS when booting rom slot 1"
When application is using only one SPIFFS address space for both roms (in my case 0x1....), the second (or newly flashed) rom fails to boot (probably because spiffs_mount problem).

**If separate addressing is used for SPIFFS partition for rom 0 and rom 1 (0x1xxxx and 0x3xxxx), no problem occurs.
Also if the app uses only one SPIFFS partition located at 0x3xxxx, again no problem occurs (multiple O

[2020-08-17 01:30] Delamaine opened #2104 "App crash - invalid address (28)"
I have an Amica NodeMCU identifed by EspressIf's ESP8266 DOWNLOAD TOOL V3.8.5 tool as follows,

flash vendor: EFh : WB
flash devID: 4016h
QUAD;32Mbit
crystal: 26 Mhz

My makefile is set as follows,
SPI_SPEED ?= 40
SPI_MODE ?= qio
SPI_SIZE ?= 4M

I get the following crash (28 - which suggest invalid address) from Basic_Serial and most others but no crash from Basic_Blink, could somebody please advi

[2020-08-17 09:53] Delamaine commented on #2104
Figured out that it was a configuration issue - dio spi mode works. Thanks

[2020-08-17 09:53] #2104 closed

[2020-08-17 12:45] slaff commented on #2103
@kmihaylov Try to flash the same APP on rom 0 and then on rom 1 over OTA. The stack trace points to a problem in the smartconfig code / WIFI and not in the flash reading/writing.

[2020-08-17 20:11] kmihaylov commented on #2103
@slaff would you please try the attached project (1st post)? Try OTA several times with the same firmware.

[2020-08-26 04:52] kpishere opened #2105 "OTA rBoot v."
I have a project with MQTT client and am attempting to use rBoot also.  Config file is thus :

[code]

Upon publishing URL to a topic, the MQTT calls :

[code]

The ota functions are lifted from the basic sample :

[code]

when monitoring the python http server, only rthe following request is made (it completes as per monitoring with wireshark) :

`192.168.1.101 - - [26/Aug/2020 00:36:49] "GET /ro

[2020-08-26 12:30] kpishere commented on #2105
Added the following upon receipt of OTA request `spiffs_unmount();` and now it does not crash.  However, it does not make this second download request as expected.

If it is expected to perform both downloads and then flash, I'll leave the ticket open for that.  Otherwise, for this project, I'll simply update the code to flash only one or the other, the ROM or SPIFFS.

[2020-08-26 12:55] kpishere commented on #2105
Here is some serial output.  First, from flash via UART :

[code]

... some minutes ...

[code]

[2020-09-02 12:47] kpishere commented on #2105
Turned on debugging and in going through output I see the pertinant parts :

Mqtt receives the message, it unsubscribes, and closes TCP, then flash upgrade starts ...
[code]
but then MQTT restarts ... this is problem
[code]

[2020-09-03 04:53] kpishere commented on #2105
Hmm... ok, removed this problem by having MQTT safe the info to SPIFFS and cause software reboot.  On boot, before MqttClient is instanciated, check for OTA param file, then rBoot ... there is no MqttClient in this boot sequence now.  The result is the below ... something is still wrong here, it does not switch roms.

'''
SDK: v3.0.3(8427744)
Free Heap: 45520
CPU Frequency: 80 MHz
System Chip ID:

[2020-09-03 05:13] kpishere commented on #2105
Noticed the rom addresses aren't what is specified in the `component.mk` file.

that was fixed with `make flashconfig`.  Now it shows

[code]

But still, at the end of loading the file, the callback does not happen. ...

[code]

[2020-09-04 12:50] kpishere commented on #2105
Ah!  Ok, although the example shows loading a rom and then spiff section ... the rBoot only works with loading ONE file and then rebooting.  So, for my case above, I was attempthig to load both roms.  If I load just one, it works fine.  I suspect the isue may be here ...

by using the delegate `request->onRequestComplete(RequestCompletedDelegate(&RbootHttpUpdater::itemComplete, this));` there is n

[2020-10-18 07:42] mikee47 commented on #2094
Issue resolved. Closing.

[2020-10-18 07:42] #2094 closed

[2020-10-28 14:23] Vinimuller opened #2128 "Does Sming only detects no internet when disconnected from wifi router?"
Hello!

I'm using Sming 3.8 (sorry for that) and MqttClient. Seems that Mqtt disconnect event is only fired when ESP is disconnected from the wifi router. If the wifi router keeps on and the only the connection to internet goes off, MqttClient does not fire the disconnect event. Is it a known issue? Is it solved at Sming 4?

[2020-10-29 15:02] slaff commented on #2128
Can you try to compile Sming AND your application using DEBUG_VERBOSE_LEVEL=3 ? Once this is done flash the application on your device and let it connect to internet. After that stop the internet connection (unplug the fiber cable for example) but leave the Wifi router running. Copy the log information and paste it here.

[2020-10-29 22:06] Vinimuller commented on #2128
Sure, here it is
[code]

[2020-11-04 03:02] Vinimuller commented on #2128
@slaff Any idea on what is happening?

[2020-11-05 07:04] mikee47 commented on #2015
The notes in http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#c5-place-helper-functions-in-the-same-namespace-as-the-class-they-support don't always make sense. In particular, Sming's use of `toString` would, I feel, be more user-friendly if defined in the global namespace **provided** the arguments are strongly typed.

For example, in the https://github.com/mikee47/Sming-SSDP/blob/mast

[2020-11-05 07:47] slaff commented on #2015
I agree with you. Let it be this way.

[2020-11-07 19:24] jafal99 opened #2146 "HttpServer_FirmwareUpload upgrade fails with error No suitable ROM image found"
HttpServer_FirmwareUpload doesn't work on ESP-12 with 4MB flash. After uploading firmware.ota Error: No suitable ROM image found is displayed.
[code]
It looks like firmware.ota contains only one image - for slot0, image for slot1 is not included.

I suspect problem with dependencies between rboot and OtaUpgrade components. OtaUpgrade includes image for slot1 only if RBOOT_ROM_1_BIN is defined but

[2020-11-07 21:12] jafal99 commented on #2146
After checking config I found bug - there flashconfig was done with wrongly set RBOOT_ROM1_ADDR

[2020-11-07 21:12] #2146 closed

[2020-11-09 09:06] slaff commented on #822
@ZeevG Take a look at the sample in this PR: https://github.com/SmingHub/Sming/pull/2149.

[2020-11-09 09:06] slaff commented on #1444
@Vinimuller Take a look at the sample in this PR: https://github.com/SmingHub/Sming/pull/2149.

[2020-11-13 12:29] slaff commented on #2003
Done in #2121. The next step should be to create a make target that is creating a skeleton component. Acoompanied with another target that should create a skeleton application.

[2020-11-13 12:29] #2003 closed

[2020-11-30 09:31] mikee47 opened #2158 "http_parser failing with HPE_CLOSED_CONNECTION"
The problem is occuring running the UPnP scan tool https://github.com/mikee47/Sming-UPnP/tree/fix/scanner-updates/tools/scan.
The application is running in Host mode under Windows.

http_parser appears to be declaring the connection dead before the content has been processed.

It does not appear to be related to the size of the file being fetched.
The tool retries and sometimes succeeds, but there

[2020-11-30 15:46] slaff commented on #2158
Yes, that can happen when the response contains Connect header with content "close". But we should be already handling this case: https://github.com/SmingHub/Sming/blob/develop/Sming/Core/Network/Http/HttpClientConnection.cpp#L139.

Can I simulate the device somehow? My TV is closing the connections and things work as expected, but your device may things in a way that is not handled correctly. Or

[2020-11-30 15:48] mikee47 commented on #2158
One of the devices is my network router. Does the scanner run to completion without any failures on your system?

[2020-11-30 15:51] mikee47 commented on #2158
I can post a full log of the scan at DBG verbosity. Would that help?

[2020-11-30 15:55] slaff commented on #2158
It was working just fine compiled under the Host architecture. Let me test with the absolute latest version from some minutes ago.

Yes, please.

[2020-11-30 16:03] mikee47 commented on #2158
[upnp.zip](https://github.com/SmingHub/Sming/files/5617049/upnp.zip)

[2020-11-30 16:04] mikee47 commented on #2158
That was taken with https://github.com/mikee47/Sming-UPnP/tree/fix/scanner-updates

[2020-11-30 17:37] slaff commented on #2158
The scanner works for me but I don't have a device like your one. Having a [Wireshark](https://www.wireshark.org/download.html) capture would help a lot more. This way I can see what is actually happening on the network level.

Looking at the log I can see the following:

Short version
------------------
1st request to your redsonic device is successful followed by expected close.
2nd request to y

[2020-11-30 22:24] mikee47 commented on #2158
OK, this test fetches two URLs to begin with, the second fails with bad request. Have included wireshark dump!

[upnp1.zip](https://github.com/SmingHub/Sming/files/5619058/upnp1.zip)

[2020-12-01 12:45] slaff commented on #2158
From the capture above I can see that the first and the second requests complete successfully. But then comes an explained, at least for me, response with bad request. From the capture it looks like the HTTP server pushed the response ( see line with yellow )?!

![image](https://user-images.githubusercontent.com/247452/100739037-cbca9000-33d6-11eb-807f-2424981d27b2.png)

# Tcp Stream 20

Following

[2020-12-01 16:42] mikee47 commented on #2158
I've pushed my test code to https://github.com/mikee47/Sming-UPnP/tree/fix/failed-http-requests.
It queues two description fetches, and the second one always fails. This happens with other devices - my Sony speaker, for example.
I've increased the 'no response' timeout from 2 seconds to 10 seconds and as you can see in the attached log although it succeeds every fetch after the first requires two

[2020-12-01 17:35] teicors opened #2161 "Cannot compile with latest Sming develop"
Hi,
I recently upgraded the Sming env. (git pull) I cannot compile anymore: the file
/opt/sming/Sming/Arch/Esp8266/Components/libc/include/c_types.h
is missed. I got it from the prev version of Sming in github and I can compile now.
platform esp8266

[2020-12-01 21:30] mikee47 commented on #2161
That file has moved into Sming/System/include as it is required for all architectures. I suspect you may have files left over from the previous version. Can you check with `git status` from your root Sming directory and remove any extraneous files.

[2020-12-01 21:44] mikee47 commented on #2158
@slaff Thanks for your help with this. I'm pursing my own leads but nothing to report yet...

[2020-12-01 22:40] teicors commented on #2161
I did before a
`make dist-clean config-clean components-clean submodules-clean`
but no luck. After your direction and checking with
`git status`
I found some spurious files
[code]
I removed them and I can recompile.
Thanks !

[2020-12-01 22:40] #2161 closed

[2020-12-01 23:51] mikee47 commented on #2158
Scanner now runs like a champ. It almost works now without any fetch delays at all, but I've reduced them and a full scan takes < 40seconds without any issues whatsoever.

[upnp.zip](https://github.com/SmingHub/Sming/files/5626109/upnp.zip)

[2020-12-02 17:56] mikee47 commented on #1676
Currently in progress at https://github.com/mikee47/Sming/tree/feature/partition-tables

[2020-12-03 17:54] mikee47 commented on #2158
I noted an issue in the ControlPoint response handling which now seems to be almost certainly related to the same issue.
See https://github.com/mikee47/Sming-UPnP/blob/3e66a17cbd9c9287485a4a2b177a79a0744d2f64/src/ControlPoint.cpp#L211 onwards.

There are two log files attached. In (2) the response is wrong, and it seems like that server is responding to the previous request rather than the intende

[2020-12-03 18:06] mikee47 commented on #2158
Note: The actual request/response handling is in `ActionRequest::send()` https://github.com/mikee47/Sming-UPnP/blob/3e66a17cbd9c9287485a4a2b177a79a0744d2f64/src/ActionRequest.cpp#L47 so actually unrelated...

[2020-12-03 21:28] mikee47 commented on #2158
@slaff The reason for the request failure is that the request body stream has been eaten, so re-attempting the request fails:

[code]

[2020-12-04 07:53] slaff commented on #2158
This is of course something to be expected. We don't keep a copy of the body.

[2020-12-04 16:23] #2001 closed

[2020-12-04 17:26] mikee47 commented on #1712
For PR #2171 I propose that the information provided by some build variables (see below) is placed instead in a hardware configuration file attached to the project (and under revision control).
Each file is specific to a hardware variant.
May I propose `.hw` as the file extension ? For example, `widget.hw`. We could have `widget32.hw` for an esp32 version, etc.

This would be supported by a python

[2020-12-04 18:36] mikee47 commented on #1712
For completeness, here is an example to show the general structure of the hardware configuration file:

[code]

It's clearer, multi-arch and we can add other fields as required (e.g. comments).

One file contains all appropriate settings. The build system would generate this for the user application,
which can then be edited as required.

The address is the most important field, so that goes first

[2020-12-04 18:37] mikee47 commented on #1712
For completeness, here is an example to show the general structure of the hardware configuration file:

[code]

[2020-12-06 11:46] slaff commented on #2158
@mikee47 I was able to reproduce the issue using an apache server that serves the description and the service xml files and sends Connection:close:
[code]

The content of the ssdp folder is attached as zip to this comment.

[ssdp.zip](https://github.com/SmingHub/Sming/files/5648686/ssdp.zip)

PR #2175 addresses the issue but I have to test it also with other devices and web servers. IF PR #2175 wo

[2020-12-07 20:47] Matzz commented on #651
I think it would be good to also add `getCookie` / `getCookies` methods to HttpRequest

[2020-12-08 21:17] #2158 closed

[2020-12-12 13:35] mikee47 opened #2181 "Build issues with latest ESP Quick Toolchain"
## Problem

When compiling with -M option to create dependency file on Windows, the output looks like this:

[code]

With existing toolchains (including host builds) we get this:

[code]

So the ':' is being escaped. This causes make to fail on subsequent builds because it doesn't match any defined targets.

## Test makefile

[code]

## Output (incorrect) with ESP_HOME set to ESP quick toolchain g

[2020-12-12 21:04] mikee47 commented on #2181
As per https://github.com/earlephilhower/esp-quick-toolchain/issues/23 this is a new GCC 10 feature so we'll need to work around it in the build scripts. I'll deal with this in #2180.

[2020-12-12 23:43] Matzz opened #2182 "Cannot receive big files on Linux Mint 20"
Hi,
I have quite weird problem. I cannot fetch huge files using WebServer and spiffs. When I request them `curl` / `netcat` just hangs.
It happens only when I access ESP8266 wifi using my Linux. When I switch to Windows on the same machine everything is working fine. Android phone is also downloading this file correctlly..
I wouldn't create that issue if I had some other networking issues with my

[2020-12-13 11:28] #2181 closed

[2020-12-14 11:16] slaff commented on #2182
Install Wireshark on the Linux machine where the problem happens. Reproduce the problem and during the reproduction capture with Wireshark  the incoming and outgoing data from the device to your computer and save it to file and send us the file (attach it to your next comment). My wild guess is that the [TCP MSS](https://en.wikipedia.org/wiki/Maximum_segment_size) value is problematic for your dis

[2020-12-14 11:23] slaff commented on #2182
Or maybe the timeout on the server is too low. You can increase the default server timeout to a bigger value like 5 or 10.
[code]

[2020-12-14 19:44] Matzz commented on #2182
I thought that it might be my laptop / distro related. So I downloaded Fedora live cd and started it on a different computer.
However the results were exactly the same. So it is Linux / Linux kernel related.

I allso tried to set folowing settings but without any success.
[code]

I also tested different file which contains many short lines rather than very long line like jquery.min.js. No luck.

[2020-12-14 19:59] Matzz commented on #2182
Wireshark logs:
[code]
[code]
Then netcat session hangs.

[2020-12-15 08:33] slaff commented on #2182
It would be great to send me the wireshark capture. The logs don't contain all the information.

That is not a valid HTTP request to start with. You are missing the version information in the first line as well as a mandatory HOST header. A proper way to to test will be:

[code]

[2020-12-15 09:05] Matzz commented on #2182
@slaff I just wanted to make it minimal to reduce influence other parts of request. Usually GET just works (and it work here for small file).
I sent you Wireshark log for `curl 192.168.4.1/get?file=jquery.min.js -i` request to email address found in Sming git log.

[2020-12-15 09:46] slaff commented on #2182
Short story: Please, send me a sample so that I can reproduce the problem locally? I am also running Linux machines.

Long story: There is nothing suspicion in the TCP connection in the capture that you have send me.  There is just no HTTP response.

What I can see is that you are actually using your device as access point and you are connected to it. This is an important detail that was omitted i

[2020-12-15 09:58] Matzz commented on #2182
@slaff The minimal code I use is available here - https://github.com/Matzz/SmingBigFileIssue
It should be enough to flash it to ESP8266 and try to connect.
Thanks!

[2020-12-15 11:41] slaff commented on #2182
Works like charm for me. No hiccups, no delays. No issues in Wireshark. I am sending you the compiled code that I have used together with the application output.txt and the config.txt with the configuration options used to compile this application.

You can test the same compiled code by flashing the stuff (make flash). The commands that I have used to test were:
[code]

[SmingBigFileIssue.zip](ht

[2020-12-15 12:03] Matzz commented on #2182
@slaff I flashed your roms that way:
[code]
and still have the same issue. Maybe its hardware problem of my wemos or some internal persistent config issue? I'll try with another chip and post update here.

Thanks for taking your time.

[2020-12-21 10:01] Matzz commented on #2182
@slaff I ordered brand new wemos chip and have the same effect. Maybe its sth with my ESP/Sming setup wrong?
Do you think such issue could be related to esp_init_data_default.bin (that's is the only firmware piece which I not flashed from your archive SmingBigFileIssue.zip)
 I'll try to download some Sming docker image and try reproduce it there.

[2020-12-22 03:41] anakod commented on #2182
May be issue related to power supply? Can you check it with another USB cable and different power supply?

[2020-12-25 05:10] lawrence-jeff commented on #1297
I noticed this is still an issue when reinstalling today on a clean Win10 64 bit box.  I saw the same thing where 7za was hanging, looking at the command line passed to this I see the Pipe is still in there which is tripping it up (see info from last year). I'm not sure how this isn't failing for everyone that uses the quickstart instructions for windows.  I can't seem to find the line that runs 7

[2020-12-25 08:04] mikee47 commented on #1297
Try the manual install for now - I'll look at a fix for the auto install, thanks for the info.

[2020-12-25 16:05] Matzz commented on #2182
@anakod @slaff Its not a power supply issue.
To be sure that I use clean env I downloaded precompiled esp toolchaing (SmingTools). With the same result.
So the issue is not related to:
- computer (tested on 2 laptops)
- toolchain (downloaded precompiled)
- chip (tested on two)
- command (tested curl, nc, and wget)
- client system (the same on ubuntu and fedora)

The next step was to run ubuntu doc

[2020-12-25 16:56] Matzz commented on #2182
I finaly resolved it on my laptop. Setting MTU to 1500 fixed that. My defaut value was 1280 (which is somehow related to ip6)
[code]
[code]

[2020-12-25 17:36] Matzz commented on #2182
https://github.com/SmingHub/Sming/issues/406

[2020-12-26 08:21] mikee47 commented on #1297
@lawrence-jeff The choco install should now be fixed. You'll need to do this post-install:

- Open a new command window so environment is updated
- Run these commands:

[code]

Changes:

* ESP8266 UDK is outdated, pulls in gnu20 version of esp8266 ESP quick toolchain (GCC 10.2)
* Pulls in `master` Sming branch - not currently compatible with GCC 10.2 (requires 4.1.2) hence switch to `develop` bran

[2020-12-26 09:55] vesley opened #2186 "make flash is not flashing the esp8266 modul"
I've installed Sming and the ESP toolcahin as described. I can also successfully build/Compile the Basic_Blink example. But when I try to flash the esp module (it is a Wemos D1 mini), the command starts the pyserial monitor without flashing the module. There are no errors on the console. What I'm doing wrong?
Here is the console output:

[code]

Best regards
Veselin

[2020-12-26 10:02] mikee47 commented on #2186
esptool has been moved, indicated by this warning:

[code]

Please `rm -f /opt/Sming/Sming/Arch/Esp8266/Components/esptool`.

Explanation:

When doing a `git pull` please also run `git status` to ensure there aren't any artifacts from previous versions. Specifically, if folders are moved the previous ones may remain must be removed manually.

[2020-12-26 10:36] vesley commented on #2186
I can't sse that the esptool was moved. I removed the folder you mentioned, but still not working. I forgot to say that I'm using Kubuntu.

[code]

After I removed the folder I did git pull, git status:
[code]

[2020-12-26 11:20] #2186 closed

[2020-12-27 02:19] lawrence-jeff commented on #1297
@mikee47

Ok - better but still not quite working without some changes
One thing I notice is the SMING_HOME variable created  doesn't seem correct - it is C:\tools\Sming where on the manual install it is set to c:\tools\Sming\Sming (which seems the correct value as it complains until this is fixed)
Also didn't follow Set Python=python, should the environment variables be
Set PYTHON=C:\Python39\pyt

[2020-12-31 10:21] mikee47 commented on #1297
@lawrence-jeff Thanks for checking this out. I've updated the installation instructions which hopefully will clarify some points. See here https://smingdev.readthedocs.io/en/update-install-docs/arch/esp8266/getting-started/windows.html.

I'm not sure on the best way to handle python installs... it seems what works on one system breaks on another!
I've not specified any particular python version, b

[2021-01-01 15:01] lawrence-jeff commented on #1297
@mikee47 Hey Mike -I will spin up a new clean VM and go through the updated instructions to help validate. I notice you don't have pulling in the dev branch in the updated instructions but did in these instructions - is that no longer needed? (or built into the choco)

[2021-01-01 15:07] mikee47 commented on #1297
@lawrence-jeff For now you'll need to pull in the develop branch manually, but once 4.2.0 is released this step won't be required.

[2021-01-01 15:26] lawrence-jeff commented on #1297
Ok - spun up a clean Win10 VM (in Azure MSDN subscription - so a default clean install)
Ran through the instructions line by line
Items I noticed

- "Now, open an administrative command prompt and run:" under the choco sming part -  You don't need this line, if you are following the instructions you still have an administrative cmdline open from the earlier steps

The SMING home variable as I ment

[2021-01-01 15:30] mikee47 commented on #1297
But you're still in the administrator command prompt. If you open a new (non-admin) command prompt, SMING_HOME should be correct. Can you check?

[2021-01-01 15:44] lawrence-jeff commented on #1297
That is a new command window as the instructions indicate (why there is no command history from the installs above).  I'm not sure why it shows as 'administrator' in the title bar, I'm not explicitly running it as admin, just opening cmd from the start menu. Just to be sure I rebooted the machine, and here are the variables in a fresh window. It still shows as 'administrator' which I'm not sure wh

[2021-01-01 15:47] lawrence-jeff commented on #1297
Perhaps more relevant from the choco logs

[code]

[2021-01-01 15:56] mikee47 commented on #1297
That's an old version! Can you dump the entire choco log? Might shed some light on what's happening...

[2021-01-01 16:02] lawrence-jeff commented on #1297
[chocolatey.log](https://github.com/SmingHub/Sming/files/5759137/chocolatey.log)

[2021-01-01 16:08] mikee47 commented on #1297
OK, I see where I've gone wrong. I assumed that the latest package versions would be used, but they need to be explicit.

I'll do some updates and drop you a note when it's ready.

(My testing didn't use  fresh VM so guess the packages were cached somewhere. Sorry.)

[2021-01-01 16:43] lawrence-jeff commented on #1297
Np- that is why I volunteered to help test, always good to have a second pair of eyes on things

[2021-01-01 20:42] mikee47 commented on #1297
I've been chewing on this one a little. My current thinking is to get rid of `sming.core` entirely, just add that as a manual step. That way, the installation only deals with the tools and not Sming itself, which is more consistent with how the linux install works.

[2021-01-04 10:06] slaff commented on #1297
@mikee47 I like the idea but let's leave this change for 4.3. 4.2.x will be LTS. Ping me when this PR is ready so I can merge it and start the release process for the long awaited 4.2.0 :)

[2021-01-04 16:28] mikee47 opened #2192 "Ongoing Travis CI support"
Looks like it's going to start costing money for this. Do we need to migrate away from travis?

See https://www.r-bloggers.com/2020/11/moving-away-from-travis-ci/

[2021-01-04 18:09] mikee47 commented on #2192
Some options:

* Move to appveyor for linux testing
* Set up private CI server
* Look at some other CI service(s)
* Run CI tests locally

[2021-01-05 12:23] mikee47 commented on #2192
For info, I'm currently working on the appveyor port... PR due shortly

[2021-01-06 03:34] lawrence-jeff commented on #1297
@mikee47 - Where did the 4.2/4.3 decision leave things, the current instructions don't work as written.

[2021-01-06 09:05] mikee47 commented on #1297
@lawrence-jeff Should now be fixed, just awaiting merge and updating of the packages. Your log file was interesting, specifically the line right near the end:

[code]

Running `choco list sming` we get this:

[code]

That 'approved' package is getting installed despite the old version number. I elected to fix this by creating a new `sming.source` package. All the other package versions are correct

[2021-01-06 09:54] mikee47 commented on #1297
@lawrence-jeff OK packages should be updated now. You can check with `choco list` and `sming.sources` should appear.

[2021-01-15 16:17] #2069 closed

[2021-01-15 16:17] slaff opened #2195 "Preparation for Release 4.3.0"
This issue is created to collect all the tasks we need to do before the 4.3.0 release.

### Source Code
- [x] Update Sming/Core/SmingVersion.h.
- [x] Update Readme.md.
- [x] Merge develop into master.
- [x] Tag the source code in the master branch.
- [x] Add upgrade document

New features
------------------
- Partition tables #2171 with rBoot support #2258
- Installable File System (IFS) #1579
- A

[2021-01-29 23:47] jcarvalhogo opened #2205 "Problems with building Sming"
I define the environment variables ESP_HOME=/opt/esp-quick-toolchain
and SMING_HOME = /Volumes/DEV-PART/iot/espressif/Sming/Sming

I follow the following steps in an attempt to build an example

1: I downloaded the project in the repository: https://github.com/SmingHub/Sming.git
2: I run make submodules and waited to download everything
3: I rum the make test

That was my way out:
...
Building /Vo

[2021-01-30 09:22] mikee47 commented on #2205
`clib-Sming-.a: file not recognized` is interesting, there should be a hash included in the filename (e.g. `clib-Sming-4f9c9eb6626d9c7d24853beedc58d107.a`). See [COMPONENT_VARS](https://smingdev.readthedocs.io/en/update-getting-started/_inc/Sming/building.html?highlight=variant#envvar-COMPONENT_VARS) for an explanation of this behaviour.

This implies `md5sum` is missing; try `brew install md5sha1

[2021-01-30 09:29] mikee47 commented on #2205
@jcarvalhogo Could you try something else for me? Edit your `build.mk` file (in $SMING_HOME) and amend line #227 from this:

[code]

to this:

[code]

The `md5` utility is standard for MacOS so if this works we can amend the build scripts accordingly.

Thanks.

[2021-01-30 12:11] jcarvalhogo commented on #2205
Hello Mikee47, how are you? I follow your instructions.
first I tried to modify line 227 as you requested, I was not successful, my exit was:

md5: option requires an argument - s
usage: md5 [-pqrtx] [-s string] [files ...]
...
after the failure i went back to line 227 as before.

My second alternative was to proceed with the installation of the brew install md5sha1sum as you suggest, I ran the co

[2021-01-30 17:31] mikee47 commented on #2205
I've succeeded in getting an installation of Catalina (in VirtualBox) for testing. After following the instructions [here](https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/macos.html) I find that `md5sum` is available.

However, I did get an error patching submodules as MacOS `cp` command doesn't have the `-u` option. @jcarvalhogo Did you have this issue?

[2021-01-30 17:42] jcarvalhogo commented on #2205
yes i had the same problem, after i followed his guidance and installed the "brew install md5sha1sum" as things worked

[2021-01-30 21:42] mikee47 opened #2206 "OtaUpgrade library doesn't work for MacOS"
On MacOS the `HttpServer_FirmwareUpload` sample fails to build with:

[code]

This code is generated from the makefile, `Libraries/OtaUpgrade/component.mk` at line 99:

[code]

The MacOS bash `date` function doesn't support nanoseconds, therefore the make logic produces `16120425073NLL` with the extraneous 'N' character.

Are nanoseconds actually necessary? If so, could use a python fragment, such

[2021-01-30 21:49] mikee47 commented on #2206
This line appears to work:

[code]

[2021-01-31 08:55] adamvm opened #2207 "Basic_Blink strange communication"
Hi,

I recently installed Sming on Ubuntu 20.04

Compilation status is ok, I think
[code]

After make flash I see no significant/any errors beside this:

seems that command turns on serial terminal, but what I received is:
[code]
continously

[2021-01-31 09:15] mikee47 commented on #2207
Hi @adamvm, welcome to Sming!

The garbage you get is the ROM code and bootloader outputting at 74880 baud. Sming uses a default of 115200, but it doesn't set this until later.  You can set different speeds for terminal and flashing like this:

[code]

This should then show you what the problem is. My guess would be that you need to run `make flashinit` to write the ESP8266 configuration data to t

[2021-01-31 09:17] mikee47 commented on #2207
See also https://sming.readthedocs.io/en/latest/arch/esp8266/getting-started/config.html

[2021-01-31 09:35] adamvm commented on #2207
Great thanks, it works.

What was enough is:

[code]

[2021-01-31 09:36] #2207 closed

[2021-01-31 18:23] iliis opened #2208 "Switching to GPIO2 as TX on UART0 after initializing does not work."
I'm using a H801 LED driver board, which uses GPIO2 to transmit UART0 data. The following works:

[code]

While this does not:

[code]

In both cases I receive the bootloader output (at 74480 baud), but only the first version produces anything when calling `Serial.write()`.

I've tried both with the current develop (bdf1d31db839385a8e1075f901b9cd95d6fb538d) and master (4.2.0, 7bc3603e22ca91c36d0b6

[2021-01-31 19:03] iliis opened #2209 "SPIFF fails to flash on 1M boards"
I have an H801 LED driver board with 1MB of flash.
Using current Sming (develop, bdf1d31db839385a8e1075f901b9cd95d6fb538d) and the toolchain from https://github.com/SmingHub/SmingTools/releases/download/1.0/x86_64-linux-gnu.xtensa-lx106-elf-e6a192b.201211.tar.gz, the following empty application fails to flash properly:

---

**Makefile:**
[code]

---

**component.mk:**
[code]

---

**application.c

[2021-01-31 20:34] mikee47 commented on #2209
This will all change soon. See #2171

[2021-01-31 20:38] mikee47 commented on #2208
@iliis Aha! You have found a bug in the uart driver. Try this patch to `Sming/Arch/Esp8266/Components/driver/uart.cpp`:

[code]

[2021-01-31 21:40] iliis commented on #2208
That was quick! And yes, it works :)

[2021-02-01 00:28] iliis commented on #2209
After playing around a bit it seems that this is only the case for `make flashinit`. `make flash` will happily write stuff over other stuff so the module spews out some garbage and crashes :frowning_face:

I think this is because `make flashinit` writes some things (e.g. `esp_init_data_default.bin`) that aren't written during a normal `make flash`, so the esptool doesn't know that there is somethi

[2021-02-01 09:06] #2208 closed

[2021-02-01 09:10] mikee47 commented on #2209
Feel free to test out #2171 if you like, it's fully functional just needs a bit more documentation...

[2021-02-01 09:23] slaff commented on #2206
Can you put a PR with this fix?

[2021-02-01 09:26] slaff commented on #2209
@iliis Take a look at this old discussion: https://github.com/SmingHub/Sming/issues/1656#issuecomment-479884834

[2021-02-01 10:39] mikee47 opened #2213 "Conflicting `BYTE_ORDER` definitions"
When building `HttpServer_FirmwareUpload` sample with esp-quick-toolchain, a `"BYTE_ORDER" redefined` error is raised. CI builds samples with `STRICT=1` which converts this to a warning, however this is unsafe as the definitions are incompatible.

First definition is in `esp-quick-toolchain/xtensa-lx106-elf/xtensa-lx106-elf/include/machine/endian.h`
Conflicting definition is in `Sming/Arch/Esp8266

[2021-02-01 10:57] iliis commented on #2209
I've seen this, but unfortunately reducing SPIFF_SIZE alone wasn't enough. Even with just a few hundred bytes, it still gets written to 0x100000.

[2021-02-03 23:05] vesley opened #2214 "Code completion and debugging not working in Eclipse CDT with Sming 4.2.0"
Hello Sming team,

I installed few years ago Sming 3 on a Macbook with Eclipse CDT. Code completion and debugging worked very well.
Unfortunately I didn't had time to work on my project.
As I have more time now, I want to continue working on my project. But I don't have my Macbook anymore.
Currently I'm working on Ubuntu 20.04.
I downloaded the [quick toolchain](https://github.com/earlephilhower/e

[2021-02-03 23:26] mikee47 commented on #2214
@vesley Hi there and welcome back! You can chat here https://gitter.im/SmingHub/Sming but it's fine to open an issue.

Since version 4 we have a new documentation portal, see here https://sming.readthedocs.io/en/latest/information/debugging.html for up to date guidance.

Setting up debugging in eclipse is quite fiddly so please let us know how you get on, happy to help.

[2021-02-03 23:29] mikee47 commented on #2214
Incidentally, I've been using [VS Code](https://code.visualstudio.com/Download) quite a lot recently - it's a lot more responsive than eclipse and has loads of plugin support. I develop on Windows (with WSL) but it's also available for linux so worth a go!

[2021-02-04 08:28] #2214 closed

[2021-02-04 10:08] slaff commented on #2209
It is possible to change the starting address of spiffs using the RBOOT_SPIFFS_0 directive. Before that maybe it is a good idea to understand the location of the different pieces. In 1MB Flash you have the data divided into 256 sectors. One sector is 4K or 0x1000 as hex representation.

| Sector | Start Address | Used for |
|----|---------------|------------------------|
| 0  | 0x000000 | rboot.bi

[2021-02-04 11:07] #1444 closed

[2021-02-04 22:40] #2206 closed

[2021-02-14 10:41] #1676 closed

[2021-02-25 09:23] #2205 closed

[2021-02-25 09:23] #2192 closed

[2021-03-04 13:42] slaff commented on #1656
Should be fixed in the latest `develop` with the introduction of partition tables #2171.

[2021-03-04 13:42] #1656 closed

[2021-03-04 13:42] slaff commented on #2209
Should be fixed in the latest `develop` with the introduction of partition tables #2171.

[2021-03-04 13:42] #2209 closed

[2021-03-04 14:12] iliis commented on #2209
Sweet, thank you! Also for the detailed and thorough answer above. I unfortunately hadn't had time to work on this in the meantime.

[2021-03-05 13:12] joerg65 opened #2242 "Esp32 project with WPS does not compile"
Hello,
I try to connect my Esp32 board with WPS, but I get compiling errors.
[code]
In Init I do:
[code]
BTW.
Without WPS my project compiles o.k.
I give`ENABLE_WPS=1` with make.
I am on devlop branch.

[2021-03-05 13:18] slaff commented on #2242
@joerg65 Your observation is correct. WPS support is still missing for the Esp32 architecture. If your C/C++ skills are good you can try to add it or you should wait for a contributor to help here.

[2021-03-05 16:23] joerg65 commented on #2242
I see. I have made this implementation, based on what I have found in the example of esp-idf:
[code]
When I start the WPS process with my FritzBox, pushbutton methode, no PIN, it gives disconnect error 204 after some seconds:
[code]
As of sdk it means: `HANDSHAKE_TIMEOUT`.

I will try it with Arduino, to see how it is doing there.

[2021-03-05 17:08] joerg65 commented on #2242
Need to implement an event handler ...

[2021-03-05 20:31] joerg65 commented on #2242
I have implemented an event handler. What I don't understand is that with this code, only for one time the process worked and the Esp32 was connected to my network. I pressed the connect button on the Fritz Repeater. Later it never connected again, doesn't matter if started WPS by webpage or button at Box or Repeater.
[code]
If someone here can try it with that code?
[code]

BTW. there is a confli

[2021-03-06 17:07] joerg65 commented on #2242
So far no success. I tried with the wps-example from esp-idf and this is working. I have a log :
[code]
And from not working implementation:
[code]
Note that after `WIFI_EVENT_STA_START` this: `W (1265) wifi:sta_scan: STA is connecting, scan are not allowed!`

[2021-03-07 05:57] frankdownunder opened #2246 "/opt/sming/Tools/install.sh fails on clang-format-6.0 \"
ubuntu 20.04 doesnt have  clang-format-6.0 but it does have clang-format.

[2021-03-07 08:25] mikee47 commented on #2246
Strange. Here's what I get:

[code]

[2021-03-07 09:10] slaff commented on #2242
@joerg65 Make a PR with your code changes so far. Make sure to put [WIP] at the start of the name of the PR. This way we can easier look together and change it to something working.

[2021-03-07 09:12] slaff commented on #2246
@frankdownunder Try the following command: `apt install clang-format-6.0`

[2021-03-07 14:26] mikee47 commented on #2242
OK, I've tidied the code up a bit then modified the `Basic_Wifi` sample, replacing `WifiStation.startScan()` with `WifiStation.wpsConfigStart()`. Here's what happens when I hit `connect` on my router:

[code]

[2021-03-07 18:01] joerg65 commented on #2242
I wonder that you don't have `W (1265) wifi:sta_scan: STA is connecting, scan are not allowed!`. I don't have it with the wps-example of esp-idf, but with my Sming app, also with your latest commits.

[2021-03-07 18:04] mikee47 commented on #2242
Have you commented-out the 'startScan' call?

[code]

[2021-03-07 18:20] joerg65 commented on #2242
I have started from MQTT example. As I use since years, but now with Esp32. There is no startScan call. But I can try with now the same Basic_Wifi example as you. Meanwhile I tried again the wps-example from /opt/esp-idf and this is working always I push the connect button of the near repeater, like in your log.

[2021-03-07 18:57] joerg65 commented on #2242
OK, when I try the Basic_WiFi, it works!
When I change my app init to:
[code]
it works too!
And I don't have `scan are not allowed!` warning this way.
So the WifiAccessPoint must be switched on to make WPS work. I haven't thought so.

[2021-03-07 20:11] mikee47 commented on #2242
That's an interesting thought! I've tested it by explicitly disabling the AccessPoint (fixing a nullptr bug), but it still works for me.

In `Basic_WiFi`:

[code]

Log shows:

[code]

Clearly something else is going on...

[2021-03-07 20:16] mikee47 commented on #2242
Searching for `scan are not allowed` warning includes this https://esp32.com/viewtopic.php?t=8788.
The message is inside `components/esp_wifi/lib/esp32/libnet80211.a` so if you're not seeing a problem in your code then it could be an ESP-IDF quirk.

[2021-03-08 08:25] frankdownunder commented on #2246
I'm actually using 20.10 (GROOVY GORILLA). Is that version of ubuntu supported?

[2021-03-08 08:30] mikee47 commented on #2246
According to https://packages.ubuntu.com/groovy/allpackages the oldest version is `clang-format-8`. I have a feeling that it produces (slightly) different results to version 6 so probably won't work at the moment. I cannot see `clang-format-6` in the backports library.

[2021-03-08 08:46] joerg65 commented on #2242
I have tried with several settings.
Works:
[code]
Bootloop:
[code]
Works:
[code]
Don't work, `scan are not allowed!`:
[code]
Don't work, `scan are not allowed!`:
[code]
So `WifiAccessPoint.config` is the one that makes it work. But I don't have idea why, also after looking into code of AP.
BTW. I saw already from where does come the warning. I saw also some of conversations about it from Arduino u

[2021-03-08 09:17] mikee47 commented on #2242
Have you pulled the latest changes from this PR? I added a fix for that bootloop (nullptr in setIp)

[2021-03-08 09:37] joerg65 commented on #2242
No, but that is not the case. I wanted to show when the warning does show up. Anyway I won't use it this way.

[2021-03-09 10:14] mikee47 opened #2251 "OTA upgrade to Sming 4.3"
I've opened this issue to discuss how OTA (over-the-air) upgrading of existing ESP8266 devices might work when migrating to the new partition-table structure.

With partition tables the ESP8266 layout has necessarily been altered. See https://sming.readthedocs.io/en/latest/upgrading/4.2-4.3.html.

Re-flashing a device to 4.3 should be as simple as:

[code]

I've used the Microsoft (TM) Notepad+Pen

[2021-03-09 16:30] slaff opened #2253 "[Feature request]: Use kconfiglib to manage the different configuration settings"
Sming has multiple configuration settings that allow the framework to be tweaked to our needs. At the moment these configuration settings can be found by looking at the documentation or/and at the component.mk files. It would be better to have easier visual selection of those features. For example running in your application a command like the one below
[code]

will take care to fetch all configur

[2021-03-09 16:51] mikee47 commented on #2253
Should this be in #1712?

[2021-03-09 16:56] slaff commented on #2253
I guess we should start working on this :).  At least have a PoC that can be polished later on.

[2021-03-09 16:58] slaff commented on #2253
Closing as duplicate of #1712.

[2021-03-09 16:58] #2253 closed

[2021-03-09 18:22] mostorer opened #2254 "rBoot OTA and firmware filesystem"
Hi all. New to Sming, I'm trying to enable OTA for a 1MB ESP8266 (ESP-03).
Started from Basic_rBoot example, customized the HWCONFIG and set parameter for RBOOT_TWO_ROMS in component.mk.

Rom OTA is now working fine (to be honest I had to change Rom1 start address to 0x082000 as with 0x080000 the second rom was always corrupted), so I added the OTA update for an FWFS partition (next step is to cre

[2021-03-09 21:09] mikee47 commented on #2254
Looks like things have got a little out of sync. Try `make flashboot` to reset the rBoot config to defaults. (Note: rBoot is **not** partition-aware, it keeps its own configuration by addres.)

If you run `make map` you should get this:

[code]

Then in the `Basic_rBoot` sample type `info`:

[code]

The ROM addresses must agree (i.e. `ROM2 = 0x80000`). Note: I've modified `Basic_rBoot` to print th

[2021-03-09 21:55] mikee47 commented on #2254
@mostorer Sorry, I didnt' really answer your question! The zip file you attached doesn't work for me, I get 'Not Found' error?

[2021-03-09 22:17] mikee47 commented on #2254
Something to look at is the `[Partition] Invalid range, address: 0x00010074, size: 0x00000008` error, it's trying to read past the end of the partition (which is at offset 0x10000). That suggests a corrupted partition. You can check this by reading it out again and comparing with the source binary:

[code]

The file gets written to `out/Esp8266/debug/fwfs0v1.read.bin` so you can open this in a gra

[2021-03-09 22:44] mostorer commented on #2254
I have made what you suggested, so the `make flashboot`, firstly in Basic_rBoot example. Now I have:
[code]
and `info` returns:

[code]

So, exactly as expected.
Then I made the same on my test project, including FWFS.
This is partitions map:

[code]
and `info` command returns:

[code]

So, it seems first issue has been solved.

[2021-03-09 22:58] mostorer commented on #2254
Yes, it seems the fwfs partition got corrupted.
The strange thing is that, before when rBoot seemed to be not in synch (ROM1 at 0x082000) once flashed the partition was readable and mountable.
Now that the rBoot partition table is correct, the fwfs partition is not mountable from the beginning:
[code]

From the first boat after flashing, I obtain the error
[code]

Just to make a double check, I ha

[2021-03-10 01:17] Matzz commented on #2182
Im closing that issue as it seems to not be directly related to Sming.

[2021-03-10 01:17] #2182 closed

[2021-03-10 07:41] mostorer commented on #2254
New test done, successfully.

I have modified the partition table to have both ROMs of equal size, enlarging the fwfs partition:

`{
	"name": "Two ROM with Hybrid FS in 1M standard",
	"comment": "Should work with any Esp8266 variant",
	"arch": "Esp8266",
	"partition_table_offset": "0x2000",
	"devices": {
		"spiFlash": {
			"type": "flash",
			"size": "1M",
			"mode": "dio",
			"speed": 40
		}
	},

[2021-03-10 08:26] #2242 closed

[2021-03-10 09:12] mikee47 commented on #2254
@mostorer I have been unable to reproduce the issues you describe, but would really like to get to the bottom of this as it's clearly not an ideal first experience for you! If you'd like to push your project to a github repo. I'll take a closer look.