[2017-04-06 18:03] zgoda commented on #1048
Okay, will try this and report back.

[2017-04-06 18:11] ADiea commented on #1048
because stuff like
assertEqualsString: Demo != Demo�� @p��?
could mean that zero character at the end was not present perhaps

[2017-04-06 18:23] ADiea commented on #1063
Yes your observation seems valid. I guess no=one used PSTR in the project yet :)

[2017-04-06 18:32] ADiea commented on #1050
Original topic: So this means that for optimizations we could decorate stack allocated destination buffers with __attribute__((aligned(4))) ?

mforce-l32 topic: So on the plus side we get rid of all the _P functions and also for all the debug strings will not have to generate so much code, this could balance the size of code but not sure about the speed which matters especially on aes and ssl stuf

[2017-04-06 21:00] jcmvbkbc commented on #1050
Yes, that would help with the current memcpy_P implementation.

Only if their replacements are compiled with the -mforce-l32. You can get rid of pgm_read_byte/pgm_read_word.

[2017-04-07 05:37] tius2000 opened #1066 "m_vsnprintf does not return size of required buffer"
It seems to me, that _m_vsnprintf_ does not return the size of the required buffer if _maxLen_ is too small. _Print::printf(...)_ does handle this by increasing the size by one until the string fits, but this **very** inefficient.

[2017-04-07 05:57] tius2000 opened #1067 "possible extension: PROGMEM methods for Print.cpp"
I recently added some missing methods to Print.cpp:

[code]

I can contribute the implementation if there is any interest. However, there is a conflict with the macro _printf_P_ in FakePgmSpace.h :-(

I do not fully understand the implications, but IMHO it would be better to use inline functions instead of macros in FakePgmSpace.h - what do you think?

[2017-04-07 07:32] ADiea commented on #1067
Probably your implementation of printf_P is the same so should be no issue replacing printf_P macro with inline function. For debug strings printf_P_stack is used which does no malloc and is safer.

[2017-04-07 07:35] ADiea commented on #1066
it's difficult to know the exact size needed. If you run out of buffer you cannot print more. There is actually an overflow guard and if current size < maxSize-overflow_guard then maxlength is returned.
I agree that increasing by 1 byte is inefficient I would increase by 16 for ex. This way we also make fewer mallocs => better control of fragmentation

[2017-04-07 08:21] zgoda commented on #1065
This fixes only part of the problem with `Basic_ProgMem`.

[2017-04-07 08:22] zgoda commented on #1048
With this fix:

[code]

So `strcpy_P` test passes but `sprintf_P` is still broken.

[2017-04-07 12:01] zgoda commented on #1047
One point is missing from @slaff list - documentation. At least for disconnect reasons, but documenting meaning of particular arguments in delegates would be welcome as well. Now it's just argument type that is available in WifiEvents.h.

[2017-04-07 17:43] Programming4life opened #1069 "Is a SSL websocket server supported?"
Can I create a SSL/TLS websocket server? I know the websocket client supports ssl, but what about the server?

[2017-04-07 21:12] slaff commented on #1069
@Programming4life Not right now. But I am working heavily on this and it will be available for testing soon. I will let you know when it is ready.

[2017-04-08 09:41] #1022 closed

[2017-04-10 07:44] zgoda commented on #1035
I would start with ensuring public API compatibility in base facilities like SPI, I2C, 1Wire. This way many libs that interface hw using standard protocols should be readily compatible.

[2017-04-10 08:18] slaff commented on #1047
In PR #1071 waitConnect is deprecated and will be removed in the coming versions.

[2017-04-10 08:26] avr39-ripe commented on #1035
May be we should go further and port Sming on top of esp8266/Arduino core? I personally like Sming very much, especially for it event driven approach. As for me Sming uses esp8266 in much proper way than esp8266/Arduino. BUT.. Arduino have terribly bigger community and greater popularity so some parts of Arduino code is much more polished than what we have in Sming. Moreover, as I can see we port

[2017-04-10 09:24] #1050 closed

[2017-04-10 14:44] hreintke commented on #1035
@avr39-ripe :
I have been thinking along these lines too and think it is feasible.
Already had a part of Sming (the network (tcp/http))  running on the "Arduino/ESP8266" environment.
I then considered Sming being a library itself on top of the Arduino,

[2017-04-10 15:00] avr39-ripe commented on #1035
@hreintke GLAD to hear you again!!!
Can you share you work? You also said that you port some part of Sming on top of esp32/Arduino.. can you share this also?
I think we have many good things in Sming, better or just other than in Arduino, but foundation of Arduino, HAL to mention is what we should not reinvent. And as I said - code share between two projects is way to go..

[2017-04-10 16:29] #1065 closed

[2017-04-10 16:32] slaff commented on #1047
The follow-up work from this PR #1072 will replace all occurrences of waitConnect with their WifiEvent alternatives.

[2017-04-10 16:32] #1047 closed

[2017-04-11 19:23] tius2000 commented on #1066
Hi @ADiea, I will have a look on it try to find a solution.

[2017-04-11 19:45] zgoda opened #1076 "Liberal use of String class"
I'm just a noob when it comes to embedded programming so bear with me if I am asking funny questions.

I've been told many times that dynamic memory allocation in embedded programming is root of all evil and everytime you use `String` instance a sweet little chimpanzee is killed. Now I am looking at Sming code and I see `String` everywhere, passed by value to functions, concatenated many times, so

[2017-04-11 22:58] tius2000 commented on #1066
PR #1077 should fix this, perhaps you can take a look @ADiea? Unfortunately I had to change the existing logic, hope I got it right.

[2017-04-12 08:19] ADiea commented on #1076
You are right... if you have time please find as many places where String is passed as value and could be passed as ref/ptr and make a PR it will improve fragmentation.
Also all core functions in sming should NOT use String at all on the long term.

When you create a string object internally malloc is used to reserve string_length bytes of RAM on heap. When a string is destructed free is used to u

[2017-04-12 11:54] zgoda commented on #1076
If by "core" you mean all what is included in `SmingCore.h` then this is going to be massive. And will break a hell of backward compatibility.

[2017-04-12 12:22] ADiea commented on #1076
I was thinking of the Tcp stuff. TCP client, server and derived classes. I guess here we use a lot of Strings to operate on buffers.

[2017-04-12 13:11] zgoda commented on #1076
Is there anything (in SDK?) that could help compare heap fragmentation? Measure it in quantitative way so it can be compared between invocations. Because `system_get_free_heap_size()` will return only total free memory size, including "holes".

[2017-04-13 12:38] ADiea commented on #1076
Does not exist yet. I plan to do it based on umm_malloc but did not yet had time to start this task.

[2017-04-13 13:12] zgoda commented on #1076
I had something like this on AVR, bunch of functions that returned eg largest free block, smallest block, number of free blocks and so on.

[2017-04-18 07:02] OrWest commented on #775
I had same error on MacOS.
@harry-boe post has helped me resolve this issue. Thank you.

But additionally, I have removed sdk link in esp-open-sdk folder, because make hadn't want start.
Then make file had finished successfully.

[2017-04-18 09:22] tius2000 commented on #1048
Can you try #1077? It might fix the "(...)" issue.

[2017-04-18 16:55] tius2000 commented on #1067
I created a PR (#1094), perhaps you can have a look @ADiea? Stack space is allocated on demand, so malloc is not needed. However, I do not know how to fix the conflict with the macro _printf_P_ in FakePgmSpace.h :-(

[2017-04-18 20:45] verybadsoldier commented on #547
I am also experiencing a high latency when sending MQTT messages to the broker. I am on Sming 3.1.2. Latency is wobbling between very low (~ 50 ms) and quite high (~ 500 ms).
This issue here is closed but I could not find a solution. Is there anything that can be done to fix this? Thank you guys.

[2017-04-19 08:14] zgoda opened #1095 "Do not start network operations in system ready handler"
In discussion in PR #1092 I've been told that system ready handler is wrong place to start any network operations because it is related only to TCP stack and not to actual network connectivity or readiness of particular components like STA or AP. The samples that use system ready handler to start networked operations are HttpServer_ConfigNetwork, DNSCaptivePortal and to some extent Basic_WiFi.

[2017-04-19 10:06] slaff commented on #892
@ADiea how about adding that change "Possible SDCard library fixes (will compare and see)" ?

[2017-04-19 11:01] ADiea commented on #1067
Reviewed the PR. I think only way to avoid name collision is to make printf_P a function in FakePgmSpace...
Or to rename the printf_P function in Print class. Or to rename printf_ in Fakepgmspace.h to something like PRINTF_P (macro case) but please make sure it is not used in other parts of the code. Also this last option will break user code if someone is relying on printf_P as a global symbol.

[2017-04-19 14:17] ADiea commented on #892
My current hardware is like this: I have a IO expander that controls Chip select lines for SD card and for another spi device - because I have too little io pins for all the stuff I need to do... Thus I have added a extension to spi base class, a chip select delegate possibility to control cs from application side.

Normally in Arduino world application is responsible for chip select spi class doe

[2017-04-20 02:22] fernandopasse opened #1099 "Example MFRC522 Not Working"
What should be the pin settings on the Wemos D1 board?
MFRC522 mfrc522 (SS_PIN, SS_PIN); it seems strange

[2017-04-20 05:56] icodk commented on #1099
@fernandopasse
D1 Mini connections (same for any nodemcu derivative):
`MISO <-------> D6`
`MOSI <-------> D7`
`CLK       <-------> D5`
`SDA       <--------> D8`
Notes:

- SDA can be connected to any output that you control. I used D8 because it must be low on start up    so I can't use it as an input.

- RST  is deliberetly not connected, same as IRQ

- You are right regarding initialization with

[2017-04-20 07:47] zgoda opened #1100 "WPA2 Enterprise auth access"
SDK 2.0 introduces support for WPA2 Enterprise wifi auth, both EAP and PEAP. This may be exposed in Sming eg. by conditional compilation when SDK 2.0 is detected.

[2017-04-20 07:52] slaff commented on #1100
Sounds good. Make a PR and I will look at it.

[2017-04-20 10:15] zgoda commented on #1100
Okay, it sems PEAP still has issues with hardcoded outer identity, I will postpone this until SDK allows changing it and start working with MS-CHAPv2 which is most popular auth method. Will get back later to this.

[2017-04-20 10:15] #1100 closed

[2017-04-20 14:30] slaff commented on #1095
# Short Story
If ESP is running as software Access Point only then it is ok to use System.onReady to register a callback that will do network operations. In all other cases that is not ok.

# Long Story
There are two major prerequisites in order to have useful network operations.
1.  The TCP stack has to be fully initialized
2. There should be connection to a remote Access Point (AP) or the ESP it

[2017-04-20 15:44] zgoda commented on #1095
Okay, now it's clear. Thanks.

[2017-04-20 15:44] #1095 closed

[2017-04-20 17:58] fernandopasse commented on #1099
I tried this...but it didn't

#include <user_config.h>
#include <SmingCore/SmingCore.h>
#include <Libraries/MFRC522/MFRC522.h>

Timer procTimer;
static Timer nfcScanTimer;
int helloCounter = 0;

void ICACHE_FLASH_ATTR scanNfc(byte scanner);

#define SS_PIN	15  	// D8

MFRC522 mfrc522(SS_PIN, SS_PIN);	// Create MFRC522 instance
byte ss_pin[] =
{ 15, 15 };

void sayHello()
{
	for (int pinNdx = 0; pi

[2017-04-20 19:20] icodk commented on #1099
@fernandopasse
Do you get an error or it just can't read the  tag ?
Can you add a link to the shop/product of your antenna ?

[2017-04-20 20:34] fernandopasse commented on #1099
I have this one: http://s.aliexpress.com/bInE77JV
On the Arduino IDE the NFC antenna worked but on Sming it didn't.

Em 20 de abr de 2017 16:20, "icodk" <notifications@github.com> escreveu:

[2017-04-20 21:30] icodk commented on #1099
@fernandopasse
Attache is a working example that works for me
see if you can get it to work
[Basic_NFC.zip](https://github.com/SmingHub/Sming/files/945527/Basic_NFC.zip)

[2017-04-23 11:57] Informatic opened #1103 "make flash does not update active image when using rboot"
When using rBoot, `make flash` only writes to first image. When device has been switched to second slot, It'll still try to boot into second slot, even after flash. Only flashinit cleans bootloader configuration.

I think `make flash` target should erase rBoot configuration when it is enabled.

[2017-04-23 12:04] Informatic commented on #1029
Well, seems like SSL support is really buggy right now. Forgot to mention that, but i've been struggling with that, and it seems like some issue with memory allocation, but I couldn't figure it out. (well, it became quite a heisenbug, as enabling memory allocation debugging somehow made faults much more rare...)

[2017-04-23 23:39] rafkacz commented on #194
Hi,

I have the same problem that **brunnels**. Can write to arduino slave but reading from is not working always. I have to read 5 bytes from slave - and first [10-20] iterations works well - data retrieved are as expected. But later - the input data are shifted (e.g. 0x00AABBCCDD -> 0XAABBCCDD00 - it's random).

I've tested the conversation between 2 arduinos - all works fine...

Any idea why?

[2017-04-24 05:59] Hukuma23 commented on #194
I got the same problem, didn't fix this. My workaround is using serial protocol instead of i2c.

[2017-04-24 06:57] avr39-ripe commented on #194
@rafkacz @Hukuma23 try recently imported in Sming/develop new i2c master + Wire library ported from esp8266/Arduino and tell us if it solves the problem.

[2017-04-24 09:31] slaff commented on #1057
PR #1101 is the initial step in proving ONE recommended PWM driver. Step 2 will be in the next release where DriverRWM will be removed and Stefan Bruens PWM will be used by default.

[2017-04-24 09:31] #1057 closed

[2017-04-24 09:32] slaff commented on #1023
Closing due to inactivity. If you have more details, feel free to reopen the issue.

[2017-04-24 09:32] #1023 closed

[2017-04-24 09:35] slaff commented on #1027
@tius2000 setjmp and longjmp are more appropriate for the SDK itself. Can you create a PR in the [esp-open-sdk](https://github.com/pfalcon/esp-open-sdk) ?

[2017-04-24 09:59] rafkacz commented on #194
@avr39-ripe - I've just tried develop brunch. Doesn't work at all. I think there is a problem with initial state of SCL/SDA lines in this version. Previously i had  about 3V at these lines after Wire.begin() call - and now it  looks like it is set to logic 0 (i measure about 2,4V at GPIO2 and 1,8V ato GPIO0 - due to external pull up resistors).

[2017-04-24 10:38] tius2000 commented on #1027
I'm using the UDK, so someone using the esp-open-sdk needs to do this. But this would exclude windows users, wouldn't it?

[2017-04-24 11:31] slaff commented on #1027
Ok, then add it as PR to Sming but make sure that these functions are included in the Sming library on-demand (via compiler directive).

[2017-04-24 17:43] #1024 closed

[2017-04-25 09:31] MayaPosch opened #1104 "FileSystem.fileGetContent() and null bytes issue"
While trying to read binary files from a SpifFS segment in the Flash memory, I found that using the fileGetContent() convenience function I would consistently get only short strings back, of just a few bytes. While digging into the function's code, I found that the issue is in how it assigns the character array to a new String's constructor:

`String res = buffer;`

This invokes a constructor whic

[2017-04-25 09:32] crosofg commented on #299
Is software serial possible? Can I connect four serial port devices?

[2017-04-25 09:44] flexiti commented on #299
Yes, as described above

[2017-04-25 09:56] crosofg commented on #299
Can some library like this [](https://github.com/plerup/espsoftwareserial) be used to connect four serial devices to esp8266?

[2017-04-25 12:20] slaff commented on #1104
@MayaPosch Can you submit a Pull Request (PR) with the suggested change? Thanks in advance.

[2017-04-25 12:33] Hukuma23 commented on #194
@avr39-ripe thanks. Unfortunately I haven't demo to check this now, I'll do this later

[2017-04-25 13:04] MayaPosch commented on #1104
I have submitted a PR with the change (#1106).

[2017-04-25 19:18] rafkacz commented on #194
Hello again - i had a hw problem - pull up resistors to big and powered from 3.3V - it was about 2,4-2,5V at SCL/SDA lines and it was not enough for 5V powered slaves . After corrections (pullup resistors powered from 5V and 3,3V zener diode to protect ESP8266) new version of wire lib seems to work perfect.
Thanks a lot.

[2017-04-25 19:20] slaff commented on #1104
PR is merged.

[2017-04-25 19:20] #1104 closed

[2017-04-26 07:57] slaff commented on #1000
Only copying the current  sming-master to tools/sming is enough.  c:\expressif  contains the toolchain and for the moment we don't need to have the latest version.

[2017-04-26 07:58] slaff commented on #1000
@maerf If you know someone who can take care for updating and producing new choco packages for Sming we will be happy to help him.

[2017-04-26 10:38] slaff opened #1108 "Discussion: Cooperative "delay" function."
This issue is created to collect all ideas that can help us improve the `delay` function.

## Problem description:

At the moment `delay` is directly calling os_delay_us and blocking the execution.
[code]

If that function is used with delays bigger than 2000 ms the software watchdog kicks in and restarts the device.

It would be great if `delay` is a bit more cooperative and does not block the ex

[2017-04-28 08:21] #977 closed

[2017-04-28 08:24] slaff opened #1109 "** Preparation for Release 3.3.0 **"
This issue is created to collect all the tasks we need to do before the 3.3.0

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#1107)
- [x] Update Readme.md (#1107)
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### Refactoring
- [x] Support for SSL session resumption in TcpConnection and TcpServer. (#1110)
- [x] Http Client and Http Server. (#1112)

###

[2017-05-01 18:39] dbelz opened #1111 "WS2801 Support?"
Does Sming has WS2801 LED Support? Can't find anything about this.

Kind Regards

[2017-05-02 07:28] zgoda commented on #1111
Many Arduino/ESP8266 libraries work oob, eg. [this one](https://github.com/FastLED/FastLED) looks promising. Can you try and report back if it works?

[2017-05-02 09:29] slaff commented on #1069
With the upcoming PR #1112 it would be possible to create a simple WebSocket Server.  The following sample code can be used as a start for such an implementation

[code]

Please, have in mind that a single SSL connection requires more than ~17K memory for the initial handshake. This means that it will be unrealistic to expect two or more simultaneous SSL connections to work as expected.

[2017-05-02 21:46] dbelz commented on #1111
I don't know when i have enough time for it but if i try it i'll report back

Thanks

[2017-05-03 09:04] zgoda commented on #1111
Don't waste your time, this one does not work.

[2017-05-04 11:48] dbelz commented on #1111
What's with this:
https://github.com/nodemcu/nodemcu-firmware/blob/master/app/modules/ws2801.c

Its from the nodemcu firmware. They have used something from espressif as a base. Maybe its possible to translate it for sming?

[2017-05-04 14:06] slaff commented on #673
With the latest Http refactoring (#1112) that issue should not longer be relevant.

[2017-05-04 14:06] #673 closed

[2017-05-04 14:08] slaff commented on #767
With the latest Http refactoring (#1112) that issue shouldn't be relevant any longer.

[2017-05-04 14:08] #767 closed

[2017-05-04 14:09] slaff commented on #694
Post parameters with multipart encoding should be implemented with the upcoming Http refactoring (#1112).

[2017-05-04 14:09] #694 closed

[2017-05-04 14:16] slaff commented on #1036
@senilix Can use the HttpClient class and test with it? Something like this should be good starting point for your code:

[code]

For setBody you have the following possibilities // you should use only ONE at a time.

[code]

You can also process the response body stream, if needed, using:
[code]

[2017-05-04 14:22] slaff commented on #1059
How do you test? Did you use low-level tools like `curl` or higher-level Chrome plugins? Chrome, and other high-level tools, usually make one HEAD request before the actual request to check things like CORS headers, supported methods, etc.

Try with the latest `develop` version and see what is reported there. I took extra care to refactor also the HttpServer class so it should be more predictable

[2017-05-04 20:23] piperpilot opened #1113 "HttpServer opens multiple connections for one request"
Not exactly sure what I am looking at here...but with the new httpServer, it looks like multiple connections are being opened and they aren't closing the request properly after sending the data.  This is using the code from httpserver_configNetwork example, the get-networks method.  Here is what I am seeing in the log when I hit it with a browser:

`
onAccept state: 0 K=0
Free heap size=27664, K=0

[2017-05-04 20:34] slaff commented on #1113
That issue should be fixed with that PR #1114.

[2017-05-04 20:43] piperpilot commented on #1113
OK, cool...so there are 2 issues here...the first one is the JSON timeout...your fix in #1114 seems to fix that.  What about the multiple connections.  That still seems strange to me.  Here is a new log:

`The headers are complete
Network Count: 4)
TCP received: 398 bytes
realloc 1 -> 131
realloc 130 -> 260
realloc 259 -> 325
realloc 324 -> 390
Written: 363, Available: 363, isFinished: 1, PushCoun

[2017-05-04 20:44] slaff commented on #1113
The title of the issue is not exactly correct. The web browser makes a request to get_networks. Because there is no active tcp connection it opens ONE new tcp connection. Then the server responds.

[code]
The data is sent from the server to the browser but  due to the bug fixed in #1114  the browser was waiting until the server timeouts the request.

[code]

Timeout causes the tcp connection to be

[2017-05-04 20:49] slaff opened #1115 "Todo: Reimplement POST data processing in the HttpServer"
The new HttpServer has to parse response body of a POST request and store the data in postParams.

[2017-05-04 20:51] piperpilot commented on #1113
Sure looks like its opening multiple TCP connections (4 in this case).  With the fix in place, you can see 4X

onAccept state: 0 K=0
Free heap size=27464, K=0
+TCP connection
Opening connection. Total connections: 1
timeout updating: 70 -> 10
TcpServer onClient: 192.168.4.2

K=0 through K=3

And then 4 subsequent closes....
TCP connection closed by timeout: 10 (from 10)
Closing connection. Total c

[2017-05-04 20:56] slaff commented on #1113
I am not sure about that. You can test this using curl. Run the command below and see how many requests are logged in ESP.

curl -vvv -X "POST" 'http://192.168.4.1/ajax/get-networks' -H 'Pragma: no-cache' -H 'Origin: http://192.168.4.1' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-GB,' -H 'User-Agent: Mozilla/5.0' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' -

[2017-05-04 20:58] piperpilot commented on #1113
Interesting, with curl it is only 1 TCP connection, but with Chrome its 4.

[2017-05-04 21:00] slaff commented on #1113
Chrome wants to be sure that the CORS requirements are met. This has nothing to do with the HttpServer.

[2017-05-04 21:01] piperpilot commented on #1113
OK cool.  I'll close this issue and open others as needed.

[2017-05-04 21:01] #1113 closed

[2017-05-04 21:12] piperpilot opened #1116 "Content Length Mismatch"
Getting a consistant issue with GET http://192.168.4.1/ net::ERR_CONTENT_LENGTH_MISMATCH

Here is the log and a screenshot of the chrome info.

Its possibly an issue with the template and the variable smobotversion.  I'm going to remove that and see if there are still issues.

The headers are complete
attached file: index.html (3670 bytes)
TCP received: 424 bytes
READ Template (0)
plain template t

[2017-05-05 05:05] fernandopasse commented on #1099
I tested your solution but it did not work either :(

[2017-05-05 07:03] bulanek opened #1117 "CPOL CPHA swap, NSS pin not setup"
While setting CPOL and CPHA via SPISettings , opposite setup is performed (see SPI_MODEx) .
NSS output pin is not setup (PIN_FUNC_SELECT(PERIPHS_IO_MUX_MTDO_U, 2) is missing
in SPIClass::begin().

[2017-05-05 07:18] slaff commented on #1116
Which sample are we talking about? What is the response information and what are the headers?

Please run the request with curl and paste the output.

[code]

[2017-05-05 07:20] slaff commented on #1117
@avr39-ripe Can you take a look at that issue?

[2017-05-05 07:45] daffysub opened #1118 "bigflash and OTA with rom of 1MB"
Hi,

I'm not sure to understand, because I didn't find detail about bigflash and support of OTA with 2 ROM of 1 MBytes.

You give an example with 1 ROM of 1 Mbytes and an other example with2 ROMs of 512kByte. But nothing for 2 ROM of 1 MBytes.

So, my questions are :
- Is it possible to put 2 ROMs of 1 Mbytes (with a flash of 2 Mbytes minimum of course) and proceed to an OTA?
- in makefile of rboo

[2017-05-05 13:22] zgoda opened #1120 "Idea: global handler for failing malloc"
Suppose I have firmware that does much web work both as server and as client. These functions often allocate memory on heap and working async means memory is allocated and freed in semi-random order, effectively causing heap fragmentation. In such case the total free amount may be sufficient eg to serve another request, but there will be no free continuous area to perform allocation and `malloc()`

[2017-05-05 14:44] fvpalha opened #1121 "error: 'for' loop initial declarations are only allowed in C99 mode"
Hi.

I am using esp-open-sdk version 2.0 in Ubutu Linux 15.10.

`export ESP_HOME=/opt/esp-open-sdk`
`export SMING_HOME=/home/palha/git/Sming/Sming`

The Basic_Debug sample doesn't build:

`make[3]: Leaving directory '/home/palha/git/Sming/Sming/third-party/esp-open-lwip'`
`AS system/irq_check.s`
`AS gdb/gdbstub-entry.s`
`CC system/flashmem.c`
...
`CC third-party/http-parser/bench.c`
`CC third-part

[2017-05-05 14:51] slaff commented on #1121
Allow our Make system to patch the file. Try doing the following:

[code]

And then compile the sample

[code]

[2017-05-05 16:27] raburton commented on #1118
Yes, you can do that. Two roms of 1mb is easy, you only need to link one rom file which can be flashed at any (or multiple) 1mb boundary/ies on the flash.  So you don't need rom1.ld. The Basic_rBoot sample does what you want and is already configured to run on 4mb flash (e.g. esp12).

[2017-05-05 16:58] fvpalha commented on #1121
Thank you @slaff

[2017-05-05 20:17] #1121 closed

[2017-05-05 20:19] slaff commented on #1116
In my two browsers (Chrome and Firefox) and using curl I was not able to reproduce the issue. Observing the headers gave me some more ideas about better client caching though.

Can you please try with another browser? Are you modifying the sample or you use the stock HttpServer_ConfigNetwork example?

[2017-05-05 22:59] icodk commented on #1099
Sorry to here that.
I will test it again and let you know

[2017-05-06 05:44] ADiea commented on #1120
I have submitted a pr to ummalloc upstream but no response yet. Define a fct pointer and modify ummalloc function to call your function if pointer not null. Then set fptr from your code

[2017-05-06 15:35] icodk commented on #1099
@fernandopasse
Attached are
[Basic_NFC_170506.zip](https://github.com/SmingHub/Sming/files/981005/Basic_NFC_170506.zip)
 a video and a program that I just run on my nodemcu that reads an NFC tag
You can also see the wiring so check it out and let me know.
[IMG_0078.zip](https://github.com/SmingHub/Sming/files/981004/IMG_0078.zip)
Note:
Out of 12 NFC antennas I bought, 3 of them could not read tags

[2017-05-08 06:30] zgoda commented on #1120
That sounds fine but will it work for Sming library functions, when using eg. HttpServer or TcpClient?

[2017-05-08 07:13] ADiea commented on #1120
Yes, everyone calls the same malloc. But you have to compile with ENABLE_CUSTOM_HEAP=1

[2017-05-09 20:09] DjamesSuhanko opened #1124 "[SOLVED] (?) MPU6050 generating random values in Sming"
Hello, all. I did some changes in my code, trying another stuffs in MPU register. I now, it's odd, but calling the WHO_I_AM register in my timer before start reading solved the problem. I don't know why unfortunately, but anyway, I can go ahead with my plans. Tks!
The new source is this one (I'm changing the things yet):

https://pastebin.com/wbEFJeeF

====================================
Hello.
I

[2017-05-10 08:06] #1115 closed

[2017-05-10 14:58] zgoda opened #1125 "`difftime` not found by linker?"
The standard function `difftime` from `time.h` and `ctime` seems to be not available for linker. The code that uses this function compiles, but I get linker errors:

[code]

Sample code that causes this:

[code]

Do I need to do anything special to use it?

[2017-05-10 22:13] yeralin opened #1126 "After `make flash` problem"
Hi,

I have NodeMCU ESP8266. I flashed it with `Basic_WiFi sample`. It flashed it successfully, and everything was working. I connected to my Wi-Fi network and got IP address. Afterwards, I pressed `CTRL+]` and quit from terminal. ESP8266 was still working. But when I disconnected it from my computer and connected it back again. ESP8266 did not start the flashed program as expected. It did nothing

[2017-05-11 10:02] ADiea commented on #1126
Check if you have GP0 always connected to ground. It should stay at 3.3V when normal booting and 0V when programming

[2017-05-11 13:46] ZyperPL opened #1127 "Fatal exception (28) = overlapping addresses"
Hi
I just wanted to write about this "issue" if someone in the future have similar problem.

While playing with ESP8266-01 I've encountered "Fatal exception (28)" when executing some instructions, always at the same line of the code.
Fatal exception 28 is related to reading wrong part of memory, and my program (file 0x0000.bin) was bigger than 40KB.
It gave me an idea that there's nothing wrong wi

[2017-05-11 19:52] yeralin commented on #1126
Yep, I figured it out last night :) GP0 was connected to the ground

[2017-05-11 19:52] #1126 closed

[2017-05-12 19:52] DjamesSuhanko opened #1128 "[solved] How to read power value in ESP8226 using Sming?"
Sorry, guys. I found the system_get_vdd33() searching in Netbeans. Solved!
-------------------------------------------
Hello.
I saw that I can read directly from ADC information about power, using this resource in Arduino IDE:
ADC_MODE(ADC_VCC);
float vdd = ESP.getVcc();

Is there something like that to Sming?

[2017-05-15 07:25] zgoda commented on #1128
@DjamesSuhanko then close it if it's solved.

[2017-05-15 12:10] #1128 closed

[2017-05-15 12:10] #1124 closed

[2017-05-15 13:08] #1127 closed

[2017-05-15 13:35] slaff commented on #1127
@tius2000 Let's start incorporating some of your changes in that PR #985. Can you add a  separate PR  change that allows automatic changing of the image size and LD linker script when the size of the file grows?

[2017-05-18 20:52] slaff commented on #969
Or we just compile the code using the latest xtensa GCC with stack smashing protection support :) Ask @jcmvbkbc for the details.

[2017-05-18 21:04] jcmvbkbc commented on #969
It's backported to gcc-5.2.0 and the patch is in the xtensa-1.22.x branch of my crosstool-NG fork. I'll send PR to update esp-open-sdk soon, you can update your ct-ng locally meanwhile. It may be worth building libc/libstdc++ with -fstack-protector*, that would require editing ct-ng configuration, adding -fstack-protector* to the CT_TARGET_CFLAGS.

[2017-05-19 12:16] slaff commented on #969
@jcmvbkbc  That will be great! It will make help us make stack protection default part of the builds.

[2017-05-19 17:10] ZyperPL opened #1130 "HttpServer/HttpClient suddenly stopped working"
Hi
I've HttpServer and HttpClient copied from examples running on my ESP8266-01. HttpClient makes HTTPS request every  30 minutes. Also ESP is getting temperature from two DS18S20 sensors and saving it to spiffs.

I've got ESP running 3 days. After that time HttpClient and also HttpServer stopped working.
But when I was pinging it by ping command on my local network I've got response. Only thing t

[2017-05-19 18:02] ADiea commented on #969
Hopefully this gcc version will also be used in the windows UDK

[2017-05-19 18:14] ADiea commented on #1130
As a side note: On such a small embedded system I would reset it automatically every night at 2 am :)

[2017-05-19 18:20] slaff commented on #1130
@ZyperPL Your description is way too broad to be able to figure out what could potentially be the problem. Please, paste here the logs that are in the serial console.  And don't forget to mention version of Sming, version of SDK, etc.

[2017-05-19 19:47] ZyperPL commented on #1130
@ADiea Thanks for advice. :)

@slaff I wish I had any logs, but it was connected to USB charger so I don't.
That's why I'm writing this post. I thought that maybe someone would have any idea what might have caused this issue.

I'm using SDK 2.0.0(5a875ba) and Sming (develop bc64de4). Can those latest commits HttpServer make that instability?

It would be nice if you could aswer some of my question

[2017-05-21 05:46] slaff commented on #1130
You need to set the debug output.
[code]
See [Basic_WebClient](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_WebClient/app/application.cpp#L173)

After that recompile, flash and watch the logs (attach your USB-to-Serial to your computer and wait ). To make things faster decrease the 30 minutes interval to 1 minute (or less). Hopefully the issue will happen 30 times faster .

Once we

[2017-05-21 06:26] slaff commented on #969
Here is a good-old article about stack smashing protection for all of you interested to learn a bit more about it:
http://www.drdobbs.com/security/anatomy-of-a-stack-smashing-attack-and-h/240001832

[2017-05-21 19:49] hanpal opened #1131 "Install problems"
You should check the quick install guides. Tried both on Mac and Ubuntu, did not succeed on any of them. Maybe this is a great product but it is way too hard to install so I guess I'll stick to the Arduino IDE.

[2017-05-21 20:57] hanpal commented on #1131
This solved my problem for linux but it was rather complicated to find the usb device and sudo was required for make flash.

The guides should  be tried out to ensure that everything works without troubleshooting or guesswork.

[2017-05-23 19:00] fernandomorse opened #1132 "Dynamic Library - DLL"
Is it possible to use dynamic library (dll) in swing projects?
 If yes, is there an example?

Grateful

[2017-05-23 19:03] zgoda commented on #1132
No.

[2017-05-23 20:58] fernandomorse commented on #1132
Thanks.

[2017-05-24 07:08] zgoda commented on #1132
Please close this issue if you consider it resolved.

[2017-05-24 09:19] tius2000 opened #1133 "Discussion: UDK 2.2.2 / SDK 2.1"
Just updated my windows machine to UDK 2.2.2 with SDK 2.1, seems to work fine (at least when using sming.mk, see #985). The new version of esptool.exe is included within the UDK.

Are there any known issues with the new SDK?

[2017-05-24 09:25] tius2000 opened #1134 "Discussion: Adding C++14/17 support with -std=c++1z"
Would it be a good idea to allow some of the newer language features or are there reasons to stick with C++11? The only issue I found so far is that you need to add a missing function to _esp_plusplus.cpp_:

[code]

[2017-05-24 10:07] icodk commented on #1133
@tius2000
Could you please share the steps you took for the upgrade
Thanks

[2017-05-24 12:40] tius2000 commented on #1133
@icodk
I made a backup of c:\espressif, downloaded version 2.2.2 of the UDK (http://programs74.ru/udkew-en.html) and executed the setup file.

[2017-05-24 12:59] icodk commented on #1133
@tius2000 Thanks
What about Sming?
Backup c:\tools and pulled/download developer/v3.2.0 ?

[2017-05-24 13:28] tius2000 commented on #1133
I did not change anything on my Sming setup (it should be almost up-to-date with the latest develop branch). However, I'm using the refactored makefile from #985.

[2017-05-24 14:48] icodk commented on #1133
@tius2000
Is the refactored makefile  in the development branch ?

[2017-05-24 15:00] tius2000 commented on #1133
I did not test with the normal makefile as my projects all use _sming.mk_ from #985. But I do not see any reasons why it should not work.

The PR is not not merged yet. However, it does not replace any existing file so you may just give it a try ;-)

[2017-05-24 15:16] icodk commented on #1133
@tius2000
Will try
Thanks again

[2017-05-25 09:49] kwis2 opened #1136 "Windows install problem"
After some time I am going to return to sming. There is a lot of changes, but chocolatey problem still exists.
I have sming 3.1.1 instaled and I have tried to install or upgrade to newest version.

install log:

and upgrade log

And the most impotrnant question - how could I check what sming version I have?

[2017-05-25 22:24] kwis2 opened #1137 "1MB FLASH rboot problem"
I am trying to modyfy Basic_rBoot sample to work with ESP8266-01 with 8Mb FLASH (2 x 512kB) - RBOOT_BIG_FLASH ?= 0 and RBOOT_TWO_ROMS  ?= 1
I think with sming version changes the rom0.ld was moved to sming/compiler/ld, renamed and reduced in size. So simple  `Copy rom0.ld to rom1.ld`  from readme.txt doesn't work.
In my oppinion there should be `Makefile-rboot.mk` modified `RBOOT_LD_1 ?= rboot.rom

[2017-05-27 18:26] icodk commented on #1133
I renamed C:\Espressif to  C:\Espressif_ but when I try to install the latest Unofficial Devkit
However when I try to run the installation of the newest devkit (Espressif-ESP8266-DevKit-v2.2.1-x86) I get the following message:
An old version of Unofficial Development Kit for Espressif ESP8266 was detected. Do you want to uninstall it ?
If I click No the new devkit is not installed
What did you do

[2017-05-28 04:39] midiway opened #1138 "HttpClient.downloadString() is leaking"
[code]
I am making a HttpClient.downloadString() request every second, and free memory is constantly decreasing.
Or I am doing something stupid..

[2017-05-28 12:02] tius2000 commented on #1133
Dear @icodk, I made a backup of _c:\espressif_ first and let the installer then remove it and install the new version.

[2017-05-28 12:33] icodk commented on #1133
@tius2000
Can you now switch between the two versions by just restoring the old version ?
I am concerned by the possibility that none of them will work after the switch

[2017-05-28 14:56] tius2000 commented on #1133
Yes, I switched several times with no problems. If you want to be absolutely safe, make a backup of your system partition first.

[2017-05-28 18:22] icodk commented on #1133
@tius2000
Thanks, I will try it in a VM

[2017-05-29 08:29] slaff commented on #1138
@midiway I will be able to test this on a real device at the end of the week. Until then can you send me the log from the serial console. Also did you compile Sming with SSL support of without it? What is the SDK that you have used?

[2017-05-29 09:05] zgoda commented on #1076
When it comes to URL manipulation I would suggest looking at https://github.com/jacketizer/libyuarel, works as advertized.

[2017-05-29 13:54] midiway commented on #1138
I don't know how discover the SDK version.
I am using the HEAD commit of this repository...
[code]

[2017-05-30 02:47] midiway opened #1139 "WebSocket disconnects"
I have a WebSocket running at ws://misoftware.rs/Home/WSConnectCount.
It can be tested from browser at http://misoftware.rs/Home/TestWS.

For every message browser sends, my server responds with this message: `Hello! Connects count to this server with WebSocket: 22`, that is, it says the number of WebSocket connections made to the server, so I can keep track of how many reconnects were made.

Now,

[2017-05-30 08:50] icodk opened #1140 "Issues with building sming_developer ENABLE_SSL=1"
Cloning developer branch, running make clean && make get the following errors:
`Services/Yeelight/YeelightBulb.cpp:9:23: fatal error: TcpClient.h: No such file
or directory`
I don't need this library anyway so I commented out
`//#include "../Services/Yeelight/YeelightBulb.h"`
in SmingCore.h and removed the library from C:\tools\Sming\Sming\Services
started make and got a bit farther to the point t

[2017-05-30 16:55] #1132 closed

[2017-05-30 16:58] slaff commented on #1116
@piperpilot I will close the issue for now. Feel free to reopen it once you can answer the questions above.

[2017-05-30 16:58] #1116 closed

[2017-05-30 17:01] slaff commented on #1138
Thanks for the information. Can you tell me also if you compiled Sming with SSL support of without it?

[2017-05-30 18:03] midiway commented on #1138
without

[2017-05-31 21:11] icodk commented on #1133
@tius2000 I tried with the  develop branch but got the errors I reported in #1140
For some reason I get make[2]: xtensa-lx106-elf-gcc: Command not found  when compiling third-party libs
when I set ENABLE_SSL=1. may be your refactored makefile  can fix it. Where can I download it or better if I could clone the repository that works

[2017-06-02 08:23] kwis2 commented on #1131
In my opinion paradox is that Sming is very good for tool for beginner user, while to install it you have to be very advanced. It is a very weak point of Sming.... And for long time there is no solution.

[2017-06-03 14:28] ZyperPL commented on #1130
Ok, I was able to reproduce this crash two more times. It was very hard, because sometimes everything works for very long time (nearly 2 weeks) without any problems. But sometimes HTTP Server stops responding and Serial output gives me "CONNECTION DROPPED".
I saved serial's output to file (it also crashed the whole ESP this time with "E:M 528" messages but I don't know if it is relevant).
[httpcra

[2017-06-03 20:59] ADiea commented on #1130
Because of heap memory fragmentation over time and/or mem leaks you end up with only 1.8kB free heap RAM. Tcp will drop conn if mem is under a threshold i think 6k

[2017-06-03 21:07] ZyperPL commented on #1130
@ADiea That might be it.
Maybe it is related to https://github.com/SmingHub/Sming/issues/1138

[2017-06-04 09:03] slaff commented on #1130
Yes, that is very likely.

[2017-06-11 10:45] riegaz commented on #1140
Services/Yeelight/YeelightBulb.cpp:9:23: fatal error: TcpClient.h: No such file or directory
I don't need this library anyway so I commented out
//#include "../Services/Yeelight/YeelightBulb.h"
in SmingCore.h and removed the library from C:\tools\Sming\Sming\Services
started make and got a bit farther to the point that all was compiled except spiffy with the error

I created a pull request. https:

[2017-06-11 11:02] riegaz opened #1149 "Compiling develop branch under windows"
I created a simple project only holding this code:

`#include <user_config.h>
#include <SmingCore/SmingCore.h>

void init() {

}`

This is the error I get:

C:\Users\programmer\Downloads\sming\sming-skel>make
LD out/build/app.out
c:/tools/sming/Sming/compiler/lib/\libsming.a(user_main.o):(.text.user_init+0x0): undefined reference to `System'
c:/tools/sming/Sming/compiler/lib/\libsming.a(user_main.

[2017-06-11 12:15] riegaz commented on #1136
Same problem for me. I cloned the develop branch but now I face a lot of undefined reference errors. I opened a issue, lets see how long it takes for an answer. I hope the community is more active than the one of Micropython

[2017-06-11 15:31] riegaz opened #1150 "SmartConfig not working"
For me the SmartConfig sample does not work.

The output from the esp8266 is:

`SC version: V2.5.4
mode : sta(5c:cf:7f:33:74:c3)
add if0
scandone
scandone
SC_STATUS_FIND_CHANNEL`

I'm under Linux, I followed your guide how to install Sming. I'm on the develop branch.

[2017-06-13 08:02] zgoda opened #1151 "Sming build fails with Espressif SDK 2.1.0"
[code]
Same for `ets_delay_us` and couple other `ets_*` functions.

[2017-06-13 08:03] kwis2 commented on #1149
I see no response from more advanced users,  so I'll try to give you some solution from person who would like to be only Sming user.
The most important principle is to not to change anything. There is a lot of dependencies with makefiles, include - source should be in app folder so the best way it is to take any working example and place your own code.
The only way I found to make sming work in wi

[2017-06-13 08:07] slaff commented on #1151
@zgoda Can you create a PR with the changes that should focus on SDK 2.1.0 support?

[2017-06-13 08:08] avr39-ripe commented on #1151
Yesterday I managed to patch whole Sming to let it compile with sdk 2.1.0 try to make pr for this

[2017-06-13 08:34] zgoda opened #1152 "ws_parser build fails"
While initially building Sming (fresh checkout):

[code]

Setting any of this options makes compilation to fail elsewhere.

[2017-06-13 08:34] slaff commented on #1152
[code]

The ws_parser needs to be patched from our build system.

[2017-06-13 08:35] zgoda commented on #1152
Thanks.

[2017-06-13 08:35] #1152 closed

[2017-06-13 11:53] avr39-ripe commented on #1151
PR created #1153 ;)

[2017-06-13 14:27] piperpilot opened #1155 "Reboots on tcpClient"
Switching to latest SMING branch, I am getting application reboots consistently.  I believe it is related to TCPClient.  Here's the code I am executing:

`void sendDataPoint(String json) {

	HttpHeaders requestHeaders;
	requestHeaders["ContentType"] = "application/json";
	requestHeaders["Accept"] = "application/json";

	String url = smobotStats;
	url += "/api/datapoint/";
	url += system_get_chip_i

[2017-06-13 14:31] slaff commented on #1155
[code]
Paste also the code of the `processed` function. Did you make sure to return 0 on success?

[2017-06-13 14:34] piperpilot commented on #1155
processed doens't really do anything...where do I need to return 0?

`int processed(HttpConnection& connection, bool success)
{
//	Serial.println(client.getResponseString());
}`

just return 0 inside this function on success?

[2017-06-13 14:38] slaff commented on #1155
Yes. the example above should be changed to

[code]

[2017-06-13 14:52] slaff commented on #1155
BUT my wild guess is that the issue is related to a print statement in the `processed` callback (0x40235c86: m_vprintf at /Users/cpope/Development/Sming/Sming//system/m_printf.cpp:77). If you can present  sample code for the `processed` then I can help more.  If that is not possible just comment out all lines inside of the callback except `return 0` and test. Compile and test. If the modified appl

[2017-06-13 15:05] piperpilot commented on #1155
processed is pasted above.  It is basically an empty function, the print statement is commented out.  That got me past that issue, now running into problems with the httpServer.  Its running out of memory loading a pretty simple page that worked in previous versions.  Have you tested the httpConfigNetwork example with the latest changes?

[2017-06-13 15:13] slaff commented on #1155
Glad to hear that. Make sure to close the issue.

Open another issue and try to explain as best as possible how to reproduce the issue.

[2017-06-13 15:24] #1155 closed

[2017-06-13 15:39] piperpilot opened #1157 "httpServer reboots - looks like low memory"
My application uses a modified version of httpdConfigNetwork sample.  When loading pages with lots of assets, it doesn't complete and sometimes reboots the ESP.  It looks like it is running out of memory.  I can see this happen when hitting the settings page on my app as well as my main page.  I haven't tried the base example yet.  Here's the log:

TCP sent: 2780
Written: 1024, Available: 1024, is

[2017-06-13 17:47] piperpilot opened #1158 "httpServer_ConfigNetwork example Detected overlap at address: 0xa000"
When building httpServer_ConfigNetwork, you get the following error:

/opt/esp-alt-sdk//utils/esptool.py -p /dev/tty.usbserial-A50285BI -b 115200 write_flash -ff 40m -fm qio -fs 4m 0x00000 out/firmware/0x00000.bin 0x0a000 out/firmware/0x0a000.bin  0x4C000 out/firmware/spiff_rom.bin
usage: esptool write_flash [-h] [--flash_freq {40m,26m,20m,80m}]
WARNING: Flash size arguments in megabits like '4m'

[2017-06-13 21:11] riegaz opened #1159 "TcpClient reconnects after calling .close()"
I'm creating a TcpClient like this:

`globClient = new TcpClient(nmOnCompleted, nmOnReadyToSend, nmOnReceive);`

At some point I want to restart and before I want to close the TcpClient to do some calculation. However, after calling

`globClient->close();`

the TcpClient reconnects to the tcp server.

Maybe I do not understand the purpose of the close() function?

[2017-06-14 03:25] ADiea commented on #1159
Hi. Offtopic: Does this mean that your other issue with compiling in Windows is solved now? If so please close the other issue thank you:)

[2017-06-14 06:33] slaff commented on #1159
That should not be the case. But in order to understand the issue better we need a sample application. And the log from the calls.

[2017-06-14 07:31] riegaz commented on #1159
@ADiea actually no. I moved to Linux for now since I did not manage to make it work under Windows.

@slaff I think I found the issue. I did not clear my onComplete callback.

[2017-06-14 07:31] #1159 closed

[2017-06-14 07:46] slaff commented on #1158
@piperpilot What is the size of your flash? If it is 512KB then you have little chance to put rom and spiffs. If the size is wrong then make sure to set it before you flash the application. Example:

[code]

[2017-06-14 12:19] piperpilot commented on #1158
I'm using a 4MB flash.  I have the size set in my makefile like:
`
SPIFF_FILES = web/build
ESPTOOL		 ?= $(ESP_HOME)/utils/esptool.py
COM_PORT = /dev/tty.usbserial-A50285BI
SPI_MODE ?= qio
SPI_SIZE        = 4M
`
And still get an overlap message:
`esptool write_flash: error: argument <address> <filename>: Detected overlap at address: 0xa000 for file: out/firmware/0x0a000.bin
make: *** [flash] Error

[2017-06-14 16:59] slaff commented on #1158
I cannot reproduce the issue with the overlapping.

Here is the output from my flashing:

[code]

Notice that I have `-fs 32m` (your one in the output pasted in your comment is `-fs 4m `. This setting instructs the flashing tool that I have 4 MegaBytes ( and you have 512 KiloBytes) . Also the spiff offset, based on the SPI_SIZE is calculated to be ` 0x4E000`. Your one is ` 0x4C000`

[2017-06-14 17:01] piperpilot commented on #1158
I will look into it more.  It builds fine on the master branch, but not on current develop, so something has changed.

[2017-06-16 09:08] kwis2 commented on #1109
I found `chocolately` problem was lost between 3.2.0 and 3.3.0 versions

[2017-06-16 09:14] slaff commented on #1109
We don't have the people that can solve it for now. Anyone who is working on Windows is welcome to help us.

[2017-06-16 10:31] softerra commented on #1032
Hi all,
What do you think about fixing the issue in this way?
[code]
The pin will be configured as simple INPUT only if it has not been configured by user explicitly.
This neither require changing the interface nor break existing code.

[2017-06-16 19:57] piperpilot commented on #1158
Slaff,  I have no idea whats going on here.  Here is the compile:

15:41:41 **** Build of configuration Sming for project HttpServer_ConfigNetwork ****
make all
C+ app/application.cpp
AR out/build/app_app.a
LD out/build/app.out

#Memory / Section info:
------------------------------------------------------------------------------
   Section|                   Description| Start (hex)|   End (hex)|

[2017-06-16 20:11] piperpilot opened #1162 "new httpServer loading many larger files fails"
I'm having problems with the new httpServer implementation.  My app loads about 7 different CS/JS files on the main page.  Its inconsistent but at least one file fails to load.  See the screenshot here:
![screen shot 2017-06-16 at 4 09 40 pm](https://user-images.githubusercontent.com/308239/27243081-3ef8fe26-52ae-11e7-97a1-632412d87575.png)

Here is the debug output...you can see that connections

[2017-06-17 07:32] Vity01 commented on #1109
Maybe I should define new issue for this, but current latest develope branch is not compilable on Windows.
I tried to do that without Chocolately. Eg. the makefile in SmingFramework contains '$(shell find SmingCore -type d)' which calls unix command. I replaced that with concrete folders, after more tuning folder settings I was able to compile without error.
Next I tried to build sample HttpClient

[2017-06-17 08:40] icodk commented on #1109
@Vity01
Thanks for mention it. There are few  previous issues (1140 and 1149)  that unfortunately  never addressed by any of the experts on  this repository. Looks like Sming's  Windows  comparability is  silently deprecated.
It is not a complain it is an observation. The probable cause is shortage of experts time.

[2017-06-19 07:14] zgoda commented on #1162
Does it fail if you combine all resources to single JS and CSS? If not, this may be related to memory usage per connection.

[2017-06-19 07:25] slaff commented on #1138
@midiway Can you update Sming to its latest version from develop and try again?

[2017-06-19 10:06] slaff commented on #1162
Issues that popped-up from my very fast analysis:

1. The TemplateFileStream does not report correctly its length. The original template length for index.html is 3670 bytes. There is one variable `{smobotversion}` that is replaced with data `98`. Leading to -13 bytes difference. Which explains the following error `curl: (18) transfer closed with 13 bytes remaining to read`

2. Maybe in the case wh

[2017-06-19 12:44] piperpilot commented on #1162
@zgoda Its definately an option to combine to a fewer number of files, but that doesn't fix the problem.  My exact number and size of files works just fine with the old httpServer before the refactor, so there seems to be a bug in the new server.

@slaff I'll try the server timeout change and look at the TemplateFileStream length and see if its something I can fix.

[2017-06-19 13:35] midiway commented on #1138
sure

[2017-06-20 08:14] slaff commented on #1162
@piperpilot No need for that. Take a look at PR #1163 and try to use it. If you don't know how to do it here is a short help:

[code]

And report the progress - should be better than before.

[2017-06-21 07:12] zgoda opened #1165 "Prebuilt esp-open-sdk binaries from bintray"
Currently prebuilt esp-open-sdk binaries are hosted on Dropbox. Would it be possible to host them on [Bintray](https://bintray.com/)? This service has a free plan for open source projects that seems more friendly and more transparent than Dropbox.

[2017-06-21 07:16] slaff commented on #1165
@zgoda Feel free to do this. It would be great if we have pre-build SDKs for 2.0.0 and 2.1.0 so that we can extend our CI system.

[2017-06-21 07:42] zgoda commented on #1165
I'm not a member of Sming project so the repository at Bintray will be unofficial for this moment. I will switch ownership to Sming once ready.

[2017-06-21 09:12] zgoda commented on #1165
How are these binaries built? My 2.0.0 SDK is ~40MB compressed vs ~160MB for 1.5.4 on Dropbox, archive content seems to be the same:

[code]

[2017-06-21 13:42] midiway commented on #1138
Just tested it, it is still leaking, though much more slowly, 32 bytes to be precise, I think

However, the most strange thing is that the onDataSent callback is not called immediatelly, it takes a while...
[code]

PORT CLOSED

[2017-06-21 13:58] slaff commented on #1138
All requests for the same domain and port are queued until the connection is established (DNS resolution + TCP connection). Once that happens all requests are grouped (pipelined if they are only GET requests) and then the respective callbacks called.

That is most probably the memory needed to keep the queue(s) and tracking.  I bet that if you run this app for some hours the memory consumption wil

[2017-06-21 14:45] piperpilot commented on #1162
@slaff unfortunately that didn't fix anything.  Still major failures on files.

[2017-06-21 17:21] midiway commented on #1138
so there is DNS no cache in Sming?

[2017-06-22 08:06] slaff commented on #1165
Which link do you mean actually? It would be great if you can point out the places where we download or suggest to download the toolchain from Dropbox?

I can suggest the following.

Step 1) Build the compiler only.
[code]

Then you should archive it to tar.xz format (as nodemcu team is doing: https://github.com/nodemcu/nodemcu-firmware/raw/master/tools/esp-open-sdk.tar.xz).

Step 2) We can downlo

[2017-06-22 08:28] slaff commented on #1138
There is DNS cache in LWIP. And yes, Sming has DNS cache too because it uses LWIP.

Let me try to explain what is happening using the log data that you have pasted. You will see first an excerpt from you log containing...

[code]

Followed directly by explanation.

# Start

[code]

Your ESP is connected to the router and gets and IP from the DHCP. Your application is ready to start sending request

[2017-06-22 08:31] HiFiPhile opened #1166 "SPIFFY 1.0.4 in choco not compatible with 3.20"
Hi,

Using a ESP-07 module with 1MB Flash, I met a problem with SPIFFS.
I packed some files using SPIFFY 1.0.4 installed with choco):
[code]
As you can see the total size is smaller than 512KB.

In the chip I used this code to read the files:
[code]
But I got
[code]
Seems like it's broken.
It's resolve by using the spiffy manually compiled.

[2017-06-22 12:57] icodk opened #1167 "rBoot ssl error"
In docker, I compiled sming with ENABLE_SSL=1 and got a confirmation
`+ SSL support is enabled`
Then I comiled Basic_rBoot, and used the following urls in the code:
`#define ROM_0_URL  "https://192.168.1.100:443/static/fw/rom0.bin"`
`#define ROM_1_URL  "https://192.168.1.100:443/static/fw/rom1.bin"`
`#define SPIFFS_URL "https://192.168.1.100:443/static/fw/spiff_rom.bin"`
However entering ota to st

[2017-06-22 13:03] slaff commented on #1167
You have to instruct `Basic_rBoot` to use the SSL enabled Sming library.
First make sure to start with `clean` code.

[code]

Then either compile the project with the following command
[code]

or add
[code]

to the Makefile-user.mk in the `samples/Basic_rBoot` and rebuild

[code]

I would recommend you to use the second option.

[2017-06-22 13:49] zgoda commented on #1165
https://github.com/SmingHub/Sming/wiki/Linux-Quickstart has links.

[2017-06-22 14:19] midiway commented on #1138
well, I won't bother with the details, gonna make a stress test to check if it is ok!

[2017-06-22 14:19] icodk commented on #1167
@slaff
I tried both Not working.Give the same error:
I included the first option results but the second option gives the same error (oops I already wrote it:-)
[code]

[2017-06-22 14:24] slaff commented on #1167
Sigh.... Is anyone reading the error messages?

[code]

[2017-06-22 15:11] icodk commented on #1167
@slaff
Changing permissions did the trick.
Should also be done in the base image ?
I have other issues that might be attributed to the Http server I use (Rocket)
I get the following error:
[code]
Will try with nginx and let you know if still an issue
Thanks

[2017-06-22 15:38] icodk commented on #1167
@slaff
Still an issue. Works fine with http but get the same error (see above)  with https on port 443 against an nginx server.
By the way, the switch to 160 Mhz  and back should be placed in user app. IMHO.  What if I run my app in 160Hz ? I have to return to 160MHz each and every transaction. But let's solve the first issue first:-)
Thanks

[2017-06-22 15:48] slaff commented on #1167
The certificate validation was not successful. Because... well, long story short, your ESP device does not have the same time as the server and/or does not trust the root CA.  You need to first use sntp to get the exact time and then make your SSL request. Then you need to have also the root CAs that you trust on your ESP

OR

you can disable the full SSL verification (ex: https://github.com/Sming

[2017-06-22 15:50] slaff commented on #1166
Whoever supports the spiff package in choco should take care to update that utility. We don't do this.

[2017-06-22 15:50] #1166 closed

[2017-06-22 16:13] icodk commented on #1167
how can I tell otaUpdate to setSslOptions(SSL_SERVER_VERIFY_LATER);  short of change  in the  library ?
The TCPClient  is buried inside private hierarchy
Thanks

[2017-06-23 09:38] slaff commented on #1167
Create a request that will be used as a base for the rBoot Http request(s). Set all needed SSL settings on that base request and then use rBootHttpUpdate::setBaseRequest https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/Network/rBootHttpUpdate.h#L63.

Something like this:
[code]

[2017-06-23 11:32] icodk commented on #1167
@slaff
Will try it out
Thanks a lot

[2017-06-24 11:10] icodk commented on #1167
@slaff
I did some tests and get watchdog timeout: I use your sugestion:
[code]

here is the full message (minus memory dump) may be you can see whats wrong:

[code]

[2017-06-24 11:51] slaff commented on #1167
That is something that we have discussed before. ESP has limited RAM and you cannot expect it to work as desktop computer.

The issue is happening due to not enough memory

[code]

The remote server uses 16K for fragment size. If this is your own server you can configure it to send 4K fragments instead of 16K.  I am copy-pasting answers from [previous threads](https://github.com/SmingHub/Sming/pul

[2017-06-24 12:55] icodk commented on #1167
@slaff
It works! Amazing ! Greatly appreciate your help and patient.
Hopefully a cosmetics matter. after successful  ota  the esp rests with Fatal exception:
[code]

[2017-06-24 13:18] Informatic opened #1168 "Build system issues"
- [x] `make clean` does not properly clean additional modules set in `Makefile-user.mk` variable `MODULES` (only removes `out/build/app*` files)
- [ ] Current build system does not use dependency files (`.d`), so that changes in headers do not cause rebuilds of source files

[2017-06-24 20:40] mr-sven commented on #1137
I faced out the same Issue. I've a ESP8285 with integrated 1MB Flash. At first i struggled over it by using OTA.

If I flash the same ROM to slot 0 and 1 I can boot from both. If I flash a different ROM to slot 1 I cannot boot from slot 1, it will fail. Sometimes it hangs or it will show exceptions.

I think there is a mapping problem. If I boot from slot 1 and try to update slot 0 with OTA the sy

[2017-06-24 21:14] mr-sven commented on #1137
Ok, I've found the issue. I copied `rboot.rom0.ld` to `rboot.rom1.ld` and modified the `Makefile-rboot.mk`. I modified `irom0_0_seg` of the rom1 file to `org = 0x40282010, len = (1M - 0x2010)`.

I'm not firm with ld files, maybe there could be an option to modify the linker file automatically or dynamic create the file.

[2017-06-24 21:32] mr-sven commented on #1137
ok, Update on this. It is enough to copy the `rboot.rom0.ld` as `rom1.ld` to your project root and modify the `irom0_0_seg` depending on your flash size: (https://github.com/raburton/rboot#linking-user-code)

[2017-06-26 07:46] slaff commented on #1168
@Informatic Please, submit PR with the proposed changes.

[2017-06-26 08:58] slaff commented on #1167
If you can reproduce the issue make sure to post the decoded stack trace so that we have some clues what is happening. Just for my understanding - is the OLD rom image resetting ESP? Or the newly updated one?

[2017-06-26 09:30] Informatic commented on #1168
Yes, I (hopefully) will, in following week/weeks... :)

[2017-06-26 11:08] icodk commented on #1167
The issue is persistent, It is reproduced each time. As far as I can see it is in the current running (OLD) ROM
The OtaUpdate_CallBack()  is not called. The line above saying: Firmware updated. is not part of my code.
i Tried to analize the Stack dump (on Windows) but get an error from decode-stacktrace.py
[code]

[2017-06-26 11:14] slaff commented on #1167
Most probably the python script cannot find the path to the external xtensa-lx106-elf-addr2line. Make sure that you have it in your PATH.

[2017-06-26 11:23] slaff commented on #1167
I tend to disagree. In the log above you have

[code]

Take a look at [that code](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_rBoot/app/application.cpp#L19). It is calling `OtaUpdate_CallBack`.

[2017-06-26 11:25] slaff commented on #892
@ADiea How about adding the above described feature?

[2017-06-26 11:30] icodk commented on #1167
Managed to run it (with your suggestion)
Hope you can make sens of it. There are two chanks:
[code]
And the second:
[code]

[2017-06-26 11:37] icodk commented on #1167
You are right, It does call the call back function.
The next two calls are:
rboot_set_current_rom(slot);
System.restart();
before exiting the  call back

[2017-06-26 13:25] ADiea commented on #892
Have not done ESP related dev in a while because my project/idea is on hold... for now I'll keep just an eye maybe help with reviews etc. That "feature" is not something very complicated it is something like this:
1. keep early program malloc / free  details in a list until they can be printed
2. after the system is inited and debugf works print the buffer and then print every malloc normally
3. P

[2017-06-29 13:01] simonsilvalauinger opened #1169 "Supporting C++11 chrono library"
C+11 introduced an awesome [chrono library](http://en.cppreference.com/w/cpp/chrono) which contains semantic time utils like [duration](http://en.cppreference.com/w/cpp/chrono/duration) or [time_point](http://en.cppreference.com/w/cpp/chrono/time_point). The basis of them are clocks. Three clocks, [steady_clock](http://en.cppreference.com/w/cpp/chrono/system_clock), [system_clock](http://en.cppref

[2017-07-01 11:56] sweetpants opened #1170 "Problem with web configuration"
Hi, Im trying to write an application based on the MeteoControl example. Got the webserver working, but something strange happens when I configure the password in de WebGUI. I have added a JSON print statement to explain what happens.

1) Started the ESP, went to configuration screen and entered just a SSID,. JSON ouput is:
{
  "network": {
    "ssid": "WLHS-SECURE",
    "password": ""
  }
}
This

[2017-07-04 11:11] jssilva25 commented on #1158
I also feel:
Detected overlap at address: 0xa000 for file: out/firmware/0x0a000.bin
But not on all builds, this was on MeteoControl where 0x00000.bin is 44048 bytes long (0xac010, obviously it must overlap).
But building the Basic_Blinky doesn't overlap because 0x00000.bin is 28592 bytes long (0x6fb0); Basic_Debug and other small samples also don't overlap because 0x00000.bin is smaller than 0x0a0

[2017-07-06 14:36] gbl08ma opened #1173 "List of objects that can be moved to flash"
I have noticed that static data RAM usage, mainly rodata, has been increasing a lot in more recent Sming versions.

This is a list of constant objects that, in principle, can be annotated to never leave the flash:

- [ ] [**http_parser** `tokens`](https://github.com/nodejs/http-parser/blob/335850f6b868d3411968cbf5a4d59fe619dee36f/http_parser.c#L189) (256 bytes)
- [ ] [**http_parser** `unhex`](http

[2017-07-06 16:41] rickyitexpert opened #1174 "Fatal Exception 20: Simultaneously SoftAP and Station Mode"
ESP8266 enters into fatal exception 20 in any of the following condition.

1. Enabling SoftAP First and then Station Mode
2. Enabling Station Mode First and then SoftAP

Whether enabling both mode during init or later it always result in Fatal Exception.

Sequence of events during Fatal Exception:
1. Station Mode working good-->AP Mode Enabled-->Some Wifi Client tried to associated with ESP8266-->

[2017-07-07 05:20] rickyitexpert commented on #974
This problem can be solved by splitting the JSON String in smaller parts with start and end identifiers for JSON on client side. On ESP Side you can reconstruct the splitted strings into one and parse it as JSON.

[2017-07-08 21:32] shodanx2 opened #1175 "Error during installation on windows"
https://i.imgur.com/YYZ22jI.png

Running in an administrator cmd window

Here's a dump
[sming install error.txt](https://github.com/SmingHub/Sming/files/1133324/sming.install.error.txt)

here's the logs

[choco.summary.txt](https://github.com/SmingHub/Sming/files/1133328/choco.summary.txt)
[chocolatey.txt](https://github.com/SmingHub/Sming/files/1133327/chocolatey.txt)

The first error is
2017-07-

[2017-07-09 09:13] sweetpants commented on #1174
Since latest update I also have issues running the Webserver either in STA or AP mode. As soon as I try to access index.html I get:

The headers are complete
attached file: index.html (1606 bytes)
TCP received: 140 bytes
READ Template (0)
read errno -10014

***** Fatal exception 3
pc=0x4022cfb6 sp=0x3ffff280 excvaddr=0x40000960
ps=0x00000030 sar=0x00000000 vpri=0xcc407dc8
r00: 0x40234400=107605299

[2017-07-09 09:26] sweetpants commented on #1174
Hmmm, when I remove rboot, things start to work again

[2017-07-09 12:10] harryd100 commented on #1170
Seems like request.getPostParameter("name") returns bogus data sometimes

[2017-07-09 18:14] jssilva25 opened #1176 "HttpRequest.getPostParameter delivers corrupted data"
I'm building an application which uses 3 user-modifiable string names. These correspond to the name of three thermometers which have initial names of "Temperature 1", "..2" and "..3".

The problem is when I modify, for instance, "Temperature 2", **all the fields are corrupted** and set to "Temperature 3".

I'm almost 100% sure the problem lies within the library and I would happily submit the solu

[2017-07-10 12:19] slaff commented on #1138
@midiway Feel free to reopen the ticket if the issue persists.

[2017-07-10 12:19] #1138 closed

[2017-07-10 15:57] slaff commented on #1176
@jssilva25 Get the latest develop version, recompile and check.
[code]
And then go to your app and recompile it to use the latest sming library

[code]

Once you are ready, please, write back to tell us if the issue is still present. If yes - you should provide a way to reproduce it: a sample `curl` request and code that shows the issues that you are experiencing would be very helpful.

[2017-07-10 16:47] slaff commented on #1162
@piperpilot I could not detect any (major) memory leak. What can be done though is:

1. Merge all CSS files into one CSS file and apply the same to the JS files.
2. In order for the closed TCP connections to be purged sooner than the default you can change the value `TCP_MSL` (in  $SMING_HOME/third-party/esp-open-lwip/include/lwip/tcp_impl.h to something like `2000UL` ), remove the old Sming and L

[2017-07-10 17:43] piperpilot commented on #1162
@slaff

#1 seems like a bandaid.  This exact same JS/CSS worked fine in previous versions of SMING before the re-write of the client/server.

#2 I will try this and see if it helps.

#3 I verified taht my compiler, esp-alt-sdk does NOT have the mforce-l32 so I am downloading and rebuilding the esp-open-sdk.  Maybe that is the root of my problem.

#4 part of the issue is that the client doesn't eve

[2017-07-10 19:02] jssilva25 commented on #1176
The issue is gone, many thanks.

Is there a way to ENABLE_GDB=1 on Sming, even partially, without overloading IRAM, and so being able to debug with GDB?

I think that I, and others, could contribute more if a debug tool is available.

Thanks for your work.

[2017-07-11 07:15] slaff commented on #1176
Hm, that is a very good question... I can take a look at it but I doubt it because most of the GDB functions must be in IRAM, otherwise the debugging will crash often.

[2017-07-11 07:15] #1176 closed

[2017-07-12 09:24] slaff commented on #1174
@rickyitexpert When you use rboot `spiffs_mount` will not work as you might expect (reported in #1009). If you want to use spiffs and rboot then you should try to mount the SpifFS using call like `spiffs_mount_manual(0x100000, 65536);`

[2017-07-12 09:26] slaff commented on #1174
@rickyitexpert We will be able to help you further with this issue if you can provide us a sample code that reproduces the error.

[2017-07-12 10:15] max-weller opened #1179 "TwoWire::begin has reversed parameter order than on ESP8266/Arduino"
I just spent a few hours debugging a small program I ported from ESP8266/Arduino to Sming. The problem was that I called [`Wire.begin(scl, sda);`](https://github.com/esp8266/Arduino/blob/master/libraries/Wire/Wire.cpp#L57) as it works on the Arduino implementation. On Sming, the order of params is reversed: [`Wire.begin(sda, scl);`](https://github.com/SmingHub/Sming/blob/master/Sming/SmingCore/Wir

[2017-07-12 11:32] zgoda commented on #1179
You have problem elsewhere in code or you use some ancient version of Sming. In 3.2.0 the order matches Arduino core, see https://github.com/SmingHub/Sming/blob/5c37d69f45963dcc25e2fc63ce389494f337f568/Sming/SmingCore/Wire.h#L51

[2017-07-12 11:50] zgoda opened #1180 "Exhausting heap with websocket, inconsistent behaviour"
I have code that just broadcasts what it receives from websocket. The complete messages (with headers) are ~190 bytes and arrive in 5-6 sec intervals, each in new connection. It takes about 1 hour of operation to exhaust available heap on ESP-12 but the problem is that the behaviour is inconsistent. Sometimes it just drops connection (I see `CONNECTION DROPPED` in terminal), and continues after so

[2017-07-12 17:13] yeralin opened #1181 "How to properly control servo from HTTP Server"
Hello,

I'm trying to create a HTTP Endpoint that will rotate servo on GET Request:

[code]
This fails with: `***** Software Watchdog Reset`

I found similar issue: https://github.com/SmingHub/Sming/issues/497
But it doesn't really cover my case :(

[2017-07-12 17:20] slaff commented on #1180
I would say that the best will be to see where the memory leak is coming from and try to fix it. Can you paste a sample code that reproduces the issue?

[2017-07-13 07:59] zgoda commented on #1180
Nothing special, just simplified HttpServer_WebSockets sample:

[code]

The memory usage is steady if I don't create new connection for every message sent by client. As soon as I begin sending messages in separate connections, free heap drops with every connection. Client code (Python 3.5+, messages sent in single connection):

[code]

[2017-07-13 08:11] slaff commented on #1181
@yeralin Can you send decoded stack trace (when the device crashes it should print a lot of information in the console ) ?

Are you using the latest `develop` version?
Can you add after the `delay()` another line which resets the software watchdog `system_soft_wdt_feed ();` ?

[2017-07-13 08:40] avr39-ripe commented on #1180
@zgoda If I understand you right, you try to make NEW websocket connection every 5..6 sec? If so, I think it is "normal" that memory "leaks" because each connection, even unused need some time to free resources, it is kind of race and new connection maker wins and eats all esp memory. You should either use one connection or limit new connection count or increase time between new connections.

[2017-07-13 09:07] zgoda commented on #1180
Yes, I know that. The problem is not heap exhaustion but inconsistent behaviour when there's not enough memory to accept incoming connection. Sometimes firmware drops connection and continues after some memory is reclaimed but sometimes WDT resets chip.

[2017-07-13 09:30] slaff commented on #1180
When you create the HttpServer you can [specify settings](https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/Network/HttpServer.cpp#L24) for it that differ from the default ones. If you want to have consistent behaviour you can set `settings.minHeapSize` to 0. This way the HttpServer will consume all available memory and ESP will get, most probably, restarted due to not-enough memory.

[2017-07-13 10:06] zgoda commented on #1180
Thanks, that is the thing i'm looking for.

[2017-07-13 10:06] #1180 closed

[2017-07-13 10:46] zgoda commented on #1179
I remember we discussed this before. @avr39-ripe @slaff any opinion on this?

[2017-07-13 12:20] slaff commented on #1134
@tius2000 It would be great to use C++14/17 features as long as the GCC xtensa compiler supports them. Please, create a new PR and so that we can review it and evaluate it(compiled code size, performance and resource usage(esp. memory), etc.

[2017-07-13 13:29] avr39-ripe commented on #1179
I think we should make Wire.begin the same as ESP8266/Arduino. Update Wire implementation and update examples app.

[2017-07-13 13:40] slaff commented on #1179
@avr39-ripe Agreed. Can you create a new PR?

[2017-07-13 14:38] teicors opened #1186 "Errors compiling MeteoControl"
Hi,
testing the new install from scratch of Sming and esp-open-sdk I get two errors:
1. during the build of spiffs:
`Unable to write to spiffs file 'jquery.js', errno -10001.`
2. during the flash :
`Running Cesanta flasher stub...
Flash params set to 0x0000
Writing 45056 @ 0x0... 45056 (100 %)
Wrote 45056 bytes at 0x0 in 3.9 seconds (92.1 kbit/s)...
Writing 299008 @ 0xa000... 299008 (100 %)
Wrote

[2017-07-13 21:05] fernandomorse opened #1188 "Decode the stack dump"
After error in running my program.

I tried using python to debug, below

I am using windows platform, while trying to run the command

python  C:\tools\sming\tools\decode-stacktrace.py out/build/app.out

Error is displayed

What am I doing wrong?

[2017-07-13 21:07] slaff commented on #1188
Which is the python version that you have?

[2017-07-13 22:36] fernandomorse commented on #1188
@slaff  Python 3.6.0

[2017-07-14 04:03] yeralin commented on #1181
@slaff Sorry, should have provided more debug info.

Here is my stacktrace:
[code]

According to `/opt/Sming/Sming/SmingCore/SmingCore.h`:
#define SMING_VERSION "3.2.0" // Major Minor Sub

[2017-07-14 04:12] yeralin commented on #1181
With `system_soft_wdt_feed ();`
It was slightly better. It did couple rotations, but then crashed again :D

[code]

[2017-07-14 08:11] slaff commented on #1188
@fernandomorse Ok, try the following:

[code]

And tell me if the `decode-stacktrace.py` tool is working for you.

[2017-07-14 14:17] fernandomorse commented on #1188
@slaff command executed , in the gitshell
git fetch origin pull/1190/head:p3

Error: fatal: Not a git repository (or any of the parent directories): .git

.. My plataform is Windows 10.

[2017-07-14 14:31] slaff commented on #1188
The git commands are valid in a directory that is under git version control. That means that you have to `cd` to such a directory before executing the command above. For Windows you can do

[code]

If it is not working for you ask a friend nearby to help you working with `git`.

[2017-07-14 14:33] slaff commented on #1188
Or [download this file](https://raw.githubusercontent.com/slaff/Sming/0849f210219629d32e6b88cd76d81addd4ce643b/tools/decode-stacktrace.py) and replace with it the local `decode-stacktrace.py`

[2017-07-14 15:20] fernandomorse commented on #1188
@slaff thanks, worked.

[2017-07-14 15:20] #1188 closed

[2017-07-14 16:41] fernandomorse opened #1191 "HttpClientCompletedDelegate Passing parameters"
How can I use _HttpClientCompletedDelegate_ by passing class parameters :ADDRESS(pointer to) of class-member and second is ADDRESS (pointer to) of class-instance

Example :

[code]

at where :

[2017-07-14 22:27] tprochazka commented on #397
I don't understand why this was fixed in RTOS version and not here, id this is still under development, or not?

[2017-07-15 23:49] yeralin commented on #1181
@slaff Also, I tested this small snippet:
[code]
Still fails for the same reason:

[code]

[2017-07-18 08:01] slaff commented on #1181
@yeralin Soooo... Since the WIFI and tcp stack need to be able to take control on a regular basis the ESP device has to be sure that no user program is occupying the processor for more than X seconds. Therefore there are two watchdog timers in ESP. The watchdog timers are like countdown timers. If they are not reset then they will take control and do their work. One is the software watchdog, that

[2017-07-18 08:01] #1181 closed

[2017-07-18 08:04] slaff commented on #1130
@ZyperPL Can you check the latest `develop` version? We made a lot of changes there to optimize the code.

[2017-07-18 08:06] #1069 closed

[2017-07-20 16:59] yeralin commented on #1181
Ok I found a way. Thanks @slaff  for Kolban's book, very useful.

[code]
Basically, here we are scheduling task `rotateServo`, but since we can't do that continuously 5 times (watchdog will fire after 2 seconds), we rotate servo, and scheduling another execution of `rotateServo` by using `system_os_post`. That way, we give control back to OS, and watchdog doesn't think that program stuck.

[2017-07-21 08:09] slaff opened #1195 "*** Preparation for Release 3.4.0 ***"
This issue is created to collect all the tasks we need to do before the 3.4.0.
This release will be targeting better Arduino compatibility.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h
- [x] Update Readme.md
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### Refactoring
- [x] Fix the Wire param order to match Arduino (#1193)
- [x] Add pgmspace.h (#1213

[2017-07-21 08:18] slaff commented on #1130
Feel free to reopen the issue if the problem occurs again.

[2017-07-21 08:18] #1130 closed

[2017-07-21 09:15] slaff commented on #1035
@hreintke  Can you share with us some code?

[2017-07-21 15:18] yeralin opened #1197 "initializeMs doesn't fire after 3599999 Ms"
Hello,

I wrote a simple function:

[code]

Printed:
[code]
Then just stuck :/ No errors, micro-controller is still working, only doesn't fire `timedCheck` after 10 seconds anymore :(

Does it mean that `initializeMs` only works up to 3600000Ms (1 Hour) ?
Is there any other method to fire a function after 1 hour?

[2017-07-26 03:24] yeralin commented on #1197
Seems like it was one time thing (glitch?)

[2017-07-26 03:24] #1197 closed

[2017-07-26 13:57] #1109 closed

[2017-07-26 14:05] Vity01 commented on #1109
Is 3.3 already compatible with Windows?

[2017-07-26 14:35] slaff opened #1204 "Automation on new release."
## Description
This request enables release automation tasks.

**THIS REQUEST REQUIRES REPOSITORY OWNER ACTION**

## Actions required by repository owner
- Generate new access token
- Encrypt access token
- Replace
`- secure: Db9Cnv+oOmmQMm6aIf3H5V...rjzDx64ug2MmllI=` in `.travis.yml` with your encrypted personal access token

### Generate Access Token
Create a [new personal access token](https://

[2017-07-26 15:53] slaff commented on #1109
@Vity01 It should be. If you are using choco something like this should download for you the latest version
[code]

[2017-07-27 07:37] slaff commented on #1186
@teicors What is the flash size of the ESP8266 device that you have?

[2017-07-27 07:38] slaff commented on #1179
Should be fixed with PR #1193 which is merged now in the `develop` branch.

[2017-07-27 07:38] #1179 closed

[2017-07-27 11:35] slaff commented on #708
The workaround in order to get the latest stable version of Sming is

[code]

If someone knows a place to host free of charge choco packages then we can update also the other Sming packages.

[2017-07-27 11:45] kwis2 opened #1206 "1MB ESP8266-01 rBoot softWDT problem ?"
According to #1137  I have finally tried rboot with ESP8266-01, 1MB Flash board, Sming 3.3.0
I tested Basic_rBoot example and after ota command there were a lot of Software Watchdog resets. Additionally ESP fired stack dump. I counted 34 boots. Is it standard behaviour or am I doing something wrong?

[2017-07-27 11:58] robertkendrick opened #1207 "Sample rboot now seems to need Wifistation.connect()"
I'm running Sming-master-3.2.0 and SDK NonOS 2.0.0.
The sample Basic_rboot does not connect to the network when I issue the application's "connect" command. When I issue the application's "ip" command it is always 0.0.0.0. All other commands show relevant output.
If I edit the application source and add WifiStation.connect() to the code in the command handler it all works fine. I can "ota" and "sw

[2017-07-28 08:17] teicors commented on #1186
@slaff the chip is 4MB.
I fixed my error changing into Makefile-project.mk the size of the eprom from 512K to 4M. I've updated also the version esptool from 1.2 to 2.1 beta and when I try to flash I catch this error

`esptool write_flash: error: argument <address> <filename>: Detected overlap at address: 0xa000 for file: out/firmware/0x0a000.bin`

in the old version of esptool (1.2) I have no erro

[2017-07-28 08:30] slaff commented on #1186
@teicors That is the problem. The second rom, starting at position 0xa000 is overlapping the first one. At the moment we don't have automatic adjustment of rom starting positions. But there is a workaround. Read the second last comment from #972. It contains instructions with things to do.

[2017-07-28 10:50] slaff commented on #1207
@robertkendrick May be that is the case with new(er) SDKs. Having `WifiStation.connect()` does not hurt therefore can you make a PR with your change?

[2017-07-28 10:53] kwis2 opened #1209 "WifiEvents documentation"
Hi
I test WifiEvents, I would like to use onAccessPointConnect delegate or I am interested in onStationDisconnect reason codes, but I am not able to find any documentation or samples.

[2017-07-28 10:56] slaff commented on #1186
Since issues with more or less the same problem started to pile up I have created a PR that has automatic adjustment built-in. Can you test if the solution is working for you?

[code]

And then compile your sample and report.

[2017-07-28 11:02] slaff commented on #944
The current workaround is:

[code]

[2017-07-28 11:02] #944 closed

[2017-07-28 11:20] avr39-ripe commented on #1209
Hi! For reasons of different WifiEvents look here https://github.com/espressif/ESP8266_NONOS_SDK/blob/master/include/user_interface.h#L415 or in corresponding version of your esp-nonos-sdk. For Delegates - look inside https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/Platform/WifiEvents.cpp to find delegate params. Will try to find some time documenting it more properly..

[2017-07-28 11:34] teicors commented on #1186
fetched a new version, checkout test/pr as you wrote, compiled the Metecontrol and here's the result:

` angelo@angelo-U36SG  /tmp/Sming/samples/MeteoControl   test/pr ●  make flash
make[1]: ingresso nella directory "/tmp/Sming/Sming"
make[1]: uscita dalla directory "/tmp/Sming/Sming"
C+ app/webserver.cpp
C+ app/configuration.cpp
C+ app/application.cpp
AR out/build/app_app.a
LD out/build/app.o

[2017-07-28 16:25] slaff opened #1211 "Updated choco packages"
## Description
This request enables better control over the Sming choco package generation and opens the possibility for automatically creating new choco packages on release.

**THIS REQUEST REQUIRES REPOSITORY OWNER ACTION**

## Actions required by repository owner
- Fork https://github.com/slaff/chocolatey-packages

### Generate Access Token
Login as SmingHub owner and fork https://github.com/sl

[2017-07-28 21:07] #1191 closed

[2017-07-28 23:32] fernandomorse opened #1212 "Code E:M 1512"
When using Httpclient I am receiving this code E: M 1512 and it stops working

[2017-07-29 00:20] uzi18 commented on #1212
can not allocate 1512 bytes of memory

2017-07-29 1:32 GMT+02:00 fernandomorse <notifications@github.com>:

[2017-07-29 00:39] fernandomorse commented on #1212
Where can I read more about it?

What do I need to do to run my test program?

@uzi18

[2017-07-29 03:10] fernandomorse commented on #1212
Ok
Reading Heap and Stack, problem solved.

[2017-07-29 03:10] #1212 closed

[2017-07-29 08:12] #1158 closed

[2017-07-29 08:12] #1186 closed

[2017-07-29 09:01] slaff commented on #708
That should be fixed using the new source. See the modified WIKI page: https://github.com/SmingHub/Sming/wiki/Windows-Quickstart for details.

[2017-07-29 09:01] #708 closed

[2017-07-29 17:04] teicors commented on #1186
I read the Sming 3.3.3 nonos and I downloaded, I can compile after changing the SPI_SIZE into Makefile.project, but Basic_Blink seems orkink only with esptool 1.2: using esptool 2.1 nothing happens.

`angelo@angelo-U36SG:/opt/Sming/samples/Basic_Blink$ make clean
angelo@angelo-U36SG:/opt/Sming/samples/Basic_Blink$ make flash
C+ app/application.cpp
AR out/build/app_app.a
LD out/build/app.out

#Memo

[2017-07-30 07:54] slaff commented on #1036
Closing due to inactivity. Feel free to reopen it if needed.

[2017-07-30 07:54] #1036 closed

[2017-07-31 06:37] jairov4 commented on #1134
I would love it

[2017-08-01 14:41] slaff commented on #1157
@piperpilot Did you had the chance to try your app with the latest Sming version?

[2017-08-01 18:12] kwis2 opened #1214 "Serial callback problem"
When I send garbage data to serial module work unstable. I have tested sample project and there is the same behaviour. For instance with Basic_rBoot example it is enought to send `qwertyuiopasdfghjklzxcvbnm` string to fool module. It looks like there is problem with flushing data.

below is log with added
[code]
added into serialCallBack.

Sming 3.3.0, module ESP8266-01

[2017-08-02 21:37] robertkendrick commented on #1207
PR #1215 done.

[2017-08-03 06:53] #1207 closed

[2017-08-05 01:05] igormorse opened #1216 "Docker after make flash - Serial Output Garbage"
Hello folks,

I'm currently using the [attachix container](https://hub.docker.com/r/attachix/c9-esp8266-sdk/) on Docker to setup my development environment.

Everything is working fine except for this:

First one its my main problem that is the Serial Output after running make flash.

![ice_screenshot_20170804-215632](https://user-images.githubusercontent.com/8562816/28991571-1d8269de-7960-11e7-9a

[2017-08-05 05:21] fernandomorse opened #1217 "attachInterrupt"
I need my attachInterrupt located in a class DEVICE to execute the callback on the application.cpp

example

[code]

Program above, report error

void ICACHE_FLASH_ATTR DEVICE::setCallback(uint8_t gpio, uint8_t mode) 'callback' was not declared in this scope

How can I perform this operation ??
Any idea ??

[2017-08-05 06:58] igormorse commented on #1136
Chocolatey was too tricky and intrusive in my opinion. Several packages, hard to update.

The Docker solution worked fine for me, its clean, quick and easy enough for everyone.

[2017-08-05 09:15] slaff commented on #1216
@igormorse Yes, you should [initialize the device](https://github.com/SmingHub/Sming/wiki/Application-prints-random-symbols-and-restarts) (only needed once). The steps are:

[code]

And then you can upload the sample application
[code]

[2017-08-06 05:27] igormorse commented on #1216
Thanks that worked just fine except for the command for exit the script that it seems to not work inside the c9 terminal.

Anyway to quit this script without the Ctrl + ] input ?

I did read the Wiki but sorry for not paying attention on the troubleshooting section.

[2017-08-09 15:23] MayaPosch opened #1219 "Possible TLS regression: out of memory on TLS handshake"
Here at the office we have a number of nodes running with older Sming-based firmware images which connect using TLS to a HAProxy with the TLS fragment size set to 2 kB. This has so far allowed us to use TLS and MQTT without any issues.

Since building new firmware images, and updating to the current Sming develop branch, the TLS handshake is failing again with an out of memory error from axTLS:

T

[2017-08-10 08:53] ADiea commented on #1219
Hi here is a internal picture of the workings
in __third-party/axtls-8266/ssl/tls1.c__ there is this function
```int increase_bm_data_size(SSL *ssl, size_t size)```
Initially the ssl->bm_all_data is malloc'ed with a minimum required size
When a handshake is done the ssl->bm_all_data is increased using this function realloc'ed to the required size mak 16kB
You need to make sure this has not changed

[2017-08-10 09:50] itarataiko opened #1220 "MqttClient_Hello with ENABLE_SSL not working"
I'm using Sming V3.3.0

MQTT start connection
+TCP connection
connect to: test.mosquitto.org
Storing 77 bytes in stream
timeout updating: 70 -> 65535
subscription 'main/status/#' registered
realloc 77 -> 226
Storing 20 bytes in stream
DNS record found: test.mosquitto.org = 37.187.106.16
TcpConnection::connect result:, 0
OnConnected
staticOnConnected: useSSL: 1, Error: 0
SSL: Starting connection...

[2017-08-13 19:30] MayaPosch opened #1221 "Third-party PWM library incompatible with HardwarePWM class"
By default Sming is built with the third-party PWM library by Stefan Bruens. As the README for this library notes:

As a result of this, HardwarePWM no longer works as expected, being initialised to 5 kHz by default instead of 1 kHz, and with the duty not working as normal either. It might be desirable for this third-party library to use the SDK behaviour.

For now I have added this parameter to t

[2017-08-14 06:36] slaff commented on #1221
@MayaPosch Can you create a pull request with the suggested changes?

[2017-08-18 02:34] gjt211 opened #1223 "MacOS Quickstart fails"
Hi, I have followed the MacOS quickstart guide to the letter and am unable to get the environment working.

I get to the **Get & Build Sming Core** section and enter `sudo make` and it ends with some errors.
[code]

further up there is also an error after
[code]

Any help or guidance is appreciated.

[2017-08-18 05:13] gjt211 commented on #1223
I wanted to provide an update to this - still unsuccessful!
On a windows 7 machine, I installed VirtualBox and Lubuntu.
I then followed the Linux Quickstart guide, and got as far as
[code]
Pretty much the same as on MacOS. Pretty much identical errors as above.
This is doing my head in. It should not be this difficult.
Any help anyone can provide is welcome.

[2017-08-18 18:16] igormorse opened #1224 "Sming C++ 11 Compiler"
Hello Folks,

Does Sming works with the C++11 Compiler ?

Thanks,
Igor Morse.

[2017-08-20 16:03] max-weller opened #1227 "decode-stacktrace.py doesn't work on Arch Linux"
...because on Arch the default python version is 3.x, and decode-stacktrace.py requires 2.x, however the shebang line in the script references the unversioned python binary.

This can be fixed by PR #1225.

[2017-08-21 05:45] slaff commented on #1227
@max-weller decode-stacktrace should work also with python3. Please, paste here the issues that you have. A proper fix IMHO would be making the script work also with python3 and not force it to use always python2.

[2017-08-21 05:46] slaff commented on #1224
@igormorse Yes, it does and uses the c++11 standard.

[2017-08-21 05:46] #1224 closed

[2017-08-21 10:21] max-weller commented on #1227
That'd be the clean solution I guess :D

[2017-08-21 10:23] max-weller commented on #1227
I get the following error after pasting a stack trace:
[code]

[2017-08-21 10:30] max-weller commented on #1227
OK it works now with Python3, I made a new PR  #1228

[2017-08-21 15:15] slaff commented on #1227
Should be fixed with PR rebase #1229.

[2017-08-21 15:15] #1227 closed

[2017-08-21 20:16] kwis2 opened #1230 "Http transfer time and software watchdog reset"
I have html page on ESP8266-01 web server. I open it with Mozilla on windows PC. With Mozilla's developer tools I got informations that html document transfer 2.38 kB and about 4000 ms time. Time differ but never less than 1000 ms. Sometimes ESP reset with software watchdog.
Two questions
- response time of a few seconds is it ESP8266 standard?
- is it possible to disable stack dump - wdt reset co

[2017-08-23 03:14] igormorse commented on #1216
You need to rebind the Ctrl-] from the Cloud9 Key Biddings to be able to stop the Python Application. That solved it.

[2017-08-23 03:14] #1216 closed

[2017-08-23 09:22] No13 opened #1231 "Improve (manual?) roaming"
Hello everyone,

I'm currently having some small issues with my ESP8266 based sensors at home. After rebooting an AP all the sensors will go and connect to the remaining AP which is pretty far away (-85 dBm). After the first AP has finished rebooting, all sensors stick to the one which is far away.

I would like to improve my code by scanning every now and then and connect to the strongest BSSID.

[2017-08-25 12:43] Vity01 commented on #1136
@igormorse Not for everyone. My older (but still fast enough) CPU does not support special instructions set for virtualization....
Also using Docker adds additionally complexity for users. Standard Windows distribution should be preserved.

[2017-08-25 13:20] fvpalha opened #1232 "Bridge UART <-> TCP"
Hi, someone made a bridge (TCP <-> Serial) with Sming 3.3.0 ?

[2017-08-26 13:04] johndoe8967 opened #1233 "SED not working on Mac OS"
Hello,

since commit "Added dynamic recalculation of image offsets to prevent rom overlapping. #1208"
there is a "sed -r" in the makefile-project.

This is not supported on mac os.
I tried to fix it by exchanging it to "sed -E" but then I get segfaults because of wrong calculation of the ROM addresses

[2017-08-26 20:17] icodk opened #1234 "Basic_WebClient with ssl crashes"
Basic_WebClient from samples, sming compiled with ENABLE_SSL=1

Compile OK
Download  OK
When run get the following output:

ip:192.168.1.19,mask:255.255.255.0,gw:192.168.1.1
ip:192.168.1.19,mask:255.255.255.0,gw:192.168.1.1

Connected. Got IP: 192.168.1.19
Creating new httpConnection
HttpConnection::connect: TCP state: -1, isStarted: 0, isActive: 0
HttpConnection::connecting ...

+TCP connection
c

[2017-08-27 09:17] nirdroid opened #1235 "docker, adafruit huzzah, blink not working"
hi, I'm using the latest docker version of sming. everything is configured and working
make, make flash successful, but no led is blinking!
I tried changing LED_PIN to 0, 2 but no blink.
I run blink with the  arduindo ide frameworks, and it works ok, so the chip is ok
maybe the framework does not identify my chip correctly?
is  docker version is being maintained?
what else should I do?

[2017-08-28 07:13] ADiea commented on #1235
Hi @nirdroid please provide more info like logs of the building / flashing and hopefully console logs.

[2017-08-28 07:15] ADiea commented on #1234
@icodk please attach stack trace by running the python script with the stack dump from console.

[2017-08-28 07:17] ADiea commented on #1232
Hi @fvpalha  how is this supposed to work like SLIP? - this is only ip encapsulated over serial not tcp
Do you have an example project? Are you referring to the AT commands firmware from Espressif?

[2017-08-28 10:42] fvpalha commented on #1232
Hi @ADiea . I need, over TCP, send bytes to UART and receive bytes from UART.
I am looking for a little sample.

[2017-08-28 11:28] icodk commented on #1234
@ADiea
Tried to do a stack trace but failed:
I entered:
`C:\tools\Sming_3_3_0\tools>python decode-stacktrace.py C:\tools\Sming_3_3_0\samples\Basic_WebClient\out\build\app_0.out`
Then I paste the output and get:

``3fffff10:  3ffed162 3fff0f08 3fff1e20 40223e3d
Traceback (most recent call last):
  File "decode-stacktrace.py", line 40, in <module>
    data = input()
  File "<string>", line 1
    3ff

[2017-08-28 14:40] icodk commented on #1234
Basic_ssl gives similar results (**** Fatal exception 3)

[2017-08-28 18:41] icodk commented on #1234
Found out that if I compile in docker it runs (both Basic_webClient and Basic_ssl) without isues
I can also see that there is a different between the two compilations results in regards to sizes.
Here are the two results:
Docker compilation:

bash-4.3# make ENABLE_SSL=1
OC out/build/libmain2.a
make -C /workspace/Sming/Sming/third-party/rboot RBOOT_GPIO_ENABLED=0
make[1]: Entering directory '/works

[2017-08-29 12:21] ADiea commented on #1232
This could help https://github.com/pvvx/esp8266web Forum thread is here https://esp8266.ru/forum/threads/razrabotka-biblioteki-malogo-webservera-na-esp8266.56/ in russian use google translate. Maybe you can extract the tcp2uart part from that project if possible needs investigation

[2017-08-29 13:33] fvpalha commented on #1232
Thank you @ADiea

[2017-08-30 19:33] jcarterof opened #1236 "HttpRequest body not being populated in HttpServerConnection in v3.3.0"
When HttpServer receives POST request with JSON (or any bytes) in the body of the message, that data does not make it into the HttpRequest object.  HttpRequest has three setBody() methods and as far as I can tell none of them is ever called.  I modified the HttpServerConnection::staticOnBody() method, adding the line:

`connection->request.setBody(String(at, length));`

right below the null connec

[2017-08-31 20:32] igormorse commented on #1136
@Vity01 I not saying to take down the Windows Version and I don't agree with the additional complexity. If you install the Docker Toolkit you are ready to go with docker, yes if your machine doesn't support virtualization ( almost any newer CPU support those instructions) then it's not an option.

The main downside on the window version is the amount of stuff that it does to your personal computer

[2017-09-01 21:35] MayaPosch commented on #1221
I have created a new pull request: #1237

[2017-09-02 16:13] MayaPosch commented on #1219
Thank you for your answer. Unfortunately modifying the axTLS code or to remotely attach gdb isn't as easy as thought, so I am having trouble obtaining the requested information.

[2017-09-04 09:30] kwis2 opened #1238 "docker fail compile Basic_WiFi example"
I tried to compile Basic_WiFi example with docker, and it failed with WifiEvents.
In my oppinion it is problem with old Sming version.
How could I check which version of Sming is installed? I am not able to find any information in compile output

[2017-09-04 09:36] kwis2 opened #1239 "too long time to wake up after wdt"
wdt sometimes reset module and it tooks a lot of time to wake up because of stack dump. Is it possible to disable dump?

[2017-09-06 16:22] max-weller opened #1240 "Regression: only last call to HttpResponse::sendString is used"
With Sming 3.2.0, I used the sendString method multiple times in my handler to build up the response, like follows:

[code]

With Sming 3.3.0, this stopped working as expected. Only the string passed to the last invocation of sendString is sent to the client, the earlier strings are discarded.

[2017-09-06 16:26] max-weller commented on #1240
The [old version](https://github.com/SmingHub/Sming/blob/3.2.0/Sming/SmingCore/Network/HttpResponse.cpp#L107
) of sendString only creates a new stream if no stream (of correct type) existed before:
[code]

In the [new version](https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/Network/Http/HttpResponse.cpp#L56), a new stream is created on each call to sendString, unconditionally.
`Memo

[2017-09-06 16:29] max-weller commented on #1240
@slaff
I think the bug was introduced by 5cb4ce3b2536c157e56a0a80056709ce537e80da

[2017-09-07 07:31] slaff commented on #1221
Fixed with the merge of #1237.

[2017-09-07 07:31] #1221 closed

[2017-09-08 00:00] ericogr commented on #1236
@jcarterof

Same problem here...
To workaround this issue, I set a jsonparser and used a setBody.

[code]
**This problem didn't happen in version 3.2.0**

[2017-09-09 13:36] fredimartins opened #1241 "Windows QuickStart fails"

[2017-09-10 23:16] jns2011 opened #1242 "Issue when publishing a message via MQTT"
According to the on screen debugging information,it seems that the underlying TcpConnection is leaking memory on every publsh invocation.
I get messsages reporting the data stored on stream that is increasing on every call. Frequent memory reallocations, and very often shows up of the "WAITING FOR FREE SPACE" message.
When the firmware keeps running for some time .. the WTD ends up doing its job.

[2017-09-12 14:46] mtzfactory commented on #1234
Hi,

I have the same problem with **MqttClient_Hello**, with _SSL activated_, using the `develop` branch.

[code]

Any solution?

[2017-09-13 09:21] zgoda commented on #1242
Yes but it does not "leak". Memory is allocated on heap and reclaimed after some time (when connection closes for good). Dynamic memory allocation creates "holes" in otherwise continuous space and after some time WDT has to kick in with restart when there's not enough continuous space on the heap to allocate requested amount.

See https://stackoverflow.com/a/80113/12138

[2017-09-13 14:48] mtzfactory commented on #1220
Hi,

I have the same problem: https://github.com/SmingHub/Sming/issues/1234#issuecomment-328875862

Any solution?

[2017-09-13 15:01] jns2011 commented on #1242
Thanks for you answer.
To be honest I didn't watched in deep inside the code.. just in order to
notice the source of the "wait .." message.
Of course I understand the dynamic memory allocation process, but what
caught my eye was the fact that
sending packets of fixed size (150 bytes each) there are several allocation
steps that doubles buffer size.

And.. of course after some time (because I send

[2017-09-15 09:14] zgoda commented on #1242
Simple MQTT communication should not induce such behaviour, not that often anyway. ESP has plenty of RAM so if you do not waste it elsewhere (eg. in HTTP server) MQTT should not be a problem.

[2017-09-15 10:36] slaff commented on #1236
HttpServer does not store the HTTP body of a request in a String for a reason. And the reason is limited RAM. If it is desired to store all body data in a String then we can do the following:

- Modify the `HttpServer::setBodyParser` command to understand wildcard mime types. For example `*/*` should be triggered always and 'text/*' should be triggered only when the mime type of the coming request

[2017-09-15 12:59] bbourdel opened #1244 "FileStream uplaod from SPIFF to server : Exception20"
Hello,
On version 3.3.0, with an ESP-12 / 32Mbit, when you try to do a http request with a FileStream as data, it raise an Exception 20.
See my code above :
`FileStream fileS = FileStream("data.raw");`

`
	uploadClient.send(
		uploadClient.request("http://posttestserver.com/")
		->setHeaders(requestHeaders)
		->setBody(&fileS)
		->onRequestComplete(onDownload)
	);`

It raise a Fatal Exception 20 l

[2017-09-16 03:01] kwis2 commented on #1230
I asked for help and got response that long time of www response it is well known problem with DNS timeout while not connected with internet (no DNS access). Solution is to disable DNS. Does anybody know how could it be done for web server?

[2017-09-16 03:09] kwis2 opened #1245 "Soft WDT fire with normal web server operation"
According to #1230 it look like there are erroneous soft wdt firing while waiting for DNS timeouts with web server response. With ESP8266-01 web server I have not less than 2s, and often 4s of time to load www page. Often with this time I get soft wdt reset with stack dump.

[2017-09-16 08:44] bbourdel commented on #1244
OK, i've found a way, adding this in HttpRequest.cpp :
[code]
And this in the "main" loop :

[code]

Now, the FileStream object is created in the HttpRequest class and it's still accessible in HttpClient, Http Connection, TCPClient and TCP connection classes.

[2017-09-16 19:12] kwis2 commented on #1241
with choco install -y sming on fresh system I got

and in log file

[2017-09-18 09:19] #1244 closed

[2017-09-18 09:22] slaff commented on #1241
Ok, may be I was not clear enough. But if you are following our [updated Wiki guide](https://github.com/SmingHub/Sming/wiki/Windows-Quickstart) you will see that FIRST you have to add sming to the list of repositories with

[code]

And THEN run

[code]

[2017-09-18 11:07] R3cycl0r commented on #1241
I'm having the same issue about "spiffy" also adding first the list of repos and then running installer, what to do?

[2017-09-18 18:41] kwis2 commented on #1241
@slaff my procedure of windows install looks like below.
fresh VM with win 7 pro with jre8 and 7zip instaled

cmd as admin
`@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" && SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin`

then
`choco sources add -name smingrepo -source 'https://www.myget.org/F

[2017-09-18 20:24] fredimartins commented on #1241
exacly same here, it work fine untill mingw install - it hangs with window with C:\ProgramData\cocolatey\bin\7zip.exe

[2017-09-19 11:46] #1240 closed

[2017-09-21 10:46] kwis2 commented on #1241
Witha another try to install sming
VM, Win 7 pro 32 bit, procedure as above, but while install hangs on 7zip window I manually unpacked files

install hangs on `May not be able to find 'C:\tools\mingw64\bin\mingw-get.exe'` which file was in `c:\tools\MinGW `folder.

So I decided to copy MinGW into mingw64, and installation was succesfull with a lot of errors like

and finally I decide to run choco

[2017-09-22 13:51] slaff commented on #1244
That will not work because you are passing a reference to a local variable. What can work is this

`FileStream* fileS = new FileStream("data.txt");`

thus leading to the following modified example

[code]

[2017-09-22 19:40] Vity01 commented on #1195
@slaff The last check on refactoring topic can be marked as done - see https://github.com/SmingHub/Sming/pull/398

[2017-09-24 11:47] kwis2 commented on #1195
According to #1230 and #1239 it would be good idea to be able to disable stack dump in next release

[2017-09-30 06:24] Informatic commented on #1168
Ok, It seems like the first one is caused by me using relative path (`../base`) in `MODULES`, so that objects instead of being stored in `out/build/MODULENAME`, wind up in `out/build/../MODULENAME`. Sadly, I don't have any idea how to solve that without moving build directories over to module directories...

[2017-09-30 06:30] Informatic commented on #1168
Ok, well, using `$(realpath ../base)` in `MODULES`, as used in rboot appcode, seems to have done the trick

[2017-10-02 17:11] DjamesSuhanko commented on #831
Does anyone have news about sming for esp32? I can't develop to esp without sming framework anymore. :-)

[2017-10-04 11:30] icodk opened #1250 "Example with HttpRequestAuth"
While upgrading to Sming 3.3.0 my old basic authentication is not supported (ex. using response.authorizationRequired() )
Where can I find en example of how to use it in sming 3.3.0 ?

[2017-10-04 14:07] icodk opened #1251 "Missing Make target in eclipse for both Basic_ssl and Basic_webclient"
Both sample projects Basic_ssl and Basic_webclient are missing Make target in eclipse
However can be build on the commandline with make, make  rebuild and make flash
Tried to add: right click on the project ->Make target->create . This has created a rebuild in the Make target window but double clicking on it generate an error:
Errors occurred during the build.
Errors running builder 'CDT Builder'

[2017-10-05 00:27] eltonfernando opened #1252 "make: *** c:/tools/sming/Sming: Invalid request code. Stop."
Makefile-user.mk
SMING_HOME = c:/tools/sming/Sming
remova o espaço no final do caminho (remove the space at the end of the path)

[2017-10-05 00:31] eltonfernando commented on #417
Makefile-user.mk
SMING_HOME = c:/tools/sming/Sming
remova o espaço no final do caminho (remove the space at the end of the path)

[2017-10-08 02:23] IanAber commented on #1223
I have exactly the same problem. Has anybody been able to get past this yet?

[2017-10-08 04:22] IanAber opened #1253 "Installing on OS-X using the OSX Quick Start fails."
Installing cross-gdb
[ERROR]    configure: error: python is missing or unusable

[2017-10-08 23:43] gjt211 commented on #1223
Hi @IanAber
I still have not been successful. I have given up on this and moved to other platforms. It is obvious that nobody is able (or wants) to help newbies. I wanted to try this to see if it could be a new platform for development, and I had high hopes after looking at what it 'could' do. But it seems I won't ever know.
Sorry for the negative comments.

[2017-10-09 05:58] kwis2 commented on #1223
From my experience without advanced knowledge there is no way to install Sming on windows 32 bit, I failed to install on windows 10 - neither direct install nor docker. on windows 7 with direct install I was succesfull on only one machine, and failed with docker. Idea to install on linux is not for newbies because of errors in manual - for instance command `cd $SMING_HOME/../..` while there is no

[2017-10-10 08:44] slaff commented on #1195
@kwis2 That is already possible. When you compile Sming and the application using Sming make sure to add the SMING_RELEASE=1 directive. For example:

[code]

will compile library for you without debug statements and stack dumps.

See: https://github.com/SmingHub/Sming/blob/develop/Sming/Makefile#L185

[2017-10-11 12:45] slaff commented on #1250
@icodk Are you using basic authentication with HttpClient (to view protected pages) or with HttpServer ( to protect pages ) ?

[2017-10-11 12:52] slaff commented on #1233
Any idea what is the alternative for Mac OS?

[2017-10-11 12:52] icodk commented on #1250
Yes exactly. As I described in #585

[2017-10-11 12:56] slaff commented on #1250
Which one - Server or Client?

[2017-10-11 13:11] icodk commented on #1250
No,I want to protect a server page.

[2017-10-11 13:25] slaff commented on #1250
Once  version 3.4.0 is released I can think about refactoring the auth adapters to work for both http clients and servers.

[2017-10-11 13:46] icodk commented on #1250
+1

[2017-10-12 08:04] slaff commented on #1236
@jcarterof @ericogr  Get the latest `develop` version and read here #1254 what can be done.
Feel free to reopen the issue, if needed.

[2017-10-12 08:04] #1236 closed

[2017-10-12 08:31] slaff commented on #1231
@No13 If you have a suggestion please make a [Pull Request](https://help.github.com/articles/creating-a-pull-request/) and we will review it.

[2017-10-12 09:39] aparaske opened #1256 "UART0 used for communication with another controller"
Hi,

We're using UART0/Serial for communication with another controller. How can we avoid any logging (from Sming, rboot, etc) from being written to UART0, or redirect it to UART1?

Regards,
Alex

[2017-10-12 09:44] slaff commented on #1256
@aparaske Just check the code in the `init` function from the Basic_Serial example: https://github.com/SmingHub/Sming/blob/develop/samples/Basic_Serial/app/application.cpp

[2017-10-12 10:13] aparaske commented on #1256
@slaff I am aware of the '.systemDebugOutput(false);' function. I just want to confirm that there's nothing else that could affect UART0, as I am getting some bizarre behaviour from the external controller, especially during WiFi disconnects or ESP restarts etc.

[2017-10-12 11:46] #1168 closed

[2017-10-12 11:50] slaff commented on #1169
Can you send us a PR with the suggested improvements? Once you are ready we can review it.

[2017-10-12 11:52] #971 closed

[2017-10-12 11:54] slaff commented on #1162
Closing due to inactivity. Feel free to reopen it if the issue is still present in the latest `develop` version.

[2017-10-12 11:54] #1162 closed

[2017-10-12 12:09] slaff commented on #1239
This question was already answered in #1195.

[2017-10-12 12:09] #1239 closed

[2017-10-12 15:08] Informatic commented on #1256
ESP restarts always send "random" data (mask rom bootloader logs at ~70kbps baudrate) on UART0, but WiFi disconnects shouldn't. Keep in mind you can use `Serial.swap()` to swap UART0 pins over to GPIO13 & GPIO15. (source: http://bbs.espressif.com/viewtopic.php?f=7&t=22&p=54&hilit=system_uart_swap#p54)

[2017-10-12 17:06] aparaske commented on #1256
Wouldn't swapping UART0 pins over to GPIO13 & GPIO15 render HardwareSerial on GPIO1 & GPIO3 useless? When defining a HardwareSerial object, we need to define the port, which is either UART0 or UART1 (used for logging using GPIO2). But if UART0 is mapped to GPIO13 & GPIO15 due to swapping and the external controller is hooked up to GPIO1 & GPIO3, how could the ESP communicate with the external cont

[2017-10-13 15:19] slaff commented on #1234
I can confirm the issue. That is again due to the SSL max fragment size OR SSL server certificate length on the server. If you change the domain to something like `attachix.com` the example above will work for you. Give it a try.

Google is kind enough to send as much as needed for the SSL handshake and nothing more. Plus they have the SSL max fragment size, etc.

[2017-10-14 21:11] ericogr opened #1259 "Less free IRAM after commit a1ac636"
I can't compile after commit a1ac636:

`
/opt/esp-open-sdk/xtensa-lx106-elf/lib/gcc/xtensa-lx106-elf/4.8.5/../../../../xtensa-lx106-elf/bin/ld: out/build/app_0.out section .text' will not fit in regioniram1_0_seg'
/opt/esp-open-sdk/xtensa-lx106-elf/lib/gcc/xtensa-lx106-elf/4.8.5/../../../../xtensa-lx106-elf/bin/ld: region iram1_0_seg' overflowed by 24 bytes
collect2: error: ld returned 1 exit stat

[2017-10-15 19:11] #1259 closed

[2017-10-17 13:02] petrynchyn opened #1262 "sample HttpServer_WebSockets does not work"
sample HttpServer_WebSockets not work. The impression that the server is not responding to initialize the connection from the browser.
log in in chrome
[code]
log in terminal
[code]

[2017-10-17 13:33] anakod opened #1263 "ESP8266 security vulnerability! Krack attack."
New vulnerability was found in the WPA2 wireless protocol called Krack that could allow attackers to eavesdrop on wireless connections and inject data into the wireless stream.

Espressif already published patch:
https://github.com/espressif/ESP8266_NONOS_SDK/commit/b762ea222ee94b9ffc5e040f4bf78dd8ba4db596

More information\related links:

- https://www.bleepingcomputer.com/news/security/list-of-f

[2017-10-17 13:34] anakod commented on #1263
@slaff Hello. I think we should publish hotfix for this issue.

[2017-10-17 14:03] petrynchyn commented on #1262
stopped working with commit `git checkout a1ac636bb691ad02c7d5e699a6da8a4cc9c592e7` (Simplified and improved Http Client and Http Server stream handling (#1247))

[2017-10-17 14:07] slaff commented on #1263
I have something half-baked ( https://github.com/slaff/Sming/tree/update/sdk-2.1 ) BUT it means that we should switch to the latest SDK 2.1.0++ and stop supporting the other SDKs. The patch is based on that PR #1153.

@anakod If you want this fixed soon I will need your help to test it and make it rock-solid.

[2017-10-17 17:39] anakod commented on #1263
May be you will prepare P-R and we will start testing?

[2017-10-17 19:13] slaff commented on #1263
@anakod Check this PR #1264

[2017-10-18 08:20] #1262 closed

[2017-10-18 10:31] aparaske commented on #1256
I noticed that rBoot and crash_handler use ets_printf. Could that be the reason for our issues? Is there a way to disable ets_printf or direct it only to UART1?

Thanks,
Alex

[2017-10-20 09:50] #1220 closed

[2017-10-21 21:52] jochenjagers commented on #1250
@icodk: i had the same problem with response.badRequest()
I solved it by setting response.code = HTTP_STATUS_BAD_REQUEST as described for forbidden and notFound in HttpResponse.h
You sould be fine by replacing "response.authorizationRequired()" by response.code = HTTP_STATUS_UNAUTHORIZED

[2017-10-22 11:30] icodk commented on #1250
@jochenjagers  Thanks
Will try it out

[2017-10-22 15:30] jochenjagers commented on #1009
I opened a pull request to solve this issue
https://github.com/SmingHub/Sming/pull/1269

[2017-10-24 14:26] icodk commented on #1234
@slaff Tried with attachix.com but the same results(see below)
If I used the espconn_secure set of functions against the same servers there are no such issues.
[code]

[2017-10-25 12:19] icodk commented on #1234
I also tried to build Basic_Ssl with Sming built in Docker, it linked OK but the error persist. Differences in the build process (on Windows vs Docker) is the SDK and the compiler as far as I can see.
I also noticed that in the failing program it only sends the first 99 bytes  vs  99 and then 358 in the program that works. Here are the two outputs:
Failing program output (Windows):
[code]
Successf

[2017-10-26 19:09] bbourdel opened #1272 "[feature request] Stop a HTTPServer"
There is any fail-safe shutdown sequence to HttpServer class.

I'd tried something like this :
[code]
It's work but only if `delete server;` is called without any TCPConnection opened. If not, a fatal exception will be raised when the remaining TCPConnection will be closed.

[2017-10-26 19:32] bbourdel commented on #1272
Here my modifications for HTTPServer, it's nearly good.
[code]

[2017-10-27 12:33] SvenLuebke commented on #1263
Did anyone get the latest SDK from https://github.com/espressif/ESP8266_NONOS_SDK completely running? I've fixed all compiler errors and warnings, but afterwards the linker complains about:

xtensa-lx106-elf/bin/ld: out/build/app.out.tmp section `.text' will not fit in region `iram1_0_seg'
xtensa-lx106-elf/bin/ld: region `iram1_0_seg' overflowed by 56808 bytes

for Basic_WiFi. Save/move nearly 57k

[2017-11-01 12:18] frankdownunder opened #1274 "Software watchdog bites due to PR#1097 - m_printf: stacksize reduced"
If I use the old version of Sming/system/m_printf.cpp my code works fine.  With the new version introduced on Sep 30, the dog bites me.
Two conclusions are possible:
1.  My code is making unreasonable demands
2.  The new version of m_printf.cpp is slower then the old version, possibly even a forever loop.

I suspect the second reason, and will do some timing tests and so on to investigate further.

[2017-11-02 07:36] lrodorigo opened #1275 "Samples rBoot Fatal on 4M flash"
Hi. I'm getting the Fatal exception 28 when trying the rBoot sample on an Ai-Thinker ESP-12-F (no SSL download, I don't know if can be related to https://github.com/SmingHub/Sming/issues/1167).
I noticed that the firmware seems to be flashed, but the rom switch is not working.
The next reboot always happens from rom 0.
I didn't copy any linked file  into the sample folder, because I am using  the

[2017-11-02 20:56] anthonyvallee commented on #1241
I am having the same issue here, `choco install -y sming` hangs with 7zip not extracting the files.

[2017-11-03 08:46] bbourdel commented on #1275
Did you try to reset/restart the chip after the inital flashing before updating the chip ?

[2017-11-03 08:49] lrodorigo commented on #1275
You mean to flash (by uart) -> power cycle -> OTA?

Anyway, yesterday evening I noticed a strange behaviour.
The booted ROM seems to change (randomly?) at each power cycle.

[2017-11-06 20:06] lrodorigo commented on #1275
I can confirm that the rom in use switches at each power cycle, even if no rom switch is made

[2017-11-07 08:48] #1195 closed

[2017-11-07 08:58] slaff opened #1278 "Preparation for Release 3.5.0."
This issue is created to collect all the tasks we need to do before the 3.5.0.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#1295)
- [x] Update Readme.md (#1295)
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### New Features and Improvements
- [x] Updated the Readme and added documentation explaining how to enable LWIP2 or/and SDK 2.1 **experimental*

[2017-11-07 09:01] slaff commented on #1211
@anakod Can you please help here? It would be great to have automated package creation and you as the repository owner should be able to do the steps described above.

[2017-11-07 09:02] slaff commented on #1204
@anakod Can you please help here? It would be great to automate the tasks related to new releases and you as the repository owner should be able to do the steps described above.

[2017-11-08 09:53] slaff commented on #1274
There is definitely something fishy with the latest changes to m_printf.cpp ed94fb77d7e8a948e7fc6837844b48d1a94f933c. Reverting those changes made the Basic_Serial example work again with SDK 2.1+.

@frankdownunder Did you have time to analyze the changes?

[2017-11-08 10:05] frankdownunder commented on #1274
@slaff Hi,  I found nothing conclusive.  I was hoping for a minimal "this demonstrates the bug" but couldn't. The new function didn't seem to be significantly slower either.  I am fighting other fires now,  sorry..

[2017-11-09 17:08] slaff commented on #1274
@frankdownunder Feel free to reopen the ticket when you have more information about it.

[2017-11-09 17:08] #1274 closed

[2017-11-11 11:16] slaff commented on #1272
Implemented in PR #1284. @bbourdel Thanks for the help and initial code.

[2017-11-11 11:16] #1272 closed

[2017-11-13 16:25] slaff commented on #1252
Feel free to reopen the ticket once you can provide more information and details in English.

[2017-11-13 16:25] #1252 closed

[2017-11-13 16:27] slaff commented on #1157
Feel free to reopen it if you have tested the latest Sming version and your problems still persist.

[2017-11-13 16:27] #1157 closed

[2017-11-13 16:31] slaff commented on #1108
Already in the `develop` version using solution 1. Reopen if someone provides implementation for solution 2.

[2017-11-13 16:31] #1108 closed

[2017-11-13 16:33] slaff commented on #1059
Feel free to reopen the issue if the problem is still present and you have more details concerning it.

[2017-11-13 16:33] #1059 closed

[2017-11-13 16:34] slaff commented on #1000
Feel free to reopen if the issue is still present.

[2017-11-13 16:34] #1000 closed

[2017-11-13 16:38] slaff commented on #1235
@nirdroid Feel free to reopen the ticket when you can provide more information about the issue.

[2017-11-13 16:38] #1235 closed

[2017-11-13 16:43] slaff commented on #1174
Feel free to reopen if the issue persists and you have more information related to it.

[2017-11-13 16:43] #1174 closed

[2017-11-13 16:46] #1234 closed

[2017-11-13 16:48] slaff commented on #1170
Feel free to reopen the issue if the problem is still present in the latest `develop` version.

[2017-11-13 16:48] #1170 closed

[2017-11-13 16:51] slaff commented on #1175
@shodanx2 Test with the latest packages in choco and feel free to reopen the issue if the problem persists.

[2017-11-13 16:51] #1175 closed

[2017-11-17 05:24] bryanlikes commented on #1241
I also have the exact same symptoms as kwis2 post on sept 21.

[2017-11-20 10:07] kwis2 commented on #1241
choco still not work on 32 bit windows, and it try to install old, 3.3.0 version of sming

[2017-11-22 20:20] slaff commented on #1214
@kwis2 Can you check if that PR #1290 fixes the reported problem?

[2017-11-23 09:45] slaff commented on #1263
With commit c2cc852e40b1971a1987aceeedab5b28b8c7297c we have experimental support for SDK 2.1.0. Please, test and report any issues that you have noticed.

[2017-11-23 09:45] #1263 closed

[2017-11-25 16:03] kwis2 commented on #1241
Now there is no problem with 7zip, but now there is another problem.

below is full log [chocolatey.txt](https://github.com/kwis2/Windows-QuickStart-fails/blob/master/chocolatey.txt)

[2017-11-25 16:07] kwis2 commented on #1214
@slaff unfortunatelly I am not able to install current version of sming #1241

[2017-11-26 22:50] moelha opened #1291 "Migrate to a more stable MQTT library"
Is it safe to use the MQTT library for production? I read from the author's github page

Thanks

[2017-11-27 08:10] slaff commented on #1291
I would say yes. We are using it in production and there are no known issues with it.

[2017-11-28 15:36] slaff commented on #1151
With that commit https://github.com/SmingHub/Sming/commit/c2cc852e40b1971a1987aceeedab5b28b8c7297c it is now possible to use SDK 2.1.0.

[2017-11-28 15:36] #1151 closed

[2017-11-28 15:37] #941 closed

[2017-11-28 15:38] slaff commented on #954
Test with the latest Sming version and feel free to reopen this issue if the problem persists.

[2017-11-28 15:38] #954 closed

[2017-11-28 15:40] slaff commented on #974
@vjacob Please, check with the latest `develop` version and feel free to reopen this issue if the problem persists.

[2017-11-28 15:40] #974 closed

[2017-12-01 16:37] slaff commented on #1251
This is more of an Eclipse related issue than Sming related. Feel free to reopen if you have proof that Sming is causing the problems.

[2017-12-01 16:37] #1251 closed

[2017-12-01 19:32] #1009 closed

[2017-12-02 00:55] fernandomorse opened #1293 "Upgrade 3.2.0 to 3.4.0 problem sendHttp - request queue is full at the moment"
Case:

I am upgrading from my Sming version 3.2.0 to version 3.4.0, I ran the test below, and I have some problems and doubts.

Problem:

Only the first request gets the callback, after a few seconds waitingQueue.count reaches its maximum value, and the message "The request queue is full at the moment" is displayed.

How can I read and execute this queue of requests (HttpConnection :: onReadyToSen

[2017-12-03 08:33] slaff commented on #1293
[code]

The error message here means that the callback for message_complete didn't not `return 0` to signal success. But your code is saying something else.

[code]

Can it be that you are pasting here one code and actually using another code?

[2017-12-03 08:37] slaff commented on #1291
Closing this issue. Feel free to reopen it If there are exact suggestion how to improve the Sming MQTT code.

[2017-12-03 08:37] #1291 closed

[2017-12-03 18:14] fernandomorse commented on #1293
Thanks @slaff
I checked that in my code, I had no return 0. Problem solved.

[2017-12-03 20:58] frankdownunder commented on #1032
Hi all,
It doesnt seem like this has been fixed yet?

[2017-12-03 21:18] fernandomorse opened #1294 "httpClient.send Memory is leaking"
**Code:**

[code]

**Problem:**

Memory leaking decreases until reset esp8266 (or not).

**Here is my flash/terminal log:**   https://pastebin.com/LjcSQ6SM

[2017-12-04 08:21] #1214 closed

[2017-12-04 09:45] slaff commented on #1294
@fernandomorse Is the code above the one that you are actually testing or it again a different one?

[2017-12-04 10:13] fernandomorse commented on #1294
@slaf  Você anda problema its diferente.

[2017-12-04 21:30] MayaPosch commented on #1219
Seems like it's a known issue by now? https://github.com/esp8266/Arduino/issues/3490

Will there be a fix, or do I have to wait until axTLS is replaced/find an alternative myself?

[2017-12-05 14:13] fernandomorse commented on #1294
Issue # 1138 , verified that it works perfectly with 2 timer calls. To match the tests, I put the code below:

[code]

Memory decreases until crash.

[2017-12-05 23:38] fernandomorse commented on #1294
@slaff the codes are exactly what I'm testing. Sorry the previous answer i was wrong

[2017-12-06 16:13] fernandomorse commented on #1294
I noticed that not using the header, or just a header does not happen the problem. example

No problem:

 HttpHeaders headers;
 headers["Connection"]="Close";

Problem:

 HttpHeaders headers;
 headers["Connection"]="Close";
 headers["ContentType"] = "application/json";

[2017-12-06 17:49] slaff commented on #1294
That is a very useful information! And thank you for it. I will revise the HttpRequest class once I have more time. If you don't want to wait for me take a look at it yourself and see if you can find something that is related to the issue and should be fixed.

[2017-12-06 18:09] fernandomorse commented on #1294
Okay, I'll try. thank you

[2017-12-07 01:06] fernandomorse commented on #1293
Testing the code below, verified that after some runtime, the queue is full at the moment

Code:

[code]
Code Log:
https://pastebin.com/fJMHe4Bw

Similar error when using:

[code]
For six instances

[2017-12-07 11:53] fernandomorse commented on #1293
In this version it is not possible to use isProcessing in HttpClient, as it would be a palliative way to suppress this error.

void pushItTime1()
{
   if (pushItTime1.isProcessing()) return; else {
	Serial.println("###### downloadString 1");
	Serial.println("###### downloadString 1");
	Serial.println("###### downloadString 1");
	httpPusher.downloadString("http://pudim.com.br/", onDataSent);

	Seri

[2017-12-08 08:44] dbelz commented on #1241
What was the solution for this problem? Have the same behavior with hanging on 7zip extraction.

System is Windows 10 64Bit

[2017-12-08 16:31] #1278 closed

[2017-12-08 16:35] slaff opened #1296 "*** Preparation for Release 3.5.1 ***"
This issue is created to collect all the tasks we need to do before the 3.5.1.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#1334)
- [x] Update Readme.md (#1334)
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### New Features and Improvements
- [x] Unified the stream classes for better testability and reusability. (#1332) The `length()` method in the

[2017-12-09 10:38] dbelz opened #1297 "Windows Quick Start Extraction issues"
Hello,

as mentioned in #1241 the windows quick start is failing. The installation hangs at the 7zip extraction.
Do you guys have a fix for this?

My system is windows 10 64 bit

Kind Regards
Daniel

[2017-12-09 11:00] kwis2 commented on #1297
I have no solution, but there is way how to go through the problem. On my win 7 64 bit installation hangs on 7zip. I open another cmd windows and manually run commands which 7zip is unable to run.
in my system it is four times hangs, in your system there should be different paths .
[code]

[code]

[code]

[code]
Very important it is to run every commands while 7zip hangs, and then kill 7zip window

[2017-12-09 11:38] dbelz commented on #1297
This has worked somehow. But it failed while installing sming because its using a wrong filepath.
also the filepath while extracting was false.

I think the scripts should maybe be updated?

[2017-12-09 14:42] kwis2 commented on #1297
I was wondering why is may old win7 work, but new machines failed. Difference is that on old system I have started from sming 2.1.0, while new from sming 3.0 and above.
I think I have procedure to install sming. It is compilation of windows and linux install methods. I have tested with success on VM win7 32bit.
First install environment - use old choco method from [sming 2.1.5](https://github.com/

[2017-12-09 15:24] kwis2 commented on #1297
Finally procedure to make examples. You have to install esptool2
with cmd as admin goto `c:\tools` nad `git clone https://github.com/raburton/esptool2`  then goto `c:\tools\esptool2` folder and `make`. Now you should add esptool2 path, but I have copied `esptool2.exe` to `c:\tools\mingw64\bin` folder.
then it will ask for python - in cmd type `choco install python`
and after reboot on my machine I

[2017-12-09 16:54] slaff commented on #1297
Guys, can you open an issue here: https://github.com/slaff/chocolatey-packages and paste all the logs that you have an your guesses what can be the issue.

[2017-12-09 17:36] kwis2 commented on #1297
@slaff I am not sure but there are issues disabled in [https://github.com/slaff/chocolatey-packages](https://github.com/slaff/chocolatey-packages) I am not able to create one

[2017-12-09 17:39] slaff commented on #1233
@johndoe8967 Can you check PR #1298 also on Mac OS?

[2017-12-09 17:41] slaff commented on #1297
@kwis2 Thanks for noticing this. Now it should be possible to add issues: https://github.com/slaff/chocolatey-packages/issues

[2017-12-15 15:43] verybadsoldier commented on #547
I am still suffering high latency on 3.5.0. Maybe could the patch from the first post be merged (or something equivalent? It works nicely for me.

[2017-12-16 23:33] verybadsoldier commented on #547
Guys, can we reopen this issue please?

[2017-12-18 08:39] johndoe8967 commented on #1233
@slaff sure, id did check but it doesn't address the problem that -r option is not allowed on Mac OS

[2017-12-19 00:05] #777 closed

[2017-12-20 11:17] gjt211 commented on #1223
@kwis2, I revisited this just now and still no change.
It seems there is work happening on the Sming project, but it still seems like nobody cares about getting any new users. It has now been 4 months and still no reply to my initial problem, which others are also having.

Maybe your last statement about dying software is true. With the kind of support we are receiving it will certainly die.

I do

[2017-12-20 12:51] BotoX commented on #765
Could this be reopened?
Kinda sucks not having yield(), also SmingRTOS being dead.

[2017-12-20 22:39] teicors opened #1302 "MeteoControl example don't works"
Can somebody confirm the lib of DHT11 is working (basically the Meteocontrol sample)? I tested the schematic with ArduinoESP8266 IDE and it seems working while a new installation of Sming don't provide any value.

[2017-12-20 22:40] kwis2 commented on #1223
@gjt211 I am only windows user with silmilar problems as your. I think @slaff is proper person to ask questions.
In fact there was a lot of work made to prepare Sming, there are a lot of bugs solved, but it fails with just begining - instalation. On windows I found that solution could be if you install very old version of Sming and then update to newest one as in #1297

[2017-12-21 15:18] MayaPosch commented on #1275
Getting the same issue with rBoot OTA updates on the develop branch:

`0x40247e26: HttpConnection::staticOnMessageComplete(http_parser*) at /opt/Sming/Sming/SmingCore/Network/Http/HttpConnection.cpp:129
0x40100de4: pvPortRealloc at ??:?
0x40247e21: Delegate<int (HttpConnection&, bool)>::operator()(HttpConnection&, bool) const at /opt/Sming/Sming/SmingCore/Network/Http/HttpConnection.cpp:129
 (inli

[2017-12-21 15:29] MayaPosch opened #1303 "PWM stopped working"
With a pre-3.4.0-release build of Sming, the PWM functionality (using the new PWM lib) was working properly. With current develop builds this functionality seems hopelessly broken. After trying with current develop branch on both Windows (WSL, Ubuntu 16.04) and Linux (Mint 18.x), the same result:

PWM frequency set to 1 kHz, duty set to 0%: 0V on output pin.
PWM frequency set to 1 kHz, duty set to

[2017-12-21 15:33] lrodorigo commented on #1275
Hi! Thanks for reporting.
Can you try to power cycle the device? In my case I see a different the
boot partition at each boot

Il gio 21 dic 2017, 16:18 Maya Posch <notifications@github.com> ha scritto:

[2017-12-22 14:48] cr1st1p opened #1304 "Makefile - can not have same filenames in different locations"
I have one library (added via MODULES, in my Makefile) that has a base Controller.cpp file - in one namespace.
Then, in my application, I have app/Controller.cpp , in a different namespace (a class  derived from the library one)
The problem is that current Makefile will compile the library one, but not also the app one.
This is because of the vpath setting and implicit .cpp rules, which makes Make

[2017-12-22 22:57] cr1st1p commented on #1304
I'm on my way to fix this. Bumped also on a problem with the archive program ('ar') which also has problem with same filenames.

[2018-01-03 00:19] x16 opened #1309 "Cannot build Sming: possible problems with esp-open-lwip"
**Library version:** 3.5.0

**Operating system:** Windows 10 x64

**Env vars:**
[code]

**Error output in console:**
[code]

## **Issue:**
When I try to build library I'm getting the `make` output as above. Additionally wen I try to build simple app skeleton I'm getting multiple `[-Wimplicit-function-declaration]` warnings:
[code]

[2018-01-04 16:32] cr1st1p commented on #1304
Forgot to mention - Pull request is #1305

[2018-01-04 16:39] cr1st1p opened #1310 "Please add 'const' to class member functions that are not modifying the object"
Example I bumped into, just now:
DateTime::toShortDateString()
Code does not change internal state of the object, so it should be declared as 'const', so that I'm allowed to use it on a 'const DateObject&'.

I think most of DateTime functions should be const.

Thank you.

[2018-01-07 14:11] horde3d opened #1311 "Memory Leak in IR_lib sample"
Maybe I have missed something, but when I look into the IR_Lib sample I can't see a reason for allocating the sendbuff variable. It looks like a memory leak to me.
[code]
Maybe it would also make sense to add a check for dresults.decode_type == NEC before sending the dresults value via sendNEC.
I understand that the sample is for demonstration purpose only but IMHO it should at least does not do n

[2018-01-08 10:04] slaff commented on #1311
@horde3d You are absolutely right! Can you make a PR request with the suggested changes?

[2018-01-08 10:05] slaff commented on #1310
@cr1st1p Can you make a PR  with the suggested changes?

[2018-01-08 21:50] horde3d commented on #1311
I've played around with the IR lib implementation of Sming a bit. I had some troubles when trying to decode a JVC remote control. After some maybe unrelated changes I ended up having all codes being decoded as Sanyo remote codes. That brought me to the solution that the Sanyo decoding is buggy in general. Same conclusion seems to be made by David Conran at https://github.com/markszabo/IRremoteESP8

[2018-01-09 12:52] riban-bw commented on #993
I just experienced this again (having forgot I had reported the problem in the first place!) because the new version of my IDE has stopped checking for (and removing) spaces in the project path. The last commend from anakod referred to a new Makefile version but that does not seem to have materialised in a form to fix this issue. I think there was some appetite to rationalise the project Makefiles

[2018-01-12 08:09] slaff commented on #1311
Looking at the code I would say 'no'. Please, in the PR give your best to update the example and we will review it.

[2018-01-12 13:18] slaff commented on #1303
That is probably related to this change: https://github.com/SmingHub/Sming/commit/c2cc852e40b1971a1987aceeedab5b28b8c7297c#diff-95f5a43cb31a804075bd87e65b4be18aR249

which finally activates your change:

https://github.com/SmingHub/Sming/commit/d408e7de1382c22c2ac0289a1a074821eb504186#diff-95f5a43cb31a804075bd87e65b4be18a .

Before that the compiler directive `-DSDK_PWM_PERIOD_COMPAT_MODE=1` was n

[2018-01-12 13:38] MayaPosch commented on #1303
I was pretty sure that I had recompiled Sming without the parameter to the PWM library. Maybe I made a mistake there, though.

Regardless, the PWM library is supposed to still work no matter its configuration. The behaviour which I'm seeing is that the PWM library fails to acquire any timer. Something which might also be due to the new SDK compatibility?

[2018-01-26 14:17] slaff opened #1314 "Travis fails due to SSL issues"
At the moment the download of the 2.0 SDK fails with that issue
[code]
and the whole series of tests for SDK 2.0 fail due to this.

[2018-01-26 14:35] slaff opened #1316 "MacOS compatibility issues"
This ticket is created to collect all known issues that we need to address in order to improve the compilation and usage of Sming on MacOS X

- [x] The [WIKI page](https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart) is outdated. We should switch to using `esp-open-sdk` on Mac and remove the deprecated and not supported `esp-alt-sdk`. Issue mentioned also in that ticket:   #1223. Probably thes

[2018-01-26 14:38] slaff commented on #1233
@johndoe8967 Did you install `gnu sed` with a command similar to the one below ?

[code]

This will make sure that the `sed` on your OS is the `GNU sed` application which the Makefile is expecting to have.

[2018-01-26 14:46] #1314 closed

[2018-01-28 08:18] igormorse opened #1317 "Understanding Timer in Sming"
When you call a Timer on Sming, each call is a new Thread executing ?

**For Example:**

[code]

I know that ESP8266 have only one core and its not possible to run things in parallel in the same time. Are Timers put in some Linear Schedule to be executed after every call of it ? ( Feels like things running in parallel but they are not )

I would be really appreaciated if I was given a quick explan

[2018-01-28 18:59] horde3d commented on #1311
I finally integrated the IRRemoteESP8266 library. I changed the implementation a bit. Based on my observations it wasn't possible to decode two commands in a row, because until the first one is decoded no other signals were recorded. So I integrated the RingBufCPP module from D. Aaron Wisner, to have the possibility to record more than one command in case they follow in a very short period.
The up

[2018-01-29 08:22] slaff commented on #1311
@horde3d I created a PR from out fork #11318 where we can discuss the code and possible improvements, issues, etc.

[2018-01-30 14:23] slaff commented on #1169
Feel free to repon the issue if there is some further interest in the topic.

[2018-01-30 14:23] #1169 closed

[2018-01-30 22:15] kisieel opened #1321 "cflags issue"
Hey, first of all, nice job with Sming! 👍

I'm trying to embedd a version tag into my firmware (based on git describe).
However, I'm having an issue using CFLAGS in `Makefile-user.mk` file.
Just for test I added the line below:
`CFLAGS += -DVERSION_NUMBER=2 `
after I run:
`make clean all`
It seems like the definition is not being recognized:
`error: 'VERSION_NUMBER' was not declared in this scope`

[2018-01-30 22:31] kisieel commented on #1321
Found your commit which allowed this. Using USER_CFLAGS seems to work. Sorry for bothering

[2018-01-30 22:31] #1321 closed

[2018-02-05 16:48] slaff commented on #1223
@gjt211 @IanAber We have updated the Mac OS X getting started guide and the precompiled Mac OS X toolchain.  Can you try to follow the steps in the [document](https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart) and report your progress?

[2018-02-06 02:45] gjt211 commented on #1223
@slaff , Thanks for the updated getting started guide.
I have started using the guide on a different MAC that has not had the install performed before.
1. Installed xcode tools successfully.
2. Installed homebrew successfully.
3. I did not install Eclipse.
4. Install brew/dupes failed!
[code]
I have not tried going any further.
Your advice is appreciated.
Thanks

[2018-02-06 07:10] slaff commented on #1223
Thanks for the feedback so far. This is a warning only and we will see how to fix it. But that should not stop you from trying further. So, please, go on and report your progress. And thanks in advance.

[2018-02-09 16:22] 3nd0y opened #1323 "LMIC port to SmingHub"
Hi all,

I love sming because i could compile source code faster than using arduino/platformio, but unfortunately not all library from arduino can be used in sming. One of them is LMIC, some define can't recognize after compile, and a few of them there's conflict name used.

Is someone has working for this library?

Regards,
Fadli

[2018-02-09 16:31] slaff commented on #1323
@3nd0y Can you give us the git repository URL of the library and we can try to compile it with Sming?

[2018-02-09 16:52] slaff commented on #1131
@hanpal @kwis2 We have updated the Mac OS X getting started guide and the precompiled Mac OS X toolchain.  Can you try to follow the steps in the [document](https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart) and report your progress?

[2018-02-09 16:53] slaff commented on #1253
@IanAber We have updated the Mac OS X getting started guide and the precompiled Mac OS X toolchain.  Can you try to follow the steps in the [document](https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart) and report your progress?

[2018-02-10 02:54] neut2012 opened #1324 "WebsocketClient > Error: FIN must be set"
The connection was fine on 3.3.0 but after updating to 3.5.0 I'm getting "Error: FIN must be set" on my node server when connecting to node.js standard websockets using the WebsocketClient.

The cause of the error is the new sendControlFrame function in file WebsocketClient.cpp. but it's only used by sendPing and sendPong. so when removing all references to those functions in my code everything wo

[2018-02-10 12:55] kwis2 commented on #1131
I have tested and since about 3 months nothing changes. It is impossible to install Sming according to #1297

[2018-02-10 17:25] slaff commented on #1131
@kwis2 Did you test it on Mac OS X? We updated the Mac OS X installation procedure only.

[2018-02-12 09:07] slaff commented on #1324
@neut2012 Can you tell us how to reproduce the error? We need to know how to setup the Node.JS server and then we need to know how you communicate with that Websocket Server. Any information related to the issue would be helpful.

[2018-02-16 06:12] 3nd0y commented on #1323
@slaff hi sorryy late to reply. Here the library i try use arduino and platform IO are working well
https://github.com/things4u/LoRa-LMIC-1.51

[2018-02-17 22:52] 3nd0y commented on #1323
@slaff the official repository was from https://github.com/matthijskooijman/arduino-lmic but seems it's only for AVR, so i use link above (https://github.com/things4u/LoRa-LMIC-1.51) since it working for ESP8266 at arduino/platformio enviroment

[2018-02-19 10:52] slaff opened #1328 "Better out-of-the box experience"
Sming is fantastic and very performance framework but the initial experience is still a bit "rough" for non-advanced developers. This task is created to collect the things that can be improved:

- [x] Less debug messages in the TCP stack. This way all network related pieces will work much faster out-of-the box and the console output will contain only important warning or error messages. (See #1327

[2018-02-19 12:07] riban-bw commented on #1328
I completely agree. Last two points are the aspiration of my installer. It may be advantageous to automate the build of the precompiled toolchain to reduce dependencies on individual having to manually maintain it but that may be a later stage, after getting something we are happy with. I would also add to this list, better introductory documentation and examples. I feel it can be challenging to g

[2018-02-19 12:23] slaff commented on #1328
@riban-bw The Mac OS X toolchain is updated and a pre-compiled version can be downloaded from [here](https://dl.bintray.com/sminghub/toolchain/esp-open-sdk-2.0-macosx.tgz). You can put also the other pre-compiled toolchains in `bintray.com` so that you don't have to worry about traffic limits on personal dropbox accounts.

[2018-02-20 16:42] slaff commented on #1223
@gjt211 Any progress on this?

[2018-02-21 02:02] ManchTTE commented on #15
same problem when compile stringconversion.cpp
please help me.

mingw-get v1.0.2
Information.PlatformVersion='6.3.9600.0'|
Information.PlatformName='Windows 8.1'|
............................
**C+ system/stringconversion.cpp
make[1]: *** [out/build/system/stringconversion.o] Error 1
make[1]: Leaving directory `/C/tools/sming/Sming'
make: *** [reload] Error 2**

[err_cc1plus.txt](https://github.com

[2018-02-21 07:35] slaff commented on #15
Can you please compile Sming with the following commands ?
[code]

[2018-02-21 08:46] slaff commented on #1302
@ADiea this is the second report about issues with the DHT11 library from you. Can you please check if this is working for you?

[2018-02-21 08:48] slaff commented on #1253
Closing due to inactivity. @IanAber feel free to test the [updated Mac OS X getting started document](https://github.com/SmingHub/Sming/wiki/MacOS-Quickstart) and report your progress here.

[2018-02-21 08:48] #1253 closed

[2018-02-21 09:28] ManchTTE commented on #15
when make dist-clean result of all samples is: no  such host file like.
==================Command Promt================================
make[1]: Entering directory `/C/tools/sming/samples/UdpServer_Echo'
/C/tools/sming/Sming/Makefile-project.mk:95: //C/tools/sming/Sming/Makefile-windows.mk: No such host or network path
make[1]: stat: //C/tools/sming/Sming/Makefile-windows.mk: No such host or netwo

[2018-02-21 09:33] slaff commented on #15
@ManchTTE Are you using the "master" version or the "develop" branch? Can you try these commands then?

[code]

[2018-02-22 00:16] SvenLuebke opened #1330 "Fatal exception 28 with latest SDK2.2.0"
Hi!

Yes, I know...probably I shouldn't use the current SDK, but I'm interested in the error the ESP8266 is running into: As soon, as spiffs is used, the Sming samples crash on my LoLin (4MB DIO SPI EEPROM) board. Most of the other samples (which don't use spiffs) seem to work. I already got these kind of errors with SDK2.1.0. With 2.2.0 I get the following output (I compiled and flashed the sampl

[2018-02-22 06:33] ManchTTE commented on #15
1. i don't no master or develop but i am install by chocolatey and i resolved 7za extract not respond by manual extract it.
2. when make clean i thing no problem.
please see attachment file.
[makeClean.txt](https://github.com/SmingHub/Sming/files/1746832/makeClean.txt)

[2018-02-22 16:02] slaff commented on #1330
Can it be related to this issue ( https://github.com/espressif/ESP8266_NONOS_SDK/issues/98 )?

[2018-02-25 20:49] frankdownunder opened #1331 "DHT library doesnt work"
The sming sample Humidity_DHT22 doesnt work. I am using a Wemos D1 mini and the Wemos DHT22 shield using pin 2.  SDK:  2.0.0(5a875ba)

To investigate this I ported the Arduino code DHTesp library [ Arduino ESP library for DHT11, DHT22, etc Temp & Humidity Sensors Optimized libray to match ESP32 requirements  ]
and that did work OK under sming.

My recommendation is to ditch the existing code and r

[2018-02-26 09:09] ADiea commented on #1331
Hi @frankdownunder I am the original author of the current DHT lib
Since I don't have time currently to keep it up to date and fix your observations I think it would be wiser to replace it completely with the up to date version from arduino
Best regards

[2018-02-26 09:49] #1316 closed

[2018-02-26 09:51] slaff commented on #1302
@teicors The issue can be further discussed here: #1331.

[2018-02-26 09:51] #1302 closed

[2018-02-26 10:06] slaff commented on #1331
If DHTesp is supported then it would be better to replace the current unsupported DHT library with it. @frankdownunder Please, submit a PR and I will try to revise it later this week.

[2018-02-26 10:21] slaff commented on #1063
@tius2000 That is already fixed in the latest `develop` version.

[2018-02-26 10:21] #1063 closed

[2018-02-26 10:50] slaff opened #1333 "Port Sming to esp32/Arduino"
This issue is created to collect all tasks needed to create a port of Sming on top of [esp32/Arduino](https://github.com/espressif/arduino-esp32).

As mentioned from @avr39-ripe [here](#1035):

Sming itself can be described as several components which together allow us to develop complete standalone app for esp8266:

* esp8266 HAL (digital io, spi, i2c, pwm, etc)
* spiffy fs
* application model (e

[2018-02-26 10:50] slaff commented on #1333
@avr39-ripe @frankdownunder I would like to hear your comments.

[2018-02-26 12:19] hreintke commented on #1333
@slaff :
As you know I moved my applications from Sming to Arduino.

For your first questions :
Timing, I presume Timer, see Ticker lib including PR (https://github.com/esp8266/Arduino/pull/4209)
Has almost all the Sming Timer functionality. Part of Core.

TCP : Due to ESP32 multiprocessor, lwip has specific implementation aspects.
see ESPAsync (https://github.com/me-no-dev/AsyncTCP) and ESPAsyncW

[2018-02-26 13:36] avr39-ripe commented on #1333
@hreintke Last time I peek esp/Arduino it wasn't async by nature, parts of it is, as you mention AsyncTCP + frewnds, but not framework as whole. May be things had been changed since my peek. Sming's strong side is unified mechanism of timer/delegate for ANY aspect of application - either tcp or serial or wifi or whatever.. So I think porting such "whole system with ASYNC in mind" to esp/Arduino wo

[2018-02-26 17:25] harry-boe commented on #1333
As much as i like Swing i don't think it will add a lot on top of the really excellent toolchain and libs that come from Espressif.

They have done an excellent job on the ESP-IDF (Espressif IoT Development Framework). And a port from sting will loose a lot of the features you get with their lib and api's.

You get as much control as you want for low level communication i2C, SPI, Serial ..
They ha

[2018-02-27 10:35] SvenLuebke commented on #1330
Hi @slaff, thanks for your answer!

I'm not completely sure! I often tried to get Basic_WebSkeletonApp running before...without any success. Currently it stops with the following output:

timeout updating: 70 -> 65535
Server timeout updating: 40 -> 0
fs.start: size:3756 Kb, offset:0x51000

mount res: 0

Afterwards - to verify the other samples are working - I flashed some of them. As soon, as they

[2018-02-27 10:47] frankdownunder commented on #1333
I do not know how many people develop using sming - is it possible to guess from the download stats?
Anyway I think it is probably quite a few, and many will have embarked on significant projects that have consumed loads of time. Many of them must be wondering if they will be able to use that code to run on an ESP32. So I think migrating Sming to ESP32 is worth doing.

harry-boe points out that th

[2018-02-27 10:48] frankdownunder commented on #1331
I will do this.

[2018-02-27 17:20] harry-boe commented on #1333
i don't agree that the esp-idf is just a collection of functions. If you take a closer look into the components folder if the idf than you will find components for more or less all the low level stuff you ever wanted (from lwip to openssl, JSON to nghhtp ..) not to mention a huge library on examples.

However, i'm happy to support porting for the stuff i contributed. Like the SPI, SDCard and testi

[2018-02-28 08:07] slaff commented on #1330
I don't see anything wrong here. With that update 65b91672531b3dc2370ab8f570e7eee529b316ee by default Sming will print less debug messages. If you want to see again all debug messages you should recompile the library and the sample with the following commands:
[code]

[2018-02-28 09:01] slaff commented on #1304
Fixed with that rebase #1335

[2018-02-28 09:01] #1304 closed

[2018-03-02 14:33] zigarrre opened #1337 "Make Delegators Compatible with Lambdas and std::function"
## Problem

Currently one can only create `Delegate` instances from raw function pointers or from a pointer to a member function and a pointer to a corresponding instance.

This means that `Delegate` does not work with modern C++ features such as lambda functions or `std::function`. (non-capturing lambdas already work as they can be casted to function pointers but captures are a integral part of l

[2018-03-03 13:29] zigarrre opened #1338 "ENABLE_CUSTOM_PWM is Ignored and Custom PWM is Never Used"
According to `README.md` the "Custom PWM" implementation is enabled by default but even when `ENABLE_CUSTOM_PWM=1` is added to `Makefile-user.mk` it is NOT used.

To test this I added `debugf("pwm_init");` at the start of the `pwm_init` function in `third-party/pwm/pwm.c` and recompiled Sming with `make clean; make`. Then I compiled and flashed the `Basic_HwPWM` example and confirmed that it did n

[2018-03-04 11:43] frankdownunder opened #1339 "Memory Leak in member function downloadFile"
When Wifi is unavailable,  the  downloadFile function of class HttpClient leaks by 16 bytes (after the request queue is full)

The following code has been lifted out of a normally working program.  On one occasion however, the Wifi was unavailable, and I noticed a memory leak as a result.

[code]

[2018-03-05 08:05] slaff commented on #1339
@frankdownunder I am not sure if that is a leak or just the fact that the client fills its internal queue because it cannot fulfil the requests. This is expected behaviour and if you want to limit the queueing you can decrease in your own project the length of the queue.

What would be better IMHO is not to use a timer but to queue the next request once the previous one has finished.

[2018-03-05 12:48] slaff commented on #1338
Can you please try to compile a Sming sample. Any sample. And make sure to compile the sample with V=1

[code]

Do you see in the lines at the end related to the linking phase something like `-lpwm_open` ?

[2018-03-05 12:54] slaff commented on #1337
It would be probably better to replace completely Delegate with std::function as the latter is coming directly since C++ 11, as you correctly noted above. And [std::function](http://en.cppreference.com/w/cpp/utility/functional/function) should cover all the use cases that we have with the Delegates in Sming.

[2018-03-05 15:49] zigarrre commented on #1338
Yes I see `-lpwm_open` there.

[2018-03-05 15:52] slaff commented on #1338
Ok - then the samples should be linked against libpwm_open.a. And if the linked does not complain then it means that `libpwm_open.a` is already compiled from the `third-party/pwm/` code. So you are actually using that custom PWM if I am not terribly wrong :)

[2018-03-05 15:54] zigarrre commented on #1338
But where/when is that `libpwm_open.a` compiled? And why do changes to `third-party/pwm/pwm.c` not have any effect?

[2018-03-05 16:03] slaff commented on #1338
The `libpwm_open.a` library is located under `Sming/compiler/lib/`. The compilation of Sming compiles also `libpwm_open.a`.

Try the following:
[code]

[2018-03-05 16:19] zigarrre commented on #1338
Compilation of Sming does NOT compile libpwm_open.a:

[code]

But after running `make compiler/lib/libpwm_open.a` it was compiled and now the changes I made to it's soure code have taken effect. Thank you.

It would probably be a good idea to build this library when Sming is built. I don't even know how it was generated in the first place because it doesn't come with Sming and I never compiled it

[2018-03-05 16:37] #1296 closed

[2018-03-05 16:40] slaff opened #1340 "*** Preparation for Release 3.5.2 ***"
This issue is created to collect all the tasks we need to do before the 3.5.2.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h (#1369 )
- [x] Update Readme.md ( #1369 )
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### New Features and Improvements
All PRs scheduled for this release can be seen from [here](https://github.com/SmingHub/Sming/milestone/15)

[2018-03-05 16:44] slaff commented on #1238
Closing due to inactivity.

[2018-03-05 16:44] #1238 closed

[2018-03-05 17:04] slaff commented on #1339
@frankdownunder I will check it myself but I guess you are right.  Probably the fileStream pointer is not freed if `send` returns just `false`.

[code]

[2018-03-05 17:11] slaff commented on #1339
@frankdownunder Take a look at PR #1342 and tell me if it fixes the issue that you have discovered.

[2018-03-05 19:43] frankdownunder commented on #1339
@slaff  All good now.  It was a minor leak of little consequence, with an easy workaround, but good that it is fixed.  May I ask do you have tools to find leaks? Do you know of any that work on ESP?

[2018-03-06 07:03] #1339 closed

[2018-03-06 22:22] fooker opened #1343 "Using Libraries/Adafruit_BME280_Library requires extended include path"
Doing `#include <Libraries/Adafruit_BME280_Library/Adafruit_BME280.h>` fails as it requires `Adafruit_Sensor.h` to be found in the include-path.

Setting `EXTRA_INCDIR += $(SMING_HOME)/Libraries/Adafruit_Sensor` before including the Sming Makefile seems to work as a workaround.

Maybe this can be done the same way as done with the `Adafruit_GFX` Library and be added to the include-path always?

[2018-03-07 10:27] slaff commented on #1343
@fooker Check this PR #1344 and tell me if it works for you.

[2018-03-08 08:30] #1343 closed

[2018-03-11 00:33] frankdownunder opened #1345 "Bad define for digitalPinToInterrupt"
----Sming/SmingCore/Interrupts.h ----
The define for digitalPinToInterrupt looks like this:
-#define digitalPinToInterrupt(pin)  ( (p) < ESP_MAX_INTERRUPTS ? (p) : -1 )

It should be like this:
+#define digitalPinToInterrupt(pin)  ( (pin) < ESP_MAX_INTERRUPTS ? (pin) : -1 )

[2018-03-11 17:14] slaff commented on #1345
Yeah, I also noticed this while testing one of the IR libraries. Can you send a PR?

[2018-03-11 20:02] frankdownunder commented on #1345
OK.

I was hoping to avoid fighting with git again !  I have a subversion background and git gives me a headache.

Frank

From: slaff
Sent: Monday, 12 March 2018 4:14 AM
To: SmingHub/Sming
Cc: frankdownunder; Author
Subject: Re: [SmingHub/Sming] Bad define for digitalPinToInterrupt (#1345)

Yeah, I also noticed this while testing one of the IR libraries. Can you send a PR?
—
You are receiving this

[2018-03-11 22:30] frankdownunder opened #1347 "makefile problem"
After a fresh clone to say /tmp/Sming, run make, all good.  Now go to your project and clean and make that.  Still all good.  Now make a small change and try to run make again.  Most likely you will get something like
make: *** No rule to make target '/mnt/c/opt/Sming/Sming/third-party/rboot/appcode/../../axtls-8266/compat/lwipr_compat.h', needed by 'out/build/../blahblah/blah.o'.  Stop.
The worka

[2018-03-12 07:35] #1345 closed

[2018-03-14 20:20] slaff opened #1348 "U:Kit - a Kickstarter project based on Sming"
One day ago a project based on Sming was released on Kickstarter. The project is called [U:Kit](https://www.kickstarter.com/projects/1705039264/attachixs-u-kit) and it is a smart smoke and motion sensor kit that is based on Sming and will be released as open software, open hardware and open 3d models.

Make sure to [check the project and support it](https://www.kickstarter.com/projects/1705039264/

[2018-03-15 13:36] ADiea commented on #1348
Congratulations @slaff good luck on reaching your targets! Start promoting strongly!

[2018-03-18 23:31] frankdownunder commented on #1337
I had a quick try of std::function, with code like:
`typedef std::function<void(bool)> PumpDisabledDelegate;`
` class Pump `
`{ `
`    public: `
`        Pump(PumpDisabledDelegate pumpDisabledCallback); `
but got linker errors:
out/build/app_app.a(pump.o): In function std::function<void (bool)>::operator()(bool) const:
pump.cpp:390: undefined reference to std::__throw_bad_function_call()

Is there

[2018-03-19 00:39] kwis2 commented on #1340
Maybe it will be possible to add ability to work with windows ??? #1297, #1241

[2018-03-19 07:16] slaff commented on #1337
Due to size considerations we are using microc / microgcc and that is most probably causing the problem. You can try to add the following code:

[code]

and check again.

[2018-03-19 21:24] Matzz commented on #1297
Maybe it's not closely related but I had similar issues because of Windows Subsystem for Linux which was "hiding" cygwin bash.

[2018-03-20 07:44] ManchTTE commented on #15
Hi today I can use it normally on another computer.
i thing my Processes[CPU] It may be important.
I have experimented.
1.My computer >Core i5-3470--> when compile stringconversion.cpp are Error cc1plus.exe has stopped.
2.My friend1>Core i5-3470--> when compile stringconversion.cpp > Error cc1plus.exe has stopped.
3.Myfriend2>centrino core i5-24xx when compile stringconversion.cpp > Error cc1plus.

[2018-03-20 08:26] kwis2 commented on #15
I have tested on a lot of machines and found that it is more moon phase dependency than CPU.
I have 3 identical machines with even the same manufacturer batch (I think) and one work from first time, another decided to not to work.
But in serious. In my opinion windows install probelm could be that there is no upadate / upgrade mechanisms an when you install Sming every machine could have different

[2018-03-20 08:44] frankdownunder commented on #1337
Thanks Slaff that did the trick!

Sming currently provides Delegates to handle callbacks to member functions, eg
[code]
Sming also uses classic c-style callback functions,
eg InterruptCallback, defined as typedef void (*InterruptCallback)(void);

As I understand it the proposal is to use std::function rather than the Delegate class

[code]

The header `#include <functional>` must be added,
and thi

[2018-03-20 12:44] slaff commented on #1337
Yes, of course :). A PR should include major overhaul of all Sming components using delegators + all samples where the delegators are used. The delegator class itself has to be marked as deprecated. Since this change will be a backwards incompatible change we should merge it in a major version.

[2018-03-20 20:34] frankdownunder commented on #1337
Yes a fair bit of work. When are you thinking of doing the next major version?

[2018-03-21 14:16] slaff commented on #1337
Whenever we have something useful to offer to our users. BUT before that it would be great if we can do that migration in multiple steps:
* add std::function alongside delegators for one commonly used component/class (for example for the `Timer` only)
* mark the methods that use old Delegators as @deprecated and specify the replacement method.
* make sure that all samples that depend on `Timer` us

[2018-03-21 15:06] avr39-ripe commented on #1337
Thumbs-up for std::function as replacement of Delegates. I like Sming mostly for its async nature and this was based also on Delegates, so if we can replace it to standard C++ std::function with superior functionality it well be great! We need to make good documentation and example for this feature and also migration guide in form "was such -> become such" :)

[2018-03-23 22:57] sanyaade-buildtools opened #1351 "Error Compiling Sming in Ubuntu Linux 16.04"
Hello Everybody,

I am having type declaration conflicts in some files in Sming.
Please as I don't know which of those to comment out or leave. Many thanks!
Error Screenshots shown below:

 lwip/netif/etharp.o lwip/app/dhcpserver.o espconn_dummy.o
make[2]: Leaving directory '/opt/Sming/Sming/third-party/esp-open-lwip'
AS system/irq_check.s
AS gdb/gdbstub-entry.s
CC system/flashmem.c
In file includ

[2018-03-23 23:12] avr39-ripe commented on #1351
Try to

export SDK_BASE="$SMING_HOME/third-party/ESP8266_NONOS_SDK"

and make dist-clean && make

[2018-03-24 02:48] sanyaade-buildtools commented on #1351
@avr39-ripe:

Thank you so much for your support and quick response to my problems.
Yes! I did what you outlined above and it works like charm :1st_place_medal:  Kudos!!! Many thanks

**So in a nut shell:**
export ESP_HOME=/opt/esp-open-sdk
export SMING_HOME=/opt/Sming/Sming
export SDK_BASE="$SMING_HOME/third-party/ESP8266_NONOS_SDK"
make dist-clean && make

I have test the Basic_Blink sample, I w

[2018-03-24 11:01] slaff commented on #1351
@sanyaade-buildtools Can you please close the ticket ?

[2018-03-24 12:17] #1351 closed

[2018-03-25 04:03] sanyaade-iot opened #1352 "Esptool and Esptool2 Flash and rom dump"
Hello Everybody,

I need your advise due to strange flashing that I am getting.
The issue here is if a compile a program either from the samples or my own successfully with Sming and then upload to my Esp8266-12 then at the end of flashing process I get screen dump as shown below:

![image](https://user-images.githubusercontent.com/7230207/37871564-61fbe664-2fe8-11e8-935b-c579acd1eb95.png)

If I u

[2018-03-25 17:12] sanyaade-iot commented on #1352
Hello Everybody,
Its me again but this time, I find a solution to the above terminal dump.
First: my esptool has now been upgraded from v1.2 to v2.3.2-dev
2nd: I disabled esptool2 since all my tests proved that esptool v2.3.2-dev can all things that esptool2 does.

For my development and since I use esptool.py for other toolchain, I move it to /usr/local/bin for a system-wide use and adjust the pa

[2018-03-25 19:43] #1352 closed

[2018-03-28 23:12] frankdownunder commented on #1333
Slaf said: "As a start we need someone to try and Migrate the Timing classes to Arduino."
OK, I have done that, amongst other things, the old API calls to ets_timer_xxxx in the start function needed changing to:
[code]
Just getting things to compile was challenging - and I would like to document the changes I needed to make (if such a list has not already been started).

I note that the docs say t

[2018-03-29 10:47] hreintke commented on #1333
@frankdownunder
Did you look at the Ticker class from the current master or the ticker class including https://github.com/esp8266/Arduino/pull/4209

[2018-03-30 19:03] kisieel commented on #1212
@fernandomorse Can you please give me some more details on how you fixed the issue? I'm experiencing similar problem in my application and ran out of ideas for debugging. I'm using multiple modules at a time to it's quite a complex case.

Is it a sign of memory leak?

Thanks

[2018-03-31 10:40] frankdownunder commented on #1333
@hreintke  OK, I looked at it briefly. Do you think we should encapsulate an instance of Ticker in the new Timer class, inherit from it, replace it entirely,  or just get everyone to change their code to use Ticker instead?

[2018-04-02 11:39] kwis2 opened #1354 "Sming 3.5.1 rBoot problem"
I have tried to run Basic_rBoot example and I have infinite wdt reset loop. There is problem with Sming or I make sth wrong. I don't undrstand what hapened - why there are mode : sta + softAP ? and why serial not work on 115200 baudrate. Finally why there is infinite wdt loop?

Sming 3.5.1 (201a746...) with `make SMING_RELEASE=1` , ESP8266-01 with 1MB memory
To run example I have modified:
copied

[2018-04-02 11:44] avr39-ripe commented on #1354
may be 'make flashinit' helps?

[2018-04-02 12:14] kwis2 commented on #1354
@avr39-ripe thx
flashinit helps with wdt, but still there is mode : sta + softAP

after reset at 74880 i got

then on 115200

[2018-04-02 13:20] kwis2 commented on #1354
with code revert to initial version of Basic_rBoot, except `DISABLE_SPIFFS = 1`
I got:
with work from ROM 0 it looks OK with ota I got infinite Fatal exception. I don't know reason, there is no information if it was problem with .bin or so?

and with ota:

[2018-04-02 13:30] avr39-ripe commented on #1354
try to enable SPIFFS I think SPIFFS is mandatory for this example

[2018-04-03 11:19] kwis2 commented on #1354
I have tested several times with different settings without success.
Rom0 works, but there is no way to switch Rom1. Additionally, after flashing chip there is no way to run any software on module without `flashinit`.

my chip ESP8266-01S,  last config

after flash I got:

then at 74880 baudrate infinite reset loop

[2018-04-03 11:30] kwis2 opened #1355 "Sming 3.5.1 problem with OS identification"
After update to Sming 3.5.1 on same Windows machines (manual update because chocolatey still don't work) there is problem with compilation. I tried to compile Basic_rBoot example and got

I found it is problem with Cygwin identificztion, after I change Makefile-rboot.mk line 114, after

from

to

Sming work OK

[2018-04-03 21:04] frankdownunder commented on #1337
@avr39-ripe @slaff I suspect one or both of you have started on this already.  If not I will.

[2018-04-04 22:25] frankdownunder opened #1357 "Already Freed"
Calling downloadFile gives debug message "already freed"

Here is a small source file that demonstrates the problem
[code]

[2018-04-06 07:24] kwis2 opened #1358 "WiFi station periodic hangs"
I have been testing Sming for months and sometimes there are problems with module.
Module ESP8266-01S, Sming version about 3.1, battery operated,  connected with router which is often reset by power loss. The only ESP work is to HTTP data send.
For about 4 months there were hundreds of router resets. Computer connected to router always returned to connected state. Often module return to connected

[2018-04-09 12:45] slaff commented on #1355
@riban-bw Can you look at that issue?

[2018-04-09 23:48] frankdownunder commented on #1357
@slaff Good news and bad.  Good news is the short sample I sent you now works fine without the pesky already freed messsage.  Bad news is that when I run my code it is still there.  So I put the relevant code back into theRequestCompletedDelegate and the short sample still works - phooey!
That leaves me with an "already freed" that is not easy to repro.
Worse still, I no longer care because I real

[2018-04-10 08:58] slaff commented on #1357
@frankdownunder  Thanks for the efforts. Point 2 is not an issue, point 1 will be fixed with the PR 1359.

[2018-04-10 09:25] #1357 closed

[2018-04-11 07:04] riban-bw commented on #1328
I am updating Sming-Release to 3.5.1 and moving packages to bintray as suggested. Also adding the OS X toolchain (thanks @slaff). I will try to get this done this week. Sming-Release was going to be something a bit different but is now an installer so maybe I should change the name of the github project to Sming-Installer?

[2018-04-11 07:35] slaff commented on #1328
Sming-Installer sounds great and once ready it can become part of the main distribution.  You can check also those projects that are dealing with easier installation, or better getting started: https://github.com/zgoda/sming-qstart, https://github.com/ajrkerr/sming-osx,

[2018-04-11 10:11] slaff commented on #1337
@frankdownunder The initial work is in the `develop` branch. Feel free to add on top of it.

[2018-04-11 14:29] slaff commented on #1358
@kwis2 Without any error logs of information about the segfaults there is very little that we can do. You can  try and create your own crash handler that records a crash so that it can be analyzed later.

[2018-04-12 03:53] frankdownunder commented on #1337
PR is on its way.

[2018-04-12 09:41] slaff commented on #1337
@zigarrre Can you please check PR #1361?

[2018-04-12 21:35] icodk opened #1363 "Exception when run both web server and https client are active"
My application runs a web server and periodically also contact another server using httpclient.
Every time  the httpclient is active  (connecting to the remote web server) and a new http request arrives to the local web server, I get an exception.
The local web server is http but the httpclient is using https.
I have been using  Sming 2.1.0  with espconn_secure (SDK 1.5.3(aec24ac9))  without that

[2018-04-13 07:05] slaff commented on #1363
It can be that there is an issue. In order to understand and analyze it we will need a sample application that reproduces the problem.

[2018-04-16 21:00] riban-bw commented on #1328
Sming-Release renamed Sming-Installer (https://github.com/riban-bw/Sming-Installer)..
Moved packages to bintray.
Used OS X toolchain supplied by slaff.
Still working on Sming 3.5.1 update.

[2018-04-18 20:22] vijaygill opened #1365 "Latest commit (cd7a1d36e4cd138531658e28c39633be5eab91db) fails to compile"
The latest cut of code does not compile and fails with following error:

third-party/ws_parser/ws_parser.c: In function 'ws_parser_execute':
third-party/ws_parser/ws_parser.c:247:21: error: 'for' loop initial declarations are only allowed in C99 mode
                     for(size_t i = 0; i < chunk_length; i++) {
                     ^
third-party/ws_parser/ws_parser.c:247:21: note: use option -st

[2018-04-19 06:53] slaff commented on #1365
Do the following...
[code]
this way our build system will patch the needed files.

[2018-04-19 22:14] vijaygill commented on #1365
@slaff thanks!!! it worked. I keep two versions of sming - one stable and other latest to test things out. make dist-clean did the trick.

I will close the issue now.

[2018-04-19 22:14] #1365 closed

[2018-04-21 02:05] frankdownunder commented on #1340
Any chance of getting SMTP Sample #1312 into this release?

[2018-04-21 07:50] slaff commented on #1340
The SmtpClient in its current state is not ready for a release. Some days ago I started to write a text with the issues that are there nd how to program in async manner and suddenly ended up with a version that, hopefully soon, will be a full-featured performant SMTP client for embedded devices.
You can follow the progress from here: https://github.com/slaff/Sming/tree/feature/smtp-client  and tha

[2018-04-21 07:53] frankdownunder commented on #1340
Excellent.   I will study your code, hopefully will learn some tricks.

Sent from Mail for Windows 10

From: slaff
Sent: Saturday, 21 April 2018 5:50 PM
To: SmingHub/Sming
Cc: frankdownunder; Comment
Subject: Re: [SmingHub/Sming] *** Preparation for Release 3.5.2 *** (#1340)

The SmtpClient in its current state is not ready for a release. Some days ago I started to write a text with the issues tha

[2018-04-21 15:41] icodk opened #1366 "Question regarding SSL cipher"
nginx default configuration(mine anyway) comes with the following line:
`ssl_ciphers ECDHE-RSA-AES256-SHA:DHE-RSA-AES256-SHA:DHE-DSS-AES256-SHA:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA;
`
However the Basic_Ssl sample failed to connect unless I change it to:
` ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;`
Which might be less secure
Any best practice on that issue ?
Thanks

[2018-04-21 15:54] icodk opened #1367 "Questions: 1. Getting remote IP and 2. setting DNS when using lwip"
Http Client can use a URL that resolves to an IP in the stack. How can print this IP ?
How can I get remote IP when a client connect to the web server running onthe esp ?
Ho can I set the DNS server if not using DHCP ?
All these  be done with espconn  but how to do it with request/responce and Http Client ?
Thanks

[2018-04-24 13:16] slaff commented on #1367
The remote IP can be taken from LWIPs tcp. Example: tcp->ip->remote_ip. This is not directly accessible from one of the TcpClients/Servers but we can easily add it.

Use dns_setserver
`void           dns_setserver(u8_t numdns, ip_addr_t *dnsserver);`

Example:
[code]

Please, try to look at LWIP for the available options.

[2018-04-24 20:33] icodk commented on #1367
@slaff Thanks
Yes please. Could be nice to have access to remote IP in both request  objects.
request remote_ip could be useful in filtering clients when used in a web server and remote IP of request or connection( as in onRequestComplete callback) in  case of httpClient to debug correct DNS resolution.
Why not to allow access to the complete tcp connection: I could also think of being able to con

[2018-04-26 07:15] kwis2 commented on #1355
System it was win 7 32 bit with not working choco install as in #1297, #1241 and #1340
In my oppinion with manual install of mingw afrer choco unzip fail there were no MINGW uname registered, but in Windows there was Cygwin registered.
So in my opinion Cygwin is not the best way to identify OS

[2018-04-26 07:37] kwis2 commented on #1358
After next two weeks there was another hangs with Sming 3.5 - hangs of communication with internet, not module. It looks like from Sming point of view there is no need to reconnect, but http put do not return response so it looks like there were no router to internet connection, in meantime on another computer there is fully working internet connection. It looks like there was router connection st

[2018-04-26 13:00] kwis2 commented on #1354
After long time with Sming@Windows 7 I decided to try Sming@Linux on VM. Basic_rBoot sample worked from first run @avr39-ripe example works without SPIFFS too. Problem was with choco Sming install on Windows.

[2018-04-26 13:02] kwis2 commented on #1340
According to #1354 in my opinion it is high time to say that Sming is not supported on Windows

[2018-05-02 08:39] slaff commented on #1340
v3.5.2 is officially released: https://github.com/SmingHub/Sming/releases/tag/3.5.2.

[2018-05-02 08:39] #1340 closed

[2018-05-02 08:41] slaff opened #1371 "Preparation for Release 3.6.0"
This issue is created to collect all the tasks we need to do before the 3.6.0.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h #1404
- [x] Update Readme.md #1404
- [x] Merge develop into master
- [x] Tag the source code in the master branch

## Financial contributions
Since this version we added support for OpenCollective.
- [x] Replaced the Donate button with something more transparent

[2018-05-02 14:02] #1367 closed

[2018-05-03 10:30] vijaygill opened #1372 "Add support for Nextion displays."
Hi,
Thanks for such a great framework!
I've got this Nextion Display and I have managed to implement a few functions to use it (clear screen, show some text etc). I would like to contribute to Sming and Nextion displays could be a good option.

Currently I am caught between writing own library from scratch or patching ITead's arduino library (using the patch mechanism in Sming).

Please share your

[2018-05-03 11:02] slaff commented on #1372
@vijaygill I would prefer the second option. Unless you can write a new library from scratch that has something to offer like: amazing speed  (much faster than the current ones), uses less resources (CPU and memory) etc.

That reminds of a task in my TODO list to force a coding standard using vera++ in our CI system.

[2018-05-03 11:41] vijaygill commented on #1372
@slaff thanks! I will have another attempt at it. I tried once last weekend but gave up after about 15 minutes. I do not want to re-invent the wheel either. The ITead's library uses functions like "utoa" which can be patched to use "itoa". I will report my progress and ask more questions as I go along.

[2018-05-03 11:53] slaff commented on #1372
Using Nextion was done before. I remember this fork here: https://github.com/ADiea/Sming/tree/work/Sming/Libraries/Nextion. @ADiea never sent his changes as PR but you can see the changes that he has made and submit a Nextion library to Sming.

[2018-05-03 12:15] #1167 closed

[2018-05-06 19:06] dpechman opened #1374 "how to access mqtt.server private from outside?"
I want to set from a configuration file the variables mqtt host and port and set MqttClient host and port in runtime but I dont figure out how to.
The MqttClient instance have to be created before it is ok to read configuration file, so I initialise it empty to then set it later.
I made a workaround changing the declaration statement from private to public in MqttClient.h where the variables are d

[2018-05-07 15:42] slaff commented on #1374
Look at the sample for usage: https://github.com/SmingHub/Sming/blob/develop/samples/MqttClient_Hello/app/application.cpp. That should be enough if you have basic C/C++ understanding.

[2018-05-09 14:50] dpechman commented on #1374
I have it working, but my app need to change anytime the MQTT_HOST and MQTT_PORT. Your example initialise it before call init and use define for MQTT_HOST and MQTT_PORT. How do I set it in runtime?

[2018-05-09 14:58] slaff commented on #1374
@dpechman That is something that should be addressed and have bothered me too. Please, create a new issue with [Feature Request] and close this one.

[2018-05-09 15:32] dpechman opened #1375 "[Feature Request] MqttClient - Please give access to change server and port setting in runtime"
Should be good to have how to access to change in runtime the variables private **server** and **port** in MqttClient library.

[2018-05-10 06:01] #1374 closed

[2018-05-10 06:02] #1338 closed

[2018-05-10 06:05] #1311 closed

[2018-05-10 11:11] vijaygill commented on #1372
@slaff I have got initial compile successful (work is far from over though) with ITEAD's library added as module and a patch generated (applied using build mechanism of sming). So far all's fine. Now I need a bit more information on using second UART on WEMOS D1 I have here. does sming allow usage of both UARTs at the same time? The standard one for all debug / print messages and second one for co

[2018-05-10 12:26] slaff commented on #1372
You can send all debug information to UART1 and use the standard UART0 for bi-directional communication. What you need to add somewhere in the beginning of your init function is

[code]

A complete sample can be seen from [samples/Basic_Serial/app/application.cpp#L126](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_Serial/app/application.cpp#L126)

There is something to be aware of -

[2018-05-10 12:46] vijaygill commented on #1372
Thanks @slaff . I tried something like that but could not make it work. I was trying the other way round, using UART1 for Nextion and leave the UART0 as it is. I will try your suggestion and let you know.

[2018-05-10 12:57] slaff commented on #1372
That will not work. Use UART0(Serial) for communication with Nextion and UART1(Serial1) for debugging.

[2018-05-10 12:59] vijaygill commented on #1372
@slaff thanks again. Will follow your suggestion. Can you please share more details on why it won't work? I am learning about ESP8266 also as I go along.

[2018-05-10 13:17] slaff commented on #1372
Because the hardware does not support it :) The comments in the samples are there to help you. Make sure to read them. [samples/Basic_Serial/app/application.cpp](https://github.com/SmingHub/Sming/blob/develop/samples/Basic_Serial/app/application.cpp#L116)

[2018-05-10 13:19] vijaygill commented on #1372
@slaff - thanks again! Silly me, should have looked at the code myself! I am at work and was going through github during lunch time :). I will try again when I go home in the evening.

[2018-05-13 03:44] frankdownunder commented on #1375
I agree, there is no constructor other than the one that takes the serverhost  and port.
As a workaround, you can allocate the thing at runtime, and use the pointer to access the class later on.

[2018-05-13 16:30] ADiea commented on #1372
@vijaygill uart1 we only have TX on esp8266 as far as i remember, you will need uart0 which has both rx and tx to communicate to nextion device. Unfortunately I abandoned my thermostat project that was going to use the nextion and have no further progress.

[2018-05-14 06:17] frankdownunder opened #1376 "OTA fails for bigger firmware"
I'm trying to get OTA working.  But it fails on a Sonoff POW due to the the watchdog
Strangely it works just fine on a Wemos D1 mini.
The boards are obviously different; is it possible for them to have different settings for the watchdog timer?

I turned on debug info by recompiling with
`make DEBUG_VERBOSE_LEVEL=3`.  After I call otaUpdater->start(); I get the following

_TCP received: 1390 bytes

[2018-05-14 08:56] slaff commented on #1376
The size is ok, as long as you have the Flash memory space to save it and should not cause issues. I am using bigger ROM sizes and haven't noticed any issues. A problem may occur when the newly downloaded ROM overrides either the current ROM or area in Flash which is currently used from your application. OR crossed the 1MB border. For example a rom that is starting in 1MB and then ends in 2nd MB w

[2018-05-14 09:33] vijaygill commented on #1372
@ADiea - Thanks for your post. I will remember that explanation of UARTs by you and @slaff. I didn't get a chance to work on the code this weekend. Will resume it in coming days of this week.

[2018-05-14 14:12] slaff commented on #1375
What we can do is try to unify the connection mechanism for the network clients.
For the MqttClient this will mean the following
* Introduce constructor without parameters
* Deprecate the constructor with the server and port
* deprecated the current `connect` methods in the MqttClient class.
* introduce new `connect` method that can replace the old constructors. Ex `bool connect(const url& clientN

[2018-05-15 08:15] LazyMechanic opened #1382 "Building problems"
I tried install framework with choco, but I surrendered after 3 days unsuccessful installing.
Further I cloned rep with git and called `make`, but project didn't make, again.
What have I done wrong?

[code]

[code]

[2018-05-15 08:52] LazyMechanic commented on #1382
Same error

1. Call `make dist-clean`

[code]

2. Call `make`

[code]

[2018-05-15 09:29] kwis2 commented on #1382
If you would like to run Sming it should be in `sming/Sming` not `Sming/Sming` directory.
`fatal error: c_types.h: No such file or directory` - in my oppinion it is known problem with OS identification check #1355

[2018-05-15 17:32] LazyMechanic commented on #1382
It did not help
I changed environment variable `SMING_HOME = D:\Projects\Sming\Sming` to `SMING_HOME = D:\Projects\sming\Sming`

I changed `Makefile`
[code]

<details>
<summary>Make result</summary>
<pre>
D:\Projects\sming\Sming>make
Fetching Arduino Library Libraries/Adafruit_BME280_Library/ ...
Submodule path 'Libraries/Adafruit_BME280_Library': checked out '321186220e1e04080bb70fa45aae6e6a58208

[2018-05-15 21:14] LazyMechanic commented on #1382
Well.... I don't know what I did, but it has been built.... Half of firmware...

<details>
<summary>Make result</summary>
<pre>
D:\Projects\sming\Sming>make all
Fetching Arduino Library Libraries/Adafruit_BME280_Library/ ...
Submodule path 'Libraries/Adafruit_BME280_Library': checked out '321186220e1e04080bb70fa45aae6e6a5820899f'
error: unrecognized input
make: [Libraries/Adafruit_BME280_Library/l

[2018-05-15 21:53] slaff commented on #1382
@LazyMechanic Can you make a PR with the changes that made the compilation work for you?

[2018-05-15 21:57] LazyMechanic commented on #1382
@slaff I may, but the project cannot be built :)

[2018-05-15 23:11] LazyMechanic commented on #1382
What should happen after building?
What i must use for make self firmware with sming?

[2018-05-16 05:31] riban-bw commented on #1371
Need to change erroneous reference to 3.5.2 in first sentence. (Three me for a moment!)

[2018-05-16 07:07] LazyMechanic commented on #1382
I decided to make sample (e. g. `Basic_Blink`), and I don't understand what is the firmware, where is place it?
`out/firmware` is empty, it have only empty `upgrade` folder.

Make result:
[code]

[2018-05-16 10:39] slaff commented on #1382
As far as I can see you have successfully compiled the application. The next step is to connect your ESP8266 device and flash the app to it by calling:

[code]

[2018-05-16 11:31] LazyMechanic commented on #1382
Oh ... It's my mistake. I had looking at `sming/Sming/out/firmware`, not at `sming/samples/Basic_Blink/out/firmware`.

Now I'm glad. It is working.

Do I understand correctly that for self firmware I'm needing main files:

and I will need edit/append folder to `MODULES` with my "main.cpp" (starting point of my app) in `Makefile-user.mk` ?

[2018-05-17 20:30] frankdownunder commented on #1376
I have spent some time looking at the flash size to see if that contributes to the problem.  @slaff  The sizes ARE different, the Wemos reports Manufacturer: ef Device: 4018 Detected flash size: 16MB, while the Sonoff POW reports Manufacturer: e0 Device: 4016 Detected flash size: 4MB. I found in my box of parts a NodeMCU that has the same size flash as the Sonoff, but it works perfectly also.
So t

[2018-05-20 14:15] 3nd0y opened #1388 "WebSocket Server"
Is there library for websocket server in Sming? Cause i couldn't find that even in Sming v3.5 :(

[2018-05-21 10:51] frankdownunder commented on #1376
I think the Sonoff POW I have is a normal ESP8266.   Its flashes just fine; my problem is that the watchdog bites when downloading a file.  I wonder if it is because of power issues perhaps?

[2018-05-21 10:53] frankdownunder commented on #1375
@slaff Would you like me to have a go at this?

[2018-05-21 10:55] frankdownunder commented on #1310
There are static code analysis tools that would tell us which member functions can be marked const, Ill see if i can find one.

[2018-05-21 20:39] slaff commented on #1388
Yes, you can create a websocket server in Sming. Take a look at the sample
https://github.com/SmingHub/Sming/blob/develop/samples/HttpServer_WebSockets/app/application.cpp#L102 to see how to attach the Websocket resource to the desired server path.

[2018-05-21 20:40] slaff commented on #1375
@frankdownunder Yep, give it a try.

[2018-05-21 20:55] slaff commented on #1310
For the use of "const" we should make the changes across the whole Sming Framework classes and not just here and there. A "const" change should be merged with that PR #1384.

[2018-05-22 16:57] 3nd0y commented on #1388
My bad, i thought it for WS client. Thanks @slaff

[2018-05-22 16:57] #1388 closed

[2018-05-25 07:04] #1372 closed

[2018-05-31 10:01] petrynchyn opened #1392 "new SSL sample for HttpServer_WebSockets"
It would be nice add example creating WebSockets Server and HttpServer by SSL:
1. connect to them from the browser
2. connection between two ESPs where 1 server WebSockets and another client WebSockets
3. firmware rboot upgrade via air + SSL + WebSockets

[2018-06-03 20:44] Marvell13 opened #1394 "Fatal exception 29"
I'm new to programming ESP8266. I made the code below for tests, using the site automacao-iot.com.br.

Example Code:

[code]

Problem executing the above code:

After some time the ESP8266 is reset, where I verified that the heap memory was being decremented with each execution.

Generating error code:

[code]

What am I doing wrong ?? Any suggestions for changing my code ??

Thanks

[2018-06-04 11:21] frankdownunder opened #1395 "Mqtt memory leak"
To reproduce: Use the sample code in PR #1390;
samples\MqttClient_Hello.
Run it and watch memory reduce over time.

[2018-06-04 21:42] dpechman commented on #1293
for replacement of the isProcessing in HttpClient its ok to use cleanup()?
it seems to fix the "request queue is full at the moment" if called before downloadString

[2018-06-05 10:38] #1375 closed

[2018-06-05 13:10] dpechman commented on #1394
check the power supply!

[2018-06-05 18:17] devyte opened #1397 "Licensing"
This repo's license is specified as LGPL-3. However, one of the 3rd party libs is ESP8266_new_pwm, which is specified as GPL-2. I understand that when you incorporate code licensed under GPL, then the entire work must be GPL.
How is this compatible? Doesn't this mean that any Sming-based firmware that uses ESP8266_new_pwm must also be GPL? Or is my understanding of GPL wrong?
Also, what happens wi

[2018-06-05 18:49] slaff commented on #1395
I cannot reproduce this. With the latest develop version I used the MqttClient_Hello sample which resulted in
[code]

I let the device run for 1 hour and the results seem pretty stable.

[2018-06-05 18:49] #1395 closed

[2018-06-05 19:54] slaff commented on #1394
@Marvell13 If your actual code is very close to the one pasted above then it is real miracle that this code is working at all.

In `sendHTTP` you are creating every time a new pointer to an HttpClient object, never initialize that pointer or allocate space for it and directly call `send` method on the pointer.
[code]

What would be much better is to have one global HttpClient object and inside of

[2018-06-05 21:00] Marvell13 commented on #1394
@slaff

I made the above modifications and decreasing the heap memory continues resetting the ESP8266.

code

[code]

[2018-06-06 13:24] slaff opened #1399 "Preparation for Release 3.6.1"
This issue is created to collect all the tasks we need to do before the 3.6.1.

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h #1424
- [x] Update Readme.md #1424
- [x] Merge develop into master
- [x] Tag the source code in the master branch

# Coding Style Rules
- [ ] Update the README and Contributions to have section about coding standards.
- [x] Make a separate PR that should be squas

[2018-06-07 12:38] softerra opened #1401 "Some postParams may left unescaped"
Please look at the code of **formUrlParser** performing final unescaping of the params:
https://github.com/SmingHub/Sming/blob/0a749213e2397b276b8d589226a91557f61e2565/Sming/SmingCore/Network/Http/HttpBodyParser.cpp#L40-L53

The problem is at the line 48 : HashMap::remove() shifts key- and value- elements in the respective arrays so the next postParams item will have the current value of the index

[2018-06-07 12:43] slaff commented on #1401
@softerra Nice catch! Can you submit a PR with the changes?

[2018-06-07 15:54] #1401 closed

[2018-06-09 11:17] slaff commented on #1394
@Marvell13 I have an idea what is happening. And I have checked it on my devices.

Short-Story: Comment out that code:
[code]
and you will get the memory consumption to fluctuate up and down but remain relatively stable.

Long-Story:
The header above  instructs the remote server to close the TCP connection after every HTTP request. If you comment it out then the TCP connection will be reused and t