[2018-06-12 01:53] Marvell13 commented on #1394
@slaff  Thanks for the help, sorry for the questions, because I'm doing a search for my school.

I made the modifications and performed much better without loss of memory, but after some time running, it presents the message "The request queue is full at the moment" and does not execute more, something that I can do about it?

Thankful.

[2018-06-15 08:19] #1371 closed

[2018-06-15 08:33] #1204 closed

[2018-06-15 08:46] slaff commented on #1294
@fernandomorse See the discussion here #1394.

[2018-06-15 08:46] #1294 closed

[2018-06-15 08:49] slaff commented on #1394
Check how much time it takes for a request to receive response. If it is, let say 2 seconds, then send new requests once per 3 or 4 seconds.

OR if you really want to send data quite often then just use the websocket client. You will have one connection to the server and send data as often as you like.

[2018-06-18 08:50] vijaygill commented on #1397
+1 vote from me.

In my view, any code that makes Sming more restrictive must be removed / replaced.

@devyte it will be great if you take this task and raise a PR please?

[2018-06-18 10:49] vijaygill opened #1405 "Add support for DFPlayer Mini Mp3 player"
I bought from AliExpress but the product is (i.e. should be, I need to test it yet) [DFPlayer Mini on DFRobot site](https://www.dfrobot.com/wiki/index.php/DFPlayer_Mini_SKU:DFR0299).

The Arduino library is here [DFRobotDFPlayerMini Library on GitHub](https://github.com/DFRobot/DFRobotDFPlayerMini) and I will try adding the support for it in Sming.

[2018-06-18 20:58] devyte commented on #1397
@vijaygill a PR with what? Removal of ESP8266_new_pwm? Wouldn't that break any existing applications that rely on it?
Please be aware that I'm not a user of the code of this repo. It just happens that I'm aware of the licensing of ESP8266_new_pwm due to a discussion with the author of that code in the context of using it in conjunction with our Arduino core. I just happened to notice in a google s

[2018-06-18 21:43] vijaygill commented on #1397
@devyte ok.

[2018-06-19 08:09] slaff commented on #1397
There are probably many things that can be done but the following should suffice:
* Disable by default the GPL PWM library
* If someone enables it warn him/her about the GPL license requirements and consequences

But before we do this I would like to discuss this with the author of the custom PWM.

[2018-06-20 02:20] devyte commented on #1397
I already tried to discuss with the author [here](https://github.com/StefanBruens/ESP8266_new_pwm/issues/16), and there are other similar issues opened.  You're welcome to try again.
There seems to be a misunderstanding about what "compatible" means in this context, both here in the comment about the compatibility matrix, and in the mind of the author of new pwm. A free license is "compatible" wit

[2018-06-20 19:33] Vinimuller opened #1407 "Question about SmingCore.h"
Hello!
At my application for an ESP8266-12 I'm trying to keep things organized. For that I created a "sensorHandler.h" file inside "include" folder and inside "app"  folder I created the respective "sensorHandler.cpp" file.
At my header file I'm trying to create a class that contains variables of type String and Timer which are defined in SmingCore.h, but when I include SmingCore.h in my header fi

[2018-06-21 07:49] slaff commented on #1407
@Vinimuller It sounds like programming error from your side. Did you put C++ code inside extern "C" block(s)? May be the easiest is to publish the code of the application so that I can look over it when I have some time.

[2018-06-21 19:32] EveningStarNM commented on #1297
It will be helpful (and merciful) to Windows users to note on the ReadMe that they shouldn't waste their time trying to install Sming. As far as I can tell, it can't be installed on Windows 10 1607 or later, despite the fact that Windows is prominently (and incorrectly) listed as a platform on which it can be installed. I just wasted an hour. It's doubtful that I will ever try Sming again, and I m

[2018-06-21 21:06] Vinimuller commented on #1407
@slaff Yeah, I've read about it and found something mentioning the extern "C", but I don't have C++ code inside it.
Here is the sensorHandler.cpp

![whatsapp image 2018-06-21 at 18 04 39](https://user-images.githubusercontent.com/25661168/41745567-b78652ba-757d-11e8-872a-2628e3161071.jpeg)

[2018-06-22 15:39] slaff commented on #1392
I will try to split my answer into two main areas
*  At the moment the HttpServer (also with Websockets) support setting TLS/SSL
* but the question is how much sense is that making

# Enabling SSL in HttpServer

The `listen` method in the HttpServer class accepts a second optional parameter. If you look at the original code:
https://github.com/SmingHub/Sming/blob/develop/samples/HttpServer_WebSock

[2018-06-28 06:09] gjt211 commented on #1223
@slaff sorry for not getting back to this sooner. My paying job keeps me away for extremely extended periods of time.

I have just been through this again and I have been able to complete the install (with some errors in there that I don't understand) but have just now been able to compile the Basic_Blink example.
The new install guide was still not as simple as follow the steps but I got there.

[2018-06-28 06:55] gjt211 commented on #1223
@slaff. I have been able to compile some examples but my any serial output is just garbage. I am using a ESP8266 NodeMCU board that works fine in the Arduino IDE.
I was wondering if there is a crystal frequency setting but was unable to find one (I think the ESP12 module uses a 26Mhz Xtal)
I have tried changing the baud rates without success. Are you able to point me in the right direction?

[2018-06-28 07:49] #1405 closed

[2018-06-28 07:51] slaff commented on #1407
@Vinimuller Please create a sample app where the problem is reproducible. Put that app in Github and share the link with us. After that I can try to reproduce the issue locally and analyze and fix it, if needed.

[2018-06-28 09:34] gjt211 commented on #1223
After hunting and searching I think my problem has been solved now.
I done the following;
[code]
I then done a `make` followed by a `make flash` and my code is running!
I have taken some notes of my experience and will be happy to make a guide when time permits which may help others using MacOS.

[2018-06-28 14:14] Vinimuller commented on #1407
Hey @slaff, I got it fixed!
The problem was that I tried to include `#include<SmingCore/SmingCore.h>` but it actually is `#include<SmingCore.h>`
Thanks!

[2018-06-28 14:14] #1407 closed

[2018-07-02 11:33] frankdownunder opened #1411 "SmtpClient Authorisation Problem"
To get sming to build, ( am not using SSL), I had to include this code:
extern "C" {
	void ssl_hmac_md5(const uint8_t *msg, int length, const uint8_t *key, int key_len, uint8_t *digest)
	{}
}

Naturally, the authorisation doesnt work any more.

I captured a log of what we are sending.
The line
[code]
is after base 64 decoding, the user name I supplied, followed by a lot of zeroes.
After which I ge

[2018-07-02 21:10] frankdownunder commented on #1411
I tried
EXTRA_LIBS=ssl
inside   Makefile-user.mk
That did the trick

[2018-07-09 04:00] #1411 closed

[2018-07-10 06:15] vijaygill commented on #1275
I got this error too when I tried a small sample of my own (adapted from sample in Sming) but a "make flashinit" before "make flash" fixed it.

[2018-07-10 16:09] giorgiogalantegit opened #1412 "Fatal Error 28 using WT8266"
I would like to adopt this Framework for some project I am working with. I have setup the environment in widows 10 and set SPI size to 2M accordingly to the module specification.

I try several samples (HTTP Server AJAX, Network config, etc. but any of this sample show me a Fatal error 28.
any suggestion is more  than welcome!
kind regards

[2018-07-11 09:02] #1330 closed

[2018-07-11 20:01] vijaygill opened #1413 "Question: JSON support - is it there or can it be added?"
I am looking for JSON support and I can't find anything related to JSON parsing.

@slaff - I came across this library, https://github.com/bblanchon/ArduinoJson and license is OK too. If there is nothing already there, can this be added? I will try if I can do it.

Thanks
Vijay

[2018-07-12 08:28] vijaygill commented on #1413
@slaff thanks! I wonder how I missed it. I will try it out. I am going to close this issue as it is not an issue anymore.

[2018-07-12 08:28] #1413 closed

[2018-07-12 08:29] slaff opened #1414 "Refactoring: Move ArduinoJson from Services to Libraries"
The ArduinoJson library should be moved from Services to Libraries. Libraries is better suited as it contains the Arduino compatible libraries and we have mechanism there that can help us keep the third-party Arduino libraries up-to-date.

[2018-07-12 08:31] vijaygill commented on #1414
A quick question - will it become a git-module also as part of refactoring?

Thanks.
Vijay

[2018-07-12 08:40] slaff commented on #1414
If there are no big differences then a volunteer, for example you :), can add it as a git submodule.

[2018-07-12 08:58] slaff commented on #1412
@giorgiogalantegit Make sure that the Flash size is correct. Then follow [that article](https://github.com/SmingHub/Sming/wiki/Application-prints-random-symbols-and-restarts) and `flashinit` the device. It has to be done once. Make sure to power-off and the power-on the device. Then try to flash again the application.  If the error persists again then paste here the complete log and the decoded st

[2018-07-12 08:59] vijaygill commented on #1414
Sure! No problem! I will be glad to do it :)

[2018-07-12 09:16] giorgiogalantegit commented on #1412
Hello, I switch to the EspressIf SDK 1.54 and all work fine. before I were using the SDK 2.0

[2018-07-12 09:17] slaff commented on #1412
@giorgiogalantegit I guess SDK 2.0 will work also fine for you, but you should `flashinit` if you move between SDKs.

[2018-07-12 09:31] #1414 closed

[2018-07-12 09:33] slaff commented on #1414
@vijaygill Get the latest `develop` version and give it a try. ArudinoJson is now moved to Libraries.

[2018-07-12 10:12] giorgiogalantegit commented on #1412
@staff if i ry to use flashinti i get this error:
================
make flashinit
Flash init data default and blank data.
/c/Espressif/utils/ESP8266/esptool.exe -p COM3 -b 115200 erase_flash
Connecting...
head: 0 ;total: 0
erase size : 0
/c/Espressif/utils/ESP8266/esptool.exe -p COM3 -b 115200 write_flash -ff 40m -fm qio -fs 16m 0x1fc000 /c/Espressif/ESP8266_SDK/bin/esp_init_data_default.bin 0x1fe

[2018-07-12 10:16] slaff commented on #1412
Hmm... Try the following sequence of commands:

* Power-Off -> Power-On the device.
* Put the device in FLASH mode
* /c/Espressif/utils/ESP8266/esptool.exe -p COM3 -b 115200 erase_flash
* Power-Off -> Power-On the device
* Put the device in FLASH mode
* c/Espressif/utils/ESP8266/esptool.exe -p COM3 -b 115200 write_flash -ff 40m -fm qio -fs 16m 0x1fc000 /c/Espressif/ESP8266_SDK/bin/esp_init_data_de

[2018-07-12 10:32] giorgiogalantegit commented on #1412
Yes in this way work perfectelly!
thank you..
BTW.. we find a bug and a solution in the websocket library I am going to submit a new issue

[2018-07-12 11:55] slaff commented on #1412
Thanks in advance. Meanwhile I will close this ticket because the original issue seems to be solved.

[2018-07-12 11:55] #1412 closed

[2018-07-12 12:01] slaff commented on #1392
Added the answer as a separate Wiki post for future references: https://github.com/SmingHub/Sming/wiki/How-to-use-SSL-in-HttpServer

[2018-07-12 12:01] #1392 closed

[2018-07-12 12:19] giorgiogalantegit opened #1416 "Issue on the WebSocket library"
We start to test the websocket library with enabled SSL by using  simple websocket server make by using node js 8.11.3 and express-ws 4.0.0.

when the client try to complete the connection the server crash with this error code:

RangeError: Invalid WebSocket frame: FIN must be set

Looking into the library I see that during the connecting a ping message is sent.
The  ping can be send only after th

[2018-07-12 12:35] icodk opened #1417 "Enabling SSL in HttpServer"
Is http over wifi is encrypted ?
As fa as I know only wifi key exchange is encrypted. The actual traffic is readable to any wifi adapter in Monitor mode that can capture the traffic.
or what ?

[2018-07-12 12:56] slaff commented on #1416
You can try the still unfinished websocket refactoring in that PR: #1387.

[2018-07-12 13:15] slaff commented on #1417
Short answer:
If you have WiFi Access Point with WPA protection or better and this access point is dedicated to your devices then knowing the WPA passphrase can help hackers in their efforts to decrypt the traffic.

Long answer:
I would take the liberty and generalize the question to "Is any communication data over WIFI encrypted?". To answer this question we need to answer one additional question

[2018-07-12 13:54] icodk commented on #1417
OK thanks I think I got it

[2018-07-13 05:49] dibalavs opened #1418 "question: why do you fix linker script during compilation?"
I found that during compilation, makefiles are fix linker script (standalone.rom.ld), to adjust starting address and length of  irom0 segment.
Why is it need?
according to https://github.com/esp8266/esp8266-wiki/wiki/Memory-Map
boolloader will map flash addresses < 40000 to RAM: 40100000h
and addresses >40000h to RAM: 40200000h

but in Smng addresses can be started from RAM: 4020c000h.

I tried to

[2018-07-15 15:34] vijaygill opened #1419 "MQTTClient and non-clean session. Client not picking messages sent during it was disconnected."
Hi
I made changes to Sming to allow connecting with broker with a clean session and mosquitto log on my Linux machine confirms the connection has clean session = 0.

But if I send messages to an esp8266 in deep sleep with QoS 1 or 2, the client does not get messages on wake up.

[2018-07-18 22:51] vijaygill commented on #1419
Looks like mosquitto on raspberry pi does not persist messages. I tested using simple python client and mosquitto_pub with various QOS levels.

Closing this issue until for now. First I will get mosquitto working properly.

[2018-07-18 22:51] #1419 closed

[2018-07-19 19:30] fvalenta commented on #501
Works through I2C without reset. The undocumented 0xe4 command has to be sent.

[2018-07-25 10:48] slaff commented on #1376
Feel free to reopen or comment if you have made some progress with the issue.

[2018-07-25 10:48] #1376 closed

[2018-08-04 23:10] chall3ng3r opened #1425 "Sming app compiled and flashed, but doesn't run on NodeMCU board"
Hi, I'm starting to get back in using Sming for my ESP based projects. I had previous manual install with pretty old version of Sming and ESP SDK.

I updated Sming to latest dev build, installed latest beta UDK. Was getting an error, but after setting ESP_HOME and SMING_HOME environment vars, Sming samples started to compile fine.

I was able to only compile and flash Basic_Wifi sample once. After

[2018-08-06 09:57] slaff opened #1426 "Preparation for Release 3.7.0"
This issue is created to collect all the tasks we need to do before the 3.7.0 (originally this was set to 3.6.2 but the improvements are so much that it's worth dedicating a new version to it).

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h #1519
- [x] Update Readme.md #1519
- [x] Merge develop into master
- [x] Tag the source code in the master branch

### New features
- Added ElapsedT

[2018-08-06 09:57] #1399 closed

[2018-08-06 09:59] slaff commented on #1425
@chall3ng3r Try this https://github.com/SmingHub/Sming/wiki/Application-prints-random-symbols-and-restarts

[2018-08-06 11:16] frankdownunder opened #1427 "SmtpClient Memory Leak"
I suspect there may be a memory leak in sending an email (or maybe the samples error handling  could be improved)
I modified the sample to send to a host that does not exist, ie mail.smtp2go.comXXX
The same behaviour is probable for a server that is temporarily unavailable.

I tried to send 10 emails in a row.  I would expect it to fail of course, but not to use memory on each call.
Obviously the

[2018-08-06 12:10] slaff commented on #1427
Hm.. You can probably do something else. Put an email in the queue. Wait for the email to be sent using `onMailSent` callback. If that one is sent then send another one. Otherwise you are just stuffing the queues with emails that will never be sent.

[2018-08-06 12:34] chall3ng3r commented on #1425
Okay, trying out other samples. HTTP_AJAX works. Its something with ConfigNetwork I think, maybe I have sample from old version mixed up. Going to delete all samples and download again.

Will share how it goes.

[2018-08-06 12:34] slaff commented on #1425
Welcome back and hope to see you sending PRs soon :).

If the crash is caused due to an error in Sming then you should be able to see a stack trace, that you can later decode. Try to reset the device after flashing. Then capture the serial output and paste it here from the start till the crash to see what is actually happening.

[2018-08-06 15:37] chall3ng3r commented on #1425
Thanks you, yes started working with node-red, and didn't find any ESP8266 framework to work with it to my liking. Sming is my favorite, so might be contributing back as I develop on it.

After multiple tries, and setting export SPI_SIZE=4M, I was able to boot my ESP with HTTP_Bootstrap sample, it showed progress of initializing FS on serial, and connected to my home WiFi. However, it disconnects

[2018-08-06 15:46] chall3ng3r commented on #1425
CPU frequency was set to 160MHz in HTTP samples, commented that line. But still same issue.

[2018-08-06 19:53] slaff commented on #1425
May be that is the reason. We don't support Espressif's NON OS SDK > 2.0. Try with some older UDK version.

Let me see if I understood this correctly - the sample actually works but with frequent disconnects. And after multiple restarts it just stops working... That is utterly strange... Try an older UDK version and they we can talk. @ADiea what is the UDK version that works for you?

[2018-08-07 16:06] chall3ng3r commented on #1425
Alright, that makes sense as upgraded ESP SDK 1.5 and Sming 2.x to 3.6.

Yes, you got it right. The sample flashed and worked, and then started crashing after some restarts. It never recover to working again, until I flashinit and flash again.

[2018-08-08 09:28] #1394 closed

[2018-08-08 12:37] chall3ng3r commented on #1425
Okay, I got it working perfectly now.

@slaff thank you for your help on this, highly appreciate it.

I uninstalled beta UDK, and installed ESP UDK 2.2.1 which contains ESP SDK 2.0. Afterwards, I did rebuild of Sming, and samples. esptool is different in this one, as write progress is shown differently.

I did make sure that before doing `flashinit`, I set SPI_SIZE=4M, so memory table is set prope

[2018-08-08 12:37] #1425 closed

[2018-08-10 06:09] tius2000 opened #1428 "SDCard only with software SPI?"
There might be problem with hardware SPI and SDCard. The SDCard sample compiles fine, but does only work (slow) when I replace

`SDCardSPI = new SPIClass();`

with

`SDCardSPI = new SPISoft(PIN_CARD_DO, PIN_CARD_DI, PIN_CARD_CK, 0);`

The error message (with some additional debugging enabled) is:

[code]

Could that be hardware related? I checked it with two different cards and cardreaders.

[2018-08-10 07:29] slaff commented on #1428
@ADiea you are our SDCard expert. Can you help here?

[2018-08-10 15:49] slaff commented on #1297
@EveningStarNM I tried recently to install Sming on a fresh new Windows 10 Virtual Machine and it seem to work after installing for quite some time. Can you tell me what are the issues that you have experienced?

[2018-08-10 23:36] frankdownunder commented on #1427
@slaff I did as you suggested, works well now.
Would you like me to amend the sample to:
1. Check the result of the connect
2. Try to send a second email but only if the queue is empty
OR
I can just add some comments to the sample to suggest how production code might handle these issues.

[2018-08-13 09:02] orel-corporation-microbit opened #1430 "Windows Installation - Package not found in source"
Hi,

I previously was able to install and run the Sming framework on my machine around a year ago. I recently wanted to return to the programming of the ESP, so I cleared out the old version and am attempting to install the latest version of Sming.

I managed to install chocolatey, but every time I try to install Sming I get the below message:

"
2018-08-13 13:46:46,900 10200 [INFO ] - Installing

[2018-08-13 09:10] slaff commented on #1430
I guess the problem lies in choco

[code]

Can you run `choco --v` and paste here the output?

[2018-08-13 09:14] orel-corporation-microbit commented on #1430
Hi slaff,

The output from the logs are as follows:

"
2018-08-13 14:41:27,912 168 [INFO ] - ============================================================
2018-08-13 14:41:28,443 168 [INFO ] - Chocolatey v0.10.11
2018-08-13 14:41:28,474 168 [DEBUG] - Chocolatey is running on Windows v 6.3.9600.0
2018-08-13 14:41:28,474 168 [DEBUG] - Attempting to delete file "C:/ProgramData/chocolatey/choco.exe.old

[2018-08-13 10:40] slaff commented on #1430
The following error message hints to an error in .NET code.
[code]
My bold guess is that the version of .NET that you have is too old. Try updating to a newer one. Also this problem is choco related and will be better addressed if you report it in the [choco issue list](https://github.com/chocolatey/choco/issues).

[2018-08-13 12:06] orel-corporation-microbit commented on #1430
I don't think it's a .NET problem because I did check if it was the latest version and I apparently have version 4.7 involved.
![image](https://user-images.githubusercontent.com/25971168/44030696-3af3097a-9f1f-11e8-9928-b7de4cf994c2.png)

Will look for help with this on the choco repo too. If you, or anyone, has any suggestions on getting this working please let me know though.

[2018-08-14 15:14] chall3ng3r commented on #1430
choco install also failed for me, but it gets stuck.

My manual solution is simple,
1. Install python 2.7
2. Install ESP UDK 2.2.1
3. Clone Sming dev or master branch to your desired location
4. Set environment vars

That's it, worked for me when I recently also returned to Sming after some months and needed to update to latest version.

[2018-08-15 14:04] kmihaylov commented on #1275
1st I warn that I do not use the example directly. Despite that I must say I only copy-pasted the code into a new OTA class. Probably it is about the same thing.

My ESP restarts (Software Watchdog Reset) after trying to perform OTA update.

Attached is the dump:

What I was able to find is that the situation happens immediately after `otaUpdater->start();` has been executed.

Even if I put `retur

[2018-08-15 15:45] slaff commented on #1275
@kmihaylov Would it be possible to paste the code that you use, or at least to provide a sample code where the issue is reproducible.

Hm.. My blind guess is that otaUpdate is either not initialized or points to a memory address that was freed earlies and thus is invalid.

[2018-08-15 15:54] kmihaylov commented on #1275
I can send an archive of the whole project for you to test if you would like to do so?

[2018-08-16 09:27] slaff commented on #1275
That is something that can definitely help but I will be able to review it after a month on a real device. Before we go that further why don't you try to flash the original unmodified rBoot sample and check if that one is working. If it also does not work then take care to `flashinit` the device as [described in our WIKI](https://github.com/SmingHub/Sming/wiki/Application-prints-random-symbols-and

[2018-08-16 11:45] kmihaylov commented on #1275
Hello slaff,

Since I'm building the project on another machine (I'm flashing it on my windows machine), I had to track exactly what flashinit does to perform it. Actually I'm using similar command.

Here is what I run manually, but should completely correspond to flashinit:

For some readon the ESP doesn't respond to serial commands (from the example), I added the following lines to the bottom of

[2018-08-18 19:43] DanielMazurkiewicz opened #1432 "error: too few arguments to function '_PyImport_FixupBuiltin'"
Have below issue while:
make VENDOR_SDK=2.2.1 STANDALONE=y

esp-open-sdk/crosstool-NG/.build/src/gdb-7.10/gdb/python/python.c:1757:3: error: too few arguments to function '_PyImport_FixupBuiltin'

Any ideas?

[2018-08-18 21:29] DanielMazurkiewicz commented on #1432
[INFO ]  Installing cross-gdb
[ERROR]    /home/ESP82xx/esp-open-sdk/crosstool-NG/.build/src/gdb-7.10/gdb/python/python.c:1757:3: error: too few arguments to function '_PyImport_FixupBuiltin'
[ERROR]    make[5]: *** [Makefile:2517: python.o] Error 1
[ERROR]    make[4]: *** [Makefile:8755: all-gdb] Error 2
[ERROR]    make[3]: *** [Makefile:845: all] Error 2
[ERROR]
[ERROR]  >>
[ERROR]  >>  Build fai

[2018-08-24 16:31] perpernorbi commented on #1303
This will fix it: https://github.com/SmingHub/Sming/pull/1433

[2018-08-26 16:30] slaff commented on #1432
@DanielMazurkiewicz  The [esp-open-sdk project](https://github.com/pfalcon/esp-open-sdk) is the proper place to report and discuss this issue.

[2018-08-26 16:30] #1432 closed

[2018-08-26 21:36] juppin commented on #1275
I´ve the same problems and can´t get the ota update working...
I´ve tried also the Basic_rBoot example but always with the same error.
For the Basic_rBoot example i´ve changed only the url´s and my wifi credentials.

I´ve also tried latest Sming 3.5 and 3.1 and SDK 1.5.4 and 2.0.0 and have always the same error.

My development board is a NodeMCU v0.9 and my devel system is debian stretch.

Here i

[2018-08-27 21:17] kmihaylov opened #1434 "nRF24L01 example Fatal Exception 3, related to PROGMEM, PSTR"
Hi again,

SDK: 2.0.0
Sming branch - develop

I'm trying to run the nRF24L01 example for a too much time already. Actually I'm able to run it if I comment the following lines (313-323) in RF24.cpp

[code]

I'm almost sure that the problem is related to the PSTR macro, unfortunately my knowledge isn't enough to solve the problem.

Any feedback is appreciated.

Thank you.

Edit:
Attached fatal excep

[2018-08-29 09:08] ADiea commented on #1428
Hi sorry for late reply I think software sp[i differs from hardware arduino class.
If I remember correctly the main difference is related to who sets the chip select i guess hardware spi relies on the user to select the chip.  The SDCard class needs to to chip select by itself you should investigate if the chip select is done correctly using the hardware spi class.

[2018-08-29 10:31] harry-boe commented on #1428
Try using lower speeds for HW SPI.

We used the samples in a training class and figured out that only 4 out of 10 boards did work.
The issue was that it became unstable with higher speeds than approx. 20 MHz.

Change the initializer (in the Sample) and try again

[code]

About the comment above. True you cant use the HW chip select. This is due to the fact that the initializer sequence of the SD c

[2018-09-11 09:58] mikee47 commented on #1434
The 'name' parameter for print_byte_register() and print_address_register() is handled strangely. Internally the methods use strlen_P, but then pass name in the argument list for printf_P() in which case it MUST be a RAM pointer, not a flash pointer.

I'd call this a bug in RF24, prototypes should be:

  void print_address_register(PGM_P name, uint8_t reg, uint8_t qty);

note that PGM_P doesn't do

[2018-09-15 19:43] MayaPosch commented on #1303
Confirmed fixed with #1433.

[2018-09-15 19:43] #1303 closed

[2018-09-17 07:09] stokersoft opened #1439 "Any plans to support the new SDK 3.0.0"
Hi,

There are some severe bugs in all espressif SDK's less than 3.0.0. They are not compatible with some routers, like Jensen Omni and Nova mesh. Its fixed in 2.2.1 but, that version has some other flaws when downloading larger content via tcp.

Any plans to support this new SDK? First thing must be to let opensdk be based on 3.0.0. right?

[2018-09-17 07:36] slaff commented on #1439
Right. @stokersoft what you can do is create a PR in the [esp-open-sdk](https://github.com/pfalcon/esp-open-sdk) project with the 3.0.0 version or open an issue in that project.

[2018-09-19 06:59] slaff commented on #1434
@mikee47 Can you suggest a PR with a fix for the problem once you have updated the Basic_ProgMem as part of PR #1438 and the PR has been merged?

[2018-09-19 07:13] mikee47 commented on #1434
@slaff Sure, simple enough - don't appear to be any external dependencies :-)

[2018-09-19 09:35] vijaygill commented on #1439
There is branch in a fork of the esp-open-sdk https://github.com/nabovarme/esp-open-sdk/tree/sdk-v3.0.0. I have not tried it myself (just found it after reading your post), might do it this weekend.

[2018-09-21 06:08] mikee47 commented on #1434
@slaff I've submitted a PR which should allow the sample to work, though I haven't had time to test it myself.

[2018-09-22 09:41] #1434 closed

[2018-09-23 08:06] slaff commented on #1439
@stokersoft You can try this unofficial and untested branch  (https://github.com/slaff/Sming/tree/update/sdk-3.0) which supports compilation with the v3.0 + updates of the NON-OS SDK.

The commands to do this are:
[code]

Since you are switching between SDK versions you might need to issue this command, only once, before flashing:

[code]

Give it a try and let us know if it works for you and if t

[2018-09-24 10:52] vijaygill commented on #1439
@slaff - great stuff!!! If you need tester, I can be one :) Do you keep that branch up-to-date with the develop of main repo (I notice that you do, just asking)?

Vijay

[2018-09-24 11:54] slaff commented on #1439
@vijaygill Give it a try. As long as there is interest and progress I will keep it up to date until we merge it into develop at some later moment.

[2018-09-24 20:50] Vinimuller opened #1444 "AWS iot with Sming Certificate Problem"
Hey! I'm trying to use AWS iot via MQTT, but it requires a certificate to make the connection. I have already used MQTT without certification, but I think that I'm having problems with the way that I'm passing the certificate and key to the function.
When I try to connect to the broker I get :

Error: Invalid X509 ASN.1 file (X509 not ok)

Here is how I'm passing the certificate:

`	mqtt->addSslOp

[2018-09-25 06:38] slaff commented on #1444
I guess your certificate is NOT in DER format. Open it with text editor and if you can read the content then it is in PEM (text format). Convert it to DER(binary format). Take a look here how this can be done: https://github.com/igrr/axtls-8266/blob/0c3a9f722f11799fbeda1f99f9d9ab77a82a4489/tools/make_certs.sh#L127

[2018-09-25 16:02] slaff commented on #1444
Move the `connect` after you set the client certificate. In the code above this means to move `mqtt->connect("sdk-nodejs-2ada784d-7605-4f75-a3f2-c46dd3c84f40",true);` after `mqtt->setSslClientKeyCert...`

[2018-09-25 16:33] Vinimuller commented on #1444
Moving the connect gives me the same output still.
Function:
[code]

[2018-09-25 17:41] slaff commented on #1444
Well make sure to upload the DER certificate and key to the device. You have to fix this issue before going to the next issues.  Take a look at the sample that we have: https://github.com/SmingHub/Sming/blob/develop/samples/MqttClient_Hello/app/application.cpp#L96.

[2018-09-27 23:11] Vinimuller commented on #1444
Ok, I just realized that my version of of sming is not the same as the example.
The function "mqtt.setSslKeyCert" is actually called "mqtt.setSslClientKeyCert" and I don't have the setCallback function.

Do you think that the problem is that I'm not updated with the repo? Or the version that I am should work too?
Another question: Is it wrong to put the DER file into ESP in the compilation stage a

[2018-09-29 08:44] lrodorigo opened #1449 "NTPClient not retrying synchronization if DNS resolution fails"
Hi all,
I noticed that the NTP synchronization is not retrying if the DNS resolution fails.

I solved by moving `timeoutTimer.startOnce()` before `dns_gethostbyname`  instead of in `internalRequestTime` method.:

`

	// Start timeout timer, if no response is recieved within NTP_RESPONSE_TIMEOUT
	// a new request will be sent.
	timeoutTimer.startOnce();

	int result = dns_gethostbyname(this->server

[2018-09-29 08:55] slaff commented on #1449
Hm... this is more of a workaround than a proper fix. What we can do is probably improve the NtpClient to
* listen to Wifi connects and disconnects events.
* if there is a WIFI connection but the sntp host is not resolvable (due to missing connection to Internet or timeout) to run a timer that retries the DNS resolution...

[2018-09-29 09:02] slaff commented on #1449
Revert your changes to the file. Replace the NtpClient::staticDnsResponse method with the one below and give it a try.
[code]

[2018-09-30 09:13] lrodorigo commented on #1449
I think it should be `self->timeoutTimer.startOnce();`, but unfortunately this doesn't seems to fix the issue (`staticDnsResponse` not invoked at all).

[2018-09-30 16:52] Vinimuller commented on #1444
You can create a free account here https://aws.amazon.com/free/?nc1=h_ls.
It has some limitations but should work for exchanging some messages with aws iot.

In AWS iot each sensor that you have that is sending data to their broker is called a "thing". So in order to send data from a sensor to AWS iot, you first need the create this thing in aws iot console, which will give you the certificate and

[2018-09-30 16:53] Vinimuller commented on #1444
I was also wondering if it would be a problem the private key having a size of 1190 bytes.

Thanks for your help so far @slaff

[2018-10-01 07:39] slaff commented on #1444
Nooo! Keep you private keys safe ;).

Probably not.

Ok, I will try to find some time this week to send `mqtt` message to AWS IoT and share my progress with you. And thanks for the instructions.

[2018-10-01 07:41] slaff commented on #1449
You are absolutely right. I answered hastily without really checking. Can you give me hints  how I can reproduce the problem that you are having?

[2018-10-01 19:00] slaff opened #1451 "Strange bug with Strings"
@mikee47 Strangely enough the following code produces incorrect result:

[code]

Instead of the complete HTTP request line I am getting just "HTTP/1.1\r\n". The issue is happening after your recent PRs were merged (related to the String class). Can you check if you can reproduce it or it is just me and my compiler with `mforce-l32`?

[2018-10-01 20:14] slaff commented on #1451
I narrowed down the problem to the following code:
[code]

Expected output: [/path/to].
Actual output: [(null)]

Which is not correct and might break the code in multiple places.
@mikee47 when you have time please submit a fix for this issue.

[2018-10-01 20:16] mikee47 commented on #1451
@slaff That is weird. I tested it with:
[code]

And it's fine.

[2018-10-01 20:36] mikee47 commented on #1451
Fix is in WString.cpp, swap lines 279 & 280 to read:
[code]

I'll review the rest of it see if there are any similar conditions then submit a PR.

[2018-10-01 20:37] mikee47 commented on #1451
diff --git a/Sming/Wiring/WString.cpp b/Sming/Wiring/WString.cpp
index 6a87294f..c6e5e873 100644
--- a/Sming/Wiring/WString.cpp
+++ b/Sming/Wiring/WString.cpp
@@ -276,8 +276,8 @@ bool String::concat(const String &s)
 bool String::concat(const char *cstr, unsigned int length)
 {
   unsigned int newlen = len + length;
-  if (!cstr) return false;
   if (length == 0) return true;
+  if (!cstr) return

[2018-10-02 09:02] mikee47 commented on #1451
Another thing, which may be of concern. As an example, consider:
[code]
If any of the allocations in the expression fail, then the result, tmp, should be an invalid string. However, with the changes I made this will not happen and the result will be unpredictable.

Thoughts?

[2018-10-02 09:44] slaff commented on #1451
Unpredictable results is bad and is completely negating any good results of not setting initially the string to be "" instead of nullptr.  Especially for a class that is one of the most used core classes.

Mike can you make another PR, alongside the current PR #1452, where you change the code so that a new String object has always "" instead of nullptr + change accordingly concat and the other met

[2018-10-02 10:10] mikee47 commented on #1451
That's unpredictable in the event of heap allocation failure - #969 addresses this in a wider context.
With the original unmodified version of String, the result would be empty strings being used, which I guess is a little more predictable, though still undesirable, but still requires the caller to check that a String is valid before using it; I cannot recall seeing that done anywhere.

@slaff I c

[2018-10-02 14:43] lrodorigo commented on #1449
Simply writing a program that waits for NTP sync before starting to work
(eg. a led blinks in the callback of the NTP sync) .

Disconnect your router from the internet, power on the ESP, re-connect your
router to internet and check if the timeout timer fires and then the sync
callback is invoked.

Thanks

Il giorno lun 1 ott 2018 alle ore 09:41 slaff <notifications@github.com> ha
scritto:

--

*Lu

[2018-10-02 15:36] slaff commented on #1451
@mikee47 Can you rephrase and add

`If any of the allocations in the expression fail, then the result, tmp, should be an invalid string. However, with the changes I made this will not happen and the result will be unpredictable.`

as comment in the code of PR #1452 that mentions this unlikely-but-possible situation.

[2018-10-02 21:15] zdebel opened #1453 "Building in linux"
Tried building sming in linux because I didn't have good experience with the framework on windows (had to go the manual route, keep getting crashes on samples when I restart the board). This is what I've got:
`CC system/flashmem.c
In file included from include/user_config.h:33:0,
                 from system/flashmem.h:11,
                 from system/flashmem.c:1:
system/include/esp_systemapi.h:4

[2018-10-03 06:10] #1451 closed

[2018-10-03 16:58] slaff commented on #1453
Can you output your ESP_HOME and SMING_HOME env. variables?
[code]

[2018-10-03 18:59] zdebel commented on #1453
`zdebel@DESKTOP-85KGDT2:~$ echo $SMING_HOME
/opt/Sming/Sming
zdebel@DESKTOP-85KGDT2:~$ echo $ESP_HOME
`/opt/esp-open-sdk`

I was following https://github.com/SmingHub/Sming/wiki/Linux-Quickstart

Browsing through various issues I managed to find info that when building esp-open-sdk I had to use the 2.0.0 version and indeed it helped with this issue. Going through the examples, all seem to work pro

[2018-10-03 22:01] frankdownunder opened #1454 "max macro - compiler errors"
My source file has 4 lines:
[code]
It doesnt build.

Errors are:

In file included from /mnt/c/opt/esp-open-sdk/xtensa-lx106-elf/xtensa-lx106-elf/include/c++/4.8.5/bits/stl_algo.h:60:0,
                 from /mnt/c/opt/esp-open-sdk/xtensa-lx106-elf/xtensa-lx106-elf/include/c++/4.8.5/algorithm:62,
                 from app/temperatureDS18B20.cpp:12:
/mnt/c/opt/esp-open-sdk/xtensa-lx106-elf/xtensa-l

[2018-10-03 22:13] frankdownunder commented on #1454
Workaround is to rearrange the headers and to undefine the max and min macros
[code]

[2018-10-04 06:56] slaff commented on #1453
If the issue is solved can you please close it?

[2018-10-04 08:34] zdebel commented on #1453
No problem, although I think a doc update would be needed so people don't have this issue in the future.

[2018-10-04 08:34] #1453 closed

[2018-10-04 08:52] slaff commented on #1453
Thanks for noticing this.  I have added the following text changes: https://github.com/SmingHub/Sming/wiki/Linux-Quickstart/_compare/21a88a0d35050bffb2b4aa47878819fb52326546...b3e4f910b6b169e2894e1a92c53bbdd6a36567ca

[2018-10-04 13:11] mikee47 commented on #1454
@frankdownunder could you see if the PR fixes your issue?

[2018-10-05 02:11] frankdownunder commented on #1454
I would try it out but I couldnt find the code - have you done a push?
The latest commit on https://github.com/mikee47/Sming was a lot earlier than the commit referenced above

[2018-10-05 06:54] mikee47 commented on #1454
Sorry, I'm a bit clumsy with git still! I removed that branch and created a new one for the PR - hopefully you've found it.

[2018-10-05 14:37] #1454 closed

[2018-10-07 07:43] Informatic opened #1464 "TcpServer in TLS mode leaks memory"
Hey!

Every connection to TcpServer running in SSL/TLS mode seems to leak approximately 7344 bytes of memory.

I've looked around, and it seems like `TcpConnection::closeSsl` only frees `sslContext`, which seems to be a `nullptr` when `TcpConnection` is instantiated from `TcpServer`. Adding `ssl_free(ssl);` in `TcpConnection::closeSsl` seems to reduce leaking to less than 100 bytes per request, th

[2018-10-07 08:29] slaff commented on #1464
@Informatic TcpServer running in SSL/TLS mode is not officially supported. In server mode the server keeps SSL session data to allow SSL session resumption (https://github.com/SmingHub/Sming/blob/develop/Sming/SmingCore/Network/TcpServer.cpp#L99). Thus it may seem that it leaks memory.  Also the heap consumption will go up and down after some seconds or minutes down due to the TCP stack.
With that

[2018-10-07 09:00] Informatic commented on #1464
Ah, this makes sense. So far the issue was that even that minimal TcpServer in SSL/TLS just crashed after 5 requests. I'll check if changing `sslSessionCacheSize` works for me later today.

[2018-10-07 19:34] frankdownunder opened #1465 "error: 'unhex' redeclared"
third-party/http-parser/http_parser.c:230:21: error: 'unhex' redeclared as different kind of symbol
 static const int8_t unhex[256] PROGMEM_L32 =
                     ^
In file included from system/include/esp_systemapi.h:23:0,
                 from include/user_config.h:33,
                 from third-party/http-parser/http_parser.c:23:
system/include/stringutil.h:47:27: note: previous definition

[2018-10-07 19:56] mikee47 commented on #1465
http parser needs re-patching. Delete third-party/http_parser then make should pull it back in and apply the new patch.

[2018-10-08 07:18] mikee47 commented on #969
How about raising exception on allocation failures? It would highlight such failures and, if not caught, reset so behaviour would be predictable...

[2018-10-08 07:55] slaff commented on #1465
@frankdownunder Make dist-clean or delete the  `third-party/http_parser` directory.

[code]

or as @mikee47 suggested just delete the `third-party/http_parser` directory and the new patch will be applied correctly.

[2018-10-08 08:05] slaff commented on #1173
Fixed with the merge of PR #1459.

[2018-10-08 08:05] #1173 closed

[2018-10-08 08:07] #1066 closed

[2018-10-08 21:59] slaff commented on #1439
With the new commits this branch of Sming (https://github.com/slaff/Sming/tree/update/sdk-3.0) adds support for SDK 3.0 for rBoot applications. So far all rBoot samples seem to work as expected.

[2018-10-09 07:40] #1465 closed

[2018-10-09 10:50] slaff commented on #1133
We will not support Esspressif's NON-OS SDK versions >= 2.1 and < 3.0. Once this #1470 is merged we will add support for SDK 3.0.

[2018-10-09 10:50] #1133 closed

[2018-10-09 12:57] Vinimuller commented on #1317
I was wondering the same thing yesterday, does anyone has an answer?

[2018-10-09 13:45] mikee47 commented on #1317
There may be a better explanation elsewhere, but here's my take on things.

It's probably easiest to look at an example, so let's go with Samples/Basic_Blink. If you take  a look in application.cpp, this is all there is:

[code]

So what's happening? Well, the whole show is actually run by the _ESP8266 Non-OS SDK_, provided by _Espressif_ (Sming is a C++ framework built on top of that). The main '

[2018-10-10 09:59] slaff opened #1474 "Vote: Leave only rBoot Applications"
Having two flavour of applications - with rBoot and without a bootloader is adding extra complexity to the code and its maintenance. And with the new SDK 3.0.0 that becomes even more apparent.

We are thinking about deprecating non-rBoot applications in the upcoming release 3.7.0 and removing it completely in 3.8.0. But before we do this we would like to hear your voice. Make sure to vote in the p

[2018-10-10 21:14] kwis2 commented on #1474
Very good idea, but for beginner it is very hard to start with rBoot configuration. In my opinion there should be more working rBoot examples with different ESP modules.

[2018-10-11 16:33] slaff commented on #1449
@lrodorigo Can you test PR #1482?

[2018-10-11 22:13] mikee47 commented on #1449
The PR doesn't address this particular issue (I wrote it a couple of months ago). Taking another look, it's hard to see exactly what's going on with 3 timers so I ditched two of them and added some debug statements. (Note that all the timers invoked `requestTime` anyway). Now I can see what's going on you had the right idea @lrodorigo, the latest commit should fix the problem. Let us know how you

[2018-10-12 08:32] slaff commented on #1449
@lrodorigo can you check PR #1482 ? I am waiting for your results in order to merge the PR.

[2018-10-12 08:43] #1439 closed

[2018-10-22 10:42] slaff opened #1501 "Notice: Recheck your PRs"
<strike>GitHub seems to have [problems](https://developers.slashdot.org/story/18/10/22/0437245/githubs-website-remains-broken-after-a-data-storage-system-failed-earlier-today)</strike>

GitHub seems to be stable again. Check your latest PRs if all the committed changes are in there. If something is missing make sure to `push -f` the changes to the GitHub server.

[2018-10-22 19:36] slaff commented on #1501
@mikee47 the GitHub servers seem to be stable again. Can you try again to send the latest changes to your PRs and/or re-build again Travis and Appveyor builds?

[2018-10-22 20:00] mikee47 commented on #1501
@slaff I've pushed a change to #1498. I've only got Travis set up on my fork and it's failing to start.

[2018-10-22 21:05] mikee47 commented on #1501
Looks like Travis is working again, bless him :-)

[2018-10-23 07:11] #1501 closed

[2018-10-27 00:43] Morbden commented on #1416
https://github.com/SmingHub/Sming/issues/1324#issue-296067050

This is the solution to the FIN error. But it should be correct already in the release.

[2018-11-06 14:31] ematt opened #1517 "Serial.commandProcessing(true) has no effect"
Hi,

There is a strange bug that prevents the commandHandler to get any character from Serial unless Serial.setCallback(nullptr); is called.

[code]

[2018-11-07 08:34] #1416 closed

[2018-11-07 08:38] #1293 closed

[2018-11-07 08:39] #1317 closed

[2018-11-07 08:39] #1245 closed

[2018-11-07 08:40] #1430 closed

[2018-11-07 08:40] slaff commented on #1517
@mikee47 Can you take a look at this issue?

[2018-11-13 06:16] Evgsurf opened #1518 "Faild to run project"
Hello,
I found my dream! ESP8266 with C++!
But, I can't run any project from samples :(

I use UBUNTU 18.04 64bit.
I have installed esp-open-sdk, and I were able to build, flash and run projects.

So, I clone Sming and try to run Blink project. (some problems with compilation, but "issues" helped me)
I have 3 modules esp8266 and no one starts ...

Try Blink ...

Big NODEMCU
![p81113-090610](https:

[2018-11-13 07:43] mikee47 commented on #1518
Try adding these lines to the project's `Makefile-user.mk` file:

[code]

These work for me with my NodeMCU. The crucial one is `SPI_SIZE` which I suspect is causing your problems.

[2018-11-13 08:09] mikee47 commented on #1517
I've been unable to replicate this problem, using the current `Develop` branch.
Tested by pasting the above code into the `CommandProcessing_Debug` sample and it works as expected.
Also, looking at the code I can see no reason why `setCallback(nullptr)` would have the indicated effect.

Can you elaborate at all?

[2018-11-13 08:58] Evgsurf commented on #1518
Thank you very much! All three board started.
Whith some trash
[code]
, but started. I can try more now.

[2018-11-13 08:58] #1518 closed

[2018-11-13 09:06] mikee47 commented on #1518
Add `COM_SPEED_SERIAL = 74880` will get rid of the trash...

[2018-11-13 11:46] petrynchyn opened #1520 "problem with OTA in Basic_rBoot"
I have problem with OTA in sample Basic_rBoot, please check someone this example in yourself.

[code]

[2018-11-13 12:02] Evgsurf commented on #1518
No luck

[2018-11-13 17:47] mikee47 commented on #1518
Oh, OK. I get trash too, funny I hadn't noticed that before!

[2018-11-14 06:10] Evgsurf opened #1521 "Folder SmingHub/Sming/tree/develop/samples/HttpClient/include/ssl"
Hello, i am learning this project and looks like folder SSL  is not necessary in HttpClient sample.
It is no where included ....

[2018-11-14 08:09] kwis2 commented on #1426
I think it is high time to verify quickstart manual. It is very hard to start with Sming because of small mistakes in quickstart.
Linux:
First of all question which version of esp-open-sdk should be preferred. For now it is `VENDOR_SDK=1.5.4` isn't it high time to switch to 2.0.0, especially because of known WiFi bugs?
in Linux quickstart there are minor bugs, please verify if am I right:
Set ENV

[2018-11-15 07:08] Evgsurf opened #1523 "HttpServer_WebSocket sample and broadcast before server.shutdown()"
Hello.

I build and run HttpServer_WebSocket sample.
I changed index.html code and add text field and button to send data to server
This code added before output div
`<div><input id='sendtext'><input type="button" id="disconnect" onclick="doSend(document.getElementById('sendtext').value)" value="Send"/></div>
`
So, when I open serveral session (different tabs in browser) server sends messages to e

[2018-11-15 07:21] mikee47 commented on #1523
Sounds probable that the HTTP server is getting shut down before all messages can be sent. Try commenting out line 58 `server.shutdown();` to see if that fixes it. It would be better anyway to call `server.shutdown()` using a timer to delay by a few seconds.

[2018-11-15 08:15] slaff commented on #1426
@mikee47 The release is scheduled for the end of the week. Do you have anything small to add or all new goodies will be for the next release?

[2018-11-15 08:42] mikee47 commented on #1523
Try replacing `server.shutdown();` with this:
[code]

[2018-11-15 08:50] Evgsurf commented on #1523
Of couse it does work correctly!
But hardcode 3 secs is not very good by me.

I guess, it will better to user another way

[code]

[2018-11-16 08:43] mikee47 commented on #1426
@slaff That's it from me for this release

[2018-11-16 20:04] dpechman commented on #692
Is this sample running ok if compiled with Sming 3.6.1? For me it is exploding...

Connecting...
Running Cesanta flasher stub...
Flash params set to 0x0000
Writing 28672 @ 0x0... 28672 (100 %)
Wrote 28672 bytes at 0x0 in 2.5 seconds (90.7 kbit/s)...
Writing 196608 @ 0x7000... 196608 (100 %)
Wrote 196608 bytes at 0x7000 in 17.3 seconds (90.9 kbit/s)...
Leaving...
python -m serial.tools.miniterm /de

[2018-11-17 20:34] #1426 closed

[2018-11-17 20:35] slaff opened #1524 "*** Preparation for Release 3.7.1 ***"
This issue is created to collect all the tasks we need to do before the 3.7.1.

### Source Code
- [ ] Update Sming/SmingCore/SmingCore.h
- [ ] Update Readme.md
- [ ] Merge develop into master
- [ ] Tag the source code in the master branch

# Refactoring

All PRs scheduled for this release can be seen from [here](https://github.com/SmingHub/Sming/milestone/19)

[2018-11-17 20:36] #1517 closed

[2018-11-18 00:53] kwis2 opened #1525 "Windows install problem Sming 3.7.0"
As noticed in #1426 in Windows 7 64 bit, in new 3.7.0 version there is still problem with Sming install.
I have updated Sming with `choco install sming -y -force -source 'https://www.myget.org/F/sming/'` and tried to make. as result I received

and

any solution?

[2018-11-19 11:07] slaff commented on #1525
@kwis2 Rerun the make command with V=1
[code]

[2018-11-19 11:08] slaff commented on #1464
@Informatic I will close the ticket for now. If you have more information the feel free to post it in the ticket and to reopen it, if needed.

[2018-11-19 11:08] #1464 closed

[2018-11-19 11:10] slaff commented on #1366
The SSL library that we use, axTLS has pretty limited, but well tested and fast, set of ciphers.  I am thinking about testing BearSSL and see how it behaves.

[2018-11-19 11:11] #1347 closed

[2018-11-19 11:18] slaff commented on #1256
@aparaske I will close the ticket due to inactivity. If you still need help feel free to reopen it.

Just to summarize:
- There are initial messages coming from the ROM bootloader that cannot be silenced. BUT you can instruct the external microcontroller to wait for X milliseconds before starting to read data from UART0.
- There are messages coming from rBoot that can be silenced with RBOOT_SILENT

[2018-11-19 11:18] #1256 closed

[2018-11-19 11:18] #1242 closed

[2018-11-19 11:19] #1230 closed

[2018-11-19 11:20] #1029 closed

[2018-11-19 13:48] kwis2 commented on #1525
[code]

[2018-11-19 13:56] slaff commented on #1525
Hm.. I don't see the actual error that gcc reported?! Is `system/m_printf.cpp` the only file does not compile? Can you paste the output from the command below?
[code]

Is that directory existing `/c/Espressif/ESP8266_SDK/include` ? If yes, what is the version of the SDK that you have in there?

[2018-11-19 15:51] kwis2 commented on #1525
Sming make failed with system pop-up titled `cc1plus.exe` nad message (in translation) `cc1plus.exe has stoped working`, With `search soution online` and `close program` so in log there is no message.

all dirs look ok. I asked google and there is problem with stack or so...

[2018-11-19 19:58] slaff commented on #1525
I can confirm the issue. The issue is caused when the compiler tries to use <algorithm>. But that fact that it builds on our CI system means that either we don't have the right compiler or there are some missing environment variables. When I have more time I will try to see how to solve this on Windows.

[2018-11-20 05:01] Evgsurf opened #1527 "AtClient sample"
Hello, is some sample for ATClient ? I did not find .

[2018-11-20 08:07] slaff commented on #1525
@mikee47 Were you also using Windows for development? Are you experiencing the same problem as reported above?

[2018-11-20 08:17] mikee47 commented on #1525
@slaff Yes, but manually installed... Haven't mucked about with Choco

[2018-11-20 08:36] riban-bw opened #1528 "Building Sming 3.7.0 gives fatal error (but continues building)"
Running make dist-clean on a fresh git clone of Sming 3.7.0 using Cygwin-32 on Windows 7 I get an error message:

This error also occurs several times whilst building sample projects.

It seems harmless but should be corrected.

[2018-11-20 10:43] slaff commented on #1527
There is no AtClient sample but you are free to add one. From other projects I can give you the following code (incomplete) samples
[code]

I have a PhotoBooth project which is gathering dust for quite some time. When I find the time I can try to revive it and add it here as a sample or as an application based on Sming Framework,

[2018-11-20 14:19] Evgsurf commented on #1527
@slaff BTW your code is not Sming, because AtCommand struct has not field callback and name ...

[2018-11-20 14:40] Evgsurf commented on #1527
@slaff The world has not any warranty!
I try to modify code, but looks like my mode neoway 590 is die.
I need to get new one ....

[2018-11-20 18:19] riban-bw opened #1529 "Setting two roms fails to build"
Adding

to makefile results in build failure:

[2018-11-20 22:26] riban-bw opened #1530 "Feature request: Makefile target to flash just the application firmware image"
Each time the "flash" target is called it creates and flashes the boot loader, application and file system. It would be advantageous to allow these to be flashed individually, e.g. when making a small change the the application it is irksome to flash the whole SPIFFS file system, especially if the file system contains user data altered since the last flash operation.

[2018-11-21 04:50] rickyitexpert opened #1531 "spiffs file system behaving abnormal"
1. spiffs file system files get corrupted from first boot after firmware flashing.
            * some files missing
            * some files corrupted
2. Deleting, adding files via ftp in spiffs result in esp reset.(considering the above issue its doesn't seems to be ftp issue instead something related to spiffs).

[2018-11-21 04:51] rickyitexpert commented on #1529
same here

[2018-11-21 04:53] rickyitexpert commented on #1530
I was also thinking the same. It will cut down flashing, debugging , code testing significantly.
my spiffs is almost 1.25 bigger than original firmware. Flashing takes significant share about 60% time of my firmware development. this feature would reduce it to around 45%.

[2018-11-21 06:39] riban-bw commented on #1530
A workaround may be to manually disable SPIFFS in the local makefile (DISABLE_SPIFFS = 1) after first uploading the SPIFFS image. Another workaround is to set DISABLE_SPIFFS=1 as a parameter to make, e.g.

I haven't checked whether this has other impact, e.g. making file system unavailable to application.
I have just observed that the application seems to start running before the SPIFFS is flashed

[2018-11-21 08:29] slaff commented on #1520
@petrynchyn I see some problems in the areas that are allocated for the ROMS and the actual location where they are downloaded. Can you check with
[code]

And see if it works for you. The last command `make flashconfig` takes care to reset the rboot configuration so that a correct one will be generated on the next boot.

[2018-11-22 13:19] Evgsurf opened #1532 "Class TwoWire ON methods"
Hello.

I test I2C functionality. I use class TwoWires and Wire object (like in example)
For first look it is ok.

for exaple following code is ok.
[code]

I do not like following style

[code]
It will block processor until I2C process is not done by while cycle.

I look file Wire.hpp & Wire.cpp where TwoWire class is defined and found methods
**onReceiveService
onRequestService
onReceive
onReques

[2018-11-23 18:04] #1530 closed

[2018-11-24 23:17] riban-bw opened #1534 "FTP not accessing file system for some ftp clients"
I have enabled FTPServer and can connect from a Linux ftp client. Commands such as 'ls' work fine. If I connect from a Windows or Cygwin ftp client the the connection seems to establish (username and password are requested then welcome message displayed). I can type 'help' and get the help message and type some other commands but file system commands such as 'ls' or 'put' show

then just hang.

[2018-11-25 22:40] riban-bw opened #1535 "Default NTP query interval to short"
The default NTP query interval is set to 30 seconds which puts a load on the NTP server which may lead to requests being blocked. (Some NTP servers block requests from clients that exceed certain limits. 30s seems a rather short default period. Should it be longer, like 3600 (one hour)?

[2018-11-25 23:27] riban-bw opened #1536 "Feature request: Make target that builds and launches web server for rboot OTA"
It would be advantageous to be able to launch a web server to serve rBoot OTA images. I have tweaked my makefile thus:

[code]

[2018-11-26 06:12] petrynchyn commented on #1520
result is similar, I will try later on another ESP module

[2018-11-26 08:38] slaff commented on #1535
Can you provide us with a document stating the best time for auto-refresh? Then we can quite easily change the default settings.

[2018-11-26 08:40] slaff commented on #1536
It might seem like a good idea only for testing purposes. Is that what you mean?

[2018-11-26 08:42] slaff commented on #1534
@riban-bw You should try to use passive mode and check. Also if the problem is still there, please, describe the steps to repeat it.

[2018-11-26 08:43] slaff commented on #1532
This seems like a good opportunity for you to add it and submit a PR so we can review it.

[2018-11-26 08:49] etmmahi commented on #1520
Unfortunately I see the Basic_rBoot OTA also failing, even with the make flashconfig

[2018-11-26 09:52] riban-bw commented on #1535
Actually, I seem to remember we looked at this a couple of years ago and thought it would be sensible to have a fairly fast poll to start with and to reduce the poll rate once connected to allow NTP client to be updated promptly on start-up. Each user can do this by adding

to their ntp callback.
It may be advantageous to allow the ntp client polling to be started and stopped which may allow us to

[2018-11-26 09:52] #1535 closed

[2018-11-26 09:54] riban-bw commented on #1536
Yes - absolutely. Whilst iterating through the design and build stages it is handy to be able to flash the rebuild firmware to the ESP8266 module. If this is done with otaRboot then we need a web server to serve the image. One could just run this all the time or at the start of each session but this idea might be neat.

[2018-11-26 10:14] petrynchyn commented on #1520
Problems begin at the stage of establishing a connection with WiFi. I can connect to WiFi only after flash  sample Basic_WiFi and after connecting with WiFi i flash Basic_rBoot

[code]

[2018-11-26 10:50] slaff commented on #1536
@riban-bw Please, take a look at PR #1537.

[2018-11-26 14:55] riban-bw commented on #1534
I have just tried on a different Windows 10 machine and after it asked to set firewall rules it worked so it may be some security constraints on the Windows 7 machine that I am using.

[2018-11-26 14:55] #1534 closed

[2018-11-26 17:31] #1536 closed

[2018-11-26 20:41] #1528 closed

[2018-12-02 11:11] riban-bw opened #1541 "Building libsming from git clone gives repeated error: error: unrecognized input"
Clone sming from github and build library:

cd Sming
export SMING_HOME=$PWD/Sming
export ESP_HOME=PATH_TO_ESP_TOOLKIT
make -C $SMING_HOME dist-clean
make -C $SMING_HOME

Error messages in build output:

Fetching Arduino Library Libraries/Adafruit_BME280_Library/ ...
Submodule 'Sming/Libraries/Adafruit_BME280_Library' (https://github.com/adafruit/Adafruit_BME280_Library.git) registered for path 'Li

[2018-12-02 13:43] riban-bw opened #1542 "GDB build not working"
Using libsming complied with ENABLE_GDB is failing with wdt reset on Windows 7 using cygwin32.

[2018-12-02 15:01] Vinimuller commented on #1542
Same error on Ubuntu

[2018-12-02 19:39] riban-bw commented on #1542
I observe that Makefile-rboot.mk has uses $(THIRD_PARTY_DIR)/gdbstub which does not exist. There is $SMING_HOME/third-party/esp-gdbstub and $SMING_HOME/gdb.

Changing Makefile-rboot.mk to use $(THIRD_PARTY_DIR)/esp-gdbstub does not help on cygwin.

[2018-12-04 08:38] slaff commented on #1541
We could suppress all errors coming from `git-apply` but unfortunately also our verbose progress information will also be hidden. I would prefer to leave it as it is at the moment.

[2018-12-04 08:38] #1541 closed

[2018-12-04 08:55] slaff commented on #1542
That is probably a bug. When I have time I will take a look at it.

[2018-12-05 13:57] riban-bw commented on #1542
Basic_Debug example fails to run because HardwareTimer fails (I will investigate and report as separate issue if required.) Changing the example to use Timer allows me to build and run the example successfully if I disable GDB.
Changing Makefile-rboot.mk to use either esp-gdbstub or gdb and comiling sample with ENABLE_GDB=1 still runs if used with a non GDB enabled libsming.
Compiling libsming wit

[2018-12-06 21:20] slaff commented on #1542
I have fixed the compilation, in PR #1544, but also hit the WDT reset issue that you have stumbled upon.
As a bonus I can see a bit more information about the SDK version and the phy version. For example the following showed:
[code]

But why the WDT is happening will require time and investigation which I don't have at the moment, but others are free to analyze and fix.

The esp-gdbstub is very un

[2018-12-07 08:20] riban-bw commented on #1542
I am using PR #1544 and can now see what you are seeing using the ctrl+c trick.

I don't understand what you suggest. Are you using the host machine to run the code or are you still running it on the target ESP8266 module? What I need to do is figure out why the ESP8266 fails to run almost everything I write (well, anything that does anything useful) which is why I want to get debug working.
Thank

[2018-12-07 12:57] slaff opened #1545 "Refactoring of DateTime"
The following refactoring changes should be done:
- Move DateTime from Services to SmingCore.
- Rename the old methods according to the rules above.
- In the DateTime.h header added the old methods that should redirect to the new ones, plus mark them as deprecated.
Example:

[code]

[2018-12-08 12:02] riban-bw commented on #1542
Defining

allows the application to flow through to the first breakpoint (within gdbstub_init due to GDBSTUB_BREAK_ON_INIT 1). You can then set a breakpoint in app init, e.g.

then continue. GDB will then continue until the init breakpoint. Can then step forward with 'n'.
Setting a breakpoint at "blink" fails though. Yet to figure that out but I do have a working gdb now!

This may be because GDBS

[2018-12-08 20:16] slaff commented on #1542
Wonderful! @riban-bw Thanks for finding this out. I can debug again Live from the device in Eclipse :).
![image](https://user-images.githubusercontent.com/247452/49690260-18ec3200-fb2e-11e8-9e6e-0a84c0a5d4b2.png)

The fixes will arrive soon and the PR will be merged once the CI system approves it.

[2018-12-08 21:17] #1542 closed

[2018-12-08 21:47] riban-bw commented on #1542
This still isn't fully working. gdb will break before running user_init and then step through init but then fails after leaving init. It seems to get to the first blink timer callback then resets. I have only once been able to step through the timer callback but don't know how I managed to get there. Possibly related to gdbstub waiting for input or interrupt whilst interrupts are disabled and gdb

[2018-12-09 09:18] riban-bw opened #1547 "gdbstub (not esp-gdbstub) inappropriately named"
There is a third-party provided module called, "esp-gdbstub" which implements and interface with gdb debugger. There is also a module called, "gdb" which seems to catch exceptions and print some debug info to serial but does not implement a gdb interface. Naming this "gdb" and describing it within source code as, "A stub to make the ESP8266 debuggable by GDB over the serial port." is misleading an

[2018-12-09 10:01] riban-bw commented on #1542
It seems that gdb debugging is unreliable if performed too quickly. I am now able to add setpoints to timer callback which mostly works but if I press 'c <enter>' too quickly (like more than once per second) then gdb does not show then next breakpoint or the app crashes / restarts. Also, now that we have disabled ctrl+c there is no way to recover from a "continue" with no more breakpoints, i.e. th

[2018-12-09 11:30] riban-bw commented on #1545
As discussed, you can allocate this to me if you want. I will pick it up over the next couple of weeks.

[2018-12-09 11:49] riban-bw opened #1548 "Serial output does not appear in gdb"
Running a gdb session with libsming compiled with ENABLE_GDB=1 the output from Serial.println() does not appear. Changing GDBSTUB_REDIRECT_CONSOLE_OUTPUT has no effect and using "tty /dev/pty0" in gdb does not work. (tty should direct program output to the specified tty.)

[2018-12-10 08:30] riban-bw commented on #1545
Related to #1540.

[2018-12-10 08:49] riban-bw commented on #1545
@slaff suggested adding:

format(const String& format), e.g.
[code]
I wonder whether something more like strftime would be better, e.g.
[code]
If so, we may want to limit the implementation or add pre-processor conditional compilation blocks to avoid bloat.

I have done the refactoring (PR imminent) and will work up a strftime style _format_ function for review.

[2018-12-10 08:53] slaff commented on #1545
Better not for the moment.

[2018-12-10 08:59] slaff commented on #1547
`stack_dumper` is probably a better name. But I am open to suggestions. Stack dumper should be activated only in non-RELEASE mode.

`crash_handler` is something that is allowing user-based code to be executed after an exception was raised and do some minimal operations like save it to flash memory or just increase a number. the latter could be used in RELEASE and non-RELEASE mode.

[2018-12-10 13:20] mikeg197 commented on #1520
Ive got the same problem. Did you found any fix for this?

RBOOT_ENABLED ?= 1
RBOOT_BIG_FLASH ?= 1
SPI_SIZE        ?= 4M
SPIFF_SIZE      ?= 65536

[code]

[2018-12-12 13:06] riban-bw opened #1551 "Feature request: Track library size"
It may be advantageous to monitor the size of the library to track how it grows (or shrinks) based on commits. This may help to avoid bloat and identify areas that may be optimised.
@slaff suggested: Looking for a (free web) service where we can send the data and it will generated the needed graphs for us. It is good to see how data size, free heap size and code size vary.

[2018-12-12 19:54] Ph3r0x opened #1552 "Basic_rBoot rom 2 wont start"
Hello everyone,

im struggling with the Basic_rBoot sample. I want to switch between 2 roms in the flash without spiffs on a 4MB flash. Im building the first rom (rom0.bin) with following Makefile settings:

[code]
and following rom0.ld:

`  irom0_0_seg :                         org = 0x40202010, len = (1M - 0x2010)
`

i added two lines to the init method:
[code]

make output:

[code]

after the m

[2018-12-14 23:58] riban-bw opened #1553 "Several coding style errors"
Running `make cs` updates several files. These should be corrected and committed to avoid interfering with other PRs.

[2018-12-15 15:58] riban-bw commented on #1553
It seems that Travis-CI is configured to fail code style checks for SDK 2 for Sming that has been validated with `make cs`.

[2018-12-16 00:25] tius2000 opened #1555 "HttpServer: getBody() empty for Ajax calls?"
Sorry if this is a FAQ. In the past I used getBody() on the HttpRequest parameter within my HttpPathDelegate callbacks to process the json data posted from Ajax calls. However, getBody() seems to return an empty string always for those requests. Has the interface of HttpRequest changed?

[2018-12-16 00:49] tius2000 commented on #1555
Solved using `setBodyParser("application/json", bodyToStringParser);

See also #1236.

[2018-12-16 00:49] #1555 closed

[2018-12-16 22:53] riban-bw opened #1556 "MQTT sample has wrong protocol id"
The MqttClient_Hello sample has three example URLs, each starting with "mttq" but they should start with "mqtt".

[2018-12-17 08:31] #1556 closed

[2018-12-17 09:01] #1545 closed

[2018-12-17 12:10] slaff commented on #1553
No,  the coding style check is done only for one of the 3 builds, just because the source code does not change, and at the moment we use SDK 2.0 to be the one. But the current coding style is ok. Somehow you clang-format version is breaking it.

[2018-12-17 12:10] #1553 closed

[2018-12-18 07:05] #1223 closed

[2018-12-21 20:33] ematt opened #1559 "cmath not compilable after upgrade"
Hello,

I had a working setup until I have decided to upgrade to 3.7.0. There seems to be a problem related to the cmath header that prevents my application code to compile.

### Expectation
The application code should compile without errors

### Problem
The application code does not compile

### Update process:
1. `cd $ESP_HOME`
2. Update esp-open-sdk as stated in the [documentaion](https://githu

[2018-12-23 01:32] rickyitexpert commented on #1531
using filename system_api.cpp/system_api.h and rfid.cpp/rfid.h in projects app folder result in webserver and ftpserver abnormal behaviour. Can't Confirm if its beacuse of spiffs or not.

[2018-12-23 10:19] uzi18 commented on #1531
what is your flash chip id?

[2018-12-23 20:42] kmihaylov opened #1560 "Servo sample wdt reset"
Hello. I'm trying to use the Servo driver, but I'm getting wdt reset.
I tried flashinit with no luck.
The only change in the Basic_Servo example I made is to put
`SPI_SIZE`        ?= 4M
in Makefile-user.mk

I'm using the develop branch, commit cc7af2263e41e24c12c047878c95f13489d5c81c
I'll be glad if someone tries to build the example in order to confirm whether the issue is dedicated to my build e

[2018-12-23 22:33] mikee47 commented on #1560
The sample does appear to be missing 'Serial.begin(SERIAL_BAUD_RATE);' at the start of `init()`, but not convinced that would case wdt resets...

[2018-12-23 23:06] kmihaylov commented on #1560
I'll try it tomorrow despite that I have the SERIAL_BAUD_RATE option in my project.

I'm seeing that the Servo driver uses HardwareTimer. Just tried Basic_HwPWM and it works. I set the frequency and period as per Servo's specs and I believe HwPWM can be a replacement option. I didn't test it with AP/Sta enabled, but I hope it works. Currently the duty cycle isn't precise much (I'm using the euqati

[2018-12-24 08:47] slaff commented on #1559
@ematt  In order to be able to help you you should provide a sample app where the problem is reproducible.

[2018-12-24 08:56] kmihaylov opened #1561 "HwPWM duty calculation"
I'm using the HwPWM to drive a servo motor.

Setting the frequency with
[code]
gives an excellent frequency of 50 Hz (20000 microseconds).
According to the NONOS reference the equation to calculate the maximum duty cycle is
[code]
So to get a 1 ms duty cycle the calculation should be duty*(period*1000/45)/period

1000*(20000*1000/45)/20000

This calculation doesn't give the expected duty. If i cha

[2018-12-25 21:47] destroyedlolo commented on #501
I'm working on the port of this library to unix SBC (like RaspberryPI, BananaPI, and all other *PIs) : see https://github.com/destroyedlolo/ArduiPi_OLED
I'm experiencing some issues with my Display turn off with 0xAE command but never tune on back with 0xAF one.
Do you think it can be solved with this 0xE4 command ? Where have I to add it ?
Thanks

[2018-12-26 09:14] slaff opened #1562 "Custom headers are not sent correctly"
Setting custom header results in invalid HTTP request.
[code]

![image](https://user-images.githubusercontent.com/247452/50440510-dcbf1c80-08f6-11e9-9429-d40f9519c2d0.png)

As can be seen from the snapshot above the header name is missing.

[2018-12-26 09:14] slaff commented on #1562
@mikee47 Can you take a look at that issue, please?

[2018-12-26 10:14] mikee47 commented on #1562
@slaff Just had a quick look, problem is with `HttpHeaders::setMultiple()` which needs over-riding. I'll submit a PR later today.

[2018-12-26 13:37] mikee47 commented on #1562
@slaff This should sort the problem, can you check?

[2018-12-26 15:08] #1562 closed

[2018-12-27 19:50] mikee47 commented on #1561
Does this help? It's the library Sming uses for HW PWM:
https://github.com/StefanBruens/ESP8266_new_pwm/

[2018-12-28 09:52] kmihaylov commented on #1561
Yes, it helps. Thank you. I'm closing the issue.

Although I knew that Sming uses different library I didn't notice the differences. Maybe I'll put some changes to the comments in HardwarePWM.cpp to make the function arguments more clear (for the auto-generated documentation) and prepare a PR.

All the best!

----
In Sming/third-party/pwm/README.md

SDK_PWM_PERIOD_COMPAT_MODE define to 1. If set,

[2018-12-28 09:52] #1561 closed

[2019-01-01 17:13] riban-bw opened #1564 "libSming v3.7 does not compile against SDK V3.0"
Attempts to build libSming 3.7 or current develop HEAD against SDK v3.0 fail:
[code]
results in
[code]
This is using cygwin 32 on Windows 7 Professional 64-bit. Same compilation steps against SDK v2.0 works fine.

[2019-01-02 13:52] etmmahi opened #1566 "Compile problem when SMING_RELEASE=1"
When compiling the SMING code base with SMING_RELEASE=1 the compiler will fail on crash_handler.c
Issue is fixed in pull request #1565

[2019-01-02 23:46] riban-bw commented on #1564
Setting SDK_BASE fixed this issue - cheers.

[2019-01-02 23:46] #1564 closed

[2019-01-05 16:21] verybadsoldier opened #1568 "espressif PWM not working on 3.7.0.1"
I am the maintainer of a firmware for an RGBWW Controller:
https://github.com/verybadsoldier/esp_rgbww_firmware

It currently runs on Sming 3.5.1 and is working fine. I am using espressif PWM (`ENABLE_CUSTOM_PWM = 0`).

Now I tried porting the firmware over to Sming 3.7.0.1 and experienced that the controller freezes every time on boot. Seems to be happening when calling `pwm_init`.

Same is happe

[2019-01-06 12:28] verybadsoldier opened #1569 "Problem with newpwm duty cycles in Basic_HwPWM"
This ticket is basically a successor to issue #1568.

As I had no luck using the SDK-PWM (as described in #1568) today I tried to use the CustomPWM (newpwm) instead as I learned it is the better implementation anyway.

After some problems using `newpwm` with my own firmware I tried the provided example `Basic_HwPWM` and I was experiencing the same problems also.

The problem is that on the PWM pin

[2019-01-06 14:53] mikee47 commented on #1569
With the new PWM library both duty and period are specified 200ns intervals. See #1561 for details.
Yes, ESP8266 is lacking in direct hardware support for this kind of thing; something like an AVR or PIC are arguably better for that kind of stuff and can be added as a co-processor. However, the ESP8266 PWM implementation uses the hardware timer hence the title. It does a pretty good job, consideri

[2019-01-06 15:41] verybadsoldier commented on #1569
Thanks for reply, but sorry, I can't get it to work.

The documentations (https://github.com/StefanBruens/ESP8266_new_pwm/) says:

I used the exact values and put them in `Basic_HwPWM`:
[code]
According to the docs it should give 10%, right? But I get 100% which is unexpected.

Also the docs say you get 100% from `5000` duty cycle or above so I think `5000` is duty cycle maximum. But `HardwarePWM:

[2019-01-06 16:02] mikee47 commented on #1569
OK, first things first. If #1568 is resolved could you maybe post a brief note to say how you fixed the issue, then close it?

[2019-01-06 16:10] verybadsoldier commented on #1569
#1568 is not resolved. I just tried use `newpwm` instead since it appeared to be the superior approach anyway.

[2019-01-06 16:20] mikee47 commented on #1569
`SDK_PWM_PERIOD_COMPAT_MODE` defaults to ON so period at 1us resolution, duty 40ns. For 1kHz use a period of 1000. To get 50% use duty=(1000 * 0.5 * 25)=12500. 10% duty = (1000 * 0.1 * 25) = 2500.

[2019-01-06 16:38] verybadsoldier commented on #1569
Sorry, still no luck. This does not give me `50%` and `10%` but both (again) still `100%`:
[code]
and
[code]

But now `HW_pwm::getMaxDuty` returns `25000` which seems correct!

[2019-01-06 16:55] mikee47 commented on #1569
Not sure what else to suggest. I've built the `Basic_HwPWM` sample with your mods. Output on pin 13, looks fine on 'scope.

[2019-01-06 17:34] verybadsoldier commented on #1569
Well, super strange then :( Thanks for taking the time though.

A working version for me was `3.5.1`. When i go to `Basic_HwPWM`, set `ENABLE_CUSTOM_PWM=0` and put pin `13` into the fading loop then I get this on the scope:
https://streamable.com/scnwo

Pretty much as expected.

[2019-01-06 17:36] verybadsoldier commented on #1568
Sadly the same:
[code]

So I guess this does not happen to you?

[2019-01-06 17:41] verybadsoldier commented on #1568
Hm, thinking about it: Let me add again that this is working fine on version `3.5.1` so I think it must really be something that changed inside Sming.

[2019-01-06 18:01] mikee47 commented on #1569
This is what I get https://streamable.com/lkmwp

Sample code modified so only pin 13 is being used. I'm building under Windows using Espressif SDK3.0.

[code]

[2019-01-06 18:15] mikee47 commented on #1569
If the sample doesn't work then there must be something either hardware-related or to do with your dev. setup.

[2019-01-06 20:33] mikee47 commented on #1568
I don't have any issues with watchdog resets. The `Basic_HwPWM` sample we're discussing in #1569 works using SDK PWM code, un-commenting the `ENABLE_CUSTOM_PWM=0` in `Makefile-user.mk`. However, the scope trace is glitchy https://streamable.com/ymjlh. Also, timing is wrong, but I'm not inclined to pursue this as we have new_pwm!

[2019-01-06 21:32] verybadsoldier opened #1570 "Recommended SDK? esp-open-sdk with SDK 2.0.0?"
I have a basic question:
Which is the recommended SDK you would propose for production use?

In current `esp-open-sdk` they default to SDK `2.1.0` but I get compile errors with that:
[code]

It compiles fine when setting SDK to `2.0.0`. So I conclude `2.1.0` is not supported.

As support for `3.0` is experimental currently I guess the recommended way is to use current `esp-open-sdk` and set SDK ve

[2019-01-06 21:52] mikee47 commented on #1570
I would definitely focus on SDK 3.0, keeping the codebase as current as possible. I don't see why it shouldn't be fit for 'production use', subject to your own pre-release testing of course!

[2019-01-07 12:17] slaff commented on #1570
The esp-open-sdk can be used just to build the compiler for you.  After that it would be best if you use SDK 3.0.0 and instruct Sming (as described in the [README](https://github.com/SmingHub/Sming/blob/develop/Readme.md)) to compile against it. The Sming build mechanism will do the needed patching and stitching.

[2019-01-07 13:47] verybadsoldier commented on #1570
Thanks, I got Sming compiling now with SDK 3.0.0. It failed for me with every other version when using SDK from `esp-open-sdk` expect for `2.0.0`.

Your comment was the missing hint for me (I am sure it is written somewhere but I could not find it):
`Sming` actually brings an embedded SDK (which is `3.0.0` in the directory `third-party`). If you want to use it then you have to set env variable `SD

[2019-01-08 18:53] Vinimuller commented on #1444
@slaff I'm trying to solve this again and turns out that you were right, I my certificate wasn't in DER format hehe, sorry for that.
Now I'm only getting the following message after running the connect function.

Any tips on that?

[2019-01-09 07:21] slaff commented on #1444
This is just a warning saying that you haven't set the actual time. If you want to do a full SSL validation you should have also set the time so that you can compare the time validity of the certificate that is sent to you.

[2019-01-09 10:34] Vinimuller commented on #1444
Ok, makes sense. So to do a full validation I should first initialize a ntp server and then call startMqttClient?
Something like this?

[2019-01-09 20:46] etmmahi commented on #1566
fixed via #1565

[2019-01-09 20:46] #1566 closed

[2019-01-12 19:58] #1570 closed

[2019-01-12 23:42] verybadsoldier commented on #1568
Working now for me, thanks for your support! The only SDK that worked in the end was the embedded `3.0.0` though.

[2019-01-12 23:42] #1568 closed

[2019-01-12 23:42] verybadsoldier commented on #1569
Working now for me, thanks for your support! The only SDK that worked in the end was the embedded `3.0.0` though.

[2019-01-12 23:42] #1569 closed

[2019-01-13 09:56] Informatic commented on #547
@verybadsoldier I don't think I am able to do it.

@slaff can we reopen this issue, considering I couldn't get it to work in the end, and @verybadsoldier still has the same issue? :)

[2019-01-13 11:06] verybadsoldier commented on #547
Yes, but I am using your fix from your original post. But I also cannot say if that is a proper way to achieve this. Big thanks for it though!

[2019-01-14 09:09] verybadsoldier opened #1573 "SDK RF Config & OTA Update"
One question please gentlemen:

The ESP has to be initialized with the RF configuration data which is specific to the used SDK, as far as I understand it (`make flashinit`).
So when switching SDKs (e.g. from `2.0.0` to `3.0.0`) this RF configuration data has to be updated in the device.

I assume that when using OTA update then this RF configuration is not updated accordingly (at least I would not

[2019-01-14 11:52] verybadsoldier commented on #1573
Ok thank you. But for now am I correct that switching SDK versions using OTA update is not supported and therefore this transition has to be done using the serial bootloader?

[2019-01-14 16:31] slaff commented on #1573
Yes, that is correct. I would say that it will most probably work if you have old RF and use it with apps compiled with SDK 1.5, 2.0 and 3.0 but there is no guarantee.

[2019-01-16 12:28] verybadsoldier opened #1574 "new_pwm: sporadical flashing/flickering"
I have been using the ESP-PWM for quite a while in this project (LED controller):
https://github.com/verybadsoldier/esp_rgbww_firmware

The PWM is in my opinion 100% smooth and stable as I did not notice any flaws in in the past.

Now I am in the process of upgrading to Sming 3.7.0, ESP SDK 3.0.0 and to use new_pwm instead of SDK-PWM.
It is working smoothly now but I noticed that the PWM produced

[2019-01-22 10:14] kmihaylov opened #1576 "Frequent mqtt publish eats heap"
Hello.

I have a problem that is probably related to String.

If the code is executed each second, the heap gets exhausted in few minutes. About a kB each few tens of seconds.

If the timer is increased to two seconds, then the heap stays at almost constant value (currently at 38856 for few minutes already).

I think that I saw somewhere through the issues a similar problem, but can't recall the t

[2019-01-22 12:24] Vinimuller commented on #1576
I have a similar problem but only when there is no internet. The getConnectionState function takes around 10 minutes to identify that the internet is down, so depending on the frequency that you publish your messages it will consume a lot of heap mem.

The upside of this is that when it identifies that there is no internet the heap memory is freed.

[2019-01-22 12:46] slaff commented on #1576
Sming is an async framework. The publishing of the message is not done immediately. If you push stuff into the internal buffer it will start to grow. Only when the TCP stack is ready to send data then part of that data will be delivered. And the buffer will decrease. If you fill the buffer faster then it is decreased (or emptied) then you will end up eating all available memory.

It would be proba

[2019-01-22 15:57] kmihaylov commented on #1576
What you mention makes sense, especially when I read about mqtt QoS levels.
Given that we are validating the connection state (mqtt.getConnectionState() == eTCS_Connected) is there any way to monitor the internal buffer (is it a lwip connection buffer, I mean to the specified host?)?

Also some ideas for tuning the TCP stack parameters? (Just for the record).

[2019-01-28 12:27] slaff opened #1581 "Preparation for Release 3.8.0"
This issue is created to collect all the tasks we need to do before the 3.8.0 release ( originally this was set to 3.7.2 but the improvements are so much that it's worth dedicating a new version to it ).

### Source Code
- [ ] Update Sming/SmingCore/SmingCore.h
- [ ] Update Readme.md
- [ ] Merge develop into master
- [ ] Tag the source code in the master branch

New features
------------
- Interce

[2019-01-28 21:02] q3k opened #1583 "{StationClass,AccessPointClass}::getMAC - undocumented change in behaviour"
https://github.com/SmingHub/Sming/commit/483f3bfb34bea8cf1247c73be016455673c0e42d changed the behaviour of the getMAC methods on `AccessPointClass` and `StationClass` - they now return a MAC address as `00:11:22:aa:bb:cc`, while previously they returned it as `001122aabbcc`. This is a sudden API change on the `master` branch, seemingly undocumented.

In my opinion, the behaviour change should be r

[2019-01-28 21:18] mikee47 commented on #1583
Agreed, have submitted a proposed solution.

[2019-01-28 23:07] fooker opened #1585 "flashinit fails with DISABLE_SPIFFS=1"
`make flashinit` should not try to write `blankfs.bin` if SPIFFS is disabled.

[2019-01-29 11:35] #1583 closed

[2019-01-29 11:38] slaff commented on #1583
@q3k Can you check if the fix is working for you? The updated code is **only** in the `develop` branch until we release a new version.

[2019-01-31 20:47] juppin opened #1590 "Windows install with choco fails on last step!"
Hello devs,

unfortunately the chocolate install of sming fails on windows...
I used this wiki entry: https://github.com/SmingHub/Sming/wiki/Windows-Quickstart
The failing step is "Build Sming Library".

[code]

I saw a similar issue in the past with old code and new gcc compilers...

What can be the problem? Any suggestions?
My favorite search provider didn´t helped that much... :-(

[2019-02-06 14:36] #1523 closed

[2019-02-07 11:38] Evgsurf commented on #1520
I have the same problem with Basic_rBoot.

before I used  "make flashinit" system was able to connect to WiFi, but did not download and update on "ota" commans (it just out "Updating...." send request to rom0.bin and nothing more (did not hungs, just nothing more))

now I have the same situation like wrote another guys ...

P.S. I can restore system for WiFi by flashing another sample (HttpServer_

[2019-02-07 12:17] Evgsurf opened #1602 "Basic_rBoot skip updating"
Hello.
What I did today
1. Install ubuntu 18.04 x64
2. Install esp-open-sdk
3. Install Sming
4. Install esptool
5. Install esptool2
6. Build Sming
7. Build&Flash&Test Basic_Blink
8. Build&Flash&Test HttpServer_AJAX
9. Build&Flash&Test HttpServer_WebSocket
there are no any problems at any steps
All samples were build with
SPI_MODE = dio
SPI_SIZE    = 4M
SPI_SPEED = 80

10. Build&Flash Basic_rBoot -

[2019-02-07 12:37] andr2000 commented on #1520
I traced it down to spi_flash_erase_sector which hangs and makes the WDT fire.
I also tried to erase the same sector that OTA wants right before enabling WiFi and it works ok...
My 12E module was externally powered with 2A power supply, so not sure if power is an issue here.
flash{init|config}, erasing, writing all 4MiB with 0xff didn't help either.
@anakod @raburton do you by chance have any inpu

[2019-02-07 15:58] etmmahi commented on #1520
Hi, I have already traced it down to the rboot library. The issue is that during the update of the flash sectors (erase or write) the interrupts (except flash interrupt) should be disabled. Maybe the faulty ISR do not have ICACHE_RAM_ATTR set and will crash because the flash is not accessible.

Updates to the file rboot-api.c (actually the patch files must be updated)

somewhere in the top of he f

[2019-02-07 16:02] etmmahi commented on #1520
diff version:

[code]

[2019-02-07 17:41] slaff commented on #1520
@petrynchyn @andr2000 @Ph3r0x @Evgsurf Guys, can you check the suggested change and report if it is working for you?

[2019-02-08 08:08] #1585 closed

[2019-02-08 13:36] petrynchyn commented on #1520
OTA seems to work, but problem remained with connection WiFi after make flashinit

[2019-02-08 14:36] slaff commented on #1602
@Evgsurf Can you check that PR #1604 ?

[2019-02-08 17:38] andr2000 commented on #1520
I can confirm what @petrynchyn says. OTA does work, but WiFi is still an issue.
Frankly, I am not surprised, as we workaround interrupts during OTA, but still WifiStation class wants to
write its settings to flash (auto-reconnect and credentials):
[code]
With the change above I effectively disable wifi_set_opmode and wifi_station_set_config both willing to write to flash (if I understood the SDK d

[2019-02-08 20:20] andr2000 commented on #1520
guys at Arduino finally managed to ["Remove interrupt disable around flash operations"](https://github.com/esp8266/Arduino/pull/5577)

So, indeed, there is something trying to run from flash in some interrupt handler....

[2019-02-08 21:22] kmihaylov opened #1607 "SPIFFS w/ Serial race condition? (example provided)"
Hello.

Recently I had nasty bug that blocked the execution of the program and deleted all my files. I tracked down it to be a combination of SPIFFS file write and some debug output.

I disabled the ```Serial.systemDebugOutput(true);``` and the problem went away. My devices now miss this bug (although now sometimes I'm getting all files deleted on blackout/power down, but don't have clue what it c

[2019-02-09 03:06] frankdownunder opened #1609 "multiple definition of `malloc'"
I get linker errors when using the SDK version 3.

With the default SDK version, everything is fine. I run this script:

[code]

and all is good. But if I include this line:
[code]
at the start, I get
opt/esp-open-sdk/xtensa-lx106-elf/bin/xtensa-lx106-elf-gcc -L/opt/Sming/Sming/compiler/lib/ -L/opt/Sming/Sming/third-party/ESP8266_NONOS_SDK/lib -Lout/build -L/opt/Sming/Sming/compiler/ld -Trboot.rom

[2019-02-10 16:43] mikee47 opened #1615 "axl_ssl_read hangs on memory allocation failure"
See `third-party\axtls-8266\compat\lwipr_compat.c` line 161. If a memory allocation fails system just hangs and we get WDT.

I would suggest better behaviour would be to free any allocated memory and return error (-1) so at least the system keeps running.

@slaff I have a proposed patch for this, but this file belongs to a sub-module of axtls so not sure of the best way to approach this.

[2019-02-10 17:05] slaff commented on #1615
@mikee47 Can make a pull request to this repo: https://github.com/attachix/lwirax and I will take care for the rest.

[2019-02-11 10:40] slaff commented on #1615
The PR request (https://github.com/igrr/axtls-8266/pull/62) to axtls-8266 is created and waiting to be merged.

[2019-02-11 10:42] #1576 closed

[2019-02-11 10:50] #1520 closed

[2019-02-12 07:19] Evgsurf commented on #1602
Gyus , I updated Sming from git by (git pull)
Rebuild all, and still have a problem.
Here is video https://youtu.be/_oyLnV4gNl0

[2019-02-12 07:34] mikee47 commented on #1602
Try rebuilding Sming and app with DEBUG_VERBOSE_LEVEL=3

[2019-02-12 07:43] Evgsurf commented on #1602
@mikee47 in Makefile-user.mk ? I tied no effect
I tied to add in application.cpp #define DEBUG_VERBOSE_LEVEL 3 - no effect
Just Updating ... :(

[2019-02-12 07:49] Evgsurf commented on #1602
Oh I tied but forget to rebuild Sming it self.

I get result
[code]

[2019-02-12 08:14] mikee47 commented on #1602
Error -9 is ' connection reset', any help?

[2019-02-12 08:26] Evgsurf commented on #1602
@mikee47 I understand that problem is connection, after you say about DEBUG, and install apache (Maybe problem in Python HTTP)

Now I have
[code]

[2019-02-12 08:56] Evgsurf commented on #1602
System hangs on "wdt reset", but if I restart board manually, I can switch between ROM 0 and ROM 1

[2019-02-12 08:56] mikee47 commented on #1602
In sample_rBoot, in OtaUpdate_CallBack, could you change `System.restart()` to `System.restart(1000)` and see if that helps?

[2019-02-12 09:03] mikee47 commented on #1602
Also, see #1611, slaff mentioned about setting GPIO#0 high

[2019-02-12 09:14] Evgsurf commented on #1602
@mikee47 System.restart(1000) does not help. Also I have no external devices now at board esp8266.

[2019-02-12 10:10] mikee47 commented on #1602
I suspect it's SDK related - try building on SDK 3.0 see #1470 - I use this all the time without issue.

[2019-02-12 10:17] Evgsurf commented on #1602
@mikee47  I will try, but it will take a time, because I am newbie at ESP.
BTW the problem is not Restart, system hangs on rboot_set_current_rom.
Thank You very much!

[2019-02-12 10:31] mikee47 commented on #1602
@Evgsurf You're welcome. Apologies, though, the SDK 3.0 post is a little out of date. To build with SDK 3.0 support all you need to do is:

[code]

[2019-02-12 10:45] mikee47 commented on #1602
https://bbs.espressif.com/viewtopic.php?t=574

[2019-02-12 10:48] mikee47 commented on #1602
Something else to try. After programming, do a hard reset _before_ running an update.

[2019-02-12 10:54] Evgsurf commented on #1602
Ohh, so many ways :)
I tried SDK 3.0 by https://github.com/SmingHub/Sming/issues/1439#issuecomment-423799397 and your patch https://github.com/SmingHub/Sming/pull/1470#issuecomment-429315841
Fatal Exception 28 with long DUMP

[code]

[2019-02-12 11:13] Evgsurf commented on #1602
This is "handmade" solution, but works :)

[2019-02-12 11:16] mikee47 commented on #1602
Yaaay! The above two posts should help to explain what's happening - the `System.restart()` remembers the previous boot mode (i.e. programming mode) and uses that. The hard reset clears this. I've never had an issue with this but I guess it depends on hardware versions, etc.

[2019-02-12 11:41] Evgsurf commented on #1602
@mikee47 I have tested 3 esp8266 https://github.com/pfalcon/esp-open-sdk/issues/330#issuecomment-417303260 There is not difference. All three work well after handmade reboot after load new room from PC. And all three do not work without first habdmade reboot.

[2019-02-12 12:14] Evgsurf opened #1617 "System remember SSID and PWD"
This is not real issue. I just do not understand how it does work.
I build and flash some project which connect to local WiFi. -Ok , passed.
Later I build and flash Basic_Blink project which has not any! WiFi connections, but as I can see in console, board successfully connects to WiFi and get IP.
Of couse, flashinit kills WiFi, but the question is, where board save WiFi and how to manage it?

[2019-02-12 12:20] mikee47 commented on #1617
These are stored in a reserved area of flash memory by the Espressif SDK.

[2019-02-12 12:23] Evgsurf commented on #1617
I see, thank you. Any method to erase it (exclude flashinit) ?

[2019-02-12 12:26] mikee47 commented on #1617
`Any method to erase it (exclude flashinit) ?`

Try `WifiStation.config("", "", false, true)`

[2019-02-12 12:33] #1617 closed

[2019-02-12 12:39] Evgsurf commented on #1602
I guess in is not bad if method void rBootHttpUpdate::start() will be int rBootHttpUpdate::start() and return an error code (Error -9 is ' connection reset )

[2019-02-12 13:37] mikee47 commented on #1602
I agree, needs some way of reporting failure back. In this instance the error occurs a long time after `start()` has finished; Sming is event-driven so doesn't hang around, kicks off the transfer and leaves it running.

@slaff I think `rBootHttpUpdate` needs some attention here. In general probably call the user-supplied callback on failure in `start()` or on a TCP error. It may need some work on

[2019-02-12 14:18] Evgsurf commented on #1602
I guess it is will very good, if it will be possible to have property eventHandler at TcpConnection (as I see this is "main" class) to where set *func(int event,int val)

for example

void eventHandler(int event,int val)
{
Serial.printf("Event %d value %d\r\n", event,val);
}

....

if(otaUpdater)
	delete otaUpdater;
otaUpdater = new rBootHttpUpdate();

otaUpdater->setTcpEventHandler(eventHandler);

[2019-02-13 14:07] slaff opened #1619 "[RFC] Better intergratetion between uart and gdbstub"
This issue is created to gather all improvements that need to be done for better intergratetion between uart and gdbstub.

At the moment when the code is compiled with gdbstub the serial output and input does not work as expected. The output is not shown and the input is discarded. The esp-arduino project has already done a great job and outlined the way to integrate both systems. See this [PR](ht

[2019-02-13 14:09] slaff commented on #1619
@mikee47 Do you want to try and integrate the gdbstub changes into the uart code? As guideline you can use the code from https://github.com/esp8266/Arduino/commit/bff3a6d963f8f67470fc1dfbfcd93ac5682fe079.

[2019-02-13 20:25] mikee47 commented on #1619
@slaff I'll give it a go!

[2019-02-14 08:15] mikee47 opened #1620 "Coding style changes: deprecated and override"
I'm working on a PR to enforce use of `__ attribute__((deprecated))` throughout the framework; I'm proposing to use a macro `__deprecated` for convenience. The purpose is to ensure the framework (including samples) builds without internally referencing any deprecated items. Travis enforces this. It will also assist users in migrating their code.

The second item is to apply `override` to every ove

[2019-02-14 08:33] mikee47 commented on #1607
@kmihaylov Would you check if #1610 fixes your problem?

[2019-02-14 09:34] slaff commented on #1620
Correct.

[2019-02-14 10:22] petrynchyn opened #1621 "Adafruit_SSD1306 library add support 64 × 48 pixels OLED Shield with I2C"
To support displays 64 × 48 pixels Adafruit_SSD1306 library I combined it with the code
https://github.com/mcauser/Adafruit_SSD1306/tree/esp8266-64x48 but I do not know how to update Adafruit_SSD1306.patch and send it to SmingHub. Who can tell me how to do this?

[2019-02-14 11:39] mikee47 commented on #1621
Hi, have a look on the Wiki

https://github.com/SmingHub/Sming/blob/develop/CONTRIBUTING.md

Bottom of page for patches:

https://github.com/SmingHub/Sming/blob/develop/AddingExternalSource.md

[2019-02-14 12:36] petrynchyn commented on #1621
Thanks

[2019-02-14 12:36] #1621 closed

[2019-02-14 13:56] mikee47 commented on #1620
What's the thinking on empty overridden destructors? Remove or keep?

[2019-02-14 14:48] kmihaylov commented on #1607
With #1610 there is no WDT reset anymore!

[2019-02-14 14:50] #1607 closed

[2019-02-14 14:52] mikee47 commented on #1607
Music to my ears (?)!

[2019-02-15 13:35] slaff commented on #1620
Remove.

[2019-02-15 18:03] mikee47 commented on #1620
Is there any justification for using `#include <SmingCore/SmingCore.h>` where `<SmingCore>` is sufficient?

[2019-02-16 11:42] slaff commented on #1620
I cannot think of any ... So yes, please, use SmingCore.h  instead of SmingCore/SmingCore.h .

[2019-02-16 14:57] andr2000 opened #1626 "git submodules errors during first make after git clone"
After I have cloned the repo at
`* develop 3a7fbb2d0b87 Fix `fromHttpDate()`, parameters from signed to unsigned and String optimisation. (#1625)`
I set up the environment and tried to make, but I see there are errors during git submodules fetch
[git_log.txt](https://github.com/SmingHub/Sming/files/2872063/git_log.txt)

[2019-02-16 15:00] mikee47 commented on #1626
You'll need to `make dist-clean` first.
Don't worry about the `Error 128 (ignored)` - that is because their is no patch file for those.

[2019-02-16 15:25] andr2000 commented on #1626
Well, this doesn't really help:
[code]
and then
[code]

[2019-02-16 15:32] andr2000 commented on #1626
The reason I am worried about those "ignored" errors is that I build Sming with Yocto [1], [2] and those make the build fail. This doesn't happen with master branch though... and because of rboot fixes I decided to temporarily switch to develop branch.
[1] https://www.yoctoproject.org/
[2] https://github.com/andr2000/meta-prod-smarthome/blob/master/recipes-esp8266/sming/sming.bb

[2019-02-16 15:36] mikee47 commented on #1626
Have you done `env SMING_HOME=/tmp/Sming/Sming' ?

[2019-02-16 15:38] andr2000 commented on #1626
`declare -x SMING_HOME="/tmp/Sming/Sming"
`

[2019-02-16 15:43] mikee47 commented on #1626
`make V=1` give any clues as to what's happening?

[2019-02-16 15:47] andr2000 commented on #1626
$:/tmp/Sming/Sming$ make V=1
git submodule update --init --recursive Libraries/Adafruit_BME280_Library/
Submodule 'Sming/Libraries/Adafruit_BME280_Library' (https://github.com/adafruit/Adafruit_BME280_Library.git) registered for path 'Libraries/Adafruit_BME280_Library'
Cloning into '/tmp/Sming/Sming/Libraries/Adafruit_BME280_Library'...
Submodule path 'Libraries/Adafruit_BME280_Library': checked o

[2019-02-16 15:51] andr2000 commented on #1626
it seems that
`touch Libraries/.patches/Adafruit_BME280_Library.patch`
created that

[2019-02-16 15:52] mikee47 commented on #1626
I get those as standard when I build, but git just ignores it, doesn't crash. Guess there's a setting in git for that?

[2019-02-16 15:59] andr2000 commented on #1626
[code]
Normally we can't ignore those errors, but it seems to be ok for "just build and that's it" :)

[2019-02-16 16:01] mikee47 commented on #1626
I guess the makefile could be improved by checking for the existence of the patch file first :-)

[2019-02-16 16:03] andr2000 commented on #1626
Yeah, at least. That was just a quick and dirty hack ;)

[2019-02-16 19:02] andr2000 commented on #1626
BTW, do you by chance know what was the reason to touch the patch at all?

[2019-02-16 20:45] andr2000 commented on #1626
@mikee47 @slaff could you please review?

[2019-02-16 21:33] andr2000 opened #1628 "Cannot run parallel make"
3rd party libraries and Arduino libraries are two different makefile rules both trying to fetch sub-modules if make runs in parallel mode, e.g. -j option specified. This results in errors like:
`    "error: could not lock config file .git/config: File exists"`
This can be worked around by either running make without "-j" or putting ".NOTPARALLEL" target [1],
effectively disabling the parallel buil

[2019-02-18 11:22] #1626 closed

[2019-02-18 11:31] slaff commented on #1628
Recent versions if git have `-j` option for parallel execution: https://git-scm.com/docs/git-submodule. Or we can use the gnu `parallel` tool to parallelize and speed-up the build. Have to check if it is available under windows, Mac OS X and FreeBSD though.

@andr2000 Parallelizing the build sounds like a good idea to me - if you want yo can prepare a PR and send it for review.

[2019-02-18 12:51] andr2000 commented on #1628
Well, I know about the "-j" option, but the problem is that [it won't help](https://github.com/SmingHub/Sming/blob/develop/Sming/Makefile#L522)
What we have here is we run multiple "git submodule update..." commands in parallel and each effectively running with "-j 1", while "-j" option would only make sense if we have a single "git submodule update", e.g. the rules which make troubles are (at lea

[2019-02-18 13:24] mikee47 commented on #1628
I can confirm that this is a problem on Windows builds as well. My workaround is to use regular `make` for `dist-clean` and initially pulling in repos. Thereafter `make clean` and `make -j` is generally OK, though sometimes gets strange `file truncated errors` which I suspect are related to the quality of the Windows compiler. I also note that compiling under Linux (even on a VM) is considerably f

[2019-02-18 18:41] andr2000 commented on #1628
Well, it does need altering the makefile and making lots of changes,
you can have an idea [here](https://github.com/andr2000/Sming/commit/30e426909c5b02c30cacd630240ee9cb632334c2)

[2019-02-19 08:37] #1620 closed

[2019-02-19 08:39] slaff commented on #1628
@andr2000 Why don't you send the changes as PR which will be marked as experimental? (just add "Experimental" in the title) This way I can test it under Linux, Mac OS X and FreeBSD and others can test it on the different flavours of Windows.

[2019-02-19 08:44] andr2000 commented on #1628
Because the changes are WIP and not yet complete

[2019-02-19 23:40] frankdownunder commented on #1609
Further information:  The code includes a custom crash handler with signature
extern "C" void custom_crash_callback(struct rst_info * rst_info, uint32_t stack, uint32_t stack_end)
The linker errors go away if that code is removed.

[2019-02-20 10:32] slaff commented on #1602
LOL. Nice idea! Sming doesn't use exceptions though, exception frames eat RAM for one thing.

Forget it for now. We try to run on an embedded device.

Have you done  some changes related to this?

[2019-02-20 10:33] slaff commented on #1609
@frankdownunder It is highly recommended to NOT use any mallocs in your crash handler. Look at that directory https://github.com/attachix/ukit-esp8266-firmware/tree/master/lib/core and check the crash.h and crash.cpp files for ideas and implementation.

[2019-02-20 12:30] ematt opened #1634 "map from WMath gives wrong output"
Hello,

There is a little problem in how the map function from WMath.c is implemented: `out_min` does not belong to divisor.

Snippet
[code]

Output:
[code]

[2019-02-20 13:10] mikee47 commented on #1602
@slaff I didn't make any functional changes to `rBootHttpUpdate` (or `HttpClient`) and haven't specifically looked at this issue yet.

[2019-02-20 16:02] icodk opened #1635 "debugf not printing"
Can't get debugf to print anything. Compile OK. Serial.printf works fine
Tried with both  DEBUG_VERBOSE_LEVEL = 0 and then DEBUG_VERBOSE_LEVEL = 3
in Makefile-user.mk
Serial.printf prints the DEBUG_VERBOSE_LEVEL
using SDK: v1.5.4(baaeaebb) on linux
SMING_VERSION "3.7.1"

[2019-02-20 22:26] icodk opened #1637 "Web server RE initialization"
Is (how) it possible to restructure the paths a web server is responding to later in the life time of the application ?
in old version of sming (about 2.0) I just added a path.clear() function that cleared the path map just before I populated it with a subset of the original pages (saving space and access to some functionality not needed in the long run).
I could do it again of course but it is no

[2019-02-21 00:36] frankdownunder commented on #1609
The code I was using did not call malloc, but it did call fileOpen and  fileWrite to write the crash file to spiffs, which must in turn do bad things.  This issue can be closed - except that I would still love some advice on how to find what was causing the problem - I had to resort to the slow process of removing code bit by bit until the problem went away.

[2019-02-21 09:15] mikee47 commented on #1637
That's a good idea. At present, it's unsafe because `ResourceTree` inherits from `HashMap` which doesn't manage objects very well - it has the potential to leak like a sieve and objects have to be manually destroyed. I'm currently working up a PR to rectify this situation, which I think will make your suggestion practical and simplify things considerably.

[2019-02-21 09:31] icodk commented on #1637
Looking forward...
Thanks

[2019-02-21 09:41] #1634 closed

[2019-02-22 10:29] ematt commented on #1559
Apparently I got the wrong inspiration to name one of my files "math.h". It seems that the errors are caused by it. So this is not a bug. Thank you!

[2019-02-22 10:41] #1559 closed

[2019-02-23 17:45] icodk commented on #1570
@verybadsoldier I am facing the same issues with the SDK ; building successfully  with 2.0.0 and 1.5.4 but failing with with  2.2.1 and 3.0.0 .
Could you please list the steps you used to get it working with SDK 3.0.0 and the latest Sming version ?
I am using the following dir structure according to the readme:
[code]

[2019-02-23 18:22] verybadsoldier commented on #1570
For me it worked after setting this env variable:
[code]

[2019-02-23 19:57] icodk commented on #1570
@verybadsoldier Thanks,  This is regarding sming but what did you do to get  esp-open-sdk  to 3.0.0 ?
Did you build it with make VENDOR_SDK=3.0.0 STANDALONE=n ?
or mak  VENDOR_SDK=3.0.0 STANDALONE=y ?
or didn't build it at all just downloaded sming after the esp_open-sdk  , set SDK_BASE (as you mentioned above) and run make in Sming ?

[2019-02-23 21:09] verybadsoldier commented on #1570
The SDK comes with Sming. You should find it if you take a look at the path I posted.

[2019-02-24 00:43] icodk commented on #1570
@verybadsoldier Your tip probably got me over this step and I managed to build sming without errors
including Basic_Blink(see below all my steps after the error) .
I am not sure if  `VENDOR_SDK=3.0.0`  in step 5 is doing anything positive.
However Basic_Blink will not run and instead came with the following error:
Again any help will be appreciated.
[code]
Steps for building the sdk and sming:
[co

[2019-02-24 12:29] verybadsoldier commented on #1570
Did you try to double-check `SPI_SPIZE`? You have to set it according to your hardware.

[2019-02-24 16:33] icodk commented on #1570
@verybadsoldier This helped. Thanks

[2019-02-25 07:26] r44083 opened #1640 "Reason for irom offset"
Hi, I have noticed that linker script "compiler/ld/rboot.rom0.ld" defines irom section with some offset (0x2010) from irom start:
[code]
**Why is 0x2010, what is located at start address of irom?
For what reason you shift irom start address?**

[2019-02-25 09:01] slaff commented on #1640
Because we use bootloader. The 0x2010 offset is the space needed for the bootloader and the bootloader config at the beginning of the FLASH. After that offset starts our application.

[2019-02-25 09:13] r44083 commented on #1640
Thnk you slaff.

[2019-02-25 09:13] #1640 closed

[2019-02-25 09:22] r44083 commented on #1640
Could you please answer, for what reason you use bootloader? Is it for FOTA?

[2019-02-25 14:27] slaff commented on #1640
Yep.

[2019-02-26 09:16] slaff commented on #1635
@icodk If you mean the debug statements from the library then you should compile the library itself with high verbosity. Here is what you can do:

[code]

I have double-checked with the latest `develop` version (as of minutes ago) and debugf seems to work as expected.

[2019-02-26 10:21] icodk commented on #1635
@slaff Thanks

[2019-02-26 10:24] #1609 closed

[2019-02-27 07:55] slaff commented on #1552
@Ph3r0x Can you try with the latest code in `develop` to see if the issue you were experiencing is already fixed?

[2019-02-27 21:34] Ph3r0x commented on #1552
This issue can be closed, this issue is fixed.

[2019-02-27 21:34] #1552 closed

[2019-02-28 07:39] mikee47 commented on #1637
@icodk You can now use `HttpServer::paths.clear()`

[2019-02-28 09:07] #1635 closed

[2019-02-28 09:11] slaff commented on #1637
@icodk That should be possible with the latest version of the code from the `develop` branch. Give it a try and write back if you need some help.

[2019-02-28 10:33] icodk commented on #1637
@mikee47 & @slaff
That's great Thanks

[2019-02-28 10:33] #1637 closed

[2019-03-01 10:21] slaff commented on #1619
@mikee47 Do you think you can start working on this so that we can merge it as part of the 3.8.0 release?

[2019-03-01 10:47] mikee47 commented on #1619
@slaff Yes, I've made a start reviewing the changes and considering how best to implement them. I'll post details here once I've decided on a way forward.

[2019-03-01 10:52] slaff commented on #1619
Thanks a lot Mike! You are doing an amazing job!

[2019-03-01 23:59] mikee47 commented on #1619
@slaff Thanks, trying to fix more stuff than I break :-)

<h2>Issues</h2>
So having had a play around with GDB (on Windows) these are the things I feel need to be dealt with:<p>

- Reliablity. As reported in #1542 there are issues connecting reliably. Once it's connected it's OK, can reset, etc. and still works, but it seems to lose sync and then it's a pain to get back. (The cause is unclear.)
-

[2019-03-02 08:15] mikee47 commented on #1619
I'm considering (and not for the first time) whether the uart driver would be better as a C++ class...

[2019-03-02 18:31] slaff commented on #1619
Absolutely. Once we have the changes I will take care to update the article in the blog, add here a Wiki copy so that we can easily keep it up to date.

[2019-03-06 19:37] icodk opened #1643 "promiscuous mode in Sming"
Promiscuous mode works fine in Arduino/esp8266 with both  sdk 1.5.3 [https://www.esp8266.com/viewtopic.php?f=29&t=12127 ](https://www.esp8266.com/viewtopic.php?f=29&t=12127)  and 3.0.0 but I could not make it work with Sming (tried only with 1.5.3). Everything compiles and uploads but the call back function that should be called upon reception of wifi activity is never called. Could it be an issue

[2019-03-07 21:59] ederjdi opened #1644 "Problem with flashInit"
I would like an information if possible about the sming.
I programmed it in the first version of Sming and it worked perfectly, I downloaded version 3.7.0 and now from 3.7.1 when I write the program as blink the basic_wifi works perfectly. But when I burn files that have html the "esp" does not start I tested with the httpServer_configNetwork. This software does not show the network.
What could it

[2019-03-11 10:30] egr8086 opened #1645 "UART TX_FIFO_EMPTY interrupt on start of transmission"
I working on modbus RTU implementation using Sming and HardwsreSerial. Before uart transmission i need to pull up TX_ENABLE pin (GPIO 0 in my case) and pull it down after transmission complete. But txCompleteDelegate() calls on begin of transmission.

Here is initialization:
[code]
txCompleteDelegate:
[code]
![UART_TX](https://user-images.githubusercontent.com/19286536/54116980-8a22d600-43f8-11e9-

[2019-03-11 14:46] mikee47 commented on #1645
@egr8086 Thanks for this, I'm working on some serial driver changes ATM so will look at this also.

I have a generic modbus RTU driver for Sming here:

https://github.com/mikee47/Sming/tree/feature/modbus/Sming/Services/Modbus

It uses a serial driver interrupt callback (see `Modbus::uartCallback`) to ensure the TX control line is switched promptly. This isn't set up until `Modbus::execute()` is c

[2019-03-13 08:30] slaff commented on #1644
[code]

Looking at the excerpt above I guess you should execute the following commands one after the other. And in between you must make sure that the device is in FLASH mode. The easiest way to do this is to set the correct pins and power off and power on the device. Try the following sequence:

[code]

Also check if your flash size is set correctly. The command above shows me that your flash siz

[2019-03-13 10:07] cometurrata commented on #1150
I have a similar problem with develop `adfd36a7` and master too, maybe it is related:
I got:
[code]

Followed by a stacktrace:

[code]

[2019-03-13 15:09] mikee47 commented on #1643
I've just pushed #1647 which is a first attempt to provide a WifiSniffer class based on this code. The sniffer initialisation (`WifiSniffer::begin`) cannot be called in `init()`, has to be done after network stack's been initialised (i.e. onReady).

[2019-03-14 11:15] slaff opened #1648 "Showcases needed"
We are interested in gathering information about hardware and software where Sming Framework is used. This will help us, the core developers, understand better what Sming is used for and act as an additional  inspiration to the community.

Those of you that would like to share your projects with us make sure to include.
* Name (or code-name) of the project
* Short description
* (Nice-to-have) URL

[2019-03-15 07:04] #1643 closed

[2019-03-15 07:05] slaff commented on #1643
@icodk Take a look at the new Wifi_Sniffer sample and give it a try.

[2019-03-17 14:21] mikee47 opened #1649 "Symbols stripped from release code"
Is it necessary to strip symbol information from release code? It is useful to keep them and the generated firmware images are unaffected.

Without them, memory dump shows garbage:

[code]

Removing the symbol stripping produces correct memory information.

[code]

[2019-03-18 08:08] slaff commented on #1649
Ok, then stripping can be removed from both rboot and the old project makefile. Thus simplifying a bit the build process.

[2019-03-24 08:30] #1615 closed

[2019-03-25 07:34] slaff commented on #1619
@mikee47 Did you have to time to work on this?

[2019-03-25 13:33] mikee47 commented on #1619
@slaff I should have a PR in a day or two

[2019-03-25 13:45] slaff commented on #1619
Wow, that is going to be awesome! The new release will wait for this feature to be merged :)

[2019-03-28 11:33] kwis2 opened #1654 "paradox of Sming"
In my opinion there is paradox in Sming;
Sming is very good framework for intermediate user. In meantime user should be really  advanced to be able to run Sming especially on Windows machines.
Note Windows user often mean not enought advanced to migrate to linux....

I have returned to Sming after a few month and found it is much more advanced than before, in meantime there are still problems with

[2019-03-28 11:59] mikee47 commented on #1619
@slaff OK, just pushed initial commit. The last thing I did was add the `make gdb` part, which works OK but make gets in the way of Ctrl+C handling. We also need to sort out a way to get GDB for Windows users...

[2019-03-28 13:29] Vinimuller commented on #1654
I dont know what to say about PlatformIO, but I can't agree more with you about your paradox ahahahh

[2019-03-28 16:31] kwis2 commented on #1654
@Vinimuller maybe some examples:
I have tried to show Sming to students of electornic engineering (first years). After a few hours they were able to run quite advanced projects, but they failed with instaling Sming on their computers. Simple reason - how could they follow Windows-Quickstart with `git config --global core.autocrlf input`, while default there is no git on windows machines?
More inte

[2019-03-29 09:15] mikee47 commented on #1619
I've successfully modified the stub to read asynchronously from GDB console and pipe to UART2, but all the debug output gets ignored by GDB. The 'O' packets are acknowledged but discarded. Same in both Linux and Windows. If I could get GDB to open a separate console for output it might change behaviour. Any suggestions?

[2019-03-30 17:43] kwis2 opened #1656 "ESP8266-01 module problem with Sming 3.7.1"
I have problems to run programs on ESP8266-01 modules. None of my programs, which worked on Sming 3.4 not run with version 3.7.1. Of course I have modified it and succesfully compile, but module do not start to run. The only response I got it was after manual reset

manual reset after some time

I have compiled Basic_Blink example and got infinite loop of wdt resets.
My module ESP8266-01 with 1M f

[2019-04-01 07:03] verybadsoldier commented on #1656
Which SDK are you using? For me only SDK 3.0 worked in the end.

Maybe this can help:
https://github.com/SmingHub/Sming/issues/1570

[2019-04-01 15:21] kmihaylov commented on #1648
I can't provide you with any materials yet since my work is in beta stage, however my current projects that rely on Sming (and I find it the "killer app" for my consumer embedded projects) are listed below.

I think of Sming as the tool enabling "industry 4"-like embedded development, particularly getting the low-level code and hardware into "microservices".

For example, may I have several workin

[2019-04-01 20:14] kwis2 commented on #1656
With SDK 2.0.0 with Basic_Blink I got:
when I set 1M flash as my ESP8266-01 module

so I decided to set 512k

[2019-04-01 21:38] kwis2 commented on #1656
There is no difference between SDK 2.0.0 and one included with Sming. I have checked 3.7.1 and develop branches. There were no difference.
For now I am not able to compile SDK 3.0.0.
In my opinion it is another settings problem

[2019-04-01 22:35] mikee47 commented on #1656
@kwis2 Looks like overlapping sectors in the partition table! Needs a fix - for now, try editing `$(SMING_HOME)/appinit/user_main.cpp` line 108 and change `MAX_PROGRAM_SECTORS - 2` to `MAX_PROGRAM_SECTORS - 8`, then `make` for Sming and app.

[2019-04-02 16:44] kwis2 commented on #1656
I am trying to install esp-open-sdk with #1570 method.
after `make VENDOR_SDK=3.0.0 STANDALONE=y` I got

[2019-04-02 17:30] kwis2 commented on #1656
The only way I found to make Sming to work it is to compile `esp-open-sdk` with `make VENDOR_SDK=2.0.0 STANDALONE=y` then `Sming` `develop` compile with `make ENABLE_CMD_EXECUTOR=0 VENDOR_SDK=3.0.0` what in fact mean `SDK 2.0.0`.
When I add `export SDK_BASE=/opt/Sming/Sming/third-party/ESP8266_NONOS_SDK/` I got:

[2019-04-02 17:38] kwis2 commented on #1656
Another issue is that I have ESP-01 module with 1M flash  (p25q80 chip) and only way to run code is to set flash to 512. When I set 1M I got as below. What in my opinion mean programming OK, but something wrong with memory setup for this module.

and much more garbage

[2019-04-03 14:14] kwis2 commented on #1656
I have tried Basic_Webskeleton example with ESP8266-01 module (1M flash not working - set 512k)
program compiled succesfully but problem with programming. I don't exactly know what could it mean `WARNING: Unlikely to work as data goes beyond end of flash. Hint: Use --flash_size` but in my opinion it is some problems with memory settings ?

and finally got infinite loop of

[2019-04-04 12:54] slaff commented on #1656
WARNING: Unlikely to work as data goes beyond end of flash.

1MB is not enough to hold the bootloader, its config, the actual ROM, the system config and the minimal file system.

In our code we are quite `optimistic` and assume that 512K for Spiffs should fit.
[code]

What you can do is choose a smaller size for spiffs. Try recompiling the application using the following:

[code]

Give it a try an

[2019-04-06 08:57] MayaPosch opened #1658 "Incompatibility between String class and Mosquitto broker"
After a freshly built & flashed ESP8266 node failed to connect to a Mosquitto MQTT broker with nothing but a brief `'socket error on client <unknown>'`, I had a look at why this (previously working) code failed to work, with the MQTTClient_Hello sample working.

In the end I traced it down to a null-byte in the client ID that gets sent to the Mosquitto broker. When a null byte is added to the clie

[2019-04-06 09:10] mikee47 commented on #1658
@MayaPosch You have it exactly right, `makeHexString()` is just plain wrong. It's miscalculating the string length and doesn't need to set the nul terminator as `setLength()` does that. I'll have a PR shortly. Thank you for taking the time to track this bug down.

[2019-04-06 12:01] #1658 closed

[2019-04-06 12:02] slaff commented on #1658
@MayaPosch @mikee47 Thank you both!

[2019-04-07 18:46] kmihaylov opened #1660 "SPIFFS crash on api_spiffs_erase (example provided)"
Hello. Finally I found when my FS is crashing. It it some time after data has been written to it, that's why it was a little bit hard to figure it out when exactly the bug appears.

I found that while there is no need for api_spiffs_erase, the consistency of the FS is OK, the device can be rebooted w/o problems (data loss, broken FS).

On the first appearance of "api_spiffs_erase", however, the FS

[2019-04-07 21:12] mikee47 commented on #1660
@kmihaylov You've highlighted the problem very accurately! The logic in `spiffs_mount_internal()` (`spiffs_sming.c` line 114) is too simplistic -

[code]

The volume gets wiped if SPIFFS sector #0 is in the erased state when the device reboots, which is a perfectly legitimate state for SPIFFS to be in.

Here's a better way:

[code]

There's also a volume checking function in SPIFFS, which is time-

[2019-04-08 09:48] feer9 commented on #501
Hi, can you please tell, how to use that 0xe4 command? where do I put it? at the beginning of initialization?

[2019-04-08 12:15] kmihaylov commented on #1660
I did as you suggested:

https://github.com/kmihaylov/Sming/blob/fix/spiffs_mount_prevent_format/Sming/Services/SpifFS/spiffs_sming.c

Now it successfully mounts the fs every time (even if I flashed the device with DISABLE_SPIFFS = 1). The files are written to the FS, but I'm curious how i works if it wasn't inited. Also the problem of unnecessary inited FS disappeared and the files seem to contai

[2019-04-08 12:35] mikee47 commented on #1660
Happy that's working for you! The `DISABLE_SPIFFS` only controls whether an image is built and uploaded during flash.

Pretty much! It doesn't erase sectors unless it needs the space. Have you tested the `check_fs()` part yet? If you wanted to do some stress testing, try filling the flash with random data first. That should fail the first mount operation and force it to do a `check_fs()`.

[2019-04-08 20:55] kmihaylov commented on #1660
It mounts the FS despite it was prefilled with random data.

[code]
The mount() function is called 10 seconds after boot to ensure that the debug messages refer to the first mount of the random-data space (I had fear that it formats the FS too quickly).

fileSetContent however now returns ```open errno -10001```.

FS is unusable.

--------------------------

Flashing zeros to the SPIFFS area enabl

[2019-04-09 08:02] mikee47 commented on #1660
This is probably an unrealistic test, for the flash to get in that state would probably indicate other problems so perhaps not realistic. For more robust operation, try setting `SPIFFS_USE_MAGIC=1` in `spiffs_config.h` - further details [here](https://github.com/pellepl/spiffs/wiki/Using-spiffs).

[2019-04-09 15:36] slaff commented on #1619
Implemented in PR #1655 which is merged in the `develop` branch.

[2019-04-09 15:36] #1619 closed

[2019-04-10 07:47] slaff commented on #1548
Fixed with the merge of PR #1655.

[2019-04-10 07:47] #1548 closed

[2019-04-10 07:50] slaff commented on #1542
Fixed with the merge of PR #1655.

[2019-04-10 07:50] slaff commented on #1547
Fixed with the merge of PR #1655.

[2019-04-10 07:50] #1547 closed

[2019-04-10 17:24] kmihaylov commented on #1660
@mikee47 respect for your guidance. It's very helpful.

I put
```#define SPIFFS_USE_MAGIC                (1)```
and
```#define SPIFFS_USE_MAGIC_LENGTH   1```

And now after ```make flashinit``` it works almost as expected:
1. FS not found;
2. Format initiated
3. Unsuccessful mount.

I did a dump of the formatted partition and it is 0xFF everywhere, obviously there are no magic numbers.

So far, so

[2019-04-11 16:57] mikee47 commented on #1581
Relates to PR in this release

[2019-04-11 20:35] mikee47 commented on #1581
There's been an update to [SPIFFS](https://github.com/pellepl/spiffs/commit/ec68ba8208d7550860e4e78299d58a529b88bf85) - will that get pulled into 3.8.0?

[2019-04-12 06:25] slaff commented on #1581
Yes, I can include that too.

[2019-04-12 06:45] slaff commented on #1581
PR #1664 is addressing the SPIFFS update.

[2019-04-12 20:25] mikee47 commented on #1581
PR also includes a couple of general additions to uart driver for reporting error status and handling line breaks

[2019-04-13 11:54] slaff opened #1670 "Debugger crashes after continuation"
Multiple continuation commands can break a debugging session.

A shorter version of the commands below can be used to reproduce the issue:
[code]

A longer version with recording from a real debugging session.

[code]

[2019-04-13 11:57] slaff commented on #1670
@mikee47 Can you check if you can reproduce this issue on your device(s)?

[2019-04-13 12:03] mikee47 commented on #1670
@slaff Yes, I get the same. It happens because GDB is in the middle of a syscall and ignores anything sent to it. I need to investigate further to understand exactly why it's producing this particular behaviour.

If you set `GDB_ENABLE_SYSCALL=0` in `gdbstub-cfg.h` and rebuild the problem goes away, although we can't interact with GDB in the sample.

[2019-04-13 16:41] mikee47 commented on #1670
OK, so the `blink` debug break takes us into the debugger command loop, but GDB doesn't know we've stopped because it's still processing the syscall. When the 'F' response (which completes the syscall) is received, it takes us back out of the debugger loop immediately, which is wrong; at that point we should tell GDB again why we've stopped so things can proceed as for a regular break handling.

W

[2019-04-13 19:47] mikee47 commented on #1670
@slaff OK, I think that's fixed. Let me know how you get on.

[2019-04-13 20:01] slaff commented on #1670
Let me check...

[2019-04-13 20:29] slaff commented on #1670
It looks better from the gdb cli with manually typing commands. But I would suggest to disable by default the GDB_ENABLE_SYSCALL. At the moment the output looks a bit confusing to me:

[code]

Additionally I tried to use Eclipse as a visual debugger. Setting breakpoints and stepping works nicely. But if I remove a breakpoint and set again a new one on the same line the debugger seems to freeze. I

[2019-04-14 15:09] slaff commented on #1670
Fixed in ##1671.

[2019-04-14 15:09] #1670 closed

[2019-04-15 07:50] #1581 closed

[2019-04-15 07:51] slaff opened #1674 "*** Preparation for Release 4.0.0 ***"
This issue is created to collect all the tasks we need to do before the 4.0.0 release (initially this was set to 3.9.0 but the improvements are so much that it's worth dedicating a new major version to it).

### Source Code
- [x] Update Sming/SmingCore/SmingCore.h
- [x] Update Readme.md
- [x] Merge develop into master
- [x] Tag the source code in the master branch

New features
------------------

[2019-04-15 17:59] slaff commented on #1674
@alonewolfx2 you have closed the ticket for the future release ;-) Can you please re-open it again? The one for the last stable release is here: https://github.com/SmingHub/Sming/issues/1581 and it is already closed.

[2019-04-16 10:33] mikee47 commented on #1333
Picking up from https://github.com/SmingHub/Sming/pull/1579#issuecomment-483025881 -

I agree. I wasn't proposing we switch to FreeRTOS, but that we restructure according to the ESP-IDF-style API (or perhaps we should refer to it as the HAL). Many API calls have just been renamed, so `system_get_free_heap_size()` becomes `esp_get_free_heap_size()`, but others (like the Timer API) have been more he

[2019-04-16 11:41] slaff commented on #1333
I would suggest the following restructuring as a start
- Move the Sming/SmingCore/Platform directory to `Sming/Platform`.  (At some point we should rename also `SmingCore` to `Core` but that can wait).
- Create a new subfolder under  `Sming/Platform` called `General`. It should include code that is used by the different platforms as a base.
- Create a folder called `Esp8266` under `Sming/Platform`

[2019-04-16 12:35] mikee47 commented on #1333
Sounds like a plan! We can always revisit but the structure sounds good.

[2019-04-16 12:49] slaff commented on #1333
Wonderful!

Honestly your C/C++ skills are way better than mine. Can you try to do the initial restructuring and I will try to help as much as I can?

Yes, this way more people can check if the platform refactoring works as expected.

[2019-04-16 13:08] mikee47 commented on #1333
OK, I'll work up a PR for the restructuring. Don't be fooled about my C++ abilities - the STL still baffles me!

[2019-04-16 14:26] mikee47 commented on #1333
We also need to deal with the `system` directory in a similar manner. I don't think it belongs under `Platform` as it's mostly C code and I think the place where the new ESP8266 HAL code will live.

[2019-04-16 23:18] frankdownunder commented on #1333
May I suggest we use cmake?  I have been working for quite a while on an ESP32 project, and  Ive been using the cmake development way of IDF - I think it has clear advantages over makefiles.  _"The CMake-based build system will become the default build system in ESP-IDF V4.0. The existing GNU Make based build system will be deprecated in ESP-IDF V5.0."_  https://docs.espressif.com/projects/esp-idf

[2019-04-17 06:32] mikee47 commented on #1333
I think initially we can continue with Makefiles, but once the code is structured more closely with IDF we should certainly look at migrating to Cmake. The makefiles need simplifying and now is the time to do that.

Question: Do we remove 'makefile-project' now? I am happy to upgrade it inline with makefile-rboot (I would pull out common parts anyway) but obviously that would create additional wor

[2019-04-17 13:25] slaff commented on #1333
Yes, it's about time we do this.

[2019-04-17 14:54] #1590 closed

[2019-04-17 22:22] frankdownunder commented on #1333
cmake will be essential in getting a port to ESP32 done, but cmake has more to offer than just alignment with idf.  Speed is one thing - it is very fast.  It  gets the dependencies right, and it runs on Windows without any Linux layer necessary.  Ive seen many posts where a potential Sming user has given up when trying to use Windows.  Just my two bobs worth!

[2019-04-18 07:00] mikee47 commented on #1333
I definitely believe cmake is the way to go. I had had a fully working ESP32 build system and compiled a sample within an hour yesterday. The visual makeconfig is a great improvement. (It is pretty slow under Windows, of course, as everything runs under MinGW.) Having the build environment as a .zip file made installation easy. I also looked at the ESP8266-RTOS which has a similar .zip. I'll have

[2019-04-19 06:03] frankdownunder commented on #1333
Agreed.  Happy to help.

[2019-04-21 06:16] frankdownunder commented on #1333
Not true Mike.  You should instead have followed the instructions here https://docs.espressif.com/projects/esp-idf/en/latest/get-started-cmake/windows-setup.html
From that page:

Im a fan of Linux, but I dislike MSYS2 and MinGW.  I need to rebuild my windows machine it got schtumpfred by Windows Update, but last time I had it running, i had  native exes with CMake and Ninja in control and I got I

[2019-04-21 06:48] mikee47 commented on #1333
@frankdownunder Thanks Frank, I'd missed the CMake build preview. Definitely the way to go. It seems that the ESP32 is getting all the love at the moment, hope we can find a way to do the same for the humble ESP8266. (I still think of the ESP32 as an ESP8266 on steroids.)

[2019-04-27 12:59] mikee47 opened #1676 "ESP-IDF Partition Table support"
Further to #1333 porting Sming to Esp32 (and other platforms) the next roadblock we're likely to run into is the use of partition tables. This is an ESP-IDF feature, provided for the *Esp32* and *Esp8266 RTOS* platforms. See [Here](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/partition-tables.html) for an overview.

Instead of accessing flash memory directly (e.g. using `flashm

[2019-04-29 08:26] slaff opened #1678 "[Announcement] Long Term Support release: 3.8.x LTS"
With the new Sming [version 3.9.0](https://github.com/SmingHub/Sming/milestone/21)  there will be a lot of backwards incompatible changes. Version 3.9.x and newer will be the one paving the path for Sming version 4.x.

# Great new features (v4)
If you want to use the bleeding-edge latest code and test latest development of Sming you can use as before the `develop` branch for development and the `m

[2019-05-02 21:36] mikee47 opened #1679 "SPIFFS write caching not working with FileStream"
Excessive flash writing is occurring when using a `FileStream` for writing to a file in small chunks (e.g. serialising JSON data directly to a file stream). The behaviour is as if SPIFFS write caching isn't working at all.

Investigation shows that `FileStream::write` calls `fileSeek` before a `fileWrite` to ensure the data is written to the end of a file. The problem is that `SPIFFS_lseek` flushe

[2019-05-03 08:17] mikee47 commented on #1679
The same thing will happen for anyone using the `fileXXX` API or SPIFFS directly. My feeling is that this is generally undesirable behaviour and SPIFFS could probably do with looking at.

[2019-05-03 08:44] mikee47 commented on #1679
Bug also affects LTS branch

[2019-05-04 13:28] #1679 closed

[2019-05-04 13:47] mikee47 opened #1683 "Migrate Sming documentation to Sphinx/readthedocs"
The quality of the documentation available for the ESP-32 IDF is very good, easy to navigate and well organised. For example, take https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/storage/vfs.html. We get a good introduction, some examples and details of the API all on the same page.

The Sming Wiki is easy to update and to submit ideas to, but it's not particularly easy to orga

[2019-05-05 12:43] frankdownunder opened #1684 "CMake build system for Sming"
Espressif are using cmake for their ESP32 IDF development framework.  Eventually, the existing system using make will be deprecated.  I believe they chose cmake because cmake and ninja have many advantages.  I will take a look at cmake for Sming.  Initially it will be an alternative way to build; further down th etrack it will help us target Linux ( for testing) and the ESP32 hardware.

[2019-05-10 14:37] slaff commented on #1683
@mikee47 Do you know if there is a good `Sphinx/readthedocs` tutorial that can teach not only us, but also all developers that are contributing or plan to contribute to Sming?

[2019-05-10 14:44] mikee47 commented on #1683
I haven't delved too deeply into this yet, but [Getting Started with Sphinx](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html) is a good starting point, especially the three references at the foot of the page. If I find anything more succinct I'll post it up.

[2019-05-10 14:51] mikee47 commented on #1683
I also came across https://pandoc.org/ which may be useful converting existing markdown docs into reStructuredText. There's a cut'n'paste version here which I tried briefly https://pandoc.org/try/

[2019-05-10 14:52] slaff commented on #1683
So we have the Wiki documentation using markdown and we have the doxygen API documentation. Shall we convert both or only the markdown one?

[2019-05-10 16:30] MichaelDrexl opened #1689 "Build sming with Platformio"
Hi there

Has anybody built Sming under PlatformIO?

Regards
Michael

[2019-05-10 16:39] mikee47 commented on #1683
Definitely both, but I think the important thing is to get the basic structure in place so all the related stuff is together, even if it's just a load of placeholders. We can then work on it section-by-section, importing from the Wiki/doxygen output as required. The API documentation can be in its own section, but restructured so, for example, all the Streams are in one section with a related over

[2019-05-15 20:43] dpechman opened #1691 "Redefine in run time the server address in NTP Client"
How can I redefine in runtime the NTP server address in NTPClient ?

[2019-05-16 07:56] slaff commented on #1691
With
`void NtpClient::setNtpServer	(	const String & 	server	)`

See more here https://sminghub.github.io/Sming/api/classNtpClient.html#a4205f9144d89e34b43998de6d9d94ff3

[2019-05-16 15:39] dpechman commented on #1691
great! tks!

[2019-05-16 15:39] #1691 closed

[2019-05-17 11:18] Informatic commented on #1560
Hey, experiencing the same issue while directly using HardwareTimer in nonmaskable mode (I need 5-bit 50bps uart for a project).

It looks like it broke somewhere between 0b646a584e9c44f71f45e5fc431145e355619107 (2018/08/28; not 100% sure, but it looks like it was the last time my magic uart code worked...) and current release.

[2019-05-17 11:38] mikee47 commented on #1560
Have you tried running it under the debugger ?

[code]

[2019-05-17 11:59] Informatic commented on #1560
[code]

Seems like nothing interesting, after wdt reset I just end up on initial breakpoint, doing Ctrl-c during hang does nothing (and then wdt kicks in as expected with the same result)

I'll try stepping into `attach()` and will report what I get... Otherwise, I'll just do a bisect between these versions.

[2019-05-17 12:15] Informatic commented on #1560
As (somewhat) expected, ESP halts after this line: https://github.com/SmingHub/Sming/blob/develop/Sming/Arch/Esp8266/Core/HardwareTimer.cpp#L117

I'll do the bisect... later today.

[2019-05-17 12:21] mikee47 commented on #1560
I wonder if the problem is if the timer interval is too short - try setting the interval first?

` `
__`RTC_REG_WRITE(FRC1_LOAD_ADDRESS, usToTimerTicks(interval));`__
`TM1_EDGE_INT_ENABLE();`
`ETS_FRC1_INTR_ENABLE();`
` `
~~`RTC_REG_WRITE(FRC1_LOAD_ADDRESS, usToTimerTicks(interval));`~~

[2019-05-18 22:02] mikee47 commented on #1333
OK so the appveyor build fails on a missing `isblank` call, an ISO C-99 function declared in `ctype.h`.

I've attempted (without success) to track down MinGW 5.3.0 to inspect why this is happening and to find the correct fix. My install is 6.3.0, which as far as I can tell is what chocolatey pulls down.

I had a similar issue with `std::isinf` and `std::isnan` for the Travis builds, solved by usin

[2019-05-19 08:28] slaff commented on #1333
Sounds good to me. Any update that we make to the Windows CI should also be reflected on the docs and the choco packages so that  Windows users are able to compile Sming also on their systems.

[2019-05-19 08:38] slaff commented on #1333
[code]

It used to succeed on the same code with the same compiler. I guess there is a problem with the includes and not in the compiler version.

[2019-05-19 10:57] mikee47 commented on #1333
I've haven't risked a choco install on my dev. system yet, but inspecting the scripts looks like the mingw install should be the current one, not the old one provided on appveyor. Needs confirming, of course.

[2019-05-20 12:30] mikee47 commented on #1333
@slaff So far my work on SHEM is only to get it to build, so no network functionality. I'm happy to to take a look at your Linux code to see how it could be integrated?

[2019-05-20 12:44] slaff commented on #1333
You are reading my mind :). I will try to post the details here later today.

[2019-05-20 19:25] slaff commented on #1333
Here is what I did in order to be able to use LWIP in Sming on Linux.
- I cloned the following repository to http://git.savannah.gnu.org/r/lwip/lwip-contrib.git
- Then I compiled the library and the unix project
[code]

That produced `ports/unix/proj/lib/liblwip.a`, `ports/unix/proj/minimal/liblwipapps.a` and `ports/unix/proj/minimal/liblwipcommon.a` libraries. And I used them in Sming Linux.
- On

[2019-05-24 09:03] frankdownunder commented on #1684
Hi Mike, Slaff,

I pushed some changes to my fork at
      https://github.com/frankdownunder/Sming on branch  “feature/cmake”

Install cmake and Ninja

Please take a look at /opt/Sming/Sming/CmakeLists.txt
and the readme file at /opt/Sming/Sming/cmake/Readme.md for how to build

This new cmake approach is lacking in many respects, anyway I needed to start somewhere.
In particular Ive used absolute

[2019-05-24 16:13] mikee47 commented on #1684
With PR #1704 this is now out of the makefiles and into `fakePgmSpace.h`, just need to detect mforce-l32 support and define `MFORCE32` if detected.

[2019-05-24 18:05] mikee47 commented on #1333
@slaff Thanks for the info, very helpful. I've got it integrated now so have a play and see what's broken!!

[2019-05-24 18:41] #1654 closed

[2019-05-24 18:42] #1525 closed

[2019-05-24 22:51] frankdownunder commented on #1684
Ninja seems to work now - a recent change to the compiler options was probably responsible for fixing it.
So, to generate using ninja,
cd build
cmake .. -GNinja

[2019-05-25 11:03] slaff commented on #1333
Fantastic :) Shall I try PR #1692 or your `feature/Arch-Host-DEV` branch? Did you rebase PR #1692 on latest develop?

[2019-05-25 11:12] mikee47 commented on #1333
Things are still in flux so shall we work from my `feature/Arch-Host-DEV` branch, then when we're all happy with it I can tidy it up and push it all back to `Arch-Host`.

[2019-05-26 08:18] frankdownunder commented on #1684
Re PROGMEM, I will add this:
execute_process(COMMAND ${CMAKE_CXX_COMPILER} "--help=target" OUTPUT_VARIABLE OUT)
if(${OUT} MATCHES "mforce-l32")
    set(MFORCE32 1)
else()
    set(MFORCE32 0)
ENDIF()

[2019-05-26 21:49] mikee47 commented on #1684
I think you also need to add `-DMFORCE32=${MFORCE32}` to `target_compile_definitions`.

[2019-05-27 17:17] slaff commented on #1333
So far the Host architecture looks very-very promising :) I started from zero and added some notes as a WIKI entry: https://github.com/SmingHub/Sming/wiki/Host-Emulator that will be updated over time.

First question -  the library code and the application code seems to be optimized and debugging it by default is a bit more inconvenient. Shall I specify a env. variable or would it be better to hav

[2019-05-28 07:32] slaff commented on #1333
@mikee47 The Sming Host Emulator, even at this early stage,  is awesome! I played with it yesterday night and it was real fun to use it. Some years ago there was another simulator that I was planning to use as a base for our own https://github.com/afnid/espsim but you did much better.

# Hints

* `Bridging` communication between real UART/USB device and our serial console.
You can try using `socat

[2019-05-28 12:18] mikee47 commented on #1333
@slaff Happy you like it! Thanks for starting the Wiki page.

If you build with `ENABLE_LWIPDEBUG=1` that should produce debuggable code. It also enables the various debug flags (if selected) in `lwipopts.h`. I guess it makes sense to make that the default for a Sming `DEBUG` build, in which case there's probably no point in having `ENABLE_LWIPDEBUG` at all.

[2019-05-28 12:42] slaff commented on #1333
Right. I have added the following to the [wiki page](https://github.com/SmingHub/Sming/wiki/Host-Emulator):

-- cut --

If you plan to use a debugger make sure to set the following environmental variables before compiling the code:

[code]

-- cut --

I can provide one. I was able to access my DNS and Internet with packet forwarding. Those additional lines made it work:

[code]

[2019-05-28 12:45] slaff commented on #1333
Further idea comes to my mind: Show the developers how to use terminal multiplexer as tmux or screen and provide in one terminal window a split view with the output from UART 0, UART1 and the simulator itself.

[2019-05-29 07:30] slaff commented on #1333
I have found this on Internet: http://codelectron.com/how-to-setup-virtual-spi-in-linux/. Maybe this can be a good starting point.

[2019-05-31 07:23] mikee47 opened #1706 "Array bounds warning building Host with GCC 8"
See #1692 for initial problem report.

The issue is with the `LOAD_PSTR` macro in `FakePgmSpace.h`, which copies data from flash to RAM in 4-byte words. Byte-copying from flash is very inefficient so this is an optimisation for the Esp8266.

This issue has arised now we can compile the code using more up-to-date tools. From https://gcc.gnu.org/gcc-8/changes.html:

`The -Warray-bounds option has be

[2019-05-31 08:11] slaff opened #1707 "What is the proper way to run valgrind with the host emulator?"
What is the proper way to run valgrind with the host emulator on 64 bit operating system? Running compiled and working samples under valgrind report false-positive issues.

# Initial Setup:
- 64 bit Ubuntu 16.04 OS.
- GCC C/C++ compiler with support for 32 bit architecture. Installed gcc-multilib, g++-multilib.
- The compilation process for the Host architecture produces 32 bit code.
- The compile

[2019-05-31 08:12] slaff commented on #1707
@mikee47 Any idea what might cause `valgrind` to act strangely?

[2019-05-31 09:56] mikee47 commented on #1706
@frankdownunder Could you give this PR a check to ensure it solves your problem?

[2019-05-31 10:02] mikee47 commented on #1707
I don't have ValGrind installed ATM, having issues with Linux VM so can't check. Could you try with a simpler example? e.g. HostTests.

[2019-05-31 11:45] slaff commented on #1707
This one seems to work nicely. And small issues reported. But at least no segfault(s). So valgrind is doing fine. Most probably the issue comes when valgrind replaces our str* functions and mem* functions with its own.

[code]

[2019-05-31 12:33] frankdownunder commented on #1706
@mikee47 I will do it tomorrow - should I look at
https://github.com/mikee47/Sming/tree/fix/LOAD_PSTR_overrun ??

[2019-05-31 12:35] mikee47 commented on #1706
Thanks, yes that's the one. Did you manage to get anything compiled for Host yet?

[2019-05-31 13:51] mikee47 opened #1710 "Sming Device Emulation"
Picking up from #1333 I've opened this issue so we can have a discussion about how to develop and test on the Host emulator with real devices. For example:

* UART (RS232, RS485, MODBUS, etc.)
* SPI
* I2C
* Digital I/O
* Analogue I/O

Virtual serial terminals are supported by redirection over network sockets. The code to do this (in `Sming/Arch/hostlib/uart_server.cpp`) and eventually should be up

[2019-05-31 14:55] mikee47 commented on #1710
One further thought about how this might look. Let's say our application contains `MySpiDeviceClass` to talk to some device or other via SPI. We can't emulate this, so instead we want all calls to that class be executed on the target device.

1. Build the application as a stub:

`make SMING_ARCH=Esp8266 STUB_CLASSES="MySpiDeviceClass"`

2. Build the application in host mode, tell it which classes

[2019-05-31 14:57] slaff commented on #1710
I haven't heard about CORBA since my university days and that was long ago :).

Go for it ! Overall I like the idea a lot and can volunteer with testing it on Esp8266 devices.

[2019-05-31 14:57] mikee47 commented on #1333
@slaff Thanks for this slaff, an interesting idea but not sure how it would fit. This is quite a complex area so I've opened a separate issue #1710 to discuss further.

[2019-05-31 15:04] mikee47 commented on #1710
My experience is actually with Microsoft's COM, but as it's Windows-only won't help us. It has it's own compiler and language for definition interfaces, but for this I'd prefer to find a way to annotate existing classes to achieve what we need. Our tool then uses existing source code as the definition. Know anything like that?

[2019-05-31 15:10] mikee47 commented on #1710
This looks interesting https://github.com/EmbeddedRPC/erpc

[2019-05-31 16:43] #1707 closed

[2019-06-01 07:23] mikee47 opened #1712 "Configuration management"
## Options, options, everywhere!

Sming is highly configurable with a lot of settings. You can see some of them by running `make list-config`, though that list is actually incomplete (e.g. SPI_* settings aren't in there).

I've opened this issue to discuss the problem in general terms so we can come up with a solid solution and make life easier for both end-users and developers. My proposal is tha

[2019-06-01 09:58] mikee47 opened #1713 "Future network support - LWIP and SSL"
## LWIP versions

LWIP support is indicated by the `ENABLE_CUSTOM_LWIP` option:

0: Version provided with Esp8266 SDK
1: esp-open-lwip, sdk-1.5.0, 2015-12-30, last update 2016-05-26)
2: LWIP open version 2 (STABLE-2_0_2_RELEASE_VER, 2017-03-13, last update 2019-05-03)

At present the Host Emulator supports only LWIP2 (version 2.1, 2019-06-03).

ESP32-IDF uses version based on LWIP 2.0.3 (2017-09-1

[2019-06-01 12:59] slaff commented on #1713
Great, that exactly what we should have for the SSL part.

Again true.

[2019-06-01 21:54] aemseemann commented on #1684
Hi there,

glad to see that I am not the only one with an interest in a cmake-based build system for Sming.

I've done something very similar last year in the aftermath of another project and only recently came back to it with the intent of cleaning it up and eventually preparing it for upstream. You can check out my approach at https://github.com/aemseemann/Sming, branch 'cmake'. In its current s

[2019-06-01 22:05] aemseemann commented on #1712
Considering the recent discussion over at https://github.com/SmingHub/Sming/issues/1684, wouldn't  cmake-gui be a start?

![sming-cmake-gui](https://user-images.githubusercontent.com/51268362/58754093-de09fc00-84c9-11e9-9707-c8bb2019d857.png)

[2019-06-02 01:37] frankdownunder commented on #1706
my branch is  'origin/fix/LOAD_PSTR_overrun'.
Those compiler errors are gone, but unfortunately there are some new ones:
Libraries/RCSwitch/RCSwitch.cpp: In member function ‘char* RCSwitch::getCodeWordB(int, int, boolean)’:
Libraries/RCSwitch/RCSwitch.cpp:288:12: error: invalid conversion from ‘char’ to ‘char*’ [-fpermissive]
     return '\0';
            ^~~~
Libraries/RCSwitch/RCSwitch.cpp: In m

[2019-06-02 04:55] frankdownunder commented on #1706
If I workaround past those compiler errors, the buid goes on to give me this:

C+ Libraries/OneWire/OneWire.cpp
C+ Libraries/APA102/apa102.cpp
AR out/build/Host/Linux/libsming.a
mkdir -p out/build/Host/Linux/Arch/Host/Components/lwip
CMake Error: The source directory "/Arch/Host/Components/lwip/Linux" does not exist.

[2019-06-02 05:53] frankdownunder commented on #1684
I am overjoyed to see your contribution.  While I have used cmake for a long time at work, I was just a user - someone else looked after the itty gritty, so I am just still learning how it fits together.  It was the ESP32 cmake IDF environment that really got me hooked.  It is very nice.  I soon had an ESp32 project with Arduino as one component and my libraries and code all cooperating with cmake

[2019-06-02 08:02] mikee47 commented on #1706
**Tools** A little background on the systems I'm using to develop and test:

Linux - `gcc (Ubuntu 7.4.0-1ubuntu1~18.04) 7.4.0`. I'm running Ubuntu 18.04.2 LTS.

The Travis build I had to update it was using `g++ (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4`, which failed miserably, so updated to `g++ (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609`.

Windows - `gcc (MinGW.org GCC-6.3.0-1) 6.3.0`.

Simila

[2019-06-02 08:59] mikee47 commented on #1684
This is all looking very promising indeed! @aemseemann you mention the problem of _replicating (and keeping in sync!) some of sming's build logic (e. g. config options, compiler flags, dependencies) in both files_ and I agree absolutely this needs fixing. I'll just point out now that I am not a CMake veteran, but integrating LWIP into the Host arch has been an interesting exercise in getting to gr

[2019-06-02 09:06] mikee47 commented on #1712
Thanks, that is helpful to see, and certainly a lot simpler than adopting a whole separate system for it.

Perhaps here we can discuss how Sming presents these options to the user, rather than how we actually implement them? It's great that CMake has an integrated way to deal with these, but for the time being at least we should be mindful of keeping both build systems broadly in sync.

[2019-06-02 10:10] mikee47 commented on #1706
@frankdownunder If you're still getting this error, could you do:

[code]

Should highlight what's going on

[2019-06-02 17:17] mikee47 commented on #1684
I've started looking at moving stuff out of the main makefiles into related components. This is what I have in mind:

1. Each Component has a `component.mk` file which defines settings, submodules, etc. It will also specify any custom targets (additional makefiles) required.
2. Each Component is built as a separate library, using a separate `make` instance (sub-make)
3. Rename `Makefile` to `sming

[2019-06-02 20:16] slaff commented on #1713
That is probably the best way to go in terms of maintenance effort. We have to check how stable and fast it is and what is the memory footprint.
For the moment we haven't done this for the Esp8266 architecture due to mDNS being only part of the `espconn_*` stuff. If there is mDNS support in latest LWIP 2 then I guess we should rewrite the UdpServer_mDNS sample and use only the most recent stable L

[2019-06-02 21:49] aemseemann commented on #1684
Hello @mikee47, your plan sounds like a big improvement to Sming's current build process and is in many aspects close to what I did on my cmake branch, so I greatly appreciate this direction. Can't wait until I can finally forget to change to the Sming directory and issue a separate 'make' command every time I touched one of Sming's source files.
Also, with CMake, libsming.a & Co. would not even e

[2019-06-03 06:26] frankdownunder commented on #1706
I did this, still working wit your branch on your fork, and got
make: *** No rule to make target 'lwip'.  Stop.

[2019-06-03 06:28] frankdownunder commented on #1706
You asked _for the time being, is it hassle to drop back to 7.4?_
That's no problem.  I reckon we can workaround the issues I have anyway, so don't hold things up on my account.

[2019-06-03 07:04] mikee47 commented on #1706
I've got a suspicion you have `ENABLE_CUSTOM_LWIP` defined in your environment... If so, please remove it and try again.

[2019-06-03 07:09] slaff commented on #1706
He for sure does not have `STRICT=1` set. Without it the default behaviour is to treat re-definition as an error.
[code]

[2019-06-03 09:45] riban-bw commented on #1684
Does this approach mean that each *new* app would rebuild libsming.a or would you still be able to reference a common libsming.a?

[2019-06-03 10:30] mikee47 commented on #1684
Excellent question!

So far there has been no proposal to change this behaviour, so all the libraries built as part of Sming would still be referenced.

Breaking Sming up into individual libraries helps, but I don't think it's ever going to solve the fundamental issue of those libraries being out of step with a project's requirements. Tagging each library with the options used to create it is a po

[2019-06-03 10:32] mikee47 commented on #1684
@aemseemann Thanks for your support, much appreciated. To address your points:

It's actually the reverse, the submodule belongs to the Component (note distinction from the IDF component, un-capitalised) which is part of the Sming repo. As a rule, external dependencies are only pulled into the source tree when required by a component. Consider that if we're building for the Esp8266 we don't want t

[2019-06-03 11:07] slaff commented on #1684
Better not for the moment. Sming should be clearly visible and not one of the many components hidden somewhere.

[2019-06-03 13:54] mikee47 commented on #1684
Re. __shared libraries or rebuild for each application?__

The nub of the problem appears to be:

a. The need to avoid re-building libraries for every application, and
b. Ensuring the libraries being used were built with the same options the application is requesting

We can do this using a slightly revised dependency caching mechanism:

1. Sming libraries will continue to be built in `Sming/out/b

[2019-06-03 17:07] slaff commented on #1710
Let me throw here some more: http://jpa.kapsi.fi/nanopb and some more information how to incorporate it from the [PDF slides](http://summit.riot-os.org/2018/wp-content/uploads/sites/10/2018/09/1_2-Kita-Morgan-Protobuf.pdf). You can jump directly to page 17.

[2019-06-03 19:32] aemseemann commented on #1684
**Re Re shared libraries or rebuild for each application?**

I don't think a shared libsming is really an option with CMake. While it is technically possible to do in-source builds, it should be generally avoided. And even then, the in-source build directory could only belong to one CMake project at a time, which completely defeats the purpose.
Just to have mentioned it: One could in principle bui

[2019-06-04 06:43] #1706 closed

[2019-06-04 11:41] slaff commented on #1654
@kwis2 If you haven't heard yet we have a Host Emulator that allows application code to be compiled and run natively before flashing it on a microcontroller. Here is a short interactive tutorial: https://www.katacoda.com/slaff/scenarios/sming-host-emulator. The tutorial should be easy to follow and understand even from non-core Sming developers.

[2019-06-05 11:24] icodk commented on #1654
Wao ! katacoda is great and host emulater even more.
Regarding  host emulator, I have the follwoing questions:
1. there are no output function calls (debugf etc.) still there is output for digitalWrite and pinMode. Where is it comes from and how can it be controled?
2. I inserted a call to debugf but nothing came out.
3.  Where can we see documentation of using host emulator in our own environment

[2019-06-05 11:46] mikee47 commented on #1654
@slaff That is awesome!

[2019-06-05 11:50] slaff commented on #1654
I inserted a call to debugf but nothing came out.

The tutorial has four steps and you have to read them carefully :). In step 3 you will find "In separate command windows, start two telnet sessions (a terminal for each serial port):

To view the output from UART0 open a new terminal and type: telnet localhost 10000 To view the output from UART1 open a new terminal and type:telnet localhost 10001"

[2019-06-05 11:52] slaff commented on #1654
The katacoda tutorial itself is a "fancy" documentation and live demonstration in one.

[2019-06-05 11:57] slaff commented on #1654
By the way the current version of the tutorial is in github: https://github.com/slaff/katacoda-scenarios/tree/master/sming-host-emulator and everyone can improve by sending a PR.

[2019-06-05 12:35] icodk commented on #1654
Thanks again for help and patient

[2019-06-06 15:01] slaff opened #1718 "Suggestion for Code Quality and CI tools"
Do you have suggestions for open-source tools that can help us improve the code quality? Add them as comment to this issue with a short description what they do and how to use them. We will analyze the suggestions and see if it would be possible to integrate them in the CI builds.

# Security and memory issue detection
- [ ] Fuzzer.  Tutorial https://github.com/google/fuzzer-test-suite/blob/master

[2019-06-07 07:55] frankdownunder commented on #1706
I fixed the two issues I mentioned - see PR #1719

[2019-06-11 02:19] frankdownunder commented on #1654
@slaff  I love this host emulator, your efforts are much appreciated.

[2019-06-11 23:44] frankdownunder opened #1720 "Host architecture - BAD PIN"
In /opt/Sming/Sming/Arch/Host/Core/Digital.cpp, we have

[code]
But a [Wemos D1 Mini](https://www.google.com/search?q=wemos+d1+mini+pinout&client=ubuntu&hs=q8D&channel=fs&tbm=isch&source=iu&ictx=1&fir=HI8V5x7XNyIhnM%253A%252CSnlcq4QotyYk3M%252C_&vet=1&usg=AI4_-kQGWGLdSbahE5I7UK8Rp8jy684mOQ&sa=X&ved=2ahUKEwjIh8zlzOLiAhXSvp4KHbCTBwwQ9QEwAHoECAUQBA#imgrc=HI8V5x7XNyIhnM:
) has pin D0 defined as GPIO 1

[2019-06-12 06:34] mikee47 commented on #1720
Comparing with `Arch/Esp8266/Core/Digital.cpp`, yes you are correct.

[2019-06-12 09:37] slaff commented on #1720
@frankdownunder Do you want to create a PR which fixes the issue? I will take care to review it and merge it.

[2019-06-17 21:54] aemseemann commented on #1684
I had a look at IDFs CMake-based build system and, well, have some mixed feelings...

On one side, it is quite an ingenious build system - clean design and well structured coding. The people over at Espressif definitely have done a great job. I also like their attention to detail, e. g. offering a way to include binary ressources.

On the other hand, I would not really consider their system a CMak

[2019-06-18 06:36] frankdownunder commented on #1720
OK I will

[2019-06-18 08:10] frankdownunder commented on #1684
I too have mixed feelings about IDF

On the plus side, it is quite easy to set up – essentially you just have to set a list of source files [set(COMPONENT_SRCS "main.cpp"  "etc.cpp")] and  not much more and you are good to go.  Bringing the Arduino code was also easy.  My web pages, css and js all got stored in flash via set(COMPONENT_EMBED_FILES ../index.html.gz;../core.css.gz;../script.js.gz), v

[2019-06-18 11:22] mikee47 commented on #1684
I've got a working build of 'modularised makefiles' to try out. It's in my repo as 'update/modularise_makefiles' branch. I've updated the `building.md` file with some details.

https://github.com/mikee47/Sming/tree/update/modularise_makefiles

[2019-06-18 15:51] mikee47 commented on #1684
https://github.com/earlephilhower/esp-quick-toolchain

[2019-06-18 20:15] aemseemann commented on #1684
@frankdownunder: sounds great. Let me know if I can support you in any way.
I agree that we need some kind of a working draft. Otherwise, it is quite difficult to collaborate. How about a portable (i. e. no hard-coded paths etc.) build of libsming with a minimal set of Components (e. g. no axtls, lwip-open) as initial milestone?
From there, we could try work in parallel (via PRs to your branch, if

[2019-06-18 20:58] aemseemann commented on #1684
Regarding the development setup on Windows, the set of tools I would aim for is
- a standard cmake installation
- a pre-built xtensa-lx106 toolchain (It seems there are several pre-built packages. Maybe the one installed by the Arduino IDE could be reused.)
- a standard python installation for esptool.py and terminal (Missing packages should be detected by cmake with a message that includes a hint

[2019-06-18 21:02] mikee47 commented on #1684
The IDF uses a tool called `spiffsgen.py`, in the `spiffs` component :-)

[2019-06-18 21:11] aemseemann commented on #1684
Cool, one problem solved already!

[2019-06-20 10:30] verybadsoldier opened #1725 "base64 decoding problem padding bytes"
I have a problem regarding the base64 API. This base64 encoded string:
`YWRtaW46dGVzdA==`

gets decoded by this code:
`userPass = base64_decode(userPass)`

to this
`admin:test␏�`

So there are one or two extra bytes appended (depending on encoding).

When I remove the padding bytes manually before decoding:
`YWRtaW46dGVzdA`
then I get
`admin:test`
(which is what I want)

Is it me failing to unders

[2019-06-20 11:12] mikee47 commented on #1725
This code:

[code]

Produces this:

[code]

As expected. If you could post the problem code snippet that would help.

[2019-06-20 14:45] verybadsoldier commented on #1725
Sorry, but that one line basically was the code snippet actually. But I tested again using your code:
[code]
and I get this:
[code]

But sorry, I should have mentioned that I am on 3.7.0.1 (still fighting with API changes of 3.8.0). But I could not find anything about base64 mentioned in the bugtracker.

[2019-06-20 20:46] verybadsoldier commented on #1725
Well, I managed to port my stuff to Sming 3.8.0 but the problem still persists. I don't understand why it is happening for me but not for you. Code seems not very complex.

[2019-06-20 22:09] mikee47 commented on #1725
@verybadsoldier OK, so I'm getting the same result as you running code on the Esp8266; the result I posted above was running on the emulator. Clearly something strange is going on so needs further investigation...

[2019-06-21 08:20] mikee47 commented on #1725
I've traced the problem to signed/unsigned chars. The base64 code assumes that `char` is signed, but it isn't (https://stackoverflow.com/questions/2054939/is-char-signed-or-unsigned-by-default). Perhaps the safest fix is to add `-fsigned-char` to compiler flags as there may be other code which makes this presumption:

[code]

[2019-06-21 12:16] verybadsoldier commented on #1725
Nice catch!

[2019-06-21 22:48] verybadsoldier commented on #547
@slaff
Sorry for bringing this up again but this has become a critical issue for me again. I think this was not fixed in Sming (so far it was ok for me as I used the workaround @Informatic posted in the first post).

In short again: The problem is that MQTT messages (maybe other messages too but MQTT is time critical for me) only get sent with random delays at around ~500 ms. Sometimes more someti

[2019-06-22 09:08] #1725 closed

[2019-06-22 16:24] verybadsoldier commented on #547
@slaff
Well, some time went by and I managed to at least understand a bit of what's going on. Probably nothing new to you but sending happens in `MqttClient::onReadyToSendData`. But that function is only called periodically so buffered data which is supposed to be sent might get delayed.
Is there anything I can do about it to make MQTT messages getting sent instantly?

I came up with a dirty hack

[2019-06-23 07:47] #1720 closed

[2019-06-25 09:46] slaff commented on #547
First LWIP will call onReadyToSendData once the output buffer is not full and is ready to send more bytes. Calling it manually will not free the output buffer. But what you can do is program your mqtt client in a more "optimistic" way. So that the connection plus authentication and message MQTT packages are sent in one TCP packet and this will look like "instant" delivery. Below is a sample code.

[2019-06-25 10:11] slaff commented on #1628
Should be fixed with the merging of #1724.

[2019-06-25 11:20] verybadsoldier commented on #547
Hm but my workaround from above actually "fixes" the problem. There is no delay anymore. I understand your statement as that should not be the case?

Would I use this code everytime I want to publish a message? Would it mean to establish a new connection everytime (including the 3-way-TCP handshake)?

[2019-06-25 12:11] slaff commented on #547
If the devices is not powered off and the tcp connection is still alive better just to connect once and then reuse the established tcp connection. Just call the last command over and over.

If there is a very simple example code where the issue is clearly shown and repeatable then I can take a look. Can you provide us with such a sample?

[2019-06-25 17:00] verybadsoldier commented on #547
Sure, there is no special code required. The code from the first post will surely do but also the provided `MqttClient_Hello` does the trick. I enabled some outputs and get these results:
[code]
So we see the delay between calling `publish` and the actual tcp write. Not as bad as expected actually but still jittering up to ~140 ms.

With my patch applied I get nearly instant sends:
[code]

[2019-06-30 16:03] mikee47 commented on #1134
Current situation seems to be that C++14 and C++1z (17) work on all arches except Linux Esp8266 compiler, so we're stuck with C++11 for now. Haven't tried the Arduino compilers, they're probably more up to date.

[2019-06-30 16:13] verybadsoldier commented on #547
@slaff
Did you possibly had a chance to look into this already?

[2019-06-30 19:57] slaff commented on #1628
PR #1724 is merged! @andr2000 Please check if the parallel build works for you. If not, feel free to re-open this issue.

[2019-06-30 19:57] #1628 closed

[2019-07-01 09:58] slaff commented on #1713
With the merge of PR #1724 Sming is now dependant on md5sum. It would be better to provide our own minimal md5sum tool based on axtls.

[2019-07-01 10:49] mikee47 commented on #1713
I only used md5sum as it was handy and available on both Linux and MinGW. Something simpler like a CRC16 would do just as well. Python is another option?

[2019-07-01 14:11] mikee47 commented on #1713
`md5sum` seems pretty safe, it's part of GNU coreutils. And CMake has this sort of stuff baked in anyway.

[2019-07-03 19:38] verybadsoldier opened #1740 "Memory leak in MqttClient connect"
It seems that that trying to connect with `MqttClient` causes a memory leak. When the MQTT broker is not reachable and then retrying regularly then at some point you run out of heap.

Should be easily reproducible with the sample `MqttClient_Hello`. While I used this exact code (basically only publish removed):
[code]

Output is this:
[code]

Done on Sming 3.8.0 on an ESP12-F.

[2019-07-04 10:08] slaff commented on #1740
I guess the following is happening:
[code]

[2019-07-04 11:23] verybadsoldier commented on #1740
Thanks for looking into it but as statetd in the post I removed the call to `publishMessage`. So in my opinion there is no publishing taking place anymore.

And sorry for the screwed up indetation in the code which really didn't improved readbility :(

[2019-07-04 11:33] slaff commented on #1740
That code should be compilable and runnable also in the Host Emulator. That means that you can yourself analyze the memory usage using valgrind. The latter will catch easily any memory issues. Or wait for me but that can take quite some time...

[2019-07-04 13:49] slaff commented on #1740
Every connection sends a MQTT connect message. Those messages start piling up in the queue. @mikee47 Provided a simplified fix in PR #1742. Give it a try and tell us if it works for you.

[2019-07-04 16:14] slaff commented on #1337
Should be fixed with PR #1734 . Try it in the latest `develop` code.
Feel free to reopen it if there are still pending issues.

[2019-07-04 16:14] #1337 closed

[2019-07-04 16:16] #938 closed

[2019-07-04 16:17] slaff commented on #1028
@riban-bw In latest develop we use ArduinoJson v6. If your issue is still present there feel free to reopen this ticket.

[2019-07-04 16:17] #1028 closed

[2019-07-04 16:18] #1035 closed

[2019-07-04 16:19] slaff commented on #1048
Feel free to re-open this ticket if your issue is still present in the latest `develop` code.

[2019-07-04 16:19] #1048 closed

[2019-07-04 16:20] slaff commented on #993
Feel free to re-open this ticket if your issue is still present in the latest `develop` code.

[2019-07-04 16:20] #993 closed

[2019-07-04 16:38] slaff commented on #1067
That should be solved in the latest `develop` code.

[2019-07-04 16:38] #1067 closed

[2019-07-04 16:39] slaff commented on #1574
@verybadsoldier did you notice any improvement with the latest `develop` code?

[2019-07-05 15:42] verybadsoldier commented on #1574
I am not using `new_pwm` anymore due to this flickering problem so I cannot say. Also I am still on 3.8.0. But as far as I know there were no commits to `new_pwm` in ages so I don't think the chances of a changed behavior is very high.

[2019-07-06 13:44] verybadsoldier opened #1746 "Migrating to 3.9"
Thanks to @mikee47  for porting the esp_rgbww_firmeware (https://github.com/verybadsoldier/esp_rgbww_firmware) to the current Sming version. I am in the process of getting into it myself and would like to document here the issues I have encountered. Maybe things can be improved for a smoother transition but maybe it's also just based on my stupidity.

After I set `SDK_BASE` correctly it did compil

[2019-07-06 14:01] mikee47 commented on #1746
Thanks for the update. That's an old version of esptool, maybe we should just include the current one in the repo.

[2019-07-06 14:01] mikee47 commented on #1746
Try building with `SPI_SIZE=4M`

[2019-07-06 14:12] mikee47 opened #1747 "esptool fails in linux"
Linux `esptool.py` no longer works since #1724. The sizes were updated as the current version of the tool has deprecated them.

Should we include a current version of `esptool.py` in the repo?

<pre>
mike@UbuntuME:~/sming/samples/Basic_Blink$ make flash

Basic_Blink: Invoking 'flash' for Esp8266 (debug) architecture

Building /home/mike/sming/samples/Basic_Blink/out/Esp8266/debug/lib/clib-App-3a6c

[2019-07-06 14:13] #1747 closed

[2019-07-06 14:14] mikee47 commented on #1747
Closed duplicate.

[2019-07-06 14:27] verybadsoldier commented on #1746
Hm, but Sming explictly uses the esptool from the ESP SDK here `$(ESP_HOME)/esptool/esptool.py`, no? And I think I am using the latest ESP SDK. So why is my esptool others than yours?
[code]

That is already set in the `component.mk`:
[code]

Currently I have problems with the webserver not replying JSON data. Maybe something regarding the migration to the JSON v6 library. The JSON string seems ju

[2019-07-06 14:29] mikee47 commented on #1746
I run Linux in a VM so find it more convenience to use Windows for flashing. Tried it in Linux and same result as you. Fix on its way.

[2019-07-06 18:32] slaff commented on #1746
Fixed with the merge of PR #1748

[2019-07-06 18:32] #1746 closed

[2019-07-06 19:02] verybadsoldier commented on #547
@slaff
Could you reopen this issue please or would you prefer me to open a new one?

[2019-07-06 19:04] slaff commented on #547
Please, open a new one to restart the conversation on the latest develop code. In the new issue mention that it is related to this issue.

[2019-07-06 19:38] verybadsoldier opened #1749 "Host compile fails on Ubuntu 18 with preprocessor error"
I tried to get the host compile running on my Ubuntu 18 VM. I could not find documentation regarding host compile but as far as I could find out I just have to specify `SMING_ARCH=HOST`?

Trying to compile a simple sample I get this:
[code]

Seems like quite simple preprocessor errors but I frankly have no clue currently what is causing it. Maybe I am doing something wrong in general regarding hos

[2019-07-06 22:01] mikee47 commented on #1749
This particular sample uses SSL, which isn't yet supported on Host (work in progress). Doesn't look like that's causing this particular problem though, could you try something simpler like `Basic_Blink`?

[2019-07-06 22:11] mikee47 commented on #1749
https://github.com/SmingHub/Sming/wiki/Host-Emulator

[2019-07-07 08:14] #1740 closed

[2019-07-07 08:38] verybadsoldier commented on #1749
Happens also for `Basic_Blink`:

[code]

Looks like something is screwing with the preprocessor but no good idea yet... So you guys are on Windows with MinGW and that works?

[2019-07-07 08:42] mikee47 commented on #1749
Host compiles as 32-bit application so on 64-bit systems you'll need additional libraries which should fix your issues. Further details are here https://github.com/SmingHub/Sming/wiki/Host-Emulator.

[2019-07-07 08:43] slaff commented on #1749
See also: https://www.katacoda.com/slaff/scenarios/sming-host-emulator

[2019-07-07 08:55] verybadsoldier commented on #1749
Thanks, it works after `sudo apt-get install gcc-multilib g++-multilib`.

Sorry, I didn't read it well enough I guess.

[2019-07-07 08:55] #1749 closed

[2019-07-07 11:58] verybadsoldier opened #1753 "HttpServer_AJAX empty JSON responses"
Since the webserver in my own application only responds with empty pages since I updated to latest Sming I took a look into `HttpServer_AJAX` to see if it is working there.

As far as I understand it the app registers e.g. the URL `http://<IP>/ajax/input`. From the code I think it should deliver some sort of result body when issuing a `GET` request (for example in a browser).

But I get only 0 byt

[2019-07-07 12:11] mikee47 commented on #1753
Definitely a bug! Try this patch:

[code]

[2019-07-07 12:44] verybadsoldier commented on #1753
Thanks, that fixed it! `GET` requests seem ok now. But in `POST` requests the payload doesn't make it into the callback, always empty String... Investigating...

[2019-07-07 13:03] verybadsoldier opened #1755 "Basic_WebSkeletonApp JSON POST body always empty"
When testing `Basic_WebSkeletonApp` and sending a `POST` request with a JSON body to URL of the app:

`http://<IP>/config`

like this:
[code]

Then the body data does not make it into the URI handler callback. The output of the app is:
[code]

Not the line `147029159 NULL bodyBuf` which is indicating that the callback didn't receive the data:
[code]

[2019-07-07 15:24] mikee47 commented on #1755
Got this running in emulator.

* `HttpServerConnection.cpp` line 107. `HttpServerConnection::onHeadersComplete()`.
Request doesn't have `HTTP_HEADER_CONTENT_TYPE` set, so `bodyParser` doesn't get set.

* `HttpServerConnection::onBody()`. `HttpServerConnection.cpp` line 142.
No `bodyParser`, and no `onBody` handler. Body gets discarded.

So either the requestor is wrong because they've missed out t

[2019-07-07 15:32] verybadsoldier commented on #1755
I think the bodyParser got set in the code to accept `application/json`:

[code]

[2019-07-07 15:46] mikee47 commented on #1755
Found the problem, `Content-Type` is getting interpreted as a custom HTTP header type. Now looking for a fix.

[2019-07-07 21:14] mikee47 commented on #1755
@verybadsoldier Thanks for these bug reports. Keep 'em coming!

[2019-07-08 06:20] #1753 closed

[2019-07-08 06:21] #1755 closed

[2019-07-08 11:32] frankdownunder opened #1758 "Hashed library builds - environment variables"
With regard to to hashed library builds - #1724, I noticed the following sllghtly quirky thing:
cd Basic_Blink
export SMING_ARCH=Host
make
export SMING_ARCH=Esp8266
make

I would have expected the second invocation of make to use the different Arch setting.  Passing it on the command line works as expected.

[2019-07-08 14:06] mikee47 commented on #1683
I think we're now starting to have difficulty with documentation, trying to keep the Sming 3.9+ and 3.8 LTS separate and yet in sync with the code.

With major stuff I've documented it separately:

* Building is now handled differently - documented in `Sming/building.md`
* Host arch. (emulator) documented in `Arch/Host/readme.md`

Some of this has made it into the Wiki, but that's only a brief int

[2019-07-08 14:13] mikee47 commented on #1758
If you haven't found `Sming/building.md` have a read, hopefully make things clearer.

This behaviour is by design. Cached variables always take priority over the environment (including project makefile / component.mk settings and Eclipse). Some advantages:

* Switching between eclipse and CLI is simpler because they'll use the same settings, regardless of what's been set elsewhere.
* Variables are

[2019-07-08 14:19] slaff commented on #1683
I am waiting anxiously for this :)

Ok, go for it.

[2019-07-09 13:35] mikee47 commented on #1683
This is going a lot faster than I'd envisaged so should have something shortly. Just getting the structure right, then I'll go through everything to ensure it's consistent for 3.9.

@slaff To host online documentation I guess we'll need an account on readthedocs, setting up webhooks for building etc. https://docs.readthedocs.io/en/stable/config-file/index.html.

[2019-07-09 15:08] slaff commented on #1683
Working on it... we are waiting for the owner of SmingHub to grant access to read-the-docs.

[2019-07-09 15:52] slaff commented on #1683
Meanwhile I can manually generate the documentation. For the moment we have the following page:
https://sming-framework.readthedocs.io/en/latest/

[2019-07-09 16:36] mikee47 commented on #1683
Any ideas for what to put in the 'copyright' text in the page footers?

[2019-07-09 17:00] mikee47 commented on #1683
OK, first rough draft in my repo https://github.com/mikee47/Sming.git branch is feature/sphinx-docs. Should have everything from the Wiki, converted into reStructuredText.

I have not made any changes to the content yet, this is just looking at the mechanics and pulling in the reference sources. The makefile is separate at the moment, so go into `docs/sphinx` and do `make html`.

All the docs. hav

[2019-07-09 18:24] slaff commented on #1683
Alexey Skurydin (a.k.a anakod) and [contributors](https://github.com/SmingHub/Sming/graphs/contributors) or
[Sming Developer Team](https://github.com/SmingHub/Sming/graphs/contributors) .

[2019-07-09 18:41] slaff commented on #1683
So, on my system also the following python package was required: `recommonmark`. Maybe that should be added to the requirements file.

Running `make html` ends up with the following error:
[code]

What am I doing wrong?

[2019-07-09 20:39] mikee47 commented on #1683
I've got sphinx version 2.1.2, maybe try a later version?

[2019-07-09 20:41] mikee47 commented on #1683
The missing file is a capitalisation issue, will fix. I've stuck to a lower-case-only convention for filenames.

[2019-07-10 12:42] slaff commented on #1683
The file `source/contents.rst` is not added to the repository. Check if you have it locally only.

[2019-07-10 13:03] mikee47 commented on #1683
I don't have `source/contents.rst`, where's it referenced from?

[2019-07-10 13:06] slaff commented on #1683
Good question. Either the version that I use requires it by default (Sphinx v1.7.9) or some of the markup tags as require it. The error that I get is

[code]

[2019-07-10 13:10] slaff commented on #1683
Ok,after looking at that page: https://github.com/readthedocs/readthedocs.org/issues/2569 I guess the adding `master_doc = 'index'` in conf.py is what is needed. At least it works for me now.

[2019-07-10 14:53] mikee47 commented on #1683
http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-master_doc

`Changed in version 2.0: The default is changed to 'index' from 'contents'.`

I'll add it explicitly. Should probably decide which version to standardise on, http://www.sphinx-doc.org/en/master/changes.html.

[2019-07-10 15:06] mikee47 commented on #1683
I've downgraded to sphinx 1.8.5 for better compatibility with breathe (for API docs).

[2019-07-11 07:09] slaff commented on #1683
Let's go for 1.8 but with compatibility for 2.x whenever possible.

@mikee47 Event at that early stage the documentation looks quite promising.

![image](https://user-images.githubusercontent.com/247452/61028308-ab9cca00-a3b8-11e9-9d6e-6bf9d805fb37.png)

My thoughts on organizational changes related to the documentation

# Samples
We should try to exforce documentation style for the samples. For e

[2019-07-11 07:57] verybadsoldier opened #1760 "MQTT high delay on publish"
I am experiencing a delay between publishing an MQTT message and the actual write to the TCP stack (similar to this issue: https://github.com/SmingHub/Sming/issues/547). The delays is can up to ~1 s which is pretty much a killer in out RGBWW LED firmware which can synchronize multiple LED controllers using MQTT.

It is reproducible with the sample `MqttClient_Hello`. This is the output of the run:

[2019-07-11 11:16] mikee47 commented on #1683
For samples, I've used reStructuredText so we can integrate it better. Documenting the libraries is tricker because it's a mixture of various file types. I've also started migrating the API documentation, way to go though. The ESP-IDF incorporates custom roles (in `docs/link-roles.py`) so links to specific examples can be added. That is something I'm considering here because we can then break ever

[2019-07-11 11:43] mikee47 commented on #1683
I've plenty to do getting the structure and API sorted, so don't intend to do anything with the sample documentation for now. If anyone would like to lend a hand with that please do! Just check out my working branch and submit a PR with any changes you'd like. Thanks!

[2019-07-11 13:01] slaff commented on #1760
Ok, in LWIP the timers are triggered on a period of time. In the ESP8266 LWIP version they are defined like this:
[code]

You can eventually recompile LWIP with TCP_TMR_INTERVAL value that is lower than 125. Thus resulting in frequent checks. But beware
 - CPU usage will jump: if your device is running on a battery this will result in more CPU cycles and higher power consumption.
- Network retrans

[2019-07-11 13:09] slaff commented on #1760
Or - enable it by default but force-poll only when the message size is lower than 300 bytes. Which I guess is also the case for you @verybadsoldier, right?

[2019-07-11 13:40] verybadsoldier commented on #1760
Hm, I understand it in a way that the delay should be a maximum of 125 ms in the worst case, right? Any idea why I saw delays up to 1000 ms?
Was my test bad? I was surprised myself to see delays up to 1000 ms as in the original ticker I indeed saw delays "just" up to ~ 140 ms which would make more sense (https://github.com/SmingHub/Sming/issues/547#issuecomment-505533037).

In general I think it w

[2019-07-12 06:23] mikee47 commented on #1683
@slaff Are we still considering these elements experimental?

* LWIP2 #1289 22/11/2017
* SDK 3 #1470 12/10/2018

[2019-07-12 06:28] slaff commented on #1683
* SDK 3 is no longer experimental.
* LWIP 2 should also be considered stable. Apart from the fact that espconn_* functions will not work with it. Meaning that also SmartConfig will not work. Unless we use the original source code from the espconn functions and make them compatible with LWIP 2.

[2019-07-12 06:40] mikee47 commented on #1683
Just reviewing docs so they're consistent with current state.

[2019-07-12 06:58] slaff commented on #1683
Once you are ready with the structure me and the some of the other contributors will help you revise the documentation.

[2019-07-12 09:15] verybadsoldier commented on #1760
One further note:
What is particularly bad in my use case (synchronizing LED controllers via MQTT) is the jitter of the delay. A delays is basically ok (shouldn't be too high tho) when it is predictable and stable (always the same delay). It is a problem for me when it varies on every message sent. Thanks.

[2019-07-12 22:26] mikee47 commented on #1683
I've pushed some commits, getting there I think. I need to add some notes on how to edit documentation but it's a bit less top-heavy now with the documentation sitting in each Component, Library or sample. I've added some 'magic roles' so we can just add stuff like

[code]

to insert a reference to a specific sample, using the title in the document by default. I'd like to automate some other stuff

[2019-07-12 22:30] mikee47 commented on #1683
The list of Arduino Libraries is coming up short at the moment as I'm only showing those with readme files available. I'll take another look at that to see how it can be improved.

[2019-07-12 22:34] mikee47 commented on #1683
As for building the docs, you need to do it from a project directory (using `make docs`) because we need to pull in (and patch) all submodules so the documentation is available. Note there are some warnings which I need to address.

[2019-07-13 00:24] frankdownunder commented on #1684
@aemseema

[2019-07-13 00:36] frankdownunder commented on #1684
@aemseemann Did you notice that Mike has refactored the makefiles? It is no longer the case that the sming library gets built separately. Indeed, its name includes a hash of all the configuration options, which avoids the problem of a mismatch and strange behaviour as a result of building the library with different options to the project code.
So the cmake approach should change too, and I will st

[2019-07-13 16:45] slaff commented on #1683
@mikee47 Why don't you submit your current work as PR with  "[WIP] title"? We can start putting our comments there and also be able to suggest changes by sending PR to your repo.

[2019-07-13 20:05] verybadsoldier opened #1764 "Controller crash loop after flashinit due to missing Wifi config (probably)"
With the RGBWW firmware I am experiencing a problem that after using `make flashinit` the controller hangs in an infinite crash loop. The problem seems reproducible for me.

What happened:
* I have the RGBWW firmware running on the controller (Wiif config is present)
* I do `make flashinit`
* I do `make flash` to again flash the same firmware as before
* Crash loop

I think the key is the Wifi con

[2019-07-14 09:15] verybadsoldier commented on #1764
I tested a bit more to pin-point this and it really happens as soon as I delete the Wifi config in a running controller.

So I have a controller running nicely and then I call
[code]
then I get into this crash loop.

[2019-07-14 09:27] mikee47 commented on #1764
I've come across this one before but seems a little inconsistent. Running under the debugger shows corruption of one of the BssInfo values.

[2019-07-14 14:29] verybadsoldier opened #1765 "Crash after OTA update from 3.8.0 to current develop"
Well, OTA updates from a 3.8.0-fw to the current version fails. The update works but when the controller boots with the new firmware then it instantly crashes.

I can reproduce like this:
* Running a 3.8.0-FW
* Starting OTA-update to a new FW

The OTA-update from new-FW to another new-FW works fine.

The problem looks like this (log is quite large so I split it up on pastebin and give comments wha

[2019-07-14 18:15] aemseemann commented on #1684
Thanks @frankdownunder for the hint. I haven't noticed yet, got distracted with another projects the last couple of weeks. I've given it a try now and it works like a charm. It certainly solves the most pressing issue of a unified sming+app build process that is also aware of config settings. I also like the hashing approach. Reminds me of conan's package IDs.

Are you planning to use a similar Co

[2019-07-14 19:26] #1760 closed

[2019-07-15 07:42] slaff commented on #1674
@mikee47 Please, note that the next major version will be 4.0.0 (used to be 3.9.0). The new features and improvements are  so much that it's worth dedicating a new major version to it.

[2019-07-16 08:17] slaff commented on #1765
Did you create both firmwares using the same SDK version?

[2019-07-16 08:59] verybadsoldier commented on #1765
I am always using the SDK bundled with Sming. So yes, afaik it didn't change in a while.

[2019-07-17 13:37] geokon-gh commented on #1684
Wow, I'm glad I stumbled on this Issue. Wish i saw this half a year ago

So I still need to dig into your setups, but I've got quite a lot of CMake experience under my belt and I just want to chime in that both `add_subdirectory` and `ExternalProject_Add` are actually very flawed

I did a write up ages ago that explains the drawbacks of both solutions:
https://geokon-gh.github.io/hunterintro.html

[2019-07-20 15:12] geokon-gh commented on #1684
https://github.com/frankdownunder/Sming/blob/feature/cmake/Sming/CMakeLists.txt

This whole thing is looking really cool! The only thing I'd suggest is modularizing it more. In my humble opinion it's just trying to do way too much all at once. Here are my immediate thoughts.. please take it with a grain of salt

 - toolchain stuff should be moved in to toolchain files. Some people will build their

[2019-07-21 19:21] lucas-bremond opened #1771 "Broken COMPONENT_SRCDIRS in component.mk"
Take the `Basic_Blink` example, and uncomment this line in `component.mk`:

[code]

then build:

[code]

It will fail like this:

[code]

Maybe there is a path conflict/error somewhere in the build system, which makes it incompatible with `COMPONENT_SRCDIRS`?

[2019-07-21 20:02] mikee47 commented on #1771
@lucas-bremond Thanks for reporting this. Found the problem, fix on its way.

[2019-07-21 22:11] lucas-bremond opened #1773 "Fix make flash terminal"
After successfully flashing, using:

[code]

a new terminal opens, according to:

[code]

https://github.com/SmingHub/Sming/blob/efc4d8bb9fbea782e164489067b0c2740451a910/Sming/Arch/Esp8266/app.mk#L94

`TERMINAL` being defined here:

https://github.com/SmingHub/Sming/blob/fdee78c26299bec99df65f873d95882d37668b24/Sming/Components/terminal/component.mk#L18

Problem is: when the chip returns non-ASCII

[2019-07-22 03:35] Oshio09 opened #1774 "UdpServer_Echo sample code: doesn't sent string"
When I execute the "UdpServer_Echo" example, I can successfully receive the packages that are coming from my computer and they are printed at the serial terminal.

Although the function `udp.sendStringTo()` returns `true`, no package is received in my computer.

I used **netcat**, **tcpdump**, **wireshark** and a custom software I made, none of those reported any udp package activity in the port I

[2019-07-22 06:39] slaff commented on #1771
@lucas-bremond the problem should be fixed in the latest develop version. Feel free to reopen the issue if it still persists. And make sure to provide additional details.

[2019-07-22 06:39] #1771 closed

[2019-07-22 13:17] slaff commented on #1774
@Oshio09 please, check PR #1775.

[2019-07-22 16:49] Oshio09 commented on #1774
@slaff yes its working.
But when using the makefile in the "UdpServer_Echo" folder what its been compiled its the blink example. This also happens with the original commit (414bf05).
I copied the application.cpp to a folder with the `Makefile` and `component.mk` files copied from the blink example for it to work.
Can you confirm if this is a problem or a mistake that I'm making?

[2019-07-22 16:49] #1774 closed

[2019-07-22 17:15] slaff commented on #1774
I haven't experienced such an issue. I usually compile examples by typing:

[code]

And all is good. For this issue I actually used the Host emulator to test it on my local system. And I did this to make it run locally (on the Host)

[code]
[code]

[2019-07-22 18:19] Oshio09 commented on #1774
@slaff  I followed your steps and everything works perfectly. Thank you for your assistance.
I didn't knew about the Host functionality, I believe it will be worth some mention to this feature at the `Readme.md` for newbies like me to discover about this in a easier way.

[2019-07-22 19:34] slaff commented on #1774
@Oshio09 Check our documentation: https://sming.readthedocs.io/en/latest/

[2019-07-22 19:37] Oshio09 commented on #1774
Thanks, amazing work!

[2019-07-22 20:12] mikee47 commented on #1773
I agree having `COM_OPTS` at the end is silly! I've got a PR to address that, but need to decide what the appropriate default setting is for it. Could be `--raw -encoding ascii` as you suggest, however I can't get it to crash with any settings, so wonder if it's a bug in pyserial somewhere? I've got `pip show pyserial` showing version 3.4...

[2019-07-22 20:28] mikee47 commented on #1773
OK, it crashes nicely (!) with --encoding UTF-16. I'll go with your recommendation for the default.

[2019-07-22 20:29] mikee47 commented on #1773
Incidentally, you could always override the entire `TERMINAL` variable in your project's `component.mk` file (or via `export`)...

[2019-07-23 19:23] Oshio09 opened #1778 "HW Timer: Minimum Time"
I need to generate a very short pulse, ideally the on cycle should be ~500ns.
After reading the API documentation I have some questions:

1) There is a way to set the hw timer interrupt interval to less than 1us? If not, this limitation is due NONOS SDK?
2) The API documents the macro `MIN_HW_TIMER_INTERVAL_US 0x32`, but its not used in Timer.cpp. Intuitively the name implies that an interval smal